[2014-04-30 18:11] bryce-anderson opened #8 "Make building a HTTP request less of a pain"
Right now requests have to be built in the  form

[code]

which is unacceptable for generating requests for future client support.

[2014-04-30 18:56] rossabaker opened #9 "Handle async timeouts gracefully in servlet"
A async servlet timeout should kill the response task instead of leaving the response task to throw a curious exception after the rug has been pulled out from under it.

[2014-04-30 18:57] bryce-anderson opened #10 "Provide Akka support"
While Akka goes against everything this library represents, mainly composability and type safety, it is still a useful tool because of its simplicity, performance, and development velocity.

I first inclination is that it should be a http4s module, much like the core-dsl, so that it remains current yet optional.

[2014-04-30 18:58] rossabaker opened #11 "Create an HTTP client"
Reuse the existing request response model to implement a client.

[2014-04-30 19:03] bryce-anderson opened #12 "Blaze backend defaults to chunked-encoding for HTTP/1.1 requests regardless of Content-Length header"
Per RFC 2616, the response must not have a Content-Length header and a non-identity transfer encoding (section 4.4).

[2014-04-30 19:13] rossabaker opened #13 "More concise way to bind services to servers"
I am not a fan of the "intent" and "plan" lingo, but I like the way Unfiltered services are deployed: http://unfiltered.databinder.net/Bindings+and+Servers.html.  Look to that for inspiration.

[2014-04-30 19:15] rossabaker opened #14 "API version is scattered throughout the build"
Search and destroy references to "0.2" in .travis.yml and *.sbt, or we're going to miss some when we jump to 0.3.

[2014-04-30 23:45] #12 closed, assigned to nobody

[2014-05-05 18:54] rossabaker opened #15 "Support Servlet 3.1 async reads and writes"
Should be a progressive enhancement, not required.  We still want to run on Servlet 3.0.

[2014-06-06 11:19] da-terry opened #16 "Response uses wrong header key for setting cookies"
Uses "Cookie" instead of "Set-Cookie". Pull request to follow.

[2014-06-06 12:19] #16 closed, assigned to nobody

[2014-06-06 12:23] bryce-anderson opened #18 "Provide uniform interface for backends to implements timeouts"
Vaguely related to issue #9
We need to provide timeout support at the backend level, and it would be nice if configuring the timeout could be done uniformly.
On the topic, I suspect there are times where an exception may be necessary such as when switching to the websocket protocol when you may want to change or disable the timeout.

[2014-06-15 03:33] rossabaker opened #19 "Drop joda-time dependency"
- The Scala community offers no standard date-time solution.
- joda-time will be forgotten in favor of JSR 310.
- JSR 310 is not available until Java 8, which we otherwise don't mandate.
- threetenbp works on all supported JVMs, but not in the same namespace as JSR 310.
- We can't wait for years until the JVM world has united on JSR 310.

[2014-06-15 05:52] #19 closed, assigned to nobody

[2014-06-22 13:26] arouel opened #20 "WSFrame trait is closed"
I wanna build a `Process[Task, WSFrame]` but the trait `org.http4s.websocket.WSFrame` is closed and custom cases (for example `JSON`) cannot be implemented straight away. I would suggest to use a Type Class Pattern here to decouple the details how to write a `WSFrame`. What do you think?

[2014-06-25 10:36] arouel opened #21 "Using ParamMatcher when matching Request"
I want to describe a parameter when matching `Request` but the following does not compile. Maybe I missed something?

[code]

[2014-06-25 10:40] arouel opened #22 "NumericParam and inheriting classes should be renamed"
We can write cases to match a `Request` with a path variable very easy, but the name `NumericParam` and their inheriting classes can be misunderstood and should be renamed to `PathVar` because a parameter is always in the Query String.

[code]

[2014-06-25 20:51] arouel opened #23 "From Uri to String"
We should enhance the `Uri` implementation to convert back to a String.

[code]

Than I can reuse this case class in my own data structures to increase safeness by working with validated URIs. What do you think?

[2014-06-26 16:11] arouel opened #24 "Bug when parsing short IPv6 address"
It seems I found a bug when parsing a short IPv6 address.

[code]

[2014-06-26 17:30] #24 closed, assigned to nobody

[2014-06-27 10:54] arouel opened #26 "Bug when parsing URI with a fragment"
When calling `Uri.fromString` a fragment will be ignored.

[code]

[2014-06-27 14:53] rossabaker opened #28 "Travis does not like pull requests"
See #27 for an example.  It's trying to parse the secrets when it need not.

[2014-06-27 15:08] #23 closed, assigned to nobody

[2014-06-27 19:12] #26 closed, assigned to nobody

[2014-06-27 19:12] #22 closed, assigned to nobody

[2014-06-29 19:57] arouel opened #31 "Rename HTTP methods shorthands to be more natural to the specification"
We should think about to hold the shorthands of HTTP methods in upper case in our DSL. This feels more natural to me.

[code]

What do you think?

[2014-06-29 21:28] #14 closed, assigned to nobody

[2014-06-30 19:36] arouel opened #32 "Avoid usage of HttpServletResponse.setStatus(int, String)"
We should avoid the usage of `HttpServletResponse.setStatus(int, String)` in `Http4sServlet`.

Maybe we can follow the suggestion: **Deprecated.** _As of version 2.1, due to ambiguous meaning of the message parameter. To set a status code use `setStatus(int)`, to send an error with a description use `sendError(int, String)`. Sets the status code and message for this response._

[2014-07-01 16:50] #31 closed, assigned to nobody

[2014-07-02 01:28] #18 closed, assigned to nobody

[2014-07-02 01:31] bryce-anderson opened #33 "Give WebSocket some love"
WebSockets and HTTP/2.0 will become increasingly important. In the mid future we should give some serious consideration to how they fit into our world.

[2014-07-02 01:39] #8 closed, assigned to nobody

[2014-07-02 19:02] bryce-anderson opened #34 "Finish the move to specs2"
http4s uses typelevel stuff pretty much everywhere so specs2 seems like a good idea. Many modules are already moved.

[2014-07-02 19:11] #32 closed, assigned to nobody

[2014-07-06 05:10] rossabaker opened #35 "Provide hooks for instrumentation of server workings"
Acceptance: we should be able to integrate metrics without a core dependency on metrics.

(Edit: we've decided an http4s-server dependency on Metrics is acceptable.)

[2014-07-07 22:52] #21 closed, assigned to arouel

[2014-07-16 02:58] rossabaker opened #36 "Figure out how to embed actual code examples in docs"
I eyeballed it for the 0.2 release.  That's not a good way to run a project, especially as the docs mature.

[2014-07-21 03:24] rossabaker opened #37 "Need a template for getting started"
I'm willing to entertain arguments why it should be activator.  But there should be something to get people up and running quickly.

[2014-07-27 05:42] #34 closed, assigned to rossabaker

[2014-07-27 05:48] rossabaker opened #38 "Deemphasize "service""
A user with similar goals was put off because of the emphasis on the word "service."  HttpService is only in the server project, and has nothing to do with the coming client.  We're good at services, but need to make more clear the "s" is Scala, not services.

[2014-07-27 06:00] rossabaker opened #39 "Figure out body parsers"
Writable is looking a lot better after today.  Need a uniform idiom for reading bodies.

[2014-07-27 06:24] rossabaker opened #40 "HttpBin.org clone"
I like the routes of http://httpbin.org.  Might make an interesting example to clone it.

[2014-07-28 18:22] #36 closed, assigned to nobody

[2014-07-30 13:55] bryce-anderson opened #43 "Decide how to handle error in situations concerning invalid input"
This is important to things like `EntityDecoder`. Two obvious solutions are:
- Use an either type such as the scalaz `\/` or, less desirable, the stdlib `Either`
- Make a coherent `Exception` structure and leverage the exception capabilities of scalaz `Task`

I personally think the second could be more elegant, if we can pull it off, but I think that has been attempted and failed numerous times th

[2014-07-31 00:34] stephenjudkins opened #44 "Blaze server never responds if a Task[Response] is a failure"
Minimum failing example:

[code]

Note that if an exception is thrown synchronously when generating the response, everything works fine.

[2014-07-31 13:01] #44 closed, assigned to nobody

[2014-08-03 05:00] #10 closed, assigned to nobody

[2014-08-08 16:17] arouel opened #46 "Set IP address via BlazeServer.newBuilder"
It would be nice to be able to set an IP address via `BlazeServer.newBuilder` and not only the port. Does it make sense?

[2014-08-10 19:43] #46 closed, assigned to nobody

[2014-08-21 13:58] arouel opened #51 "Setting headers within EntityResponseGenerator does not work"
When writing

[code]

the response contains still `application/octet-stream` in the response.

[2014-08-22 01:20] #11 closed, assigned to nobody

[2014-08-23 10:41] #51 closed, assigned to arouel

[2014-09-20 14:08] bryce-anderson opened #56 "Make up our minds on the signature of HttpService"
Do we want to go with `OptionT[Task, Response]` or `Task[Option[Response]]`? I personally like the latter for simplicity or reading, but I'm not so opinionated as to keep holding this train up.
**We should take a sort of 'vote' where we rank our interest in the two contenders from 0 to 10 with 10 being 'greatest interest'**

_My Vote_
`OptionT[Task, Response]`: 4
`Task[Option[Response]]`: 6

If th

[2014-10-24 12:21] #40 closed, assigned to nobody

[2014-10-24 15:30] #56 closed, assigned to nobody

[2014-10-24 16:57] rossabaker opened #59 "Document new Service / HttpService functions"
Website currently refers to a PartialFunction[Request, Response].  We just improved it to a Service.  The site needs to catch up.

[2014-10-24 21:46] ghost opened #60 "Blaze client never sends query string in requests"
[code]

If you run a simple socket listener (`nc -l 8080`) and then execute the above, you'll see that the HTTP request does not include the query string:

[code]

Looking at `Http1ClientStage.encodeRequestLine`, the problem seems pretty obvious-- it's just using only the `path` property of the URI:

[code]

This makes the client basically unusable for my purposes.

[2014-10-24 21:57] ghost opened #61 "EntityDecoder.collectBinary dies if the response body is empty"
If there is no content, calling this method throws an exception:

[code]

[2014-10-24 22:14] #61 closed, assigned to nobody

[2014-10-24 23:06] #60 closed, assigned to nobody

[2014-10-25 00:10] bryce-anderson opened #62 "Fill out the tests"
As we leave the realm of 'exploring the model' and enter the realm of some semblance of stability, we need to implement ___lots___ of tests.

[2014-10-25 00:50] #13 closed, assigned to nobody

[2014-10-25 13:47] #59 closed, assigned to nobody

[2014-10-29 15:04] rossabaker opened #65 "Replace scalalogging with log4s"
We use scalalogging-2.x for cross build support.  A user is now trying to use scalalogging-3.x and hitting binary compatibility issues.  We can't upgrade because scalalogging-3.x dropped Scala 2.10 support.  That's the second time churn in this library has caused us pain.  Let's use log4s/log4s.

[2014-11-01 21:35] #20 closed, assigned to nobody

[2014-11-05 03:20] #65 closed, assigned to nobody

[2014-11-12 00:20] mdedetrich opened #68 "Use JAWN for parsing bodies into Json ASTS"
https://github.com/non/jawn

Why?

Jawn accepts parsing form various forms, including a `ByteStream`, which makes sense, since we HTTP4s works with byte streams. This can help reduce memory usage, and also possibly increase performance? Jawn appears to require a `java.nio.ByteStream` type to parse from a ByteStream
Parser is pure scala
Also available for 2.10.x
Competitive with parsers like jackso

[2014-11-13 01:06] #38 closed, assigned to nobody

[2014-11-13 18:57] bryce-anderson opened #69 "URI translation may be broken"
run example, load address: http://localhost:8080/foo

13:55:21.064 [pool-1-thread-1] ERROR org.http4s.blaze.pipeline.Stage - Error running route: Request(GET,/foo,HTTP/1.1,Headers(Host: localhost:8080, Connection: keep-alive, Cache-Control: max-age=0, Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,_/_;q=0.8, User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (

[2014-11-14 01:07] #69 closed, assigned to nobody

[2014-11-14 22:38] rossabaker opened #70 "Remove Config dependency"
We can provide parameters and sensible defaults.  Let applications configure themselves to their own standards.  This is an area that http4s should remain unopinionated.

[2014-11-15 14:09] #70 closed, assigned to rossabaker

[2014-11-15 14:11] rossabaker opened #72 "Make a more compelling example"
ExampleService is a hodge-podge as we iterate on the model, but doesn't provide a real compelling welcome to a new user checking us out.  Some of the routes are illustratitve (e.g., /ping, /echo), some are not (e.g., /challenge).  We should split the documentation from the science experiments.

[2014-11-20 04:30] mdedetrich opened #73 "Use MIMEDB to autogenerate MIME types"
There is a library called MIME-DB (https://github.com/jshttp/mime-db) which is basically a JSON index of every known MIME type according to two sources, that also identifies if the types are compressible, and their known extensions

Would be ideal if we could integrate this as part of the build process (download the .json, parse it, and generate a Scala source file similar to what is happening in

[2014-11-20 09:39] sshastry opened #75 "whitespace in param"
hey! having some trouble with the router in http4s v0.4.0.

[code]

(here's the full file: https://gist.github.com/sshastry/874fa6ce2431e3725e9f)

`http://localhost:8080/blah?x=abc&y=ijk` works and binds "abc" to x0 and "ijk" to y0.

but `http://localhost:8080/blah?x=a+bc&y=ijk` falls through to the NotFound route, contrary to my expectation that it would bind "a bc" to x0. likewise for `http://lo

[2014-11-21 02:14] #28 closed, assigned to nobody

[2014-11-21 14:20] mdedetrich opened #81 "Separate http4s Macros into their own project"
After a lengthy discussion with @rossabaker, the best way to prevent any leaking of scala-reflect is to separate macros into their own project. Normally this wouldn't be needed, but the usage of QuasiQuotes plus scala 2.10.x support means that we need to pull in scala-reflect to compile the macros for scala 2.10.x.

If we separate out any usages of macros into their own sub project, make that subp

[2014-11-21 15:02] #75 closed, assigned to bryce-anderson

[2014-11-22 02:52] #9 closed, assigned to rossabaker

[2014-11-23 19:49] #68 closed, assigned to rossabaker

[2014-11-24 02:37] mdedetrich opened #83 "Avoid Using Reflection (including Manifest/ClassTag), use Macros Instead"
This is what I suppose is a general jibe of mine, but I am not the biggest fan of reflection (either in the weak form, i.e. `ClassTag`/`Manifest`, or in the strong form, which is `TypeTag`)

Historically, reflection has been a failure. It brings many compatibility issues (import `compiler`/`reflection` and binary dependencies). It has also been broken (reflection used to not work under multithread

[2014-11-25 01:53] #83 closed, assigned to nobody

[2014-11-25 13:52] julien-truffaut opened #85 "Add Logging middleware for http client and server"
Ideally I would like to be able to log all http requests and response

[2014-11-26 14:11] julien-truffaut opened #86 "Provide a type class to add custom param to an Uri"
here is how I would like to use it:

[code]

Atm, I created a very simple type class to do the job:

[code]

If you like the idea I can make a PR

[2014-11-26 19:28] bryce-anderson opened #88 "Check binary compatibility between bugfix releases"
We are starting to get enough interest that people are submitting bug issues/patches which is really awesome. In order to get these out there fast and ensure it doesn't ruin anyones day, we need to start checking for binary compatibility.

I don't have much experience with this, but allegedly this goal can be checked by adding the mima plugin to the sbt build project.

[2014-11-27 23:15] bryce-anderson opened #90 "Deemphasize the status reason on Status"
The reason-phase of a HTTP response is falling out of style and should be considered more of a guideline than a rule. [RFC 7230 section 3.1.2](https://tools.ietf.org/html/rfc7230#section-3.1.2) suggests that the reason-phrase should be ignored by the clients. The current [http 2.0 draft](http://http2.github.io/http2-spec/#rfc.section.8.1.2.4) doesn't even have the concept of a reason-phrase.

Beca

[2014-11-28 23:02] #90 closed, assigned to bryce-anderson

[2014-11-30 07:38] rossabaker opened #95 "Invalid JSON doesn't fail to decode"
It's a [Jawn issue](https://github.com/non/jawn/pull/16).  Upgrade when it's fixed, and then fix our tests.

[2014-11-30 18:21] bryce-anderson opened #96 "Maybe ReplyException was a bad idea"
I'm wondering if the `ReplyException` might end up being a bad idea. For example, what if, in the service phase, we end up doing something else that results in a `ParseException` that doesn't have anything to do with the `Request`? That could end up being sent back to the client as a `BadRequest` though its really a server issue. That does end up requiring users to explicitly deal with the possibi

[2014-12-01 01:49] #72 closed, assigned to bryce-anderson

[2014-12-01 04:11] rossabaker opened #98 "ResponseBuilder isn't a builder"
Is it me, or is ResponseBuilder not really a builder?  I think it's an awkward collection of factory methods that seem at home on the Response companion object.

[2014-12-01 17:05] bryce-anderson opened #100 "Use scalaz.stream.nio.file in StaticFile"
[StaticFile](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/StaticFile.scala) was written before scalaz-stream 0.6 was released, which includes nio file support.

[2014-12-01 18:49] rossabaker opened #102 "Smoke test of client and servers"
There should be a standard smoke test to takes a trivial service, mounts it on each of the backends, and uses our client to invoke it.  That will ensure that several modules are integrating as we hope.

[2014-12-01 19:49] #96 closed, assigned to rossabaker

[2014-12-01 19:56] #39 closed, assigned to nobody

[2014-12-03 13:09] #88 closed, assigned to rossabaker

[2014-12-03 21:50] prange opened #104 "Make Session available where available"
Would it be painful to add session support for servers that have built in support for that? I am asking because of security "best practices".

For example make the session data available on a map on the request. When the sessions needs to be updated an updated map can be set in the Response, or maybe one can add a list of updates...

[2014-12-04 01:35] mdedetrich opened #105 "Dealing with Config"
Do we have an agreed way in regards to dealing with config for http4s? Reason I am asking this is because of https://github.com/http4s/http4s/issues/104, but in general we should decide on using some form of config

I am in favour of using type safes config (possibly in conjunction with @ceedubs https://github.com/ceedubs/ficus), for the following reasons
- Its a standard library that has changed

[2014-12-05 14:36] julien-truffaut opened #106 "ServerBuilder.run blocks indefinitely"

[2014-12-06 02:22] #106 closed, assigned to nobody

[2014-12-07 14:08] #86 closed, assigned to nobody

[2014-12-08 03:26] #105 closed, assigned to nobody

[2014-12-08 03:30] rossabaker opened #108 "SSL binding support in server builders"
Tomcat can do it.  Jetty can do it.  Now [blaze can do it](https://github.com/http4s/blaze/issues/5).  So ServerBuilder should be able to do it.

[2014-12-08 08:26] julien-truffaut opened #109 "SimpleHttp1Client blocks indefinitely"
The following code does not exit:

[code]

Probably related to #106

[2014-12-08 08:48] julien-truffaut opened #110 "SimpleHttp1Client does not use request media type"
[code]

when I log the headers on the server side I can see:
Content-Type: text/plain; charset=UTF-8

[2014-12-08 16:05] julien-truffaut opened #111 "Add an helper method encodeBy for QueryParamEncoder"
[code]

[2014-12-08 18:46] rossabaker opened #112 "Our Future -> Task natural transformation is in questionable taste"
Monitor scalaz/scalaz#853.  We should see where that lands, and echo it while on Scalaz 7.1, and move to standard in 7.2.  (This conversion, in whatever form, is only included by us for its absence in Scalaz.)

Requirement: if the natural transformation goes away, we still want an EntityEncoder for Future.  What's dodgy as a natural transformation can still make a credible EntityEncoder for people

[2014-12-08 20:27] #111 closed, assigned to nobody

[2014-12-09 00:53] #109 closed, assigned to nobody

[2014-12-09 08:56] julien-truffaut opened #117 "Add EntityEncoder for UrlForm"

[2014-12-09 11:10] julien-truffaut opened #118 "Rename EntityDecoder.apply"
overloading doesn't play well with type inference, can we rename it to decodeBy or something similar

[2014-12-09 15:10] julien-truffaut opened #119 "Support long polling"
it seems that the client time out the request after 1 min. Could we make the timeout configurable?

[2014-12-09 15:53] julien-truffaut opened #120 "Discrepancies between 2.10 and 2.11 snapshots"
It seems that the client/syntax merged was not built in 2.11. I am getting the following error when using 2.11:

 value prepAs is not a member of org.http4s.client.Client

I don't have this error when I build with scala 2.10

[2014-12-09 16:13] julien-truffaut opened #121 "EntityDecoder / Message / Client parsing"
`Client` expects an `EntityDecoder` in order to decode a `Response`. However, `EntityDecoder[T]` is a `Message => T` and not a `Response => T`. This means that if someone wants to use a client decoder base on a status one has to down cast a `Message` to a `Response` (status present in `Response` but not in `Message`).

I understand the logic behind reusing decoding logic in client and server but I

[2014-12-09 16:23] #120 closed, assigned to nobody

[2014-12-09 16:23] #110 closed, assigned to nobody

[2014-12-10 13:41] julien-truffaut opened #123 "Can we make a milestone release for 0.5?"
I am starting to use http4s at my job. At the moment, I developed against 0.5-snapshot but I need a stable release if I want to push some code.

Could me make a milestone release for 0.5, e.g. 0.5-M0?

[2014-12-11 03:59] rossabaker opened #127 "Audit the HTTP model for cohesion"
Long ago, we bootstrapped this project in part by importing of the Spray model.  Since then, we have fitfully evolved the model, making it better for our needs, but less cohesive.  We want our 1.0 API to be cohesive and stable.  This will be a ticket solved over multiple pull requests.
## Preferred types:
- `scalaz.\/` over `scala.Either` and `scala.util.Try`.
- `scalaz.NonEmptyList` if at least o

[2014-12-11 04:05] #95 closed, assigned to rossabaker

[2014-12-11 07:54] #118 closed, assigned to nobody

[2014-12-11 20:44] #123 closed, assigned to nobody

[2014-12-12 15:03] bryce-anderson opened #129 "Uri and query keys"
The new typeclass based query system is pretty nice for dealing with values, but the keying is not as nice IMO.

Currently there are three ways to add a query param starting [here](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/Uri.scala#L115).

The keying based on type is nice for situations where you have complex objects you want to serialize a single object of that

[2014-12-13 04:39] rossabaker opened #130 "Should Blaze send a Date header?"
-- [The RFC](http://tools.ietf.org/html/rfc7231#section-7.1.1.2)

Servlets do, blaze doesn't.

[2014-12-13 16:49] #130 closed, assigned to nobody

[2014-12-16 04:26] rossabaker opened #136 "Strategy for support modules"
We already have modules for the following third-party libraries:
- Servers
  *\* Blaze
  *\* Tomcat
  *\* Jetty
- Json
  *\* Argonaut
  *\* Json4s

It's not hard to envision more useful entity encoders and decoders:
- Aalto (XML)
- Play Iteratee (came up today on IRC for Reactive Mongo)
- The other JSON libraries supported by JSON
- An Office library (yes, I still generate spreadsheets for a clien

[2014-12-18 17:46] #108 closed, assigned to nobody

[2014-12-19 16:03] #112 closed, assigned to rossabaker

[2014-12-19 17:29] rossabaker opened #139 "Servlet context listener for .war deployment"
Dear Enterprise Me,

It's almost 2015. You've got a really cool job now, but you still deploy to a managed container. It's cool, though. I'm going to make you a listener so you don't have to keep writing XML.

Yours truly,
Startup Me

[2014-12-20 03:48] rossabaker opened #140 "pathInfo calculation on servlet does not include contextPath length"
The pathInfoCaret needs to be set at the contextPath plus the servletContext.  Right now, we're only accounting for the servletPath, which only works in the root context path.

[2014-12-21 00:00] bryce-anderson opened #144 "Why are we defaulting to ISO-8859-1 instead of UTF-8?"
Our [`Message`](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/Message.scala#L15) has a [`charset`](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/Message.scala#L75) property that defaults to  ISO-8859-1. Why not UTF-8 which is used by over 80% of the internet? Admittedly, thats for websites, but I expect it to be the most common for `text/

[2014-12-21 01:46] #139 closed, assigned to rossabaker

[2014-12-21 01:46] #140 closed, assigned to rossabaker

[2014-12-21 01:47] #15 closed, assigned to rossabaker

[2014-12-22 03:26] rossabaker opened #145 "String generators per charset"
I [agree with @bryce-anderson](https://github.com/http4s/http4s/pull/143#issuecomment-67780856) that it would be useful to have a charset-aware String generator.  The `java.nio.charset.Charset` API offers no way to iterate the valid characters per charset, but we could iterate the `('\u0000' to '\uffff')` range and see what survives a round trip.  This would be ridiculous for all the charsets on t

[2014-12-22 05:37] rossabaker opened #146 "Make EntityEncoder headers depend on value?"
I just integrated [twirl](http://github.com/playframework/twirl):

[code]

`Html` is a subtype of `Content`, which is a body and a media type.  This encoder could be genericized to `Content` if `EntityEncoder.headers` considered the entity.

Secondary question: anybody interested in http4s-twirl? :)

[2014-12-22 15:50] rossabaker opened #147 "QueryStringParser is not stack safe"
This fails:

[code]

[2014-12-23 04:04] #147 closed, assigned to bryce-anderson

[2014-12-25 06:11] rossabaker opened #150 "EntityEncoder.contentType returns a MediaType. Why?"
Questionable name and/or questionable method, I think.

[2014-12-26 01:56] #150 closed, assigned to nobody

[2014-12-28 02:01] #144 closed, assigned to nobody

[2014-12-29 08:15] julien-truffaut opened #156 "[Json] Support library specific typeclass"
Most Json library propose typeclasses to encode and decode json. It would be nice to provide methods to create `EntityEncoder` and `EntityEncoder` from them. For example:

[code]

[2014-12-29 11:36] julien-truffaut opened #157 "Argonaut Json parser causes ClassCastException"
I wrote 2 `EntityDecoder`, one using `ArgonautSupport.json` and one using `argonaut.Parse`. The latter is working but the first one generates the following error: java.lang.ClassCastException: scala.Some cannot be cast to argonaut.Json

[code]

I am sure we can reproduce the error without DecodeJson but I didn't have the time to do so

[2014-12-30 19:43] rossabaker opened #158 "Java 8 requirement: yea or nay?"
We are considering a Java 8 upgrade for the following features:

* JSR 310 date time API
* Improved crypto suite

Java 8 has been available for a long time, and Java 7 is going to be [EOL'ed in April](http://www.oracle.com/technetwork/java/eol-135779.html).

If you would not be able to use http4s if it required Java 8, please speak up here.

[2014-12-31 00:57] #98 closed, assigned to rossabaker

[2015-01-02 22:19] rossabaker commented on #157
Fix released as v0.5.2, on its way to Maven Central.

[2015-01-02 22:19] #157 closed

[2015-01-02 22:57] julien-truffaut commented on #157
thanks @rossabaker

[2015-01-03 04:13] rossabaker commented on #158
The motion passes.  Leaving ticket open for upgrade.

[2015-01-03 16:28] before commented on #158
Sorry for stepping in so lately, but for me it would be an issue. Sadly at work we are relying Java 7 at the moment. I think if we are interested supporting Scala 2.10 as well as Servlet API 2.5 and several other old backed stuff it would make sense to keep Java 7 support in 2015. Does it make sense?

[2015-01-03 17:03] before commented on #129
Would it be an option to remove that [one](https://github.com/http4s/http4s/blob/topic/QueryParamKey/core/src/main/scala/org/http4s/Uri.scala#L118-L120) and to provide some documentation how to use the typeclass style key syntax prominently?

[2015-01-03 17:24] julien-truffaut commented on #129
sorry I lost track of this, I cannot remember how `QueryParamKeyLike` is intended to be use? is it intended to merge both methods with a `String` key and a `QueryParameterKey`?

One way around it could be to remove the varargs completely and implement `QueryParamEncoder` for different data structure:

[code]
Syntax will be slightly worse but the number of methods will shrink a lot

[2015-01-03 18:16] rossabaker commented on #158
I had a feeling a voice of dissent would appear. :-)

The time issue could potentially be resolved by
https://github.com/reactivecodes/scala-time, but it's not stable yet.  It
also doesn't *need* to be resolved at all.

It's up to @bryce-anderson to speak to the inadequacy of Java 8 crypto.

Sorry for stepping in so lately, but for me it would be an issue. Sadly at
work we are relying Java 7 at th

[2015-01-03 18:45] bryce-anderson commented on #158
@before, do you mean for the whole 2015 year? I'd be really happy to get the time changes in before 1.0, but don't really care until then. Considering we are a cutting edge tool, I'd hate to be held back to old technology that is beyond end of life.

The crypto bits in java8 should only be required when attempting to run a http2.0 app, but which JDK its compiled against shouldn't matter. I can che

[2015-01-03 18:53] bryce-anderson commented on #129
I've let this one fall by the wayside a bit myself, I've been preoccupied getting HTTP/2.0 support into blaze.

@julien-truffaut, wes, the ```QueryParamKeyLike``` could be used to merge the ```String``` and ```QueryParameterKey``` receiving methods. If we look close, the only difference between the ```QueryParamKey``` and ```QueryParam``` types is that ```QueryParamKey``` has the ability to accept

[2015-01-03 19:03] bryce-anderson commented on #129
Well, a quick look at the ```QueryParamKeyLike``` and ```QueryParam``` issue shows it doesn't work: methods like
[code]
wouldn't work because it has no val to feed to the hypothetical type signature.

[2015-01-03 20:08] bryce-anderson commented on #129
Using ```QueryParamKeyLike``` to handle Strings is a nogo: I get collisions between
[code]
No surprise.

[2015-01-04 10:01] julien-truffaut commented on #129
we could also remove the last method as it is equivalent to call:

[code]

[2015-01-05 22:15] rossabaker commented on #157
Released v0.5.3 with the above commit.

[2015-01-06 17:36] julien-truffaut opened #160 "add flatMap on EntityDecoder?"
[code]

[2015-01-06 17:50] bryce-anderson commented on #160
I like the method but not the name: its not really a ```flatMap``` operation. Is there a common name for this type of transformation? I believe @rossabaker dug into this at one point and had an answer that didn't work out for some reason or another, but perhaps I'm wrong.

Bottom line, I don't mind adding a method of that form, just not with that name.

[2015-01-07 01:26] bryce-anderson commented on #129
```uri +?("key", ()) ``` works nicely.

[2015-01-07 16:28] before commented on #158
Enterprise companies have sometimes more constraints to be able to upgrade Java (or other technologies). I would support Java 7 this year, because I expect another wave of upgrades if the Java 7 is EOL and some months are gone (and hopefully Java 9 test versions are out).

If we see us more as a cutting edge library we could also question Servlet 2.5 and Scala 2.10 support. But I see you arguments

[2015-01-08 18:52] rossabaker commented on #158
Servlet 2.5 support is not currently on the radar, but would be possible if there were demand.  (I think Google App Engine is the last significant compelling case for 2.5, and nobody has asked for it.)

[2015-01-08 19:04] rossabaker commented on #160
I agree it's not a flatMap, and I don't know a standard name.

Similar precedents:
* `Service` has a `flatMapTask`.
* `Kleisli` has a `flatMapK`.

[2015-01-08 19:59] rossabaker commented on #146
topic/xml-tags and topic/xml-implicit-media-type illustrate two options we have if Content-Type does not depend on the instance.

[2015-01-08 20:02] rossabaker commented on #156
@julien-truffaut, do you have one of these laying around, or should I bang it out?

[2015-01-08 21:04] julien-truffaut commented on #156
@rossabaker I implemented it quickly at my job for argonaut but I don't have the time to attack this ticket. You or anyone else can start, I am happy to review it though

[2015-01-09 00:00] kaiserpelagic commented on #160
I ran into this exact problem today when trying to write a decoder from Argonaut Json to T. I ended up with something like this

object ArgonautDecoders extends ArgonautInstances {
  implicit def argonatuDecoder[T](implicit decode: DecodeJson[T]): EntityDecoder[T] = {
    json.map((json: Json) => decode.decodeJson(json).value.get)
  }
}

The value.get is quite nasty. Is there a better way to handl

[2015-01-09 00:23] bryce-anderson commented on #160
As there is no obvious method name, lets just make one up. How about ```flatMapR``` where R is for Result? I don't have any particular affinity but a single capitol char at the end seems right.

[2015-01-09 00:43] bryce-anderson commented on #160
@kaiserpelagic you may also be interested in issue #156. I imagine that will get done sooner than later, but if you are interested in lending a hand, PR's appreciated :)

[2015-01-09 04:28] #160 closed

[2015-01-09 13:20] bryce-anderson commented on #158
I'm of the opinion we should let this issue simmer until it becomes clear that we have to make a choice then reevaluate. The status quo is appropriate until java7 EOLs, and considering that current waves in the community, I don't think we will find ourselves at 1.0 for a few more months.

[2015-01-11 00:28] bryce-anderson commented on #129
Closed via #161

[2015-01-11 00:28] #129 closed

[2015-01-11 00:32] bryce-anderson opened #163 "Rework the internal representation of Query from String to LinearSeqOptimized"
Currently the ```Query``` is just a type alias for ```String```. It would be better as a real collection.

In order to remain true to the string form, it cannot be a simple map and must be a linear sequence.

[2015-01-11 04:17] rossabaker commented on #146
I've prodded at this from multiple angles and not made it better.  Closing.

[2015-01-11 04:43] rossabaker commented on #156
Any json4s experts in the house who know how to do this without reflection?

[2015-01-11 05:13] rossabaker commented on #156
I guess this is json4s' Reader and Writer?

I'm first working on this for Argonaut.

[2015-01-11 06:02] LeifW commented on #160
Wonder if this might be relevant? http://arxiv.org/abs/1412.7148
"Monads need not be endofunctors". So the "monoid" op of monad doesn't necessarily have to be closed, i.e. yield the same type of monad as the two you were "flattening" together?

[2015-01-11 12:13] julien-truffaut commented on #163
what are the benefits to make `Query` part of the scala collection?

[2015-01-11 13:51] rossabaker commented on #160
Well, how nice that the relative operation is already named flatMapR. :-)
On Jan 11, 2015 1:02 AM, "Leif Warner" <notifications@github.com> wrote:

[2015-01-11 13:54] bryce-anderson commented on #163
It allows use of simple operators such as ```++= mySeqOfKeys```, all the methods on the collections traits, etc. These may not be big wins. On the other hand, I see little downside.

[2015-01-11 14:06] julien-truffaut commented on #163
Scala collections are often criticised because of all the inheritance and traits mixed in, it is difficult to get it right as methods are overriden in different places.

We already have an API for query in `Uri`, I think we could use the same in `Query`, e.g.

[code]

[2015-01-11 14:23] bryce-anderson commented on #163
+1 to using the api we have in ```Uri```. I'm in the process of making tests work right now, but once I'm done, I'll go about adding those methods.

I know some people don't like the scala collection library, but I don't subscribe to that concern. Our ```Headers``` collection also inherits from scala collections traits, and they also work nicely. My general stance is: if you don't want to use it a

[2015-01-12 20:23] refried commented on #158
Just chiming in to say that although I personally would like to ditch Java 7, and even though Java 7 is almost EOL, I don't think Java 8 has yet been approved to run on some gov't computers (etc.).  Seems a ridiculous to me, and I was hoping to use http4s on these.  I can try to find out more if desired.

[2015-01-13 16:06] julien-truffaut opened #166 "Add parser for Location header"

[2015-01-13 16:08] bryce-anderson commented on #166
On the job.

[2015-01-13 17:11] julien-truffaut commented on #166
btw, do you think we could throw a missing implementation error or something similar in that case?

[2015-01-13 17:35] bryce-anderson commented on #166
Do you mean for the ```Location``` header? I hope to get this fixed and @rossabaker implicitly suggests we can do a patch release. We should comb through all our headers and make sure we arn't missing parsers for others as well. Any that we decide to stall on, I would be more inclined to comment out their ```Header``` instance, but this would be a binary breaking change.

[2015-01-13 18:04] julien-truffaut commented on #166
yes, I mean it is a bit confusing to have a header definition but you cannot use it to read from `Headers`. Btw, I don't need a patch for this, so there is no rush on my side.

[2015-01-14 04:43] rossabaker commented on #158
That's good information.  We're not taking any immediate action on this, but I love the user feedback.  Lurkers, speak up, so we know the tradeoffs when we revisit this.

[2015-01-14 04:45] rossabaker commented on #163
This is now closed, no?

[2015-01-14 06:03] LeifW commented on #158
Not using Java 8 at my work. I think it might be possible to get them to
upgrade eventually; we're not really a Java shop.
On Jan 13, 2015 8:43 PM, "Ross A. Baker" <notifications@github.com> wrote:

[2015-01-14 12:16] prange opened #168 "Request body as Process[Task,String]"
A convenience function for
```req.body.map { c => new String(c.toArray, req.charset.getOrElse(Charset.`ISO-8859-1`).nioCharset)}.toTask```
on request would be of great benefit.

[2015-01-14 13:22] bryce-anderson commented on #163
Yes, closed by #165.

[2015-01-14 13:22] #163 closed

[2015-01-14 13:30] bryce-anderson commented on #168
Do you need the body to be streamed or do you want the whole thing buffered into a single a chunk? The latter is relatively easy already:
[code]

[2015-01-14 19:28] prange commented on #168
Excellent,

just what i was after.

[2015-01-14 21:04] #168 closed

[2015-01-14 21:05] bryce-anderson commented on #166
Closed by #167.

[2015-01-14 21:05] #166 closed

[2015-01-15 16:44] dchenbecker commented on #35
Any estimate on level of effort for this, or ETA? We're very interested in http4s, but we need solid metrics (but not necessarily Coda's Metrics). We'd like to help if this doesn't involve a major architecture change.

[2015-01-15 17:17] bryce-anderson commented on #35
Though we don't have an official ETA, its been coming up a lot recently. We'd very much appreciate help in the form of discussion and/or code.
I have a feeling that the depth of changes required will be correlated with the types of metrics needed, but a metrics middleware will be able to cover a lot of ground and will have almost no effect on existing infrastructure.
Feel free drop thoughts/needs

[2015-01-17 03:02] rossabaker commented on #35
A port of metrics-servlets would benefit all backends whether we provided a middleware or finally solved the issues raised in #85.  That seems like a first step that adds value regardless of how we solve the harder problem.

[2015-01-17 03:11] bryce-anderson commented on #35
+1, its relatively easy and better than nothing.
One minor complicated arises: we need to serialize the data somehow.
Metrics provides serializers for the java Jackson library, but that could
end up conflicting with json4s-jackson. Its just something we will need to
keep an eye on.

On Fri, Jan 16, 2015 at 10:02 PM, Ross A. Baker <notifications@github.com>
wrote:

[2015-01-17 03:56] rossabaker commented on #35
Are you proposing a dependency on metrics-json?  That's the easiest road, with the downside you mention.  Alternatively, could reimplement MetricsModule on top of a JSON utility class.

[2015-01-17 04:06] bryce-anderson commented on #35
Using metrics-json would be my first inclination. If problems arise just
continue down the road to our own JSON class.

On Fri, Jan 16, 2015 at 10:56 PM, Ross A. Baker <notifications@github.com>
wrote:

[2015-01-17 04:10] rossabaker commented on #35
I'm less worried about compatibility problems than classpath bloat.  So, +1, let's start like that, and the first person to complain of classpath bloat is cordially invited to send a pull request. :)

[2015-01-17 17:13] refried opened #172 "blaze client fails if no Content-Length header in response?"
using this:
[code]

If the server responds with
[code]
then
[code]

But given
[code]
[code]

Maybe I'm doing something wrong, but I think it's a bug, and since I can't modify the server, I'm not sure what to do.

`Content-Length` is required in [HTTP 1.0](http://tools.ietf.org/html/rfc1945#section-10.4), but optional in [HTTP 1.1](http://tools.ietf.org/html/rfc2616#section-14.13)

Thanks!

[2015-01-17 17:17] bryce-anderson commented on #172
This looks like a bug to me. Thanks for submitting the issue!

[2015-01-17 17:27] bryce-anderson opened #173 "Refactor Header file into a package"
Header.scala is largely out of control. I propose we move things out of the ```Header``` object and into a ```org.http4s.header``` package.

A second change I would like to see, but I don't think is part of this issue but it wouldn't hurt to keep it in mind, is the movement of header parsers from the ```org.http4s.parser``` package onto the individual header objects. We can then unseal the ```Head

[2015-01-17 19:35] #172 closed

[2015-01-17 19:38] rossabaker commented on #156
Reopening because I'm going to do similar for json4s.

[2015-01-17 20:00] refried commented on #172
P.S. That's what I call service! :-D

[2015-01-17 22:39] rossabaker commented on #35
Though https://github.com/json4s/json4s/issues/186 makes me worry about Jackson compatibility.  Ugh.

[2015-01-17 22:40] bryce-anderson commented on #100
I'm going to put this on ice. I like the tools we have for static file, even if we repeat a little bit of code.

[2015-01-17 22:40] #100 closed

[2015-01-18 05:05] rossabaker opened #176 "Reorganize header parsers"

[2015-01-18 05:08] rossabaker commented on #173
The second change is punted to #176.

[2015-01-18 05:10] rossabaker commented on #85
We have a lot of good changes for 0.6, and no solid idea how we want to do this. Deferring to 0.7.

[2015-01-18 05:20] rossabaker commented on #35
We have pull requests in for the last tickets tagged for 0.6, so let's prioritize this in 0.7.

@dchenbecker: "Not necessarily Coda's metrics" means you'd be happy with any kind of metrics, or you don't want to tightly couple http4s' metrics to Coda?  I'd like to abstract it, but I also love Coda's and don't want to reinvent the flat tire.

[2015-01-18 15:22] dchenbecker commented on #35
What I meant by "not necessarily Coda's metrics" was that I would be happy with any similar metrics implementation, not that I don't want you to use Coda's stuff. I *do* think that using Coda's lib as a start will be an immediate win, and can always be revisited down the road if it becomes problematic. We use Argonaut for JSON, so I don't think that jackson compatibility is an issue for us specifi

[2015-01-18 17:55] rossabaker commented on #35
Great, I thought that's what you meant, and I agree.

So this problem breaks down into two parts:

1. Collecting the metrics.
    1. A middleware, which I think @bryce-anderson may have laying around, that is portable, but does not measure the overhead of the backend.
    2. metrics-servlet, which wraps Http4sServlet.  A little better measurement than #1, but we can do better, and Blaze would need

[2015-01-19 01:31] refried opened #178 "a couple of problems with examples"
Sorry, this ticket is kind of a mess, but I wanted to record it before I forgot.

1) When I tried ran the BlazeExample, I ran into trouble after clicking the Redirect example — it redirected me from http://localhost:8080/http4s/redirect to http://localhost:8080/http4s .  From there, the rest of the relative links from html.index() won't work; e.g. the relative link to "ping" resolves to http://loc

[2015-01-19 02:35] rossabaker commented on #178
Good catches.  This would be welcome as a pull request.  I understand the TemporaryRedirect, but I need to mull over what the trailing slash means in mounting a service in Blaze.  We should put some thought into ensuring BlazeBuilder and the servlet builders act similarly.

We recently changed XML literals' default content type from `text/html` to `application/xml`, figuring that scala.xml will mo

[2015-01-19 03:22] rossabaker opened #179 "Multipart."
- [x] Basic encoder
- [ ] Encoder that can calculate a content-length.
- [ ] Encoder that renders boundary header without extra ceremony.
- [x] Streaming decoder
- [ ] Handling of large parts.  Current working theory is a temp file.
- [x] multipart/\* model
- [ ] multipart/form model: convenient way to get parts by name, treat non-file items as a `UrlForm`, etc.

[2015-01-19 03:32] bryce-anderson commented on #178
A look back in the [past](https://github.com/http4s/http4s/commit/528233db0970df1570956af2b1722a762e15ab32) shows that before we did twirl, the xml literal that formed the index had the mount prefix in the links. I don't know of a simple way to fix this otherwise.

[2015-01-19 05:59] refried commented on #178
Oh yeah, I wondered at the time if there was an easy way to pass the mount
prefix to the twirl template, and whether that would be an appropriate fix.
On Sun, Jan 18, 2015 at 22:32 Bryce Anderson <notifications@github.com>
wrote:

[2015-01-19 06:24] rossabaker commented on #178
I tried to skirt around that issue by making all the links relative.  It worked in the basic case, but when the redirect rerendered the index template from a Uri without a trailing slash, that's probably when the trouble began.

Request has a scriptName and pathInfo.  scriptName is supposed to reflect the mount prefix portion of the path, and pathInfo the remainder.  To make the template truly por

[2015-01-19 13:29] bryce-anderson commented on #178
Thats an artifact of using ```UriTranslation``` for 'mounting'. Servlet stores similar information using the ```Request.Keys.PathInfoCaret```, but the actual uri is unaffected. I'll file a issue about the inconsistency of ```UriTranslation``` and the way servlet handles it.

[2015-01-19 13:37] bryce-anderson opened #180 "UriTranslation and (scriptName, pathInfo)"
```UriTranslation``` offers similar functionality to the 'mount' properties of the servlet world. However, the servlet bits use ```Request.Keys.PathInfoCaret``` to represent where the path is split into ```(scriptName, pathInfo)``` which is on the ```Request``` while ```UriTranslation``` uses ```translateRootKey``` to store a ```String => String``` and doesn't have any special treatment after that

[2015-01-19 15:04] bryce-anderson commented on #178
I'm of the opinion we should patch this in whatever way we need to to get it working and fix associated problems in separate tickets: no need to keep an embarrassing broken demo while we solve the underlying problems. To that end, is there more issues to resolve than #180, and @refried, do you want to submit a PR or should we just handle it?

[2015-01-19 15:07] #173 closed

[2015-01-19 15:11] rossabaker commented on #178
+1 to fixing what we have a fix for. The script name issue captured in the other ticket.

[2015-01-19 15:15] rossabaker commented on #180
The reason I like the caret is that it preserves the invariant that script name + path info is the path portion of the URI.

I'd rather it be a field in the URI, but it's a purely Request concept. And a server-side one, at that.

[2015-01-19 15:44] bryce-anderson commented on #180
I've almost got ```UriTranslation``` into conformance.

[2015-01-19 15:55] refried commented on #178
@bryce-anderson Heh, I'm clumsy with git, and probably should've just let you guys handle it, but I guess it's good practice; thanks.

[2015-01-19 16:18] bryce-anderson commented on #178
Should be fixed by #182 and #181. Thanks @refried.

[2015-01-19 16:18] #178 closed

[2015-01-19 18:29] bryce-anderson commented on #180
Closed by #183

[2015-01-19 18:29] #180 closed

[2015-01-19 19:10] refried opened #184 "bad parse on relative Uri"
The uri "g" gets parsed as the authority, but apparently it should be parsed as the path.

[code]
vs
[code]

This beastly regex copied from https://tools.ietf.org/html/rfc3986#appendix-B also parses "g" as the path:
[code]
I tried to convert this into a simple reference Uri parser, but got stuck on parsing the subcomponents of `Authority`.  Then I took a look at `Rfc3986Parser` but got scared.

[2015-01-19 19:12] refried opened #185 "Uri missing .resolve(Uri) method"
I'm implementing one, but it's blocked by #184.

[2015-01-19 19:38] rossabaker commented on #184
java.net.URI is based on an older RFC, so I would not consider it authoritative.  The regex from the RFC makes a more compelling case that we have a problem.

[2015-01-19 19:41] refried commented on #184
Oh yeah, I didn't even notice.  (RFC 2396 vs 3986)

[2015-01-19 19:51] refried commented on #185
https://tools.ietf.org/html/rfc3986#section-5.4 specifies that the relative Uri `g` resolved against the base Uri `http://a/b/c/d;p?q` should be `http://a/b/c/g`; but because `g` is parsed as authority instead of path (#184), it resolves to `http://g` instead.

[2015-01-19 20:02] refried commented on #184
It looks like an authority has to have a `//` with it, i.e. `//g`.
Even `foo.com/file` should all go into path, but `//foo.com/file` gets split into authority=`foo.com`, path=`/file`.  `http://foo.com/file` should get split into scheme, authority, and path like we're used to.

[2015-01-20 02:36] refried commented on #185
Hope I'm not out of line, submitting PRs without an invitation!

[2015-01-20 02:44] rossabaker commented on #185
Wait, did none of the other committers tell you about the pull request application fee? ;)

Seriously, we love contributions.  Keep up the good work!

[2015-01-20 03:34] #156 closed

[2015-01-20 09:20] julien-truffaut opened #187 "withQueryParam with String value is considered as a Seq[Char]"
[code]

also, shall we url encode the query parameters?

[code]

[2015-01-20 12:51] bryce-anderson commented on #187
First one works for me.
[code]
Do you have any implicits in scope that could be causing this? I think we should remove the ```implicit val charQueryParamEncoder```; if someone wants a single char they can do a single char String and that should remove this possibility.

I agree, they should probably be rendered as encoded Strings.

[2015-01-20 13:23] julien-truffaut commented on #187
@bryce-anderson I have an implicit conversion between String and Seq[Char] but I don't know where does it come from. I thought it was from Prelude

[2015-01-20 13:28] bryce-anderson commented on #187
We should remove the ```charQueryParamEncoder``` to make sure its not happening again. I'll do that in a PR.

[2015-01-20 18:58] #185 closed

[2015-01-21 06:35] beloglazov opened #192 "SimpleHttp1Client hangs while trying to parse the response"
Hi All,

I'm trying to use the blaze client in my project but face issues. Basically, this is a piece of code that makes a request (I've added some logging to see what's going on):

[code]

I also have some other code that uses this function to make a PUT request to CouchDB. This code works perfectly fine when I run in on my local machine on Arch Linux. However, when I deploy it to a server runnin

[2015-01-21 14:15] bryce-anderson commented on #192
Ah, a classic "works on my machine" type problem, the most difficult kind. Just so we're clear, the example you have works perfectly on your own machine, but once you upload it to the server and run it there, it fails?

I can add some verbose logging to the snapshot to try and narrow down the problem, but I can't tell what the issue is without more info, and you've been very generous with the info

[2015-01-21 14:48] bryce-anderson opened #193 "Revert commit 65f9cf72da1a4ada once issue 192 resolves"
We should revert commit 65f9cf72da1a4ada once issue #192 resolves. It would be a shame to pollute the logs so much all the time.

[2015-01-21 14:50] bryce-anderson commented on #192
@beloglazov, I've added some serious logging code on the body handling bits and it should hit the snapshots as soon as Travis gives it the thumbs up. Could you please try it again and maybe we can see whats happening?

[2015-01-21 14:53] rossabaker commented on #193
Logs at a level not enabled are free, for some generous definition of free.  I'd be surprised if you can measure a difference.

[2015-01-21 15:08] bryce-anderson commented on #193
I'm not worried so much about the performance, but of polluting the logs. I actually plan to keep a few in there, and maybe downgrade them to trace, but I think this is an awful lot to fill the log books. On the other hand, if you think its a good idea to leave them thats fine by me though I would probably still downgrade them to trace.

[2015-01-21 15:19] bryce-anderson commented on #187
This was closed via #189 and #190

[2015-01-21 15:19] #187 closed

[2015-01-21 15:20] bryce-anderson commented on #184
I believe this is closed via #191. @refried, if you discover differently, will you please reopen?

[2015-01-21 15:20] #184 closed

[2015-01-21 15:26] bryce-anderson opened #194 "UrlCodingUtils.urlDecode should be more strict."
Right now it will always return a result (maybe the wrong one) and may throw exceptions. It would be nice if it would return a ```ParseResult[String]``` instead: most places that use it also return a ```ParseResult``` of some form. The use of exceptions is [here](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/parser/QueryParser.scala#L95)

[2015-01-21 15:26] rossabaker commented on #193
Trace is fine.  Things lower than `info` are in my bucket of "things I
don't see unless things are on fire." :)

On Wed, Jan 21, 2015 at 10:08 AM, Bryce Anderson <notifications@github.com>
wrote:

[2015-01-21 17:37] wedens opened #195 "Response hangs forever with argonaut"
If I have EncodeJson instance that doesn't wrap some value into root object, response will hang forever.
Some error in response is expected.
[code]

[2015-01-21 18:01] wedens commented on #195
real case is that i have codec for java.nio.files.Path
[code]

[2015-01-21 18:04] bryce-anderson commented on #195
I think the problem is you're likely throwing an exception with your
```Path``` and the blaze backend isn't closing the connection.

On Wed, Jan 21, 2015 at 1:01 PM, wedens <notifications@github.com> wrote:

[2015-01-21 18:07] #195 closed

[2015-01-21 18:07] bryce-anderson commented on #195
@wedens, thanks for the bug report. Please reopen if the problem persists.

[2015-01-21 19:12] refried commented on #184
LGTM

[2015-01-22 02:24] beloglazov commented on #192
Thanks for your quick response and those changes! To clarify, you are right, the example works fine on my machine but fails to run on a server. Another point I forgot to mention is that I'm using Scala 2.11.5. I've run the same test again with your changes included and got some new information. First, the log from my local machine:

[code]

The server log:

[code]

The difference I see is that on

[2015-01-22 04:10] bryce-anderson commented on #192
The lack of underflow is interesting, but I don't think its a problem: it looks like it give the same size buffer as a result. The body appears to be drained in both cases, signalling that . I've added more debug messages, if you don't mind trying again.
Unfortunately we have a phase mismatch and I won't be able to check until morning.

[2015-01-22 04:26] beloglazov commented on #192
Updated logs from my local machine:

[code]

Logs from the server:

[code]

[2015-01-22 04:30] beloglazov commented on #192
I've just realized, could it be something to do with the number of threads? As you can see, I have a few threads when it's running on my local machine and only one thread on the server.

[2015-01-22 05:06] beloglazov commented on #192
I've added logging of the number of active threads with `logger.debug("Active threads: " + Thread.activeCount())` just after `Body drained`. I consistently get 40 active threads on my local machine and only 12 on the server.

Another piece of information, my local machine has 4 cores with 2 hardware threads per core. The VM that I'm using as a server for testing has only 1 core with 1 hardware thr

[2015-01-22 05:25] beloglazov commented on #192
I've just tested on a different VM, which has 2 cores, and the test works fine on it. I'm convinced now, it is some kind of a deadlock, but I'm not familiar enough with the http4s codebase to find the cause.

[2015-01-22 06:04] rossabaker commented on #35
Just to see what could be done with minimal effort, I took the metrics-jetty9 and metrics-servlets route.  Check out the topic/metrics branch, 'sbt examples-jetty/run', and enjoy the http://localhost:8080/metrics.  It's incomplete and icky, but at least now it's tangible.

[2015-01-22 13:44] bryce-anderson commented on #192
It seems that [this callback](https://github.com/http4s/http4s/blob/master/blaze-client/src/main/scala/org/http4s/client/blaze/Http1ClientReceiver.scala#L106) isn't getting run on your server. It is a ```Future.successful``` that is generated [here](https://github.com/http4s/http4s/blob/master/blaze-core/src/main/scala/org/http4s/blaze/Http1Stage.scala#L203). When I set the CPU count on my VM to 1

[2015-01-22 14:52] rossabaker commented on #35
Going down this road is really easy, but we don't get equivalent metrics names across the backends.  To do that, we'd need to define our own contract, and then implement it atop the servlet backends individually, as we're going to have to do for Blaze anyway.

[2015-01-22 14:57] rossabaker opened #196 "Port metrics-servlets to an HttpService"
This is the display side of #35.  MetricsServlet is the immediate need, and other things in AdminServlet are pretty neat.

I think maybe this can go right into the http4s-server package, since it already depends on metrics-core for the MetricsSupport that is emerging in #35.

If you're working on this, please assign to self (committers) or comment (new contributors).

[2015-01-22 15:09] bryce-anderson commented on #192
@beloglazov, could you attempt this on a VM with a single core? I dropped the CPU/Core count to 1/1 on my development VM and it still succeeded, but I don't have the exact same setup as you.

[2015-01-22 15:10] rossabaker commented on #35
This is the JSON we get now, for comparison's sake:

### Tomcat

[code]

### Jetty

[code]

[2015-01-22 15:29] bryce-anderson commented on #192
Alright, I think I know whats going on. The default executor is single threaded because the scalaz ```DefaultExecutorService``` just takes the cpu count and in your servers case, you get 1. When you call ```response.as[String].run```, you are already in that single thread pool. ```.run``` will block the thread until it completes. Unfortunately, you're using the same thread pool to execute the call

[2015-01-22 15:41] bryce-anderson commented on #192
I'm confident that is the problem. This deadlocks when I force the ClientDefaultEC to be a single thread pool.
[code]

An immediate solution is to make our own executor that is not bounded. I'll see what I can do later, and maybe see about a PR to scalaz to change the nature of their thread pool to avoid this.

[2015-01-22 22:50] dchenbecker commented on #35
It looks like they're comparable for the basics. I'm not so worried about the different names, although I agree it would be nice to have things unified. Do you think the short-term work for metrics-(jetty9|servlet) is feasible, or is it really important to abstract to a common interface?

[2015-01-22 23:58] beloglazov commented on #192
Thanks for spending time to investigate this! Your commit adding a trampoline for callbacks helped to get through that initial issue that I had. But at some point later in the execution the client deadlocks again.

I'm now instantiating the client with a custom executor service:

[code]

This completely solves the deadlock issue. Would you like me to help you further investigate the single-threade

[2015-01-23 00:29] rossabaker commented on #35
I think I'd rather deliver incremental value now and build our architectural wonder later.

It turns out there's very little overlap between servlet's InstrumentedFilter and jetty9's InstrumentedHandler.  That surprised me.

[2015-01-23 00:33] bryce-anderson commented on #192
Are you still using ```task.run``` in your code? Ultimately this will result in deadlock if you're using a fixed size thread pool. It might be worth noting that if you simply use a trampoline EC instead of a cached EC (direct would work too but you run the risk of stack overflow), it should also work fine. That might be worth testing all by itself.

I don't mind looking through logs to hunt for mo

[2015-01-23 00:38] beloglazov commented on #192
I've just realized that and removing `run` from my code. I'll do more testing with a trampoline EC and let you know. Thanks!

[2015-01-23 04:16] dchenbecker commented on #35
OK, awesome. I thought that's where you were headed but then your last comment worried me a bit.

[2015-01-23 05:30] rossabaker opened #197 "Support multiple connectors with independent service mounts"
With metrics support coming very soon, it's good practice to have admin functionality on a separate port.  (Dropwizard gives a nice out-of-box example of this.)

[2015-01-23 08:16] beloglazov commented on #192
I've removed all the `run` calls and unnecessary `Task` instantiations and all the tests now work with your  latest commits and the default executor service. Thanks a lot for your help! I think this issue can now be closed.

BTW, I've just open-sourced the library that uses the http4s client. It's a Scala client for CouchDB, which we are using in some of our projects internally: https://github.com

[2015-01-23 13:14] bryce-anderson commented on #192
Glad its all working out now. I'm pretty excited people are already making cool stuff with http4s! I'll certainly take a look at the library.

We are still in 0.x mode, so please don't hesitate to tell us if things break on our end! We're more than happy to help diagnose problems.

[2015-01-23 13:14] #192 closed

[2015-01-24 00:49] bryce-anderson commented on #35
I see nothing in the Tomcat JSON and only a few in the Jetty JSON that can't be done with a middleware, the most notable being timeouts.

[2015-01-24 01:03] rossabaker commented on #35
The problem with timers in a middleware is they don't measure the time spent in the backend.  By instrumenting the Jetty handler (best) or using a servlet filter (good), the time spent parsing the request and rendering the response*  is included.  Doing it this way trades portability for accuracy.  It would be interesting to compare a middleware's numbers to backend-native numbers.

* - I suppose

[2015-01-24 05:05] rossabaker opened #200 "Need a logo"
With all due respect to the artistic talents of @bryce-anderson, he is a hell of an engineer.

Any creative types out there want to make us a logo?

[2015-01-25 01:28] beloglazov commented on #192
I'll let you know if I notice any other problems. Thanks for your work!

[2015-01-28 01:02] bryce-anderson commented on #193
This has been addressed.

[2015-01-28 01:02] #193 closed

[2015-01-28 04:17] rossabaker opened #204 "Jetty request timings are broken"
The InstrumentedHandler we use from metrics-jetty9 is broken.  In an async request, it measures against the Unix epoch instead of the actual request time.  This means all the request timings are incorrect.

[2015-01-28 04:18] rossabaker opened #205 "Tomcat request timings and statuses are broken"
metrics-servlet's InstrumentedFilter is not aware of async contexts.  We do most of our measurable work in an AsyncContext, as well as set response statuses.  This makes the metrics we're gathering invalid.

Something like https://github.com/tootedom/responsecodesfilter/blob/master/src/main/java/org/greencheek/yammer/metrics/web/filter/AsyncResponseCodeFilter.java is closer to correct for our use

[2015-01-28 04:47] rossabaker commented on #204
dropwizard/metrics#744 addresses this.  We can make a private copy of the class if this bug really irritates somebody before it's patched upstream.

[2015-01-28 04:58] rossabaker commented on #35
A crude comparison of metrics-jetty9 vs. middleware.  10000 pings, concurrency 100.

InstrumentedHandler, patched from #204:

[code]

Middleware, as seen on 5f3886556b76c34cb968bb400f4888ef132d622a:

[code]

[2015-01-28 06:52] rossabaker commented on #37
I looked at Activator, and it's highly disappointing.  It doesn't prompt for any package names or version numbers.

I've created [http4s/http4s.g8](/http4s/http4s.g8) in preparation for a getting started guide on the website.  Issues with the template can be managed there.

I'd like to script a materialized view of the defaults from Travis for those who don't care to mess with giter8.  If we're st

[2015-01-28 06:52] #37 closed

[2015-01-28 13:38] rossabaker commented on #117
Closed by #143

[2015-01-28 13:38] #117 closed

[2015-02-01 15:02] justjoheinz opened #206 "Fix scaladoc (org.http4s.client)"
The scaladoc in the package object for client (in v0.6.0) is wrong. It should IMHO be the code below with all imports. `attempAs` also does not return a Task[_] but just a DecodeResult. The code in master is again different, and I did not figure out, how to fix this.

    import scalaz.concurrent.Task
    import org.http4s._
    import org.http4s.client._
    import org.http4s.Http4s._
    import

[2015-02-02 13:34] bryce-anderson commented on #197
For the blaze backend, this will require blaze-core work. Its easy enough to just spin up another server if thats what we want. There will be an asymmetry between NIO1 and NIO2: NIO1 will require a new thread pool (could be 1 thread, admin shouldn't be that heavy) while the NIO2 backend could share an ```AsynchronousChannelGroup``` to preserve resources.
I believe the servlet backends already supp

[2015-02-02 13:39] bryce-anderson commented on #197
Lucky enough, it seems blaze NIO1 support can also share a ```SelectorLoopPool``` though this feature is entirely untested, but should work without issue.

[2015-02-02 16:19] rossabaker commented on #197
Yes, it's a builder issue for the servlets.

I wasn't too excited about this before we started exposing metrics.  Now it makes a great deal of sense to have the adminy type of stuff on its own port.

[2015-02-03 14:09] #206 closed

[2015-02-03 15:38] julien-truffaut opened #210 "Promise already completed"
I am getting the following error with blaze server 0.6.0. It seems to happens roughly 1 / 5000 requests

[code]

[2015-02-03 19:57] bryce-anderson commented on #210
@julien-truffaut I have this patched in ```0.5.1-SNAPSHOT``` which should be in sonatype snapshots repo now. Can you pull that in and see if the problem persists? If not, I can do a release.

[2015-02-03 20:01] julien-truffaut commented on #210
man you're awesome. I will try that tomorrow morning and tell you how it goes

[2015-02-03 20:36] bryce-anderson commented on #210
Don't thank me yet, I'm only 98% sure its fixed. For reference, the changes are in the [blaze project](https://github.com/http4s/blaze/commit/fdfa4926f113893f2851d786df328697cbdce155).

[2015-02-04 13:32] julien-truffaut commented on #210
It worked, I don't see the error message anymore.
When I load test, I still a few "java.io.IOException: Remotely closed" from the client, maybe 1 every 50K requests but I don't see any error message on server log. It might be an error on my application or from the test framework.

Do you think we could make a patch release? Thanks again bryce

[2015-02-04 13:47] bryce-anderson commented on #210
Yup, I can do a patch release. For reference, the channel is getting closed by something, and if your logs don't include any ```logger.warn(t)("Abnormal NIO1HeadStage termination")```, then it looks to be normal termination as far as blaze is concerned. There could still be a problem in http4s that is causing said termination.

If you want, I can add some debug code to help you figure out whats go

[2015-02-04 13:53] julien-truffaut commented on #210
I am quite curious about this termination issue but I will need to release my app very soon and it happens very rarely. So if you don't mind, I would go for a release now and investigate later.

[2015-02-04 15:21] bryce-anderson commented on #210
Alright, blaze 0.5.1 is released to maven, should be there soon. Can you double check that it solves the problem before I do a http4s-0.6.1 release with the updated transient dependencies (and some bug fixes)?

[2015-02-04 15:22] julien-truffaut commented on #210
sure, let me 30 min

[2015-02-04 15:59] julien-truffaut commented on #210
it is all good

[2015-02-04 16:00] bryce-anderson commented on #210
Cool. Should we close this issue?

[2015-02-04 16:03] julien-truffaut commented on #210
sure

[2015-02-04 16:03] #210 closed

[2015-02-06 03:35] beloglazov opened #213 "Adding CouchDB-Scala to "Projects using http4s""
Hi All,

Would it be possible to add my project (https://github.com/beloglazov/couchdb-scala) to the list of projects using http4s on your web site? :) Thanks!

Cheers,
Anton

[2015-02-06 07:13] rossabaker commented on #213
Gladly!  Looks like a nice project.

[2015-02-06 07:13] #213 closed

[2015-02-08 12:33] beloglazov commented on #213
Thanks Ross!

[2015-02-09 23:32] refried opened #215 "JettyBuilder gives 404 where BlazeBuilder gives 200?"
With http4s 0.6.0 and rho 0.3.0, given:
[code]

`$ curl http://localhost:8080/incident/3`
[code]

Replacing JettyBuilder with BlazeBuilder:
`Incident 3: Joe did it.`

[2015-02-10 04:17] rossabaker commented on #215
This can be worked around by mounting service with `""` instead of the default `"/"`.  I can't think of a reason we shouldn't trim trailing slashes in this argument and make it work either way.

[2015-02-10 13:05] bryce-anderson commented on #215
As @rossabaker said, this appears to be with the default path located [here](https://github.com/http4s/http4s/blob/master/server/src/main/scala/org/http4s/server/ServerBuilder.scala#L28). @rossabaker, is the easiest solution to just override the default to ```""```?

[2015-02-10 15:59] rossabaker commented on #215
Yes, that's the easiest solution.  I think a friendlier additional solution might be to normalize by trimming `"/+$".r`.  I can't think of a case where intent would ever be different.

[2015-02-12 19:00] stephenjudkins opened #216 "HTTP2 support"
The HTTP2 spec is nearing completion, and offers many of benefits for browsers and API implementors. How interested are people in HTTP2 support for http4s?

[2015-02-12 19:48] bryce-anderson commented on #216
@stephenjudkins, very interested. The groundwork has already been done in blaze [here](https://github.com/http4s/blaze/tree/master/http/src/main/scala/org/http4s/blaze/http/http20) and the only thing left to do is make a http4s server stage.
On the other backend fronts, if you servlet container supports http2, you should be ready to do.

[2015-02-12 23:02] rossabaker opened #217 "jmh for benchmarking"
I'd like to get some more formal, repeatable benchmarks in place so we can better monitor the cost of our future design decisions.

The work @julien-truffaut did could be an inspiration: non/cats#190

[2015-02-12 23:43] kryptt opened #218 "Provide a basic CORS middleware"
Users should be able to quickly setup CORS parameters for any RESTful backend they might be developing.

It should similar in usage as the already available middlewares (like GZip for example).

[2015-02-13 00:21] stephenjudkins commented on #216
How far along is the Blaze HTTP2 server? Would further functional tests be helpful? What server implementation have you been testing this with?

[2015-02-13 01:14] bryce-anderson commented on #216
The blaze server is finished sans bugs. I've done some manual testing using [h2spec](https://github.com/summerwind/h2spec) but that is far from conclusive. Its been a about three weeks sense I've run the tests and there have been quite a few commits adding more tests etc so it might be worth it to run again.

Blaze would certainly benefit from some more tests, few of the existing tests check for t

[2015-02-13 07:48] julien-truffaut commented on #217
I can make a similar set-up if you want. Also, what do you think about adding a load testing module? I have used [gatling](http://gatling.io/) in the past, the dsl is very simple.

[2015-02-18 15:10] bryce-anderson commented on #216
As a quick update, it seems that [HTTP/2 and HPACK](https://www.mnot.net/blog/2015/02/18/http2) are finished with their technical evolution and its now just paperwork type stuff.

@stephenjudkins, are you interested in helping move this along for http4s, or just curious of the status?

[2015-02-18 18:38] stephenjudkins commented on #216
I am interested but cannot commit to any specific amount of time at the moment. I'll check back in in a few weeks when work stuff settles down for me, and see what I can contribute. If there are small issues to deal with I could work on those now.

[2015-02-19 15:20] julien-truffaut opened #222 "Failed to parse custom header"
[code]

`localhost:9999` seems to be the first header when I print the request.

[2015-02-20 21:59] coltfred commented on #158
@rossabaker We're just exploring http4s for the first time, but we also are stuck on Java 7 for some non trivial amount of time. Maybe late this year? Don't know for sure.

[2015-02-21 21:13] ritschwumm commented on #158
java 7? you guys seem to work in very modern companies...

[2015-02-22 05:18] rossabaker commented on #217
Are you thinking gatling-sbt?  I'd love to have a simple way to run load tests and track progress without the ad hoc ab tests I've been running.

[2015-02-22 05:22] rossabaker commented on #222
Where does the request come from?  Is this from a client, or are you constructing it yourself?

[2015-02-22 05:23] rossabaker commented on #158
lol, I was using Java 1.4 just a few years ago.  I'm not there anymore, but that experience is why I've been reluctant to push this unless it truly holds back progress.

[2015-02-22 15:10] julien-truffaut commented on #217
Yeah gatling with their sbt plugin. If you want I can show you how it looks
like next week end (I am on ski holidays now)

--
Julien Truffaut
On 22 Feb 2015 06:18, "Ross A. Baker" <notifications@github.com> wrote:

[2015-02-25 03:52] rossabaker commented on #217
That would be great.  The more I think about it, I think gatling integration scratches a more immediate itch than jmh.  I'd like automated load tests to monitor progress in the large, and then we can look into jmh for the lower level optimizations.

[2015-02-25 05:16] refried commented on #215
Sorry I never got to it!

[2015-02-25 12:23] rossabaker commented on #215
No worries, I was just looking for an easy one before bed. :-)

[2015-02-26 08:15] julien-truffaut commented on #222
I used blaze client to send request to a blaze server

[2015-03-05 01:04] toby5box opened #226 "OAuth2 bearer token BNF doesn't match spec?"
Ref. https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/parser/AuthorizationHeader.scala#L65
vs
http://self-issued.info/docs/draft-ietf-oauth-v2-bearer.html#authz-header

It seems that the http4s grammar would disallow Base64URL-encoded tokens, but Base64URL-encoded tokens are fundamental so specifications like that cited, and also JWS/JWT: https://tools.ietf.org/html/draf

[2015-03-06 02:12] toby5box commented on #226
Hm, this seems to be matching a JWS token, which is what I want. That's base64url and periods, which is not going to be matched by the grammar linked above. Strange.

[2015-03-14 01:20] rossabaker opened #229 "ServletContextOps should detect the servlet I/O version"
Out of the box, the xsbt-web-plugin uses Servlet 3.0 containers.  ServletContextSyntax blindly uses non-blocking servlet I/O.  It should check the Servlet API version and choose an appropriate servlet I/O for war deployments.

[2015-03-14 21:20] bryce-anderson commented on #222
@julien-truffaut: looking back on this, I think your
[code]
method is wrong. You also need to check the key. It should probably look more like this:
[code]
Could you give that a try and see if it works?

[2015-03-15 03:18] rossabaker commented on #229
This is actually a bug.  It makes it very difficult to deploy to a war on a servlet 3.0 container.

[2015-03-15 07:48] mdedetrich commented on #158
Im all for pushing JDK 8, mainly for ecosystem reasons. Scala 2.12.x is aiming for JDK 8, and it will provide significant improvements in a number of areas (one being reducing the huge scala .jar sizes, amongst many other things)

There are other things, like inbuilt javascript engine (nashorn) which does push the case for having jdk 8 as a requirement. From a purely http4s webserver spectrum, the

[2015-03-15 07:50] mdedetrich commented on #200
I might look into it

[2015-03-15 09:41] julien-truffaut commented on #222
thanks, I will give it a try

[2015-03-15 09:59] ijuma commented on #158
The Scala 2.12 argument will be stronger once it is actually released. Java 8 would present an issue in the environment where we are currently using http4s, sadly.

[2015-03-15 10:01] mdedetrich commented on #158
Yes of course, but we already know what the goals of Scala 2.12 will be, so there is a case in http4s preparing itself for Scala 2.12.

Of course, counter arguments are just as legitimate. Personally, I am not sure why companies are so hesitant to upgrade JDK, considering that its basically the most stable VM out there, but thats something thats unlikely ever to change

[2015-03-17 17:53] sameersingh opened #231 "Shutdown server on request"
I need a server that I can terminate from client side using a request, and am struggling to get it working.

Here's what my attempt looks like:
[code]

When I send the `localhost:8080/shutdown` `POST` request, I get back a `Bye!` response, but the server doesn't terminate and the process never prints the `Server shut down.` string. Instead, I get the following (after 2 seconds):

[code]

Any ideas

[2015-03-18 01:54] kryptt opened #232 "Under obscure conditions StaticFile.fromURL throws an unexpected exception"
When running under a docker container (with a limited set of ports being forwarded) StaticFile.fromURL throws the exception:
`java.lang.IllegalArgumentException: URI is not hierarchical`
This is avoidable if fromURL does not rely on fromFile.

I'll submit a patch for your opinion

[2015-03-18 15:48] bryce-anderson commented on #231
I'll take a look and see what I can find. Do you know if the server is still responsive, or it just fails to exit the ```task.awaitShutdown()``` call?

[2015-03-18 16:04] bryce-anderson commented on #231
Note that if you use the NIO2 backend, it still logs an error, but completes the program as desired.
[code]
I'll continue to dig into this further.

[2015-03-18 21:21] sameersingh commented on #231
Yeah, I can reproduce the above with the NIO2 backend, thanks!

Without NIO2, the server is unresponsive and the connection is closed, just doesn't exit `awaitShutdown()`.

[2015-03-19 00:18] bryce-anderson commented on #231
Commit https://github.com/http4s/blaze/commit/62277e11e5ac308d86bb416ff949b1fa3e5f8c72 appears to address your issues. Note that this is really a blaze issue and not directly a http4s issue. Does using NIO2 work for for the immediate future? If its not necessary, I'd liked to avoid the domino release effect.

[2015-03-19 04:18] wsh opened #234 "Core DSL returns 404 when 405 is called for"
Hi all! First and foremost, thanks for your hard work on http4s. We're using it in production and find it a pleasure to work with.

My teammate noticed something odd. We have a service spec'd out like this

[code]

and we run it with `BlazeBuilder.bindSocketAddress(new InetSocketAddress(config.port)).mountService(svc, "/").run.awaitShutdown`. We'd expect that something that tries to `PUT /bar` wou

[2015-03-19 04:43] rossabaker commented on #234
The http4s-dsl is straight pattern matching.  There's no central route registry, so there's no way to tell "it matched except for the method."

It is nearly possible to write a middleware to resubmit a request with other methods to construct a 405 with a correct Allow header.  The problem is that the signature is `Task[Option[Response]]` instead of `Option[Task[Response]]`, so the task needs to ru

[2015-03-19 06:04] sameersingh commented on #231
Yes, NIO2 suffices. I'm an expert at ignoring Exceptions I don't understand :)

[2015-03-19 12:09] #231 closed

[2015-03-20 14:20] bryce-anderson commented on #234
First things first, sorry @wsh, this comment offers no solution to the problem, just general discussion. We do appreciate you filing an issue: we are trying to iron out these types of issues.

I think this is more of a intrinsic shortcoming of the http4s-dsl: its 'route table' is not subject to inspection. Currently rho would fail to give the desired behavior as well, but it would be relatively si

[2015-03-21 16:17] rossabaker commented on #234
Here is some prior art from a similar DSL:
https://github.com/unfiltered/unfiltered/tree/master/directives

Something like that would preserve the spirit of extractors and generate a 405, but it would not generate an `Allow` header.

[2015-03-24 11:47] ermyas opened #236 ""BadResponse: LineFeed found without CR" exception"
Hello thanks for sharing this library,
I was trying to run the client code below which calls the Github API but it fails with the following exception "BaseExceptions$BadResponse: LineFeed found without CR". Any ideas what I might be doing wrong?
Thanks!

[code]

**Stack Trace**

22:30:32.999 [pool-5-thread-2] DEBUG org.http4s.blaze.pipeline.Stage - Beginning request: Request(GET,https://api.github

[2015-03-24 13:43] bryce-anderson commented on #236
Thanks for the bug report @ermyas! I can reproduce this issue and will look into it. The client is relatively new so sorry for the bug. I'll post updates here.

[2015-03-24 14:29] bryce-anderson commented on #236
OK, heres what I've found. Http4s client doesn't include a ```User-Agent``` header so github sends a 'Forbidden' response. It appears that this response doesn't use the correct ```\r\n``` and only ```\n``` when encoding the status line and headers. So technically, the parser is acting correctly. It seems reasonable to decrease the strictness of this and allow simple ```\n``` line endings, but I th

[2015-03-24 20:13] rossabaker opened #237 "Upgrade to scalaz-stream-0.7a"
It's out.  Let's do it.

[2015-03-24 23:21] ermyas commented on #236
Great thanks for that! Yes adding a User-Agent header does solve the problem on my end too.

[2015-03-25 15:55] bryce-anderson commented on #237
Do we have a timeline for this? I'd like to do a blaze release but I have a few small things I'd like to iron out such as _maybe_ making the parser accept ```\n``` instead of the standard ```\r\n```.

[2015-03-25 16:12] rossabaker commented on #237
No official timeline.  I think this task is going to be fairly straightforward.  The only significant thing that disappeared, as far as I know, is `Process.toTask`.

[2015-03-26 03:16] #237 closed

[2015-03-28 05:13] dchenbecker opened #240 "Setting a Host header for a blaze client Request causes an exception to be thrown"
The issue appears to be faulty logic here:

https://github.com/http4s/http4s/blob/master/blaze-client/src/main/scala/org/http4s/client/blaze/Http1ClientStage.scala#L146

Basically, if Http/1.1 and a "Host" header exists, throw an exception. This seems so obviously wrong to me I feel like I must be missing something. It leads to hilarity like:

[code]

If there's agreement that this is wrong, I'm h

[2015-03-28 05:34] bryce-anderson commented on #240
This does seem like strange behavior, and I'm sure I'm to blame for it. A PR would be appreciated if you have time, otherwise I can take care of it. I believe we are trying to get a release together very soon to stay in step with scalaz-stream, and it will certainly happen before then.

Out of curiosity, what is the use case for providing your own, assumingly diffierent, host header?

[2015-03-28 13:59] dchenbecker commented on #240
https://github.com/http4s/http4s/pull/241 has a fix against master. Would a fix for 0.6.x be useful, too?

[2015-03-28 14:26] dchenbecker commented on #240
Use case is connecting to internal hosts behind the load balancer that expect the external host header

[2015-03-28 17:04] bryce-anderson commented on #240
Thanks for the PR. Do you need this fixed on the 0.6.x series or can you wait a few days for the 0.7.0 release?

[2015-03-28 17:04] #240 closed

[2015-03-28 18:12] dchenbecker commented on #240
I'm fine with th 0.7.0 release, thanks!

[2015-04-09 12:15] julien-truffaut commented on #222
Sorry for the delay @bryce-anderson, your solution works.

What happens when you do: `r.headers.get(`X-Custom`)` ? does it iterate through all headers until one match?

[2015-04-09 12:25] bryce-anderson commented on #222
Yes: https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/HeaderKey.scala#L30

[2015-04-09 12:27] julien-truffaut commented on #222
will it cause a problem to look up by header name and then call match header?

[2015-04-09 12:35] bryce-anderson commented on #222
I'm not sure what you mean. Can you give a quick example?

[2015-04-09 12:42] julien-truffaut commented on #222
sure, could from be implemented like this?
[code]

[2015-04-09 12:48] bryce-anderson commented on #222
Technically yes, but I personally think ```Headers.from``` should be made to enforce that ```matchHeader``` as the standard way to match a header. @rossabaker, do you have an opinion on that?

[2015-04-10 09:28] julien-truffaut commented on #217
basic setup is merged, we "just" need to write benchmarks now :)

[2015-04-10 09:28] #217 closed

[2015-04-16 01:19] elyast opened #251 "Http client doesn't support proxy settings"
On behalf of Bryce Anderson, moving issue with http proxy to http4s repo

Original issue: http4s/blaze#14

I'm not practiced in the art of http proxy, so if any of the below procedure is wrong, let me know. I've never implemented it, just done a little reading (prompted by your issue).

We need to add the ability to configure a proxy here and here.
Next, we need the clients (pooled and simple) to

[2015-04-16 01:26] elyast commented on #251
As far as I checked the code of https://github.com/AsyncHttpClient/async-http-client
in case of http protocol following things needs to be done:
 * rewrite request line (to include original full address of http endpoint)
 * rewrite/add authentication header if proxy requires this

In case of https protocol is actually more tricky, because http client needs to do more work:
 * first it needs to iss

[2015-04-21 13:12] chris-martin commented on #234
Just weighing in with my rambling two cents... I just started using http4s and immediately made the mistake of not sending 405s correctly, starting digging for what the recommendation was, and found this issue.

Currently I'm doing something like this:

[code]

It's fine for my small use case now, but if I had a significantly larger set of URLs, I'm sure I'd end up writing my own DSL. I really app

[2015-04-21 13:15] chris-martin commented on #234
Ah sorry, I just noticed #66, so I guess my comments are irrelevant.

[2015-04-21 14:54] bryce-anderson commented on #234
@chris-martin, Not being able to use ```MethodNotAllowed``` as a response generator is a bug. Thanks for finding it. See PR #255.

[2015-04-24 19:57] mossprescott opened #257 "Path swallows trailing slash"
The way the `Path` extractor abstraction works make it impossible to tell the difference between a path like `/foo/bar` (a file) and `/foo/bar/` (a directory with the same name). See https://github.com/http4s/http4s/blob/v0.6.5/dsl/src/main/scala/org/http4s/dsl/Path.scala#L18-24.

Although most applications might not consider that distinction significant, there's apparently nothing in the URI spec

[2015-04-24 20:17] jdegoes commented on #257
:+1: Would you consider accepting a PR for this issue?

[2015-04-24 20:18] rossabaker commented on #257
Absolutely!  I think it's an important distinction to be able to make.

[2015-04-24 20:22] jdegoes commented on #257
@rossabaker Awesome! Any pointers for where / how to fix this or should we just dive right in? /cc @mossprescott

[2015-04-24 20:40] rossabaker commented on #257
Not much off the top of my head, but:
* Make sure `request.pathInfo` isn't somehow eating it (i.e., is it an input error or a DSL error?)
* A committer emeritus ripped this DSL from Finagle.  See whether a similar bug was noticed and fixed there.

[2015-04-24 20:57] jdegoes commented on #257
Thanks for the pointers!

[2015-04-24 22:11] bryce-anderson commented on #257
@rossabaker: are we going to hold the release for this? If it's not a long
endeavor I think it would be good to get in.
On Apr 24, 2015 4:58 PM, "John A. De Goes" <notifications@github.com> wrote:

[2015-04-24 22:34] rossabaker commented on #257
Yes, let's leave the door open for this one.

[2015-04-26 00:20] mossprescott commented on #257
I'll take a closer look soon and figure out where the slash is being trimmed off. Then we'll have to decide how to represent this in the DSL:

Option 1: a trailing slash becomes a final `""` segment in the Path. This is how dispatch handles it (see [here](http://dispatch.databinder.net/Defining+requests.html#Appending+path+elements)); it's simple and it would allow you to pattern match with someth

[2015-04-26 06:05] rossabaker commented on #257
Option 1 seems reasonable to me.  It would be possible to write a middleware function to chop a trailing slash for looser matching.  It's a bit regrettable to change the default behavior, but that's why it's still major version 0.

[2015-04-29 09:57] jonoabroad commented on #179
I'm having a look at this, evenings only. If others are already working on it. Let me know.

[2015-04-29 12:05] bryce-anderson commented on #179
Sounds great! Keep us posted.

[2015-04-29 14:36] #257 closed

[2015-04-29 14:37] rossabaker opened #260 "Middleware to making trailing '/' optional in DSL"
It was optional before #259.  It should still be optionally optional. :)

[2015-05-04 14:10] bryce-anderson commented on #216
Commit c3be3a352ec4d3ecb07dc8baf9b13d309880b00f should adddress this to the extent possible by our server architecture. There is will likely be bugs etc that need to be addressed, but http2 is now a thing in http4s.

[2015-05-04 14:10] #216 closed

[2015-05-04 14:11] bryce-anderson commented on #236
This should have been closed long ago.

[2015-05-04 14:11] #236 closed

[2015-05-04 14:12] bryce-anderson commented on #158
It should be noted that Java 7 has officially reached EOL.

[2015-05-04 14:14] #215 closed

[2015-05-04 14:16] bryce-anderson commented on #232
This looks like it should have been closed. @kryptt, please reopen if this is still an issue. We seem to have gotten behind on our issue tracking.

[2015-05-04 14:16] #232 closed

[2015-05-07 19:38] bryce-anderson opened #265 "Static file service"
While a lot of people will probably want to serve their files from nginx or some other dedicated file server when pushing static content to the wire, I often find myself cut and pasting the ```ResourceCache``` class I slapped together for the demo. It would be pretty convenient to have a pre packaged file service. In my minds eye, I see this supporting:
* Actual files
* Static resources
* Caching

[2015-05-07 20:52] ritschwumm commented on #265
As soon as you have somewhat bigger resources (video, audio..) you probably want to support ranges

[2015-05-07 21:07] LeifW commented on #265
I've liked using the "static app" thing over on WAI:
https://hackage.haskell.org/package/wai-app-static-3.0.1/docs/Network-Wai-Application-Static.html
Just takes some settings, and gives you an "Application" (Application is their Request => Response type alias)
They also provide 4 different settings objects to use (or use as a starting point), with defaults suited for webapps, static file servers,

[2015-05-10 21:29] bryce-anderson commented on #226
Hi @toby5box, clearly this has been neglected: sorry about that.

First things first, I believe the base64 alphabet is correct it is consistent with [rfc 4648](http://tools.ietf.org/html/rfc4648#section-4 ).

The reason it is matching the token is that definition of base64 is only used in ```BasicCredentialDef```. It is using the definition of ```Token```, found [here](https://github.com/http4s/ht

[2015-05-10 23:39] toby5box commented on #226
Ah yes, I misread, I am not familiar with this grammar syntax.

It's working for me, but I use only Json web tokens, which use the url-safe alphabet. To properly support oauth2 tokens it looks like you'd have to support both base64 alphabets per rfc.

Btw, the rule for CTL looks wrong? Shouldn't that be 0x00-0x1f and 0x7f?

[2015-05-10 23:59] bryce-anderson commented on #226
Excellent eye, yes, CTL does look wrong. I'm going to have quite a queue of PRs after tonight. :smile:

The definition of [```b64token```](https://github.com/http4s/http4s/pull/267/files#diff-97a7725d4b4f752d4fcf6b47c3e0ed39R68) should follow [rfc 6750](https://tools.ietf.org/html/rfc6750#page-5). Let me know if PR #267 isn't quite right.

[2015-05-11 00:07] bryce-anderson commented on #218
This should be closed by commit 1cc3619e6e4816145c60b6241539c5c53b999d12. Thanks @kryptt for the middleware. Please reopen if closing this is an error.

[2015-05-11 00:07] #218 closed

[2015-05-11 00:24] bryce-anderson commented on #222
Let try to close this issue. If we want to change the definition of ```from``` we should change a few others things such as the definition of ```get(CaseInsensitiveString)``` so that we don't reparse headers. I'm partial to making ```from``` final and moving forward.

[2015-05-11 22:26] #226 closed

[2015-05-13 16:35] mossprescott opened #270 "Incompatible scalaz-stream dependency in 0.7.0"
After upgrading to 0.7.0, I have warnings from SBT saying that there is a dependency on scalaz-stream 0.6a, which is being evicted by another dependency on 0.7a.

The problem is apparently caused by the chain of http4s-argonaut (0.7.0) -> http4s-jawn (0.7.0) -> jawn-streamz (0.3.1). jawn-streamz hasn't been updated in maven central since Dec 2014.

The project seems to build and run fine, but the

[2015-05-13 16:57] bryce-anderson commented on #270
@mossprescott, I think you're right; ```jawn-streamz``` appears to not have been updated before the release. @rossabaker, do you have time to do a release of that? I don't know much about the details of it.

[2015-05-15 14:15] jonoabroad commented on #179
Hi, my  wife has just giving birth and so this ticket is going to go a little slower than expected from now. Current changes are in my fork and I'm hoping to process them as time permits.
They are not ready for integration and are missing form header decoding.
Also I am beginning to think the implementation maybe naive.
I'd like Naive and working, over nothing.
Anyway - Let me know what peoples th

[2015-05-15 15:49] bryce-anderson commented on #179
Congratulations on the new addition to the family! I'll try take a look at your work in your fork as time permits.

[2015-05-15 16:56] bryce-anderson commented on #265
I've made some progress on this. See PR #271. I'd appreciate comments, etc.

[2015-05-16 04:21] #222 closed

[2015-05-17 03:27] rossabaker commented on #270
I just released jawn-streamz-0.4.1.  I'll get it merged here after it syncs to Maven Central.

[2015-05-22 04:37] jonoabroad commented on #179
I should have said, it is in a branch -- https://github.com/jonoabroad/http4s/tree/issue/179

[2015-05-28 10:40] Verneri commented on #231
It seems i have this problem with java 8 but not with java 7. (and i'm using http4s v0.7.0)

[2015-05-29 16:30] balatbn opened #275 "Add automatic redirect capability to HTTP client"
Currently HTTP client doesn't redirect. This is a common use case and it would be great if client natively supports it(may be controlled by a flag like AsyncHttpClient does)

[2015-05-29 17:31] bryce-anderson commented on #275
I agree, that would be nice. I probably wont jump right on this one, so if someone wants to put in a PR, let it be known here so I can mark this 'In Progress'.

[2015-05-29 18:18] balatbn commented on #275
I can work on this. However, I'm pretty new to scalaz and http4s. Any pointers on how this problem can be approached?

[2015-05-29 18:26] bryce-anderson commented on #275
The fundamental method used by the client before entering backend specifics is found [here](https://github.com/http4s/http4s/blob/master/client/src/main/scala/org/http4s/client/Client.scala#L17). I suspect the best way to do this would be to have modify the ```Client``` trait to examine the response code and, if a redirect, just do another request with the redirect address.

I wonder how often thi

[2015-05-30 22:43] bryce-anderson commented on #176
I have an experiment for this on the branch [wip/parsersOnKeys](https://github.com/http4s/http4s/tree/wip/parsersOnKeys).

[2015-05-31 18:54] bryce-anderson commented on #265
Closed by 411805fbd85034a614732e74efab4e95c17f138b.

[2015-05-31 18:54] #265 closed

[2015-06-03 09:44] driak opened #279 "content-type charset for media-type 'application/json' should default to UTF-8"
Hi,

When working with json it seems the HTTP4S uses the wrong character set encoding, resulting in garbled string values.

A json property value containing the UTF-8 character \u00EB  ('ë') turns into something like 'Ã«'.

This is apparent when working with a library like couchdb-scala (https://github.com/beloglazov/couchdb-scala).

------------- Update : some more context, validation of the issu

[2015-06-03 11:34] bryce-anderson commented on #279
Can you elaborate the circumstances where this happens? Eg, which JSON library are you using?

[2015-06-04 00:35] mdedetrich commented on #275
You definitely need to add a max cap for redirect loop, to prevent either infinite recursion or stack overflow. @bryce-anderson Probably some value like 100 that is a default argument that is passed in the config case class, already had debate about config before and we decided that its out of http4s design goals

[2015-06-04 01:25] bryce-anderson commented on #275
@mdedetrich, this is implemented as a middleware which determines the redirect count. See [here](https://github.com/http4s/http4s/pull/276/files#diff-b62f0986510fcc7d716006e4f0147d1bR12) for details.

That PR is ready IMO, just waiting for a last review.

[2015-06-04 01:31] #275 closed

[2015-06-04 07:46] driak commented on #279
Yes, of course... see update in the issue description.

[2015-06-04 19:16] bryce-anderson commented on #279
What a thorough analysis if the problem, thank you.

Looking through chouchdb-scala, it looks like the request body is being decoded as a ```String``` and not through an intermediate Json tree. There are a lot of ```message.as[String]``` calls in the [client code](https://github.com/beloglazov/couchdb-scala/blob/fb5a7a7e883e710c362dc782361951d234f8a42c/src/main/scala/com/ibm/couchdb/core/Client.sc

[2015-06-04 19:56] beloglazov commented on #279
Thanks for looking into this! I'm happy to make the necessary changes on the couchdb-scala side.

[2015-06-04 20:45] driak commented on #279
Thanks a lot for backing this up!

I totally agree that it is ultimately the client's responsibility to decide if it wants to override the default character encoding of a response, but might it also be a good idea to have Http4s use a sane default when the client does not explicitly define one (using the as[String] on an 'application/json')?

Character encoding issues are always tough to detect an

[2015-06-04 21:27] bryce-anderson commented on #279
OK, my plan is to add the ```Option[Charset]``` as a parameter to the ```EntityDecoder.decodeString``` function. I don't know when this will get into a release, the 0.8 release hasn't come up yet in discussion. That said, it tends to move faster if someone is waiting on it.

@beloglazov, once that happens the changes can be made to couchdb-scala.

Let me know if there are objections to that plan.

[2015-06-05 06:42] driak commented on #279
Sounds great! Thanks to all!
I for one am definitely looking forward to the https 0.8 release (and the subsequent update to couchdb-scala) since we are depending on special characters.
(Until the fix is available we're 'surviving' using a locally build version of http4s-core that simply sets the global default character set to UTF-8.)

[2015-06-06 00:00] balatbn opened #282 "Per request timeout for HTTP client"
Can we have per request timeout to HTTP client? This would be helpful in case we need to call multiple backend servers, with server specific timeouts.

[2015-06-06 02:28] rossabaker commented on #282
[thinking out loud]  Would the timeout be provided on the call, or some sort of function to map requests to timeouts?  The former could be based on the latter, I suppose.

[2015-06-06 06:40] balatbn commented on #282
Does the Client interface support making multiple calls with a list/seq? If not, wouldn't adding a timeout parameter be simpler?

[2015-06-06 13:15] julien-truffaut commented on #282
I would like a timeout parameter on the call, maybe defaulted to `Duration.Inf`

[2015-06-06 13:52] bryce-anderson commented on #282
The only problem I foresee is that there are many calls, some with the same names so we cannot simply have defaults. We can overload the methods, so it shouldn't be a big problem, it will just make the API quite noisy.
Also, I'd rather have the default be the default setting specified per client, not just ```Duration.Inf```, but that would mean we need to introduce a ```protected def defaultClient

[2015-06-07 21:39] bryce-anderson commented on #270
I believe this is closed by f73d37e. Please reopen if problem persists.

[2015-06-08 01:38] #260 closed

[2015-06-13 18:53] bryce-anderson commented on #234
__Note:__ I renamed the issue as its not a blaze issue, but a dsl issue.

[2015-06-14 00:49] rossabaker opened #288 "No implicit UrlForm EntityEncoder. Why?"
Is there a good reason we did not make this implicit, with an implicit charset?  We use this pattern elsewhere (i.e., stringEncoder).

[code]

/cc @adelbertc

[2015-06-14 02:57] bryce-anderson commented on #288
I can't think of one.
On Jun 13, 2015 8:49 PM, "Ross A. Baker" <notifications@github.com> wrote:

[2015-06-15 15:18] bryce-anderson commented on #176
Closed by #287. It was decided, for now, that it is better to keep a global parser registry. This allows code to 'know' where the parsers are and allows for operations that need to know more information such as if a header can be recurring or not.

The issue may come up again in the future, but I think this is closed for now.

[2015-06-15 15:18] #176 closed

[2015-06-15 18:51] bryce-anderson commented on #288
Closed by f85d947e8fec24f37d5a3ed030a54a1659c04354.

[2015-06-15 18:51] #288 closed

[2015-06-16 02:05] mdedetrich commented on #104
A thread just appeared in Reddit on how to create typed Maps, i.e. http://aakashns.github.io/typed-map.html, which can probably be extended to work with http4s.

It uses scala-reflect, but figuring out if this is just for the compiler to figure out the types at compile time, or runtime

[2015-06-17 12:10] bryce-anderson commented on #279
This should be fixed on our end. Let me know if we can be of help with patching couchdb-scala.

[2015-06-17 12:10] #279 closed

[2015-06-17 12:23] martijnhoekstra opened #294 "client tests fail on windows"
The tests `org.http4s.client.blaze.BlazePooledHttp1ClientSpec` and `org.http4s.client.blaze.BlazeSimpleHttp1ClientSpec` fail on Windows

The stacktraces are

    [info] ! Execute GET: http://localhost:37920/simple
    [error]    IOException: : The format of the specified network name is invalid.
    [error]   (null:-1)
    [error] sun.nio.ch.Iocp.translateErrorToIOException(Unknown Source)
    [er

[2015-06-17 12:23] martijnhoekstra commented on #294
the tests fail for both /simple and /chunked

[2015-06-17 12:38] bryce-anderson commented on #294
Without trying it out, this seems to be a difference in interpretation of localhost between OS's. Have you tried running requests other than the tests?

[2015-06-17 13:05] martijnhoekstra commented on #294
the example client works "fine" (it throws an exception on trying to parse JSON from https://twitter.com/doesnt_exist ,which despite it's name implying the opposite, does exist), this seems mainly a test issue

[2015-06-17 20:37] recompilecom opened #296 "Can't get WebSockets Example to Work"
The changes made on March 30 to `server/src/main/scala/org/http4s/server/websocket/package.scala` and `examples/blaze/src/main/scala/com/example/http4s/blaze/BlazeWebSocketExample.scala` seem not to be compatible. If you use the example as is:

    WS(Exchange(src, t.publish))

Your web client gets `501 Not Implemented` from this default value of `status` in the call to `ws`:

    status: Task[Res

[2015-06-17 21:25] bryce-anderson commented on #296
It works for me. One issue I can see is not following the server setup in the BlazeWebSocketExample.scala file. Its not a normal setup as websocket support is mixed as a trait, which is perhaps something that should be changed. What you're seeing is a normal HTTP response which can happen if WS support isn't mixed in or if you are just doing a normal HTTP request.

[2015-06-17 22:10] #204 closed

[2015-06-17 22:19] recompilecom commented on #296
Yes, I can see now that was the issue -- I was mixing this from the main
examples page:

 BlazeBuilder.bindHttp(8080)
   .mountService(ExampleService.service, "/http4s")
   .run
   .awaitShutdown()

So now when I try and

import org.http4s.blaze.channel.nio1.NIO1SocketServerGroup

I get:  object NIO1SocketServerGroup is not a member of package
org.http4s.blaze.channel.nio1

Is it possible to use "

[2015-06-17 22:47] bryce-anderson commented on #296
Funny, that should work. Are you using the latest release, 0.8.1? ```NIO1SocketServerGroup``` was renamed from ```NIO1SocketServerChannelFactory``` in the 0.8.x series.

[2015-06-17 22:48] bryce-anderson commented on #296
And no, its not possible to use it with``` BlazeBuilder.bindHttp()```. In the future it may end up integrated by default, maybe not.

[2015-06-17 22:50] bryce-anderson commented on #296
I'm going to close this as an issue. Feel free to join us in gitter.im/http4s/http4s for more discussion!

[2015-06-17 22:50] #296 closed

[2015-06-18 13:55] gpampara opened #299 "Static content service does not serve static files in an assembled jar"
Creating a simple project that has a set of resources in a directory like `src/main/resources/static` results in a working serving of these resources when run from SBT, but when creating an assembled jar (e.g: using sbt-assembly) the resulting jar starts up but is not able to serve the resources.

This is probably related to the URL that is created for the give resources, which is different when s

[2015-06-18 13:57] gpampara commented on #299
Sample that illustrates the error: https://gist.github.com/gpampara/e6be20fe86d73f8a1627

Resource is placed in the directory `src/main/resources/dashboard`

[2015-06-18 17:45] bryce-anderson commented on #299
This is a problem with how URL's are accepted for resources in the classpath vs the filesystem. The filesystem (at least in my testing) will accept something like /foo//bar.txt while it won't find a resource with the same Url. I think the best thing to do would be to normalize on what each prefix means.

I'll try to get this fixed sooner than later, but as a quick fix, you can change the config pa

[2015-06-18 19:46] #299 closed

[2015-06-18 20:05] mossprescott opened #301 "MediaType does not properly encode extensions"
MediaTypes are properly decoded during parsing, but `MediaType.render` makes a pretty half-hearted attempt to encode them, handling spaces but not any of the other special characters, including `"` and `;`.

This make it impossible to use the pre-defined `Content-Type` in a response if the MediaType involves any of these characters.

See https://github.com/http4s/http4s/blob/master/core/src/main/s

[2015-06-18 20:22] bryce-anderson commented on #301
Looks like a bug to me. Is this a relevant RFC to follow in addressing the problem? https://tools.ietf.org/html/rfc7230#section-3.2.6

[2015-06-18 21:44] mossprescott commented on #301
I believe that's the right place to go for the `quoted-string` syntax, however, there seem to be special rules for when quoting is required, which you can see here https://tools.ietf.org/html/rfc2045#section-5.1 and on the last page of the same RFC. That's a very old RFC, but there doesn't seem to be any update that affects ASCII values.

[2015-06-18 21:47] mossprescott commented on #301
Also probably worth pointing out that http4s's [AcceptHeader parser](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/parser/AcceptHeader.scala) *seems* to do the right thing, so testing rendering against it is probably a good idea.

[2015-06-18 22:43] jedesah opened #303 "Update documentation website to reflect latest version"
The website only has Scala Doc for version `0.6 (stable)` and `0.7 (snapshot)` releases. However, it is my understanding that version `0.8.1` has been released.

In addition the examples on the home page seem to use an API which does not exist anymore in version `0.8.1`

[2015-06-18 22:52] jedesah commented on #303
Please disregard the last part of the above description about some parts of the API disappearing. I did not think that I needed to depend on a specific backend in order to make a description for a service, but it would appear I do.

Still, it would be nice if the website was updated to provide a link towards the scaladoc of the new releases.

[2015-06-19 01:07] rossabaker commented on #303
We've automated the deployments of the scaladoc, but not the generation of the menu.  Thanks for catching this!

I'm not quite sure what you mean about a "specific backend for a description of a service."  An `HttpService` can stand alone and be mounted to any backend.  Do you mean abstracting the server configuration itself (e.g., port)?

[2015-06-19 15:00] bryce-anderson commented on #301
This will be fixed in the 0.8.2 release happening today. If you want to make sure things are as you need, the branch that will be the release is [here](https://github.com/http4s/http4s/tree/release-0.8.2).

[2015-06-19 15:29] mossprescott commented on #301
Taking a look right now. Thanks for the quick turnaround!

[2015-06-19 15:48] rossabaker commented on #301
0.8.2-SNAPSHOT is published in case you want to try it before it gets etched in Maven Central stone.

[2015-06-19 16:13] mossprescott commented on #270
Looks like I'm having a similar issue with 0.8.2-SNAPSHOT. Now the versions of scalaz-stream are 0.7a (required by jawn-streamz 0.4.1) and 0.7.1a (required by http4s-core). Again, this is based on what I get from `what-depends-on`.

[2015-06-19 17:22] jedesah commented on #303
I was trying to say that it appeared to me yesterday (maybe I screwed something up) as though I needed to add a dependency to a specific backend before I could create a `HttpService` because if not the class was not present in `http4s-dsl` jar.

[2015-06-19 19:35] rossabaker commented on #270
I thought those were binary compatible and 0.7.1a would win, but let's cut a new release of jawn-streamz to remove all confusion.

[2015-06-19 23:14] #270 closed

[2015-06-19 23:18] rossabaker commented on #303
Ah, okay.  I want to document which modules are necessary for which tasks, so I'm going to leave this open to make things clearer.

http4s-server is the bare minimum to define an HttpService.  Most applications will want to depend on either [rho](/http4s/rho) or http4s-dsl, which pull in http4s-server transitively.  And then to run it, you would typically add your choice of http4s-blaze, http4s-je

[2015-06-20 00:18] runarorama opened #305 "Blaze Client: Timeout results in unhelpful error"
When `PooledHttp1Client` connections time out (given the timeout in the `PooledHttp1Client` constructor), the following exception is thrown:

[code]

It would be super helpful to get an exception that indicates a timeout before the NIO hits the unexpected EOF.

[2015-06-20 00:22] bryce-anderson commented on #305
Thanks for the ticket. Could you specify the blaze version you're using? I'm going to guess 0.8.1 but let me know if its something else.

[2015-06-20 00:26] rossabaker commented on #305
"Bug" label was a bit harsh, but still, :+1: to improving this experience.

[2015-06-22 19:49] #301 closed

[2015-06-22 21:26] bryce-anderson commented on #305
This should be fixed in this specific case by commit 1f1e1606f2f290b152b2f172. @runarorama, thanks for the bug report and please reopen if need be.

[2015-06-22 21:26] #305 closed

[2015-06-22 22:34] bryce-anderson opened #308 "Would adding a defined charset to the MediaType be worth the trouble?"
Due to the recent [fun with the couchdb library](https://github.com/beloglazov/couchdb-scala/pull/5) and the handling of UTF-8 character encoding, the suggestion/question has come up concerning adding a default `Charset` to each defined `MediaType`.

For JSON, the encoding is **defined** to be `UTF-8`. This would be good information to know when interpreting a JSON body as a `String`, which has a

[2015-06-23 02:26] rossabaker commented on #308
I suggested it as an optional property of the `MediaType`, but even that is insufficient: in XML, the encoding comes from the prolog, meaning the answer depends on the entity body. :(

[2015-06-23 18:26] rossabaker commented on #308
Relevant: https://tools.ietf.org/html/rfc6657#page-3

[2015-06-23 21:04] jedesah opened #310 "Fix blaze websocket server example"
If I run the websocket server example for blaze from the `examples-blaze` sub-project

`runMain com.example.http4s.blaze.BlazeWebSocketExample`

and point the [websocket.org echo client](http://www.websocket.org/echo.html) at it, it fails during connection with the following error:

[code]

For control, I spun up a sample [Unfiltered](https://github.com/unfiltered/unfiltered) websocket server and

[2015-06-23 21:26] bryce-anderson commented on #310
Works for me! Are you using the latest master? What is the url you're connecting with? `ws://localhost:8080/http4s/wsecho` and `ws://localhost:8080/http4s/ws` both work for me. What browser are you using? I've tested with current Chrome and Firefox.

[2015-06-23 21:53] jedesah commented on #310
@bryce-anderson It works for me too. I was using the wrong url, missing the `http4s` part.

Sorry about that.

[2015-06-24 04:34] rossabaker commented on #308
On the heels of #312, `MediaType` could take a signature like:

[code]

That construction would support inspecting the payload to determine the encoding. `Message.bodyAsText` could then delegate to that.  Whether that's worthwhile, I'm less certain.

[2015-06-25 01:43] rossabaker opened #313 "examples-blaze fails under Java 7"
[code]
leads to

[code]

This is related to the apn_boot library requiring Java 8.  I'm fine stating that HTTP2 support requires Java 8, and hacking around this in the build.

I'd say it's time to revisit #158, but the fact that another user found it suggests to me that we'd still be leaving people behind.

CC: @jonoabroad

[2015-06-25 17:26] bryce-anderson opened #315 "Task[Option[Response]] vs Option[Task[Response]] again..."
It is time to revisit the question of whether our `Service` type should be based on `Task[Option[Response]]` or `Option[Task[Response]]`.

__Pros for `Task[Option[Response]]`__
* Routing can be asynchronous. For example, a service can check a database for a `route`.

__Pros for `Option[Task[Response]]`__
* `Middleware` can determine if a route will be matched. This is important for middleware such

[2015-06-25 18:11] rossabaker commented on #315
`Task[Option[Response]]` is more general, because `Option[Task[Response]]` can be sequenced to it.  That's how we construct an `HttpService` from a partial function.  That extra generality is what's causing the problems for authentication.

I would like to hear a real-world example of someone exploiting the `Task[Option[_]]` order.

[2015-06-25 19:47] jedesah opened #316 "Explore alternative API for websocket server programming"
As talked about in #311, it is unfortunate that an echo server requires a `Queue` and I have spent a little time to explore whether a better API might be possible.

As suggested by @rossabaker, I tried modifying the [chat server in the demo application](https://github.com/http4s/http4s_demo/blob/b8b4781aa904ec65a37f029cfb6e1adc7118837a/src/main/scala/org/http4s/example/Routes.scala#L33-L47) to fit

[2015-06-25 19:56] frehn commented on #315
Would `Task[Option[Task[Response]]]` work? :grin:

[2015-06-25 20:36] bryce-anderson commented on #316
I think we should pull a streams expert into the discussion. @djspiewak comes to mind as a http4s user and stream contributor, I hope he doesn't mind being called out :smile:.

I tend to agree that the ```Process => Process``` signature would be ideal for situations where the server just receives a series of messages for which each gets a response. However needing to do an ```awaitAsync``` is a re

[2015-06-25 20:56] bryce-anderson commented on #315
@frehn, I think that might have been brought up before in the old discussion (the one I can't find the issue number of). The type signature is a little intimidating and the dual `Task` makes the purpose of each hard to intuit from the type signature alone. On the other hand, it does give us the properties we want, so long as its used correctly. There is room for abuse in that we could mimic the be

[2015-06-25 21:08] jedesah commented on #316
It doesn't need to be that each and every message that comes in needs to have an equivalent response going out. It just needs to be that the output stream is pulling from the input stream somehow.

New idea just in, maybe the ideal solution is to have a constructor for `Exchange` that takes a `Process => Process`, let me have a look at that.

What I like about `Exchange` is that you can't really g

[2015-06-25 21:34] jedesah commented on #316
This confuses me:
[code]

Because in http4s, the `read` parameter is the process who's values get sent to the client and the `write` parameter is the sink to which client requests are sent. It would appear that things are inverted.

Is it just me?

[2015-06-25 21:36] bryce-anderson commented on #316
I suppose its not out of the question to support returning multiple types of websocket responses. Just want to read data? How about a WS(mySink). Just want to write data? How about a WS(myProcess)? etc. The problem with that is opening up a can of worms as to what is good enough to get special treatment. It also starts to become more of a DSL than just an API.

[2015-06-26 14:17] #294 closed

[2015-06-26 15:24] djspiewak commented on #316
The most idiomatic thing to do here is definitely an `Exchange`.  We do have some experiments going on in the `tcp` module (the new and not-working NIO API) that replace `Exchange` with a `Process` that runs in a reader monad, taking the connection in from the "outside".  This has some advantages and disadvantages, but more important it isn't really part of the public API (the specialized reader m

[2015-06-26 18:31] jedesah commented on #316
@djspiewak Yes the chat server requires either a `Topic` or a `Queue`. The problem (which I describe in PR #311) is that a `Queue` should not be required for an echo server or any simple server that transforms an input stream into an output stream.

I just realized that this is the exact same scenario as with [streaming in Remotely](https://github.com/oncue/remotely/pull/79) (don't know why I didn

[2015-06-26 21:22] kryptt commented on #315
I truely hesitate is suggesting this, but: what about a new monad than can be both? Similar to scalaz.These

so:  `These[Task[Option[Response]], Option[Task[Response]]]`
The underlying representation is Task[Option[Response], but requesting the right side yields forces an evalution of the task ?

[2015-06-27 03:43] rossabaker commented on #315
A good signature fixes the above spec while not making this library painful to use. :)

[2015-06-27 15:06] djspiewak commented on #316
The problem with the `Process => Process` model is that it doesn't give you a "first class" representation of the "writer".  You just produce data, you don't actively write it.  This is an extremely meaningful difference when you're trying to compose exchanges themselves.  For example, we have a function called `Network` which has the following simplified type:

[code]

So in other words, it's a n

[2015-06-27 17:13] kryptt commented on #315
`Task[Option[Task]]` allows Authorization middlewares to thread through to the option while keeping things async and the response unevaluated.

[2015-06-27 18:50] rossabaker opened #320 "Uri parser is broken"
[code]

@kryptt points out it happens if the last octet >= 200.

[2015-06-28 00:35] bryce-anderson commented on #316
@djspiewak, thanks for joining the conversation, I've not had my fingers in stream for a while so you're expertise is invaluable.

I think its now clear that we should avoid a API where one would feel compelled to do a `runAsync` or a `run`. I've though about the
[code]
strategy, but that wasn't await of `merge`. (the former wouldn't be of any use for our chat example due to requiring termination

[2015-06-28 00:36] bryce-anderson commented on #320
Specifically, the IPv4 portion of our parser is broken. A PR is waiting for review.

[2015-06-28 04:10] #320 closed

[2015-06-28 04:11] rossabaker commented on #320
Fix will be released in v0.8.3.

[2015-06-28 04:19] rossabaker commented on #315
Seems that a couple of my comments did not get through.  Sorry if duplicate.

I agree that `Task[Option[Task[Response]]]` is sufficient for this problem, and could be wrapped in a custom monad.  I would still be interested to hear of anyone making an asynchronous routing decision in the real world before going three monads deep.

[2015-06-28 10:45] bryce-anderson commented on #315
I agree, three monads is a bit excessive unless there is a real need. Again, there is no guarantee that middleware don't mess up the order of 'responsibility' for the `Task`s (eg, the outer `Task` does effectual computations while the route hasn't even been selected) so `Task[Option[Task[Response]]]` is not foolproof.

[2015-06-29 14:02] rossabaker commented on #315
Regarding b9be35d,

* I think an investment in some richer combinators on `Service` would ease some of the pain in middlewares.  I wielded my duct tape and WD-40 until things compiled.

* The implementation of `Service.apply(PartialFunction[Request, Task[Response]])` is horrifying.  The `Task` returned by a partial function needs to be guarded in a `Task.suspend`, or else this burden falls on ever

[2015-06-29 15:05] bryce-anderson commented on #315
@rossabaker, that is a pretty good example of the pain of moving off of the status quo.

It should be noted that not all routing DSL's will have the same pain: rho should not be negatively effected by this change. Its 'action's are already guarded because they are just functions that have nothing to do with routing besides being the result of the routing.

That said, our basic dsl is certainly muc

[2015-06-29 15:41] kryptt commented on #315
How much more garbage is generated given the three monad approach ?
I've gotten into situations where the JVM can't keep up with the garbage generated by all the intermediary objects.
So maybe the step back, to evaluate if we actually do want that triple stack.

[2015-06-29 16:57] rossabaker commented on #315
A triple monad approach may benefit from a custom data type to elide the frequent `Task.now`s.  That's not a road I want to go down until we decide that the extra flexibility of this model is required.

I am fairly certain we could make the authentication spec pass under `Option[Task[_]]`.  It would require [this change](
https://github.com/http4s/http4s/commit/b9be35d2ea4dbaeacd8341c05d89ae8bfcac

[2015-06-29 19:42] rossabaker commented on #313
Fixed by #318.

[2015-06-29 19:42] #313 closed

[2015-06-29 20:21] rossabaker commented on #315
Note: I think the `Monad[Service[A, _]]` would be a casualty of the `Option[Task[_]]` solution.

[2015-06-29 20:56] rossabaker commented on #315
In the real world, `FileService` and `ResourceService` determine whether to handle the route synchronously, but probably shouldn't.

[2015-06-30 00:52] jedesah commented on #316
Okay, so I have thought a lot about the problem these past few days. I think the problem is with `Topic`. `Topic` and `Queue` both very much go against the pull model of scalaz-stream. You push into a `Queue` or `Topic` and this effect unblocks an awaiting stream such as `subscribe` or `dequeue`. `Queue` is invaluable in order to implement a server, because values are coming in no matter what and

[2015-06-30 04:20] stephenjudkins opened #322 "Consider using alternative to `Files.probeContentType` for static content mime type"
It turns out that the implementation is buggy, not standard across platforms, and depends on `~/.mime.types` files. I'd argue that, since we have file extensions already in `MediaType`, guessing content types from that would be a preferable approach.

[2015-06-30 13:59] rossabaker commented on #322
I've heard good things about Apache Tika, but I wouldn't be excited about carrying around a new jar just for that.  There is also [Transparently improve Java 7 mime-type recognition with Apache Tika](https://odoepner.wordpress.com/2013/07/29/transparently-improve-java-7-mime-type-recognition-with-apache-tika), which is simultaneously intriguing and nauseating.

[2015-06-30 14:30] rossabaker commented on #315
Let me ask an entirely different question: what are the real-world use cases of the option?  Why not `type Service[A, B] = A => Task[B]`?

* Blaze uses them for mounting.  (Servlets use native servlet mapping.)  It's all prefix based, so `orElse`-chaining is not the only implementation.  In fact, a more efficient implementation is almost certainly possible.
* http4s-dsl is based on partial functio

[2015-06-30 15:02] bryce-anderson commented on #315
There is no reason we can't examine the response for a `NotFound` which, with a special `unapply`, shouldn't be any more difficult than looking for the `Option`. In that way, `Task[Response]` is just as useful as a `Task[Option[Response]]`.

However, `type Service[A,B] = A => Task[B]` will not help our middlware situation: in the case of an authorization, we still have to assume that the route wil

[2015-06-30 17:05] jedesah commented on #316
Out of curiosity, what happens if the `Sink` cannot handle inbound messages fast enough?

[2015-06-30 17:14] bryce-anderson commented on #316
Do you mean with the current implementation? Since the `Sink` is driving, there should be no such thing.

[2015-06-30 17:22] jedesah commented on #316
@bryce-anderson I am not sure I understand. My understanding is that the `Sink` is a potentially long running operation. In the meantime, the blaze server is receiving messages from the websocket client potentially very quickly. I don't believe the websocket protocol has a notion of backpressure or anything, so what happens if the client overloads the server because the `Sink` is too slow for the

[2015-06-30 17:30] bryce-anderson commented on #316
The `Sink` is what is pulling data from the socket connection. If its not pulling the blaze implementation (which is the only implementation we have right now) is not taking data off the socket. That should cause back pressure on the other end of the wire.

[2015-06-30 17:32] jedesah commented on #316
@bryce-anderson Hmm very interesting, that explains things, I guess I need to refresh my memory on socket programming.

[2015-06-30 19:21] rossabaker commented on #315
[code]

In `service`, `GET /public/baz` is protected by auth.  That, we all agree, sucks.

Hypothetical `service2` can solve the public problem in a pure `Task` model: the authenticated `adminService` is no longer what delegates to `publicService`.  The question is whether `/admin/blorp` should return a 404 or a 401.  Returning a 404 publicly leaks information about what's under admin by revealing

[2015-06-30 19:40] rossabaker commented on #315
I'm missing something.  Isn't `Option[Task[A]]` ideal for a partial function?  It's just a simple lift without any sequencing.  It falls apart, as noted, for asynchronous routing.

`Option[Task[A]]` does not lend itself well to a `Monad[F[A]]` or a handful of the other instances that exist, though I don't know how much practical use they've seen.

[2015-07-01 00:22] bryce-anderson commented on #315
@rossabaker, yes and no. It can be immediately transformed to Option[Task[A]], yes. However, and we currently don't do this right, `PartialFunction` can convolute execution and routing. Eg,
[code]
I'm sure there is a better way than `flatMap` but I don't know what the scala equivalent of `>>` is...

[2015-07-01 00:37] rossabaker commented on #315
I don't think that's a gotcha of just the PartialFunction model, but any model where the effects are not packaged in a Task.

It can also be done in a for comprehension:

[code]

Or, there are macros like [scrappy](https://github.com/puffnfresh/scrappy) and [effectful](https://github.com/pelotom/effectful).  Cool projects, though a bit uncomfortably magical.

[2015-07-01 14:25] djspiewak commented on #316
The `Sink` is indeed doing the pulling.  Also, you'll notice that each effect in the `Sink` is sequenced into the stream that results from `to` (or `through`, or `observe`).  In other words, each effect must be completed before more functions (to handle more events) can be synthesized, meaning that the `Sink` automatically slows down if it is having trouble keeping up.  Due to the pull model, this

[2015-07-01 16:49] jedesah commented on #316
I may be misunderstanding something here, but I see these two statements as contradictory.

So I guess the next step should be to rewrite the chat demo in order to avoid the use of `Topic`.

[2015-07-01 17:01] djspiewak commented on #316
Blaze itself is certainly propagating backpressure in the manner described.  In fact, what is happening is that backpressure on the source or sink propagates back into Blaze which in turn propagates into TCP itself, which actually has an explicit backpressure mechanism (in the form of backoff and frame size).  There would be more problems if UDP were the underlying protocol, but it's not!  So in o

[2015-07-01 17:07] jedesah commented on #316
@djspiewak Thanks for the awesome explanation! Things are much clearer to me now on what those two statements mean.

[2015-07-01 19:08] wpoosanguansit opened #323 "Can't execute applicative calls with import org.http4s.dsl._."
Hi,

I am not sure if this is intended and there is some setup that needs to be done for the code to use scalaz.  I am simply trying to use applicative for object init.  Something like:

9.some <*> {(_: Int) + 3}.some

doesn't compile if I do have import org.http4s.dsl._ along with import scalaz._ and import Scalaz._.  It compiles when I take it off.  Scalaz is the latest v. 7.1.3.  What should be

[2015-07-01 19:29] rossabaker commented on #323
It works with the following imports in place of the Scalaz wildcards:

[code]

It also works if `org.http4s.Http4s` does not extend `scalaz.std.AllInstances`.  That was done to reduce the "import tax", but may have been a bad idea.  Would any Scalaz experts like to chime in on proper import idiom?

[2015-07-01 19:40] bryce-anderson commented on #323
If we are thinking of supporting `cats`, maybe now is the time to drop the scalaz specific import tricks. Whether the `cats` business will happen is a whole different, and long, discussion.

[2015-07-01 19:53] rossabaker commented on #323
Does anybody else have that recurring nightmare where all their open source projects are run through the C preprocessor to handle directives like `#ifdef CATS` and `#ifdef SCALAZ` and then wake up in a cold sweat?

Whether and how Cats support happens depends on whether and how scalaz-stream handles the issue.  I don't want to reinvent Scalaz types, but if we can avoid gratuitous couplings like th

[2015-07-01 20:28] LeifW commented on #323
I like doing the specific imports, both to speed up compile times, and also things can sometimes go haywire with interactions when `scalaz.Scalaz._` is imported. Then again, I'm the kind of guy who favors naming specific things being imported over importing ._ in a lot of cases (I like to see explicitly where identifiers are coming from). My coworkers at my last job would complain "I don't want to

[2015-07-01 20:30] rossabaker commented on #323
Yes, I've always avoided the Scalaz wild card imports.  I think it follows in that same spirit that we not extend `AllInstances` ourselves.

[2015-07-01 20:58] #323 closed

[2015-07-02 15:39] ShengC opened #327 "bufferSize in Gzip middleware factory method is not used in the body stream of response"
def apply(service: HttpService, buffersize: Int = 512, level: Int = Deflater.DEFAULT_COMPRESSION): HttpService = {
    ...
              val b = emit(ByteVector.view(header)) ++
                        resp.body.pipe(scalaz.stream.compress.deflate(level = level, nowrap = true))
              // shouldn't it be
              // val b = emit(ByteVector.view(header)) ++
              //          resp

[2015-07-02 15:56] rossabaker commented on #327
Yes, thank you!

[2015-07-02 17:13] jedesah opened #329 "Code references are broken on home page"

[2015-07-02 17:37] rossabaker commented on #329
Fixed by a6807e32fd9b0a2536e68d635f1d4b491e866c4b.

I plan to make this more robust with sbt-tut soon.

[2015-07-02 17:37] #329 closed

[2015-07-02 17:39] rossabaker commented on #327
Will be releated in v0.8.4.

[2015-07-02 17:39] #327 closed

[2015-07-02 18:22] jedesah opened #330 "Add client support for websockets"
It is currently possible to implement a server that exposes a websocket endpoint. However we currently do not provide support for consuming websockets through the client.

[2015-07-02 19:16] rossabaker commented on #33
On the one-year anniversary of the last comment, and the opening of #330 ... what's to be done here?

[2015-07-02 19:55] bryce-anderson commented on #33
I think we can close it: we have more specific tickets on deck.

[2015-07-02 19:55] #33 closed

[2015-07-02 19:57] bryce-anderson commented on #330
As a start to getting this discussion rolling, is there a reasonable situation where a websocket client won't behave almost completely different than a regular client? Besides giving it a Url, and of course that fact that websocket is bootstrapped on a http request, it seems to me like they would be very different concepts.

[2015-07-02 19:58] jedesah commented on #330
Should the API look something like this?

    val greeting = "greeting"
    val resp = client(uri("ws://echo.websocket.org")).as[Exchange[WebSocketFrame, WebSocketFrame]].run

    val msgStream: Process[Task, WebSocketFrame] = Process[WebSocketFrame](Text(greeting), Close())

    msgStream.to(resp.write).run.run
    resp.read.runLog.run mustEqual List(greeting)

[2015-07-02 20:14] bryce-anderson commented on #330
As with the server, I think we want to _give_ the client an `Exchange` so that the client can drive the execution. What you've posted looks to me like (no pun intended) a typical http POST request.

[2015-07-02 20:18] rossabaker opened #331 "Upgrade to Specs2-3.x"
It's easier to stay current than to stagnate.  That's the upgrade we missed last time.

[2015-07-02 20:22] jedesah commented on #330
But isn't the initial connection a typical http request that gets upgraded?

I am not sure I understand in what way the above example code does not *give* the client an `Exchange`. It seems to me that `resp` is an Exchange with which the client can drive the execution.

[2015-07-02 20:33] bryce-anderson commented on #330
In your example you've clearly transformed the body into an `Exchange` that will be stored in `resp`. That means its _your_ job to hook it up and drive it as you've done with all the `.run` business below.

Under the covers a websocket request starts as a http request, but your example above will fail due to not including an `Connection: upgrade` header. That means we need to include special seman

[2015-07-02 20:54] jedesah commented on #330
Okay, I understand your point better now.

Do you think it would be acceptable to add the headers `Connection: upgrade` and `Upgrade: websocket` if the URI being used contains `"ws:"` or `"wss:"`? Or is it better to have this happen more explicitly by providing an extra parameter to a call for a request? A `WebSocketClient` could also be an entirely separate class, but then some common logic might

[2015-07-02 22:07] jedesah commented on #330
Given that `http4s-servlet` does not appear to be it's own repo anymore, does it still make sense to have [http4s-websocket](https://github.com/http4s/http4s-websocket) as a separate repo?

[2015-07-02 22:21] rossabaker commented on #330
[blaze](https://github.com/http4s/blaze), not to be confused with http4s-blaze-core, uses http4s-websocket.  It was spun off from blaze so http4s-servlet can eventually use it.

[2015-07-02 22:23] jedesah commented on #330
Okay, I am a little confused, but if it's necessary. It's unfortunate though that we need to dump down the APIs.

[2015-07-02 22:30] rossabaker commented on #330
Think of blaze and http4s-websocket as completely unaware of http4s.  (Which makes the "http4s-websocket" name pretty unfortunate.  Hmm.)  Things that make sense for websockets as a wire protocol belong in http4s-websocket.  Things that make sense for websockets in conjuncton with the http4s model belong in http4s-core.  API for the client and server belong in http4s-client and http4s-server, resp

[2015-07-03 01:30] jedesah commented on #330
@rossabaker That makes sense. I would argue though that if websockets deserves it's own library that defines websocket concepts in a very abstract way, that it might make sense for HTTP to get the same treatment, a library that defines things like headers, response codes, media formats, etc in an abstract way, with nothing to do with scalaz-stream and such. And if that were the case, it might make

[2015-07-06 22:02] jedesah commented on #330
@rossabaker I re-read your comment this morning (way above) about the API "running" the `Exchange` for the client vs manual hookup. I get what you mean now, no need to provide an example, sorry for being slow.

Maybe that is the right approach, but I am not convinced. Such an approach would suffer from the same problem that the server side API for websocket suffers, that is, the necessity for the

[2015-07-06 22:25] jedesah commented on #330
On another note, to answer your original question @bryce-anderson, it is very true that a websocket client does not appear to share all that many things with a regular HTTP client. That being said, I think it would be nice to share the functionality around connection pooling if at all possible.

[2015-07-06 22:44] jedesah commented on #316
The discussion over on issue #330 made me want to explore another alternative here.

What if instead of asking for an `Exchange`, we provide one:

    case r @ GET -> Root / "wschat" / name =>

        def frameToMsg(f: WebSocketFrame) = f match {
            case Text(msg, _) => s"$name says: $msg"
            case _            => s"$name sent bad message! Booo..."
        }

        chatTopic.pu

[2015-07-06 23:09] jedesah commented on #331
As far as sbt in concerned, http4s does not depend on specs2 per say, it is a transitive dependency of scalaz-specs2, is that correct?

I might argue that it would make sense to declare a direct dependency, but in the mean time, I gather this task is to update scalaz-specs2 to 0.4?

[2015-07-07 13:07] bryce-anderson commented on #316
All the `.run` in there is a deal breaker in my eyes: its a sign that we're asking the user to drive execution. We want to ask for a computation that _we_ will execute on the users behalf, thus driving effects to the end of the world. Given, the example does return a `Task`, but the difficult part of crunching the `Process`es down to a single delayed computation is really the hard part while the o

[2015-07-07 13:07] #316 closed

[2015-07-07 17:46] jedesah commented on #316
@djspiewak I think you are the one that said that it is unfortunate that `Process.run` is called like so instead of `Process.compile` or something. Do you believe that providing a `Task` instead of a `Process` to the framework diminishes it's ability to orchestrate things?

[2015-07-08 04:31] rossabaker commented on #331
Correct.  Those two upgrades need to happen as a pair for reasons of binary compatibility.  A direct Specs2 could conceivably get us on the latest patch revision, but risks getting out ahead of scalaz-specs2.  I think it should remain transitive until we need otherwise.

[2015-07-08 05:23] rossabaker commented on #315
EntityLimiter is another middleware that would like to know whether a route is handled.  It might have a better case for letting slide through than auth, though it seems like a server-wide setting in most real usage.

[2015-07-08 10:38] alissapajer opened #333 "Uri parser fail"
Hello,

case 1: succeeds
[code]

case 2: fails
[code]

It seems when the provided IP address has three digits in the fourth block (`217` in case 2), the parser fails.

Background: The IP address in case 2 is the IP of a running docker container. According to [docker docs](https://docs.docker.com/articles/networking/) this address is chosen from the range RFC 1918. Reading the http4s [Uri source](h

[2015-07-08 12:09] bryce-anderson commented on #333
Which version are you using? Commit 2e9254c925a01d435b53597a0979b54ba038b435 should have fixed this and is available in 0.8.3.

[2015-07-08 12:12] alissapajer commented on #333
I'm back on 0.7.0, it seems. I'll try out the later version, thanks!

[2015-07-08 12:27] alissapajer commented on #333
Fix is confirmed:

[code]

Thanks!

[2015-07-08 12:27] #333 closed

[2015-07-08 19:28] ShengC opened #334 "websocket not closed properly ?"
created a route like this...

      import scalaz.stream._
      import scalaz.concurrent._

      val queue = async.boundedQueue[String](10)

      import scalaz.syntax.monad._

      val src = queue.dequeue.map(Text(_)).onComplete(Process.eval_(Task.delay(Console.println("I'm done!")) >> queue.close))

      WS(Exchange(src, Process.halt))

point browser to do websocket connection with server us

[2015-07-08 20:21] jedesah commented on #316
This is the solution:

    case r @ GET -> Root / "wschat" / name =>

      def frameToMsg(f: WebSocketFrame) = f match {
        case Text(msg, _) => s"$name says: $msg"
        case _            => s"$name sent bad message! Booo..."
      }

      chatTopic.publishOne(s"New user '$name' joined chat")
        .flatMap {_ => WS { in =>

          val receiveMsgs = in.map(frameToMsg).onComplete(Pro

[2015-07-08 20:29] djspiewak commented on #316
@jedesah To answer your question from earlier, compiling to `Task` and then composing using its concurrency primitives rather than those of `Process` removes scheduling and fairness control from `Process`, which is very very much a bad thing.  It also destroys the ability for `Process` to correctly propagate interrupt semantics.  Basically, your compiled process will just… stop, and without having

[2015-07-08 20:37] ShengC commented on #334
Reading Http4sWSStage, and here is the sink code for Exchange.read ...

   def sink: Sink[Task, WebSocketFrame] = {
      def go(frame: WebSocketFrame): Task[Unit] = {
        Task.async { cb =>
          if (!alive) cb(-\/(Terminated(End)))
          else {
            channelWrite(frame).onComplete {
              case Success(_)           => cb(\/-(()))
              case Failure(Command.EOF) =

[2015-07-08 20:57] jedesah commented on #316
First of all, thx for your answer on compiling to a Monad and comments on the proposal. I have a few comments inline:

In the current model, the `Sink` is not used to write to but rather to receive input from the client, which strikes me as odd and I believe awkward to use in the general case (although it works pretty well with `Topic` and the chat server example).

Agreed. IMHO the default should

[2015-07-08 21:17] djspiewak commented on #316
Sorry, my comment was a little indirect.  Whenever you see a `merge . drain` in your code somewhere, it means you have "free effects" that you're just trying to awkwardly fold into `Process`.  This is often very unavoidable, which is part of why I called attention to it earlier in the thread, so I'm in no way saying that it's an anti-pattern.  It's just an interesting flag that indicates the prese

[2015-07-08 21:45] bryce-anderson commented on #334
That is a bit of a nasty situation. I'll look into it some more.

Fair warning: this is pretty low on my priority list right now, but PR's are welcome. :smile:

[2015-07-09 01:49] ShengC commented on #334
Not sure how this can be unit tested - I tested it in the browser with the custom route and it fixed that problem.

[2015-07-09 17:58] mossprescott opened #336 "idleTimeout does not work with Jetty backend"
When a service yields a task that takes a long time to produce a response (see `/slow` in the code below), the Blaze backend will drop the socket after `idleTimeout` has elapsed. The Jetty backend:

1. Keeps the connection open for 30 seconds, ignoring `idleTimeout`.
2. Then returns a 200 OK with no body.

[code]

[2015-07-09 18:04] mossprescott opened #337 "Exceptions and Task failure not handled in Jetty backend"
When a service either throws an exception or yields a task that fails (see `/throw` and `/fail` in the code below), the Blaze backend immediately produces a 500 response. The Jetty backend:

1. Keeps the connection open for 30 seconds, ignoring `idleTimeout`.
2. Then returns a 200 OK with no body.

Obviously, one can fix this problem at the source but this behavior, especially the 30 second delay,

[2015-07-09 18:15] bryce-anderson commented on #337
If you don't mind, what version of http4s are you using?

[2015-07-09 18:18] mossprescott commented on #337
Sorry, this is http4s 0.8.2.

[2015-07-09 19:00] mossprescott opened #338 "Blaze backend doesn't route requests by path"
If multiple services are mounted with different prefixes, the Jetty backend will map requests to just the correct service in what seems to be a reasonable way, with only matching request paths being handled by each service, and the prefix stripped from the path by the time it reaches the service.

With the Blaze backend, all requests seem to be offered to the last-mounted service first, and the pa

[2015-07-09 21:44] mossprescott commented on #338
Here's my workaround, which makes the Blaze backend usable:

[code]

[2015-07-09 22:00] bryce-anderson commented on #338
As a quick tidbit, your `Prefix` middleware looks an awful lot like the [`UriTranslation`](https://github.com/http4s/http4s/blob/master/server/src/main/scala/org/http4s/server/middleware/URITranslation.scala) middleware used by blaze to simulate the path prefix behavior.

You're right, the prefix isn't checked which is ridiculous. If memory serves me, at one point `UriTranslation` was much the sam

[2015-07-09 22:14] bryce-anderson commented on #338
I've been mistaken: `UriTranlation` has never been suitable.

[2015-07-09 22:38] mossprescott commented on #338
Yes, I found UriTranslation when I tried to find the problem in the BlazeBuilder, and cribbed a little bit of code. I'm not really sure my path rewriting is quite correct, either, but it works for the cases we need right now. Probably the right way to fix this is just to make UriTranslation do something a little more useful.

[2015-07-09 23:42] bryce-anderson commented on #338
@mossprescott, I have a branch up to fix this issue. I took a different strategy than you have, so some testing is in order. I will likely be making another commit with a unit test before the PR lands.

[2015-07-10 01:03] bryce-anderson commented on #334
closed via #335.

[2015-07-10 01:03] #334 closed

[2015-07-10 02:04] mossprescott commented on #338
I like this approach and I confirmed that it does handle my tests, allowing me to use blaze-server without my workaround. It's also a plus that it doesn't require the services to be mounted in the correct order.

I'm not entirely sure how it will compare on the remaining use case that we have (not covered by our automated tests), which is redirecting any requests that fall through, via a mount at

[2015-07-10 02:56] rossabaker commented on #338
I think it's going to break your `/` fall through for requests whose prefix matches another mount.  Presumably, this service aggregator could invoke the next-best service on a `None` result.

That, however, is in jeopardy with #332.  We incur much complexity handling the `Option` without much in the way of use cases that can't be handled by prefix mapping.  You could write a middleware to act on a

[2015-07-10 03:48] rossabaker commented on #337
This also affects Tomcat.

[2015-07-10 04:25] rossabaker commented on #336
I get this same behavior mounting a raw `HttpServlet` that sleeps in `service`, so we can exonerate `Http4sServlet`.

[2015-07-10 05:01] rossabaker commented on #336
This seems more like a use case for `asyncTimeout`, which is how long the `Task` has to complete.  This had a regression addressed by #341.

I can't make the idle timeout work, even removing http4s from the picture.  That setting doesn't seem to do what I'm reading it to do.

[2015-07-10 11:34] bryce-anderson opened #342 "Server backend testing"
We have had a series of bugs related to backends which we currently don't have the foundation in place to test. They include:

* Exceptions thrown by the Service
* Route mounting and matching behavior
* Resource safety in websockets support
* Timeouts on the servlet backends
* Certainly a lot more that could be addressed

In my minds eye, we can setup common `HttpService`s and a client that will t

[2015-07-10 13:35] rossabaker commented on #102
This is a slightly less ambitious version of #342.

[2015-07-10 13:35] #102 closed

[2015-07-10 13:37] rossabaker commented on #342
The uniformity will only extend as far as features supported on all backends, of course.  But yes, this would be good.

I think this might need to be pulled out into a separate test-only module, unless maybe server gets a test dependency on client.

[2015-07-10 14:30] bryce-anderson commented on #338
@mossprescott, we've merged what we think is a fix for your problem into the release-0.8.4 branch but it might be worth your time to check it. It should honor your fall through usage.

[2015-07-10 15:31] mossprescott commented on #338
I'll retest with this version ASAP, but I think we'll be good to go. We don't need fall-through when the prefix matches.

[2015-07-10 15:41] mossprescott commented on #336
Could be. I observed `idleTimeout` was getting into the Jetty connector instance, but it didn't seem to affect anything. On the Blaze side, setting `idleTimeout` does cause the connection to be dropped if the Task hangs.

Part of the problem here is the lack of any documentation of what these parameters are meant to do, and part of the problem is the inconsistent behavior across the backends.

To

[2015-07-10 15:50] mossprescott commented on #338
Looks good on all our tests. Thanks!

[2015-07-10 16:22] bryce-anderson commented on #336
@mossprescott, I don't think the blaze server supports the notion if an `asyncTimeout`: I believe that is a servlet concern when initiating an async context. I believe the `idleTimeout` is the only way to timeout on blaze.

[2015-07-11 03:14] #337 closed

[2015-07-11 03:14] #338 closed

[2015-07-12 04:15] rossabaker opened #345 "Timeout middleware shouldn't return 408"
408 is a client error.  It's possible the response task doesn't complete in a timely fashion because it depends on a slow client, but I would anticipate this being used more for server errors.

I've alternately returned 500 or 504 in timeout situations.  The right answer depends on how liberally one interprets "gateway," and how badly one wants to distinguish timeouts from miscellaneous internal s

[2015-07-12 04:17] rossabaker commented on #345
Failing Travis tests related to this middleware, the first of which I'm rerunning.  I think the middleware is sound, but as long as we're in the vicinity, what's up with these?

* https://travis-ci.org/http4s/http4s/jobs/70481292
* https://travis-ci.org/http4s/http4s/jobs/70481616

[2015-07-12 04:34] rossabaker commented on #336
The idea is that `idleTimeout` is for inactivity on the socket connection, and `asyncTimeout` for a failure to complete, even if activity is ongoing.  `asyncTimeout`'s name is definitely of servlet origin, but I can't offhand see why Blaze couldn't support something similar.  This would probably look a lot like the timeout middleware, which races a task against the response, and returns the first

[2015-07-12 15:11] bryce-anderson commented on #336
We do need a 'took too long to initiate the response' timeout for blaze that will return a default response of some form, preferable with a good default but can be set by the user.

I don't know if that is what the `asyncTimeout` is technically about; I was under the impression it was for situations where you start your async context and forget to use it (or error and forget to close it) so the se

[2015-07-12 19:21] rossabaker commented on #336
The `asyncTimeout` is about taking too long to finish the response, not initiate it.  This is good if you have a hung process, and sucks if you have a process that's taking its time but making satisfactory progress.

[2015-07-13 12:12] #345 closed

[2015-07-13 15:58] mossprescott commented on #336
Actually, our requirement was just to effectively disable anything like `asyncTimeout` (see slamdata/slamengine#815). So whatever parameters are available, we need a way to say "let this response go for as long as x", where *x* is at least several minutes. And we would eventually probably like that to apply to only particular requests which we know can run for a long time, but that seems to be cov

[2015-07-13 21:33] rossabaker commented on #158
This is now blocking an upgrade to Jetty 9.3: https://webtide.com/jetty-9-3-features/

[2015-07-13 21:40] ijuma commented on #158
I should mention that my comment above is no longer relevant as the production environment has been upgraded to Java 8 (I am not there anymore, but it was done just before I moved on).

[2015-07-13 21:46] bryce-anderson commented on #158
If we are not going to do the upgrade after the EOL and we now have to hold back dependencies, when should we? We need some sort of metric for this. I'm not trying to aggressively push java 8 (though I do want to upgrade), I just think we need some milestone or metric.

[2015-07-13 21:46] rossabaker commented on #158
Thanks for the update.  This is still not an urgent issue, but the case for is inevitably growing and the case against is inevitably shrinking.

If any of the other objectors' situations have changed, please speak up again. :)

[2015-07-13 21:48] rossabaker commented on #158
@bryce-anderson raises a fair point.  Our userbase has grown considerably since this first came up.  Perhaps we should try to funnel people back here via Twitter and Gitter to retake the temperature?

Another data point: I am no longer running Java 7 anywhere that matters.

[2015-07-13 22:07] kryptt commented on #158
For what its worth: I would bump to java 8 on 0.9, write a note on the README making note of the upgrade and that we accept pull requests to the 0.8 branch from people still requiring java 7 support, but all future work will depend at least on java 8.

[2015-07-13 22:08] coltfred commented on #158
Java 7 isn't reall EOL, but it isn't getting any more public updates. I wasn't able to get the thing I was doing in http4s into production here anyways so I no longer have an issue with it.

[2015-07-14 00:37] mdedetrich commented on #158
Im all for it, note that the main (compelling reason), specifically in regards to Scala, for moving to Java 8, is that Scala 2.12 will only support Java 8 (since Scala 2.12 is going to support Java's Function Interfaces, amongst other things)

My opinion is sooner rather than later, as it will cause less pain, but it obviously all depends on what the community wants

[2015-07-14 01:04] bryce-anderson commented on #334
@ShengC, fyi: 0.8.4 should be in Maven Central now. Thanks again for the PR.

[2015-07-14 01:06] LeifW commented on #158
Same thing Ismael just said. I upgraded them to Java 8 (Java 7 not being updated anymore), but am no longer there. Don't think my vote counts for much though; I don't use http4s, but would like to someday (by then we'll all be on Java 9 probably).

[2015-07-14 14:20] julien-truffaut opened #349 "Blaze server disconnect on long running requests"
http4s version: 0.8.4 (problem started after upgrading from 0.7.0)

[code]

Server log:
[code]

client log:
[code]

[2015-07-14 14:26] bryce-anderson commented on #349
First things first, the server has a default timeout of 30 seconds. You're waiting 60 seconds, and thus the connection gets dropped. If you set it with
[code]
The request executes successfully. Is this your problem?

[2015-07-14 15:32] bryce-anderson commented on #349
So the above solved the problem, but perhaps the `QuietTimeoutStage` should emit a more verbose log message discussing the disconnect.

[2015-07-14 15:32] #349 closed

[2015-07-14 15:50] ShengC commented on #334
@bryce-anderson thanks :)

[2015-07-14 17:14] kryptt commented on #158
@LeifW yes, we can even try those out now with 2.11.7

https://github.com/scala/make-release-notes/blob/2.11.x/experimental-backend.md

[2015-07-14 17:51] bryce-anderson commented on #158
There haven't been any __No__'s yet, but I'm expecting @refried to chime in sometime. I expect people working for government agencies will generally be the ones held back by this at this point.

[2015-07-15 05:09] rossabaker commented on #104
I'm cleaning up issues.  I think this is a nice idea, but does anybody want to argue for this blocking an eventual 1.0 release?  (Read: could it change the model, or can it be bolted on later in a compatible fashion?)

[2015-07-15 05:11] mdedetrich commented on #104
I have had little time to do any significant headway into this, I wouldn't argue for this to block `http4s` since I can't guarantee I will be able to provide anything substantive anytime soon

[2015-07-15 05:20] rossabaker opened #351 "Fix the decrepit documentation with tut"
[tut](https://github.com/tpolecat/tut) supports inline examples.  We have an existing solution with the code_ref tag, but we're not using it to great effect.  I find interspersing the code examples with the docs makes it more likely the two will line up, and that friction points become more obvious.  It's being used successfully on doobie and cats, and I think it is a good fit for us.

[2015-07-15 05:21] rossabaker commented on #351
Work is already underway in the topic/tut branch.

[2015-07-16 01:08] ShengC opened #352 "pattern match for Path does not work"
The unapply methods in Path object are useless,

    val path: Path = ???

    val Path(xyz) = path // does not work
    val Path(x, y, z) = path // does not work, nor compile !

 The right way of doing this if http4s does want to support them,

    object PathList { def unapply(path: Path): Option[List[String]] = ???}

    object PathItems { def unapplySeq(path: Path): Option[List[String]] = ???

[2015-07-16 04:26] rossabaker commented on #352
These don't typically get used in the DSL (this problem has been there since 2013!), but it might as well work. :)

`Path.unapply` works on `Request`, not `Path`.

The presence of `Path.unapply` prevents `Path.unapplySeq` from working.  The `unapplySeq` seems more correct for this Seq-like data structure.  I will remove `Path.unapply`.

[2015-07-16 09:16] refried commented on #158
So I’m optimistically developing Java 8 now, but the fear is that our govt customer will reject the product and we’ll have to Java-7-ify it (we’ve had a hard time getting concrete information about this sort of thing).

Anyone know if a JDK 8 -> JRE 7 conversion can be done automatically somehow?

[2015-07-16 09:28] refried commented on #158
I guess there’s retrolambda, but no complete solution.

[2015-07-16 10:37] mdedetrich commented on #158
I don't think there is a solution that I would put my hands down for working completely correctly (that is using the assumption that, since its a govt customer, they require things to work absolutely correctly without problems)

[2015-07-16 15:22] ShengC commented on #352
yes, they should be removed. Also the documentation for this project is kinda... and no offense... lame. I see it heavily borrows the idea from Spray, but one thing that definitely making Spray stand out is its documentation. Another missing piece is the change note per each release. It is at least not easy to persuade people upgrading version of their dependencies if they cannot clearly see a pic

[2015-07-16 21:01] rossabaker commented on #158
@refried: a Java downgrade eventually becomes about more than class format.  There is also new API.  The one that first comes to mind is `javax.time`, though that exists (under different package name) in a backport.  I would Java7ify if necessary by forking and making what should remain the few necessary tweaks.  I can't speak for government, but I've consulted in other technologically conservativ

[2015-07-16 21:01] #158 closed

[2015-07-16 21:20] #352 closed

[2015-07-16 23:20] #315 closed

[2015-07-17 02:10] rossabaker commented on #352
There is a CHANGELOG.md in the root of the repository that is updated with every release.  It could stand some formalization, which will come as the project continues to mature.

I am actively working on documentation with sbt-tut (#351).  There is commercially backed open source, labor-of-love open source, and a whole continuum in between.  Right now, we're firmly on the labor-of-love phase, and

[2015-07-17 13:57] refried commented on #158
:+1:
On Thu, Jul 16, 2015 at 17:01 Ross A. Baker <notifications@github.com>
wrote:

[2015-07-27 12:38] bryce-anderson opened #368 "File and Resource services should use pathInfo"
Right now they use the Uri path which is not changed when applying things such as `UriTranslation`. Boo...

cc: @dcsobral

[2015-07-27 12:45] bryce-anderson opened #369 "Do we need `ServerBuilder.mount` or would `.start(service): Task[Server` be better?"
Right now you can mount different prefixes with

[code]

to add a prefix to a service. In master (as of right now) we use a type called `Router` for this.

I'm thinking its better to:
- Expose `Router` to the user
- remove `ServerBuilder.mount`
- Change `Builder.start: Task[Server]` to `Builder.start(service: HttpService): Task[Server]`.

**Upsides:**
- Backends become uniform in how they deal wit

[2015-07-27 12:46] bryce-anderson commented on #369
cc: @dcsobral

[2015-07-27 17:33] dcsobral commented on #369
That `Router` thing is post-0.8.4, right? I can't find such a class here, and `mountService` isn't using any such thing on 0.8.4, so I can't comment on that.

Honestly, I think that, even on 0.8.4, `mountService` is redundant. You can use `orElse` to chain services. You can use `URITranslation` to add prefix.

[2015-07-27 17:42] bryce-anderson commented on #369
@dcsobral: Yes, it is a post 0.8.4 thing that can be found [here](https://github.com/http4s/http4s/blob/master/server/src/main/scala/org/http4s/server/Router.scala).

[2015-07-27 18:45] rossabaker commented on #369
`mountServlet` is still helpful for interop scenarios in that ecosystem, but is an extension for those server builders.  I could get on board with this for the common interface.  The status quo was always a bit forced in the blaze world.

[2015-07-27 18:48] rossabaker commented on #369
One hangup: how does this play with the eventual idea of setting up multiple connectors (#197)?  For example, admin service on one port, public service on another?

[2015-07-28 19:54] mossprescott opened #371 "Update jawn dependency to 0.8.3"
Prior to 0.8.3, jawn had an unintentional runtime dependency on jmh, which is under an incompatible license. See non/jawn#33 (comment).

See https://github.com/rossabaker/jawn-streamz/pull/3, but there are also dependencies on `org.spire-math:argonaut-support` and `:json4s-support`, neither of which seems to have had an 0.8.3 release yet.

[2015-07-28 22:53] rossabaker commented on #371
Giving this a bug label.  It's not our bug, but we can do a patch release to get people license compliant.

[2015-08-01 13:42] #368 closed

[2015-08-05 13:34] shengc opened #378 "Web framework benchmark"
Is it a good idea to submit the blaze server to compare with other frameworks at techmpower 's "web framework benchmark" ?

http://www.techempower.com/benchmarks/#section=data-r10&hw=ec2&test=plaintext

[2015-08-05 14:03] rossabaker commented on #378
I would welcome that.  We've chosen correctness over raw speed -- though we aim for both -- so I don't expect us to top the list.  But it also serves as a nice directory of tools.

To compete on speed grounds, a raw blaze example without http4s would also be interesting, though significantly more work.

[2015-08-05 14:18] bryce-anderson commented on #378
Note that this is already been [done/attempted](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Scala/http4s) but I haven't actually looked at it.

The raw blaze server should be pretty simple: there is a [simple http server already built](https://github.com/http4s/blaze/blob/master/examples/src/main/scala/org/http4s/blaze/examples/HttpServer.scala) and ready to use.

[2015-08-05 15:08] ShengC commented on #378
@bryce-anderson Oh, I was not aware of that. so we should be able to see `blaze` is listed in the next round (11) ?

[2015-08-05 15:11] ShengC opened #379 "`Files.probeContentType` is buggy"
It determines an `html` file as `text/plain`. This might not a be a problem in another platform, but since http4s always prioritizes correctness, `org.http4s.StaticFile` should probably avoid using it ....

[2015-08-05 15:39] bryce-anderson commented on #379
Indeed, this has come up as issue #322. I'll close this one and we can continue the conversation there if you wish.

[2015-08-05 15:39] #379 closed

[2015-08-05 15:42] bryce-anderson commented on #378
I believe so, but I was not involved in the implementation or discussion or in the general process of the Techempower benchmarks. If you see opportunities to improve it I'm sure they are willing to take PRs.

[2015-08-05 15:56] ShengC commented on #322
I think we should be pragmatic and "choose bad over worse" in this case, which essentially means using`MediaType.forExtension` consistently across the code base until `jdk` can fix the buggy `probeContentType`. I am not a big fan of introducing another library just for the sake of determining the mime type.

[2015-08-05 19:58] #331 closed

[2015-08-05 21:48] rossabaker commented on #371
Figured it out.  The jawn 0.8.3 artifacts changed names in 0.8.1.  http4s-0.8.5 coming shortly.

[2015-08-05 22:41] #371 closed

[2015-08-07 16:53] ritschwumm commented on #322
ServletContext#getMimeType works better - would it make sense to use that when available? probably not, but i think it's a question work asking.

[2015-08-10 02:43] suls commented on #251
:+1:
I just got bitten by this. I naively thought that adding `-DhttpsProxy.host=` would macigally make things work ..

Have you started any implementation of this somewhere?

[2015-08-10 04:51] elyast commented on #251
Sorry didn't have time to work on this

[2015-08-10 18:24] ShengC commented on #322
@ritschwumm let's think about this ? what if user just wanna show an html file as `text/plain` in the browser ? I *think* we should _not_ overthink from user's perspective. If a file is with extension ".html", then best guess of server should just send back `content-type` of `text/html`, no matter what the actual content is ...

[2015-08-10 18:41] bryce-anderson commented on #322
I was not aware that the `probeContentType` function was broken. Good to know.

The Apache Tika project doesn't look all that bad, its a relatively small jar. That said, I'm of the opinion that we should use `MediaType.forExtension` as the primary method of determining the media type. Its probably the most intuitive method and has the advantage of not needing to actually access the file system whi

[2015-08-10 18:51] stephenjudkins commented on #322
I think we should give it the axe. The default behavior should be simple, predictable, and not dependent on either implicit IO or system configuration. If someone wants something more exotic it could be implemented with different middleware that's more explicit about what it's doing.

[2015-08-10 19:44] bryce-anderson commented on #322
Note PR #381.

[2015-08-12 22:38] ritschwumm commented on #322
@ShengC ultimately you either know the mime type, or you have to guess. you might try an educated guess - based on the file extension or content probing - but which one is 'better' very much depends on the use case. personally, i try to avoid this kind of guesswork, but people seem to want it.

[2015-08-14 03:36] rossabaker commented on #322
I agree with "the default behavior should be simple, predictable, and not dependent on either implicit IO or system configuration".  Magic has its place, and that place is opt-in middleware.

[2015-08-15 12:13] #322 closed

[2015-08-17 12:05] bryce-anderson opened #383 "`withHeaders` is often confused with `putHeaders`"
This has bitten me more than once and it appears to get others as well. I propose we rename `withHeaders` to something more verbose such as `replaceAllHeaders` (alternative suggestions welcome).

[2015-08-17 15:39] rossabaker commented on #383
:+1:.  `.with*` is a nice convention for "sugar to copy one value", but that convention is not so well established for collections.

[2015-08-17 23:29] kryptt commented on #383
Maybe its just a matter of education, I remember having to look it up as well, but *is* there a naming convention for this?

[2015-08-18 00:42] bryce-anderson commented on #383
I believe @rossabaker is correct: there is a somewhat lose convention to use `withX` when replacing `X` in a case class. However, I think its a pretty loose convention. How often do are we replacing the headers wholesale? It doesn't appear that we are using it in our code that couldn't be replaced with `putHeaders`.

[2015-08-18 07:55] Pyppe opened #386 "UrlFormLifter does not work with Jetty"
Using `UrlFormLifter` with `JettyBuilder` does not work. All requests throw exception at runtime.

For example, the following:
[code]
throws `java.lang.NegativeArraySizeException` at runtime:
[code]

However, the same code works if `BlazeBuilder` is used.

[2015-08-18 08:13] Pyppe commented on #386
Also, as the stack-trace suggests, the culprit is `NonBlockingServletIo`. Using Jetty with `BlockingServletIo` seems to work OK.

[2015-08-18 12:24] bryce-anderson commented on #386
I'm not 100% sure, but I bet the problem is [here](https://github.com/http4s/http4s/blob/master/servlet/src/main/scala/org/http4s/servlet/ServletIo.scala#L78) where we could be getting a `-1` from the read operation. I don't have time to properly patch it atm but will take a closer look later unless someone gets to it first.

[2015-08-18 12:27] bryce-anderson opened #387 "Bringing back `orElse`"
Everyone misses it. Even I'm missing it at places. I propose we implement `orElse` by examining the `Response` for `Status.NotFound` and then trucking on. It works pretty well with rho, here is the code:
[code]

I don't know if it should be a syntax or if we should make a custom `Kleisli`.

[2015-08-18 14:25] ShengC commented on #387
There are more implicit changes that come with it though...

    BlazeBuild
      .mountService(foo)
      .mountService(bar)
      ....

This used to work in a way that if a request fails to match `foo`, it falls back to `bar` (or the other way around), now one is totally shadowed by the other, which is why `orElse` is absolutely needed, though I would like to also keep the old behavior. I mean i

[2015-08-18 15:55] ShengC commented on #387
Would also want to add this ...

    implicit class ContramapSyntax(val service: HttpService) extends AnyVal {
      def contramap(f: Request => Request): HttpService = {
        Service.lift { req: Request =>
          service(f(req))
        }
      }
    }

It can be further generalized to `Service`. Goal is to keep the api as backwards compatible as possible .

[2015-08-19 18:01] ShengC commented on #383
:+1: Let's not drop `withHeaders` immediately though. Annotate it with `deprecated`, and give user some time to get used to the transition.

[2015-08-20 01:07] rossabaker opened #390 "The future: Scalaz, Cats, both, or neither?"
## Ground rules

Scalaz and Cats provide a lot of overlapping functionality that is useful to our library.  Each has a both a devoted following and strong detractors.  We are not here to discuss history or politics, but to transparently decide the way forward for this project.
## The present

Currently, we are a unabashedly a Scalaz library.  We get this transitive dependency from scalaz-stream, s

[2015-08-20 02:38] bryce-anderson commented on #390
Cross builds are a non-starter for me: I just don't want to deal with it. That is not the fun part of coding (for me) and I'm not (currently) paid for this. If this can be done without me ever having to care, cool, but that seems unlikely.

Most projects are sitting on the fence watching the scala FP landscape smolder. I don't have any reason to, so I'm going to suggest we make sure Cats is going

[2015-08-20 04:23] rossabaker commented on #390
I have looked to scalaz-stream as the precedent setter on this subject, but we should not overlook Argonaut/Circe, where the answer was a fork.  I think a fork is a more plausible form of "cross-build without ever having to care".  Now both Scalaz and Cats now have a commendable JSON library.  I don't see this as a tragic outcome, though watching divergence and cross-pollination in the coming mont

[2015-08-20 07:08] mdedetrich commented on #390
I personally prefer Cats, and the preference is due to a technical one. Cats puts an emphasis on modularity and stability (API/Binary stability, massive emphasis on testing). I have been bitten many times in the past due to Scalaz's monolithic design (coupled with its its attempt to reinvent the scala stdlib). At least for the medium/long term, it seems a better decision as you would strictly only

[2015-08-20 22:00] #386 closed

[2015-08-21 14:49] ShengC commented on #390
Or, 4th option - mostly depend on either `Cats` or `Scalaz`, while keeping some of the types agnostic, i.e., maintain by ourselves. Take `Task` for example, it is used everywhere across our code base, having it agnostic gives us the flexibility to tailor it to our own use case in the future.

[2015-08-21 16:58] #383 closed

[2015-08-21 19:20] bryce-anderson opened #393 "blaze ServerBuilder should support a configurable number of selectors"
A configurable buffer size wouldn't hurt. At a minimum, it shouldn't be fixed to [an arbitrary value of 12](https://github.com/http4s/http4s/blob/master/blaze-server/src/main/scala/org/http4s/server/blaze/BlazeServer.scala#L147).

[2015-08-21 20:59] ShengC commented on #393
Guess we should still have some sort of default value for that. A reasonable guess should be `2 * #cores + 1` ?

[2015-08-21 22:46] bryce-anderson commented on #393
Thats what I have it set to in [blaze propper](https://github.com/http4s/blaze/blob/0f6120edbb44271049c43bbf365606a7d9699cb1/core/src/main/scala/org/http4s/blaze/channel/package.scala#L12). Somewhere between `cores + 1` and `2*cores + 1` seems appropriate.

[2015-08-23 00:52] rossabaker commented on #390
Are you proposing we maintain our own Task?

Historical note: we considered, very early on, abstracting over Task in the services.  One reason we didn't was that it created an awful lot of noise when the other use case anyone had was `IO`, which is mainly of utility in a Servlet 2.5 container, which nobody is going to use these days.  A second reason was that so many of the interesting things buil

[2015-08-23 01:50] ShengC commented on #390
Let's possibly revisit this when the agnostic stream actually ships out. No
matter we choose `cats` or `scalaz` in the future, we would end up with 2
different `Task` unless we decide to replace `EntityBody` with another data
structure. I think if we maintain our own `Task`, at least we would have
full control to minimize the gap between the two with some properly
maintained implicits. Of course t

[2015-08-24 10:05] Pyppe opened #395 "HEAD-request hangs when served with body"
Handling a HEAD-request with response-body hangs the connection. An example:
[code]
I would argue that ideally both handlers should yield the same response.

[2015-08-24 11:10] rossabaker commented on #395
Which server backend?

[2015-08-24 13:24] Pyppe commented on #395
`Http4sServlet` with `BlockingServletIo` (ver. 0.9.0)

[2015-08-24 19:57] ShengC commented on #393
BTW - I read the code, and found out that 8k buffer space is allocated to the `HeapByteBuffer` to buffer the reads/writes inside the `SelectorLoop` thread, which is consistent with the the profile snapshot. Regarding that `64k` byte array allocated in `EPollArrayWrapper`, I think that belongs to the `nio.Selector` itself.

[2015-08-25 01:43] mdedetrich commented on #390
Would also like to say that I disagree quite a bit with cross building from a purely tech POV. Once you start using stuff like scalaz-stream (or its cats equivalent) in a non trivial way, you get a lot of subtleties which can differ between implementations, which can make things that much harder in both supporting and documenting both implementations.

My personal preference is for hanging out wit

[2015-08-25 03:00] rossabaker commented on #390
I agree that no final decision must be made now.  I wanted to open this now to:
* Inform short term discussions of building on existing types vs. custom ones (e.g., #389)
* Give fair warning to those who prefer Scalaz that a long term shift to Cats is under consideration.

I think we should continue to embrace Scalaz in the present as it's already there, is good technology, and really not that ter

[2015-08-25 03:10] rossabaker opened #396 "AbstractMethodError with Jetty 9.3.0 and Metrics"
We get this running our Jetty example:

[code]

I believe it's related to dropwizard/metrics#823

[2015-08-25 03:48] rossabaker commented on #395
Are you sending the HEAD request with `curl -X HEAD`?  The first command does as I expect.  The second command hangs.

[code]

Blaze is a little different: it sends the body if the client reads it despite sending a HEAD request.

[code]

I think this is a [curl bug](http://sourceforge.net/p/curl/bugs/694/), whose resolution I disagree with.  On both backends, a properly behaved HTTP client gets th

[2015-08-25 22:59] dchenbecker commented on #390
:+1: to that last comment by @rossabaker. Given my experience just supporting a cross-build for different *Scala* versions back in Lift-land I can imagine the pain and suffering you would endure trying to support two similar-but-different libraries. Generally, I think that as Cats progresses there will be fewer pain points in a port but unless and until it's a low-cost maneuver I don't see a big g

[2015-08-26 03:13] #396 closed

[2015-08-26 16:03] mfirry commented on #378
Preliminary results: https://www.techempower.com/benchmarks/previews/round11/

[2015-08-26 16:13] bryce-anderson commented on #378
Cool! We are not doing great, especially in the plaintext result, but hey, no errors!

[2015-08-26 16:17] mfirry commented on #378
I wrote the code, so I'm to blame if something's wrong :) I'll soon be pushing 'just' a version bump but leave the code as it is

[2015-08-26 16:30] bryce-anderson commented on #378
I vaguely remember looking your implementation over it is was idiomatic. I expected us to come in around the same place as Play2 which is exactly what happened.

[2015-08-27 05:24] Pyppe commented on #395
Yup, noticed the issue with curl. Tested with jQuery `$.ajax({type: 'HEAD', ...})` and it works fine.

Of course, one could argue that it would be better if the server closed the connection by itself before the body.

[2015-08-27 13:58] rossabaker commented on #395
We don't get control over the connection in Jetty or Tomcat.

We do have this control in Blaze.  @bryce-anderson, is there a reason we shouldn't?  I can't think why not, but the fact that something as mature as Jetty doesn't makes me fear that I'm missing something.

[2015-08-27 14:40] bryce-anderson commented on #395
Its simple enough to do in blaze though I seem to take the stance of 'if you sent a body in a response to a HEAD request, your wish is my command'. As an alternative, this could be addressed with a middleware very easily for all backends.

[2015-08-27 16:03] jdegoes opened #400 "ProcessWriter.go is not stack safe"
While most instances of recursion are guarded through `onComplete`, `runAsync`, or similar, there are several that perform direct self-recursion, which allows `go` to overflow the stack in some situations.

[2015-08-27 16:09] jdegoes commented on #400
See slamdata/slamengine#886 for context (note, we have not definitively pinned the issue on http4s, still investigating).

[2015-08-27 16:19] bryce-anderson commented on #400
Indeed, its possible with extremely nested streams. It kind of reminds me of the situation with [early versions of stream](https://github.com/scalaz/scalaz-stream/issues/47). Using a thread local trampoline for the recursion should do the trick, either the one in blaze [here](https://github.com/http4s/blaze/blob/master/core/src/main/scala/org/http4s/blaze/util/Executor.scala#L12) or I imagine a sc

[2015-08-27 21:32] #400 closed

[2015-08-27 22:42] jdegoes commented on #400
Thanks @bryce-anderson

[2015-08-27 22:46] bryce-anderson commented on #400
NP. This is in v0.9.3 and v0.8.6, both on their way to central.

[2015-08-28 17:31] bryce-anderson opened #402 "blaze client is a mess and could use a cleanup"
The client is coming off of its initial implementation churn and a nice long series of bugfix patches and is thus a real mess. I want to clean it up, but will probably wait until the big shift to agnostic streams considering the interface is largely designed around `Task` which may or may not behave the same as far as the client is concerned.

[2015-08-28 23:27] mossprescott commented on #400
With 0.8.6, I'm no longer seeing stack overflows, but there still seems to be something amiss here.

In a fairly self-contained test, the combination of a stream built up with `Process.resource` (which uses `Process.await`), plus the `GZip` middleware, leads to a response with no content (only the 16-byte gzip header is written). If the response is not zipped, or if the stream is instead built wit

[2015-08-29 00:42] bryce-anderson commented on #400
@mossprescott, can you open a new issue? A self contained test that fails would be nice.

[2015-08-29 01:38] bryce-anderson commented on #400
@mossprescott, for reference the following passes:
[code]
where `DumpingWriter` simply accumulates the submitted `ByteVector`s using the `ProcessWriter` trait.

[2015-08-29 02:17] bryce-anderson commented on #400
@mossprescott, I think this is your bug.

Your 'large' dataset is defined in a `val` [here](
https://github.com/slamdata/slamengine/blob/5dd1c54a64c89bacdd5768cfa75f8f1184e9bcc7/web/src/test/scala/slamdata/engine/api/fs.scala#L186) and closes over your counter variable, `n`. You appear to only have one instance of `n` in your test. Your test against the resource using gzip [here](https://github.co

[2015-08-29 02:40] mossprescott commented on #400
@bryce-anderson, well spotted. That was the problem and nicely explains why there was no error and no content.

Thanks for the stack fix, the quick release, and for finding the bug in my test!

[2015-08-31 21:33] #393 closed

[2015-09-06 16:30] refried commented on #179
I started down this path this morning too.  I think, in my current case, I can get away with using the HTML5 File API and a `String` body.

[2015-09-06 20:45] MasseGuillaume opened #408 "Uri should properly encode, decode, etc."

[2015-09-06 23:20] rossabaker commented on #408
?

[2015-09-06 23:22] MasseGuillaume commented on #408
Ops I did'nt meant to send it like this.

is there a reason a path with spaces is not escaped with %20 ?

[2015-09-07 21:00] rossabaker commented on #408
You're arguing that the `/` operation on `Uri` should encode its argument?  I agree.  I'm surprised it doesn't.

Does anybody think this would be bad?

[2015-09-08 01:41] MasseGuillaume commented on #408
[code]

[2015-09-08 02:17] jedesah commented on #408
@MasseGuillaume brings up a good point that this is broken elsewhere (I don't think anyone would consider the above example expected), I can say as the author of the `/` method on `Uri` that the thought of what should happen with a string that contains a space did not cross my mind one second.

I don't see any reason for it not to encode the string argument, in fact I rather think it is incorrect

[2015-09-08 15:26] jedesah commented on #408
@rossabaker @bryce-anderson So the `uri` macro function defers to `Uri.fromString` which expects an encoded `String` and decodes it. I think there should probably be two functions, one that takes an encoded `String` and one that takes a decoded `String`. And I think probably the `uri` macro should defer to the one taking a non-encoded `String`.

Does this make sense?

Also, could this work `Uri.fr

[2015-09-08 15:42] bryce-anderson commented on #408
I haven't looked at that code base much and I don't have a lot of time right now to do it, but quickly skimming the `Uri` rendering code [here](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/Uri.scala#L87) it seems we encode the query parameters and the fragment but [not the path](https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/Uri.scala#L87

[2015-09-08 18:55] refried commented on #408
Let's proceed with caution re. whitespace specifically, because RFC 2396 Appendix E mentions whitespace being used to break up long URIs, across multiple lines, etc.

How will `Uri.fromUnencoded` treat `/` characters?  Should it escape them?  etc.

[2015-09-13 14:16] refried opened #410 "org.http4s.QueryParamDecoder#fromUnsafeCast has unused parameter `typeName`"
Should I change the error message to include it?
https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/QueryParam.scala#L88

[2015-09-13 14:53] bryce-anderson commented on #410
I think that seems like a reasonable thing to do.

[2015-09-14 14:31] nrinaudo opened #412 "Java 8 dependency?"
I might be doing something wrong, but when trying to use `0.10.0` on a setup that uses Java version `1.7.0_55-b13`, I'm getting some compilation errors on core http4s classes.

Specifically:
[code]

Note that while the error was only reported for this one class, a random sampling of various other classes also had a class file version of 52.0.

Does http4s now have a Java 8 dependency? Was this men

[2015-09-14 14:37] bryce-anderson commented on #412
@nrinaudo: we are compiling against Java 8 as of `0.10.0`. See https://github.com/http4s/http4s/issues/158 for the discussion.

[2015-09-14 14:37] #412 closed

[2015-09-14 14:44] nrinaudo commented on #412
I *thought* I had looked into previously closed issues to find something just like that. Seems I was less thorough than I should have been, apologies for wasting your time and thanks for the swift answer!

[2015-09-14 14:46] bryce-anderson commented on #412
No worries! It comes up enough that I have submitted a PR for the website
to note that requirement. (https://github.com/http4s/http4s/pull/413)

On Mon, Sep 14, 2015 at 10:45 AM, Nicolas Rinaudo <notifications@github.com>
wrote:

[2015-09-15 00:27] jonoabroad commented on #179
I have the following, in which we parse the request into RawParts and then they can be `materialised` if we are interested in them, unfortunately this means reading in the entire part. Which is not memory friendly.
[code]

While this allows streamed parsing, we can't inspect the headers before deciding if we want the body or not.  I think what we want is to read the headers of each part and use th

[2015-09-18 22:32] MasseGuillaume opened #415 "corrupted resolver"
https://jcenter.bintray.com/org/http4s/http4s-blazeclient_2.11/0.8.5/
https://jcenter.bintray.com/org/http4s/http4s-blazeclient_2.11/0.8.6/

the jar are missing from those versions

[2015-09-19 01:28] rossabaker commented on #415
Weird.  I didn't know we published there.  Is that an automated, broken mirroring process?

The artifacts are in Maven Central.  Is that sufficient?

[2015-09-19 02:43] MasseGuillaume commented on #415
@rossabaker the problem is with sbt 0.13.9. the resolver put jcenter first for some reason.

see https://github.com/MasseGuillaume/quasar/commit/aedee70b6a8993c1df9bf9b53ee8b7b539b5a1ab#diff-fdc3abdfd754eeb24090dbd90aeec2ceR22

[2015-09-19 02:47] #415 closed

[2015-09-19 10:01] ajevans85 opened #416 "Unable to serve 404 response"
Whenever I try to serve a `404 response` the specified body is ignored and instead the below response returned:

[code]
With the below example I would expect to see the response "My Custom Body"
[code]
I am running `http4s` `0.10.0` with the service mounted on `Blaze` at `/`. Changing the response to anything other than `NotFound` correctly renders the given body.

One interesting thing is running

[2015-09-19 13:33] bryce-anderson commented on #416
That is annoying. The problem you're having is part of a larger debate about the internal representation of a route. [Here](https://github.com/http4s/http4s/pull/392) is just one issue on the topic; there are a few others if you care to dig.

Normally you would define a [`Fallthrough`](https://github.com/http4s/http4s/blob/master/server/src/main/scala/org/http4s/server/Fallthrough.scala) instance

[2015-09-19 14:22] rossabaker commented on #416
Two thoughts come to mind:

1. Because `BlazeBuilder, [creates a router](
https://github.com/http4s/http4s/blob/82278a83640fe1bc1a0dd585968f7bf6266c5d18/blaze-server/src/main/scala/org/http4s/server/blaze/BlazeServer.scala#L103), it should be configurable with a `Fallthrough[Response]`.  (So should `Router.apply`).

2. Is our default `Fallthrough[Response]` the correct one?  Good arguments were ma

[2015-09-20 04:44] kryptt commented on #416
This is a bug, it should be accepting his 404 over the fallthrough we provide.

[2015-09-20 16:54] #402 closed

[2015-09-28 19:06] bryce-anderson commented on #387
I believe this is closed.

[2015-09-28 19:06] #387 closed

[2015-09-30 13:08] raimohanska opened #420 "Blaze client documentation"
Hi guys! We've found getting started with BlazeClient to be have quite steep a learning curve, because there's no documentation to be found except for the single example at http://http4s.org/

Do you have plans to improve the documentation? What I'd really like to have would be a tutorial for performing typical tasks with the client. Including
- Http GET, POST
- Encoding, decoding
- Handling error

[2015-09-30 14:24] bryce-anderson commented on #420
Hi @raimohanska: its true, we are really bad at documentation! Sorry about that. We had hoped to focus on documentation for a spell, but unfortunately most of the contributors have found themselves in a busy spell. @rossabaker was working on addressing documentation using [tut](https://github.com/tpolecat/tut) before he got bogged down. I don't know how far he has gotten, or if any client work at

[2015-10-01 06:28] raimohanska commented on #420
Something like this would be nice from my perspective

- simple HTTP get example to give an overview
- introduction to the philosoph, key concepts (client, request, task...) and how they relate to getting things done
- decoders: how to use json (argonaut, json4s), how to do simple text decoding
- handling errors / different http response codes
- http post, how to encode the post body
- http delete

[2015-10-01 13:55] rossabaker commented on #420
The new doc site at the top of my list when I finish a work project, hopefully in a couple weeks.  I'm working on getting a tut framework set up and a few basics, and then hopefully it will be easier for others to contribute as well.

[2015-10-02 08:35] raimohanska commented on #420
That's great news! I'll be glad to contribute to some extent on the client docs at least.

[2015-10-06 00:41] drostron opened #421 "CORS: comma delimit Access-Control-Allow-Methods header values"
e.g.

currently:
`Access-Control-Allow-Methods: OPTIONS MOVE PUT GET POST DELETE`

should likely be:
`Access-Control-Allow-Methods: OPTIONS, MOVE, PUT, GET, POST, DELETE`

[2015-10-06 00:46] bryce-anderson commented on #421
Hum, it seems you're right.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Methods

The current behavior is defined here: https://github.com/http4s/http4s/blob/e4f1b89fa9664fb14ec20f0192aee8139567e4ab/server/src/main/scala/org/http4s/server/middleware/CORS.scala#L75

I'll put in a patch in a few minutes.

[2015-10-06 00:54] drostron commented on #421
@bryce-anderson I submitted #422 in case you want to use that.

[2015-10-06 01:18] bryce-anderson commented on #421
@drostron, you beat me to the punch! Thanks for the PR.

[2015-10-06 01:24] kryptt commented on #421
thanks @drostron !

[2015-10-06 03:16] drostron commented on #421
for sure :smiley:

[2015-10-07 03:34] ngbinh opened #424 "Upgrade scalaz-stream to 0.8"
Looks like there are some breaking changes in the use of `Terminated` https://github.com/scalaz/scalaz-stream/wiki/0.8

[2015-10-07 17:19] rossabaker commented on #424
This might be a reason to expedite an 0.11.  Would be nice to stay current on one of our backbone libraries.

[2015-10-07 18:48] #416 closed

[2015-10-08 01:32] bryce-anderson commented on #424
I'm not opposed to making it happen sooner rather than later.

[2015-10-08 20:53] refried opened #427 "add `→` alias for `org.http4s.dsl.->` ?"
Analogous to `scala.Predef.->` vs `scala.Predef.→`  except that those are `def`s and not objects, and as such a little easier to alias.

It came up because IntelliJ IDEA can be set to convert `=>` to `⇒`, `<-` to `←` (which are equivalent in Scala) and `->` to `→` (equivalent in the stdlib, due to that alias in `Predef`).  It was converting my `org.http4s.dsl.->` to `→` too, which then wouldn't co

[2015-10-08 21:16] refried commented on #427
Grr, apparently `→` has different (higher) precedence than `->` when compared to `/`

[2015-10-08 21:28] bryce-anderson commented on #427
Bummer.
I personally don't care much for the Unicode symbols, but as it appears to be a technical issue as well, do we close this?

[2015-10-08 22:46] refried commented on #427
Yeah.  I’ll reopen and PR (assuming no objections) if Scala changes to give the two the same lower precedence, which seems unlikely.

[2015-10-08 22:46] #427 closed

[2015-10-11 13:02] greenTara opened #428 "Alignment with RFC 3986"
There are a few places where the implementation of the Uri class and its parser Rfc3986Parser deviate from the [RFC 3986 specification](https://www.ietf.org/rfc/rfc3986.txt)

1. Currently, the class Uri actually supports URI references:
        URI-reference = URI / relative-ref
For both http4s and other usecases, it would be good to have separate classes Uri and UriRelativeReference which could i

[2015-10-11 14:17] greenTara commented on #428
Regarding the idea discussed on the gitter chat about decoupling the parser, this would require making the constructor public. So, either the validity would have to be built into the data structure, which would be difficult, or there would be the possibility of creating invalid Uris. The latter is how some  existing URI/IRI libraries handling things (e.g. Apache Jena). In fact, they never fully va

[2015-10-11 14:59] rossabaker commented on #428
:+1: to the proposal. Tara and I have been chatting, and think we can move
toward a more correct and generally useful URI type without compromising
http4s' needs.
On Oct 11, 2015 10:17, "Tara Athan" <notifications@github.com> wrote:

[2015-10-13 22:34] #421 closed

[2015-10-14 00:55] drostron opened #429 "StaticFile.fromFile with empty file throws exception"
e.g.

[code]

[2015-10-15 21:27] #429 closed

[2015-10-20 16:41] purefn opened #431 "Uri and other types in their own subproject"
`Uri` is a much better implementation of the URI spec than the standard `java.net.URI`. It would be fantastic if it were in a separate subproject, so that others could use it without bringng in the whole of `http4s-core`. Other types that would be useful are the `Method`, `Status`, and header related types. A goal of this `http4s-types` subproject would be to be free of any dependencies so it is u