[2021-01-08 05:39] #4088 closed

[2021-01-08 05:40] #3991 closed

[2021-01-08 17:45] yanns commented on #4155
What do you think of https://github.com/http4s/http4s/pull/4160 ?

[2021-01-08 18:50] rossabaker commented on #3836
Incorrectly autoclosed when cats-effect-3 branch was merged.

[2021-01-08 18:50] rossabaker commented on #4090
Incorrectly autoclosed when cats-effect-3 branch was merged.

[2021-01-08 20:18] #4087 closed

[2021-01-08 20:18] #3841 closed

[2021-01-08 20:18] #3861 closed

[2021-01-08 20:18] #3860 closed

[2021-01-08 20:18] RaasAhsan commented on #4155
@yanns I wasn't descriptive enough in the issue, I was actually referring to an `allocated` in `BlazeServerBuilder`, which is necessary for reasons listed above. The `allocated` in tests is less concerning but it's a good idea to do that too!

[2021-01-08 20:18] #3838 closed

[2021-01-08 20:18] #3948 closed

[2021-01-08 20:18] #3818 closed

[2021-01-08 20:18] #3836 closed

[2021-01-08 20:19] #4090 closed

[2021-01-08 20:19] #4083 closed

[2021-01-08 20:19] #4082 closed

[2021-01-08 20:19] #4074 closed

[2021-01-09 00:35] rossabaker opened #4166 "Give blaze-server its own executor in tests"
With regard to https://github.com/http4s/http4s/pull/4161/files/7c30f316ccc0e696d7b2b60e1475465859452f3b#r554253034, we shouldn't be testing against default thread names, but against a dedicated thread pool with obviously different names, so what we're testing for is explicit and not subject to the names of shared resources.  It will express intent better and be more robust to refactoring.

[2021-01-09 17:14] yanns commented on #4091
[code]

could be transformed into:
[code]
(the new version would need a `dispatcher: Dispacher[F]`)

[2021-01-09 17:15] yanns commented on #4092
depending on https://github.com/http4s/http4s/issues/4091

[2021-01-10 02:40] RaasAhsan commented on #3067
I'm interested in knowing -- what part of the ember-server's shutdown sequence isn't graceful? I'm thinking about ways to add graceful shutdowns to blaze-server and right now the thorn is selector threads may still be active after the server acknowledges shutdown

[2021-01-10 04:54] ChristopherDavenport commented on #3067
So presently it will cancel the response processing that is in flight. Graceful would be to stop handling incoming while completing those already in flight.

[2021-01-10 05:26] ashwinbhaskar commented on #4091
@yanns thank you

[2021-01-10 05:34] rossabaker commented on #3067
It's helpful to define grace here.  Typically, you want to wait for in-flight requests to finish, but you don't want to wait indefinitely.  I think generally we want to:

1. Stop accepting new connections immediately.
2. Finish servicing existing responses, closing any connections.
3. After a configurable timeout, clean up forcibly.

You also want some way of communicating to the caller that the s

[2021-01-11 02:23] rossabaker opened #4180 "jetty-client callback methods should be synchronous"
[code]

But we're running them asynchronously.  We can address this for Cats-Effect 3 in #4165, but we need a fix on 0.21.

[2021-01-11 02:40] rossabaker commented on #4180
Oh, there's a whole [DemandedContentListener](https://github.com/eclipse/jetty.project/blob/jetty-9.4.35.v20201120/jetty-client/src/main/java/org/eclipse/jetty/client/api/Response.java#L200) that I didn't know about.  We could use that to provide proper backpressure instead of blocking on a full queue or providing an unbounded queue!

[2021-01-11 06:02] #4058 closed

[2021-01-11 06:27] #4075 closed

[2021-01-11 11:13] alexh2o17 opened #4185 "mixedMultipart Entity Decoder use too much memory"
Hi,

I'm using mixedMultipart to decode multipart request with large file inside. I set mixedMultipart that after 13MB have to switch deconding on temp file and not in ram. The problem is that seems not working. My http4s use too much memory until it crash definitively.

This is the code I use

`      case req @ POST -> Root / "streaming" / "insertDocument" =>
        import scala.concurrent.Execu

[2021-01-11 15:50] Daenyth opened #4188 "Update naming for header methods on requests"
The putHeaders/withHeaders methods are confusing for multiple people.

Let's deprecate them and add `addHeaders` and `replaceHeaders` methods respectively. Those names have immediately-obvious semantics.

[2021-01-11 21:06] pcaisse commented on #4003
Thank you for being so responsive to my issue! :clap: :tada:

[2021-01-12 01:48] rossabaker commented on #4003
Absolutely. Please let us know if it's not suiting your needs, and we'll see what else we can do.

[2021-01-12 01:51] rossabaker commented on #4188
Generally `:+1:`, but I'd have to look up whether `replaceHeaders` replaces all headers or corresponding headers.

[2021-01-12 03:32] #4089 closed

[2021-01-12 04:04] #4091 closed

[2021-01-12 04:56] rossabaker commented on #4180
We might be fine?  What I pasted was for the synchronous callback, but we're defining an asynchronous one:

[code]

We're completing the callback only after the buffer has been copied and enqueued, which triggers demand for the next chunk.  And the synchronous queue ensures we don't pile up chunks in the queue with a slow consumer.  (If we wanted to buffer more, we could have a bounded queue.)

[2021-01-12 14:16] Daenyth commented on #4188
Would there be another naming to make it more clear? `replaceAllHeaders` perhaps?

[2021-01-12 14:46] rossabaker opened #4196 "Dubious test after blaze-client WritePendingException fix"
[code]

This seems like it is a manifestation of the warning in #4143?  I think we can no longer assert its recylability.

[2021-01-12 14:58] hamnis commented on #4188
Interesting enough we already have a deprecated `replaceAllHeaders` in `Message.scala`. It was deprecated in 0.20

[2021-01-12 18:17] rossabaker commented on #4188
There are a lot of ways to do this, so let's try to be a bit more rigorous in our definitions.

1. Some headers are _recurring_ (e.g., `Accept`), and some are _singletons_ (e.g., `Content-Length`).  A recurring header can have multiple instances.  A singleton header only sensibly has one.
2. Every recurring header can be combined into a single header by joining their values with a comma, _except_

[2021-01-12 22:37] sloshy commented on #4103
This appears to not be the case, at least for query parameters. After running into a similar issue (https://github.com/47degrees/github4s/issues/569) I was able to trace it down to the exact characters `toSkip` when passed to `Uri.encode`.

The set of characters to skip when encoding a query parameter (on `main`):
https://github.com/http4s/http4s/blob/f5c38c1946515dc1aac2cae1039ed86e423cdace/core/

[2021-01-12 22:47] sloshy opened #4203 "Encoding query parameters inconsistent with standard URL encoding"
(moved from a comment on #4103)

I'm debugging an issue where query parameters for an http4s client are not being encoded in the way the server expects them, specifically that the `+` and `:` characters are %-encoded and not presented literally (47degrees/github4s#569). I was able to trace it down to the exact characters `toSkip` when passed to Uri.encode.

The set of characters to skip when encod

[2021-01-12 22:49] sloshy commented on #4103
I left a comment here originally about a separate but similar issue, and realized it would make more sense in a new issue (#4203), sorry for any inconvenience 🙏

[2021-01-13 03:02] rossabaker commented on #4203
Does `Query.fromString` do what you need?  That's supposed to preserve the encoded version of the String.  The model currently supports either a vector of decoded key-pairs or an encoded raw query string.  `Query.fromString` does the latter.  This dual support was only recently bolted on, awkwardly in support of binary compatibility, and I would love to see us do better in 0.22.

[2021-01-13 03:22] sloshy commented on #4203
That it does! Thank you! I was able to figure out a fix for the specific issue we've been having using this as well (using `.copy` on the Uri, so not super clean, but, it's good enough for now). Thanks again!

[2021-01-13 03:22] #4203 closed

[2021-01-13 10:30] alexh2o17 commented on #4185
maxSizeBeforeWrite by default is 50MB but viewing on code, this value is compared with a variable named limitCTR. This values seems to have a max value equals to 64KB so the condition on standard value never happens. If i use a maxSizeBeforeWrite < 64kb the memory usage doesn't change. If I set maxSizeBeforeWrite with vale <= 0, seems that code goes in loop

[2021-01-13 14:09] Daenyth commented on #4188
I naively thought that option 5 + option 6 would cover everything people needed. I had no idea headers were that complicated.

I do think it's likely that others are in the same boat as me, in terms of understanding.

For reference, popular libraries like `requests` in python more or less just expose headers as a `Map` which you can add to. I think *most* of the time that serves well enough.

[2021-01-13 15:20] rossabaker commented on #4188
Operations 1, 5, and 6 don't require any nuanced understanding of recurring vs. singleton.

In today's nomenclature:
* `withHeaders` is 6.
* `putHeaders` is 3.

For more fun:

* `get(HeaderKey.Extractable)` exists and is harmonious with 3/4
* `get(CIString)` exists and is harmonious with 1/5/6
* `get(Set-Cookie)` exists because the spec authors hate us

[2021-01-15 00:15] emersonmoura commented on #3433
Is there any solution for that problem? I have the same one.

[2021-01-15 04:49] rossabaker commented on #3433
Nothing has changed with regard to the macros.  There are various functions to construct the Uri, including `fromString` and `unsafeFromString`.

[2021-01-15 17:39] hamnis opened #4210 "Edge case test for Allow header"
https://tools.ietf.org/html/rfc7230#section-7

allows e.g. `"foo , ,bar,charlie   "` as a valid value for the `#element` syntax

the header is just weirdly specified https://tools.ietf.org/html/rfc7231#section-7.4.1
the syntax is described as `Allow = #method` which would mean at least one method, but they immediately contradict the syntax: `An empty Allow field value indicates that the resource a

[2021-01-16 02:12] rossabaker commented on #4210
If at least one is required, the ABNF uses `1#element`.  We have `headerRep1` for this, which should probably be renamed to `headerRep` with cats-parse-0.3.

When it's optional, but with these weird delimiters, it's `#element`, which I think needs to be written and should be called `headerRep0`.

[2021-01-16 03:44] #4084 closed

[2021-01-16 07:40] #3067 closed

[2021-01-16 11:17] m-sp commented on #4210
I might misunderstand the spec but https://tools.ietf.org/html/rfc7230#section-7 mentions `#element => [ 1#element ]`.
so it reads too me like `Allow = #method` should actually have at least one method

[2021-01-16 16:11] rossabaker commented on #4210
Nope, that's me spreading false information from my memory of the spec instead of rereading it.

[hangs head in shame]

[2021-01-17 16:01] rossabaker opened #4215 "Remove the printlns from the tests"
There are printlns in the tests, and there shouldn't be.  printlns in docs, and in `ErrorReporting`, are okay.

Just remove them, starting on series/0.21.

[code]

[2021-01-17 17:28] yanns commented on #4092
I can take care of this.

[2021-01-18 06:09] ashwinbhaskar commented on #4134
Is there any other module where this needs to be done?

[2021-01-18 06:10] ashwinbhaskar commented on #4055
I can pick this up if it's not already taken

[2021-01-18 15:44] #4092 closed

[2021-01-18 15:49] rossabaker commented on #4055
Thanks!  Looking at the dates, I'm not sure the fix is released yet.

[2021-01-18 15:53] rossabaker commented on #4134
okhttp-client for sure.  I don't _think_ there are any others.

[2021-01-18 16:44] yanns commented on #4093
I can work on that.
The ember part is depending on https://github.com/http4s/http4s/issues/4086 I guess

[2021-01-18 16:59] rossabaker commented on #4093
I'm in favor of massive reform here.  We tried to DRY up the services, which is great for testing behavior of various types of routes across backends, but absolutely horrible for someone trying to find a self-contained example.  I'd say if anything is difficult, don't hesitate to either refactor it or just delete it, and we'll build back better.

[2021-01-20 05:02] rossabaker opened #4232 "Port to Typelevel log4cats"
This one should be mostly a search and replace, with a tiny bit of SBT work.

1. On series/0.22, update the dependency to `1.2.0-RC2`, published under `org.typelevel`.  This is all in Http4sPlugin.scala.
2. Change the imports from `io.chrisdavenport.log4cats` to `org.typelevel.log4cats`

[2021-01-20 10:44] cquiroz commented on #4232
I can do this one

[2021-01-22 22:20] #4093 closed

[2021-01-22 22:22] rossabaker opened #4237 "Port to Typelevel keypool"
Like #4232, but for keypool.

[2021-01-24 03:08] rossabaker commented on #3984
:tada: This was a massive effort. Thanks to all who participated!

[2021-01-24 03:08] #3984 closed

[2021-01-24 04:47] rossabaker opened #4246 "scala-xml and specs2 and Dotty"
specs2 depends on scala-xml.  We can't upgrade to scala-xml-2 without triggering a Dotty compatibility problem using specs2 in withDottyCompat mode.

[code]

We're going to have to rearrange these modules such that they're not both on the classpath at once, which I don't think is a small task.

[2021-01-24 11:07] hamnis opened #4254 "Potential problem with new ipv4 parser exposed on dotty"
[warn] -- [E129] Potential Issue Warning: /home/maedhros/Projects/forks/http4s/tests/src/test/scala/org/http4s/Ipv4AddressSpec.scala:67:14
[warn] 67 |      illTyped("""ipv4"256.0.0.0"""")
[warn]    |      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
[warn]    |A pure expression does nothing in statement position; you may be omitting necessary parentheses
[warn]    | This location contains code that was inlined

[2021-01-24 11:19] hamnis commented on #4254
This was a problem with illTyped on Scala3 never mind this.

[2021-01-24 11:19] #4254 closed

[2021-01-24 17:49] #4237 closed

[2021-01-24 19:02] #4085 closed

[2021-01-24 19:02] #4086 closed

[2021-01-24 19:16] m-sp opened #4257 "Fix pending test in ClientHelpersSpec"
In https://github.com/http4s/http4s/pull/4256#discussion_r563331174 we commented out the pending test case because `pendingUntilFixed` didn't work with an IO result. We should ideal get the test fixed, or at least uncomment the test

[2021-01-25 00:05] rossabaker opened #4262 "DecodeSpec property issue"
On https://github.com/http4s/http4s/pull/4259/checks?check_run_id=1758604037

[code]

[2021-01-25 01:53] rossabaker opened #4264 "Docs publishing with bad base ref"
https://http4s.org/v0.22 is broken.  The base ref is localhost:8080.  It looks like the `isCi` setting isn't being detected correctly.  It should be based on a CI environment variable, which should be set.

[2021-01-25 05:10] #4196 closed

[2021-01-25 05:38] rossabaker opened #4268 "DecodeResult.success ambiguities"
These signatures are creating ambiguities in Dotty.  We should deprecate and rename one.  Same with failure.

[code]

Galaxy brain: maybe that type alias is bad.

[2021-01-25 05:41] rossabaker commented on #4268
`successT` and `failureT` would be consistent with `EitherT`.

[2021-01-25 15:48] RaasAhsan commented on #1256
Reopening because we've also seen this particular bug pop up again on the 0.21.x series, going to spend some time looking into it

[2021-01-25 16:35] rossabaker opened #4271 "Pull request not running when retargeted"
Why didn't https://github.com/http4s/http4s/pull/4260 run through our CI?

[2021-01-25 16:48] rossabaker commented on #4215
@jan0sch Thanks for the PR.  We're still maintaining the series/0.21 branch, where the dropwizard-metrics one still is.  (It's gone in later branches.)  If you're still interested, it would be great to clean that one up, too. Thanks!

[2021-01-25 16:57] rossabaker opened #4272 "Upgrade to prometheus simpleclient-0.10"
See #4270 for how it failed the automated way.  We should do this on series/0.22 and fix the tests.

[2021-01-25 16:58] #4232 closed

[2021-01-25 16:59] rossabaker commented on #4180
I think this was a false alarm.

[2021-01-25 16:59] #4180 closed

[2021-01-25 17:00] rossabaker commented on #4150
Which thread pools are we referring to here precisely?

[2021-01-25 17:01] rossabaker commented on #4131
I think this is related to @ChristopherDavenport's concern about no longer being able to run Natchez with Ember.

[2021-01-25 17:05] rossabaker commented on #4069
Task: change the date on the second line of NOTICE from 2013-2018 to 2013-2021.

This is a lightweight task, if a new contributor wants to practice the PR workflow.

[2021-01-25 17:06] rossabaker commented on #3949
@jyoo980 Do you still have time for this or should I throw it back in the pool for LSUG this weekend?  Thanks!

[2021-01-25 17:13] isomarcte commented on #4272
I'll take a look here.

[2021-01-25 19:57] #3957 closed

[2021-01-26 02:42] jyoo980 commented on #3949
@rossabaker

Sorry for the delay, I think I'm quite occupied at the moment, so it's better if anyone else who is interested can pick this up!

[2021-01-26 04:11] rossabaker commented on #3949
Okay, no worries. And I'm sure we'll have more tickets like this in case you want one later. :smile:

[2021-01-26 08:06] RaasAhsan commented on #4150
Sorry, referring to blaze-server's pool. These tests changed: https://github.com/http4s/http4s/pull/4097/files#diff-1c927ff90072dbf8dd378275fdbc4ec883158c37c054c283c0ec6cb4a587a8bcL123

[2021-01-26 13:44] jan0sch commented on #4215
Here you go: https://github.com/http4s/http4s/pull/4274 :-)

[2021-01-26 14:46] #4215 closed

[2021-01-27 04:26] rossabaker commented on #4272
Fixed by #4273

[2021-01-27 04:26] #4272 closed

[2021-01-27 23:53] RaasAhsan opened #4280 "No backpressure on Ember Server startup sequence"
The issue can basically be summarized with the following test: https://github.com/http4s/http4s/blob/64773a0f29ba6361b150817e4abe30ac8e6155eb/ember-server/src/test/scala/org/http4s/ember/server/EmberServerSuite.scala#L58

In other words, the server may not be immediately available for connections even though we're in the `use` block. The reason is that there is no backpressure between the server s

[2021-01-28 01:14] RaasAhsan opened #4282 "Ember Server resource closure doesn't unbind port sometimes"
Followup from #4281 . It seems like after a server shuts down, if we try to re-bind to the same port, it'll fail with a `BindException: Address already in use`. To be clear, this is nondeterministic. I've noticed that as long as I'm running the same SBT shell, the port is no longer bindable. FS2 is also setting the `SO_REUSE_ADDR` option by default, so in theory it should just work.

Since this do

[2021-01-28 01:24] RaasAhsan commented on #4282
A hacky stopgap solution for this is to bind to a random port for each test

[2021-01-28 01:40] ChristopherDavenport commented on #4282
This could indeed explain the doc issue

[2021-01-28 05:12] #4280 closed

[2021-01-28 06:20] RaasAhsan opened #4283 "Maybe rename Ember Server's maxConcurrency to maxConnections"
`maxConnections` is a much more tangible and well-understood concept for people in the server space (and is consistent with the name of a similar knob in other servers), whereas `maxConcurrency` kind of brings up the question of "the concurrency of what?"

Obviously this is a breaking change but I figured it was at least worth throwing out

[2021-01-28 06:21] rossabaker commented on #4283
I expect that could be handled with a deprecation.

[2021-01-28 06:29] RaasAhsan commented on #4283
I like deleting code, not adding new code! :D

[2021-01-28 09:26] Baccata opened #4284 "OkHttp-client is not respecting cancellation"
Cancelling the IO that wraps the http call should prevent the call from being made if it's not yet been dispatched, and try to interrupt the call if it's in flight.

There's a number of (probably) subtle points about this :

#### 1. The lifting of the call should be using the `cancelable`(CE2)/`async`(CE3) effect constructors.

See [here](https://github.com/http4s/http4s/blob/main/okhttp-client/sr

[2021-01-28 17:35] rossabaker commented on #4283
I like having an incremental upgrade path when working in large codebases that don't give time to keep up but once every few years! :D

[2021-01-28 22:25] rossabaker commented on #4284
"Bug" is probably too strong a label since cancellation is never a guarantee, so conservatively calling this an enhancement request. But this would be good to fix.

[2021-01-29 02:08] rossabaker opened #4293 "Modules compiling on 3.0.0-M3"
Speak here if you're working on one

* [ ] core (#4319)
* [x] laws (@rossabaker)
* [x] testing
* [ ] tests (@hamnis?)
* [ ] server (non-compiling test)
* [ ] prometheusMetrics (LSUG)
* [x] client
* [ ] dropwizardMetrics (LSUG)
* [x] emberCore
* [ ] emberServer (@rossabaker)
* [x] emberClient (@rossabaker)
* [x] blazeCore (https://github.com/http4s/blaze/pull/492)
* [ ] blazeServer (https://github.

[2021-01-29 02:10] rossabaker commented on #4293
`tests` are failing on `illTyped`, butI thought @hamnis had something related to that.

[2021-01-29 02:14] rossabaker opened #4294 "Port prometheus-metrics to Scala 3.0.0-M3"
Go to series/0.22 branch, run `++3.0.0-M3! prometheus-metrics/test`. There is one error.

[2021-01-29 02:14] rossabaker opened #4295 "Port dropwizard-metrics to Scala 3.0.0-M2"
Go to series/0.22 branch, run `++3.0.0-M2! dropwizard-metrics/test`. There is one error.

[2021-01-29 02:16] rossabaker commented on #4293
blaze is blocked by no Dotty release

[2021-01-29 02:49] rossabaker opened #4297 "Remove type projections in headers"
Scala 3 doesn't allow these:

[code]

[2021-01-29 02:52] rossabaker commented on #4293
jawn is blocked by no jawn-fs2 release

[2021-01-29 07:31] hamnis commented on #4293
@rossabaker I do not have a solution for `illTyped`, i'm not sure how `Media.covary` is supposed to work.

[2021-01-29 09:14] RaasAhsan commented on #4282
Seems like the particular issue I was running into was because the tests were using a parasitic `ExecutionContext`, but I don't really know what the relationship between that and failure to unbind is. Keeping this open til the docs issue is resolved.

[2021-01-29 15:38] m-sp commented on #4210
I think this one could be closed 😃

[2021-01-29 15:57] #4210 closed

[2021-01-29 20:06] m-sp commented on #4293
I can take a look at the dsl

[2021-01-29 23:47] #4134 closed

[2021-01-30 04:46] Kevin-Lee opened #4303 "http4s-blaze-client: File upload (Multipart) fails if server doesn't support "Transfer-Encoding: chunked""
# Issue in `http4s-blaze-client`
## Summary
A `POST` request with Multipart body for uploading a file to GitHub Release using GitHub API fails with the following error message.
[code]

## Cause
It looks like GitHub API doesn't support `Transfer-Encoding: chunked` header.
It's confirmed by the following curl command.
[code]
If I remove `-H "Transfer-Encoding: chunked` from the header, it succeeds.

[2021-01-30 05:22] ashwinbhaskar commented on #4297
I can take this up

[2021-01-30 06:17] Kevin-Lee commented on #4303
Setting the `Content-Length` manually might be problematic because the length is not just about the file. The length should be the length of the entire request content so it is bigger than the file size.

[2021-01-30 06:24] rossabaker commented on #4303
Entity Encoders will set a `Content-Length` header when they know the content length in advance.  Because Multipart is full of parts with streams, and because we don't know the length of a stream before we run it, Multipart doesn't.  And that's why we fall back to chunked encoding.

Workarounds:
1. If you know the exact length of your encoded body (including boundaries and such!) you can set your

[2021-01-30 06:24] rossabaker commented on #4303
All three of those are bad answers and we should make this better.

[2021-01-30 07:14] Kevin-Lee commented on #4303
@rossabaker Thanks for your answer.
I think it should be able to figure out the size when the stream source of the Multipart if the source is a file as we can get the size of the file easily (`file.length()`).

I think I can probably try the second option which is compiling to `ByteChunk` for now.

Regarding a proper solution, what about adding an optional length info to `org.http4s.multipart.Part

[2021-01-30 09:15] Kevin-Lee commented on #4303
Sorry, never mind what I said about `Part`. It doesn't look so helpful.

[2021-01-30 09:59] Kevin-Lee commented on #4303
Using `Chunk[Byte]` as a `Request` body works. Thank you!
I'll use it for now and will also think about any better ways.

[2021-01-30 13:27] valencik commented on #3945
I can take this on :)
Working on it over on https://github.com/valencik/http4s/tree/collection-compat

I'll likely have some questions about MiMa in a bit.

[2021-01-30 14:17] rossabaker commented on #3945
@valencik I'm sorry.  I failed to close this one.  I had a PR that did this, and it got no attention, and we just stuck with a lighter weight solution.

[2021-01-30 14:17] rossabaker commented on #3945
Ha, the PR came in while I was typing.  Well, let's take a look. :smile:

Sorry for being a bad backlog groomer.

[2021-01-30 16:59] rossabaker commented on #4069
Fixed by #4306.

[2021-01-30 16:59] #4069 closed

[2021-01-30 18:10] arixmkii opened #4307 "Http4sServlet init method should call GenericServlet init"
`GenericServlet` is doing some minimal setup in its `init` - preserving ref to `ServletConfig` in private field.

If the method is not called, then it will stay uninitialized (null) and when calling `log` method on implemented servlet it will throw exception:

[code]

[2021-01-30 18:13] rossabaker commented on #4307
@arixmkii I agree. Do you want to open a PR for that?  If so, please target series/0.21.

[2021-01-30 18:15] arixmkii commented on #4307
@rossabaker did one for the main branch. Will redo to 0.21.

[2021-01-30 18:15] rossabaker commented on #4307
Ha, you're typing on one issue while I'm typing on the other. Yeah, if you target series/0.21, we can release it as part of 0.21.17, and then it'll merge forward into 0.22 and 1.0 series as well.

[2021-01-30 18:20] arixmkii commented on #4307
PR for 0.21 series #4309

[2021-01-30 22:04] #4307 closed

[2021-01-31 01:12] rossabaker commented on #3945
Decided to go with the lighter approach of #4310.

[2021-01-31 01:12] #3945 closed

[2021-01-31 01:34] rossabaker opened #4313 "Delete pairsToMultiParams from CollectionCompat traits"
#4310 merged cleanly into 0.22, but we should still mop it up. Note that in 0.22, there's a new, third copy in src/main/scala-3.

Leaving for @valencik, since he started these.

[2021-01-31 02:07] rossabaker commented on #4297
I think this is difficult one. We may need to rethink header keys entirely.

I think moving it to a type parameter is a plausible path, but then we'll have to change some `HeaderKey` references to `HeaderKey[A]` or `HeaderKey[_]`.  There may be other ways.

Play with it, and if you get stuck, we can all discuss here or on dev gitter.

[2021-01-31 02:55] rossabaker commented on #4293
Argonaut's use of withDottyCompat paints us into a corner.  Us using withDottyCompat on any non-test dependency paints our users into a corner.  Some dependencies may need to be disabled, and I'm not very interested in publishing a ragged build matrix for their Scala 2 versions.  We may be approaching the point of spinoffs here very soon.

[2021-01-31 16:42] rossabaker commented on #4293
core has already bitrotted on M3, and looks like it will need a separate set of macros. I say we give up on M2.

[2021-01-31 22:33] m-sp opened #4322 "Move to munit tests"
Coordination ticket for the move to munit. If you work on any please do comment here and start with `series/0.21` if possible.

- [x] ForwardedRenderersSpec (org.http4s.headers)
- [x] ProxyAuthenticateHeaderSpec (org.http4s.parser)
- [x] Http4sSpec (org.http4s)
- [x] Http1ClientStageSpec (org.http4s.client.blaze)
- [x] QueryParserSpec (org.http4s.parser)
- [x] LocationHeaderSpec (org.http4s.parser

[2021-01-31 23:34] cquiroz commented on #4322
I'll do some tests focusing on the `org.http4s.headers` package

[2021-02-01 02:18] ashwinbhaskar commented on #4297
@rossabaker From what I read, the way type projections need to be implemented in Scala 3 is via
1. Match types
2. Implicit parameters

In case of implicit parameters, I think, the following
[code]
becomes
[code]

Wdyt?

[2021-02-01 02:24] ashwinbhaskar commented on #4297
@rossabaker

Sorry, I missed this part. Let me try out this as well.

[2021-02-01 03:39] rossabaker commented on #4297
That `HeaderKey[_]` would be a massively rippling change, so I hope it's not necessary.

I've read the same about implicits, but I don't have a vision of how you'd get an implicit `HeaderT`.  Some sort of Aux pattern trickery may work.

[2021-02-01 19:17] valencik commented on #3412
Mostly so I don't forget, I looked into this and realized we were running into this issue: https://github.com/scalameta/mdoc/issues/210

I attempted to minimize the problem to help debug in mdoc but haven't come up with anything one would call minimal yet.

It might be worth [manually specifying `toString` usage in mdoc](https://scalameta.org/mdoc/docs/modifiers.html#to-string) for now. I'll give

[2021-02-02 18:59] ChristopherDavenport commented on #1501
Seems like this one rotted out of existence.

[2021-02-02 18:59] #1501 closed

[2021-02-03 16:57] rossabaker opened #4341 "HttpDateSuite is flaky"
[code]

[2021-02-04 17:28] kryptt opened #4346 "OData uses non-standard query parameter keys"
OData uses query parameter keys that start with "$" and many implementations do not correctly url-decode parameter keys.
Microsoft Sharepoint and others

Since #511  query parameter keys are correctly url-encoded but everything is final, so this is proving hard to workaround....

[2021-02-04 17:41] rossabaker commented on #4346
Does the new encoding with `Query` wrapping an `Either[Vector[KeyValue], String]` help?  That was supposed to preserve raw access for these APIs that play fast and loose with the spec.

[2021-02-05 09:12] kryptt commented on #4346
Yes indeed! I just found that out, maybe I missed it in the documentation / as I was exploring the code.....

Feel free to close it if you want

p.s. Its nice to be using http4s again... :D

[2021-02-05 14:44] rossabaker commented on #4346
It's relatively new and the docs probably haven't caught up yet. Glad that worked!

[2021-02-05 14:44] #4346 closed

[2021-02-06 18:38] #4341 closed

[2021-02-06 20:02] rossabaker commented on #4293
Getting a lovely VerifyError on Tomcat and Jetty:

[code]

[2021-02-08 08:52] m-sp commented on #4293
btw the move to munit might solve the `illTyped` problem as well: https://scalameta.org/munit/docs/assertions.html#compileerrors

[2021-02-08 15:01] m-sp commented on #4313
seems like this one was done and merge. thanks again!

[2021-02-08 15:01] #4313 closed

[2021-02-08 18:18] rossabaker opened #4385 "Flaky test: submit request line with query"
I am surprised that this one isn't fixed by #4353.

[code]

[2021-02-08 18:31] rossabaker opened #4386 "Flaky test: LocalTokenBucket"
[code]

[2021-02-11 16:11] slve opened #4404 "Non-deterministic premature EOF"
## Story
I have a service that is
1) listening to a stream of request bodies
2) queries a third party http server using blazeclient
3) forwards the responses further down the stream

90% of the requests are fine while 10% fails with `org.http4s.InvalidBodyException: Received premature EOF`,
where the 10% is not tied to particular requests,
so if I retry the same requests there's 90% chance they'd

[2021-02-12 05:30] rossabaker commented on #4404
Thanks for the reproducible case.  This is an excellent report.

I sent a PR: https://github.com/slve/http4s-eof/pull/1.  I think this clears up by sharing one client for the app instead of creating a client per request.

[2021-02-12 07:59] slve commented on #4404
Thanks for the quick response @rossabaker!

I've tested it side-by-side with my original version where I've inadvertently created a client on each request and it definitely made a change.
I merged your PR.

I also quickly further tested your fixed version, only increasing the payload sizes from ~32kB and ~81kB both to 500kB and managed to get the same EOF error message, will get back to the topic

[2021-02-12 14:41] rossabaker commented on #4404
Okay, that was the only misuse I saw reviewing it last night. Going to give this the bug label and try to chase it more this weekend.

[2021-02-12 15:08] slve commented on #4404
Awesome, thank you @rossabaker.
Just to note, I've had other two experiments in different branches,
one is using http4s/[jdk-http-client](https://github.com/slve/http4s-eof/blob/jdk-http-client/src/main/scala/Http4sEof.scala) while the other is using softwaremill/[sttp](https://github.com/slve/http4s-eof/blob/sttp/src/main/scala/Http4sEof.scala)
and ran into similar issues.

[2021-02-14 11:32] bblfish opened #4416 "future ideas: quic and p2p"
I recently came across IETF draft "P2P Extensions to HTTP" which could be useful in many scenarios.
This may affect your API, so it may be worth considering.

I wrote up some details here: https://github.com/akka/akka-http/issues/3757
From that you will find a link to an issue on Quick, i.e. HTTP/3 which has a lot of documentation on it.

[2021-02-14 17:50] #4295 closed

[2021-02-14 19:18] m-sp commented on #3955
seems this was already done quite some time ago? thanks again for picking this up!

[2021-02-14 19:18] #3955 closed

[2021-02-14 19:28] m-sp commented on #2135
seems the stale issue ticket got a bit stale it self :D
I was idling browsing through the issues and so a couple which probably have been solved. can I just close them?

[2021-02-14 22:32] rossabaker commented on #2135
Yes, please!  We have not been very good about this.

[2021-02-14 22:34] m-sp commented on #2713
jep that one was fixed, closing

[2021-02-14 22:34] #2713 closed

[2021-02-14 22:35] m-sp commented on #894
safe to say that this one was done, main is on 0.15.0-M1

[2021-02-14 22:35] #894 closed

[2021-02-14 22:36] m-sp commented on #2764
thanks again, this has been fixed quite some time ago

[2021-02-14 22:36] #2764 closed

[2021-02-14 22:37] m-sp commented on #3471
thanks again for the contribution, seems the issue didn't get autoclosed

[2021-02-14 22:37] #3471 closed

[2021-02-14 22:40] m-sp commented on #2045
I think this got pretty stale, we have Scalafix 0.18 to 0.20

[2021-02-14 22:40] #2045 closed

[2021-02-14 22:42] m-sp commented on #2311
duplicate of https://github.com/http4s/http4s/issues/4386

[2021-02-14 22:42] #2311 closed

[2021-02-14 22:44] rossabaker commented on #894
Yep, and the rest has been on 0.14 for a very long time.

[2021-02-14 22:50] rossabaker commented on #4416
Thanks.  HTTP/3 is still fairly bleeding edge.

I would rather to see us pour effort into HTTP/2 first.  We have little-used support in the blaze-server, and jetty-server gets it for free.  But this should be on our radar, as it will become increasingly important.

[2021-02-14 23:07] m-sp commented on #4257
has been fixed with a move to munit and finally with https://github.com/http4s/http4s/pull/4348

[2021-02-14 23:07] #4257 closed

[2021-02-14 23:09] m-sp commented on #3760
pretty sure this can be closed? feel free to reopen if there is still work left

[2021-02-14 23:09] #3760 closed

[2021-02-14 23:13] m-sp commented on #2943
this was added in https://github.com/http4s/http4s/pull/2992/files#diff-adcd6450231fbb969572de7bdd97e36c7dd50fe3e577135b505c3a7e90320077R346

[2021-02-14 23:13] #2943 closed

[2021-02-14 23:18] m-sp commented on #1825
seems this one was done long ago, github just didn't autoclose the issue

[2021-02-14 23:18] #1825 closed

[2021-02-14 23:47] arixmkii opened #4427 "Blaze client throws java.lang.NoClassDefFoundError: cats/effect/implicits/package$ with cats-effect 3.0.0-RC1"
Seems that cats effect RC1 introduced source and binary incompatible changes in various clients (blaze, async, ember).

[2021-02-15 19:09] rossabaker opened #4432 "Add version scheme to SBT"
We should look into something like this: https://github.com/typelevel/cats/issues/3780

[2021-02-15 19:16] rossabaker commented on #4427
Yep, there are a lot of other pieces that aren't binary compatible.  We can leave this open as a the "it doesn't work on RC1 yet" ticket, but watch #4414 for the fix.

[2021-02-15 20:47] arixmkii commented on #4427
@rossabaker I shared some more updates from my side for #4414 here https://github.com/scala-steward/http4s/pull/1
Didn't manage to get ember-server working (managed to compile it though, but it for sure is not merge ready).

[2021-02-16 09:53] m-sp commented on #4246
checking the branches I'm pretty sure this one is done?
https://github.com/http4s/http4s/blob/series/0.22/project/Http4sPlugin.scala#L320 already refs the new scala xml

[2021-02-16 14:18] rossabaker commented on #4246
It is, yes. Thanks!

[2021-02-16 14:18] #4246 closed

[2021-02-17 05:55] #4294 closed

[2021-02-17 17:53] rossabaker opened #4452 "Dependencies needed for Scala 3.0.0-RC1"
* [x] cats-effect
* [x] log4s
* [x] cats-parse
* [x] fs2
* [x] vault
* [x] scodec-bits
* [x] case-insensitive
* [x] ip4s
* [x] cats
* [ ] scalafix (we should hack around this)
* [x] keypool
* [x] log4cats
* [x] unique
* [x] jawn
* [x] jawn-fs2
* [x] circe
* [x] play-json
* [x] scala-xml
* [ ] boopickle
* [ ] twirl
* [ ] scalatags
* [x] blaze

[2021-02-17 17:56] SethTisue commented on #4452
I'll make sure play-json gets published soon. (and I started work on Twirl, but not sure yet on timeframe to finish)

[2021-02-17 18:54] ScalaWilliam commented on #4452
Amazing initiative :-)
This is like the core library for those of us wanting to move into Scala 3 sooner than later

[2021-02-17 19:42] rossabaker commented on #4452
We're very close on 3.0.0-M3 just as RC1 arrives.  I expect we'll publish a mostly full milestone for M3, plus whatever we manage to already have working on RC1.

[2021-02-17 23:55] BalmungSan opened #4458 "Timeout exception in the ember parser when using fs2 >= `2.4.0`"
I was not sure if I should report this here or in the **fs2** repo, but I guess it made more sense to report it here first and move it to **fs2** if we can take **ember** out of the equation.

The error is very simple, if using an **ember** server _(with `tls`)_ and the **fs2** jar in the classpath is the version `2.4.0` _(or superior)_ then calling the endpoints will fail with the underlying erro

[2021-02-18 07:26] m-sp opened #4469 "UrlFormSpec property issue"
[code]

[2021-02-18 12:33] prophe05 commented on #3569
Already got the issue with third party cookie

[2021-02-18 13:51] mpilquist commented on #4458
Can you paste the result of a failed curl with the `-v` parameter? This example works fine for me on latest OS X release with built-in curl and running on `openjdk version "11.0.9" 2020-10-20`. I suspect this is related to cipher suite selection or TLS version.

[2021-02-18 13:57] mpilquist commented on #4458
Also works fine on `openjdk version "1.8.0_272"` and when forcing TLS 1.0, 1.1, and 1.2.

[2021-02-18 14:04] mpilquist commented on #4458
I can reproduce by using Safari -- I still get the 200 OK but also get the exception logged. One notable difference is Safari is using TLS 1.3 whereas my version of curl doesn't have support for 1.3.

[2021-02-18 14:28] BalmungSan commented on #4458
Hi @mpilquist thanks for looking into this!

If I use **fs2** `2.5.0` and remove the `withErrorHanlder` I got this output using **curl**.
It seems you are right about the `tls` version.

[code]

This is the output if I use **fs2** `2.3.0`

[code]

Also, note that I am running using:

But the original code was also tested using **AdoptOpenjdk** `8`.

[2021-02-18 14:37] mpilquist commented on #4458
Hm, so this seems like a bug in ember server then -- maybe something in `withErrorHandler` that doesn't properly cleanup the outstanding parser/request handler?

[2021-02-18 14:40] BalmungSan commented on #4458
@mpilquist no no, I removed the `withErrorHandler` to get the original `500` exit code instead of the `timeout` I configured.
With or without the error handler the error is reproduced if I use **fs2** >= `2.4.0` and fixed if I use `2.3.0`

[2021-02-18 15:32] BalmungSan commented on #4458
@mpilquist let's make this even weirder. I just tried again with **curl**, without changing anything and it started to work! 😕
However, it still fails when called from **postman**.

Also, right now if I use the flags `--tlsv1.3 --tls-max 1.3` with **curl** it always fails, but if I use `--tlsv1.2 --tls-max 1.2` then it always works.
_(The even weirder thing is that if I do not specify the flags, a

[2021-02-18 16:31] mpilquist commented on #4458
Well at least we've narrowed it down to TLS1.3. Could you try an fs2-io only reproduction which binds a TLS port? This example server+client test might help get started: https://github.com/typelevel/fs2/blob/main/io/src/test/scala/fs2/io/net/tls/TLSSocketSuite.scala#L111-L138

[2021-02-18 18:13] BalmungSan commented on #4458
@mpilquist I tried to reproduce it using only **fs2** but I was not lucky.
Here is the code, maybe I am missing something stupid.

[code]

[2021-02-18 19:16] m-sp commented on #4322
there might be one or the other still on 0.21 but 22 and onwards are exclusively on munit

[2021-02-18 19:16] #4322 closed

[2021-02-18 21:28] Hiroki6 commented on #3949
I'd like to work on this issue.

[2021-02-18 23:05] Hiroki6 commented on #3949
Hi @rossabaker , I've made a PR for this issue: https://github.com/http4s/http4s/pull/4479

[2021-02-19 00:44] rossabaker commented on #4432
Apparently sbt-spiewak does this.

[2021-02-19 00:44] #4432 closed

[2021-02-19 04:15] RaasAhsan opened #4486 "Smarter connection draining in Ember"
It's possible that an HTTP request/response handler only partially reads the body of the message or it doesn't even read it at all. In these situations, there are a few choices we have:
1. Close the connection. This is fairly expensive and should be considered a last resort.
2. If we know that we've buffered and read the whole body already, then just drain those bytes and throw them away to move o

[2021-02-19 07:10] m-sp commented on #3949
thanks again for your contribution!

[2021-02-19 07:10] #3949 closed

[2021-02-19 13:56] mpilquist commented on #4458
Very strange -- when I run the original ember server example with Postman, it always fails if TLSv1.2 is enabled but passes if I disable 1.2 in Postman settings. With the fs2-only example, it always works in Postman.

Another thing I noticed with ember example and Postman -- Postman reports that the request timed out after a few seconds but the server logs a connection error immediately:

[code]

[2021-02-19 14:17] #4469 closed

[2021-02-19 14:28] mpilquist commented on #4458
I added some logging and noticed that the client connection is closed before the TLSEngine has flushed all events out to the network:

[code]

I noticed this same pattern with working exchanges as well. I suspect the reason it works sometimes is based on the cipher suite selection and exactly what wrapped text gets sent to the socket before the early shutdown occurs. Different protocols & cipher s

[2021-02-19 14:36] BalmungSan commented on #4458
So exactly the opposite of my **curl** behaviour? I will try to play with the **postman** SSL settings to see what happens.

Yeah, **ember** has a default of `5` seconds to timeout on the headers, the value is configurable but even with `15` seconds it didn't work for me.
I have never seen that server connection error :(

This is what worries me the most about this issue, that it seems to behave d

[2021-02-19 23:51] RaasAhsan commented on #4458
Can you reproduce on <= 0.21.16 ?

[2021-02-20 00:07] BalmungSan commented on #4458
@RaasAhsan yes, while the problem is obviously in **ember** what seems to trigger this is the **fs2** version in the classpath. I have reproduced / fixed this problem with multiple versions of **http4s** as long as **fs2** `2.4,0` _(or superior)_ is in the classpath, the error occurs and as soon as I force it to use version `2.3.0` it is fixed.

[2021-02-20 15:02] mpilquist commented on #4458
@BalmungSan Can you try with fs2 2.5.3, which was just released?

[2021-02-20 15:10] BalmungSan commented on #4458
@mpilquist yeah, I am waiting for it to reach **maven central**.

[2021-02-20 18:13] zarthross opened #4498 "Access-Control-Allow-Credentials no longer implements `HeaderKey.Extractable` (v0.22+)"
https://github.com/http4s/http4s/blob/8f52735b5362395c86acb3d33c51b9dc3551aa4f/core/src/main/scala/org/http4s/headers/Access-Control-Allow-Credentials.scala#L23-L24

This breaks usage with Rho's `captureMapR` function.

I think this header should probably implement `HeaderKey.Singleton`

[2021-02-20 22:53] BalmungSan commented on #4458
@mpilquist I just tested it, it works!

Using the reproducible snippet now I can query it using **postman** and it answers without problems, _(although the exception is still logged after a couple of seconds)_.
Then I upgraded the version in the original / real code and I can confirm the issue is fixed!

Now, should I close this since it is technically fixed, or should we wait until a new version

[2021-02-20 23:12] rossabaker commented on #4498
Have you seen the header refactor proposal in the main repo? We better figure out what that means for rho.

[2021-02-21 20:53] zarthross commented on #4498
Took a quick glance at PR #4415 and I like it.  The only part of Rho that was broke from this issue was you couldn't extract this specific header from a Headers anymore when previously you could.  Looking at the proposed `Headers.get[HeaderType]` should work in Rho.  I'll keep my eyes on that proposal so i can try and integrate it as soon as its ready.

[2021-02-21 21:51] m-sp commented on #4293
@rossabaker do you want to keep this open? I think this is done as far as possible

[2021-02-21 21:55] rossabaker commented on #4293
I think that's right.  We'll need similar for RC1, but hopefully that's less of an ordeal.

[2021-02-21 21:55] #4293 closed

[2021-02-21 21:58] m-sp commented on #4293
ah I assumed https://github.com/http4s/http4s/issues/4452 is for rc1

[2021-02-21 22:06] m-sp commented on #4268
I stumbled over this one again recently, so I'm :+1: on `successT` and friends. I feel the type alias is still useful

[2021-02-22 02:55] rossabaker commented on #4293
That one is tracking the dependencies.  We'll need to be sure the modules all compile.  I just tried, and we needed a blaze fix, but I don't think it's going to be too bad.

[2021-02-22 02:57] rossabaker commented on #4268
Do you want to run with this one?

[2021-02-22 09:58] m-sp commented on #4268
Sure, but it might be a couple of days until I have time for it 🙂

[2021-02-23 00:12] kubukoz commented on #3732
0.21.18 here...

[code]

[2021-02-23 17:43] m-sp commented on #2851
yep indeed a duplicate

[2021-02-23 17:43] #2851 closed

[2021-02-23 20:07] hamnis commented on #3665
This seems to be fixed, reopen if not

[2021-02-23 20:07] #3665 closed

[2021-02-24 04:37] rossabaker opened #4513 "Content-Disposition header doesn't render UTF-8 encoding"
Better description later, but before I forget:

[code]

[2021-02-26 07:07] yanns opened #4525 ""IllegalStateException: Cannot have multiple pending reads" when using blaze"
When using http4s as HTTP client, we often have this issue:

[code]

This issue happens when using cornichon: https://github.com/agourlay/cornichon/issues/391

[2021-02-26 14:06] rossabaker commented on #4525
This looks in the neighborhood of #4143, but that was WritePending, not ReadPending.

[2021-02-26 14:09] rossabaker commented on #4525
I don't see any obvious misuse in the cornichon source. This smells like a bug.

[2021-02-26 18:12] soujiro32167 opened #4528 "Conditional logging"
I would like to specify, based on the response or request, when to log the body:
[code]

[2021-02-26 18:43] kevinmeredith commented on #4053
With the seed, ``, I then saw it fail:

[code]

So the failure is on `+760533224-10-27T03:52:44+02:00`, which has a year of:

[code]

Do you have any idea why such a faraway date from now would cause this test to fail, @rossabaker?

[2021-02-26 20:02] SethTisue commented on #4452
play-json 2.10.0-RC2 has been published with 3.0.0-RC1 support, as per https://github.com/playframework/play-json/issues/570

[2021-02-26 20:33] rossabaker commented on #4452
Yep, already integrated play-json. Thanks!

[2021-02-27 04:13] rossabaker opened #4535 "Fix deprecations from header refactor"
The header refactor in #4415 was done with a temporary "v2" package.  We need to clear out references to the old.

These are the files with warnings.  For new contibutors, headers will be the easiest.  There are patterns to follow in #4533 (recurring) and #4534 (singleton).

All this work needs to happen on series/0.22.  We'll be accepting volunteers at the LSUG event on Feburary 27 to kick this o

[2021-02-27 10:56] yanns commented on #4525
Thanks for the pointer.
If you have an idea on a test that could reproduce this issue, I could spend some time on it.

[2021-02-27 13:48] rossabaker commented on #4525
@RaasAhsan found the write side of this, but I think through reasoning about the (unreasonable in this area) code rather than iterating on a failing test.  Perhaps he has a pointer?

[2021-03-01 06:00] phongngtuan commented on #4535
Hi @vder @VlachJosef I gave a go for those headers below in #4547
i think there are already some duplicate but i'm happy to rebase later
[code]

[2021-03-01 06:10] rossabaker commented on #4535
Had a [lengthy Gitter chat](https://gitter.im/http4s/http4s-dev?at=603c6f8c5d0bfb4e587b5ab9) with @phongngtuan about standards for these.  To avoid the boilerplate, we think it makes sense to do as follows:

- In the companion, define `name`, `value`, and `parse` only via the instance.  So:

[code]

- In the case class, don't worry about `name`, `value`, or `renderString`:

[code]

- `.name`, `.va

[2021-03-01 06:13] rossabaker commented on #4535
I fell behind on the checklist above.  But in the meantime, if you're working on these, please leave a comment like @phongngtuan did, just to make sure we're not duplicating any work.  I'll try to cleanly separate out a list of headers tomorrow.

[2021-03-01 08:58] VlachJosef commented on #4535
Hi @phongngtuan
here is a list of `Recurring` headers ported in #4545
[code]
Once the new syntax is in place I'll make use of it in these headers as well.

[2021-03-01 15:46] phongngtuan commented on #4535
those are the the remaining headers (excluding what's in #4545 and #4547) up for grab :) might as well reserve a few at a time if you're working on them
[code]

[2021-03-01 15:57] vder commented on #4535
I'm booking the following numbers then:
10 Last-Modified.scala
 11 Location.scala
 12 Max-Forwards.scala
 13 Origin.scala
 14 Proxy-Authorization.scala
 15 Range.scala

and I'll try to push PR later today

[2021-03-01 17:05] VlachJosef commented on #4535
@phongngtuan thanks for the list, I'll grab the the ones on the end:
[code]

[2021-03-01 17:15] phongngtuan commented on #4535
hi @rossabaker I tried to bring the Select Renderer instance to `Select` but don't know you to use it without importing the `implicit def` itself. Do you have any advice?

[2021-03-01 17:55] m-sp commented on #4535
also have some time so will do
[code]

[2021-03-01 18:34] m-sp commented on #4535
and:

[code]

[2021-03-02 12:14] phongngtuan commented on #4535
I'm tackling `HeaderLaw` in #4552. Once it merges we could change `headerLaw(Expires)` to `headerLaw[Expires]` (parentheses to square bracket)

[2021-03-02 14:45] BalmungSan commented on #4458
Closed by https://github.com/http4s/http4s/releases/tag/v0.21.20

[2021-03-02 14:45] #4458 closed

[2021-03-02 14:49] rossabaker commented on #4458
I'm sorry.  I didn't realize we were sitting on a user-reported bugfix for this long. Please give me a kick here or on Gitter if you're ever waiting like this again for something that already works.  Releases aren't that hard.

[2021-03-02 14:52] BalmungSan commented on #4458
@rossabaker No worries, as I said it was very easy to fix this in userland by just manually upgrading the **fs2** version. But I was not sure if I should have closed this when it was fixed in **fs2** or wait until it was _"fixed"_ by **http4s** directly.
Thanks for all the hard work!

[2021-03-02 16:11] VlachJosef commented on #4535
Hi, I'll start migrating last cookies (I hope no one is doing it yet):
[code]

[2021-03-02 16:46] phongngtuan commented on #4535
Hi all, I'm tackling these 3...
- ResponseParser.scala
- Http1ServerStageSpec.scala
- HeaderSuite.scala

[2021-03-02 17:39] VlachJosef commented on #4535
I've noticed that headers:
[code]
has not been migrated yet. @vder are you still working on them?

[2021-03-02 19:48] m-sp commented on #4427
I think we can close this?
we have a new [release](https://github.com/http4s/http4s/releases/tag/v1.0.0-M17) with cats-effect-3.0.0-RC2

[2021-03-02 20:04] #4268 closed

[2021-03-02 20:05] arixmkii commented on #4427
Yes, I think it is safe to do. Will test the new release this week.

[2021-03-02 20:05] #4427 closed

[2021-03-02 20:43] rossabaker opened #4561 "Flaky DecodeSpec example"
[code]

[2021-03-02 23:07] tovbinm opened #4572 "Since NIO2 is being deprecated, what should be used as a replacement?"

[2021-03-02 23:20] rossabaker commented on #4572
NIO1.  It's always performed better in any benchmark I've thrown at it, and only it has the CVE fix.  If you have a compelling case for NIO2, I'd entertain a PR to blaze that brings it back, but we need the CVE fix ported to it as well.

[2021-03-03 00:01] tovbinm commented on #4572
NIO1 should be ok in our case. Do I need to do anything special to enable it?

My current code looks like this:
[code]

[2021-03-03 00:03] rossabaker commented on #4572
Nope, NIO1 was already the default for servers.

[2021-03-03 00:05] tovbinm commented on #4572
Great! Thank you. I will give it a try.

[2021-03-03 00:05] #4572 closed

[2021-03-03 01:05] rossabaker commented on #4535
Fantastic work, everyone.  #4576 removes the legacy headers.  If we remove the `v2`, I think we're done.  I'll tackle that tonight, unless someone claims it.

[2021-03-03 04:24] rossabaker commented on #4535
I've gone ahead tried the move in #4576, too.

[2021-03-03 05:27] #4535 closed

[2021-03-03 13:45] hamnis commented on #4297
This has been resolved

[2021-03-03 13:45] #4297 closed

[2021-03-03 13:46] m-sp commented on #1143
finally resolved with https://github.com/http4s/http4s/issues/4297

[2021-03-03 13:46] #1143 closed

[2021-03-03 13:47] m-sp commented on #1484
can this also be closed? I think all the reflection is gone with https://github.com/http4s/http4s/issues/4297

[2021-03-03 13:51] m-sp commented on #3768
we are now building with fatal warnings again so this should be resolved

[2021-03-03 13:51] #3768 closed

[2021-03-03 13:51] m-sp commented on #3959
first official dotty support release is imminent

[2021-03-03 13:51] #3959 closed

[2021-03-03 13:58] m-sp commented on #1923
we now have a type class approach for headers, so this should no longer be relevant

[2021-03-03 13:58] #1923 closed

[2021-03-03 15:58] ChristopherDavenport commented on #956
Fairly Certain that this is now possible because of the lack of reflection. Its a non-trivial amount of work to accomplish, but I don't think there are any massive blockers to it now.

[2021-03-03 16:18] rossabaker commented on #956
Would this be a 1.0 feature?  It hits core, which is mostly the same between 0.22 and 1.0, and it's beneficial it stays that way.
 But CE3 is likely to be widely adopted before anyone gets too serious about this?

[2021-03-03 16:18] rossabaker commented on #1484
Yes, has been for a long time.  And now the parser itself is gone.

[2021-03-03 16:18] #1484 closed

[2021-03-03 16:20] rossabaker commented on #4452
We released on RC1 today.  I think we can retire this ticket.

[2021-03-03 16:20] #4452 closed

[2021-03-03 16:21] rossabaker commented on #3763
It can be made to work with this hack:

[code]

[2021-03-03 16:23] rossabaker commented on #3762
I don't think we need to run scalafix under Dotty, and the project is already split out from the aggregate build.

[2021-03-03 16:23] #3762 closed

[2021-03-03 17:36] rossabaker opened #4582 "Flaky EntityEncoderSpec test"
[code]

https://github.com/http4s/http4s/runs/2023774733

[2021-03-03 20:43] m-sp commented on #2670
I think we can close this one right? feel free to reopen if this is not completely done yet

[2021-03-03 20:43] #2670 closed

[2021-03-03 20:49] m-sp commented on #4056
was looking into that @RaasAhsan seems it doesn't have the async constraint anymore?
https://github.com/http4s/http4s/blob/main/server/src/main/scala/org/http4s/server/middleware/BracketRequestResponse.scala#L117

[2021-03-04 01:41] #4055 closed

[2021-03-04 01:43] #4121 closed

[2021-03-04 16:14] phongngtuan commented on #4561
So this one only fails on jdk8, because the Charset `x-COMPOUND_TEXT` is not available on jdk11
[code]

this can be reproduced by running with the string generated by seed
[code]

but it could be reduced too just
[code]

the crux of this is calling `decoder` on `sun.nio.cs.ext.COMPOUND_TEXT_Decoder` throws exception when it's in the middle of parsing. See [here](https://code.yawk.at/java/8/sun/nio

[2021-03-05 05:10] rossabaker commented on #4561
Wow. Impressive research!

I don't like just swallowing the exception in the decoder.  And clearly decoding can fail in more ways than the `CharacterCodingException`.  How about this:

1. Call `cs.decode(ByteBuffer.wrap(bs))`.
2. If it succeeds, run through our `decode` and `foldMonoid`.  Compare our String to the contents of the `CharBuffer` from step 1.
3. If it fails, run our `decode` and asser

[2021-03-05 05:18] #4582 closed

[2021-03-05 06:10] phongngtuan commented on #4561
sounds great! Let me give it a try

[2021-03-05 06:29] phongngtuan commented on #4561
so that fixes the "x-COMPOUND-TEXT" but looks like I ran into case where our decoding of utf8 is not consistent with plain nio (which gives the same result as fs2's `utf8Decode`).

for input below, ours throws exception while the others turns it into [Replacement Character](https://en.wikipedia.org/wiki/Specials_(Unicode_block)#Replacement_character)
[code]

[2021-03-05 17:30] RaasAhsan commented on #4056
Hmm yeah I guess somebody must've fixed it already. I think we can close then

[2021-03-05 17:30] #4056 closed

[2021-03-06 04:52] #4561 closed

[2021-03-06 12:12] m-sp commented on #3613
done in https://github.com/http4s/http4s/pull/3741

[2021-03-06 12:12] #3613 closed

[2021-03-07 01:50] rossabaker opened #4600 "Use Literally"
We'll be inheriting this soon from ip4s anyway, so there's no extra dependency liability, and it clean things up for us.

See https://github.com/Comcast/ip4s/pull/261 for an example.

[2021-03-10 16:38] ChristopherDavenport commented on #956
I would expect it to be a 1.0 feature. Probably in a satellite. But we'd want core/client/circe at a minimum in the main library to all cross-compile to js.

[2021-03-12 05:53] jan0sch opened #4612 "CSRF checkCSRFinHeaderAndForm fails for multipart"
If the submitted form is a multipart form then the check does not trigger and the request is refused even if a proper csrf field is included in the form.

[2021-03-12 05:53] jan0sch commented on #4612
I've started working on it and will come up with PRs soon.

[2021-03-12 06:51] rossabaker commented on #4612
If the fix is binary compatible, series/0.21 would be the best place for it, so we can get it into a stable release sooner.

[2021-03-12 17:24] rossabaker opened #4615 "Flaky test on QueryParam[ZonedDateTime]"
[code]

[2021-03-16 14:20] etspaceman opened #4624 "Http/2 Push Promise support - Jetty backend"
Jetty supports Push Promises today for Http2 servers. I was in need of this for a project of my own but it doesn't seem that the current Jetty backend supports this today. Created per a conversation w/ @ChristopherDavenport .

[2021-03-16 14:20] etspaceman opened #4625 "H2/H2C Support - Ember"
Created per a conversation w/ @ChristopherDavenport

[2021-03-16 14:26] rossabaker commented on #4624
To make this happen, I think we'd need to understand how they're implemented via a servlet model, and then consider an abstraction that would also fit nicely with forthcoming Ember support.  Vault attributes are _probably_ the answer here.

[2021-03-16 19:21] phongngtuan commented on #4615
This one is due to bug in jdk 8 (https://bugs.openjdk.java.net/browse/JDK-8183553) shall we just... ignore it for jdk8?

[2021-03-17 02:07] rossabaker commented on #4615
Ugh. Yes, I think we can ignore it.  Users in Warsaw in the year 66127929 around the fall Daylight Saving Time change will hopefully not still be on Java 8.

Thanks for finding the cause!

[2021-03-17 02:33] phongngtuan commented on #4615
it's also failing right now for half of the year but perhaps nobody is using this
1. as a query param, and
2. using the same date formatter we have in test, we have both the ZoneId and the offset (the formatter is only defined in test so I guess nobody is really using it)

[2021-03-17 03:53] rossabaker commented on #4615
This failed again  It's more serious than I appreciated.  In https://github.com/http4s/http4s/pull/3691, we filtered out `GMT0`.  What if we filtered out every `ZoneId` that is not an instance of `ZoneOffset` on 1.8?

[2021-03-17 04:43] phongngtuan commented on #4615
`ZoneId.getAvailableZoneIds()` doesn't return offset-based zone ID. It sounds like it should fail more often on jdk8: for anything with daylight saving time

There is 1 comment in the jdk ticket https://bugs.openjdk.java.net/browse/JDK-8066982,

How about we generate test cases using offset based `ZoneId` for all jdk and additionally region-based for jdk11 and above? Or some thing along that line,

[2021-03-17 05:01] rossabaker commented on #4615
If I understood the bug right, what you propose should be reliable.

It kind of sucks to declare this property as something to help reason about the code, and then restrict the property on JDK8 because it's buggy and they haven't backported the fix in several years.

Another thing we could do is just disable the property entirely on JDK8.  If people really want to put zoned-date times using a regi

[2021-03-17 14:15] Mullefa commented on #4528
Possibly should be included in this issue thread #1503 ?

[2021-03-18 09:54] #4615 closed

[2021-03-18 20:16] ScalaWilliam commented on #4624
Just putting this here --> https://github.com/fstab/http2-examples/blob/master/jetty-http2-echo-server/src/main/java/de/consol/labs/h2c/PushEchoServlet.java

[2021-03-19 02:02] rossabaker commented on #4624
Interesting.  Looks like this delegates to Jetty APIs, rather than being a raw servlet solution.  That's probably fine, but has impacts on where it lives if we build on it.

[2021-03-19 02:04] rossabaker commented on #4624
I also thought these APIs would be part of Servlet 4/5.  I need to make time to read those.  The difference between 4 and 5 is the package namespace, but I thought this was a new feature.

[2021-03-19 16:45] prvnsmpth opened #4628 "Running background tasks in http4s"
The current documentation doesn't have any information on how we can run background tasks in an http4s service. A few examples that highlight the common patterns used for running tasks in a background thread would be helpful - especially for those new to pure FP programming in Scala, with cats-effect, fs2, etc.

[2021-03-21 02:21] ChristopherDavenport opened #4631 "Expose Uri Authority Parsing"
Currently Authority can either be Created as a case class, or pulled out of a complete Uri. Would be very useful if the methods to parse that were available to other integrations as well.

[2021-03-22 03:04] rossabaker commented on #4631
We haven't committed to whether cats-parse will be part of the public API or not.  Parboiled2 never was, so we could theoretically swap it out, though we broke everything when that day came.

It's doubtful we could do a prospective cats-parse-0.4 without breaking, because of diamonds.  So... exposing that implementation detail is probably fine?

[2021-03-22 03:39] rossabaker commented on #4628
This is going to be more of a cats-effect or fs2 issue, as we entirely rely on their concurrency support.  But some pointers to their own documentation on the subject would be prudent.

[2021-03-22 17:34] soujiro32167 commented on #4528
My workaround: https://gist.github.com/soujiro32167/7dd43d11484b56d65555e3f2ddf8d392

[2021-03-24 14:11] rossabaker opened #4641 "Scalafix for Status#headers DSL"
Would be great to add #4640 to the scalafixes under development.

[2021-03-25 19:56] arixmkii opened #4643 "Evaluate update to Servlet 4 and Jetty 10"
Current builds of Http4s are using Servlet 3.0 as build dependency. It would be nice to bump this to Servlet 4.0 before full move to `jakarta` namespaces and version 5.0.

Now it should be possible to bump Servlet version.
* Tomcat 9 implements Servlet 4.0 https://tomcat.apache.org/whichversion.html
* Jetty 10 also supports Servlet 4.0 https://www.eclipse.org/jetty/

Also, Jetty 10 kept `javax.ser

[2021-03-25 21:47] arixmkii opened #4645 "Remove "private" directive from `no-cache` header set"
It is added as part of multiple directives in `Caching` middleware. https://github.com/http4s/http4s/blob/62a4b0d8e632537794a322b992c61dc02c10b013/server/src/main/scala/org/http4s/server/middleware/Caching.scala#L50

But according to MDN it should not be used for cache prevention https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control#cacheability

It is a one line change. If the i

[2021-03-25 22:17] arixmkii commented on #4645
Added PR. It is ok to close it, if the change is not accepted.

[2021-03-26 02:48] kubukoz opened #4647 "Client `Logger.colored` can't be called with the default responseColor"
When you try this:

[code]

The result is:

[code]

Providing the default `responseColor: Response[F] => String = ResponseLogger.defaultResponseColor _` makes it compile:

[code]

Scala 2.13.5, http4s 1.0.0-M19

[2021-03-26 02:52] kubukoz opened #4648 "Feature request: support conditional middleware body logging"
When using e.g. the client `Logger(logBody: Boolean)` middleware, I have to go all-in or all-out - this limits the reusability of a client for multiple usecases, such as streaming files and JSON bodies in different endpoints.

It would be nice if `logBody` had a reference to the request/response (presumably as a `Message[F]` in Logger, as a `Request[F]` in RequestLogger etc.).

[2021-03-26 03:09] kevinmeredith commented on #4648
@kubukoz [Logger#logBodyText](https://github.com/http4s/http4s/blob/series/0.22/client/src/main/scala/org/http4s/client/middleware/Logger.scala#L40-L50) exists. It does not include a reference to the request/response, however it does give you an option as to what do with the payload `String`'s.

[2021-03-26 03:49] kubukoz opened #4649 "`Headers -> Header.ToRaw` ?"
There is no implicit conversion between these two, and I think there should be (`.headers` on a `Headers` gives you a list of headers, which has that conversion)

[2021-03-26 03:50] kubukoz commented on #4648
Yeah, I saw that but it won't be as easy to figure out what the body is - some heuristic would have to be applied... like how do you say "is this plaintext?"? 😅

[2021-03-26 14:56] kubukoz opened #4651 "Bug: Multipart client request hangs on error in fileData part stream"
This is happening in 1.0.0-M19.

To reproduce, run this:

[code]

Example output:

[code]

then nothing for 45 seconds, then...

[code]

If you send some other bytes (like the commented `data`) instead, you'll get a prompt response.

[2021-03-26 15:15] kubukoz commented on #4651
Note that I'm not really bothered too much about the hanging because it unblocks *eventually* and can be `.timeout`ed to speed that process up, but I was curious if this could be caused by something in CE3: if so, it'd be best to triage before release.

[2021-03-27 04:22] rossabaker commented on #4643
Upgrading major versions is not something we usually do until our own next version.  Even if our integration is binary compatible under `org.http4s`, we'd be forcing our Jetty 9 users onto Jetty 10, and I don't know what breaking changes happen _outside_ http4s.  For instances, are those websocket and session refactors in the [release notes](https://webtide.com/jetty-10-and-11-have-arrived/) compa

[2021-03-27 15:31] arixmkii commented on #4643
Yes, I totally agree, that major version bump is very painful. That why I created this issue with "Evaluate". As for PR, I made it mostly as POC, that it is relatively simple to apply this change (from code perspective).

Unfortunately I can't comment on the adoption rate of Servlet spec version 5. 2 major players (Jetty and Tomcat) are providing production builds of their servers, but it will tak

[2021-03-27 15:34] arixmkii commented on #4643
Will need to check this. Is it needed in general or for some specific features. Because I noticed that `Http4s` has JDK 8 at least for CI.

[2021-03-28 05:18] rossabaker commented on #4643
Oh, right.  Someone mentioned that Java 11 issue in another discussion.  That definitely slams the door shut on 0.21: many of our users won't be able to upgrade.

We planned on spinning servlet support off into its own repos before 0.22 goes final.  That would let us build http4s-jetty and http4s-jetty-client on Java >= 11.  It also conceivably means we could support any combination of {Servlet 3,

[2021-03-28 05:24] rossabaker commented on #4648
I'm going to confess I lost track of what most of these alternative versions actually do several months ago.  Pull request welcome, and it would be great if a maintainer who is using these could take a look.

[2021-03-28 05:24] rossabaker commented on #4649
That seems okay to me.  @SystemFw, any reason we wouldn't want this?

[2021-03-28 05:33] #4645 closed

[2021-03-28 05:34] rossabaker commented on #4647
Is there a workaround that would let us elide that argument?  I would strongly prefer not to have an overload.

I guess if we can't use the default, we should remove the default.

[2021-03-28 10:46] kevinmeredith commented on #4600
OK to close this, @rossabaker? Or you only close once you cut a release! Thanks

[2021-03-28 10:54] SystemFw commented on #4649
Nothing specific, the semantics of .ToRaw are essentially arbitrary, so it's up to you how much magic do you want to include there

[2021-03-28 11:26] arixmkii commented on #4643
This suits my needs. I have only a 2 projects with Servlets, which are already moved to internal systems only and we are on a way to phase them out.

If I ever need to do Servlet related stuff again I will move on JakartaEE or use different tech for sure.

Feel free to close related PR and this issue, when you have issue or project of moving http4s mainline to Jakarta EE 9 level.

Did this mostly

[2021-03-28 15:00] rossabaker commented on #4643
I think your PR (which I still haven't reviewed in depth -- I'll get there!) is still useful, because it handles some of the deprecations in modern Jetty.  We'll just want to move it all the way to Jakarta.

[2021-03-29 02:17] rossabaker commented on #4649
Alright, we can try it and see if we have any regrets once it's there.

[2021-03-29 02:18] rossabaker commented on #4600
Close on merge is good.  I just am not as diligent as I ought to be about mopping up.

[2021-03-29 02:18] #4600 closed

[2021-03-29 18:17] rossabaker opened #4670 "Flaky test: Ember TraversalSpec"
[code]

[Link](https://github.com/http4s/http4s/pull/4668/checks?check_run_id=2220857478).

[2021-03-29 20:16] rossabaker opened #4672 "Flaky QueryParamCodecSuite ZonedDateTime"
This is related to some others, that I'm too hurried to look up right now:

[code]

[Link](https://github.com/http4s/http4s/pull/4671/checks?check_run_id=2221878000)

[2021-04-04 14:42] zarthross opened #4706 "`Header.Select` needs a method like `from` that preserves `ParseFailure`s"
I'm working on updating [Rho](https://github.com/http4s/rho/pull/501) to support the new header redesign. One of the issues I've run into is Rho prefers to throw errors for headers that fail to parse, and the new header redesign appears to prefer simply ignoring the errors?

- Can we get a method on `Header.Select` that doesn't convert the `Either` to `Option`?
- Should this same type of method ex

[2021-04-04 17:29] etspaceman opened #4707 "Blaze Http2 Support Is Bugged"
Opening per a conversation w/ @ChristopherDavenport

Created a server like so:

[code]

When sent Http2 requests, it seems to be going into the Http1 stages:

[code]

[2021-04-05 03:02] rossabaker commented on #4706
I think this might be a rare use case for `Ior`, specifically `Ior[NonEmptyList[ParseFailure], F[A]]`.  "Tell me everything you had to throw away, but give me a value if you can."

* On the happy path, we get an `Ior.Right`.
* If it's total garbage, we get an `Ior.Left`.
* If it's a recurring header and m of n are bad, for 0 <  m < n, we'll get an `Ior.Both` with the good values and warnings of wh

[2021-04-05 03:27] rossabaker commented on #35
Six years of inaction suggests to me that we've all learned to live with the basic accuracy vs. portability tradeoff and are picking our poison.

[2021-04-05 03:27] #35 closed

[2021-04-05 03:42] rossabaker commented on #104
`javax.servlet.http.HttpSession` is exposed via a servlet attribute, and [http4s-session](https://github.com/http4s/http4s-session) gives a more portable, functional solution.  Further work should go to the latter.

[2021-04-05 03:42] #104 closed

[2021-04-05 03:43] rossabaker commented on #136
Discussed in greater detail [over here](https://github.com/http4s/http4s/discussions/4140).

[2021-04-05 03:43] #136 closed

[2021-04-05 03:44] rossabaker commented on #145
This would find a better home in scalacheck if it were ever done.

[2021-04-05 03:44] #145 closed

[2021-04-05 03:53] rossabaker commented on #194
That function is deprecated, but I think the point is still true.  We should investigate this as part of the URI redesign.

[2021-04-05 03:54] rossabaker commented on #234
Other alternatives better suited to this use case are mentioned.  I don't think http4s-dsl is the right tool for this job.

[2021-04-05 03:54] #234 closed

[2021-04-05 03:57] rossabaker opened #4710 "ember-client support for HTTP tunneling"
See #251 for related discussion on blaze.

[2021-04-05 03:58] rossabaker opened #4711 "Websocket support for ember-server"
See #64 for a discussion of servlet support.

[2021-04-05 03:59] rossabaker commented on #282
Nobody has brought forth a good API for this, and backends that support cancellation have a nice way to do this with cats-effect `timeout`.

[2021-04-05 03:59] #282 closed

[2021-04-05 04:02] rossabaker commented on #308
This information is not part of the IANA database, so I don't know where to get it en masse.  I'm inclined to close it, but let's see if a new generation of committers finds it stimulating first.

[2021-04-05 04:03] rossabaker commented on #330
Let's at least assure ourselves we can do this in a non-breaking way before going 1.0.

This is one of the highest value tickets on the board.

[2021-04-05 04:06] rossabaker commented on #342
This is a monumental task, but it's a bit dangerous to go 1.0 without this.  Adding it to the milestone so we're all nodding our heads sadly if we haven't moved on it.

[2021-04-05 04:09] rossabaker commented on #428
As good a place as any: do we still want a cats-uri?

[2021-04-05 04:12] rossabaker commented on #559
@hamnis took care of this, and it's in 0.22.

[2021-04-05 04:12] #559 closed

[2021-04-05 04:15] rossabaker commented on #560
I think we have enough similar URI tickets, nothing novel to do here.

[2021-04-05 04:15] #560 closed

[2021-04-05 04:22] rossabaker commented on #570
I don't know how actively maintained the tsec implementation is anymore, or how coupled it is to tsec.  Leaving open as minimally a documentation issue, though an http4s-oauth2 would be a nice project.

[2021-04-05 04:24] rossabaker commented on #593
Revived discussion [on Gitter](https://gitter.im/http4s/http4s?at=6015a362063b6c68d52a4018).

[2021-04-05 04:31] rossabaker commented on #619
Setting aside the comments issue we overlooked (:disappointed:), I think the client would be neat.  It's probably too esoteric for the main `Client` interface, but can't go on core.  A new `SseClient` that wraps a `Client` would be a good home for implementing this spec.

[2021-04-05 04:33] rossabaker commented on #712
This got support for the `IdempotencyKey` header and more customizable policies.  Closing.

[2021-04-05 04:34] rossabaker commented on #712
Though maybe this has interesting interactions with #4509, which does allow the detection of pure bodies. :thinking:

[2021-04-05 04:36] rossabaker commented on #751
Deeper discussion in #2216.

[2021-04-05 04:36] #751 closed

[2021-04-05 04:37] rossabaker commented on #752
Let's leave this the generic issue for H2 client support.  @ChristopherDavenport is actively working on it for Ember.

Open question: does anything need to change in the model to support H2's extended features vs. HTTP/1?

[2021-04-05 04:38] rossabaker commented on #756
We adopted Typelevel Vault a long time ago.

[2021-04-05 04:38] #756 closed

[2021-04-05 04:41] rossabaker commented on #834
Sorry for overlooking this earlier.  @niij's solution seems reasonable to me.

[2021-04-05 04:46] rossabaker opened #4712 "Move ConnectionManager and PoolManager to blaze-client module."
Ember is using keypool, which is a generally superior solution.  The `ConnectionManager` evolved for blaze and never really generalized, and I don't want to maintain it in the commons moving forward.

Because client can't see blaze-client, I don't think a deprecation cycle is practical, and there are few direct references anyway.

[2021-04-05 04:50] rossabaker opened #4713 "Convert CORSConfig to a builder pattern for bincompat"
We can't add CORS options without breaking binary compatibility.  Use something like the builder pattern so we can add options later.

Would be nice to pick up along with #834.

[2021-04-05 04:51] rossabaker commented on #858
A client specification, akin to the server spec in #342, would be lovely.  And a lot of work.

[2021-04-05 04:58] rossabaker commented on #966
`withHttpApp` has been introduced as the common way for Blaze and Ember.  It doesn't make sense on the servlet containers (or at least fights with servlet mappings), so those are different.

I think we're consistent, but since this is confusing to people, leaving open to make sure it's better documented.

[2021-04-05 05:00] #1024 closed

[2021-04-05 05:01] rossabaker commented on #1025
The table is obsolete, but a pass making things as common as we can before 1.0 is still merited.  One example that jumps to mind is the use of ip4s types in the binding.

[2021-04-05 05:07] rossabaker commented on #1041
I think the point above, keeping common authorization in a val (or even a simple middleware), is persuasive.

[2021-04-05 05:07] #1041 closed

[2021-04-05 05:11] rossabaker commented on #1051
fs2-reactive-streams would make this very easy.  I think we would host this in a separate repo if it ever came to fruition: we're looking to split this repo, not add to it.

[2021-04-05 05:11] rossabaker commented on #1072
This is neatly handled in the Header redesign: multiple models are allowed that parse the same header name.

[2021-04-05 05:11] #1072 closed

[2021-04-05 05:13] rossabaker commented on #1077
I don't think this test exists anymore.

[2021-04-05 05:13] #1077 closed

[2021-04-05 05:13] #1083 closed

[2021-04-05 05:14] rossabaker commented on #1154
I haven't seen this in a while.  Maybe was fixed by the silence system error work.

[2021-04-05 05:14] #1154 closed

[2021-04-05 05:20] rossabaker commented on #1171
The `HttpSession` has been exposed for quite some time.

[2021-04-05 05:20] #1171 closed

[2021-04-05 05:22] rossabaker commented on #1269
This might be relevant to keypool as well.

[2021-04-05 05:25] rossabaker commented on #1302
Probably will be addressed as part of #4509

[2021-04-05 12:45] rossabaker commented on #1553
Note that `fetch` is gone now, though there are similar ways to trip up.

[2021-04-05 12:46] rossabaker commented on #1605
I truncated a while back, and we can do it again as needed.

[2021-04-05 12:46] #1605 closed

[2021-04-05 12:53] rossabaker commented on #1648
`jsonEncoderOf` no longer takes an `EnityEncoder[F, String]`. I think this is obsolete now.

[2021-04-05 12:53] #1648 closed

[2021-04-05 12:55] rossabaker commented on #1667
Happening in #4611 .

[2021-04-05 12:57] rossabaker commented on #1689
I am not particularly excited about this when we have GraalVM, and scant progress has been made in our dependencies.  I doubt this one is ever going to happen.

We can revisit if and when fs2 gets it.

[2021-04-05 12:57] #1689 closed

[2021-04-05 12:59] rossabaker commented on #1691
This is already implemented in some backends.  If we identify any that are missing, let's treat those as separate tickets.

[2021-04-05 12:59] #1691 closed

[2021-04-05 13:00] hvesalai commented on #1691
Thank you!

[2021-04-05 13:01] rossabaker commented on #1692
This is pretty well addressed by the introduction of `HttpApp`, deferred `<+>` on `HttpRoutes`, and the parameterization of most middleware.

[2021-04-05 13:01] #1692 closed

[2021-04-05 13:03] rossabaker commented on #1695
I still agree with this.  The first step is to identify them, and then we can identify correct replacements.

[2021-04-05 13:06] rossabaker commented on #1705
This wouldn't live in http4s-server, but tagging as such so it stays in the correct repo after we split.  There are still interesting ideas here worth exploring.

[2021-04-05 13:08] rossabaker commented on #1717
We should take this opportunity to convert to the builder pattern as well.  If anyone picks this up and doesn't understand what we mean by that, happy to help.

[2021-04-05 13:08] rossabaker commented on #4713
This is basically #1717.

[2021-04-05 13:08] #4713 closed

[2021-04-05 13:08] rossabaker commented on #1717
Good opportunity to pick up #834, though if we do it right, they don't _have_ to go together.

[2021-04-05 13:10] rossabaker commented on #1724
Please reopen if this is still an issue.

[2021-04-05 13:10] #1724 closed

[2021-04-05 13:11] rossabaker commented on #1743
Bigger question: does anybody like the client DSL?  I don't, and discourage its use.  Should it survive at all?

[2021-04-05 13:12] rossabaker commented on #1744
They're gone in 0.22.

[2021-04-05 13:12] #1744 closed

[2021-04-05 13:13] rossabaker commented on #1745
These traits are gone.

[2021-04-05 13:13] #1745 closed

[2021-04-05 13:14] rossabaker commented on #1746
There is no longer a mutable registry.

[2021-04-05 13:14] #1746 closed

[2021-04-05 13:16] rossabaker commented on #1747
This is being addressed in #4611.

[2021-04-05 13:16] gvolpe commented on #1717
Oh my! Sorry for leaving this here for so long, completely forgot about it 😅

[2021-04-05 13:18] rossabaker commented on #1797
This is super old.

[2021-04-05 13:18] #1797 closed

[2021-04-05 13:19] rossabaker commented on #1717
I'm backlog grooming.  I started last night in 2014, and am up to 2018!  :rocket:

[2021-04-05 13:23] rossabaker commented on #1812
I think this just needs a timeout parameter with a default value.  The `mountService` method is an old name as well -- `mountRoutes` would probably be more sensible.

[2021-04-05 13:25] rossabaker commented on #1813
Do we want to skip this in values, or just in keys?

[2021-04-05 13:28] rossabaker commented on #1815
This wasn't consciously fixed, but versions have moved on, and we haven't seen new reports.  If this problem persists, please reopen.

[2021-04-05 13:28] #1815 closed

[2021-04-05 13:31] rossabaker commented on #1817
This idea has some detractors, and we'd want it to be opt-in.  Closing for lack of progress, but if anyone is still passionate about it and intends to work on it, we can revisit.

[2021-04-05 13:31] #1817 closed

[2021-04-05 13:33] rossabaker commented on #1840
So, ember uses log4cats, and is the one that will stay in this repository.  Blaze pretty much has to use log4s, but will be moving out of this repository.

I'd prefer to have just one in this repository, so it makes sense to me to replace log4s with log4cats outside of blaze.

[2021-04-05 13:36] rossabaker commented on #1853
Is a `Ref` everywhere too heavy for a feature that is very rarely used?

[2021-04-05 13:38] rossabaker commented on #1863
This exists now.

[2021-04-05 13:38] #1863 closed

[2021-04-05 13:40] rossabaker commented on #1905
The builders are refactored.  We just need to do the work.

[2021-04-05 13:43] rossabaker commented on #1918
I _think_ this is obsolete since the middleware was parameterized?  If not, please reopen.

[2021-04-05 13:43] #1918 closed

[2021-04-05 13:47] rossabaker commented on #1919
I think a constructor that returns a tuple would be best.  Prior art:

* Ember has a subsclass of client that returns stats, but that has impaired binary compatible fixes.
* async-http-client exposes stats, but only from clients you create.  See `AsyncHttpClientStats`.

[2021-04-05 13:47] rossabaker commented on #1926
Please reopen if this is still a problem.

[2021-04-05 13:47] #1926 closed

[2021-04-05 13:50] rossabaker commented on #1967
Make sure we're comfortable with the status quo before 1.0.  Is this still causing people grief?

[2021-04-05 13:52] rossabaker commented on #2010
We've cleaned this up quite a bit since this was opened.

[2021-04-05 13:52] #2010 closed

[2021-04-05 13:53] rossabaker commented on #2012
This should probably be converted into a project.  Going through the backlog, I've already flagged a half dozen related issues, and I'm only about 25% of the way through.

[2021-04-05 13:54] rossabaker commented on #2014
We got a couple out of this.  I think it's served its purpose, but please don't hesitate to bring more useful ones.

[2021-04-05 13:54] #2014 closed

[2021-04-05 13:55] rossabaker commented on #2016
This should live in a separate repo if anyone acts on it.

[2021-04-05 13:56] rossabaker commented on #2017
I haven't successfully eliminated these over a few attempts.  I think they're here to stay.

[2021-04-05 13:56] #2017 closed

[2021-04-05 13:57] ScalaWilliam commented on #1817
For anyone interested, while this issue has not gone away by itself, I found a much happier solution; sbt-revolver + browser-sync.

I wrote a small http4s plug-in for browser-sync. It's not documented very much, but if anybody is interested,

[code]

Sources @ https://github.com/ScalaWilliam/rad4s/blob/master/http4s-browsersync/src/main/scala/com/scalawilliam/rad4s/BrowserSync.scala

This would re

[2021-04-05 13:57] sbuzzard opened #4714 "Connection refused / poss SSL handshake stale with Ember Server on 0.21.21"
We have been using Ember Server with SSL for our application with no issue until upgrading to 0.21.21  where we started getting connection refused attempting to make requests to our server.  The trace logging indicated that the SSL handshake might be stalling.  This is an [output of that tracing with 0.21.21](https://gist.github.com/sbuzzard/6fcb12f8e1e6692cd5cbec43a3985c6f), contrasted with [0.21

[2021-04-05 13:57] rossabaker commented on #2019
I'm not a WebSocket person.  Is this something we'd need to refine the abstract interface for?  Are cats-effect timeouts sufficient, or is this about a global timeout?

[2021-04-05 13:58] #2029 closed

[2021-04-05 13:59] rossabaker commented on #2038
We added a `Caching` middleware a while back, and mules has an http4s integration for something more sophisticated.

[2021-04-05 13:59] #2038 closed

[2021-04-05 14:02] rossabaker commented on #2047
I'm trying to remember why I had a problem with this.  The guard is pure.  I think it was already fine?

[2021-04-05 14:02] #2047 closed

[2021-04-05 14:04] rossabaker commented on #2072
I guess this could be handled through deprecation instead of breaking, but it's still a good idea.

[2021-04-05 14:05] rossabaker commented on #2096
Duplicate of #1695.

[2021-04-05 14:05] #2096 closed

[2021-04-05 14:06] rossabaker commented on #2135
I'm making this pass now.

[2021-04-05 14:06] #2135 closed

[2021-04-05 14:07] rossabaker commented on #2011
This got cleaned up in the Header remodel.  A few that had a default model disappeared, but we can handle those on a case-by-case basis.

[2021-04-05 14:07] #2011 closed

[2021-04-05 14:10] rossabaker commented on #2161
Looks like http4s-pac4j is an established project now.  Closing.

[2021-04-05 14:10] #2161 closed

[2021-04-05 14:11] rossabaker commented on #2176
Please reopen if still a problem.

[2021-04-05 14:11] #2176 closed

[2021-04-05 14:13] rossabaker commented on #2197
I can't reproduce this in the wild.  If it's still an issue on a supported version (currently, >= 0.21), please reopen.

[2021-04-05 14:13] #2197 closed

[2021-04-05 14:27] rossabaker commented on #2218
This exists.

[2021-04-05 14:27] #2218 closed

[2021-04-05 15:49] bblfish opened #4716 "support RFC8941: Structured Field Values for HTTP"
[RFC 8941 Structured Field Values for HTTP](https://www.rfc-editor.org/rfc/rfc8941) is used by [Signing HTTP Messages](https://tools.ietf.org/html/draft-ietf-httpbis-message-signatures-02) spec worked on by the HTTP Bis Working Group. I think it has its own value as per the [introductory blog post](https://www.fastly.com/blog/improve-http-structured-headers) as it creates a common syntax for all n

[2021-04-06 03:52] rossabaker commented on #2253
Believe this is fixed in `BlazeServerBuilder`.  Please reopen if not.

[2021-04-06 03:52] #2253 closed

[2021-04-06 03:56] rossabaker commented on #2277
@Daenyth Had you seen this again when you bumped this?  Trying to get a feel for how fresh this is.

[2021-04-06 03:58] rossabaker commented on #2290
Closing after the cats-effect fix.  Please reopen if it's still a problem in http4s.

[2021-04-06 03:58] #2290 closed

[2021-04-06 04:02] rossabaker commented on #2312
I don't think there's a lot we can do here.  If this is still causing pain, please reopen.

[2021-04-06 04:02] #2312 closed

[2021-04-06 04:05] rossabaker commented on #2314
Well, I'm about 2.5 years late to the game, but this still looks interesting.  The webjars locator would require a new dependency in http4s-server, right?  That's what I'd be most wary of.

[2021-04-06 04:11] rossabaker commented on #2321
I don't know whether this is fixed or not, but it seems easy enough to unit test.

[2021-04-06 04:14] rossabaker commented on #2347
The workaround with the if-guard seems to be sufficient here.

[2021-04-06 04:14] #2347 closed

[2021-04-06 04:16] rossabaker commented on #2348
This seems like something that would be cleaned up by #4509.

[2021-04-06 04:17] rossabaker commented on #2346
This looks like a manifestation of #2348.

[2021-04-06 04:17] #2346 closed

[2021-04-06 04:29] rossabaker commented on #2371
Catching up on backlog, and I stand by my previous comment.

[2021-04-06 04:31] rossabaker commented on #2383
Note that `nio2` is gone, so the workaround is about to be gone.  We'll need to do something else.

[2021-04-06 04:35] rossabaker commented on #2431
Fixed in #2604 and #3422.

[2021-04-06 04:35] #2431 closed

[2021-04-06 04:36] rossabaker commented on #2436
I can't decipher my own rambling here.

[2021-04-06 04:36] #2436 closed

[2021-04-06 04:42] rossabaker commented on #2445
Still seems problematic.  Needs to be part of a grand URI rethink.

[code]

[2021-04-06 04:53] rossabaker commented on #2537
`Request` is no longer a case class.  `Response` is, but this is misleading.  I don't think equality should be relied upon, and ad hoc definitions of equality for tests should be a test-local `Eq` instance, like we do for `IO`.

In fact, I think we should make `Response` not a case class.

[2021-04-06 04:57] rossabaker commented on #2600
The logger in Blaze is log4s, so I'm not sure what the log4cats solution achieves.  I guess we can still add this, but I'm still not understanding what can't be accomplished through logback facilities.

[2021-04-06 04:58] rossabaker commented on #2602
I don't think mdoc allows this.

[2021-04-06 04:58] #2602 closed

[2021-04-06 05:02] rossabaker commented on #2627
Reading this again, I like it.

[2021-04-06 05:04] rossabaker commented on #2680
I think #2623 addresses this.  If not, please reopen.

[2021-04-06 05:04] #2680 closed

[2021-04-06 05:07] rossabaker commented on #2702
If ember stands its ground, we'll need to scalafix the heck out of a lot of other things.

[2021-04-06 05:10] rossabaker commented on #2703
1. the `EmberClient` subtype has fought us on binary compatibility.
2. async-http-client effectively does option 2

[2021-04-06 05:12] rossabaker commented on #2725
Closing due to inaction.  Please reopen if still interested.

[2021-04-06 05:12] #2725 closed

[2021-04-06 05:17] rossabaker commented on #2731
I think the question remains: why do we have an overload for the effectful version?

[2021-04-06 05:24] rossabaker commented on #2743
This has been ported to ip4s in 0.22.  It could still be fixed in 0.21, if it's causing an itch.

[2021-04-06 05:28] rossabaker commented on #2756
This seems reasonable to me.  We should also eliminate the `Boolean` blindness while we're at it.

[2021-04-06 06:20] nigredo-tori commented on #2743
@rossabaker, I have a workaround, and hopefully the project where I need it will get updated eventually. Thanks!

[2021-04-06 06:20] #2743 closed

[2021-04-06 13:41] remiguittaut opened #4718 "Provide json support for zio-json"
As of now, only Circe, Argonaut and Json4s (might have, correct me if I'm wrong) are supported to handle json with http4s.

It would be very helpful to have zio-json support.

[2021-04-06 13:51] remiguittaut commented on #4718
Actually, there are others, like play-json it seems. Just mentioned the ones in the doc.

[2021-04-06 15:01] ValdemarGr opened #4719 "Websocket as a resource."
Currently the Websocket interface requires a callback when it closes.
https://github.com/http4s/http4s/blob/4c7c1000add0d8e19051aaab9fe4d9401459fbe7/server/src/main/scala/org/http4s/server/websocket/WebSocketBuilder.scala#L140
Keeping a resource allocation tied to the lifetime requires some ceremony. I think a type of builder (or a family of builders) which support `cats.effect.Resource` would mak

[2021-04-06 15:24] rossabaker commented on #4718
We are not integrating that ecosystem under http4s.org.

[2021-04-06 15:24] #4718 closed

[2021-04-06 15:26] rossabaker commented on #4719
I don't do much with websockets, but the interface predates `Resource`, and this makes a lot of sense to me on the surface.

[2021-04-06 16:11] remiguittaut commented on #4718
I have no word.... well so be it.

[2021-04-06 18:13] kubukoz commented on #4718
@rossabaker why? Are there any technical reasons for this?

[2021-04-06 18:14] remiguittaut commented on #4718
No, it's political, whatever that has to do with json...

[2021-04-06 18:58] ChristopherDavenport commented on #4718
The maintainers do not want to promote an ecosystem we believe is inconsistent with our values. There's plenty of history available for folks that want more information but that's off topic.

[2021-04-07 03:11] rossabaker opened #4721 "Deprecated syntax in build"
Starting on series/0.22, there is a bunch of deprecated syntax in the SBT build.  It's just warnings, but we don't want to live with them.  Convert to the new syntax.

[2021-04-07 12:57] rossabaker commented on #4721
@aeons got this in #4681.

[2021-04-07 12:57] #4721 closed

[2021-04-10 17:17] vasilmkd commented on #4150
This is doable using `IORuntime.createDefaultComputePool(runtime, numThreads, threadPrefix)`.

[2021-04-10 20:37] bblfish commented on #4716
I wrote a first version of RFC8941 in two days of coding using scala.parser. [see PR  in issue 13](https://github.com/co-operating-systems/Reactive-SoLiD/issues/13#issuecomment-817196664)

Would be great if it could be the base for a library that would be independently used by different web server frameworks, on which Signing HTTP Messages could be build. I am writing this for Akka, and will imple

[2021-04-10 23:24] djspiewak opened #4731 "Ember Server returns lots of errors where Blaze… doesn't?"
Tested on **main**. Steps are as follows…

Add the following route definition to `EmberServerSimpleExample`:

[code]

Then, using `hey`, hit the server a lot with a file post. I used `scala-library-2.13.5.jar`, but you could like… do anything, I think, so long as it's reasonably large. Example invocation:

[code]

About half of the two hundred responses will be errors. The distribution looks like

[2021-04-11 00:31] rossabaker opened #4733 "Extract parsers into module below core"
Related to @bblfish's work in #4716: can we extract a sensible parser module to sit beneath http4s-core and share with others?

Why:
* akka-http uses parboiled2.  That's will be an obstacle to their Scala 3 support, and they might be able to reuse our work.
* If they can reuse our work, we'd have more eyes on it and probably catch some latent bugs in our work, and have shared maintenance moving fo

[2021-04-11 01:27] rossabaker commented on #2803
[Embarrassingly late answer for posterity]

`Key.newKey` is not referentially transparent, and thus is returned in `F`.  But we need this key be a shared global reference.  There's nothing to be gained by parameterizing it on `F`: it's just a nuisance effect here.   We just need a simple effect that we can unwrap that's already the classpath.  And `SyncIO` is simpler still, so it has been refactor

[2021-04-11 01:27] #2803 closed

[2021-04-11 04:05] rossabaker commented on #2804
I'm not sure what version the original report was on, but it works for me on series/0.21 today:

[code]

[2021-04-11 04:05] #2804 closed

[2021-04-11 04:07] rossabaker commented on #2826
I would think if it has an `ETag`, we'd just pass that through?  And calculate from these other headers if we can.  I am not an ETag expert.

[2021-04-11 04:11] rossabaker commented on #2883
Basically a duplicate of #1270

[2021-04-11 04:11] #2883 closed

[2021-04-11 04:13] rossabaker commented on #2886
I'm sorry nobody got back to this sooner.  I need more details on "very poorly", and I don't have access to an AIX machine to chase this.  If this still happens on a still supported version (0.21 or later), please reopen, and we'll see what we can figure out.

[2021-04-11 04:13] #2886 closed

[2021-04-11 04:15] rossabaker commented on #2890
The blaze fix has been present since blaze-0.14.9, which was added in 0.20.13.

[2021-04-11 04:15] #2890 closed

[2021-04-11 04:29] rossabaker commented on #2902
I'm sorry for the overdue reply, and thank you for reporting.

I'm reluctant to log full stack traces on client errors, because logging stack traces at high volume can really gum up a server, and it becomes an attack vector.  I prefer Option 2.

I like what Jetty does.  In response to this request,

[code]

We get:

[code]

It tells us the broad category of what's wrong, without putting anything i

[2021-04-11 04:31] rossabaker commented on #2904
I'm glad your issue is fixed, but that still seems buggy that bad timeout configurations can lead to NPEs instead of the wrong kind of timeouts firing.

[2021-04-11 04:35] rossabaker commented on #2920
Some elaboration:
1. What happens if a key is already present?  Replace or add?
2. Should there also be a version for a multi-map?

[2021-04-11 05:11] rossabaker commented on #2938
This works as requested now.

[2021-04-11 05:11] #2938 closed

[2021-04-11 05:16] rossabaker commented on #2951
The logger has been touched several times since this was reported, so unconfirmed, but cautiously flagging it as still a bug.

[2021-04-11 05:21] rossabaker commented on #2961
I apologize.  This was apparently lost to an notification bankruptcy.

I tried to try this on 0.21.22, and got errors.  I get similar errors running the script as reported.  I'm unfamiliar with wiremock, so struggling to reproduce it:

[code]

Is this still an issue on the latest?

[2021-04-11 05:22] #2977 closed

[2021-04-11 05:24] rossabaker commented on #2979
In accord with the implending Great Schism, this would best be done in its own repo.

[2021-04-11 05:32] rossabaker commented on #3036
We've run into a few people using terrible APIs that require it.  I think we should grudgingly allow it, but not send `Content-Length` or `Transfer-Encoding` headers that imply a body unless there is one, which we've been tightening up. #4509 should lock that down further.

[2021-04-11 05:32] #3036 closed

[2021-04-11 05:32] rossabaker commented on #3048
I hear good things about release drafter and I'm getting more serious about issue labels.  Maybe that will help.

[2021-04-11 05:34] rossabaker commented on #3059
Nothing in this proposal is breaking, right?  Trying to prioritize things that necessitate breaking changes now, so we can continue to improve in minor releases after The Big 1.0.

[2021-04-11 05:36] rossabaker commented on #3068
Implemented some time ago.

[2021-04-11 05:36] #3068 closed

[2021-04-11 05:37] #3120 closed

[2021-04-11 05:41] rossabaker commented on #3123
Don't have the ticket that solved this, but it seems snappy to me, now.  Please reopen if you're still struggling.

[2021-04-11 05:41] #3123 closed

[2021-04-11 05:45] rossabaker commented on #3178
Moving further with this is a breaking change, so decide before 1.0.

[2021-04-11 05:47] rossabaker commented on #3202
Not enough to reproduce this, but please reopen if you have something.

[2021-04-11 05:47] #3202 closed

[2021-04-11 05:56] rossabaker commented on #3245
It has been our position that authentication should not first check whether there is a matching route, because the difference between a 401 and a 404 leaks information.  The traditional way to make this composable with public routes is to put the public routes first in `<+>`, or to use a `Router` where a prefix is hidden.  This proposal is more powerful, but the extra power is very rarely what you

[2021-04-11 05:56] #3245 closed

[2021-04-11 06:01] rossabaker commented on #3306
I think this would probably rattle the `ServerSentEvent` type. Let's see if we can get a design for 1.0.

[2021-04-11 09:10] bblfish commented on #4733
I had the following sketch in mind.
An HTTP parser is at base a function `parse: ByteSeq => example.lib.HttpHeader`
One could split this in two:

[code]

The syntax layer is something like [Rfc8941Types](https://github.com/co-operating-systems/Reactive-SoLiD/blob/master/src/main/scala/run/cosy/http/headers/Rfc8941.scala#L103).

Different implementations then essentially provide functions for the s

[2021-04-11 19:33] rossabaker commented on #3307
Milestoning to decide whether we want a `NonEmptyList` of ports before 1.0.

[2021-04-11 19:35] rossabaker commented on #3345
fetch is done, but leaving open to discuss @satorg's proposal to go further.

[2021-04-11 19:36] rossabaker commented on #3348
We're going to cut the docs over to Ember as the default in 0.22.

[2021-04-11 19:36] #3348 closed

[2021-04-11 19:37] rossabaker commented on #3360
I'm the only Netlify administrator.  We want to move everything back to GitHub Pages.

[2021-04-11 19:39] rossabaker commented on #3383
I think this could get mopped up by #4509.

[2021-04-11 19:41] rossabaker commented on #3429
I wonder whether this is fixed in 1.0, with its hotswap.

[2021-04-11 19:42] rossabaker commented on #3430
I don't understand this issue, but HTTP/2 client support is under development in Ember.

[2021-04-11 19:42] #3430 closed

[2021-04-11 19:46] rossabaker commented on #3452
Oh, this looks like it was fixed. :tada:

[2021-04-11 19:46] #3452 closed

[2021-04-11 19:46] satorg commented on #3345
@rossabaker would it make sense to create a separate issue for deprecating methods that take `F[Request[...]]` as a parameter, wdyt?

[2021-04-11 19:48] rossabaker commented on #3482
Fixed by #3488.

[2021-04-11 19:48] #3482 closed

[2021-04-11 19:50] rossabaker commented on #3345
Yes, as long as we link it to this one to continue the context, that would be better.

[2021-04-11 19:53] rossabaker commented on #3519
Fixed by #3520, I think.  Please reopen if it still needs attention.

[2021-04-11 19:53] #3519 closed

[2021-04-11 19:54] rossabaker commented on #3525
Duplicate of #3122.

[2021-04-11 19:54] #3525 closed

[2021-04-11 19:56] rossabaker commented on #3556
Needs a retest, because Ember has seen a lot of progress since then.

[2021-04-11 19:57] rossabaker commented on #3569
Starting in 0.22, headers are a typeclass, and it's possible to define both a strict cookie and a lax cookie, and relax it however you need.

[2021-04-11 19:57] #3569 closed

[2021-04-11 19:58] rossabaker commented on #3586
Not immediately clear why this would be, but I'm going to guess it's the URI refactoring.

[2021-04-11 20:07] rossabaker commented on #3626
Apologies for losing track of this.

I ported it to IO, and it works for me on the head of the 0.21 branch.  You might want to try again with 0.21.22.

[code]

[code]

[2021-04-11 20:07] #3626 closed

[2021-04-11 20:13] rossabaker commented on #3653
We can probably improve this without breaking changes, but 1.0'ing it to agree that we can.

[2021-04-11 20:18] rossabaker commented on #3662
http4s doesn't do anything special with `SSLContext`: whatever you give the server builder is what it will use.  So if you can figure out how to do it with `SSLContext`, you should only need to call `withSSLContext` on your server builder.

[2021-04-11 20:18] #3662 closed

[2021-04-11 20:55] rossabaker commented on #3697
On the servlet front, not that people are clamoring for that support, the current model will be possible in Jetty 10.  So that argument against the status quo is weakened.

Would still like to find a way around this.

[2021-04-11 20:58] rossabaker commented on #3700
I don't think we track that information in the blaze version now.

I'd welcome support for this in blaze, but would prefer to put the effort into Ember.

[2021-04-11 21:00] rossabaker commented on #3717
Anybody have an easy reproduction?

[2021-04-11 21:04] rossabaker commented on #3729
Reporter has ghosted, and idle timeout sounds plausible. Closing.

[2021-04-11 21:04] #3729 closed

[2021-04-11 21:05] rossabaker commented on #3732
Duplicate of #3667.

[2021-04-11 21:05] #3732 closed

[2021-04-11 21:07] rossabaker commented on #4063
Probably breaking if we do it in `GZip`, probably not if we migrate to a `Compression` middleware.

[2021-04-11 21:09] rossabaker commented on #4066
Should be able to do this non-breaking if we conclude it's necessary.

[2021-04-11 21:12] rossabaker commented on #3811
@ChristopherDavenport is actively working on this.

[2021-04-11 21:14] rossabaker commented on #3931
The rest of the team hates this, but I still contend we're running with scissors without it.

[2021-04-12 00:28] rossabaker commented on #3953
This is more interestingly discussed in #4733.

[2021-04-12 00:28] #3953 closed

[2021-04-12 00:34] rossabaker commented on #4094
I think this is done? We mdoc them.

[2021-04-12 00:34] #4094 closed

[2021-04-12 00:37] rossabaker commented on #4120
We stopped.

[2021-04-12 00:37] #4120 closed

[2021-04-12 00:40] rossabaker commented on #4131
This was a giant merge.  I don't even know what module I was talking about.  Probably Ember, because log4s doesn't affect constraints?

[2021-04-12 00:46] rossabaker commented on #4188
I think we have a reasonable solution now in series/0.22.

[2021-04-12 00:46] #4188 closed

[2021-04-12 00:48] rossabaker commented on #4271
`*` doesn't include branches with `/` in the name.  We needed `series/*`.

[2021-04-12 00:48] #4271 closed

[2021-04-12 00:49] rossabaker commented on #4282
What is the doc issue on this?

[2021-04-12 00:52] rossabaker commented on #4283
Let's do it.  I don't mind a clean break in 0.22/1.0.  Extra credit for a scalafix.

[2021-04-12 01:00] rossabaker commented on #4498
If there's anything I can do to help rho integrate it, let me know, but I think there's nothing to do here.

[2021-04-12 01:00] #4498 closed

[2021-04-12 01:01] rossabaker commented on #4513
Fixed by #4604.

[2021-04-12 01:01] #4513 closed

[2021-04-12 01:03] rossabaker commented on #4528
Potentially a breaking change, so let's evaluate before 1.0.

[2021-04-12 01:05] rossabaker commented on #4625
Duplicate of #3811.

[2021-04-12 01:06] rossabaker commented on #4631
Plausibly related to #4733.

[2021-04-12 01:08] RaasAhsan commented on #4282
I think @ChristopherDavenport was running ember-server on mdoc but servers wouldn't close or something. It _should_ be fixed now

[2021-04-12 01:21] rossabaker commented on #4648
Duplicate of #4528.

[2021-04-12 01:21] #4648 closed

[2021-04-12 01:24] rossabaker commented on #4053
Dupe of #3936

[2021-04-12 01:24] #4053 closed

[2021-04-12 01:24] rossabaker commented on #4672
Dupe of #3936.

[2021-04-12 01:24] #4672 closed

[2021-04-12 03:31] #4282 closed

[2021-04-12 03:41] rossabaker commented on #4670
Duplicate of #2794

[2021-04-12 03:41] #4670 closed

[2021-04-12 03:43] rossabaker commented on #146
@zarthross: How terrible would this be for rho? I think it's the primary reason not to move forward with this.  Would we need the compromise of static headers and instance headers?

[2021-04-12 03:59] rossabaker commented on #308
The `asText` idea would require crazy dependencies to do right: we wouldn't want to parse the XML declaration without an XML library.  This would all be a giant effort to maybe do a little better at text for types that mostly shouldn't be treated as text.  Body logging is probably the most compelling case for it, and I don't recall a single complaint.

I think we're better off focusing on good typ

[2021-04-12 03:59] #308 closed

[2021-04-12 04:20] rossabaker commented on #1389
The only one left is `(scriptName, pathInfo)`, which is important and repeatedly referenced in routing.

[2021-04-12 04:20] #1389 closed

[2021-04-12 04:29] rossabaker commented on #1840
The only compelling case for a logger in core is in multipart, if we can't clean up the temp files.  It would be nice to eliminate that entirely.

[2021-04-12 05:02] RaasAhsan opened #4737 "Improve handling of chunks in ember-core"
We convert between three different representations, mostly for convenience I think: `Chunk`, `Array`, and `ByteVector`. I think we could avoid a lot of copying by either choosing one implementation or being more diligent about when we copy.

[2021-04-12 05:06] rossabaker commented on #4737
The biggest performance leap Blaze ever made was getting smarter about viewing ByteBuffers vs. copying.  Don't overlook that, if you've got any that you know you won't be modifying.

[2021-04-12 05:12] rossabaker commented on #2702
I can't find a single instance of us sharing private server or client components between backends, but many instances in blaze and ember of sharing backend components between server and client.  That suggests `$backend.$role`.

$backend will also more naturally reflect our repo organization, where `org.http4s.$backend` usually lives in `http4s-$backend` repo.

I think we should move in this direct

[2021-04-12 06:11] hamnis commented on #3586
This was fixed by #3714, apparently forgot to close it.

[2021-04-12 06:11] #3586 closed

[2021-04-12 10:49] bplommer commented on #2961
There was an import missing from the snippet I posted (`com.github.tomakehurst.wiremock.client.WireMock._`) - sorry about that. But I've tried it again on the latest versions (0.21.22, 0.22.0-M7, and 1.0.0-M21) and none of them have the problem, so I'm closing this issue.

[2021-04-12 10:49] #2961 closed

[2021-04-12 18:51] gatorcse commented on #3556
k, I'll check when I can, thanks!

[2021-04-12 19:18] gatorcse commented on #3556
@rossabaker Fixed, seems to be fixed as of `0.21.7`, the very next version after my initial test. Also confirmed works in 0.22.0-M7

[2021-04-12 19:18] #3556 closed

[2021-04-12 20:55] m-sp commented on #4131
yes this was about ember but not sure if this is really fixable, would be good to get @ChristopherDavenport feedback here

[2021-04-13 21:33] #1813 closed

[2021-04-13 21:34] #3277 closed

[2021-04-13 21:34] #3233 closed

[2021-04-13 21:34] #2445 closed

[2021-04-14 03:57] rossabaker commented on #2794
Another one: https://github.com/http4s/http4s/pull/4741/checks?check_run_id=2331577731

[2021-04-14 05:01] rossabaker commented on #2702
#4702 is a good template for this, and we could use some help.

[2021-04-14 05:07] rossabaker commented on #2702
* [ ] client.asynchttpclient -> asynchttpclient.client
* [ ] client.blaze -> blaze.client
* [ ] blazecore -> blaze
* [ ] server.jetty -> jetty.server
* [ ] client.jetty -> jetty.client
* [ ] client.okhttp -> okhttp.client
* [X] server.tomcat -> tomcat.server

[2021-04-14 05:09] rossabaker commented on #2702
This also has ramifications for the http4s-jdk-http-client project.  It doesn't _have_ to change, but it would fit better with the rest.
 /cc @amesgen.

Armeria, Finagle, and Netty all appear to be under the new convention.

[2021-04-14 15:08] rossabaker commented on #2702
We're targeting series/0.22 with this.  Please leave a comment if you're grabbing one.

[2021-04-14 15:48] vasilmkd commented on #2702
I'd like to work on `server.jetty -> jetty.server`.

[2021-04-14 15:49] amesgen commented on #2702
Will do this for http4s-jdk-http-client in 0.4 and 0.5 :+1:

[2021-04-14 16:02] rossabaker commented on #2702
@amesgen I wonder whether we should add a scalafix here?  That's a little weird to cross repos like that, but it's all binary dependencies in the scalafix project, so it's not _really_ cyclic.

[2021-04-14 16:39] vasilmkd commented on #2702
I'll pick up `client.jetty -> jetty.client` too. Does the base `jetty` directory need to be changed to `jetty-server`?

[2021-04-14 17:42] rossabaker opened #4744 "Rename modules to jetty-server and tomcat-server"
`jetty` has been `jetty` since before we had a `client`, but now we have a `jetty-client`, so it really ought to be called `jetty-server`.

And everything else is `*-server` or `*-client`, so Tomcat ought to be `tomcat-server`, too.

(Reminded of this by @vasilmkd's comment on #2702.)

I don't think we can scalafix an sbt script.  Fortunately, these modules are both <10% usage.  We'll just have to

[2021-04-14 17:42] rossabaker commented on #2702
Yes!  #4744 for that.

[2021-04-14 18:20] rossabaker commented on #4733
Created a though experiment at #4745, so we're talking about something more concrete.

[2021-04-14 18:21] vasilmkd commented on #4744
I'll take this if you don't mind.

[2021-04-14 19:02] hamnis commented on #1743
I remove that dsl everywhere I find it at $WORK.

[2021-04-14 19:05] vasilmkd commented on #4712
I'd like to take this one.

[2021-04-14 19:08] hamnis commented on #2731
I think that was useful for http4s-directives, but I can add that there instead.

[2021-04-14 19:49] vasilmkd commented on #2702
Doing `okhttp`.

[2021-04-15 06:40] RaasAhsan commented on #4719
Great idea, I'll give this a shot while adding WS support to Ember

[2021-04-15 10:27] jrudolph commented on #4733
@rossabaker thanks alot for evaluating the possibility of sharing parsing logic. I also had a quick look into how that would look.

Under the assumption that each user of the library would provide their own model, what would these parsers parse to? It would either have to be an intermediate model or some kind of GADT which can then be postprocessed into the final model. In #4745, you showed that f

[2021-04-15 10:54] vasilmkd commented on #4707
I'd like to investigate this.

[2021-04-15 13:01] bblfish commented on #4733
@jrudolph wrote

I think the idea is that they could parse to [RFC8941: Structured Field Values for HTTP](https://tools.ietf.org/html/rfc8941).

[2021-04-15 20:09] #4744 closed

[2021-04-15 20:11] rossabaker commented on #2731
Alright, I'll leave it to you to decide if it works just as well there.

[2021-04-15 23:19] mnot commented on #4733
See [this](https://mnot.github.io/I-D/binary-structured-headers/) (still very rough).

[2021-04-16 13:12] vasilmkd commented on #4166
What else needs to be done here?

[2021-04-16 13:21] rossabaker commented on #4166
We should give the BlazeServerBuilder in that test its own execution context with threads named something unique to the test, and then fix the assertion linked above to look for threads by that name.  The test is to make sure that routing happens on the given ExecutionContext, and not on an internal blaze pool, or on some global Scala or Cats Effect context.  When we gave it the global in a refact

[2021-04-16 13:24] vasilmkd commented on #4166
I thought that was already the case with #4161 but I see your point now.

[2021-04-16 13:28] vasilmkd commented on #3727
I'm interested to investigate this one, but I have a question. Can this really be considered a bug or just a misconfiguration on the part of the user? What _should_ the server do when the header is missing?

[2021-04-16 14:06] vasilmkd commented on #3727
I'm looking at the definition of `withBodyStream` itself and to me it seems like wrong headers might be an issue.

[code]

[2021-04-16 14:26] vasilmkd commented on #2735
This looks like it has been already [addressed](https://github.com/http4s/http4s/blob/6e9e46488c584b2556d4e32421c5b769f16b6c28/blaze-core/src/main/scala/org/http4s/blazecore/websocket/Http4sWSStage.scala#L175-L185)?

[2021-04-16 16:24] vasilmkd commented on #2702
Just to confirm, we need `client.blaze -> blaze.client` and `server.blaze -> blaze.server` right?

[2021-04-18 01:50] rossabaker commented on #2702
Yep.  It would also make sense to move the `blazecore` package, but that risks conflicting with the upstream blaze repo.  We'll be moving this blaze backend back into that repo, so maybe we can sort out blazecore then.  It should all be private[http4s] anyway.

[2021-04-18 04:17] rossabaker commented on #3697
Opening it up would get around the memory concerns, but we almost always end up regretting subtyping.  There's so much to think about on all the return types.  I'd consider reviving the idea of `Message` as a typeclass before subtyping.

[2021-04-18 04:24] rossabaker commented on #3727
Per the HTTP spec, these messages have no body.  Per http4s tradition, we try to render a body using either a Content-Length (if we know we've buffered the whole thing before first flush) or a chunked transfer encoding.

When #4509 is done, we can stop guessing, and this gets cleaner.  But I'd expect the backend to infer a header.  `CachingChunkWriter` in blaze is one implementation.

[2021-04-18 04:30] rossabaker commented on #2735
Yeah, CE3 cleared that up.

[2021-04-18 04:30] #2735 closed

[2021-04-18 08:38] vasilmkd commented on #3697
As a temporary band aid, could `Request` be `sealed` too?

[2021-04-18 09:38] RaasAhsan commented on #4525
sorry i missed this - seems like the exception is being thrown here https://github.com/http4s/http4s/blob/series/0.21/blaze-client/src/main/scala/org/http4s/client/blaze/ReadBufferStage.scala#L43

understanding how this state machine works will probably be the key to understanding why this bug is happening, so i'll try to spend some time on that tomorrow

[2021-04-18 10:17] L7R7 opened #4760 "Multipart Parsing seems to be broken when updating to 1.0.0-M21"
I have a small project that reads a paginated HTTP resource that produces Multipart documents. I'm currently trying to upgrade from http4s 0.x to the latest 1.0.0 milestone. I got it to compile, but now the multipart parsing fails with an exception.

I put together a small project to demonstrate it: https://github.com/L7R7/http4s-multipart

In a nutshell, what i have is the following:

[code]

whe

[2021-04-18 11:26] ashwinbhaskar commented on #4737
@RaasAhsan @rossabaker are we talking about consistency between lines [1](https://github.com/http4s/http4s/blob/3b63d1c636b2d63242a7e6b4fe31e1da477ec71a/ember-core/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala#L30), [2](https://github.com/http4s/http4s/blob/3b63d1c636b2d63242a7e6b4fe31e1da477ec71a/ember-core/src/main/scala/org/http4s/ember/core/ChunkedEncoding.scala#L31) and [3](https

[2021-04-18 19:32] L7R7 commented on #4760
Closing this. I found out that the boundary can be obtained like so:

[code]

I don't know exacly why, but this seems to work

[2021-04-18 19:32] #4760 closed

[2021-04-18 19:42] RaasAhsan commented on #4737
@ashwinbhaskar I think the goal is less around consistency and more being mindful around where we're copying where it isn't necessary. FS2 gives us a `Chunk[Byte]` which we convert to `Array[Byte]` and `ByteVector` for various reasons, which definitely copies. The underlying representation of the `Chunk` we get from FS2 is a `ByteBuffer`, and in the ideal world, that's sufficient for us to parse a

[2021-04-18 22:14] vasilmkd commented on #836
Is this not addressed by `connectTimeout`?

[code]

[2021-04-19 03:46] rossabaker commented on #836
I don't think so.  I think `connectTimeout` starts ticking when a connection has been obtained.

[2021-04-19 03:48] #4166 closed

[2021-04-19 08:49] vasilmkd commented on #836
Thanks for clarifying.

[2021-04-21 07:24] morozov11 commented on #2252
+

[2021-04-22 06:43] RaasAhsan commented on #2252
I'll add a followup to do this for the Ember Server implementation of WebSockets as well

[2021-04-26 03:13] rossabaker commented on #2354
#2354 would seem like it would expose this.  If anyone is still seeing this in the wild, please speak up, and we'll reopen.

[2021-04-26 03:13] #2354 closed

[2021-04-26 05:21] rossabaker commented on #3697
We have `ContextRequest` and `ContextResponse` for the "more compositional" approach, but I think this demands subtyping: it still has to be a request coming in and a response going out.

I guess sealing it would work, but everything else websocket is neatly tucked away into its package.  That feels like an awful hack.

[2021-04-26 13:19] #4707 closed

[2021-04-26 13:32] etspaceman commented on #4707
Wohoo! Thanks for the fix @vasilmkd

[2021-04-26 14:32] vasilmkd commented on #4707
@etspaceman The fix to `blaze` comes with a slight (IMO) caveat in that it needs a recent JVM to run, anything later than JDK8u252 (already more than a year old) or any other JDK9+.

[2021-04-26 15:33] etspaceman commented on #4707
Yep, I saw that. My use-case runs on JDK11 today so we are good there 😄

[2021-04-26 20:29] vasilmkd commented on #3697
I'm working on this.

[2021-04-26 21:46] vasilmkd commented on #3697
@pjan is absolutely correct. To translate a `WebSocket[F]` to a `WebSocket[G]`, both an `F ~> G` and `G ~> F` and `Functor[F]` are needed. If we look at the existing API (`mapK` exists on `Response[F]`, but not `translate`), IMO, it is a violation to stick a `WebSocket[F]` inside a `Response[F]`, because we are essentially lying that it is possible to then `mapK` the resulting `Response[F]` which

[2021-04-26 22:55] vasilmkd commented on #3697
So, maybe a subtype of `Response` with a `def translate[G[_]](f: F ~> G, g: G ~> F): WSResponse[G]` is the only lawful way to proceed...

[2021-04-28 14:35] tpataky commented on #3717
Hi @rossabaker ! Not sure if this is the exact same problem as @Daenyth's, but I do have a minimalistic example that produces a very similar result.

[code]

When run it prints the following:
[code]

Library versions:
val catsVersion       = "2.2.0"
val catsEffectVersion = "2.2.0"
val fs2Version        = "2.4.5"
val http4sVersion     = "0.21.13"

[2021-04-28 14:51] hamnis commented on #3717
@tpataky  is this still reproducable with the latest version? There have been quite a few ember fixes lately. Try with 0.21.22

[2021-04-28 19:32] tpataky commented on #3717
Will try it later, but I'm thinking this could be related to (or the same as https://github.com/http4s/http4s/issues/4731).

[2021-04-28 21:46] bblfish commented on #4716
I implemented RFC8941 and Signing HTTP Messages on top of that. https://github.com/co-operating-systems/Reactive-SoLiD/issues/14
It's a bit tied to Akka, but not in an essential way.

[2021-04-29 14:47] phongngtuan commented on #3936
I think this is the same issue with bug in JDK8 around daylight saving time which is now ignored

[2021-04-29 14:57] phongngtuan commented on #2920
Looks like it's done in #3024

[2021-04-30 14:35] RafalSumislawski opened #4798 "Blaze Client keeps half-closed connection after server sends FIN-ACK through an idle connection"
This is a problem because both sides can't release resources allocated to the connection, but also, because blaze will later try and fail to use that connection.

I prepared code that reproduces this behaviour using `BlazeServer`'s `idleTimeout` as the mechanism closing the connection on server's side.

The scenario:
- make a request
- wait until server closes the connection (due to 5s idle timeou

[2021-04-30 14:42] etspaceman commented on #4707
@rossabaker Just following up - when can we expect a release that contains this change?

[2021-04-30 15:02] RafalSumislawski opened #4799 "BlazeClient's idleTimeout works differently than BlazeServer's idleTimeout"
Both `BlazeClient` and `BlazeServer` offer an `idleTimeout` configuration option. The option has the same name in both, and shares implementation (`IdleTimeoutStage`) but from user's perspective it behaves differently.

In `BlazeClient` the `idleTimeout` is active only when a request is in-flight. It may kick in if the server takes too long to respond (unless other timeout does it first) or when t

[2021-05-02 03:42] rossabaker commented on #4707
My intent was to do a round of releases, including Scala 3.0.0-RC3, ASAP.  But we're still waiting for cats-parse.  I will see what I can do this weekend for 0.21, as there are several improvements.

[2021-05-02 04:05] rossabaker commented on #4799
By way of comparison, there is a `readTimeout` and a `pooledConnectionIdleTimeout` in AHC.  Jetty client has just an `idleTimeout`, and it's not clear which definition it means.

[2021-05-02 04:08] rossabaker commented on #4798
My guess is that the problem is in blaze, but the AHC behavior looks better here.

[2021-05-02 09:35] RafalSumislawski commented on #4798
I'll try to find the source of the problem.

[2021-05-04 01:27] CharlesAHunt commented on #2855
@jan0sch @rossabaker I also have this issue with the exact same error message.

The error only occurs using Websockets and NIO1.  Using NIO2 resolves the issue.

[2021-05-04 20:00] RafalSumislawski commented on #4799
#3700 seems to be related. Maybe the can be solved together.

[2021-05-05 08:13] RaasAhsan commented on #4731
Closed by #4750

[2021-05-05 08:13] #4731 closed

[2021-05-05 08:14] RaasAhsan commented on #3717
I think this one is different from #4731 , which has been solved now. The issue there was that the server was writing back a request stream to the response stream, but it was completing the request before the body was fully written.

[2021-05-05 08:16] RaasAhsan commented on #4798
If you have the time and willingness to check, what is Ember Client's behavior here?

[2021-05-05 08:27] RaasAhsan commented on #4798
two questions about the network interactions here:
1. In packet 1519, the server is initiating a connection termination, so it sends a FIN, but it's also sending an ACK. Is that part of the termination handshake or is it ACKing something else?
2. If a JVM process observes a FIN from the peer, under what conditions does it reciprocate with a FIN? These connections are shuffled back into a pool, and

[2021-05-05 17:55] RafalSumislawski commented on #4798
1. The ACK i packet 1519 is not part of the connection termination. In my opinion it is redundant, in the sense that it acknowledges reception of 0 bytes.

2. I have yet to understand how this works. My current idea is that we could keep reading from the connection while it's idle. We don't expect to read anything, but the read should fail with EOF when the connection terminates.

### Ember

It do

[2021-05-05 18:14] RaasAhsan commented on #4798
Interesting, so Ember doesn't even attempt to open a new connection? That's probably a blind spot in the pooling we should fix.

I came across an article which seems to suggest reading a -1 will send back a FIN: https://mail.openjdk.java.net/pipermail/net-dev/2016-July/010088.html .

will finish up writing any last bits of data on the socket, and then
initiate its own close, shutting down the rest

[2021-05-05 20:50] RafalSumislawski commented on #4798
I checked jetty (using debuger). It keeps reading while connection is idle. It reads the -1 (EOF). Reading it does not result in sending FIN. The FIN is sent when Jetty calls `java.nio.channels.SocketChannel#close` (https://github.com/eclipse/jetty.project/blob/jetty-9.4.40.v20210413/jetty-io/src/main/java/org/eclipse/jetty/io/ChannelEndPoint.java#L210).

[2021-05-06 05:05] rossabaker opened #4804 "integrations.md looks bad"
As [reported](https://github.com/http4s/http4s/pull/3712#issuecomment-827904787) by @LeifW:

https://http4s.org/v1.0/integrations/

[2021-05-06 05:12] ChristopherDavenport opened #4805 "Ember Client Connection Reset By Peer"
Receive Connection reset by peer using ember client. Need to do a better check for dead connections and discard loop.

From Discord - togm

[2021-05-06 05:20] RaasAhsan commented on #4805
https://github.com/http4s/http4s/issues/4798 may explain some of the `Connection reset by peer` exceptions

[2021-05-06 11:37] aeons commented on #2920
Yep.

[2021-05-06 11:37] #2920 closed

[2021-05-06 13:51] #3936 closed

[2021-05-06 15:14] rossabaker commented on #2855
Unfortunately, the NIO2 server is deprecated in blaze.  Performance was worse by all measures, and we didn't backport the CVE fix.

[2021-05-06 19:38] tpataky commented on #3717
Looks like the problem has been fixed in 0.21.22! I can no longer reproduce it with that version. Thanks everyone!

[2021-05-06 20:05] rossabaker commented on #3717
A couple reporters, but sounds fixed.  We'll reopen if anyone sees this on a current version.  Thanks for retesting!

[2021-05-06 20:05] #3717 closed

[2021-05-08 11:17] RaasAhsan opened #4809 "Blaze Client racy write/EOF retry"
Two aspects of how Blaze Client operates:
1. Blaze Client writes a request and reads a response concurrently when called.
2. If Blaze Client observes an EOF when reading a response, it will open a new connection and retry the request.

This implementation admits the following execution:
1. Client submits a request. The request write is started concurrently, and the response read begins on the curr

[2021-05-08 19:45] RafalSumislawski commented on #4798
I've opened a PR fixing this for blaze. I will open a separate issue for ember, so that we don't keep issues half-open (like ember keeps connections half-open ;) )

I actually think that this retry behavior of blaze is more harmful than helpful. Sure it helps in this specific case. But in general, sending the same HTTP request twice is not safe. http4s doesn't have enough knowledge to say if the r

[2021-05-08 19:48] RafalSumislawski opened #4811 "Ember Client keeps half-closed connection after server sends FIN-ACK through an idle connection"
See the analysis in #4798 (which shows that ember exhibits the same problematic behaviour as blaze)

[2021-05-08 19:54] RafalSumislawski commented on #4809
That's exactly what happened to me in the issues I described in #4796

I've hacked a bunch of tests which reproduce this behaviour here. The most interesting one being this one https://github.com/RafalSumislawski/http4s/blob/blaze-half-closed-connection-issue/blaze-client/src/test/scala/org/http4s/client/blaze/BlazeIssues.scala#L135 which demonstrates how blaze-client may keep retrying unbounded n

[2021-05-08 20:18] RaasAhsan commented on #4809
@RafalSumislawski One thing I noticed was that there is an execution Blaze _does_ respond to the FIN/ACK handshake gracefully without a RST packet. The client write and read happens concurrently as described above, so if the read sees an EOF and closes the socket before the write happens, no RST is sent through. It's racy so it doesn't always happen, and the connection also sits idle in the pool f

[2021-05-08 20:21] RaasAhsan commented on #4811
I've been putting together a fix for the related #4805 which has plagued Ember Client for a long time now, but I think fixing that should fix this issue as well

[2021-05-08 20:22] RafalSumislawski commented on #4809
Yes. That sound right. I was testing this a lot today (and on a different machine than before), and indeed, sometimes the scenario with no RST takes place.

[2021-05-08 20:28] RafalSumislawski commented on #4809
I don't think the racyness is the core issue. I mean, we're dealing with network communication, the FIN from the server can come at any time and race with things happening locally. IMO the core problem is that blaze retries something that cannot be (or at least we cannot assume that it can) safely retried.

[2021-05-08 20:44] RaasAhsan commented on #4809
Yeah exactly, I don't think it's possible to eliminate this case exhaustively for that reason. However, I feel like we should be able to detect the scenario where a half-closed connection is sitting idle in the connection pool (which your PR should handle).

For some context, in Ember, the read and write are linearizable; first the entire response is written, then the read is performed, which is w

[2021-05-08 21:07] RafalSumislawski commented on #4809
I think there's no point fighting FIN during write edge-case, so in that area this is fine.

In principle reading before writing to detect EOF makes sens. I see the following potential issues:
- I'm not sure how the channel will behave when you'll ask it for zero bytes. Will it complete immediately if the connection is still open and there is no data?
- That zero byte read is additional system cal

[2021-05-08 21:32] RaasAhsan commented on #4809
👍  All great points. IIRC reading zero bytes from a nonblocking socket should return immediately, either returning 0 bytes or a -1 status code if it reached EOF, but there's definitely testing to be done to validate that. For control flow, we could definitely avoid the extra read by implementing a concurrent state machine like in your PR, so I'll figure out what both approaches look like and gauge

[2021-05-09 09:53] RafalSumislawski commented on #4809
Correction:
The time is bounded by the `requestTimeout` (if it's enabled)

[2021-05-09 18:23] RafalSumislawski commented on #4799
#2245 also seems related

[2021-05-09 23:36] RaasAhsan commented on #3717
@Daenyth if you ever get the time and willingness, could you could repeat your experiment with the latest 0.21 release? It sounds like we may have fixed this in the past few releases, but we're still aware of an edge case where this will manifest. I'm wondering if that's what you're seeing

[2021-05-13 07:43] RaasAhsan opened #4822 "ab load tests not completing"
User report: https://discord.com/channels/632277896739946517/632286375311573032/842082988343033907

To reproduce, start up an ember server with a route installed at `/`, and run an ab load test
[code]

this should be nonterminating

[2021-05-13 19:56] krayoola commented on #2702
Is `client.blaze -> blaze.client` taken? I would like to take it.

[2021-05-13 21:06] vasilmkd commented on #2702
Feel free to work on it @krayoola 😄

[2021-05-14 01:02] qwbarch commented on #1717
If this still hasn't been worked on, I'd like to take this issue please!

[2021-05-15 03:38] rossabaker commented on #1717
Thanks, @qwbarch!

[2021-05-16 04:53] rossabaker opened #4828 "GZipSuite failures on Java 16"
May be coincidental, but I think this is our first run on Java 16. From https://github.com/http4s/http4s/pull/4826/checks?check_run_id=2593254945:

[code]

[code]

[2021-05-16 10:39] andybryant opened #4829 "Intermittent premature cancelation of requests due to idle timeout"
We have a service running Http4s Blaze Server 0.21.22 using ZIO 1.0.7 as our effect system.
The last week or two we've seen 3 or 4 requests every hour being cancelled part way through. In ZIO this causes the effect to be interrupted. Turning debug logging on for http4s, we were able to see this was being caused by the idle timeout

This was happening for requests running for much less that 60 seco

[2021-05-16 11:19] key-eugene commented on #2497
I guess it was a long tine since someone took this issue, I'll take this one.

[2021-05-16 15:27] rossabaker commented on #2497
Thanks, @key-eugene.

I'm sorry we all overlooked @vasiliybondarenko's offer earlier.  If you're still interested in contributing, we have plenty of similar tickets!

[2021-05-16 15:34] rossabaker commented on #4829
@RafalSumislawski has been doing a lot of work on idle timeouts and might know offhand a ticket that already addresses this.

[2021-05-16 16:15] RafalSumislawski commented on #4829
Hi @andybryant
I address this issue in #4796. The fix is planned for release 0.21.23.

[2021-05-16 16:49] #4798 closed

[2021-05-16 16:50] #4809 closed

[2021-05-16 17:02] #4829 closed

[2021-05-16 20:58] andybryant commented on #4829
@rossabaker Minor point - the label should be module:blaze-server not blaze-client

[2021-05-17 01:32] rossabaker commented on #4829
Oops! Thanks.

[2021-05-17 04:44] rossabaker opened #4834 "ForwardedRenderersSuite flake"
On v0.21.13 tag:

[code]

[2021-05-17 04:44] #4822 closed

[2021-05-18 05:04] #4712 closed

[2021-05-18 15:53] rossabaker commented on #2702
What's left?  blaze-server, which I missed in the initial checklist?  Anything else?

[2021-05-18 17:37] amesgen commented on #2702
Ah, I started this but then got confused about the concrete module name. Is it:

 - `org.http4s.jdkhttpclient.client`
 - `org.http4s.jdkhttp.client`

? Right now, it is `org.http4s.client.jdkhttpclient`.

[2021-05-18 18:54] vasilmkd commented on #2702
We have the same problem with `asynchttpclient` I believe. Let's try to come to a consensus on the issue. I am honestly indifferent.

[2021-05-18 19:24] #1717 closed

[2021-05-18 19:54] krayoola commented on #2702
I'm taking `blaze-server`

[2021-05-18 20:32] aeons commented on #2497
Closed by #4845

[2021-05-18 20:32] #2497 closed

[2021-05-18 21:47] qwbarch commented on #2826
Hi, I'd like to try taking on this issue please!

[2021-05-19 09:05] aeons commented on #4828
I looked at this a bit and it seems that fs2 and GZIPOutputStream disagree on what OS the test is running on. I added this comment above the ignored tests:
[code]

[2021-05-19 13:03] hamnis commented on #2702
I have some naming suggestions:

@amesgen `org.http4s.jdkhttpclient` or `org.https.jdk.client`
@vasilmkd  `org.http4s.asynchttpclient` or `org.http4s.ahc.client`

[2021-05-20 03:23] rossabaker opened #4853 "Replace systemErr hack"
This is neat.  We could do the same: https://github.com/typelevel/cats-effect/pull/1983

[2021-05-20 03:39] rossabaker commented on #2702
I'd go with `jdkhttpclient` and `asynchttpclient`.

[2021-05-21 08:40] hamnis opened #4856 "0.21.23 blaze-server possible regression"
#4810 or #4796 may have caused a regression after upgrade.

We keep getting EOF exceptions in the log after upgrade.

I also see a few of
[code]

downgrading to 0.21.22 resolves the issue

[2021-05-21 12:45] #2702 closed

[2021-05-21 13:00] rossabaker commented on #4856
How easy is it to try with each of those reverted to narrow down which it is?

[2021-05-21 13:03] rossabaker commented on #4129
Another one on e6effe0, 2.12.13, JDK8.  Probably the same:

[code]

[2021-05-21 13:32] hamnis commented on #4856
Will get around to this on tuesday, there is a mandatory longweekend here in Norway, then I will try to reproduce and test with either reverted.

if we could ask the tickwheelExecutor if its alive, then we could partly avoid the shutdown message.
TickWheelExecutor.alive is private, so that would need a blaze-core change.

[2021-05-21 13:37] rossabaker commented on #4856
Are you getting this at the end, or in a running server?

[2021-05-21 13:38] hamnis commented on #4856
in a running server

[2021-05-21 14:32] hamnis commented on #4856
[code]

[2021-05-21 15:08] rossabaker opened #4858 "Migration guide for 0.22"
Would be nice to have a summary of the changes for people upgrading from 0.21.

Should include simple instructions for running the scalafix.  The command in https://http4s.org/v0.18/upgrading/ doesn't work for 0.22.

[2021-05-21 18:38] RafalSumislawski commented on #4856
#4810 was a blaze-client only change. That leaves us with either #4796 or something-else. Is there a chance you could grab a tcpdump / wireshark dump of the communication when the EOF happens?

[2021-05-22 12:25] fizzy33 opened #4865 "ServerSentEvent support for data being a multi-line string and possible other ServerSentEvent enhancements"
For server sent events data can be multi-line and in that case multiple `data:` lines should be sent as outlined here https://html.spec.whatwg.org/multipage/server-sent-events.html

The current implementation only sends a single `data:` line followed by the entire data string.  So if that data string

[code]

Here is the fix we are using in production noting it does a few more things than just fix

[2021-05-22 13:44] fizzy33 commented on #4865
Thinking about this more now.  I will prepare a simple fix for the immediate issue.

If people want a more complete / pedantic they can just cut and paste the provided `ServerSentEvent` and it should just work.  Also open to doing a more complete PR with that as well just depends on what people want.

[2021-05-22 14:55] fizzy33 commented on #4865
Here is the PR for the obvious fix to the immediate issue https://github.com/http4s/http4s/pull/4866

[2021-05-22 22:16] toby5box commented on #310
I am getting the same error but using the right url according to the above?

[code]

URL: `ws://localhost:8081/http4s/ws`

[2021-05-23 01:59] rossabaker commented on #310
I can reproduce this.  It's probably a different issue than 2015, but the context is here, so I'll just reopen this one.

[2021-05-23 02:14] toby5box commented on #310
Thanks. I've determined that the `http4s` prefix is definitely wrong for 0.21, but even when the request reaches the route, this is always logged:

[code]

[2021-05-23 02:18] rossabaker commented on #310
:+1: I was just looking at the code and trying it without and it works. Thanks for testing!

[2021-05-23 02:18] #310 closed

[2021-05-23 02:19] toby5box commented on #310
I think one of the difficulties I had is that I am testing a client impl at the same time. The moral here is to use a known-good client test tool and debug only one side at a time! 🙄

[2021-05-23 02:40] rossabaker commented on #4865
The grammar is:

[code]

Are these two SSEs equal, or do we need to preserve the difference?

[code]

[code]

The processing instructions say comments can be discarded, so I think we can normalize them by putting the comments up front.  I also think we can normalize them by serializing the fields in any order, and discarding duplicates of the non-data fields.  If all that is true, your model looks

[2021-05-23 04:27] rossabaker opened #4867 "Resolve play-json RC"
We can't release 0.22.0 or 0.23.0 on a release candidate.  If https://github.com/playframework/play-json/issues/612 is done first, everything's cool.  If not, we'll have to revert to 2.9, and play-json support on Scala 3 will have to wait for 1.0.

This is all an argument for The Great Schism.

[2021-05-23 04:29] rossabaker opened #4868 "Resolve circe milestone"
We can't release 0.22.0 or 0.23.0 on a milestone.  circe-0.14.0 is a major dependency, so we'll wait on it.

https://github.com/circe/circe/issues/1754

[2021-05-23 04:31] rossabaker commented on #2794
https://github.com/http4s/http4s/pull/4279/checks?check_run_id=2648348421#step:10:327

[2021-05-23 13:21] fizzy33 commented on #4865
Yeah I toss and turn on the `FiniteDuration` what I cut and pasted was what we use internally and are a bit more opinionated than I think http4s should be.  The benefit is users don't have to look at the spec to see what that retry is in (milliseconds) downside is you are a bit removed from the actual protocol.

Great point on `linesIterator`.  I think we should pass on whatever we get.  Noting ha

[2021-05-23 14:02] rossabaker commented on #4865
I think the `FiniteDuration` is better than `Long`.  I wish there were an `UnsignedFiniteDuration` (there are a few other places in HTTP it would be correct), but `FiniteDuration` is totally consistent with our other use.

[2021-05-23 21:35] theon opened #4872 "Inconsistent connection recycling when raising an error"
We recently moved from using `async-http-client` to using `blaze-client` and saw a increase in latency.
It turned out to be because we would sometimes raise an error inside `client.run(req).use()`, like so:

[code]

In this case `async-http-client` recycles the connection back into the pool to be re-used on the next request,
however `blaze-client` behaves differently and will invalidate the connec

[2021-05-24 02:58] rossabaker commented on #4872
Thanks. This is an interesting report, and a difference I hadn't considered.

The general guideline is "when in doubt, throw it out."  A lot can go wrong reusing a connection in a questionable state.  But I think we should be able to distinguish errors in userspace from errors on the backend, and recycle the connection like any other use that doesn't fully consume the stream.  I think blaze is in

[2021-05-24 03:24] rossabaker commented on #4858
Scalafixes for 0.22 header changes would be wonderful.  If someone can give some examples of the errors they're hitting even, that could jumpstart the process.

[2021-05-24 03:24] rossabaker commented on #4858
Demilestoning, because it doesn't block the release.

[2021-05-24 13:23] #4867 closed

[2021-05-24 13:25] rossabaker commented on #4828
Fixed in #4871.

[2021-05-24 13:25] #4828 closed

[2021-05-25 00:18] ScalaWilliam opened #4877 "Link from homepage for 0.23 is broken"
![image](https://user-images.githubusercontent.com/2464813/119421652-19c1b000-bcf7-11eb-8071-50b243c5d04b.png)

[2021-05-25 01:58] rossabaker commented on #4877
Thanks.  Sonatype [failed to clean up](https://github.com/http4s/http4s/runs/2642305725?check_suite_focus=true), so the build crashed before the website publish ran.

This should resolve itself when we publish the RC, which is only waiting on Circe.  If that doesn't happen in the next 24 hours or so, I'll figure out a manual publish.

[2021-05-25 03:57] qwbarch commented on #2826
To be completely honest, I'm very new to http libraries in general. I'm looking to solidify my understanding by working through simple issues to start with.
Despite this being simply a ``good first issue``, I'm going to need a bit of help to finish this. 😅

To clarify what's expected, do I need to calculate the ``ETag`` from the ``File`` from the provided ``Url``?
I looked at ``StaticFile#fromFile

[2021-05-25 04:32] rossabaker commented on #2826
Please don't worry!  We're here to help, and glad for your help!  I'll go look at and comment on the other ticket.

[2021-05-25 11:04] hamnis commented on #4856
Seems like a combination of incorrectly configured timeouts and one message gotten at shutdown.
Reconfigured the server to have more sane configuration.

Will create a PR for the shutdown issue. Closing this for now.

[2021-05-25 11:04] #4856 closed

[2021-05-25 15:11] mpilquist opened #4883 "Replace Defer constraints with Concurrent"
In 1.0.x, `AuthedRoutes` currently requires an instance of `Defer[F]`. This causes ambiguous implicits since `Concurrent[F]` is typically in scope and as of CE3, `Concurrent` is unrelated to `Defer`.

Per @ChristopherDavenport, these `Defer` usages should be replaced with `Concurrent.unit.flatMap(_ => ...)`. We should check for all such `Defer` constraints, not just `AuthedRoutes`.

[2021-05-26 05:17] rossabaker commented on #4865
0.22 and 0.23 release candidates are imminent, probably as soon as Circe is released.  If we want to get comment support, we'll need to add it to the model for bincompat reasons, or else it will have to wait for 1.0.  We might want to prioritize that over the carriage return preservation being discussed in #4866.

[2021-05-26 06:39] hamnis commented on #4883
Fixed by https://github.com/http4s/http4s/commit/d3e7f85dbad19062f2b9757ddcb11a3e74102748

[2021-05-26 06:39] #4883 closed

[2021-05-26 13:26] #4868 closed

[2021-05-26 15:12] rossabaker commented on #4865
Mostly done in #4888, but leaving open to track the nuance of preserving carriage returns.

[2021-05-26 15:12] fizzy33 commented on #4865
Now that we have added comment to ServerSentEvent we will need to apply the multi-line fix to that as well.

Noting this is mainly waiting on https://github.com/typelevel/fs2/pull/2418 to work it's way out.  As one can't properly decode a server sent events response / protocol without the actual line endings.  The fact that we assume a line is terminated by \n without really knowing causes some co

[2021-05-27 01:02] psylinse opened #4892 "value blaze is not a member of org.http4s.server"
I'm hitting the above error on scala 3. Here is a minimal repro: https://github.com/psylinse/zio-scala-3-error

Sorry if I'm missing something obvious, I'm relatively new to scala/scala 3!

[2021-05-27 01:56] qwbarch commented on #4892
I believe the packages were slightly changed for consistency.
Try using ``import org.http4s.blaze.server.BlazeServerBuilder``

[2021-05-27 02:42] psylinse commented on #4892
Ah, that's it thank you!

[2021-05-27 02:42] #4892 closed

[2021-05-27 03:13] rossabaker commented on #4877
It's worse that I thought.  We haven't ported the docs to Cats-Effect 3.  :grimacing:

[2021-05-27 04:55] rossabaker opened #4896 "Use Ember instead of Blaze in MimeLoader"
1. Change `project/build.sbt` to use `http4s-ember-client` instead of `http4s-blaze-client`
2. Update the code in `project/MimeLoader.scala`
3. In a separate commit, run `generateMimeDb; scalafmtAll` in sbt.
4. Extra credit: figure out how to keep the copyright header without reverting a chunk

[2021-05-27 05:12] rossabaker commented on #4877
The content is there, but the styling is not.  I think it's the baseUrl, but I'm exhausted. :zzz:

[2021-05-27 13:22] #4896 closed

[2021-05-27 13:23] rossabaker commented on #4877
It looks fine now.  I guess it took Netlify a while to sync.

[2021-05-27 13:23] #4877 closed

[2021-05-27 17:33] rossabaker opened #4899 "Flaky Tomcat test"
[code]

https://github.com/http4s/http4s/pull/4898/checks?check_run_id=2687198536

[2021-05-31 09:14] fmeeuw commented on #2383
We do encounter this issue with http4s 0.21.23. It would be very much appreciated if it is picked up at some point. :)

[2021-05-31 18:15] hamnis commented on #2383
This should have been fixed in 0.21.24. Please try with that, reopen if not.

[2021-05-31 20:08] ScalaWilliam opened #4910 "Cannot undeploy app on Tomcat/Servlet: Leaky thread from TickWheelExecutor"
![image](https://user-images.githubusercontent.com/2464813/120236861-f09fa300-c253-11eb-8d30-67594b478258.png)

Seems this thread is started but never properly shut down.

![image](https://user-images.githubusercontent.com/2464813/120236279-cc43c680-c253-11eb-86c9-442d7cd5b801.png)

[2021-06-01 11:40] hamnis commented on #4118
MIMA is running

[2021-06-01 11:40] #4118 closed

[2021-06-01 14:29] etspaceman opened #4913 "Blaze Server 0.21.24 - Possible Regression in SSL Verification"
My [kinesis-mock](https://github.com/etspaceman/kinesis-mock) project attempted to upgrade to 0.21.24 (from 0.21.22). Most requests seemed to work just fine, however when interacting using the AWS CLI, I was getting errors. I couldn't nail down what was happening. I've added logs from the blaze server as well as the AWS CLI.

This can be reproduced with the following command:

[code]

[awsclidebug

[2021-06-03 12:04] ithinkicancode commented on #4858
I was trying out 0.22 the other day. My experience upgrading from 0.21 to 0.22 was pretty smooth; that said, I don't think mine represents the majority of http4s users, because I use Tapir to define my endpoints and Tapir's extension to wire server logic, so I don't really deal with too many http4s API. I do have a docs endpoint that I hand-roll using http4s DSL but that's kinda trivial :)

Anyhow

[2021-06-04 11:06] nigredo-tori opened #4914 "Support Unicode in the Content-Disposition filename"
At the moment, this attribute is [sanitized](https://github.com/http4s/http4s/blob/6227ad21e0ddc372e433d279a7cdde387b0b0e3e/core/src/main/scala/org/http4s/headers/Content-Disposition.scala#L100), meaning that international filenames are mangled. We should support the `filename*` version of this attribute, with the encoding described in [RFC 8187](https://datatracker.ietf.org/doc/html/rfc8187). As

[2021-06-04 11:19] nigredo-tori commented on #4914
Nevermind, it seems this was [addressed](https://github.com/http4s/http4s/pull/4604) back in March, but not in the 0.21 branch.

[2021-06-04 11:19] #4914 closed

[2021-06-04 19:00] rossabaker commented on #4914
I'm not actively backporting anymore, but on quick scan, this could be if the header parameters weren't made case insensitive.  I'd do a release if there's a bin-compat PR.

I also expect to release 0.22.0 and 0.23.0 this weekend.

[2021-06-05 18:56] RafalSumislawski commented on #4799
For reference akka-http has a similar problem, and there's a PR adding a second kind of timeout to http client: https://github.com/akka/akka-http/pull/3816

[2021-06-07 16:56] djspiewak opened #4916 "Possible Blaze Client Performance Regression in 0.21.23"
Seeing some anecdotal issues with performance regressions between 0.21.22 and 0.21.23. In particular, it appears to be the blaze-client (and possibly not the server) which is having problems. The symptoms are slightly higher mean response times, and *much* higher tail response times (even the p70s climb, it it's most stark in p95, p99 and p9999s). The regression appears to be on the order of magni

[2021-06-09 15:37] Daenyth opened #4919 "[0.23] It seems to be impossible to construct non-encoded query parameters"
I have an issue where I need to construct uri query parameters that are not encoded, in order to call the Github api

(Ref: https://github.com/47degrees/github4s/issues/569 for the original issue)

Some time after 0.21, it seems like `Query#render` was modified to always encode characters and there doesn't seem to be an escape hatch.

Currently, in github4s we use this code to have non-encoded par

[2021-06-09 15:45] djspiewak commented on #4916
Can confirm that the performance regression is real. The general outcome is that the p9999 latency is just about doubled. p50 seems mostly unaffected. We're bisecting snapshots and running production performance stress tests between 0.21.22 and 0.21.23 right now to see if we can find the commit that introduced the regression.

[2021-06-09 16:52] djspiewak commented on #4916
Current bisection status: the regression was likely introduced in either #4810 or #4812.

[2021-06-09 17:25] brbrown25 opened #4920 "org.http4s.MessageFailure does not return detailed error message"
While using Rho I uncovered a case where json parsing errors are not returned in the message response for all http errors. If there is interest, I'd love to contribute a fix for this!

[2021-06-10 10:01] Baccata commented on #4916
After applying some educated dichotomy between 0.21.22 and 0.21.23 and running performance tests against an actual service, I can confirm that https://github.com/http4s/http4s/pull/4810 introduced the regression.

[2021-06-10 12:56] djspiewak commented on #4916
Additionally, @Baccata was able to confirm that #4815 appears to amplify the regression, bringing the p9999 degradation from 2x to around 3x. This pattern is seen across multiple services which are using http4s-blaze-client, so I don't believe it is in any way usage-dependent.

My recommendation would be that these semantics be made opt-in and configurable. @rossabaker @RafalSumislawski

[2021-06-10 16:42] RafalSumislawski commented on #4916
In absolute terms, how high are the response times? When you say p9999 increased 3x, is it an increase from 10ms to 30ms, or 100ms to 300ms, or something even bigger? Is the system running under 100% CPU load in the stress tests?

#4810 added starting and IO operation (read), and #4815 added waiting for an IO operation (write) to complete on the execution path before the point in which the result

[2021-06-10 17:02] Baccata commented on #4916
In absolute terms, the 3x is from ~35ms to ~100ms. The service is not running under 100% CPU load (I signed off work so can't check for actual numbers but I can tell you that much)

[2021-06-10 17:15] RafalSumislawski commented on #4916
Thanks. I'll see if I can reproduce something similar locally.

[2021-06-14 16:32] harpresing commented on #3527
Hi there,

I've created a repository with a test suite that replicates this issue: https://github.com/harpresing/async-http-client-error.

If someone accidentally does `response.bodyText.compile.foldMonoid map { ... }` on the same `Response[IO]` object twice, we see this error when using the AsyncHttpClient. It doesn't happen with the Blaze Client.

[2021-06-18 15:28] vimitdhawan opened #4929 "org.http4s.InvalidBodyException: Received premature EOF"
Hi, we are getting this issue in our application. I saw a few links related to the same issue. But it does not look like the same thing in our case. we are getting it 1-2 percent of requests.
Basically, we are doing performance testing of our application but it's not related to performance because we don't have this issue in prod or we are getting this at 1 rps also.

I have created a StackOverflo

[2021-06-20 07:58] RaasAhsan commented on #4929
Hi @vimitdhawan could you provide more information like what version of http4s you are using, what backend, the nature of the application and the performance test, and any other relevant context ?

[2021-06-20 17:11] etspaceman opened #4934 "Ember Server - Delayed Processing with TLS Requests"
I switched my [kinesis-mock](https://github.com/etspaceman/kinesis-mock/pull/115) to use the Ember backend per a discussion w @djspiewak and @ChristopherDavenport. After doing so, one of my functional tests started failing non-deterministically: https://github.com/etspaceman/kinesis-mock/blob/main/src/fun/scala/kinesis/mock/DescribeStreamSummaryTests.scala#L42-L56

This will run 11 requests in par

[2021-06-21 13:21] vimitdhawan commented on #4929
Hi @RaasAhsan, we rare using ```http4s = "0.21.7" ```. we are using ```org.http4s.server.middleware```. Those requests even not coming to this middleware. It looks like they are garbage in and out. For client we are using ```sttp = "3.2.3"```.

These all are prod requests and we did not face this issue in prod. You can check this [link](https://stackoverflow.com/questions/68013233/http4s-received-

[2021-06-21 14:57] etspaceman commented on #4934
I've started witnessing this issue on non-parallel tests as well. So far this is only occurring on the TLS server so I'm betting it has to do with the TLS setup in http4s.

[2021-06-21 15:36] RaasAhsan commented on #4934
@etspaceman just to validate the 30 second shutdown timeout theory, could you maybe raise or lower that to another value and see if the processing time changes ?

[2021-06-21 16:05] dwalend commented on #251
Due to a bug at the netty/asynch-http-client boundary that showed up under load, we switched to https://jdk-http-client.http4s.org/stable/ to get the full proxy features. It's not as nice as having it in ember, but no instability problems.

[2021-06-21 16:27] djspiewak commented on #4934
Random thought: given that this is CE2, we probably have to consider fairness here. Anything that bounces into TLS land would hold a thread for a long period of time. 30 seconds though does seem a bit extreme.

[2021-06-21 16:45] jbwheatley opened #4935 "Ember Client sometimes failing with `org.http4s.ember.core.EmptyStreamError: Cannot Parse Empty Stream`"
I discussed this on Discord with @RaasAhsan here a while back: https://discord.com/channels/632277896739946517/632286375311573032/844933274890534974

This same error was raised in another service with a different 3rd party client, using http4s-ember-client 1.0.0-M23. I've decided to revert back to using Blaze in this case for the time-being, but wanted to raise the issue here.

It was suggested in

[2021-06-21 18:17] etspaceman commented on #4934
That is a good callout @djspiewak - I'm using ExecutionContext.global in Blaze but not in Ember (which would use the fixedThreadPool from IOApp). That would explain a couple of things:

- Why its only showing up in the Ember server
- Why I cant recreate it locally

[2021-06-25 07:35] armanbilge commented on #956
I hope nobody minds, I gave this a shot #4938  😅

[2021-06-26 20:17] rossabaker commented on #4929
Sorry, which server middlewares are you using?  And which server backend?  Blaze, ember...?  This error is appearing on the server?

[2021-06-27 10:41] vimitdhawan commented on #4929
@rossabaker We have found that we have some half build requests. when a client sends those requests we are getting eof on the server and timeout on the client side. Not sure why we are not getting bad requests. we have blaze at server side.

[2021-06-28 03:09] rossabaker commented on #4920
The `toHttpResponse` is terse for a reason: anything that contains any information from the request can be used in an XSS attack.  (This design was inherited from Spray, a very long time ago.)  It's a paranoid setting: the risk is much lower when the response is plain text, and it's difficult to exploit.  But we want to err on the side of security by default.

Wanting more verbose errors in the re

[2021-06-28 12:24] brbrown25 commented on #4920
@rossabaker thanks for looking and giving some feedback!

That makes a lot of sense, thanks for explaining that!

I agree some sort of middleware would definitely be nice. The current workaround I'm using involves adding `.withServiceErrorHandler` then adding a message body to the `NonFatal` case and throwing an exception with a detailed json parsing error message. I'm not really sure where this i

[2021-07-03 19:38] RafalSumislawski commented on #4916
I think I finally found something. In most tests I observe comparable latencies with 0.21.22 and 0.21.23. And in these tests the p9999 is basically a garbage collector benchmark. With the right parameters I managed to create a test scenario in which 0.21.23 pushes the GC to the wall leading to p9999=660ms, while in the same scenario 0.21.22 has p9999=57ms. I can't be sure if that's what is happeni

[2021-07-05 07:35] Baccata commented on #4916
@RafalSumislawski thanks, I'll have a go this week !

[2021-07-05 09:50] Baccata commented on #4916
@RafalSumislawski so we tested your patch this morning on two different services.

* On one of the services, stats are similar enough to what we had in 0.21.22 that we'd be comfortable upgrading to a version containing your patch.
* The other service has stricter expectations with regards to latency, and tests accordingly. We did definitely notice an improvement compared to 0.21.23, but it's not b

[2021-07-05 10:51] RafalSumislawski commented on #4916
@Baccata would you be able to collect some garbage collector statistics from 0.21.22 and the version with the patch? I'm trying to understand if the difference is still caused by GC or if I should look elsewhere. It would be perfect if you could provide GC logs from both runs. But if that's not possible, some simple statistics like:
- number of young/old garbage collections
- an example (or better

[2021-07-06 13:21] Baccata commented on #4916
@RafalSumislawski sorry for the delay ! Here's a few answers :

* the service in question is using zulu-openjdk 11, with default GC
* the jvm opts are as follows, on a docker container that has 4GB memory reserved,

[code]

[2021-07-06 15:57] rossabaker commented on #4916
This regression caused some concern at my new job, but I haven't been there long enough to produce any kinds of numbers.  Our RCs are getting old, and there's a lot of momentum at $WORK and in the community to do the final releases.

Would everyone be comfortable doing a round of releases with this patch, including final for 0.22 and 0.23?

[2021-07-06 15:58] rossabaker commented on #4916
And also, thank you both for pursuing and testing this.  I'm delighted to see the progress and collaboration!

[2021-07-07 09:32] robot-govorun commented on #3626
Hi @rossabaker !
Looks like the problem is still there :). It appears that given issue is always reproduced when use ZIO instead of Cats IO.

[code]

[code]

[2021-07-07 13:15] djspiewak commented on #4916
IMO this is the correct approach. 0.21 has a stable release which contains this regression, so 0.22 and 0.23 will certainly be no *worse*.

[2021-07-07 13:18] Baccata commented on #4916
I think so

I'm sorry to say I cannot confidently say "go ahead with finals" at this time, because the perf environment tied to the particular service that exhibits weird behaviour is being used for another investigation at the moment, and we haven't been able to confirm (nor invalidate) whether the weird behaviour in question is tied to http4s at all. We should be able to resume tomorrow.

But si

[2021-07-07 13:19] djspiewak commented on #4916
I mean, that would have happened anyway… :-P

[2021-07-08 02:54] rossabaker commented on #4916
I also feel fairly confident in our ability to patch it binary-compatibly. Let's move forward.

[2021-07-08 10:26] perok opened #4952 "[0.23] Error parsing address from Jetty with ipv6"
Running http4s 0.23.0-RC1 with Jetty and IPv6 crashes with the following:

[code]

The issue is that Jetty returns the following addresses:

[code]

This crashes the following parsing `IpAddress.fromString(req.getRemoteAddr).get`in Http4sServlet. Is brackets on the address considered an error on the parsing side or on Jetty's side?

A temporary workaround for us is to force ipv4 with `-Djava.net.p

[2021-07-08 15:13] etspaceman commented on #4934
I believe this was resolved with a recent update from FS2. Closing.

[2021-07-08 15:13] #4934 closed

[2021-07-09 02:20] rossabaker commented on #4952
[hangs head in shame for using `.get`]

This looks related to https://github.com/eclipse/jetty.project/issues/1503.  Rather than say Jetty or ip4s is wrong, I'd say http4s is wrong for assuming they agree.  I think we should strip brackets before that call.

Arguably, ip4s should handle both, like the Java APIs.  But that's up to @mpilquist.

[2021-07-09 02:24] mpilquist commented on #4952
No strong opinions. At first glance, I'd say that bracketed v6 is part of the URI RFC, not IPv6, and hence the brackets should be removed prior to calling `IpAddress.fromString`. But I very well may be missing something and it may be more practical to handle it in ip4s regardless. Let me know what you think.

[2021-07-09 02:33] rossabaker commented on #4952
I think [this Jetty comment](https://github.com/eclipse/jetty.project/issues/1503#issuecomment-760995044) summarizes the grim situation from the specs.  Since I used it as a drop-in for the Java libraries, the argument that it should be compatible with the Java libraries seems good to me.

Regardless, I think we should fix it here and not rely on the generosity of ip4s' parser.

[2021-07-09 02:35] mpilquist commented on #4952
😱

[2021-07-09 03:16] rossabaker commented on #4799
So if we added a `keepAliveTimeout` and made `idleTimeout` behave like blaze-client, it seems we'd be in a good place?

[2021-07-10 06:27] ScalaWilliam opened #4955 "0.23 -- URI equality bug: `uri"/".addSegment("Test").addSegment("") != uri"/Test/"`; values are not equal even if they have the same `toString()`"
Discovered it through an upgrade to 0.23 (thank god TDD!)

https://github.com/ScalaWilliam/http4s/commit/4af5a9291ad7b3e64b3a58399af44d0607ecbf95

[code]

productIterators are equal as well, so this is a very strange one for sure.

[2021-07-10 16:13] RafalSumislawski commented on #4799
I'm not convinced what we should do with the blaze-server `idleTimeout` (or if we should do anything with it).

What I am currently convinced to is that the changes in akka-http-client go in the right direction and we should do the same in blaze-client. It should have two timeouts:
- an `idleTimeout` that is active while the connection is being used. It's main purpose being to prevent getting stuc

[2021-07-10 16:20] RafalSumislawski commented on #4916
I hope you all do realize that the current "patch" (RafalSumislawski@74c2fda) is more of an experiment designed to verify my hypothesis, rather than a proper fix of the issue. That being said a reserved some time today to work on a fix, so stay tuned.

I have no strong opinion on whether or not to do the stable release.

[2021-07-11 15:37] rossabaker commented on #4799
We had an issue at $WORK with a server that used round-robin DNS interacting badly with the JVM's DNS caching.  We filled the pool against one cached instance.  It was proposed a max lifespan would help that, but I think it would expire those connections at once and then overload another instance as it replenished the connections within a new cache window.  A maximum lifespan with jitter could hav

[2021-07-13 18:05] dontpanic92 opened #4960 "Doc: Cannot load 1.0 documentation pages"
It looks like we have wrong hostname here:

https://github.com/http4s/http4s/blob/4696d23c7ed07e904bf4462daa9624272b475f2b/v1.0/index.html#L9-L14

[2021-07-16 08:45] hamnis commented on #4955
these are not the same which is expected.

The implementation of Uri.Path is taking into account if the path ends with a slash.
the equals method does check for this.

https://github.com/http4s/http4s/blob/main/core/src/main/scala/org/http4s/Uri.scala#L301

perhaps an empty segment at the end should add the flag, but this is not done atm.

[2021-07-18 01:43] rossabaker commented on #4899
This keeps happening.  We should have the test at least tell us which thread it is.

[2021-07-18 02:38] #4916 closed

[2021-07-18 03:01] rossabaker commented on #4955
I'd expect `addSegment("")` to add an empty segment, so it does end in a slash.  And calling it again to result in consecutive slashes.

[2021-07-18 03:11] rossabaker commented on #4920
Sorry for the slow reply.  I changed jobs and went on vacation, and things got slow.

Yes, that's where exceptions that aren't handled get converted into a message by that particular backend.  (Similar calls exist in all the backends.)  The default service error handler is [here](https://github.com/http4s/http4s/blob/7c69a4e63973caca0f1181f069d80117431ed1bf/server/src/main/scala/org/http4s/server/

[2021-07-18 03:16] rossabaker commented on #4960
I think we might have published that one locally.  I'd expect the next milestone, which is imminent, to clean it up.

[2021-07-18 03:31] rossabaker commented on #3527
Thanks for the repro, @harpresing!

Compiling the body twice is undefined behavior: we can't memoize the body for a second read and still do proper streaming.  It might work erratically, or differently on different backends.

The question is then, could the original app be consuming the body twice, thus showing the same symptom that Harpreet reproduced?

[2021-07-19 06:54] beckyconning commented on #4935
I'm experiencing this as well.

[2021-07-20 08:15] alexgb1 commented on #4935
This issue caused our app to throw an OOME. Fixed it by switching to Blaze backend.

[2021-07-20 09:36] ziggystar opened #4971 "Header value is always parsed, even if name does not match"
As the argument to `as` is passed by value, the parser is always executed, for every header field, regardless of a matching name.

https://github.com/http4s/http4s/blob/399453460889a144aee83cafea6ef91cac6c917f/core/src/main/scala/org/http4s/Header.scala#L185

The line should probably read

     (h.name == Header[A].name).guard[Option].map(_ => Header[A].parse(h.value).toIor)

[2021-07-20 11:19] aeons commented on #4971
Good catch :)

This was fixed for `series/0.22` in #4933

[2021-07-20 11:19] #4971 closed

[2021-07-20 12:43] brbrown25 commented on #4920
@rossabaker I completely understand, congrats on the job switch and hope you had a relaxing vacation! @ChristopherDavenport any tips/suggestions would be appreciated, I'd love to contribute this to the project.

[2021-07-20 17:01] rossabaker commented on #4935
Thanks, all.  Does anybody have a reproduction?  Or if it's an OOME, any clues from a heap dump?

[2021-07-20 20:32] ChristopherDavenport opened #4973 "EntityDecoder Media Type translation"
Presently if an Decoder is configured there isn't really a nice way to convert from accepting one set of media type or another presently.

So a method like this may be useful either in the companion object or as a method

[code]

Thoughts?

[2021-07-21 00:56] Daenyth commented on #4973
It feels better to me as a method, because then you could do something like:
[code]

[2021-07-21 07:20] tiphdousset opened #4976 "Missing easier way to decode base64 Body"
Hi there,

I have the following situation: to preserve the integrity of binary responses the APIGateway of my project is encoding the body of the requests with base64. My service needs then to first decode the body before being able to use it.
The only way I found so far is quite "heavy" and it would be great if http4s would have his own decodeBase64 method.

[code]

  *Body is a simple case class

[2021-07-22 09:18] jbwheatley commented on #4935
When I was experiencing it, it was only cropping up when calling 3rd party APIs - so it was hard to reproduce by any means other than firing a load of requests at the API that I could see was causing it. I appreciate that is not very helpful for debugging the issue though 😬

[2021-07-23 05:27] nasadorian opened #4981 "Gunzip Middleware"
cc @ChristopherDavenport

http4s has a `GZip` middleware which compresses responses as `gzip`, but does not have a `gunzip` dual.

I'm proposing to implement a Gunzip middleware using the `fs2` utilities already available for such compression.

Code looks roughly like below. Let me know if this is a worthwhile contribution!

[code]

[2021-07-23 12:53] mcenkar opened #4982 "Incorrect HTTP/1.1 501 Not Implemented log messge for websocket connection"
Hi,

when connecting to [BlazeWebSocketExample.scala](https://github.com/http4s/http4s/blob/v1.0.0-M23/examples/blaze/src/main/scala/com/example/http4s/blaze/BlazeWebSocketExample.scala) if I change [line 85](https://github.com/http4s/http4s/blob/v1.0.0-M23/examples/blaze/src/main/scala/com/example/http4s/blaze/BlazeWebSocketExample.scala#L85) to:

[code]

then when I connect to WS instead of actu

[2021-07-28 16:11] Qi77Qi opened #4987 "[Bug] Accept header not appended properly in 0.23.0-RC1"
I tried the following ways to construct the `Accept` header

[code]

But none of them actually appended the header properly.

In previous version, headers in a call looked like this
[code]

But it now looks like this with 0.23.0-RC1
[code]

[2021-07-28 18:05] rossabaker commented on #4987
This probably goes back to 0.22, which is when the new header model was introduced.  Creating a request this way is fine:

[code]

You're probably calling `expect`, or something related.  That calls `putHeaders` with the media types from the `EntityEncoder`, replacing any existing `Accept` headers.  The former definition of `putHeaders` knew which header keys were singletons (like `Content-Type`)

[2021-07-28 18:24] Qi77Qi commented on #4987
@rossabaker  thanks for taking a look! yea, I'm using `expectOptionOr`...is there another function that I can use that won't have this behavior?

[2021-07-28 18:51] rossabaker commented on #4987
All of the client methods that take an `EntityDecoder` do something like this.  As a quick fix, if you put this function on a client syntax trait:

[code]

And then just call `expectOptionOrHack` instead of `expectOption`.

I've been working toward the 0.23 release today.  We'll have a proper fix in that, and I'll also release an 0.22.1 patch.  Once that's done, you can revert to the standard meth

[2021-07-28 18:57] Qi77Qi commented on #4987
@rossabaker sounds great...thanks!

[2021-07-29 02:34] rossabaker commented on #4982
Ooh, this is tricky.  An implementation detail is that websockets are implemented as an HTTP fallback response (the 501) with an attribute that contains the websocket.  Backends that support web sockets look for this attribute and perform the connection upgrade instead of rendering the fallback response.  But the Logger middleware doesn't know about any of this trickery.

We could:

1. Special cas

[2021-07-29 04:03] rossabaker commented on #4981
That makes sense to me.  A couple thoughts:

1. We'd want it parametric in `F[_]` instead of bound to `IO`.  Happy to help if that's confusing.
2. The client `GZip` middleware already decompresses.  We have coverage for the _response_ on both server and client.  It's gunzipping the request on the server and gzipping the request on the client that are missing.
3. Do we want to separate request and

[2021-07-29 07:51] RaasAhsan commented on #4982
Yeah this is definitely a tricky one. This may just be a fundamental flaw in how http4s models middleware and web sockets. You see similar problems when isolated to middleware too. Imagine you position a logger middleware to execute before a retry middleware. Whenever an error happens, the logger is going to log the failed response, but then the retry middleware will throw that response away and p

[2021-07-29 08:56] alexgb1 commented on #4935
@rossabaker The retained heap was cumulated in the `buffeRef` of fs2.io.tcp.SocketGroup under the EmberConnection

[2021-07-29 15:20] alexgb1 commented on #4935
Regarding how this error could impact the retained heap, there are 2 areas that concern me a bit:
1. No action in case of failure on Exitcase Failure in [here](https://github.com/http4s/http4s/blob/main/ember-client/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala#L168)
2. Under the [cleanup](https://github.com/http4s/http4s/blob/main/ember-client/src/main/scala/org/http4s/ember/cli

[2021-07-29 15:32] rossabaker commented on #4982
Yes, I agree with Raas.  A long time ago, I tried to create a general event stream to peer deeper into these things that happen in the backends, but the backends are by nature not very general, and the event system was not particularly functional.  Our logging and metrics approach sacrifice a small slice of accuracy for general composition.  Servlets have their own metrics and logging, but Ember a

[2021-07-29 18:28] rossabaker commented on #4976
Instead of `decodeBase64` taking an `Array[Byte]`, we might consider adding a combinator for `EntityDecoder` that first decodes the stream via base64 before passing the decoded stream to another decoder.  Then we could take advantage of fs2's streaming base64 support.

[2021-07-29 19:13] rossabaker commented on #4973
:+1:, and as a method.

[2021-07-29 19:13] rossabaker commented on #4973
:+1:, and as a method.

[2021-07-29 19:58] nasadorian commented on #4981
@rossabaker Thank you (and hi!)

Yup can be parametric in F and G. I just showed the specific example from my own code.

GZip on the server side definitely does not unzip. So this seems like an asymmetry...

IMO something named GZip should only `gzip`, and likewise for GUnzip - doing more would betray the name.

[2021-07-29 20:17] rossabaker commented on #4981
My mistake.  The `GZip` middlewares currently do:

|        | Request | Response |
|--------|---------|----------|
| Server |         | gzip     |
| Client |         | gunzip   |

What they probably should do is:

|        | Request | Response |
|--------|---------|----------|
| Server |         | gzip     |
| Client |  gzip |   |

And Gunzip middlewares would:

|        | Request | Response |
|--

[2021-07-29 21:11] rossabaker commented on #4919
I think this changed in 0.21.12 as part of #3911.  Does using the `Query.fromString` help here?

[2021-07-31 04:17] rossabaker commented on #4987
This should be fixed in 0.23.0 (and 0.22.1).

[2021-07-31 04:17] #4987 closed

[2021-08-01 07:49] leeshangqian opened #5006 "Documentation for matrix path variables"
There doesn't seem to be any documentation on https://http4s.org/v0.23/dsl/ regarding how to work with matrix path variables.

Matrix path variables are supported as part of https://github.com/http4s/http4s/blob/main/dsl/src/main/scala/org/http4s/dsl/impl/Path.scala#L157.

I'd like to help if there isn't anyone else working on this.

[2021-08-01 12:43] ScalaWilliam opened #5007 "JSoup encoder"
Hi, I wanted to check if there's interest in bringing in a [JSoup](https://jsoup.org/) Document encoder to this project? Happy to make a PR if so.

JSoup has its own `Document` type which is fairly similar to a DOM Document. Typical use case is to take an HTML template, replace some fields, and serve that document.

The code is here and used in Scala Algorithms, alongside the scalatags encoder. ht

[2021-08-02 01:59] rossabaker commented on #5007
I've used the library several years ago, and I'd be happy to host it in the org.

The plan is to spin integrations into their own repos for http4s-1.0, and I'm sure that would be the long-term plan for this.  And it's going to be up to the community to maintain some of those integrations: it burns out the core team maintaining modules they don't use.  This polyrepo model is already working in vari

[2021-08-02 02:00] rossabaker commented on #5006
I don't believe there is, and the help would be much appreciated!  I'd open the PR against the series/0.22 branch, because they should work exactly the same way, and then your work would merge up so it's in 0.23 and beyond as well.

Thanks!

[2021-08-03 15:36] bplommer opened #5009 "Update `Origin` header to current standard or document decision not to do so"
The [model for the `Origin` header](https://github.com/http4s/http4s/blob/main/core/src/main/scala/org/http4s/headers/Origin.scala) allows a non-empty list of hosts, citing [RFC 6454](http://tools.ietf.org/html/rfc6454#section-7) but the [current standard](https://fetch.spec.whatwg.org/#origin-header) allows only one host, noting that this supplants the definition in the RFC.

I can think of the f

[2021-08-03 16:07] bplommer opened #5010 "Add models for unmodelled headers"
Quite a few headers don't yet have typed models. The following are the unmodelled headers that have their own page on [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers), excluding those marked as deprecated.

- [ ] Accept-CH
- [ ] Accept-Post
- [ ] Access-Control-Allow-Methods
- [ ] Access-Control-Allow-Origin
- [ ] Access-Control-Max-Age
- [ ] Access-Control-Request-Headers
- [ ] Ac

[2021-08-04 09:38] kmakiela96 commented on #4858
I can't use flatMap in for comprehension now because implicit method http4sWithBodySyntax is now gone. How do I transform my request to FlatMapOps?

[2021-08-04 14:42] leeshangqian opened #5016 "Optional matrix path parameter segments"
#5006 made me wonder if there is a better way of handling matrix path parameters with optional segments.

Suppose we wanted to support the following path patterns for our chessboard API,

Get the piece at position (1,2),
[code]

Get all pieces along the x=1 row,
[code]

We would have to write a separate extractor for the optional `y` segment. As the number of optional segments grow, would we need

[2021-08-04 15:50] isomarcte opened #5017 "Be Consistent About Providing An Ordering Instance"
We sometimes have data types which subtype `Ordered` and other times have types which implement `Ordering`. We only _need_ to do `Ordering`. We should ensure that all types which are `Ordered` also have an `Ordering` instance.

Context: https://github.com/http4s/http4s/pull/5013#discussion_r682655331

[2021-08-04 17:20] rossabaker opened #5018 "Clean up Headers docs"
The new model got released with a bunch of TODOs in the scaladoc, referring to old types.

We have sbt-doctest in place now.  This would be a great place to add some examples.

[2021-08-04 17:39] rossabaker commented on #5010
Thanks, @bplommer.  This is a great opportunity for anybody who wants to get their hands dirty with cats-parse.  Examples abound in the [headers package](https://github.com/http4s/http4s/tree/main/core/src/main/scala/org/http4s/headers), and I will be happy to coach anyone through.

If you'd like to work on these, please:
1. Pick one and leave a comment here so we don't duplicate work.
2. Branch o

[2021-08-04 17:56] rossabaker commented on #5016
It's sad to have to create an Optional extractor over each existing one rather than compose optionality onto them, but I don't think there's a better way.  And it's certainly better than doing every permutation in each route.  I'm good with this unless someone has a smarter idea.

[2021-08-05 16:08] imasli opened #5021 "[Bug] nowarn.class conflict with scala-collection-compat in 0.21.19"
A dependency in my project uses http4s 0.21.19. Yet when I build my project I have this error

[code]

This does not happen when I used the http4s 0.21.7 and this also happens when I use http4s 0.21.25

[2021-08-05 18:46] rossabaker commented on #5021
We had to add that nowarn annotation in the middle of the 0.21 release cycle.  It became unnecessary with http4s-0.22.  The two should be functionally equivalent, and you should be able to create an assembly using the `first` or `last` [`MergeStrategy`](https://github.com/sbt/sbt-assembly#merge-strategy).

[2021-08-05 19:28] barryoneill opened #5022 "HMAC-SHA256 support for OAuth1"
I'm currently using the `oauth1.signRequest` function in http4s for communication with a 3rd party service.  The http4s implementation is hardcoded to use HMAC-SHA1.  Our 3rd party will soon require HMAC-SHA256.

Would there be any objection if I raised a PR to make this value configurable (while maintaining backwards compatibility for existing code)?

[2021-08-05 20:20] rossabaker commented on #5022
That would be great.  I'm not sure what version you're on, but series/0.22 is ideal if it's compatible.  If you're on Cats-Effect 3, go ahead and try series/0.23, and someone can backport it if they're so inclined.

Aside: love the Quack avatar.

[2021-08-05 20:23] barryoneill commented on #5022
Quack is my spirit animal.

We're on 0.22 as it happens, so I'll base against that.  Thanks!

[2021-08-05 20:40] barryoneill commented on #5022
Oh, 0.21 for some projects 🤦🏻  -  I'll start with 0.22 anyway

[2021-08-05 21:16] rossabaker commented on #5022
We're not actively maintaining 0.21 anymore, but if you need it all the way back there and can do it compatibly, I am willing to release it.

[2021-08-05 21:28] barryoneill commented on #5022
Understood, in dependency hell with those projects but will see how I get on :)

[2021-08-06 01:59] barryoneill commented on #5022
WIP - https://github.com/http4s/http4s/pull/5023/files - though unsure how to do this in series/0.22 without failing binary compatibility checks

[2021-08-06 13:14] rossabaker commented on #4899
Got one: https://github.com/http4s/http4s/pull/5028/checks?check_run_id=3262369056 /cc @isomarcte

[2021-08-06 14:57] keynmol opened #5030 "Performance regression in ember message parsing"
Scala 2.13.6
Http4s 0.23.0

Rest of discussion on Discord: https://discord.com/channels/632277896739946517/839254871646404638/873212390043430942

I have a very simple internal app (I will try and work on open source repro), which does a single http call (many times in parallel) and parses json with Circe.

Looking at performance, I can see 1 method dominating CPU time

![image](https://user-images

[2021-08-06 15:24] isomarcte commented on #4899
@rossabaker do you think that is a default HTML error page? I should have re-written those better, to dump the whole output on failure.

[2021-08-06 18:24] rossabaker opened #5031 "Dependabot alerts from yarn.lock"
I don't know how to fix any of these, and they popped up immediately on merge of Scala.js support: https://github.com/http4s/http4s/security/dependabot

* Upgrade glob-parent to version 5.1.2 or later.
* Upgrade sockjs to version 0.3.20 or later.
* Upgrade yargs-parser to version 13.1.2 or later.

I don't have a good grasp of what's main and what's tests, but I'd also like to clean it up so we don

[2021-08-06 18:28] armanbilge commented on #5031
I can't see them at the link you sent actually, but you can ignore these, the same issue came up with fs2. These are all dev/test dependencies, and are quite probably not even used. Unfortunately this is due to upstream issues with `ScalaJSBundler`.

For the record, all of our JS implementations rely only on APIs available in the browser or Node.js and absolutely no third-party packages.

[2021-08-06 18:31] rossabaker commented on #5031
So if we ever see these in a yarn.lock, it's safe to dismiss them, until someone adds a third-party dependency to main code?

[2021-08-06 18:31] armanbilge commented on #5031
Yep, this is how it is for many pure JS projects AFAICT. Crazyness.

[2021-08-06 18:33] rossabaker commented on #5031
Good grief.

Well, then I think we're prepared for liftoff after fs2-3.1 releases.

[2021-08-06 18:33] #5031 closed

[2021-08-06 18:36] rossabaker commented on #4899
I just looked at the test name when I pinged you, and now GitHub can't find the log. 😩

[2021-08-06 20:20] isomarcte commented on #4899
@rossabaker the string it was matching was something like `<doctype`

[2021-08-06 20:56] rossabaker commented on #4899
Yep, sounds like.  The default Tomcat error pages are all HTML.

[2021-08-07 21:57] usommerl commented on #4935
I can't add much to the discussion, except I see this error as well with http4s v0.23.1 and the ember client implementation. The HTTP client is fetching data from one of our own services. The service is implemented with http4s 0.21.22, and it is using the blaze server implementation. The service is running behind an Apache reverse proxy. The error occurs approximately with every second request. I

[2021-08-07 23:13] RaasAhsan commented on #4935
By chance do you know if it is using HTTP/1.0 ?

[2021-08-07 23:27] usommerl commented on #4935
The response status line states it is using `HTTP/1.1`

[2021-08-08 01:08] RaasAhsan commented on #4935
@usommerl  Trying to get a local setup going to see if I can reproduce because your case sounds fairly promising. Can you provide any more detail about your set up? What version fo apache proxy, any detail around the configuration? What kind of HTTP methods are you using, how big are the request/response bodies, are they streaming bodies or fixed-size, etc ? If you could provide sample HTTP reques

[2021-08-08 05:03] RaasAhsan commented on #4935
If anyone can capture and share a TCP/wireshark dump of this interaction, that would be immensely helpful as well. I've tried to repro with some different request/response patterns but haven't gotten a hit yet

[2021-08-08 06:20] armanbilge opened #5044 "Further purify the JVM/JS cross"
Now that I better understand the merging challenges that lie ahead (e.g., #5023), I wanted to sketch out some ideas to further improve things post-cross.

1. Crypto. My proposal: create a new library (would org.http4s like to host?) that provides a `Crypto[F]` typeclass. Implementations for JVM, Node.js, and browser platforms will be available with a Cats dependency for JVM and CE 3 dependency for

[2021-08-08 18:20] kag0 opened #5048 "Version stability on website is stale"
https://http4s.org/versions indicates that 0.23 and 0.22 are stable and 0.21 is EOL.
However the dropdowns under "Documentation" (top bar) and "get started with http4s" (center of page) on https://http4s.org indicate that 0.21 is stable and 0.23 and 0.22 are under development.

[2021-08-08 19:31] isomarcte commented on #5044
Are you suggesting a class `Crypto[F]` which is just a facade for all the operations needed in http4s, or something more general, e.g. classes describing encryption, decryption, hashing/digesting, etc.

A more general variant has been sorely needed in the ecosystem for some time now, even without considering the additional complications that the js based builds add here. @ChristopherDavenport and

[2021-08-08 19:40] armanbilge commented on #5044
Definitely something more general! Hopefully, we could use this library to provide cryptography for any JVM/JS crossing source e.g. in https://github.com/tpolecat/skunk/pull/515.

We _have_ implemented these APIs in Node.js :) see https://github.com/typelevel/fs2/pull/2519. For the browser, it's a bit more iffy ... _technically_, browsers do have at least [file reading](https://developer.mozilla.o

[2021-08-09 00:43] usommerl commented on #4935
@RaasAhsan I was able to reproduce the issue with a static text file that is served by Apache. So it has nothing to do with the service behind the proxy. I've only seen the error with GET requests so far, but I haven't tried other HTTP methods yet.

[I have created a small example application that is repeatedly querying the Apache service that is running on one of our test servers. Maybe you can u

[2021-08-09 04:20] RaasAhsan commented on #4935
@usommerl I'm seeing the errors! It seems like you may be running a server somewhere for this, so I'll try to sort this out ASAP :) Many thanks for getting this set up!

[2021-08-09 06:04] usommerl commented on #4935
@RaasAhsan You don't need to hurry. The server will be running anyway and most of our team is on vacation, so the server setup will probably not change within the next one or two weeks.

[2021-08-09 12:36] isomarcte opened #5052 "Blaze Tests Is Unreliable"
https://github.com/http4s/http4s/pull/5046/checks?check_run_id=3275323831

[code]

If we can't fix this, we might consider disabling it. I'm unsure how much utility a test which is expected to fail often provides.

[2021-08-09 14:49] eikek opened #5053 "multiipart file upload doesn't support unicode file names"
Hi!

I have an issue with uploading files via a multipart request, where the filename doesn't contain ascii characters. The original issue got reported by a user who uses Russian language. It seems that when using the `Multipart` decoder, the parts filenames that are extracted from the `Content-Disposition` header are gone as soon as cyrillic letters appear.

Here is an example that can be run wit

[2021-08-09 14:53] eikek commented on #5053
It may also be interesting, that German umlauts, like üöä are working.

[2021-08-09 22:15] rossabaker commented on #5053
Ой!  This is a tricky one.  HTTP headers weren't specified with UTF-8 in mind, and only encodings to ASCII are reliable.  A standard way to send these is to use a `filename*` attribute percent-encoding of UTF-8 bytes so the encoded value is ASCII.   Curl is sending raw UTF-8 bytes, which aren't interpreted as such in parsing, and cause the header to be rejected.

I'd be interested in links to what

[2021-08-09 22:55] eikek commented on #5053
Thank you for the very quick reply! Oh indeed, I never checked  what curl sends exactly, I was assuming that when umlauts are working so should everything else … 🥴 I quickly extended the example and tested with a simple html form; firefox sends these headers with the file part:
[code]
And this is exactly returned from the parts `filename` method. I have the same result with chromium. I'm going to

[2021-08-09 23:51] eikek commented on #5053
I just found [this part of rfc7578](https://datatracker.ietf.org/doc/html/rfc7578#section-4.2) - where it says:

But I don't understand; this and the last paragraph of the section would imply that bytes outside the ascii range are allowed in http headers? I had the same understanding as you wrote until now, that this is not allowed/recommended. And why should this scheme (rfc5987) be used but just

[2021-08-10 17:09] rossabaker commented on #5048
Thanks for the report, and thanks to @armanbilge for jumping on it.

[2021-08-10 17:09] #5048 closed

[2021-08-10 17:39] rossabaker commented on #4899
Here's [another one](https://github.com/http4s/http4s/pull/5057/checks?check_run_id=3292905974)

[code]

It's probably the response timing out because we still ask too much of these free CI boxes.

[2021-08-10 21:28] rossabaker commented on #5044
Is this a type class or an algebra?  I am thinking of it more as the latter.

I don't know about JS, but optional dependencies are a massive pain on the JVM.  On the JVM, they explode if not used properly.  I guess they might just explode in a different way if used on the wrong JS platform.  I've also struggled with them participating in eviction, which I imagine could be a similar problem on JS.

[2021-08-11 00:15] armanbilge commented on #5044
Woops, I guess it's an algebra! Sorry, still learning my FP ABCs :) Besides terminology, any other thoughts? :)

100% agree. The underlying problem is that the Scala.js community doesn't distinguish (and cross-build) between Node.js and Browsers even though they are fundamentally different platforms. Thus, we resort to horrible hacks. I posted about this at [Scala Users](https://users.scala-lang.o

[2021-08-11 05:51] matil019 opened #5059 "Request#withEntity appends Content-Type instead of replacing it since 0.22"
Nice to meet you!

I've discovered a behavior change of `Request#withEntity` between 0.21.25 and 0.22.x.

If a `Request` already has a `Content-Type` header, it is replaced with a new value of `EntityEncoder` in 0.21.25, while it is appended as another header in any version of 0.22.x.

Example:

[code]

Running with Coursier:

[code]

[code]

(The output should be the same)

I couldn't find a rele

[2021-08-11 05:55] RaasAhsan commented on #4935
It seems that this bug is an instance of a larger issue that we've been tracking for awhile, namely, request retries when the peer has closed the connection after we write a request (https://github.com/http4s/http4s/issues/4798). I've been spending some understanding how other HTTP client libraries behave in this situation, and it seems most of them at the very least will retry idempotent requests

[2021-08-11 05:57] RaasAhsan commented on #4283
Closed via #5040

[2021-08-11 05:57] #4283 closed

[2021-08-11 05:57] RaasAhsan commented on #4711
I think this one can be closed now ?

[2021-08-11 05:57] #4711 closed

[2021-08-11 05:58] RaasAhsan commented on #4711
didn't mean to close, but feel free to reopen

[2021-08-11 05:58] RaasAhsan commented on #4714
Closed by #4715

[2021-08-11 05:58] #4714 closed

[2021-08-11 10:40] RustamSultanov commented on #5053
I have this problem too! cyrillic letters in filename work in versins before 0.22.0. After update we have this problem 😕

[2021-08-11 14:39] isomarcte commented on #5044
I was actually thinking of these as typeclasses based around the various algorithms. Similar to how Cryptonite does this (https://hackage.haskell.org/package/cryptonite-0.29/docs/Crypto-Hash-Algorithms.html#t:HashAlgorithm).

However, things get a bit complicated on the JVM. In theory, given a class like `HashAlgorithm`, there is only one valid instance for a given algorithm, but since the JVM has