[2018-03-27 14:41] kevinmeredith opened #1742 "0.18's 'Testing' Docs show 'false' When 'true' Expected"
Note that the expected output of `check` is `true`, yet it's showing `false` for a few of the tests - https://http4s.org/v0.18/testing/.

@rossabaker, I'll take a look at this one!

[2018-03-27 14:52] rossabaker commented on #1741
Can we return the stage in `F` and graft it on in the blaze innards?

[2018-03-27 15:56] kevinmeredith commented on #1742
Looks like there's an HTTP Response body when passing an `org.http4s.Request` that fails to match:

[code]

The other error in the `Testing.md` is due to my passing the wrong `repo` argument.

I'll post a fix, at the latest, later tonight.

[2018-03-27 19:50] rossabaker commented on #127
I'm going to close this ticket, but create a long series of specific questions along these lines.

You've all been warned. :smiling_imp:

[2018-03-27 19:50] #127 closed

[2018-03-27 20:01] rossabaker opened #1743 "Consistency of Http4sClientDsl with Http4sDsl"
In `Http4sClientDsl` and `Http4sDsl`, the `apply` syntax returns an `F[Request[F]]` and `F[Response[F]]`, respectively.  This made sense when `EntityEncoder` returned an `F[Entity[F]]`, but now it returns an `Entity[F]`.

Returning an `F[Response[F]]` is still sensible in `Http4sDsl`, as we are always constructing an `F[Repsonse[F]]`.  This lifting avoids repetitive `.pure[F]` calls at the end (e.

[2018-03-27 20:11] rossabaker opened #1744 "Type tagging of Method semantics"
We currently have types to represent whether a method is `Safe` or `Idempotent`.  We use this information in client middlewares, but we never use it at type level.  Would we lose anything demoting these to instance level?

[2018-03-27 20:11] rossabaker opened #1745 "PermitsBody and NoBody"
We have types to represent whether a method is known to permit a body or reject it.  This is used by `Http4sClientDsl` to drive which `apply` syntax is available.  This is a neat party trick, but the machinery is a bit complicated.  Furthermore, this type level construct only guides correctness.  It doesn't guarantee it.  `DELETE("foo")` doesn't compile, but `Request(DELETE).withEntity("foo")` doe

[2018-03-27 20:15] rossabaker opened #1746 "Custom method support"
It's impossible to register a custom `Method` with safe/idempotent semantics or whether it permits/forbids a body since the demise of the global, mutable, despicable registry.

[code]

We can make `Method.fromString("BLORP") === BLORP`.  But we can't define that `BLORP` is safe, idempotent, or what type of body it takes.  We also can't make `Method.fromString("BLORP") eq BLORP`.  You can do both o

[2018-03-27 20:27] rossabaker opened #1747 "Method and Status constant names"
* `Method` names are as they appear on the wire: uppercase.
* `Status` constants are not as they appear on the wire.  Numeric constants would be ugly, and reason phrases would need to be quoted.  So they're generally CamelCase of their canonical reason phrases.

We inherited this inconsistency from Spray, and it feels okay, but it's inconsistent.

Possible solutions bleed into #1667.

Discuss.

[2018-03-27 20:29] jmcardon commented on #1747
I'm actually ok with this at the moment. That said, we could make _all of them_ camelcase if consistency is wanted.

[2018-03-27 20:30] rossabaker commented on #1746
My view: if you're important enough to be a flyweight with recognized properties, you're important enough to be in the IANA registry.

Anyone want to fight? :boxing_glove: :boxing_glove:

[2018-03-27 20:32] jmcardon commented on #1746
I think we should be against potentially unholy behavior . I really can't think of a single reason why I would ever not fight a decision in a workplace to do stuff with a custom method over HTTP.

Down with this idea.

[2018-03-27 20:32] rossabaker commented on #1747
Yeah.  As I see it, the three obvious solutions are:

- camel case everything
- be faithful to the wire until it requires backticks
- _stare decisis_

[2018-03-27 20:35] jmcardon commented on #1747
No :disappointed: . I don't want to use
[code]

Up to vote. I'm neutral

Also neutral

[2018-03-27 20:36] cquiroz commented on #1746
It's really a corner/custom case, I would skip over it
Having said that this same issue comes up if you want to e.g. add a custom `MediaType` which maybe more common?

[2018-03-27 20:38] rossabaker commented on #1747
I said "_until_ it requires backticks."  What you quoted would fall under "radically faithful to the wire," which isn't proposed. :)

[2018-03-27 20:46] rossabaker commented on #1746
Yes, it's a more challenging question for `MediaType`.  Encoding considerations (7-bit vs. 8-bit vs. binary) and file extensions are interesting properties here that can't be expressed without a custom registry.  People can build their own logic for this, but we can't make `mediaType.isBinary` return true.

If we implement #73, we can shrug our shoulders and point at MimeDB and offer people a patc

[2018-03-27 21:34] rossabaker commented on #1746
Alright, I think #73 is a good ticket for further discussion of the media types.  There are interesting MiMa issues to work through if and when that comes into being.

[2018-03-28 01:37] cquiroz commented on #73
At [scala-java-time](https://github.com/cquiroz/scala-java-locales) and [scala-java-locales](https://github.com/cquiroz/scala-java-locales) code is generated out of the IANA tzdb (former) and CLDR XML database (latter). This is a quite similar case, where code could be generated from the MIMA db for media types.

There are a few choices to do this, being the most straightforward to just add parsin

[2018-03-28 02:24] rossabaker commented on #73
Looks like you've got the most experience in this.  I guess at the end of the day, if it's an sbt task that writes into src_managed, it does what we need.

Maybe generate it into a private[http4s] abstract class? The `MediaType` companion can extend it and keep the other code in Pure Scala, and the abstract class means we can add to it without angering MiMa on Scala 2.11.  (Or, if it's private, we

[2018-03-28 06:59] aeons commented on #1743
I think having a DSL that's better suited for the intended use case is more important than having the DSLs be consistent.

[2018-03-28 10:00] tuananhtd opened #1755 "Please help to check why I got InvalidMessageBodyFailure"
I got this error:
[code]
It took me hours to debug this but I couldn't find the root cause. I thought the response size cause the problem but just by shuffle the params (and hence will shuffle the response in my case) the code will work. Maybe the content of the response is the problem? I would be grateful if someone can shed some light on this.

This is where I use `http4s` (in scala).
[code]

Th

[2018-03-28 13:15] rossabaker commented on #1755
Which version are you on?  @jmcardon recently rewrote the multipart parser.

[2018-03-28 15:06] jmcardon commented on #1755
I checked this body on 0.18 feeding it manually. Could you please give a bit more information? It seems you're on 0.17 with `Task` but I have no idea what you're doing.

Are you feeding it to an external server? To your own server? A bit of context goes a long way here.

[2018-03-28 19:39] Daenyth commented on #1745
As a user, especially as a user with a team who has spent less time in scala than I have, I would avoid this. I don't think it buys a lot

[2018-03-28 21:09] jmcardon opened #1757 "Deprecate future encoder"
[code]

This prints both hi1 and h2. This is potentially terrible for business logic on top of the fact it clearly violates RT.

We need to deprecate `EntityEncoder.futureEncoder[F]`

[2018-03-28 21:20] rossabaker commented on #1757
Yeah, do it.  It exists for convenience, but I don't think the danger was properly appreciated.

[2018-03-29 02:21] kevinmeredith commented on #1742
https://http4s.org/v0.18/testing/ looks good.

[2018-03-29 02:21] #1742 closed

[2018-03-29 02:26] ChristopherDavenport commented on #1504
Definitely seems good enough to close out this issue. If we want we can revisit arbitraries and law testing at some point in the future.

[2018-03-29 02:26] #1504 closed

[2018-03-29 02:32] kevinmeredith commented on #1648
Could you please explain the reason for the `StackoverflowError`, @SystemFw, on:

[code]

?

Thanks!

[2018-03-29 03:15] rossabaker commented on #1757
Closed by #1759.

[2018-03-29 03:15] #1757 closed

[2018-03-29 03:18] rossabaker commented on #1745
We do similar with status codes, to force a 401 to have a `WWW-Authenticate` and some of the 3xx to have a `Location` header and a 204 to not have a body.  The first two of these have caused users to complain as they try to circumvent it.

I was proud of this at the time, but I think I'm coming around to @Daenyth's point of view.

[2018-03-29 04:27] tuananhtd commented on #1755
Thank you @rossabaker and @jmcardon. I'm currently on `0.18.4`. I used it in backend to bulk get docs from a `CouchBaseDB`.

[2018-03-29 05:01] jmcardon commented on #1755
I could not reproduce this. Do you think you could provide a minimized example?

[2018-03-29 05:53] tuananhtd commented on #1755
Sorry I couldn't find smaller example but here is the full error log:
[code]
It has something with invalid boundary. Do you have any idea why?

[2018-03-29 06:00] jmcardon commented on #1755
It seems as if you were passing it an incomplete body or something.

[2018-03-29 06:13] jmcardon commented on #1755
Yeah, when I attempt to send your request body it seems to work just fine.

Does your response contain information about the boundary? This seems like a weird issue.

[2018-03-29 06:31] jmcardon commented on #1755
Alright small quip: [Could you try this parser?](https://gist.github.com/jmcardon/0a9a58d64132bdd845fc51193a8b66b6)? You can get a reference to it via `implicit val decoder = MultipartParser2.decode[F]`. I believe this solves your issue

[2018-03-29 07:08] tuananhtd commented on #1755
@jmcardon I'm trying to use your code but the compiler doesn't understand the operator `*>` you used for `Pull`. I'm not quite familiar with this? Is there any other equivalence method?

[2018-03-29 07:09] jmcardon commented on #1755
@tuananhtd try `import cats.implicits._`. Sorry, I might have forgotten that import.

[2018-03-29 07:11] jmcardon commented on #1755
do you have `-Ypartial-unification` enabled in your compiler options? Also I am currently on gitter if it helps.

[2018-03-29 07:13] SystemFw commented on #1648
@kevinmeredith sure. Let's look at the signature of `jsonEncoderOf`:
` def jsonEncoderOf[F[_]: EntityEncoder[?[_], String]: Applicative, A: Encoder]: EntityEncoder[F, A]`

It wants an `Encoder` for `A`, and an `EntityEncoder[F, String]`. So first of all your signature above is making the mistake of not propagating the `EntityEncoder[F, String]` constraint. Normally forgetting to propagate an impli

[2018-03-29 08:50] jmcardon commented on #1755
https://gitter.im/http4s/http4s?at=5abca6db458cbde5578a5209 states it is a bug, but I haven't been able to reproduce it yet, unfortunately.

[2018-03-29 08:52] tuananhtd commented on #1755
@jmcardon please check the response file I made with `curl -O`
[response.txt](https://github.com/http4s/http4s/files/1859294/response.txt)

[2018-03-29 11:55] tuananhtd commented on #1755
In attempt to reproduce the bug [https://github.com/tuananhtd/http4s-bug-reproduce](here) I wrote an nodejs server to produce one of the two response read from text file (`response_1.txt` should cause an error while the `response_2.txt` should not). However both of them produce another error `Missing boundary extension to Content-Type`. I should miss something on the header but it really painful s

[2018-03-30 03:55] rossabaker commented on #146
There is renewed discussion of this on Gitter.  Examples we have of this being useful:

* `Multipart[F]`
   * the boundary in `Content-Type`. Sorely needed.
* `File` / `Path`
   * `Content-Type` from the Java APIs: nice to have
   * `Content-Disposition`: nice to have
   * `Last-Modified`: nice to have
   * `Content-Encoding`: From the suffix?  Janky.
* `Stream` / `InputStream` / `Reader`
   * `Co

[2018-03-30 15:06] ngbinh commented on #1256
I see this error repeatedly on `0.18.3` and `0.18.5`

[code]

[2018-03-30 15:06] ngbinh commented on #1256
doesn't look like any bad outcomes happened though (at least not that I can tell)

[2018-03-30 15:10] ngbinh commented on #1256
the requesting part usually looks like this:

[code]

Not sure if it is correct pattern.

[2018-03-30 15:37] bryce-anderson commented on #1256
@ngbinh, do you mind opening an issue with those stack traces in blaze? I don't think they are anything but noise, but they should be cleaned up. With `InboundCommand`s being hints at this point, I don't think we shouldn't be raising these exceptions.

[2018-03-30 16:57] rossabaker commented on #121
I think it was closed due to lack of interest.  It doesn't exist.  Would you like to argue for it? :)

[2018-03-30 17:18] rossabaker commented on #1256
Can this be fixed in 0.12 series, or are we waiting for master?

[2018-03-30 17:22] dwalend commented on #121
Thanks. I get @julien-truffaut 's point, but won't mistake a request for a response. I'm much more interested in CONNECT support in blaze.

Plus you'd next ask me to write code I'm not yet qualified to write.

[2018-03-30 17:46] rossabaker commented on #121
There's nothing inherently HTTP about that proposed codec.  Minus the type aliases, a library of these wouldn't depend on anything from http4s.  Then it starts to look a bit like [scodec-stream](https://github.com/scodec/scodec-stream).

[2018-03-30 19:06] marcovivero commented on #1256
I've seen this come up occasionally , but am now actually also seeing this with a mock API server being used at work (currently using 0.18.4). I will need to change some stuff around but should be able to provide mock service for replication purposes if needed. This is used for ETL and there aren't any ill-effects in any of the data-integrity checks being made. It's also not occurring on every tes

[2018-03-30 19:39] rossabaker commented on #1256
When we have a new blaze, we'll cut a patch release, and those of you seeing this on 0.18 can try it, and we can close it for better reasons than "nobody has complained for a while."  Thanks for the reports.

[2018-03-31 00:49] bryce-anderson commented on #1256
I'd have to look into it more to see if it's something that should be changed on 0.12.x. My gut feeling is that this would be a pretty serious API contract change.

[2018-03-31 11:09] felixmulder commented on #1510
Can this be closed? :)

[2018-03-31 12:47] ChristopherDavenport commented on #1510
These methods are all deprecated now. :+1:

[2018-03-31 12:47] #1510 closed

[2018-03-31 18:01] jmcardon commented on #1755
For the sake of an update: This is schrodinger's bug to me. I've tried the following:

- Stream that file `response.txt` as a request. This parses it correctly
- I took a custom object,turned it into a lot of parts (10k to be precise), then sent it to a client and parsed it. It worked just fine. The setup in question can be seen rougly in [this gist](https://gist.github.com/jmcardon/454e16bbde7da5

[2018-04-03 02:52] cquiroz commented on #73
I have a code generator that will take `MimeDB` and create lots of `MediaType` instances. I'm having some troubles to integrate it into the build and that got me thinking if I should instead just import the scala file into http4s.

The pro is that the build would be more stable but we'd need to remember to update the file when `MimeDB` changes.

The file is fairly large, above 300k with a few thou

[2018-04-03 09:12] tuananhtd commented on #1755
Hey @jmcardon! With help form my colleague I am finally beable reproduce the bug now. Please follow the readme file [here](https://github.com/tuananhtd/http4s-bug-reproduction).

[2018-04-03 15:52] jmcardon commented on #1755
awesome @tuananhtd! Thank you for the repro.

[2018-04-04 00:09] jmcardon commented on #1755
@tuananhtd we will cut 0.18.6 tonight with the fix. Please update once you can :+1:

[2018-04-04 02:16] ngbinh commented on #1755
thanks @jmcardon , thanks for the help! We will update and report back the result ASAP

[2018-04-04 02:16] jmcardon commented on #1755
@ngbinh (for the record, 0.18.6 is already out)

[2018-04-04 07:07] tuananhtd commented on #1755
Thank @jmcardon

[2018-04-04 08:09] tuananhtd commented on #1755
The error is gone when I upgrade it to `0.18.6`.

[2018-04-04 08:09] #1755 closed

[2018-04-04 12:10] tenniscp25 opened #1767 "Unprocessable Entity (422) when uploading file with non-English name"
With the following code:

[code]

I tried Thai, Japanese and Chinese file names. The server always return HTTP 422. English names work fine though. Example names that fail: ทดสอบ, テスト and 实验.

[2018-04-04 15:34] jmcardon commented on #1767
Hi.

The [Multipart RFC](https://tools.ietf.org/html/rfc7578#section-5.1.1) suggests to use ascii names when possible, and if not using ascii, at least being consistent.

Currently, we only support ascii, but I'm opening a PR in a little to tackle that issue

[2018-04-04 15:53] rossabaker commented on #1767
We're not bumping into 5.1.3 of that spec yet, are we?  I think we've got some unresolved issues around that, as well.

[2018-04-04 20:29] jmcardon commented on #1767
@tenniscp25 #1768 addresses your issue.

[2018-04-05 04:09] jmcardon commented on #1767
Closed by #1769. Please upgrade to 0.18.7 to deal with non-ascii chars :+1:

[2018-04-05 04:09] #1767 closed

[2018-04-05 04:41] tenniscp25 commented on #1767
Thanks!

[2018-04-11 13:26] rossabaker opened #1774 "TimeoutException: Client response header timeout after 0 milliseconds."
[code]

Runs about 5 requests, and then dies with:

[code]

Reported by @RibleStrype

[2018-04-11 13:27] SystemFw commented on #1774
can we reproduce with `IO` only, taking fs2 out of the picture?

[2018-04-11 13:29] rossabaker commented on #1774
A good one looks like this:

[code]

A bad one looks like this:

[code]

[2018-04-11 13:36] rossabaker commented on #1774
This runs indefinitely:

[code]

[2018-04-11 13:44] rossabaker commented on #1774
Fails:

[code]

[2018-04-11 13:51] rossabaker commented on #1774
It works with async-http-client, to whose companion I've added a `stream` constructor.  This seems to be an interaction between fs2 and blaze-client.

[2018-04-11 15:11] rossabaker commented on #1774
Pinging @bryce-anderson, who may spot this quicker than I will.  Otherwise, I will dig deeper later today.

[2018-04-11 21:30] drexin opened #1779 "Request gets executed before effect is run"
Running the following code prints `Called`, even though the effect is never run:

[code]

[2018-04-11 21:32] SystemFw commented on #1779
@drexin that's because you aren't encapsulating side-effects properly :)

Try `IO(println("Called") *> Ok()`

[2018-04-11 21:33] ChristopherDavenport commented on #1779
It does the routing, which is a pure operation. You are side-effecting in a pure position. If this is still present with the below then this is indeed an issue.
[code]

[2018-04-11 21:33] SystemFw commented on #1779
Jinx!

[2018-04-11 21:36] drexin commented on #1779
Ah, that makes sense. I found this while debugging an issue which seemed to be caused by that, but I think I know what the problem is now. Thanks!

[2018-04-11 21:36] #1779 closed

[2018-04-13 17:41] ChristopherDavenport commented on #342
Do we even have an agreement on what behavior we expect of servers expect the kleislis? Seems we might want to more formally describe what semantics we expect our backends to satisfy.

[2018-04-14 04:22] rossabaker opened #1781 "Silent error handling when rendering a header fails in Http1Writer"
In `Http1Writer`, we [silently recover an error]( https://github.com/http4s/http4s/blob/f4f39f23509e70f06b34de7ebdecba80171560b9/blaze-core/src/main/scala/org/http4s/blazecore/util/Http1Writer.scala#L15) when writing the response header fails.  We are correctly draining the response stream, but we still need to report the original error.

This might be where the error with cats-1.0 and 1.1 on the

[2018-04-14 04:28] rossabaker opened #1782 "Http4sServlet doesn't drain the body if setting the response headers throws"
[These methods](https://github.com/http4s/http4s/blob/f4f39f23509e70f06b34de7ebdecba80171560b9/servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala#L139-L143) can throw if the servlet response is committed.  If we generate a response, we must drain the body even if we don't render it to run the response finalizer.

[2018-04-15 02:55] rossabaker opened #1783 "Blaze doesn't respond or log an error with two versions of cats on the classpath"
1. Add cats-1.0.1 to lib directory on project that has cats-1.1.0
2. Run `curl -H "Connection: close" --http1.0 http://localhost:8080/hello/world`
3. Get `curl: (52) Empty reply from server` without an error log

This is a bad deployment, but happens in mill.  It's concerning that we don't report an error in this case.

[2018-04-16 03:43] rossabaker opened #1788 "Upgrade http4s-websocket-0.2.1 with blaze"
When we release http4s/blaze#201, we should bump the version of http4s-websocket and blaze on the release-0.18.x branch.  This will make the new Close enhancements available.

/cc @keirlawson

[2018-04-16 21:37] tbrown1979 commented on #1774
I'm currently encountering this issue with a project I'm working on ^. Willing to help, but will have to spend some time looking into things

[2018-04-16 23:05] bryce-anderson commented on #1774
Do we know in which version this started happening, or has it always been happening?

[2018-04-16 23:07] rossabaker commented on #1774
Good question.  I haven't gone back in time.  I _think_ I reproduced on 0.18.8.  The repo will change moving backward in minor versions.

[2018-04-16 23:45] #1788 closed

[2018-04-16 23:46] #1781 closed

[2018-04-16 23:46] #1782 closed

[2018-04-16 23:46] #1783 closed

[2018-04-16 23:47] rossabaker opened #1790 "SchemeSpec property failure"
[code]

[2018-04-16 23:47] rossabaker commented on #1790
Wow.  I think after all this time, we stumbled into generating a scheme that starts with a known scheme.

[2018-04-17 03:46] bryce-anderson commented on #1774
The problem is that the return value of the Kleisli [here](https://github.com/http4s/http4s/blob/master/blaze-client/src/main/scala/org/http4s/client/blaze/BlazeClient.scala#L29) isn't referentially transparent and it's being reused in the Stream example. The [submit time](https://github.com/http4s/http4s/blob/master/blaze-client/src/main/scala/org/http4s/client/blaze/BlazeClient.scala#L31) remain

[2018-04-17 13:04] #1790 closed

[2018-04-17 13:05] rossabaker opened #1793 "Connection pool should be based on a Timer"
Then we could test things like #1792.

I know @ChristopherDavenport has a lot more problems with the connection pool than that. :laughing:

[2018-04-19 22:33] cb372 opened #1795 "Edit button on website doesn't do anything?"
I think having an edit button on all the documentation pages is a great idea. But as far as I can tell, clicking the button doesn't actually do anything. Is it just me?

I'm using Chrome 65.

[2018-04-19 22:42] jmcardon commented on #1795
I'm not sure if those are intentional. @rossabaker might know more on this.

In particular all docs changes are done through the main repo under the docs directory, so I'm not sure how that would work otherwise.

[2018-04-19 22:45] cb372 commented on #1795
The Contributing page says

So if the buttons are not supposed to be there, that text should probably be removed.

[2018-04-20 03:15] rossabaker commented on #1795
They are absolutely intended to work, and don't work for me either.  Drat.

[2018-04-20 03:48] rossabaker opened #1797 "Release strategy: 0.19 and 1.0"
cats-1.0 is here.  cats-effect-1.0 is imminent.  fs2-1.0 is expected quickly thereafter.  Dependency releases historically prompt http4s releases  Let's talk.

Goals:
- A stable release on cats/cats-effect/fs2-1.0 stack ASAP.
- Minimize disruptive upgrade cycles.
- Don't release our 1.0 with known warts.
- Maintain no more than two branches (production release and master).

Proposal:
- A conservat

[2018-04-20 03:51] rossabaker commented on #1797
#1694 is the troubling one: that's the change that's going to be the biggest breakage.  But it's already on master, so it would be tricky to back out without maintaining 0.18 + 0.19 + 1.0 in the short term, and I _really_ don't want to do that.

[2018-04-20 03:53] rossabaker commented on #1797
A bunch of things are blocked on the weakness of our `Uri` implementation, and the current state is half-baked with some things moved into the `Uri` companion and made a proper `HttpCodec` and others not.  That's a more aggressive change than I want in 0.19, but my biggest embarrassment in 0.18.

[2018-04-20 03:56] jmcardon commented on #570
Other update: I'm probably tackling this due to popular demand. lol.

[2018-04-20 04:00] rossabaker commented on #1797
On the subject of avoiding three branches: what happens if we have more things like #1694 before 0.19 is done, but are considered too aggressive for our 0.19 goals?  Is there any way to avoid the three-branch strategy?  Keep in mind that 0.19.0 date is in the hands of the fs2 team, not us.

[2018-04-20 04:09] jmcardon commented on #1797
I am :+1: the conservative strategy here.

[2018-04-20 11:17] kevinmeredith commented on #1648
Thanks, @SystemFw, for that detailed explanation!

Why must [jsonEncoderOf](https://github.com/http4s/http4s/blob/master/circe/src/main/scala/org/http4s/circe/CirceInstances.scala#L94) have an `EntityEncoder[F, String]` in implicit scope?

[2018-04-20 12:41] ChristopherDavenport commented on #1795
That's a weird label combination. 😆

[2018-04-20 12:54] rossabaker commented on #1648
You know, maybe it shouldn't: maybe we should just refer to it explicitly, with explicit UTF-8 encoding. :thinking:

[2018-04-20 12:55] rossabaker commented on #1795
I think it adequately connotes my embarrassment.

[2018-04-21 02:29] #1795 closed

[2018-04-21 18:21] rossabaker opened #1799 "Doc revamp proposal"
Problems:
1. Publishing several versions of the docs is complicated.
2. A custom documentation theme is beyond our skills and resources.

I propose we:
1. Flatten website and docs project into one.
2. Rebuild on the [hugo learn theme](https://github.com/matcornic/hugo-theme-learn/). (Bonus: search!)
3. Publish to a docs/x.y branch
4. Netlify will serve each docs/x.y branch at https://vx-y.docs.htt

[2018-04-21 19:46] jmcardon commented on #1648
You have the choice of a different encoding regardless.

[2018-04-22 01:11] rossabaker commented on #1648
I thought I remembered JSON requiring a UTF-8 encoding.  It requires a _unicode_ encoding.

If we provide an implicit string encoder, nothing stops a bizarre encoding. If we provide an implicit charset, nothing stops a bizarre encoding, but we get out of this circle.  If we provide an implicit sealed enum of unicode encodings, we can statically prevent illegal encodings, but, good grief.

[2018-04-23 20:04] bpholt commented on #956
@cquiroz what's the status of this? Is there anything I can try to help with?

[2018-04-23 20:52] cquiroz commented on #956
Hi, i’ll try rebasing the old branch and reopen the Pr soon. Then we can identify what’s missing in core and client. the other big task is implementing a client on scala.

[2018-04-25 01:10] rossabaker commented on #1797
Okay, to keep things moving:

- master will become 1.0.0-SNAPSHOT
- if it's ready, it goes on master
- when fs2-1.0 release candidates draw near, we'll evaluate whether to build an 0.19 off 0.18 plus carefully limited backports

[2018-04-25 01:11] cquiroz commented on #1797
:+1:

[2018-04-25 01:12] rossabaker opened #1803 "Can we get by without macro-paradise?"
macro-paradise has an uncertain future.  What are the ramfiications if we shed it?

[2018-04-25 01:30] #73 closed

[2018-04-26 09:07] lucaviolanti commented on #1256
Same here on 0.18.9:
[code]

[2018-04-26 21:49] marcdanie opened #1812 "Unable to change the timeout when using mountService in ServletContextSyntax.scala"
Comment from @rossabaker
Oh, I see the problem
https://github.com/http4s/http4s/blob/master/servlet/src/main/scala/org/http4s/servlet/syntax/ServletContextSyntax.scala
We're setting the timeout there, but not passing it through as a param. That's bad design.

[2018-04-26 22:00] ChristopherDavenport opened #1813 "Query Render Innappropriate with [ and ]"
[code]

This appears because of our inability to render in the passing steps.

First Uri render -
https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/Uri.scala#L108
And then in the utils
https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/util/UrlCoding.scala#L39

I am inclined to believe that this should be one of the skipped characters for a query.

[2018-04-27 08:29] Rainfarm opened #1815 "Memory leak found when using blaze client"
We implemented client side using blaze HTTP client (Http1Client), and we found memory leak even for the pinging of our dependencies (our own other service, "ping" means e.g., GET towards dependencies for the purpose of health check). After some profiling, we found that the leak happened for the pinging towards our services via HTTPS. But:

- Pinging towards external public services (e.g., https://

[2018-04-27 15:15] unthingable commented on #812
https://http4s.org/v0.18/json/

[code]

[code]

Still the case. :(

[2018-04-27 15:46] rossabaker commented on #812
What imports do you have in your console session?

[2018-04-28 05:57] unthingable commented on #812
Solution was to drop `scalaVersion` to 2.12.4. 😩

[2018-04-28 14:42] ScalaWilliam opened #1817 "Reloading like Play"
I see the following related issues:
- https://github.com/http4s/http4s/issues/766
- https://github.com/http4s/http4s/issues/849

However from my experience with sbt-revolver that's not quite what Play offers.

In development mode, Play starts a server for you, before the sources are even compiled. Only once you hit the server via the web browser, does it compile and start up the application. Likew

[2018-04-28 17:56] jmcardon commented on #1817
I think you have a fair point. That said, this is on the sbt side of things. If someone is willing to pick up the mantle of adapting whatever plugin play is using, that would be cool.

[2018-05-02 18:08] rossabaker opened #1821 "Can't safely shut down TickWheelExecutor"
I tried moving a TickWheelExecutor into the blaze-client, so it could be shut down on the client shutdown, and we don't leak a thread.

Hilarity ensues:

[code]

This is inspired by @lbialy's work getting things running on graal, and having problems with the statically allocated thread.

[2018-05-02 18:09] rossabaker commented on #1821
My quick sketch looks like https://github.com/rossabaker/http4s/tree/issue-1821.

[2018-05-04 15:08] gpoirier opened #1825 "OptionalMultiQueryParamDecoderMatcher only keeps the last error"
When using `OptionalMultiQueryParamDecoderMatcher`, the extracted parameter is of type `ValidatedNel`, so I had expected that it woudl accumulate all the validation errors if there's multiple parsing errors. However, only the last one is retained. The relevant code is there:

https://github.com/http4s/http4s/blob/87eb4b0adf2b56702158907d79bb4509781ace66/dsl/src/main/scala/org/http4s/dsl/impl/Path.

[2018-05-08 11:00] rhyskeepence opened #1833 "When using client Logger, connections are exhausted in recursive calls to .expect"
I'm integrating with an api, which appears to have exposed an issue (or misunderstanding) with how .expect frees connections.

The api is a asynchronous service - we post a request, poll until a status endpoint returns 200 and a particular value in the response to indicate completion, and then fetch the result from a third endpoint. Frankly I would have designed it differently, but that's how it i

[2018-05-09 12:49] rossabaker commented on #1812
@marcdanie Did you end up with a workaround that you'd like to submit as a PR?  Or should I try to come up with something?  I'd like to do better here.

[2018-05-09 12:51] rossabaker commented on #1833
Thanks.  This is something we can work with!

I can reproduce the hang, but I'm seeing the non-2xx responses.  Does your log not look like this?

[code]

[2018-05-09 12:51] insdami commented on #85
Hi, could be possible to define the log level? At the moment it's fixed on `info`, it'd be nice to have control on that, maybe instead of passing a `Logger` it can be passed a function `log : String => Unit`
[code]

[2018-05-09 12:53] rossabaker commented on #85
@insdami That's a good idea.  (I think we had this conversation somewhere else.)  Would you be interested in making a PR?

Also, the client middleware now exists, so closing this one.

[2018-05-09 12:53] #85 closed

[2018-05-09 14:19] insdami commented on #85
@rossabaker Sure thing. Have a look, please #1839
Thanks

[2018-05-09 15:54] rossabaker commented on #1833
Okay, I'll look into that on a separate PR.  That sounds like it might be the problem with the loggers when the body is not fully consumed.

[2018-05-09 17:14] ChristopherDavenport opened #1840 "Consider Log4Cats for Logging"
It allows us to abstract out of the logging game entirely. We could have people provide loggers, and we could just use it throughout.

Its relative immaturity holds me back from putting it out there strongly.

However I was wondering if people had opinions. As it would get us out of telling people what they are logging with.

[2018-05-09 18:15] rossabaker commented on #1840
The external liability of a dependency is API churn times adoption.  typesafelogging was high in both factors and got dumped.  log4s has low churn which has made increasing adoption painless (and contributed to increasing adoption!).  log4cats doesn't have the same track record, though we are generally fond of the author's work and one of us has his home address. :wink:

The external upside of a d

[2018-05-09 18:29] jmcardon commented on #1840
I'm pro log4cats in a lot of places that aren't performance sensitive (so basically everywhere outside of blaze).

I'm neutral on this. Logging is one of the few things I don't really care at all about side effecting much (It's almost never a side effect that bites you from my experience).

[2018-05-10 03:49] rossabaker commented on #1825
I'm sorry.  I meant to look at this, but got distracted.  Would you like to submit a PR for this one?  If you target release-0.18.x, and it's binary compatible (it would be if it works), then we can cut a release for you.

[2018-05-10 04:01] gpoirier commented on #1825
What I'm doing is only a prototype for now, so there's no rush to get a release out for me. I'll try to create a PR soon, but I won't be able to this week.

[2018-05-10 07:21] JanGe opened #1849 "RequestLogger doesn't log GET requests when logBody is set"
I'm wrapping my service with the `Logger` middleware and `logBody` set to `true`:
[code]

Unfortunately, the `RequestLogger` is not logging GET requests:
[code]

Once I turn `logBody` to `false`, it is logging the request just fine:
[code]

[2018-05-10 11:49] rossabaker commented on #1849
This looks a lot like what just got fixed in #1846 on the client side.

[2018-05-10 11:59] rossabaker commented on #1849
I think we need to put the `Logger.logMessage` call in the finalizer of the response body (which is guaranteed to be consumed), not the finalizer of the request body (which isn't guaranteed to run -- and typically wouldn't be on bodyless methods like `GET`).

[2018-05-10 13:56] rossabaker commented on #1833
The deadlock is fixed and the logging improved in 0.18.11.  Note the caveat on #1846.

[2018-05-10 13:56] #1833 closed

[2018-05-10 13:56] rossabaker commented on #1803
Yes.  Yes, we can.

[2018-05-10 13:56] #1803 closed

[2018-05-11 20:55] jmcardon opened #1853 "Trailer headers coming from `Ref`, not `AttributeMap`"
Gitter convo starting [here](https://gitter.im/http4s/http4s?at=5af5ee38862c5e33e929ef19).

Consensus (as far as I understand): `Ref[F, Option[Headers]]` internally for a request with trailers,
setting trailers (or calculating them) sets the ref to `Some`.

Attempting to retrieve trailers on unsupported backends raises error.

[2018-05-11 21:02] rossabaker commented on #1853
Are you going to promote the internal representation to the case class or leave it in the attributes map?

[2018-05-11 21:08] jmcardon commented on #1853
For compat reasons, the `ref` has to be done during the instantiation of the `Request` or `Response` objects. I think it won't be promoted @ the case class level, or we're forced into `Option[Ref[F, Option`...

There's multiple options:
- Request object takes a `Ref` during instantiation in a private api (my preferred).
-  the request itself is created along with an `Option[Headers] => F[Unit]` to

[2018-05-11 23:34] jmcardon opened #1854 "Deprecate `Part.empty`"
Per [RFC 7578 Section 4.2](https://tools.ietf.org/html/rfc7578#section-4.2):

   where the disposition type is "form-data".  The Content-Disposition
   header field MUST also contain an additional parameter of "name"; the
   value of the "name" parameter is the original field name from the
   form (possibly encoded; see Section 5.1).

This is a _must_. Playing around with multipart I realized that

[2018-05-14 13:30] sbuzzard opened #1859 "Add support for 128-bit Trace ID with Zipkin/X-B3 built-in header parser"
Currently the Zipkin/X-B3 built-in header for Trace ID only supports 64 bit long values.  The spec allows for either 64 or 128 bit representations.  Understand that this change would not be backward compatible as it would need to have a presentation other than long.  Currently we drop the built-in parser and use our own (where we have a representation of UUID but perhaps a custom case class would

[2018-05-14 13:57] #1849 closed

[2018-05-14 17:48] jmcardon commented on #1745
For the record, I stumbled upon this recently in the netty PR while implementing streaming vs full requests for requests that allowed method bodies.

I really don't think this buys us a lot at all. This would be done with typeclasses/typelevel tagging tricks/dependent types (`Request @@ Delete` or `Request.Delete[F]`) as well, but it doesn't buy us a lot to just stop someone from shooting themselv

[2018-05-14 17:48] jmcardon commented on #1746
The MimeDB PR went through. Can we close?

[2018-05-15 18:44] asoltysik opened #1863 "New method for WebSocketBuilder taking Pipe[F, WebSocketFrame, WebSocketFrame]"
What's your opinion about another build method that looks like this:
[code]

Similarly how it's done in akka-http. I believe it is enough for many use cases of websockets, can simplify the code and it's easier to reason about for these use cases.

[2018-05-16 14:59] rossabaker commented on #1863
As an additional builder or as the only builder?

What does it mean?  The input to the pipe are received frames and the output is sent frames?

[2018-05-16 15:59] SystemFw commented on #1863
I'm actually thinking that a model based on a Pipe might be cleaner than what we have now, here's a small snippet discussing translating back and forth between the two:
[code]
[code]

[2018-05-16 23:48] #1854 closed

[2018-05-16 23:49] jmcardon commented on #1704
Can this be closed? #1718 was merged

[2018-05-16 23:50] jmcardon commented on #1863
p.s I am :+1: on this, in that reacting to messages is often what you want

[2018-05-17 11:26] #1704 closed

[2018-05-18 03:39] jmcardon commented on #1145
@balatbn because the techempower benches currently live are from an EOL version. We've improved a lot overall. Also there's factors like interpretation into `IO` and whatnot.

[2018-05-18 14:40] unthingable opened #1867 "headers.Cookie.from does not read response cookies"
0.18, `header.Cookie.from` appears to ignore cookies set in the response header.

A Response in the debugger:

<img width="703" alt="image" src="https://user-images.githubusercontent.com/925755/40240799-b1a2233a-5ab9-11e8-95e5-ebe0b728672d.png">

Yet, `headers.Cookie.from(resp.headers)` evaluates to `None`:

<img width="256" alt="image" src="https://user-images.githubusercontent.com/925755/4024081

[2018-05-18 15:39] jmcardon commented on #1867
Because cookies set in the response are usinf `Set-Cookie`, not cookie

[2018-05-18 16:43] unthingable commented on #1867
Request headers were looking pretty similar (also using `Set-Cookie`). So then this is expected behavior?

[2018-05-18 17:06] jmcardon commented on #1867
They're two different headers.`Set-Cookie` != `Cookie`. The latter for sure works.

[2018-05-18 18:01] unthingable commented on #1867
Ah, yes! Been starting at the screen too long.

[2018-05-18 18:01] #1867 closed

[2018-05-20 02:18] stephennancekivell opened #1868 "missing query parameter shouldnt return 404"
Hi, I've noticed that using `QueryParamDecoderMatcher` in a HttpService returns a 404 for a missing param. I dont think this is quite right.

I think people expect a 400 bad request saying that the param is required. If I get a 404, I think I've got the path wrong. See also [this stackoverflow that suggests using 422](https://stackoverflow.com/questions/3050518/what-http-status-response-code-shoul

[2018-05-20 02:44] rossabaker commented on #1868
I'm not sure what I think here.  I don't think I like 422, which is for entities, which this is not.

http://example.com/foo/?id=42

Is the resource the `foo` with id = 42 or is the resource the collection of `foo`s, filtered by id = 42?  What status would you return if there were no foo with ID 42?  What status would you return for `?id=syntacticallyInvalidForThisIdSpace`?

These questions lead m

[2018-05-20 02:55] stephennancekivell commented on #1868
Yea I don't really like 422 either. But if you have a required param, 'id'
and that is missing, I think it should be 400 and say "param id is required
"

On Sun, 20 May 2018, 12:44 Ross A. Baker, <notifications@github.com> wrote:

[2018-05-21 03:07] rossabaker commented on #1868
A plausible way that people could be depending on the current behavior:

[code]

Suppose we wanted to change that so the first case returns a 400 on missing id, or introduce a new base matcher for `Id`.  What would its `unapply` return?  It could return a `Validated[String, A]`, but then it's the right hand side's responsibilty to fold that into a `BadRequest` or a response.  It could throw an exc

[2018-05-21 04:05] rossabaker commented on #1868
Right, the optional can be folded.  Or an alternative one that returned a `Validated` could be folded and contain the message for the `BadRequest`.  (Careful: echoing back information from the request is a vector for XSS attacks.  Something vague like `"missing name"` is good.)

A good example would be welcome in the docs.

I think making it less manual could be done with a directives-style DSL: t

[2018-05-21 19:46] jmcardon commented on #1868
Feel like it's obligatory to post the [OWASP Article on testing for reflected XSS](https://www.owasp.org/index.php/Testing_for_Reflected_Cross_site_scripting_(OTG-INPVAL-001)) which is what @rossabaker is talking about.

Sorry for the tangent, but yeah.

[2018-05-23 19:01] #1774 closed

[2018-05-24 09:19] loicdescotte commented on #330
It could be related to https://github.com/http4s/http4s/issues/1051
For example, one could consume a stream in http4s, from a websocket connection using Monix, like we can do with Play and Akka Stream.

[2018-05-24 18:13] vitorsvieira opened #1871 "Logger middleware does not log in case a route is not found or error"
Hi all,

In case a request does not find a route, the logger middleware will not log.

Gitter knowledge:

- Right, because it needs to be matched. We could likely adapt it so that it logged on empty as well. Wouldn’t be that hard.
- It's awkward because we have to infer the response on unmatched or error. Well, we could always log the request. It's awkward for the response.
- Right, we could make

[2018-05-24 21:49] bpholt opened #1872 "Requests from Client.fromHttpService do not include Host header"
I added a `VirtualHost` middleware to a test service (so that I can test that the client is making its request to the right server). Requests made using `Client.fromHttpService` to the service do not include a `Host` header, so the middleware rejects them as bad requests. (Blaze-client’s `Http1Connection` has a `validateRequest` method that adds a `Host` header if it’s not already on the request,

[2018-05-25 09:35] aeons commented on #1872
Closed in #1874

[2018-05-25 09:35] #1872 closed

[2018-05-26 03:14] ChristopherDavenport opened #1877 "DSL Documentation Clarification"
Both the primary DSL page and client DSL fail to mention working with parametric F which leads to confusion since this requires different imports and use patterns which leads to confusion. We should try to be more explicit about the DSL and what we are doing in both sections of the docs.

[2018-05-26 11:43] ChristopherDavenport opened #1878 "Incosistencies Between Json Encoding Content-Type Headers"
Argonaut places a Charset into the header for its encoder - [Argonaut Instance](https://github.com/http4s/http4s/blob/v0.18.11/argonaut/src/main/scala/org/http4s/argonaut/ArgonautInstances.scala#L38)

While Circe/Json4s does not apply the charset - [Circe Instance](https://github.com/http4s/http4s/blob/v0.18.11/circe/src/main/scala/org/http4s/circe/CirceInstances.scala#L72) - [Json4s Instance](htt

[2018-05-26 12:54] daddykotex commented on #1877
Just to explain with a little more detail what happened for the outsiders! Here is a sample of code:

[code]

Now I want to add a method where I send an HTTP request. I look it up and http4s has a client, so let's use that. I add the sbt import and follow the guide. I end up with:

[code]

But I end up with an error like this:
[code]

I'm confused because, I never used cats IO in my code but I hav

[2018-05-26 14:16] rossabaker commented on #1878
It's meaningless to add.  [Quoth the RFC](https://tools.ietf.org/html/rfc7159):

On the other hand, if we're not explicit, `message.charset` will return `None`, which means we have to just guess when decoding to a String.  We don't want to be in the business of special casing in core every media type that internally defines its character encoding.

I strongly think we should be consistent, and wea

[2018-05-30 03:19] rossabaker opened #1890 "Generalize middlewares"
Most of our middlewares could be more parametric.

- By expanding `HttpRoutes` with `Http[F, G]`, the same middleware can be applied to either `HttpRoutes` or `HttpApp`.
- By expanding `Http[F, G]` to either `Kleisli[F, Request[G], B]` or `Kleisli[F, A, Response[G]]`, middleware that only affects one side can compose with Kleislis of different outputs or inputs.  The latter is particularly helpful

[2018-05-30 03:30] rossabaker opened #1891 "header.matchHeader matches raw, valid values of same name"
[This](https://travis-ci.org/http4s/http4s/jobs/385490247#L3664) hurt #1887, which is breaking master and several other PRs that branched off the broken master. :fire:

[code]

[2018-05-30 11:38] aeons commented on #1891
I took a look into this. This pretty snippet generates the arg that fails the test:
[code]

After doing all that I noticed that the diff in the two values is just `text/* != TEXt/*`. With my snippet, where I parse the MediaRange, `TEXt/*` is rendered as `text/*`. In `http4sGenMediaRange`, the MediaRange is created using the package private constructor, which just takes the main type verbatim, and

[2018-05-30 12:04] rossabaker commented on #1890
Wow, I should ask for help before going to sleep more often!  This is great.

To make sure we're not duplicating work, please leave a comment here if you're grabbing one.

[2018-05-30 12:05] SystemFw commented on #1890
Yeah this is awesome 😄

[2018-05-30 12:09] aeons commented on #1871
Can this be closed by #1879

[2018-05-30 12:11] rossabaker commented on #1871
Yes. :smile:

[2018-05-30 12:11] #1871 closed

[2018-05-30 12:34] rossabaker opened #1897 "Import style"
We have diverging import styles again:

* I reformatted everything by [Twitter import style](http://twitter.github.io/effectivescala/#Formatting-Imports) around the time we started enforcing scalafmt.
* Several users are using the default IntelliJ style, which groups Java and Scala separately.

My preferences are, in descending importance:
1. Low friction for new contributors
2. Consistency
3. The

[2018-05-30 12:35] rossabaker commented on #1897
Oh, cool.  While I was bloviating, @aeons was fixing. See #1896.

[2018-05-30 12:35] #1897 closed

[2018-05-30 12:36] aeons commented on #1897
I personally prefer the Twitter style, but it's not a big headache. I don't think most people really notice, but just stick with the default.

[2018-05-30 16:39] ChristopherDavenport commented on #1878
Easy solution is to remove the content encoding from argonaut then.

[2018-05-30 16:49] rossabaker commented on #1878
I think we could target release-0.18.x with it.

[2018-05-30 16:56] tomwadeson commented on #1890
I'll pick up `VirtualHost` and `Timeout` 👍

[2018-05-30 22:07] aworton commented on #1890
Happy to have a go at Logger, RequestLogger and ResponseLogger

[2018-05-31 08:52] akilegaspi commented on #1890
I'm looking to work with generalizing the HTTP stuff into Kleisli

[2018-05-31 20:50] bpholt opened #1905 "ServerBuilder should accept a Server header configuration setting"
Currently it's inconvenient to create a server that includes a `Server` header on every response. It should be possible to configure this on `ServerBuilder` instead of using middleware to add the header.

[2018-05-31 20:50] somethingconcon commented on #1890
grabbing PushSupport

[2018-05-31 21:10] rossabaker commented on #1905
I don't think we encoded our server builders in such a way that we can add fields in a binary compatible way in 0.18.  Refactoring to something similar to what Contraband generates is something I'd like to do, and undo the maze of `ServerBuilder` related traits.  #1882, is a rough sketch of how I imagine clients and servers looking in the future.  Tedious to write, but easier to evolve.

That said

[2018-06-01 02:51] rossabaker commented on #1891
RFC 2045 says:

To be consistent with the rest of our model, we should be using `CaseInsenstiveString` for `mainType` and `subtype`.  But that's a breaking change.  (It's also kind of unpleasant to use, and we should have a talk about that before 1.0).

Should we change the .equals and .hashCode methods in 0.18?  Or downcase from the generator?

[2018-06-01 07:28] aeons commented on #1891
I thought that would be the case, but couldn't find the right RFC.

Downcase in generator imo, it's only generating wrong stuff because it's using a private constructor.

[2018-06-01 20:19] tomwadeson commented on #1890
I'll take `CSRF`

[2018-06-03 14:37] #1891 closed

[2018-06-03 15:42] MouslihAbdelhakim opened #1911 "docs/src/main/tut/index.md http4s.org is not up to date with the latest http4s.g8 template."

[2018-06-06 11:58] calvinbrown085 commented on #1890
I'd be happy to try `ResponseLogger.scala`

[2018-06-06 13:06] calvinbrown085 commented on #1878
I'd be happy to try this one out @rossabaker @ChristopherDavenport

[2018-06-06 14:14] rossabaker commented on #1890
On further thought, I don't think there's anything to do on the client in the current design.  The server ones are a function of Kleisli to Kleisli, and we can be generic in any of its three parameters.  A `Client` only has one free parameter, and we're already polymorphic on that.

If we proceed with @ChristopherDavenport's idea of a `Client` being just a `Kleisli`, then there's something to do.

[2018-06-06 14:18] tomwadeson commented on #1890
I stared blankly at the client middlewares for quite a while before deciding there was nothing for me to do there! 😁

[2018-06-06 14:30] rossabaker commented on #1890
Alright, then I think we're done here.

I'm very happy about the response we got.  Thanks to all who jumped in.  We'll try to make better use of the first-issue tag and continue this momentum with new contributors.

[2018-06-06 14:30] #1890 closed

[2018-06-06 14:35] calvinbrown085 commented on #1430
I might try taking another shot at this one

[2018-06-12 22:02] bpholt opened #1918 "Configurable logging when no response is returned"
We have an app that was relying on the behavior prior to #1875 / #1879 to pick and choose which `HttpService` were logged and which were ignored. (For this app, the routes corresponding to load balancer health checks are ignored, because they're pretty much just noise in the logs.)

[code]

Unfortunately, with 0.18.12, this no longer works—now all the noisy requests are logged, along with a corres

[2018-06-13 18:08] tbrown1979 opened #1919 "Allow for metric reporting of PoolManager connections"
It'd be nice if there was a way to report metrics for the `PoolManager` that is used for the `Http1Client`. We have a situation where being able to view the total active, idle, and waiting connections for the PoolManager would be useful for debugging some issues with one of our projects.

Does anyone have any suggestions on how this might be added?

[2018-06-14 14:15] #1878 closed

[2018-06-14 16:38] tbrown1979 opened #1920 "PoolManager tries to dequeue from empty Queue"
Issue we were seeing on production:
[code]

#### Scenario (a more thorough explanation is below this):

#### We can distill this it a bit:

If the `idleQueue` contains a `RequestKey` mapping that only has _1 connection in the idleQueue_ **_and_** the `allocated` mapping has `> 1` connections for the **_same_** `RequestKey` then it is possible that we'll [dequeue](https://github.com/http4s/http4s/b

[2018-06-14 16:41] tbrown1979 commented on #1920
Gonna see if we can figure this one out.

[2018-06-14 20:29] hgiddens opened #1923 "Tautological comparison in HeaderKey?"
Hi, this is probably a dumb mistake on my part but I was looking at the implementation of `matchHeader` in `HeaderKey.Internal`:

[code]

The if clause in the second case looks suspect to me: `Header.Raw` is a pretty ordinary case class whose first argument is a `val name`:

[code]

So it's not clear to me that the `name == header.name` comparison can ever be false? Above the definition of `matchH

[2018-06-19 02:04] i328254 commented on #563
can you please share any code samples for that

[2018-06-19 03:31] rossabaker commented on #563
What are you trying to get out of the response?  The function passed to `fetch` needs to get everything out of `res` that you need.  Something like this is common:

[code]

Also, flatMapping `httpClient` will create and shut down a new client on every request.  I generally express my entire application as a `Stream` with `fs2.StreamApp`, and then use `Http1Client[IO].stream(config).flatMap { clien

[2018-06-19 06:42] i328254 commented on #563
@rossabaker Thanks for your immediate response.
I'll give you a little background on what I'm trying to achieve and maybe you can suggest the best way to do it :)
In a microservice architecture, I'm trying to build a gateway.
Now the client calls the gateway and the gateway internally calls the microservice
the gateway doesn't need to get anything out of the response, it just need to fetch the res

[2018-06-19 15:06] rossabaker commented on #563
`toHttpService` is intended exactly for this proxy scenario.  If your service returns the response from `toHttpService.run(req)`, then the server will consume the body to render the response, and the connection is released.  This is exactly what you want.

[2018-06-20 02:50] i328254 commented on #563
Thanks a lot @rossabaker
just one more question, is there a way to achieve the same with `fetch`

[2018-06-20 03:32] rossabaker commented on #563
No. Fetch releases the connection at the end of its response callback
function.

On Tue, Jun 19, 2018, 22:50 i328254 <notifications@github.com> wrote:

[2018-06-21 18:01] Brianbrifri opened #1926 "Blaze server disconnecting after exactly 900s"
version=0.17.6
My application is making a streaming http GET request to a database and then blaze seems to disconnect after exactly 900s.

[code]

The code to set up the server is:
[code]

I had changed the timeout to Inf to see if it had any affect but it did not

[2018-06-22 20:49] calvinbrown085 commented on #1920
Should we close this issue?

[2018-06-22 20:54] ChristopherDavenport commented on #1920
Yes was addressed by #1922. Thank you!

[2018-06-22 20:54] #1920 closed

[2018-07-04 15:46] OneWebPro commented on #1378
I found same issue in version 1.0.0-SNAPSHOT and 0.18.14. Can someone take a look?

[code]

`GET http://localhost:8080/public/test/` returns NotFound response where `GET http://localhost:8080/public/test` returns `test` as expected.

[2018-07-05 14:16] rossabaker commented on #1378
Fixed by #1938

[2018-07-05 14:16] #1378 closed

[2018-07-06 16:16] matthughes commented on #956
Is help wanted here?  I'd love to see this.

[2018-07-06 16:21] cquiroz commented on #956
it is certainly a work in progress. The first attempts are not very promising on js size which makes some sense as we are importing a bunch of stuff. More experimentation is needed

[2018-07-06 16:31] matthughes commented on #956
Yeah I'm sure.  I'd love to just see some of the datatypes Method, StatusCode, Uri ported.  If you get the rebased PR posted, I'd love to take a look and see if I can't help out in some way.

[2018-07-06 16:33] cquiroz commented on #956
Right, I need to do a rebase on master as i've been patching things here and there but some of those are fixed in master. i also need to update the scala.js version to include some fixes in upstream

[2018-07-06 16:34] ChristopherDavenport commented on #956
Would be a good idea perhaps to make that a topic branch in the main repo so others can contribute work.

[2018-07-06 16:34] cquiroz commented on #956
What`s a topic branch?

[2018-07-06 16:35] ChristopherDavenport commented on #956
Which branch is the one your currently using in your repo. Its just a branch in the main repo. Nothing fancy. Like `topic/scalajs`

[2018-07-06 17:16] cquiroz commented on #956
we could do that after a proper rebase, which is a bit hard as the branches have diverged

[2018-07-11 08:17] insdami opened #1947 "Router and HttpService are not interchangeable in AutoSlash middleware"
Hi,

Seemly `AutoSlash` does not work when it's applied on a `Router`. I believe this was introduced in `0.18.15` and it might relate to #1937.

[code]

[code]

[2018-07-11 10:40] aeons commented on #1947
Thanks

Since you have it set up, can you do the same test on 0.18.14 and post the results?

[2018-07-11 12:39] insdami commented on #1947
It works as expected on .14

[code]
I think the difference here is that `req.scriptName` is empty when it called through the "outer" `AutoSlash` and it might not play well with `translateRoot`. It occurs to me that the old if-else might work here but maybe there is a neater solution for this.

[2018-07-11 17:59] ChristopherDavenport opened #1950 "Request Logger redaction bug"
https://github.com/http4s/http4s/blob/v0.18.13/client/src/main/scala/org/http4s/client/middleware/RequestLogger.scala#L62

We do not pass `redactHeadersWhen` which will then use the base but not the provided.

[2018-07-13 10:17] insdami commented on #1947
#1948 closes this. Thanks!

[2018-07-13 10:17] #1947 closed

[2018-07-17 11:24] luisdeltoro opened #1954 "Circuit Breaker Middleware for http4s client"
I would be nice to have a middleware for the http4s client that would add circuit breaker functionality similar to the Akka Circuit Breaker (https://doc.akka.io/docs/akka/2.5/common/circuitbreaker.html)

It should be configurable with:
* maximum amount of failures: if this threshold is reached the circuit breaker will turn to open state.
* reset timeout: time after which the circuit breaker would

[2018-07-17 12:07] amarrella commented on #1954
I agree, this would be really nice to have! Should we work on it first in cats-effect (there is a ticket open here https://github.com/typelevel/cats-effect/issues/206) and then base the middleware on that?

[2018-07-17 12:38] aeons commented on #1950
Fixed by #1952

[2018-07-17 12:38] #1950 closed

[2018-07-17 13:09] luisdeltoro commented on #1954
That would probably make sense. I'll about the status of that ticket

[2018-07-18 08:33] luisdeltoro commented on #1954
Apparently cats-effect 1.0.0 will come with a circuit breaker implementation based on the Monix one. So it probably does not make sense to implement it here.
Should we then close this ticket?

[2018-07-18 13:46] rossabaker commented on #1954
I love the idea but agree that cats-effect is the better place for it.

[2018-07-18 13:46] #1954 closed

[2018-07-20 06:01] nigredo-tori opened #1956 "blaze client: don't build an `SSLContext` if it is not required."
At the moment `Http1Client` [falls back](https://github.com/http4s/http4s/blob/211a15fb63eb44fe509da59f32b2ee58d06e77b1/blaze-client/src/main/scala/org/http4s/client/blaze/Http1Support.scala#L32) on `SSLContext.getDefault` if another  SSL context is not provided. In theory this should be a reasonable thing to do. But there is at least one crypto provider (CryptoPro JCP) that can break `SSLContext.

[2018-07-20 12:05] luisdeltoro opened #1959 "Create a dropwizard metrics middleware for the http4s client"
It would be nice a have a metrics middleware for the http4s client similar the existing one for the server.
This middleware would use codehale metrics library to gather metrics that can be sent, for example, to a Graphite backend. It would be the client equivalent of the 'server-metrics' subproject

This middleware should register at least:
* Number of active outgoing requests
* Timing of 1xx resp

[2018-07-20 14:42] ehoner commented on #1256
@rossabaker I have a [gist](https://gist.github.com/ehoner/538526dcc02fecf0143f8f87f49f7e8f) with instructions on how to re-create the error. I do not believe that the request is a representative sample of real-world use cases, but it is generating the same error. That is reported above.

[2018-07-23 20:02] ChristopherDavenport opened #1960 "New Functions: HttpRoutes -> HttpApp"
We have HttpRoutes and HttpApp but we should have a convenience functions to seal the routes, if I'm not missing something.

[2018-07-23 20:05] aeons commented on #1960
Like `.orNotFound`? Because that exists in one of the syntax classes.

[2018-07-24 22:37] howardjohn opened #1962 "UriTranslation.translateRoot behavior is misleading"
The `UriTranslation.translateRoot` middleware only checks the length rather than the contents. This should probably either be made private, changed, or documented to describe the behavior.

Context from Gitter:

I would be able to make this change if you indicate which direction we should take

[2018-07-26 02:51] rossabaker commented on #1962
Thanks, @howardjohn!

So `UriTranslation` needs to check the prefix.  That would fix the bug.

`Router` would then be [duplicating the prefix check](https://github.com/http4s/http4s/blob/release-0.18.x/server/src/main/scala/org/http4s/server/Router.scala#L34).  It might not be that expensive, but to save every nanosecond, we could just have that inline the former logic of `translate` to lop off th

[2018-07-26 02:52] rossabaker commented on #1960
Is this a documentation issue, since it exists, and not everybody is finding it?

[2018-07-26 02:52] rossabaker commented on #1959
See #1961

[2018-07-26 07:29] luisdeltoro commented on #1959
The idea of this metrics middleware is that uses dropwizard metrics library, so it can report metrics to, for example, graphite.
It would be the equivalent of server-metrics. Like #1961 is the client equivalent of prometheus-server-metrics.
Let me be a little bit more specific in the description.

[2018-07-26 07:36] luisdeltoro commented on #1959
@rossabaker don't you think that it would probably make sense to agree on a common set of metrics for consistency? Probably the metrics reported to Prometeus or to Graphite shouldn't differ that much.
Actually, if it's eventually agreed to implement the Dropwizard metrics middleware, it may make sense to refactor both middlewares and abstract the common parts away, right?

[2018-07-26 09:19] nadenf opened #1965 "Documentation is unclear about HTTP Client creation"
This section here:

"Note: In production code you would want to use Http1Client.stream[F[_]: Effect]: Stream[F, Client[F]] to safely acquire and release resources. In the documentation we are forced to use .unsafeRunSync to create the client."

It says "we are forced to use" this approach but it is not recommended. Why are you forced to use it ? And why is the documentation not recommending the be

[2018-07-26 18:02] rossabaker commented on #1965
Great question.  The documentation is generated by sbt-tut, which lets us alternate text and compiled code.  The problem is the code blocks in tut need to be complete (i.e., no open `{`).  We can't intersperse explanatory text with code inside a properly bracketed client.

We need to explain this better, or figure out a hack or enhancement to tut.

[2018-07-27 11:08] bijancn commented on #1256
Any updates on this? This is almost a blocker to have `http4s` in production :disappointed:

[2018-07-27 11:45] nigredo-tori commented on #1256
v0.19.0-M1 with the new `blaze` is already out. Hopefully someone who can reliably reproduce this issue will run their code against the new version, and report the results here.

[2018-07-28 03:18] rossabaker commented on #1959
We tried to do that on the server implementations for dropwizard and prometheus, and it turned out that the code to call the common implementation was about as complicated as the common implementation.

I'd be up for trying to factor out a common layer on the client side of this, because I agree that it feels like the right thing to do, but I suspect we'll find the same as we did on the server.

D

[2018-07-31 00:29] kubukoz commented on #1926
The default timeout is 30 seconds, so that wouldn't be it.

Are you sure it's the server? What client are you using to connect?

[2018-07-31 05:24] gvolpe opened #1967 "Middleware composability"
Following this [Gitter discussion](https://gitter.im/http4s/http4s?at=5b5fbe6820d248394f690d58) with @rossabaker I'm opening this issue to further discuss the current situation about middleware composition.

In v0.19.x all the middlewares became more polymorphic in their type signature having some that play well with `HttpRoutes[F]` and some others that fit better the `HttpApp[F]` shape. Whereas i

[2018-07-31 05:37] yoohaemin commented on #1967
Would documentation and type aliases that clearly distinguishes which middleware work with either of `HttpRoutes`/`HttpApp` be a good enough solution?

[2018-07-31 08:30] vitorsvieira commented on #1967
Logger, ResponseLogger, and RequestLogger were also affected.

[2018-07-31 16:38] rossabaker commented on #1967
I'm reluctant to tailor things specifically to `HttpApp` and `HttpRoutes`, because while those are the big two, those aren't the only two, and I hope people use more.  Auth is another example of something people can compose now in ways that were awkward before.  I'd like a doc that teaches people to read the sigs.

`Timeout` is currently as follows:

[code]

The pain is that we probably have a `Ti

[2018-08-01 01:02] gvolpe commented on #1967
A total function on `Logger` makes sense and maybe in other middlewares as well. The separation of concerns sounds neat. The problem I see is that we are pushing this responsibility to the user and makes the API a bit overcomplicated to use.

Even if we can derive `Timer[G]` from a `Timer[F]` or vice-versa, or provide a natural transformation `F ~> G`, that already makes usage a bit messy and we a

[2018-08-03 09:17] luisdeltoro commented on #1959
Hi @rossabaker,
I've opened a pull request with an initial implementation for the Dropwizard metrics middleware (https://github.com/http4s/http4s/pull/1974). Would you mind having a look and providing some feedback?

Regarding the future abstraction of the dropwizard and prometeus middleware. What do you think about trying to use Free Monad or tagless final to abstract away the description of the

[2018-08-08 12:20] rossabaker commented on #1959
That's an idea worth playing with.  Tagless final might be lighter weight.  I'm not yet 100% sure what it looks like in this context, but I'd be interested to see a prototype of it... or hear that it's a failed experiment.  Either way, we learn something.

[2018-08-08 12:26] pshirshov opened #1980 "http4s banner may be displayed incorrectly"
Seems like the operation order is not defined:

[code]

[2018-08-08 14:00] luisdeltoro commented on #1959
That sounds good. I'll try to play around with it a little bit and see where it takes me. Do I need to create an issue for that or it's fine to do it without one?

[2018-08-09 19:16] Lasering opened #1982 "Extract Referer from request headers"
It seems the Referer header is not extractable. This code

[code]

[code]

[2018-08-10 09:17] aeons commented on #1980
Does this happen consistently?
I don't think we can really control the order of log statements from different places.

[2018-08-10 10:26] pshirshov commented on #1980
From time to time.
You can't control but you may print the whole banner in one message. Or just remove it.

[2018-08-10 13:11] ChristopherDavenport commented on #1980
I like our banner, it looks nice and only appears once on server start. I'm very against its removal. There is the possibility of conflicting log messages, however that is just a reality about logging.

If you set the banner in the blaze builder to an empty List or Vector this will mute the banner for you - https://github.com/http4s/http4s/blob/master/blaze-server/src/main/scala/org/http4s/server/

[2018-08-10 14:27] rossabaker commented on #1980
What happens if we `mkString("\n")` it?  Most log formats aren't going to indent the subsequent lines properly, I suspect?  If it had a leading newline, it might work.

[2018-08-10 14:52] pshirshov commented on #1980
Yup, you may use multiline output and add a leading newline. That would work.

[2018-08-10 14:56] rossabaker commented on #1980
Would you be interested in submitting a PR?

[2018-08-10 17:45] justinhj commented on #1926
Looks like you're going through a proxy and/or load balancer. Could check the settings there.

[2018-08-10 19:37] pshirshov commented on #1980
Okay, will do.

[2018-08-11 19:25] rossabaker commented on #1959
Sure, it doesn't hurt to create another issue.  I think this issue is closed by #1974.

[2018-08-11 19:25] #1959 closed

[2018-08-11 19:25] #1980 closed

[2018-08-11 19:25] rossabaker commented on #1982
Fixed by #1984.

[2018-08-11 19:25] #1982 closed

[2018-08-12 00:17] jmcardon opened #1989 "CSRF to handle url parameter/manually fed token"
So while creating a websocket service, you want to prevent [CSWSH](http://www.christian-schneider.net/CrossSiteWebSocketHijacking.html).

Solution 1 is checking origin, and that can be done in userland no problem.

Soultion 2: Our CSRF service would work for this, _except that_ clients have to use javascript to embed the locally cached token into the request... which isn't possible with the native

[2018-08-12 00:28] jmcardon commented on #1989
so you don't evaluate it if the csrf check fails

[2018-08-12 00:32] jmcardon commented on #1989
@rossabaker the above block is for specific actions.

You can also generalize it to a query parameter if you decide you have a bunch of websocket routes grouped together and do it that way.

[2018-08-12 01:08] rossabaker commented on #1989
I can't think of other places we lazily create the effect, whose interesting parts are already thunked.  I guess it does prevent computation of the effect on the unhappy path.  `=> IO` just stood out to me as an unusual signature.

[2018-08-12 01:14] jmcardon commented on #1989
I mean, if you want, we can ignore the thunked portion really. I copy pasted that from my impl, in where I used `def`s for the sake of not computing the data structure in case the check failed, but it's a minor implementation detail that buys you some efficiency.

This is a hill I won't die on, if you want it to be strict.

[2018-08-12 01:30] rossabaker opened #1990 "fs2-1.0.0-M4 upgrade"
We want to upgrade to fs2-1.0.0-M4 before the next 0.19 milestone.

* [ ] jawn-fs2 (need to release again for fs2-1.0.0-M4)
* [ ] zainab-ali/fs2-reactive-streams#51
* [ ] fix compilation failures in http4s

[2018-08-12 01:49] SystemFw commented on #1990
Is the fs2-reactive-streams stuff on a branch somewhere?

[2018-08-12 01:54] rossabaker commented on #1990
No.  All I did was upgrade the build and hope for the best.  Do you want to take a crack at it?

[2018-08-12 01:54] SystemFw commented on #1990
Yeah I can have a look :)

[2018-08-13 11:28] rossabaker commented on #1990
Bumping this from M3 to M4 due to the fs2-reactive-streams issue.

[2018-08-13 21:32] KhagayN opened #1992 "shutdown"
Is there a way I can watch for when the http server is shutdown and log a message once that happens?

[2018-08-14 00:06] rossabaker commented on #1992
If you're calling `.serve` on your `ServerBuilder`, you can add `.onFinalize(IO(logger.info("Bye"))` to it.

If you'e calling `.start`, you can `server.shutdown <* IO(logger.info("Bye")` where you shut it down.

It might not be a bad idea to add a log message [here](https://github.com/http4s/http4s/blob/77c094ab6be8dd78ac6a40f751187b265d64299d/blaze-server/src/main/scala/org/http4s/server/blaze/Bl

[2018-08-15 06:07] kubukoz opened #1997 "Add QueryParamDecoder helpers to work with fallible decoders"
I just did

[code]

to avoid a server-side error on malformed input. As far as I know, there's no better way of doing this. I think that might be a common enough example (interacting with APIs that throw, or return `ValidatedNel[ParseFailure, A]`) - and would like to suggest adding some helper, like

[code]

This would make the above a bit more concise:

[code]

but it would still require the hass

[2018-08-15 13:56] #1992 closed

[2018-08-16 06:52] maxkorolev opened #1999 "Client's Retry with empty body"
I found strange code, is this bug or feature?
Why new attempt occurs with empty body in case of failure?

https://github.com/http4s/http4s/blob/9655331c743ca91326c94bd98730f2a3f382415a/client/src/main/scala/org/http4s/client/middleware/Retry.scala#L62

[2018-08-16 13:54] rossabaker commented on #1999
Back in the scalaz-stream days, we could introspect the stream and determine whether the body was pure, and safely resubmit the same request body.  Now that the algebra is hidden from us, we don't have this guarantee.  Accordingly, the [default retry policy is more restrictive now](https://github.com/http4s/http4s/blob/03304e031607d30eb076d3bc5797a4d7e9260e1b/client/src/main/scala/org/http4s/clien

[2018-08-16 14:05] rossabaker commented on #1997
I'm :+1: on a function like `emap`.  Is [circe](https://github.com/circe/circe/blob/a5973d360d4c04b70ee4d14e435430e2aa32e85d/modules/core/shared/src/main/scala/io/circe/Decoder.scala#L187) your inspiration here?  Any other prior art?  I'd like to get the name right.

Type aliases are something we have historically come to regret.  I'm a slight :-1: on that.

I don't think we're changing any instan

[2018-08-16 17:04] ChristopherDavenport commented on #1999
Could this as written result in the `ContentLength` being reported as a different size then the actual body? Since we have modified the body but not the length?

[2018-08-16 17:10] rossabaker commented on #1999
No, `withEmptyBody` removes payload headers.

But it's a slight risk after the bug fix resubmit.  I don't think any of our backends will send too many bytes, but they could send not enough.  Imagine `req.withBody(file)`, if the `file` shrinks.

[2018-08-16 18:50] #1962 closed

[2018-08-16 18:52] #1669 closed

[2018-08-16 21:26] rossabaker commented on #1918
Sorry, this one slipped through the cracks.

This is addressed in master by only logging on `HttpApp`.  Any solution would be 0.18 only.  Adding a flag is not likely to be binary compatible.  Is there anything we can do, short of a copy and paste?

[2018-08-16 21:27] #1859 closed

[2018-08-17 06:09] bpholt commented on #1918
Don't worry about the timing, if it was a higher priority I knew where to find you. 🙂

I'm not sure what you mean by a copy and paste. Do you mean duplicating the entire Logging middleware wholesale? If so, maybe I can just do that locally and not worry about it in 0.18. If not, could you elaborate?

I haven't really looked at the changes on master yet and couldn't figure out exactly what you mean

[2018-08-17 06:57] maxkorolev commented on #1999
Thanks for reply! I see your point about effects, but I think user understands that if request requires complicated environment or makes big changes in the world, then in case of retry it will be repeated.

I think that it would be nice, if we just removed default "retriable". So user will read caution and will peek right solution.

[2018-08-17 13:38] rossabaker commented on #1999
I'm inclined to agree.  I would prefer `unsafeRetriable` 100% of the time over `defaultRetriable`.  Maybe rename `unsafeRetriable` to `defaultRetriable`, and leave a deprecated from `unsafeRetriable` to `defaultRetriable` so people who were using it get assistance migrating?

[2018-08-17 13:39] rossabaker commented on #1918
Yes, I meant duplicating wholesale, if we couldn't figure out how to add the flag without breaking compatibility.

Does [this help](https://github.com/http4s/http4s/blob/183ab8193e285783127d5aab52ed4baecf7a299d/core/src/main/scala/org/http4s/package.scala#L22-L50) for `HttpApp`?

[2018-08-17 14:00] thoefer opened #2002 "Support for scalatags"
Add support for scalatags by adding an EntityEncoder for it. That support should go in a separate module the same way as it is done now for twirl.

Template for the EntityEncoder: https://gist.github.com/ChristopherDavenport/72b01bd720c04ef41cd82f426253a713

[2018-08-17 14:04] maxkorolev commented on #1999
Actually, I am using my own `retriable`, because imho it's very user specific, that's why I think we should avoid default value here to lightly push users to decide themselves such politics.

About renaming, not good surprise for somebody. I am not sure that everyone uses `deprecation warning` compiler's flag.
Well, that's just my thought.

[2018-08-17 14:09] thoefer commented on #2002
I'll do it

[2018-08-17 15:09] yasuba opened #2003 "CORS headers overwrites existing Vary headers"
My application returns the Vary:Accept header, but when a client makes a request with an Origin header, the http4s CORS object overwrites with Vary:Origin,Access-Control-Request-Methods by using putHeaders:

[code]

I'd like to continue to return Vary: Accept as well as Origin and Access-Control-Request-Methods - are there any issues with this?

[2018-08-17 15:15] rossabaker commented on #2003
CORS gives me a headache.  Paging @jmcardon, and if nobody else chimes in, I'll take a deeper look this afternoon.

[2018-08-17 15:37] fommil opened #2004 "empty path followed by query cannot be matched"
in version 0.18.16, this matcher fails

[code]

to match against queries such as `http://localhost:39833/?code=...lotsofstuff...`

The workaround is to use a non-empty path if possible.

[2018-08-17 19:10] luisdeltoro opened #2005 "Factor a common layer for client metrics"
There is two standalone implementations for client metrics on Htttp4s, one for prometeus metrics and one for dropwizard metrics.
It would be nice to try to get an abstraction that can deal with both implementations, hopefully removing duplication and enhancing long-term maintainability.

[2018-08-17 19:12] luisdeltoro commented on #1959
Cool, I've created a new issue for it: https://github.com/http4s/http4s/issues/2005
Let's see where it takes us! :)

[2018-08-17 19:40] rossabaker commented on #2005
As mentioned before, I tried this and failed server side.  As mentioned before, I'd love to see another attempt, because it still seems like a good idea.

[2018-08-17 19:55] rossabaker commented on #2004
Turns out the empty path can be matched:

[code]

is tested and works:

[code]

[2018-08-17 21:37] ChristopherDavenport opened #2006 "Example of Decoding A Request Body in DSL Documentation"
https://http4s.org/v0.18/dsl/ Dsl shows extracting some things out of the message but not explicitly dealing with the body.

Since these happen with dsl syntax would be useful to make those apparent there.

[2018-08-17 22:49] fommil commented on #2004
hmm, that is strange. I was getting a compile error with that kind of code

ah :point_up: [August 17, 2018 4:26 PM](https://gitter.im/http4s/http4s?at=5b76e93a070fa234ee77a468) I was using

[code]

so the stray `/` caused the compiler error!

Should we close or should `"" / ` work?

[2018-08-17 22:53] fommil commented on #2004
btw code is here https://github.com/fommil/fpmortals/blob/master/example/src/main/scala/fommil/http/oauth2/interpreters/BlazeUserInteraction.scala

[2018-08-18 02:06] jmcardon opened #2007 "Origin header is a well defined triple"
Origin can be stated as:

[code]
Currently it's a `RawHeader`, which is wrong.

[2018-08-18 18:29] rossabaker commented on #2004
`//` starts a "protocol-relative" URL, which means the "//" is _not_ part of the path.  Testing it with `//example.com//?start=1` works as expected.  There's no bug here, but I will improve dsl.md to clarify.

[2018-08-19 04:05] rossabaker opened #2010 "Revamp client builders"
I think the `JavaNetClient` shows a nice way forward for constructing our clients:

- The "builder" is an abstract class.  It is not a case class, nor is there a case class for configuration.  This involves a lot of boilerplate, but lets us add new configuration without breaking compatibility.
- Each "setter" is a `with` method.  If the config is optional, we have a `withFooOption`, and a `withFoo

[2018-08-19 04:10] rossabaker opened #2011 "Identify headers with a default model, and then model them."
Headers that extend `HeaderKey.Default` should have a case class that models them as something more than a String.  This task involves:

- Enumerating such headers, with link to relevant RFC.
- For each one, interpreting the RFC into a case class and writing the parser.

This, like the recent middleware reform, will be a source of good first issue tickets.

[2018-08-19 04:13] rossabaker opened #2012 "Replace our URI"
Our `Uri` type is bad and I feel bad.

- It doesn't round trip (#1651)
- It's inconsistent which of its components are in the companion.
- The authority hierarchy is staggeringly complex.
- Only literals interpolate.  We could learn much from sttp.

I think this needs to be redesigned from the ground up, with deprecation warnings where reasonable.  This is a big job, but I think it's the single mo

[2018-08-19 04:15] rossabaker opened #2013 "jetty-client"
In addition to server, jetty provides a client.  An http4s-jetty-client backend could provide us our first asynchronous, HTTP/2 client.

This is an ambitious first issue, but there is a lot of prior art with three other client backends.

[2018-08-19 04:19] rossabaker opened #2014 "Look at other middleware for inspiration"
Let's look at other languages and see what we're missing.  Many of them are trivial, and it's a great way to make a first contribution to the project.  If you see one that you'd like, add it here.  And better yet, grab it.  We're here to help.

- [Ruby](https://github.com/rack/rack/wiki/List-of-Middleware)
- [Haskell](http://hackage.haskell.org/packages/search?terms=wai-middleware) and [more Haske

[2018-08-19 04:22] rossabaker opened #2015 "Eliminate `Status.register`"
This was inherited from our original fork of Spray, many years ago.  It is global, mutable state.  It's fine as an internal mechanism for resolving values to a single reference, but it should not be public API.

[2018-08-19 04:24] rossabaker opened #2016 "Interest in a vert.x backend?"
@eklavya and @jmcardon have mentioned vert.x on the channel recently.  The project has a sterling reputation for performance, and could make an interesting backend for us.

I'd probably rather see #1831 helped across the finish line first, rather than a backend on top of a backend on top of Netty.  But it's supposedly fast.

Opening a ticket to gauge interest, or vocal disinterest.

[2018-08-19 04:31] rossabaker opened #2017 "EntityEncoder and EntityDecoder: yea or nay"
Pro:
- We've had them since the beginning, and eliminating them would be a massive change
- They're really pleasant where there is a canonical encoding to `Stream[F, Byte]`.
- They promote a DSL that is generally well liked: `Ok(foo)` and `req.as[Foo]`.

Con:
- Incoherence: there is no canonical encoding for many types.
  - JSON with or without spaces
  - JSON vs. other formats
  - `InputStream` c

[2018-08-19 04:31] jmcardon commented on #1741
BUMP. I think I might be able to fix this.

[2018-08-19 04:35] jmcardon opened #2018 "WSStage tests for blaze"

[2018-08-19 04:42] jmcardon opened #2019 "Custom timeout for websockets"

[2018-08-19 07:55] jcranky commented on #2017
You mean you want to replace them, or perhaps completely remove them? I find it very handy not having to write my own `Entity{E/D}` for "obvious" types. Maybe offer them as a separated library?

[2018-08-19 14:50] calvinbrown085 commented on #2015
Hey Ross, more than happy to pick this up. https://github.com/http4s/http4s/blob/b9a28ddcd335cf5dee60a9f7d3be5bdc12523179/core/src/main/scala/org/http4s/Status.scala#L103

is this as simple as making this `private def` ?

[2018-08-19 18:14] rossabaker commented on #2015
I think this solves the problem, but we might simplify the implementation a bit more.  We don't really need an `AtomicReferenceArray` anymore, since there can no longer be concurrent additions and updates.  Just an `Array` should suffice.

Either the `AtomicReferenceArray` or `Array` implementations trade space (about 50 of the 600 spots are used) for time (indexed lookup vs. hash lookup).  I thin

[2018-08-19 21:57] rossabaker commented on #2017
I don't want to remove them without something that's clearly better, but I'm souring on the idea of codecs as typeclasses.  I'm hoping to discover a better idiom here.

[2018-08-19 23:19] jmcardon opened #2022 "websocket continues to send frames even after closed."

[2018-08-20 00:55] jmcardon commented on #2017
I'm :+1: on their removal.

My idea is a tad more verbose I think. I think `EntityEncoder` ++ the dsl does quite a lot. It not only defines the common serialization you want,  but it also sets headers and the whatnot.

I.e, I wouldn't mind something like (note this could look different but bear with me)

[code]

and calling `Ok().map(embedJson(_, someJson))`

You might get strong disagreements wit

[2018-08-20 02:15] jmcardon commented on #2017
From chatting on gitter, my other proposal, assuming everyone finds the above a death sentence, is

[code]

[2018-08-20 04:13] kubukoz commented on #1997
Yeah, circe was part of my inspiration. It also has a type alias for the decoding result.

`emapTry` looks a bit like what I need, but auto-catching would be even more handy... although I don't need it that often, after all.

BTW in this particular usecase I dropped `QueryParamDecoder` and went for directly extracting the parameter from the request object.

[2018-08-20 05:04] jmcardon commented on #2003
[So, the W3 section has a quip on the presence of setting `Vary`, but it is not enforced](https://www.w3.org/TR/cors/#resource-implementation). In particular, it's done when `Access-Control-Allow-Origin` is non uniform, thus `Vary` changes for the sake of preventing caching incorrect responses depending on the origin.

So, It's good practice, but it's not enforced by the rfc. We could fix this by

[2018-08-20 09:07] yasuba commented on #2003
@jmcardon - sure, happy to.

[2018-08-20 23:20] rossabaker opened #2025 "scala-2.13.0"
1. Publish our internal dependencies.
2. Identify which of our external dependencies are published.
2. Once they all are, publish.

Recommend we begin this exercise with 2.13.0-M5.

Our monorepo is going to mean we're at the tail end of this, which is why we haven't even tried yet.

[2018-08-21 12:56] thoefer commented on #2002
Watiting for my new computer to arrive :-)

[2018-08-21 21:00] #2003 closed

[2018-08-21 21:23] diesalbla opened #2028 "Restrict the MethodNotAllowed constructor."
#### The Problem

The `http4s` DSL allows us to write an `HttpService` that, for a certain path, only accepts certain methods and replies with the status code `MethodNotAllowed` to others. For example:
[code]
The `MethodNotAllowed()` response would generate a response with that status code, but without any headers. However, [Section 10.4.6 of RFC 2616](https://tools.ietf.org/html/rfc2616#section-1

[2018-08-22 04:11] kaichaosun opened #2029 "client decode failure with too long response"
## Description
I use the http client provided by http4s to fetch response,
when trying to consume the response twice, and the response body becomes long, the second time consuming would not get the full response body.
I haven’t found the rout cause but worth raising it, and see if you guys have seen this issue or not.

## Code
### Server:
[code]

### Client:
[code]

[2018-08-23 17:17] ghostroad commented on #2015
I'm new to http4s. I've been taking a look at this issue, and my first thought was "These should be case objects!" which I realized wouldn't work because they must be created eagerly.

From reading the code, it seems we want to both maintain a registry of "standard" `Status`es and have the ability to create new, unregistered, ad-hoc ones (e.g., using `Status.fromInt` or `withReason`). Is this the

[2018-08-23 18:04] calvinbrown085 commented on #2015
@ghostroad Feel free!

[2018-08-23 20:16] jmcardon commented on #2015
@ghostroad they don't need to be created eagerly, if the array initialization is a static block.

We've spoken about this on gitter, so apologies if it's not indexed well, but:
- `fromInt` is useful for clients, but shouldn't exactly be to create new statuses.
- It was behavior that was allowed before, but we've discussed against it as of late. I'm :+1: with this behavior being obliterated.

Regis

[2018-08-23 22:07] ghostroad commented on #2015
Thanks for the clarification! I took a look at the conversation on Gitter.

I wanted to make sure that I'm understanding you correctly.

1) For an unregistered code, do we want `Status.fromInt` to fail?
2) For a registered code but nonstandard reason, should `Status.fromIntAndReason` also fail? If it is not essentially a factory method for constructing such statuses, I can't conceive of a use for

[2018-08-24 02:47] jmcardon commented on #2015
IMO yes.

This is a good question. I don't have the answer to this one yet, it would be good to see where we're using it.

If it's literally only for one place and we can replace it in userland, I say we go for it.

[2018-08-24 04:02] jmcardon commented on #2029
@dashengSun In blaze, a response is streamed off the wire. It's the reason it's an "effectful" stream, and not a pure operation.

Naturally, this means that if it's being fetched off the wire, fetching it twice will not yield the response, if any at all. It _should_ error out.

[code]
For starters: you shouldn't use `unsafeRunSync` to get a `Response` our of an `IO[Response]` until the end of the

[2018-08-24 04:13] kayvank opened #2031 "g8 templates for version 0.19.0-x fail compie"
Here are the steps:
-  sbt -sbt-version 0.13.15 new http4s/http4s.g8
-  select 0.19
cd quickstart
sbt compile
`
quickstart/src/main/scala/com/example/quickstart/HelloWorldServer.scala:19:18: IO takes no type parameters, expected: one
[error]     BlazeBuilder[IO]
[error]                  ^
[error] /home/kayvan/tmp/quickstart/src/main/scala/com/example/quickstart/HelloWorldServer.scala:21:21: diverg

[2018-08-24 06:12] jmcardon commented on #2031
Would you mind, instead, raising this issue in the g8 repo?

[2018-08-24 06:39] dashengSun commented on #2029
@jmcardon Thanks for all above info. They make sense to me, I have still one concern, this problem can become a issue for a starter, is that possible/valuable to have some validation before consuming the response. Like if it try to consume twice, we can raise kind of exception/left.

[2018-08-24 06:49] jmcardon commented on #2029
@dashengSun if you need memoization, just do it explicitly.

If it was pure to get a `String` our of a `Response`, it wouldn't be in `IO`

[2018-08-24 16:05] ghostroad commented on #2015
@rossabaker, @jmcardon,  thanks for the clarifications.

I can see that `forAll { (s: Status, r: String) => s === s.withReason(r) }` is an assertion one would want to make. On the other the hand the spec says:

https://github.com/http4s/http4s/blob/b9a28ddcd335cf5dee60a9f7d3be5bdc12523179/tests/src/test/scala/org/http4s/StatusSpec.scala#L43-L47

and this appears to be the only current use of `with

[2018-08-24 17:13] ghostroad commented on #2015
Actually I take this last point back, it wouldn't be a good idea to restrict the arbitrariness of the `Status` generator in any way, so `registered` should be kept.

[2018-08-24 18:03] kayvank commented on #2031
moved the issue to http4s/g8 repo.
See [issue-73](https://github.com/http4s/http4s.g8/issues/73)  for detail

[2018-08-24 18:03] #2031 closed

[2018-08-25 03:43] rossabaker opened #2033 "Website refers to 1.0, even though master is on 0.19"

[2018-08-25 12:38] marcodippy commented on #2013
hey @rossabaker, if nobody's already working on this I would be happy to take a stab at implementing it (since I'm not an expert I might need some guidance) :)

[2018-08-25 17:49] rossabaker commented on #2013
I am not aware of anybody else working on it.  I would look at the async-http-client and okhttp-client backends for inspiration.  The hardest part is going to be to map the bodies to an `fs2.Stream`.  I don't think either does it in exactly the way you'll need to do it here.

If you get stuck, please ask for help here or on Gitter, and someone will be glad to assist!

[2018-08-25 19:43] zarthross commented on #1815
Agreed.  I might be able to make an attempt next week at creating a repro case, but make no promises on timelines.  My infrastructure is running in AWS with CloudFoundary, so it's entirely possible I have the same issue as @Rainfarm because some quirk with AWS.

[2018-08-25 21:54] ghostroad commented on #2015
@rossabaker Thanks for looking at the pull request, and sorry for the misunderstanding. Regarding the proposed behavior of `fromInt`, I'm going by what was suggested by @jmcardon [above](https://github.com/http4s/http4s/issues/2015#issuecomment-415634784):

Also, [here](https://github.com/http4s/http4s/pull/2020#issuecomment-414167795):

[2018-08-27 02:07] rossabaker commented on #229
Fixed by #1993.

[2018-08-27 12:45] Slakah opened #2038 "Interest in a caching middleware?"
Created a quick caching middleware (using [Scaffiene](https://github.com/blemale/scaffeine)).

Implemented based on this reference, [Cacheable MDN](https://developer.mozilla.org/en-US/docs/Glossary/cacheable).

Code example can be found [here](https://gist.github.com/Slakah/670e932dace0b669c55eae3d6b386a54).

Would be nice to know if there's any interest in something like this, and ideas for how s

[2018-08-27 15:37] carwynellis commented on #1815
FWIW we just experienced this issue over the weekend using Http1Client to implement an influxdb metrics sender. This POSTs metrics to an influxdb instance hosted in AWS over HTTPS every 10 seconds.

The client is pretty much as follows...

[code]

Switching to `AsyncHttpClient` also resolved the issue for us.

[2018-08-28 14:22] rossabaker opened #2039 "Noisy "unhandled inbound command: Disconnected" warnings"
[code]

Several users seeing this.  All(?) reported on 0.19.0-M1.

Reproduction straight from materialized g8 template: https://github.com/andimiller/blaze-debug

We should see if this is truly innocuous, and if so, quiet it.

[2018-08-29 10:06] andimiller commented on #2039
https://github.com/http4s/blaze/issues/218 for more information on this bug in Blaze

[2018-08-30 02:47] #2002 closed

[2018-08-30 02:52] #1989 closed

[2018-08-30 05:51] thoefer commented on #2002
Thank for reviewing, @rossabaker !

[2018-08-31 20:55] rossabaker commented on #1999
Fixed by #2001

[2018-08-31 20:56] rossabaker commented on #1999
Actually, reopening so we modify retriable.  But the bug is fixed and will be released in 0.18.17.

[2018-09-03 09:00] sideeffffect opened #2044 "Question: Ready for production?"
Hello,
we're considering to use http4s, but we're not 100 % sure of the current status -- for example, the version is still at `0.x`.

 * Is the current stable version `0.18.16` ready to be used in production?
 * Are backwards incompatible changes to be expected?
 * Are significant architectural (although backwards compatible) changes to be expected?
 * Should we wait for `0.19.x`?
 * Or even `1.x

[2018-09-03 09:04] SystemFw commented on #2044
You shouldn't worry about this. Http4s is ready for prod from at least 0.15

Yes

Yes, major versions (so, 0.19) introduce breaking changes. We try to minimise breakage with deprecations and scalafixes. We do take this seriously.

Yes, to a certain extent (although the basic philosophy and goals of the project stay the same)

Depending on how quickly you want to get something out, this is an optio

[2018-09-03 22:06] rossabaker commented on #2044
I mostly agree with @SystemFw.  More:

* 0.19 should be the last 0.x release series.  The 0.x status of both cats-effect and fs2 has kept us on 0.x.  There are several improvements we'd like before 1.0, though I hope the stabilization of our dependencies means we can focus fully on on those of our integrations with the foundational libraries.
* We've talked a lot about scalafix but never written o

[2018-09-03 22:09] SystemFw commented on #2044
Speaking of which, if anyone reading this is a scalafix expert (whereby expert I mean "knows a bit of scalafix") please come talk to us! You'd be an instant hero (and perhaps we should advertise this a bit more)

[2018-09-03 22:47] rossabaker opened #2045 "Scalafix from 0.18 to 0.19"
* 0.18 to 0.19 has a lot of mechanical changes that would be awfully nice to implement via scalafix.
* 0.19 to 1.0 will likely have more, and it'd be nice to have a precedent.

Whoever does this will be Great Friend of Project. :medal_military:

[2018-09-03 22:47] rossabaker commented on #2044
Scalafix issue: #2045

[2018-09-03 23:49] rossabaker commented on #2038
Thanks, @Slakah.  I apologize for the delayed response.  We've been very busy getting ready for the cats-effect release.

I love the idea of a caching middleware, but I'm also wary of adding more dependencies to the main repo. Historically, we've run a monorepo to make sure that everything evolves together.  The more we add, the harder it's getting to align the dependencies of all these integratio

[2018-09-03 23:50] rossabaker commented on #2025
There is no scalacheck-2.13.0-M5 yet, and cats-1.3.0 looks like it will ship on 2.13.0-M4.  We might want to target M4 instead, though it's sad to start out a step behind.  The value is that we can see what breaks.

[2018-09-03 23:57] #2044 closed

[2018-09-04 01:46] rossabaker opened #2047 "static.md uses an effect as a guard"
In static.md:

[code]

We shouldn't be performing effects in a guard during routing.  It's fine for this to be `HttpRoutes`, but `HttpRoutes.of`, which lifts a partial function, is not the way to do it.

Fixing this is a good way to start thinking about types.  Volunteers?

[2018-09-04 02:03] rossabaker commented on #1965
This is hurting us badly on #1993: we can't even create a client with `.unsafeRunSync` anymore.  It's forcing us to do the right thing, but we need to restructure this tut.

Volunteers?

[2018-09-04 03:14] #1741 closed

[2018-09-04 03:14] #2018 closed

[2018-09-04 03:14] #2022 closed

[2018-09-04 18:32] #1999 closed

[2018-09-04 20:03] Zelenya commented on #2045
Idea.
1. List all the changes which need a scalafix (in this issue or separate issues)
2. Tweet a call for participation
3. Wake up to everything fixed

[2018-09-04 20:41] jmcardon commented on #2045
_Someday, I wish upon a star_
_Wake up where the clouds are far behind me_

[2018-09-04 20:55] rossabaker commented on #2045
I think that's a great idea.  A couple that immediately to mind:
* `withBody` => `withEntity` (tricky, because return type changes)
* `HttpService => HttpRoutes.of`
* The client builders (after #1993)

I'm sure I'll think of more as I update release notes.

What else are upgraders suffering from?

[2018-09-05 01:35] rossabaker opened #2049 "Silence expected stack traces in test output"
1. Steal [silenceSystemErr](https://github.com/typelevel/cats-effect/blob/c7af84bc2d3ae63d77336d521818cb05c66579cf/core/shared/src/test/scala/cats/effect/internals/TestUtils.scala#L31), with credit
2. Find the tests that are dumping stack traces
3. Wrap them in `silenceSystemErr`
4. Enjoy cleaner Travis runs

[2018-09-06 10:05] david-mcgillicuddy-ovo commented on #1797
Cats-effect 1.0.0 has been released now: https://github.com/typelevel/cats-effect/releases/tag/v1.0.0

[2018-09-06 20:51] rossabaker opened #2055 "async-http-client needs fs2-reactive-streams release"
It compiles, but it will throw a fatal error under any use until https://github.com/zainab-ali/fs2-reactive-streams/pull/54 is released.

Blocker for 0.19.0-M2.

[2018-09-06 20:53] rossabaker commented on #1990
Ticket checklist out of date, superseded by milestone.

[2018-09-06 20:53] #1990 closed

[2018-09-06 21:28] #229 closed

[2018-09-07 16:30] rossabaker opened #2058 "Account for the removal of OutboundCommand from blaze"
We can't compile against blaze master due to the demise of the `OutboundCommand`: http4s/blaze#202

I think the hardest thing to fix is going to be the `ClientTimeoutStage`, which used custom outbound commands for its timeout handling.

[2018-09-07 19:57] aeons commented on #2055
This can be closed now, right?

[2018-09-07 20:01] ChristopherDavenport commented on #2055
Roger that.

[2018-09-07 20:01] #2055 closed

[2018-09-08 02:37] jmcardon commented on #104
update on this: I'm unsure whether an abstraction for this is necessarily a good thing.

Java session is essentially `String -> Object` which people yolocast into whatever type they want, and it's held in memory always. I find this inflexible and somewhat primitive. Do we still want this?

[2018-09-08 02:39] jmcardon commented on #197
:+1: on closing this

[2018-09-08 02:39] #197 closed

[2018-09-08 02:42] jmcardon commented on #570
note: This was tackled by a contributor on tsec. https://github.com/jmcardon/tsec/tree/master/oauth2

This can even be released completely agnostic to the rest of tsec.

Later on, work to make it available to http4s directly is possible.

[2018-09-08 02:44] jmcardon commented on #342
:+1: on a semantic spec.

[2018-09-08 02:52] rossabaker commented on #570
I propose we leave it open here to track the need until something is released and works with http4s, wherever it lives.

[2018-09-08 02:56] rossabaker commented on #369
The new precedent on `BlazeServerBuilder` is now `withHttpApp`, and we'll have a `.resource: Resource[F, Server[F]]` and `.stream Stream[F, Server[F]]` to construct it.

The multiple connector idea has been rejected in favor of composing two blaze resources.

Servlets will still allow multiple mounts for legacy integration, and because it's a native concept anyway.

`ServerBuilder` is on the way o

[2018-09-08 03:00] rossabaker commented on #104
If you mean a servlet session, it's not always held in memory, though usually.

I think it could still be wrapped by typed keys, like our Attributes or a Haskell Vault.  The way some backends demand `java.io.Serializable` is probably what I find most vexing in an abstraction.

[2018-09-08 03:23] #2039 closed, assigned to nobody

[2018-09-08 14:52] hamnis commented on #2045
add typealiases `RequestCookie` and `ResponseCookie` in `org.http4s` to `org.http4s.Cookie` in 0.18.x may help a bit.

[2018-09-09 03:51] #369 closed

[2018-09-10 08:01] sjmyuan opened #2068 "Http1Client won't process new request"
# Version
0.18.1

# Description
This is an edge case and not 100% happens. when we send requests in parallel and the parallel number is greater than `maxTotalConnections`, sometimes the new request will not return(no error and no response) and our app will be stuck forever.

This issue always happens after the error
[code]

# Analysis
From the heap of our app, we can see `curTotal==maxTotalConnect

[2018-09-10 11:28] rossabaker commented on #2068
Thanks for the detailed report!  I suspect it's still a bug, but before we chase this, can you easily check whether it happens on 0.18.17?  This is fully binary compatible with 0.18.1.

[2018-09-11 09:54] sjmyuan commented on #2068
Thanks for the response, will check it on 0.18.17 as soon as possible

[2018-09-12 03:10] #2015 closed

[2018-09-12 03:16] rossabaker opened #2070 "Arbitraries should be given unique names"
It's important for implicit instances to have unique names.  See [implicit naming](https://typelevel.org/cats/guidelines.html#implicit-naming) in the cats documentation.  See [cats' Arbitrary](https://github.com/typelevel/cats/blob/master/laws/src/main/scala/cats/laws/discipline/Arbitrary.scala) as an example of this.  It would be nice if [our arbitraries](https://github.com/http4s/http4s/blob/mas

[2018-09-12 03:21] rossabaker opened #2071 "Use the new `readRange` in fs2"
@asoltysik added a [`readRange`](https://github.com/functional-streams-for-scala/fs2/pull/1246) function to fs2.  We can replace our messy [`fileToBody`](https://github.com/http4s/http4s/blob/1c2e4c053b60c4cd978d11e87e8b60e94bede48e/core/src/main/scala/org/http4s/StaticFile.scala#L187) with it.

[2018-09-12 03:25] rossabaker opened #2072 "StaticFile.fromFile has too many overloads"
We abused overloading on `StaticFile.fromFile`.  Look at reducing overloads, either through default parameters or different names for the functions.  Deprecation is good if we're changing public API in a source incompatible way, but if we start now, we can get it cleaned up for 1.0.

Overlaps a bit with #2071, so communicate if you happen to be picking this up at a hack night.

[2018-09-12 03:31] rossabaker opened #2073 "Update dependencies on the release-0.18.x branch"
This is a real simple one.  When we start a REPL on the release-0.18.x (current production) branch, we get the following:

[code]

Library versions are declared in `Http4sPlugin`.  We want to:
* Hold back cats-effect by declaring it with a `dependencyUpdatesFilter`.
* Update all the other libraries mentioned.

`reload` from the sbt prompt until the dependency report is clean.

[2018-09-12 03:44] rossabaker commented on #2011
Here is a list of headers we have declared a key for, but not modeled:

[code]

`Referer` is a fairly clean example of a modeled header: it has a case class `org.http4s.headers.Referer` and you can trace how the parser hooks in from there.

The way headers are registered is under review in the more ambitious #1143, but the parsers themselves will still be useful even if they move before 1.0.

[2018-09-12 03:47] rossabaker opened #2074 "Finalize or seal all case classes"
Look for case classes that aren't `final` or `sealed abstract` (a technique to hide undesired `apply` and `copy` methods), and make them so.  There is no reason to allow inheritance of case classes.

[2018-09-12 03:55] rossabaker opened #2075 "Introduce `ClientBuilder` trait"
`ClientBuilder` is an algebra that I'm not sure will be abstracted over often, but declaring it and extending `JavaNetClientBuilder`, `OkHttpBuilder`, and `BlazeClientBuilder` with it would at least enforce uniformity in creation.

[code]

We have a similar `ServerBuilder` trait that is an unholy maze of subtraits that we'd like to get rid of, but a minimal algebra like this still makes sense to m

[2018-09-12 13:38] ChristopherDavenport commented on #2075
Yes. But only this minimal subset. Could this be a typeclass instead of relying on inheritance?

[2018-09-12 14:13] rossabaker commented on #2075
I don't think it's a typeclass.  What are the laws?  We're not providing implicit instances for `IO`, `Task`, etc., but rather explicit interpreters for blaze, okhttp, etc.

[2018-09-12 14:27] rossabaker commented on #2075
I don't know how we'd test that law.  There's no `isShutdown` on `Client` (I guess it could be added?), and we've even discussed moving `shutdown` off so it's always managed by the Resource.

[2018-09-12 14:46] ChristopherDavenport commented on #2075
Right, I'm just trying to think of ways to abstract. Refer to is as an algebra instead. The point being that a concrete construction from the Server satisfies it, without forcing inheritance or other burden into the class itself.

[2018-09-12 17:54] asarturas commented on #2071
^ started working on this

[2018-09-12 17:54] davegurnell commented on #2007
I'll take a look at this one...

[2018-09-12 18:07] Andrea commented on #2074
Hey there @richashworth and me are looking at this

[2018-09-12 18:09] rossabaker commented on #2075
I think maybe you're right.  `BlazeClientBuilder` isn't just an interpreter.  It's a data type that provides its own methods.

I'm coming around to the idea of `ClientBuilder` as a flimsy typeclass and a not very useful algebra, and that we don't really need it at all.

[2018-09-12 18:10] diesalbla commented on #1430
I might try solving this one. @calvinbrown085 Did you get a chance to make any progress on this one?

[2018-09-12 18:26] calvinbrown085 commented on #1430
I haven't, I apologize. Feel free to take it!

[2018-09-12 19:56] davegurnell commented on #2007
I've been going through this with @hosamaly. We have a first draft of the header in this branch of my fork:

https://github.com/davegurnell/http4s/tree/topic/origin-header

Our parser breaks some tests in `CORSSpec`. These tests specify an Origin header with a trailing slash, which is technically not valid according to the spec:

http://tools.ietf.org/html/rfc6454#section-7

We *cooouuuld* take a

[2018-09-12 20:11] rossabaker commented on #2007
I think it would be reasonable to hold fast to the spec here and change the tests.

[2018-09-12 22:27] #2013 closed

[2018-09-12 22:33] ang-mic commented on #2073
Hello, I am going to have a look at this on if that's fine with you. Thanks

[2018-09-13 07:59] davegurnell commented on #2007
Aces. In that case, here comes a PR...

[2018-09-13 12:08] #2033 closed

[2018-09-13 19:05] #1430 closed

[2018-09-13 22:47] ang-mic commented on #2073
I made the changes but I get compilation errors when I run `sbt ci`. I will go through again in the morning.

[2018-09-13 23:02] rossabaker commented on #2073
Make sure your cats-effect is still 0.10.x and your fs2 is still 0.10.x.  (It's not suggesting you upgrade the latter, even though there's a newer milestone.)  I _think_ everything else there will be source compatible.

Feel free to ping us on Gitter or here if it turns into a brain teaser.

[2018-09-14 07:33] ang-mic commented on #2073
@rossabaker Thanks for coming back to me. I'll let you know how it goes :)

[2018-09-14 11:49] luisdeltoro commented on #2005
Hi @rossabaker,

I have a draft implementation of this issue. It can be found here: https://github.com/luisdeltoro/http4s/tree/CommonLayerClientMetrics_%232005/client-metrics/src

If you like the solution and think that it's worth committing I would clean up the branch, which still contains the other prometheus-client-metrics project and run it through scala format etc..

At the end, I'm using typ

[2018-09-15 03:15] rossabaker commented on #2005
I think the approach is generally nice.  I see that a lot of the operations on `MetricsOps` are being `Sync.delay`'ed.  It would make more sense to me to keep the `MetricsOps` pure and return an `F` context.

This is tangentially related to #2053, where there's a listener interface for events that feed into metrics.  I think the right approach may end up having some similarities here.

[2018-09-15 12:48] luisdeltoro commented on #2005
Hi @rossabaker,

I've changed the MetricsOps so it returns always an context F.

Regarding your second comment. I'm not sure I fully understand it. Do you mean that you would prefer that I convert MetricsOps to some kind of listener for events?

Maybe something like:
trait RequestListener[F[_]] {
  def requestInitiated(destination: Option[String]): F[Unit]
  def headersReceived(destination: Option

[2018-09-15 21:49] rossabaker commented on #2005
I don't think it should be async publishing.  All of these calls should be very quick.  It _could_ be async publishing if the interpreter takes a `ContextShift`, but this would almost always be a bad idea.

I think we either want to publish the timestamps as part of the events if it's a "listener", or calculate the elapsed time and pass that, as you were originally doing.  I don't have a strong op

[2018-09-16 10:31] luisspringernature commented on #2005
Hi @rossabaker,
I would, for the time being, stick to the approach of calculating the elapsed time and passing that, as it is more consistent with the way the server metrics are gathered.

I will prepare the PR and send it to. But before that, I would have one more question:
Would you like to have all metrics implementations in one project (client-metrics) like it's right now in my branch?
Or woul

[2018-09-16 10:32] luisdeltoro commented on #2005
Hi @rossabaker,
I would, for the time being, stick to the approach of calculating the elapsed time and passing that, as it is more consistent with the way the server metrics are gathered.

I will prepare the PR and send it to. But before that, I would have one more question:
Would you like to have all metrics implementations in one project (client-metrics) like it's right now in my branch?
Or woul

[2018-09-16 15:03] luisdeltoro commented on #2005
Sure, that's what I though too. All do that then

[2018-09-16 18:35] luisdeltoro commented on #2005
Hi @rossabaker,

I've opened a PR with the agreed changes: https://github.com/http4s/http4s/pull/2094

Let me know if there is still something to be changed.

Best,

Luis

[2018-09-17 16:29] bpholt opened #2096 "Consider moving from Seq to List in value types"
As discussed in #2086, the new monoid instance for `UrlForm` has to duplicate some code from cats-kernel because there is no upstream `Monoid[Seq[?]]` instance.

It would be a breaking change, but should the definition of `UrlForm` be changed (maybe along with any other type using `Seq`)?

[2018-09-17 17:40] jmcardon commented on #2096
Related: https://github.com/http4s/http4s/issues/1695

[2018-09-17 20:17] rossabaker commented on #2096
`List`, `Vector`, and `Chain` are the three obvious choices.  `Chain` is great if you're combining them often, but I'm not sure how common it is, even if it motivated the other ticket.  It's not random access, so I'm not too keen on `Vector`.  Maybe `List`, and be smart about how we build them?

[2018-09-17 20:36] ChristopherDavenport commented on #2096
What is the downside to `Chain`?

[2018-09-17 20:50] rossabaker commented on #2096
I don't have a firm grasp on its constant factors, and these are generally going to be small enough that Big O isn't critical.  It definitely could be combined effectively without any special `ListBuffer` foofery that would be tempting for a `combineAll` override.

[2018-09-19 13:39] adamw commented on #1256
Also seeing this - turning the logging for that class off until 0.19 is out, I'll re-test then

[2018-09-19 16:43] rossabaker commented on #1256
Is this still happening on 0.19.0-M2?

[2018-09-20 06:34] McBrainy opened #2099 "Http4sMatchers gives a test failure for haveHeaders when the headers are correct"
[One of your tests](https://github.com/http4s/http4s/blob/master/dsl/src/test/scala/org/http4s/dsl/ResponseGeneratorSpec.scala#L102), which presumably passes since your build is green (I haven't run it myself), fails if you copy its source code into a test case using Http4sMatchers, with a somewhat bizarre error. Here's the error:

[code]

The source:

[code]

The build.sbt:

[code]

[Related SO q

[2018-09-20 16:02] rossabaker commented on #2099
Interesting.  This works, which is not far from what that matcher is doing.

[code]

This looks like a bug.

[2018-09-20 18:26] ehoner commented on #1256
@rossabaker The api seems to have significant changes. Can you confirm for me that translating between the two looks correct?

Assuming its correct, the error appears resolved for me.

0.18.15
[code]

0.19.0-M2
[code]

[2018-09-20 21:02] rossabaker commented on #1256
Yes, that looks correct.  Thanks for testing!  I think this was fixed in #2061.  We had a blaze issue related to that, and we failed to connect the dots to this one.

If anybody is seeing this on http4s-0.19.0-M2 or later, please reopen.

[2018-09-21 03:38] rossabaker commented on #2099
The test was added on master, and the matcher was fixed.  But it buggily used reference equality in the 0.18 series.  #2101 will fix it.

[2018-09-21 03:39] #2073 closed

[2018-09-21 03:46] rossabaker commented on #2075
I'm convinced this is not needed.

[2018-09-21 03:46] #2075 closed

[2018-09-22 12:16] YulawOne opened #2103 "Exception on timeout listener registration"
I was benchmarking http4s with Monix and Jetty and i've noticed multiple errors in logs with following exception:
[code]

code:
[code]

monix version - `3.0.0-RC2-d0feeba`
http4 version - `0.19.0-M2`
jdk version - `10.0.2`

it reproduces with `wrk -t1 -c1` benchmark configuration and it seems doesn't affect request itself but might slightly affect performance due throw.

[2018-09-24 01:36] rossabaker commented on #2103
Thanks!  I don't think this has anything to do with Monix, but it does show a flaw in the generic servlet layer.  See #2106 for a fix.

[2018-09-24 02:51] rossabaker opened #2107 "Reinstate example projects"
We urgently need to get those cleaned up and compiling again.

- Should build on what we learned in http4s/http4s.g8
- Should use less inheritance and look more like independent projects so people see how it fits together.

[2018-09-24 02:53] rossabaker opened #2108 "Upgrade to fs2-1.0.0-RC1"
This is the major blocker for 0.19.0-M3.  This will include a jawn-fs2 bump.

[2018-09-24 02:54] #2007 closed

[2018-09-24 17:35] #2103 closed

[2018-09-25 09:02] steve-e opened #2114 "JavaNetClientBuilder fails with NoContent response"
Calling delete on a service that returns NoContent results in an exception when using JavaNetClientBuilder.
The call is
[code]
The exception I get is
[code]
Note that the call succeeds using BlazeClientBuilder

[2018-09-25 12:49] rossabaker commented on #2114
Are you sure it's a `NoContent` rather than `NotFound`?  I can reproduce it on the latter, but not the former.

[2018-09-26 09:02] #2108 closed

[2018-09-26 09:03] #2074 closed

[2018-09-26 10:16] steve-e commented on #2114
You're right its NotFound that failed. Thanks

[2018-09-26 14:28] aeons commented on #2071
Fixed by #2079

[2018-09-26 14:28] #2071 closed

[2018-09-27 06:08] aeons commented on #2114
Fixed by #2117

[2018-09-27 06:08] #2114 closed

[2018-09-27 11:12] rossabaker commented on #2099
Fixed by #2101.

[2018-09-27 11:12] #2099 closed

[2018-09-28 07:48] luisdeltoro opened #2131 "Factor a common layer for client and server metrics"
The purpose of this ticket is:
* Make MetricsOps (currently in client-metrics) generic across server and client.
* Consolidate the server metrics logic for dropwizard and prometheus into one common Metrics object.
* Consolidate the server and client implementations for the different metrics providers into one unique project per metrics implementation (dropwizard-metrics and prometheus-metrics)

[2018-09-28 07:51] luisdeltoro commented on #2005
A follow-up task has been created to try to do a similar job on the server metrics metrics: https://github.com/http4s/http4s/issues/2131

[2018-09-29 02:17] calvinbrown085 commented on #2107
@rossabaker Where are these example projects? I don't see them https://http4s.org/v0.18/ I might be missing something though

[2018-09-29 02:18] calvinbrown085 commented on #2107
Ah, maybe they are here? https://github.com/http4s/http4s/tree/f353f2314b945ff14317f1fb4366aea4b7321ebf/examples

[2018-09-29 02:37] calvinbrown085 commented on #2072
One thing i'm unsure of
[code]

It seems all of the `fromFile` functions end up calling a variant of this one, having a bunch of default arguments seems kind of gross, but that's what the other functions end up doing anyway.

What do y'all think?

[2018-09-29 02:41] rossabaker commented on #2107
Yes, those are the ones.

[2018-09-29 02:42] rossabaker commented on #2107
Before we duplicate work, I think @aeons mentioned on Gitter he was looking at these.  Maybe they can be split up, maybe not.

[2018-09-29 02:59] rossabaker commented on #2072
Hmm.  What might reasonable defaults be:

* `f` (required)
* `start = 0L`
* `end: Option[Long] = None`
* `buffSize = MagicNumberWeveNeverReallyTuned`
* `blockingExecutionContext` (required; put it second?)
* `req = None`
* `etag = calcEtag` (isn't going to compile because where will it get its `Sync` from?)

I like the approach, but the `etag` is going to be tricky.

[2018-09-29 11:02] aeons commented on #2107
Yeah, I started looking at them, but haven't gotten very far yet.

[2018-09-29 14:39] calvinbrown085 commented on #2072
@rossabaker I agree, the `etag` is gross the `buffSize` looks like we use the file length?

[2018-09-29 14:59] rossabaker commented on #2072
Getting the length of the file is an effect, and the file size could be huge, so I think it should be a fixed number.  A multiple of 4K makes sense due to standard block sizes.  And Java's `BufferedInputStream` is 8K, which was probably a thoughtful number.  I would go with `8192`.

If `StaticFile` were an algebra, then `fromFile` could refer to a default `etag` function, and the constraint would

[2018-09-29 16:07] calvinbrown085 commented on #2072
@rossabaker Maybe i'm getting mixed up, i'm used to algebra's being `trait`'s so

[code]

This doesn't seem like what we would want?

[2018-09-29 21:38] rossabaker commented on #2072
That's about what I had in mind.  And then something like:

[code]

It's a little more verbose in the implementation, but no harder to call, and it deals nicely with that etag issue.

[2018-09-30 00:15] rossabaker opened #2135 "Stale issue cleanup"
We have 131 open issues and 23 open pull requests.  Is something like [stale bot](https://github.com/apps/stale) a good idea?  I have mixed feelings.

Discuss.

[2018-09-30 00:40] calvinbrown085 commented on #2072
Awesome sounds good, I’ll get this implemented

[2018-09-30 15:36] calvinbrown085 commented on #2072
So one potential issue i'm seeing is
`end: Option[Long] = None` a lot of things rely on this _not_ being an option, since we pass in the file length currently.

[2018-10-01 08:57] gvolpe commented on #1967
After upgrading to the latest milestone `M3` this is what I'm doing now:

[code]

But I realized I could have done this in previous versions as well.

Do you find any red flags on this usage @rossabaker ?

[2018-10-01 11:46] rossabaker commented on #1967
It's a pity that the type inference isn't better, because I would _like_ to write that as:

[code]

But I think what you've done is fine.

Did the changes in cats-effect prevent you from needing the ugly `Timer[OptionT[F, ?]]`?  That should be derived from a `Timer[F]` now.

[2018-10-01 14:44] gvolpe commented on #1967
That's fine, I don't ask the Scala compiler much more :smile:

Yes, the `Timer` issue seems to be fixed, thanks @rossabaker !

Maybe the issue should be closed but I'll leave it open for now since other users have asked about it. I recall @SystemFw being concerned about it too, maybe you want to add something Fabio?

[2018-10-02 14:07] MarkusA380 opened #2142 "TimeoutException: Client response header timeout after 0 milliseconds. - Again"
This issue is a continuation of [this issue](https://github.com/http4s/http4s/issues/1774), but using **0.19.0-M3** with `BlazeClientBuilder`.

The exception is as follows:

[code]

The snippet in question is:

[code]

The client successfully runs about ~30 requests (`client.expect[Json](...)`, see [here](https://circe.github.io/circe/api/io/circe/Json.html)) for ~20 seconds before the exception o

[2018-10-03 03:12] calvinbrown085 commented on #2072
@rossabaker What do you think about ^^ ?

[2018-10-03 14:07] rossabaker commented on #2072
Yeah, it's already an effect, so we can get the length and flatMap it.

[2018-10-03 15:33] calvinbrown085 commented on #2072
Cool. Thanks Ross

[2018-10-05 08:07] MarkusA380 commented on #2142
Some additional info:

When using the same code except for the following snippet, but with http4s 0.19.0-M2, the exception does not occur:

[code]

[2018-10-06 11:18] luisdeltoro commented on #2131
@rossabaker I'm gonna start working on this issue and I was wondering how important it is right to keep the metrics "backwards-compatible" after this work.
Can I adjust the names and/or the types of some of the metrics?

[2018-10-06 12:48] luisdeltoro commented on #2131
Another question. I guess we would like to use Clock here as well instead of using Sync[F].delay(System.nanoTime), right?

[2018-10-06 17:45] calvinbrown085 commented on #2072
Thinking about the etag issue here,
We could get rid of the option to let people pass in their own function to calculate eTags. That doesn't seem that great.

We could _require_ that this function be passed in, allowing people to use the Static.calcEtag function if they don't want to define their own. This also doesn't seem that great.

I'm can't think of another great option, since we can't use a

[2018-10-06 21:35] rossabaker opened #2156 "Abnormal NIO1HeadStage termination on timeout"
[Reported](https://gitter.im/http4s/http4s?at=5bb8b0f282893a2f3bab18b6) by @amsayk.  This is going to require a blaze release: https://github.com/http4s/blaze/pull/238

[code]

When that's released, we should race the response against an async task that is completed on an inbound timeout and produces a 503.

[2018-10-06 21:44] rossabaker commented on #2131
* If you can make the API better, make it better.  Leave a deprecated API if you can.
* If you can make the types and names better, make them better.
* Yes, `Clock` is the right thing to use.

[2018-10-07 00:43] rossabaker commented on #2072
I thought that was something that could be handled by converting to an algebra:

[code]

[2018-10-07 00:50] rossabaker commented on #2142
I think this is the same cause as the original bug.  The submit time is once again outside the delay:

[code]

The fix is easy, but it would be great to expose this with a test first.

[2018-10-07 04:03] rossabaker commented on #2142
So the not-so-testable way to solve this is to put `submitTime` back in the same suspension as the rest of the resource.

The clean way to do this is to pass a `cats.effect.Timer` instance, and create a timeout stage based on it.  But this will add an effect to every read and write, and will be a (I think slight) performance hit.

[2018-10-07 13:52] kaishh opened #2157 "Make Http1Client default timeout finite?"
Hi, we've recently hit a production bug whereby infinite timeout by default caused http4s server to deadlock.

Our setup was:
1. http4s server on global execution context
2. scalaz ZIO RTS on a separate limited pool
3. http4s client on global execution context

http4s client was called at various points from ZIO pool via `.unsafeRunSync()` – you can see where this is going. http4s client has been

[2018-10-07 14:15] rossabaker commented on #2157
For comparison, [here](https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/resources/org/asynchttpclient/config/ahc-default.properties) are the default timeouts from the async-http-client.

Yes, I think something like this could be reasonable.  We should give a sensible configuration out of the box and continue to give the knobs to tweak it.  Would you like to submit a

[2018-10-07 16:13] orium commented on #1797
Fs2 1.0 is out :tada: Anyone known when http4s 0.19 will be released?

[2018-10-07 16:17] rossabaker commented on #1797
We have a milestone, v0.19.0-M4, built on fs2-1.0.0 already.  (There is an identical 0.19.0, but that was an error on my part).  Look for an 0.19.1 on which we'll support binary compatibility within a week or so.

[2018-10-08 02:56] calvinbrown085 commented on #845
Looking back through old issues this one is pretty old!

But possibly the the usefulness is still here? Looking at https://http4s.org/v0.18/client/ client docs, there isn't a section on how to configure a client.

What do y'all think on this?

[2018-10-08 08:31] luisdeltoro commented on #2131
It's not that much about making them better, but more about make them more consistent across the server and client metrics implementations.

What's your opinion about the classifier function? Should we introduce it in the server metrics too? It's probably not so useful as in the client metrics, but we could do it for consistency.
What's your opinion on that?

[2018-10-08 12:46] rossabaker commented on #845
I'd love to have some description of the configuration, and also a guide to which backend to choose, now that we have several.  I can imagine a table like this, maybe with more features:

| Client | HTTP/2 | Non-blocking | Proxy |
|--------|--------|--------------|-------|
| blaze  | N      | Y            | N     |
| AHC    | N      | Y            | Y     |
| okhttp | Y      | N            | Y

[2018-10-09 10:53] kaishh commented on #2157
@rossabaker

Sure https://github.com/http4s/http4s/pull/2159

[2018-10-10 03:54] rossabaker commented on #2131
I think it's a good idea to have it in both or neither, and people wanted it in client.  So yeah, let's add it.

[2018-10-10 13:44] orium commented on #1797
@rossabaker maybe you can remove the tag 0.19.0 to avoid confusion.  Shouldn't break `git pull` for anyone since it is just a tag.

[2018-10-10 14:05] rossabaker commented on #1797
We can't delete it from Maven Central, and I think it's important that people know what source they're running.  I'm inclined to leave it.  But I can't wait to bury it with 0.19.1.

[2018-10-10 14:35] orium commented on #1797
Ah, if it is published definitely keep the tag :)

[2018-10-11 11:06] pravin-raha opened #2161 "Support for pac4j or any Oidc library?"
Is there any plan of implementing  pac4j for http4s?
I did not find any example for odic + http4s. It would be nice if we can provide pac4j support, so most of the Authentication and Authorization problem would be solved.

[2018-10-11 19:42] ChristopherDavenport opened #2162 "Request/Response MapK"
Request and Response could both use a mapK method.

[code]

[2018-10-12 02:49] #2162 closed

[2018-10-12 11:44] aeons opened #2165 "Windows builds on Travis"
Maybe we can get rid of the whole appveyor setup.

https://blog.travis-ci.com/2018-10-11-windows-early-release

[2018-10-12 13:43] rossabaker commented on #2165
Would require something like [this](https://travis-ci.community/t/java-support-on-windows/286) for now.

[2018-10-12 21:07] rossabaker commented on #2156
I have a unit test for this and I know how to fix it.

[2018-10-13 00:52] ChristopherDavenport opened #2167 "Create allocate Method for Clients so people can opt out of lifecycle management"
Opt Out For Lifecycle Management

[code]
Without this we have no response for when people want to use the client is a non-referentially transparent location.

[2018-10-13 17:09] #2167 closed

[2018-10-13 20:16] aeons commented on #2165
Ah, shows how much I know about Travis :)

Close for now and open a new issue once it's feasible?

[2018-10-13 21:05] rossabaker commented on #2165
Sounds good to me.

[2018-10-13 21:05] #2165 closed

[2018-10-13 23:41] #2156 closed

[2018-10-14 00:54] rossabaker commented on #2161
I've never heard of pac4j.  Do you have a sketch of what an integration might look like?

[2018-10-14 00:57] gstro commented on #2014
Would there be interest in something like a `ResponseTimer` middleware, similar to express.js' [response-time](https://expressjs.com/en/resources/middleware/response-time.html)? Could use [cat's `Clock`](https://github.com/typelevel/cats-effect/blob/master/core/shared/src/main/scala/cats/effect/Clock.scala).

[2018-10-14 00:59] rossabaker commented on #2014
Would this be different than the existing Prometheus Metrics and Dropwizard Metrics integrations?  Also see #2131, for making a common metrics implementation with library-specific interpreters.

[2018-10-14 01:05] rossabaker commented on #2142
Fixed by #2166.

[2018-10-14 01:05] #2142 closed

[2018-10-14 01:06] gstro commented on #2014
Oh nice! I think my intention would be another "Simple middleware" like `HeaderEcho` for basic timing info without external metrics integrations. If those metrics are sufficient, I can look into other middleware to add.

[2018-10-14 02:05] rossabaker commented on #2014
You mean like a middleware that returns an `X-Response-Time` header?  I think this might be possible after #2131: instead of writing to a metrics backend, produce a header.

[2018-10-14 16:18] rossabaker commented on #2014
The existing work has been on the client.  The other ticket is to do similar for the server.  Since the MetricsOps operations return `F[Unit]`, I'm not sure it would work for a response header.

[2018-10-14 17:19] luisdeltoro commented on #2131
The point was not that much about make names better, but make them more consistent between client and server, so they can share the same MetricsOps implementation.

I have created a pull request with the changes: https://github.com/http4s/http4s/pull/2173
Like I already mentioned the names and types of some of the metrics needed to be adjusted.

I thought about leaving a deprecated API, but becaus

[2018-10-14 20:37] #2005 closed

[2018-10-15 06:57] pravin-raha commented on #2161
Currently, I am working on integration. Let you know once I am done with a first rough draft.

Pac4j is a Java security engine [http://www.pac4j.org/](url). It also have play integration [https://github.com/pac4j/play-pac4j](url)

[2018-10-15 10:02] pravin-raha commented on #2161
you can find a starting guide for implementation here [http://www.pac4j.org/docs/how-to-implement-pac4j-for-a-new-framework.html#how-to-implement-pac4j-for-a-new-framework-tool](url)

[2018-10-16 00:06] rossabaker commented on #2014
I'm open to it.  One thing we struggled with on the server metrics: is response time the time until the header, or time until the entire response body is created?  Both can be useful.  You'll want to make clear what's being measured.

[2018-10-16 02:57] rossabaker opened #2176 "async-http-client stopping after 16 elements"
https://gist.github.com/lbialy/2d31d94167292e3c8af6f4310a775727

[2018-10-17 19:07] IssueMonoid opened #2181 "RequestLogger logs sensitive headers"
In the 0.18.x branch of RequestLogger the deprecated apply method ignores redactHeadersWhen when calling logMessage, resulting the default value being passed and hence sensitive headers being logged.

This issue was fixed in:
d0ce8f36e196508bfc15195ba1b7412fce10fe6d

But then reintroduced in:
801b58ce8dd

[2018-10-18 14:29] Pyppe opened #2186 "Include request information for server timeouts"
Currently there is no request context available upon timeouts. It would help debugging greatly if we could log the request information upon timeouts.

#### Background:
- https://gitter.im/http4s/http4s?at=5bc88db21c100a4f29a69128
- https://gitter.im/http4s/http4s?at=5bc89408c08b8b3067342857

[2018-10-19 04:09] rossabaker opened #2191 "Flaky test: Timeout immediately with a request timeout of 0 seconds"
[code]

[2018-10-19 04:18] rossabaker opened #2192 "Flaky test: SSL Handshake WRAP produced 0 bytes."
[code]

This happened on an [openjdk11 build](https://travis-ci.org/http4s/http4s/jobs/443490411#L3637), which makes me fear that http4s/blaze#233 is sticking our heads in the sand.

[2018-10-19 04:19] rossabaker commented on #2181
Fixed by #2182, released in 0.18.20.

[2018-10-19 04:19] #2181 closed

[2018-10-19 12:53] ptrlaszlo opened #2193 "PoolManager waitQueue not cleaned up"
We are using http4s 0.19.0-M1 and we observed an issue with the http client. If we call an API which is slow, the waitQueue of the PoolManager fills up and start to throw "Max wait length reached, not scheduling". This seems to be OK, but the wait queue seems to be never freed up. So once we enter this state, there is no going back.

Some details:
- `borrow` ends up in a [situation](https://github

[2018-10-19 17:02] rossabaker commented on #2191
I think these are silly tests.  If you want to timeout 100% of the time, ASAP, you don't need blaze at all.  We're just testing a non-deterministic race condition and -- surprise -- getting non-deterministic results.

[2018-10-19 20:28] #2191 closed

[2018-10-19 23:53] rossabaker opened #2197 "Flaky test: BlazeHttp1ClientSpec GET: /simple"
[code]

https://travis-ci.org/http4s/http4s/jobs/443905281

[2018-10-20 14:02] rossabaker opened #2199 "Flaky test: behave and not deadlock"
https://travis-ci.org/http4s/http4s/jobs/443987859#L4035

[2018-10-21 02:00] rossabaker commented on #2176
This works on 0.19.  Both fs2-reactive-streams and async-http-client have been upgraded.  I can't find a magic number 16 in either project's old versions, but it works now.

https://gist.github.com/rossabaker/226d16354eb08ee7b6c05491939d162f

I'd review and release a PR that fixes this in 0.18, but my own focus is now on master.

/cc @lbialy

[2018-10-21 02:12] rossabaker commented on #2192
Again: https://travis-ci.org/http4s/http4s/jobs/444236484

[2018-10-21 17:08] vlovgr commented on #2142
I've been experiencing this issue as well, but when trying 0.19.1-SNAPSHOT, I'm now instead seeing the following message in the logs, and the request seems to never finish (hangs).

[code]

Not sure if this two issues are related, @rossabaker? Should I open a separate issue for this?

[2018-10-21 19:35] rossabaker commented on #2142
That sounds like a separate issue.  Bonus points if it's reproducible.  We're fighting a few things that are hard to replicate.

[2018-10-21 20:19] rossabaker commented on #2142
Actually, that particular warning is fixed in https://github.com/http4s/blaze/pull/242.

[2018-10-21 21:06] vlovgr commented on #2142
Thanks for the quick reply @rossabaker! After doing a little bit more digging, I'm suspecting the hang to be this issue: https://github.com/http4s/http4s/issues/2068. If increasing `maxTotalConnections` to be strictly greater than the number of parallel requests, I'm no longer experiencing any hangs.

[2018-10-23 20:07] ChristopherDavenport opened #2203 "Conflicting Implicits orNotFound"
This leads to conflicting implicits in combination with `implicits` and the dsl for `.orNotFound`. So we should likely pick one place to be the point of reference for that method and remove it from the other

I'm inclined to favor its removal from the dsl. And have this explicitly come in from implicits.

[2018-10-23 20:51] rossabaker commented on #2203
`Http4sDsl` extends `Http4s`, which is a bit of an anachronism: most libraries do the same with `${project}.implicits._`.  I'm strongly in favor of the `Http4s` trait going away.

If `Http4sDsl` no longer provides this syntax via `Http4s`, we potentially double the import tax.  If it does provide the syntax, it becomes confusing if anyone imports both `org.http4s.implicits._` and `Http4sDsl`.

I t

[2018-10-25 07:02] CucumisSativus commented on #2011
I'll gladly take this one if you don't mind

[2018-10-25 14:38] ChristopherDavenport commented on #2011
I would be inclined to tackle one at a time, which one are you looking to take on first?

[2018-10-25 14:55] rossabaker commented on #2203
All the more reason to finally start that FAQ!

[2018-10-25 15:00] CucumisSativus commented on #2011
Okay so let me start with AcceptPatch!

Dnia czw., paź 25, 2018 o 16:39, Christopher Davenport <notifications@github.com> napisał:

[2018-10-25 15:03] rossabaker commented on #2197
An [appveyor version](https://ci.appveyor.com/project/ChristopherDavenport/http4s-m0hqu/builds/19776714/job/g0dfrnmj86h3kb9u#L4801) that failed on /no-content.  This was first seen on appveyor the blaze-0.14.0-M9 upgrade, though it's not an SSL test, so it seems unlikely to be related.

[2018-10-25 15:34] #2199 closed

[2018-10-25 15:36] rossabaker commented on #2192
I expect this is fixed by #2204.  Will reopen if it's not.

[2018-10-25 16:35] balatbn opened #2206 "Parse cookies with semicolon in the end"
If we parse cookies using Cookie.from(req.headers), it will fail if the cookie string has a ";" in the end.

Example:
cookie: S=dfs43sdf3;visited=234435786;

It is possible that as per HTTP spec, having a ";" in the end might be invalid. However, some clients (we tested with Android clients) add a semicolon in the end automatically.

So, it be would be nice, if we can ignore ending ";" during pars

[2018-10-27 19:04] aeons commented on #2203
I've been looking at this a bit.

We have this pattern in several places:
[code]
These `XInstances` are then mixed into the `Http4sInstances` trait which is then mixed into the `Http4s` trait. Won't they be found automatically, since they are in the companion object of the type itself? If so, just removing the trait and inlining the instances in the companion object should work, right?

We also mi

[2018-10-28 20:11] rossabaker commented on #2197
https://travis-ci.org/http4s/http4s/jobs/447372204#L3826

[2018-10-28 20:14] rossabaker commented on #2192
[:fire:](https://travis-ci.org/http4s/http4s/jobs/447372206#L3562)

[2018-10-28 20:17] rossabaker commented on #2192
https://travis-ci.org/http4s/http4s/jobs/447372379#L3243

[2018-10-29 03:04] rossabaker commented on #2206
It is [illegal](https://tools.ietf.org/html/rfc6265#page-13)

[code]

But I don't see a reason we couldn't relax that.  The parser is [here](https://github.com/http4s/http4s/blob/b3849cf830aa5a1bb51dd8d594e2d8edc45eaee9/core/src/main/scala/org/http4s/parser/CookieHeader.scala#L43).

[2018-10-29 18:19] rossabaker commented on #2197
I think this might be an actual problem.  I want to get this resolved before 0.20.0.

[2018-10-29 20:29] ChristopherDavenport opened #2215 "Blaze 0.14.0 Release"
We need to integrate the newest blaze in order to release 0.20.0

[2018-10-29 20:31] ChristopherDavenport opened #2216 "Graceful Shutdown"
We currently do not support graceful shutdown in blaze.

We would ideally prefer to have a graceful shutdown, and a time till a hard shutdown. @rossabaker has been working on it and can give more specifics.

Related to #751

[2018-10-29 21:41] amarrella opened #2217 "Http4s 0.20.0-M1: withMaxHeaderLength not in BlazeClientBuilder"
I just stumbled upon this working on the scalafix, is there a reason why `withMaxHeaderLength` is not exposed in the new builder? It seems to be a parameter of the builder itself

[2018-10-29 21:44] rossabaker commented on #2217
Yes, that's an oversight.

[2018-10-30 00:14] sebastianvoss opened #2218 "Add request attributes for SSL requests"
When using mutual TLS authentication it would be useful to have access to a few SSL-specific request attributes (e.g. to use the clients certificate common name (CN) to do authorization):

- `javax.servlet.request.ssl_session_id`
- `javax.servlet.request.cipher_suite`
- `javax.servlet.request.key_size`
- `javax.servlet.request.X509Certificate`

See [jetty docs](https://github.com/eclipse/jetty.pro

[2018-10-30 03:06] rossabaker commented on #2216
#2222 is prior art.

[2018-10-30 08:11] aeons opened #2224 "Clean up Message and subclasses"
Currently, it's hard to get an overview of the methods on `Message`, `Request` and `Response`, due, in part, to the split of some methods to the `*Ops` traits. These traits are only used for the deprecated `Effect*Syntax` stuff, as far as I can see.

For example, we have `replaceAllHeaders` and `putHeaders` on `MessageOps`, and `withHeaders` on `Request`.

I know there's some rumbling about a type

[2018-10-31 03:16] BenShaw commented on #563
@rossabaker i think im experiencing the same issue but can't figure out what im doing wrong, im new to http4s so im sure it is just something i have missed.

[code]
[code]

[code]

[2018-10-31 07:43] BenShaw commented on #563
ignore it was a json parsing issue

[2018-10-31 08:30] bhop commented on #2217
Hi Guys, I am happy to fix it

[2018-10-31 17:18] rossabaker commented on #2224
We deprecated that effect syntax a long enough time ago I think we can get rid of that.

@ChristopherDavenport has poked at this a few times.  #1572 has some prior art.

[2018-10-31 19:59] #2217 closed

[2018-10-31 21:11] rlmark opened #2229 "Abnormal NIO1HeadStage termination and Error in requestLoop() on client timeout"
## Version
We are using http4s version 0.20.0-M1 with blaze version 0.14.0-M9

## Description
We are seeing the following pair of errors in the logs. The service completes the request successfully, so no errors are exposed to the client, but we believe these errors to be occurring on a per-client basis. So, when a client makes a request, they can make multiple requests to the service without trigg

[2018-11-01 03:18] rossabaker commented on #2193
I'm having trouble reproducing this.  Does anyone have a runnable example?

[2018-11-01 04:09] rossabaker commented on #2197
https://travis-ci.org/http4s/http4s/jobs/449167552#L3758

[2018-11-01 04:14] rossabaker commented on #2193
Is this happening when the requests are timing out, not just slow?  I think that is the key here.

[2018-11-01 04:20] rossabaker opened #2232 "Merge v0.18.21 before v0.20.0"
We have a couple bugfixes against release-0.18.x.  Don't forget to merge these before releasing 0.20.0.

[2018-11-01 04:21] rossabaker opened #2233 "Refresh MimeDB before 0.20.0"
This can infuriate MiMa, so running it right before we release a MiMa baseline is a wise idea.

[2018-11-01 11:29] aeons commented on #2224
Alright, I might go ahead and PR that.

Wrt. the Message typeclass, did we go back on that idea? Or what was the reason for the PR being abandoned? Just lack of time?

If so, I might try reviving the idea.

[2018-11-01 13:18] ChristopherDavenport commented on #2224
Its a great idea! Its a ton of work. I don't think that's possible to get into 0.20

[2018-11-01 14:04] aeons commented on #2224
Alright.
So, how about,
- a PR that removes the effect syntax stuff and streamlines some of the methods on Message/Request/Response, aimed at 0.20
- a PR that builds on the previous typeclass work, aimed at some future release

[2018-11-01 14:53] ChristopherDavenport commented on #2224
That sounds ideal.

[2018-11-02 02:43] rossabaker commented on #2193
Thinking this may be related to #2068.

[2018-11-02 03:04] rossabaker commented on #2068
I'm not able to reproduce this on 0.18.20.  If you still see it, please reopen.

[2018-11-02 03:04] #2068 closed

[2018-11-02 03:51] rossabaker commented on #2193
Trying to reproduce this on 0.18.x:

[code]

After the `responseHeaderTimeout`, it clears out the wait queue:

[code]

After a series of `WaitQueueFullFailure`, the final request goes through:

[code]

I'll modify and try on master in the morning, since it has been reported twice.  But if anyone has a reproducible case, that would help a lot.

[2018-11-02 07:05] #2203 closed

[2018-11-02 13:45] rossabaker commented on #2197
Probably related: https://travis-ci.org/http4s/http4s/jobs/449823379#L3298

[2018-11-02 14:07] #2206 closed

[2018-11-03 21:18] ptoussai commented on #2229
I'm seeing the same errors in the log. It always happens after I just started the server, and after the first request (which is received correctly by the client without issue). At that point I haven't seen any real effect, besides the logs.
I'm not using an IOApp, and start the server using `val fiber = serverBuilder.resource.use(_ => IO.never).start.unsafeRunSync()`

[2018-11-04 01:47] rossabaker commented on #2229
What other timeout settings do you have?  Can someone share their full blaze configuration?  I'm having trouble reproducing this.

[2018-11-04 13:47] jakubrozenbajger commented on #2229
Every request to app result in following log.
[code]

[code]
BTW. Same issue with websockets, but when I send messages with delay between each message smaller than timeout then it works correctly.

[2018-11-04 21:37] rossabaker commented on #2229
Which client is this with?  OS?  This is what I get with `http http://localhost:8080/http4s/ping` on @jakubrozenbajger's example.  I get similar with curl.

[code]

[2018-11-04 22:36] jakubrozenbajger commented on #2229
Newest Chromium on Manjaro Linux. I'll try to debug tomorrow if you cannot reproduce this issue.

[2018-11-05 00:37] rossabaker commented on #2229
Aha!  It happens on Chrome and Firefox.

[2018-11-05 13:37] rossabaker opened #2245 "Clearer semantics for idleTimeout on server"
What should an idle timeout on the server do?

* Is it only when a request is active?
  * When is a request "active"?  Once the request line is received?
  * Should we write anything if we timeout waiting for a request line?
     * A 408?
         * On initial connection, or on all subsequent connections?
  * Should we write anything if a request is active?
     * Could be a 408, if we're stuck wa

[2018-11-05 13:39] rossabaker commented on #2229
So it actually is a real timeout.  It's because the idleTimeout is not just the timeout for an active request, but for a persistent connection.  This is the server too loudly chasing off a persistent connection that the browser kept.

#2244 makes it quieter and less scary with the existing semantics.

#2245 opens a discussion about whether we're conflating settings and what smarter things we might

[2018-11-05 21:28] jakubrozenbajger commented on #2245
As far as i know timeout for idle connection in Play Framework is something around 2 minutes. Maybe change of the default value will be sufficient.

[2018-11-05 22:21] #2224 closed

[2018-11-06 05:01] ngbinh opened #2251 "Monix Task.gather() blocks Http4s client pool from reclaiming failed tasks"
Using Task.sequence() works as expected.

The repro can be found here https://github.com/ngbinh/http4s-monix

snip of tests

the setup:

[code]

the tests:
[code]

[2018-11-06 06:10] ngbinh commented on #2251
/cc @alexandru

[2018-11-06 06:34] ngbinh commented on #2251
Thanks for the quick reply.
[code]

So it works well with AsyncHttpClient on all three cases. But failed on Blaze with `Task.gatherUnordered` and `Task.gather`.

Will try on `parMapN` and `IO`

[2018-11-06 07:07] rossabaker commented on #2251
The connection pool is fully allocated, and no progress gets made beyond the first four requests.  The test passes when the status starts at 200, making the task succeed.  The pool manager needs to recycle the connection on error, and is not.

Going to see if I can write a failing unit test against IO, so we know it's not Monix specific (I am fairly certain it is not) and fix it.

[2018-11-06 07:21] rossabaker commented on #2251
It's not Monix.  I have a failing unit test.

[2018-11-06 08:00] #2229 closed

[2018-11-06 10:34] ngbinh commented on #2251
looks like when there is an error, the connection isn't released at all. I pushed the tests to show the failure of even `Task.sequence` in https://github.com/ngbinh/http4s-monix

[2018-11-06 11:34] ngbinh commented on #2251
https://github.com/ngbinh/http4s-monix/tree/ver-0.18.21 for `0.18.21` and Blaze client works fine

[2018-11-06 15:29] jeremyrsmith opened #2252 "Websocket compression support (`permessage-deflate` / RFC RFC 7692)"
It would be great if websockets (server-side) could support the `permessage-deflate` extension, which provides compression for websocket frames. It's described in [RFC 7692](https://tools.ietf.org/html/rfc7692) and is currently implemented client-side in at least Chrome, possibly others.

[2018-11-06 19:51] marko-asplund opened #2253 "TimeoutException: Timeout of 30 seconds triggered. Killing pipeline."
I get the following error message in the log with http4s v0.20.0-M2. This doesn't occur with 0.18.19.
Not sure if this is related to http4s client or server.
The error message looks the same as with #2156, but this still happens with M2.

[code]

[2018-11-06 19:55] howyp opened #2254 "Support valueless query parameters in the DSL"
I couldn't find a way to match valueless query parameters using the http4s DSL.

These are the sort that are used as a flag ie:

`http://example.com/foo?bar`
vs
`http://example.com/foo`

There’s no value for `bar`, but it’s presence or lack of indicates that the resource should behave differently. I tried an `OptionalQueryParamDecoderMatcher[Unit](“bar”)`, but that supplies `None` even if the para

[2018-11-06 19:56] howyp commented on #2254
As was very helpfully suggested by @andimiller, this is a good workaround:

[code]

But I think it would be nice to find a way to do this directly in the DSL

[2018-11-06 19:58] rossabaker commented on #2253
That's the server.  We just fixed a variant of this in M2, but there could be more.

- What is your server config?
- What client did you use?
- Does it actually time out a request, or is this happening in the background?
- Do you have a reproducible example?  This will make it easier to chase.

[2018-11-06 20:01] howyp commented on #2254
Looking at the existing code, I guess we see the behaviour I described above because the `_.headOption` on the sequence of values occurs before the `QueryParamDecoder` is ever called:

[code]

So I guess if we want to fix this it may mean changing the API between the matchers and decoders ☹️

[2018-11-07 14:14] #2232 closed

[2018-11-07 16:48] marko-asplund commented on #2253
1.
[code]
2.
[code]
3. it appears that no requests actually time out
4. unfortunately, not ATM

[2018-11-07 18:49] zarthross opened #2257 "Removal of `ResponseOps` breaks Rho's `Result` - Http4s `Response` parity."
This commit b54af3a12b5f7b838d9346171a902224411a13d1 in PR #2234 breaks Rho [here](https://github.com/http4s/rho/blob/a12cbe1d2e5722b8fe72a30ea095b36655b753ba/core/src/main/scala/org/http4s/rho/Result.scala#L87).  Rho was using the `ResponseOps` trait to keep the the signature of the Result and response types the same.  Unfortunately without it Rho will need to manually keep pace.  Could we possib

[2018-11-08 05:12] rossabaker commented on #2251
I'm not sure I'm seeing the same thing as you on [this commit in http4s-monix](https://github.com/ngbinh/http4s-monix/commit/3e4dc362bbe87491a11e702a6142a893556f3862).  I don't see a failure on `sequence`, and async-http-client is also failing.  (Stack traces trimmed):

[code]

[2018-11-08 07:30] ngbinh commented on #2251
@rossabaker yes. `AsyncHttpClient` also fails, but for a different reason.

I saw `sequence()` sometimes fail, not always though. I guess it could just be the 10 seconds timeout is too short.

[2018-11-08 07:33] ngbinh commented on #2251
In essence, I think the connections were not released right away after failures, they can only be reclaimed after the explicitly set timeout.

[2018-11-08 18:18] zarthross commented on #2257
I would say an `AuthedRequest` is a 2nd kind of http4s `Request` and could benefit from that typeclass approach as well.

[2018-11-08 19:52] alexandru opened #2259 "Endpoint freezes after ExecutionException: Boxed Error"
Not sure if this error was reported yet, but the endpoint freezes and is unable to process more requests:

https://gist.github.com/alexandru/76a1bfed8fda656421248f7ad7a8fc60

Note that only the endpoints that are actually doing something are freezing, because the homepage that simply returns an `Ok("Pong")` still works.

My `build.sbt` dependencies:

[code]

[2018-11-08 20:13] rossabaker commented on #2259
This is probably a bug in blaze, but we'll track it here.

Which JDK version?  Something changed with the SSLEngine in JDK 11 that is causing blaze problems, but I've not seen this.

[2018-11-08 20:14] alexandru commented on #2259
It's running on OpenJDK 8, Ubuntu (latest LTS).

[2018-11-08 20:14] alexandru commented on #2259
Btw, anything I can do to make it work? Alternatives to Blaze?

[2018-11-08 20:36] rossabaker commented on #2259
There is a servlet backend.  http4s-jetty and http4s-tomcat provide embedded containers similar to the `BlazeServerBuilder`.  They still take `HttpRoutes` instead of `HttpApp`, which is an inconsistency that's on my todo list.  If you've got an `HttpRoutes`, don't call `.orNotFound`, and you'll still have an `HttpRoutes`.

Can you expand on routes that are "actually doing something"?  Large reques

[2018-11-08 20:39] rossabaker commented on #2259
I think I can fix this with a blaze milestone.  Watch this space.

[2018-11-08 20:46] alexandru commented on #2259
The server's code is here: https://github.com/alexandru/vimeo-download-plus/tree/bug

I created a tag to ensure you have the code.

The server is up and running at `videos.monix.io`. It's not very deterministic. It comes and goes.

Problematic endpoints:

- https://videos.monix.io/get/299709216/
- https://videos.monix.io/redirect/299709216/SD%20360p/

When I'm testing these right now, they work. D

[2018-11-08 20:55] rossabaker commented on #2259
Try adding the following dependency.  The one it evicts is binary compatible.  I tried to simplify the code and made a bad assumption, and this reverts it to the way older blazes worked:

[code]

It's on oss.sonatype.org now, and will be on Maven Central when it syncs.

A version at least this high will be in the next http4s release, so remove this explicit dependency on the next upgrade.

[2018-11-08 20:59] alexandru commented on #2259
😲 that was fast 👍 will upgrade 🤞

[2018-11-08 22:21] rossabaker opened #2261 "Appveyor failing due to lack of heap space"
[This](https://ci.appveyor.com/project/ChristopherDavenport/http4s-m0hqu/builds/20159271/job/h07sqq5tor406ngv#L2197) is a pretty frequent failure lately.  I've been ignoring it.  We should figure out how to increase it or let appveyor go.

[code]

[2018-11-08 22:22] #2193 closed

[2018-11-09 01:58] rossabaker commented on #2257
Okay, my resistance is wearing down.

In the short term, I guess the shortest path is to bring back `ResponseOps`?  Maybe even as `private [http4s]` so we're not breaking a public interface when we evolve to a full typeclass?

[2018-11-09 02:54] ChristopherDavenport commented on #2257
Why does this need to be in http4s, rather than somewhere in Rho?

[2018-11-09 04:29] rossabaker commented on #2257
Pros:
* It avoids duplication and keeps rho more consistent with core.
* The operations look like the eventual typeclass

Cons:
* Child classes in another project are easy to break. (See: this ticket)

[2018-11-10 08:41] marko-asplund commented on #2253
Here's a full log extract with slightly more info from just now:
[code]

[2018-11-10 14:02] zarthross commented on #2257
@rossabaker Will a fix for this make it into 0.20?

[2018-11-10 15:15] rossabaker commented on #2257
I would like to have a solution for 0.20, but can't do it myself between the blaze tickets and obligations this weekend.  I think the typeclass is the correct long term solution for 1.0.

I think the two correct short term solutions are to either bring it back as a `private[http4s]` trait or to copy the old `ResponseOps` into rho.  I'm open to either.

[2018-11-10 15:28] rossabaker opened #2265 "Stage has request in progress"
Not reliably reproducible:

[code]

[2018-11-10 17:39] ChristopherDavenport commented on #2257
I personally vote for moving this to Rho, it no longer needs to be in core.

[2018-11-11 00:13] zarthross commented on #2257
Here's what I think we will do for now.  I'll define typeclass instances for Response in Rho for now, with the goal of (at least making an attempt) to moving that into the Core.

[2018-11-12 19:36] #2261 closed

[2018-11-12 22:11] lukestephenson opened #2268 "Discussion - ResponseGenerators should not build `F[Response[F]]`"
Currently the [ResponseGenerators](https://github.com/http4s/http4s/blob/9e05425f08ff597553fbfcc3fb75f15aaea0181c/dsl/src/main/scala/org/http4s/dsl/impl/ResponseGenerator.scala#L37) generate `F[Response[F]]`.  For example:
[code]

Now if I introduce some database access, I might have something like:
[code]

I think this code isn't ideal as there is no `IO` involved in defining the response (stream

[2018-11-12 23:00] rossabaker commented on #2268
Through http4s-0.18, encoding a body was an effect: An `EntityEncoder` returned `F[Entity]` rather than `Entity` , so we had no choice.  Now we do.

If we were to make this change, it would have a big effect on simpler routes:

[code]

Becomes

[code]

That response generator DSL has been effectful for years, so this would be a _massive_ breaking change.

More thoughts on a free monad later, but I

[2018-11-12 23:53] wjlow commented on #2268
To add to Luke's comment about Free monad, you end up with a `Script[Response[Script]]` and you're unable to write a natural transformation from that to `IO[Response[IO]]`.

I do understand that this would have a big effect on simple routes though!

[2018-11-13 00:02] rossabaker commented on #2268
This still works, right?

[code]

i.e., you can do it with the functions on `Message`, just not the syntax from `ResponseGenerator`?

[2018-11-13 15:03] rossabaker commented on #2254
Fixed by #2266.

[2018-11-13 15:03] #2254 closed

[2018-11-13 16:51] rossabaker commented on #2259
I think this is resolved by 0.14.0-M11.  If not, please reopen.

[2018-11-13 16:51] #2259 closed

[2018-11-13 16:51] rossabaker commented on #2265
Fixed by #2258.

[2018-11-13 16:51] #2265 closed

[2018-11-13 17:08] alexandru commented on #2259
I haven’t noticed the problem anymore, thanks.

[2018-11-13 17:48] #1659 closed

[2018-11-13 19:02] rossabaker commented on #2251
Fixed by #2258.

[2018-11-13 19:02] #2251 closed

[2018-11-14 00:33] lukestephenson commented on #2268
Actually the above didn't work.  `Message.withBody` also wraps the result in `IO`.
[code]

Was `withEntity` a typo, or does that behave differently to `withBody`?

[2018-11-14 01:18] rossabaker commented on #2268
`withBody` was deprecated in favor of `withEntity` when `EntityEncoder` became pure instead of effectful:

[code]

[2018-11-14 01:21] lukestephenson commented on #2268
Ok.  Still on `0.18` so will have to upgrade at some point.

Thanks again for all the great work and responding to this.

[2018-11-14 15:31] randm-ch opened #2273 "Routes with `"" /:` don't match in 0.20"
After [chatting with](https://gitter.im/http4s/http4s?at=5be9b9c0bb06d73a99629646) @rossabaker on Gitter I'm opening this issue. Given the following code:

[code]

[2018-11-14 16:19] rossabaker commented on #2257
This moved to rho for now, and we can look into removing that from rho when the typeclass happens.

[2018-11-14 16:19] #2257 closed

[2018-11-14 16:38] ngbinh commented on #2245
I have seen a bunch of
[code]

and the request actually fails with `500`. Not sure if it is intended

[2018-11-14 16:45] rossabaker commented on #2245
No, this was reported on Gitter as well.  This looks like a regression in M3.

[2018-11-14 16:53] cquiroz commented on #2245
Yeah, I'm seeing it too in M3

[2018-11-14 16:54] rossabaker commented on #2245
This ticket is about the server.  Please open this as a separate bug to track.

[2018-11-14 19:30] amarrella opened #2274 "Make scalafix github-based"
Scala steward is going to try to support opening prs with scalafixes (see https://github.com/fthomas/scala-steward/issues/149). They are initially going to support github based scalafixes. I think it would be a nice idea to convert our scalafix from binary to github based so the day 0.20 gets released and scalasteward supports it (whichever is the latest) people get flooded with nice prs and have

[2018-11-14 19:32] amarrella commented on #2274
(This would also make the scalafix 1 step for people who do it manually, the drawback for us is uniquely that we need to have everything in one file instead of separate files). But I think we should favor user usability above all.

[2018-11-14 19:51] rossabaker commented on #2274
What does the one-file constraint mean?  Would we still be able to support multiple incremental versions?

[2018-11-14 19:55] amarrella commented on #2274
Yes that's not related. It's just a bit harder to maintain as the entire migration rule is in one file.
Multiple incremental versions are supported via git tags (see readme here https://github.com/typelevel/cats/tree/master/scalafix )

[2018-11-14 19:58] rossabaker commented on #2274
The people who would benefit from this change are http4s apps that use scala-steward?  It sounds exciting, but I imagine most http4s apps are in private repos and thus wouldn't get PRs from scala-steward.  That may mitigate some of the upside.

The downside doesn't sound that bad.

And another upside is that we could release improvements to the scalafixes without doing a patch release, right?

[2018-11-14 20:00] amarrella commented on #2274
Correct, and another one is that the scalafix becomes one step.
Eventually all of this will be available on scalafix for binary releases too. But not sure about the timeline on that. It would be nice to have the one-step scalafix before 0.20 final is out

[2018-11-14 20:07] fthomas commented on #2274
@rossabaker I know of at least three people who run their own scala-steward instances (or at least tried running it) with GitHub Enterprise or with private GitHub repos. So there is no restriction that only public repos would benefit from this.

[2018-11-14 20:55] rossabaker commented on #2274
Oh, that makes it even more compelling then. :+1:

[2018-11-14 21:01] amarrella commented on #2274
Cool, i'll work on it :)

[2018-11-14 23:11] BenShaw commented on #2253
If it helps I was getting this error until I updated to 0.20.0-M3 after which it dissapeared

[2018-11-15 00:11] rossabaker commented on #2096
Partially done by #2262.  Demilestoning, because we shouldn't hold up the rest of the release on it.

[2018-11-15 00:12] rossabaker commented on #2197
We haven't seen this in a while.  Optimistically closing.  I have a hunch that #2258 was helpful here.

[2018-11-15 13:16] cquiroz opened #2277 "IdleTimeoutStage exception on the client"
I'm seeing an exception sometimes when doing client calls:

[code]

[2018-11-15 14:05] jchampemont commented on #2253
Hi,

I'm on M3 and and I still have this issue.

Using this repo: https://github.com/jchampemont/http4s-2253

When I do a simple GET request to the `/_health` endpoint (from Insomnia REST client or Firefox) everything goes well. And then 30s later the previously mentioned stacktrace is logged to the server.

Here is a more complete log extract:

[code]

[2018-11-15 14:55] rossabaker opened #2278 "WritePendingException: null from client"
I can sometimes hit this `evalMap`ping a basic `GET` request 20,000 times.

[code]

/cc @ngbinh, who also reported it

[2018-11-15 14:56] rossabaker commented on #2216
I don't want to block the release on this one.  Demilestoning.

[2018-11-15 15:42] rossabaker commented on #2253
It doesn't happen on `Ok("pong")` but it does on `Ok()`.  That's a big clue.

[2018-11-16 00:00] ngbinh commented on #2278
In our case, it happens when we run our integ suites (probably hard to reproduce)

[2018-11-16 00:07] rossabaker commented on #2278
I have a pretty easy reproduction on this one.  Not one I'm sure I want to run on Travis, but it shows the bug.

[2018-11-16 00:36] #2274 closed

[2018-11-16 01:51] ngbinh commented on #2278
That's great

[2018-11-16 10:59] amarrella opened #2279 "Duplicate withEntity in scalafix"
Nothing major, but i found a little bug where sometimes the withBody -> withEntity transformation leads to `withEntitywithEntity`. I'll try to fix it as soon as I can :)

[2018-11-16 17:17] rossabaker commented on #2253
False observation above.

I can reproduce this on the example project but not on the examples-blaze in the repo.  I haven't identified the difference yet.

[2018-11-16 18:43] zarthross opened #2280 "`org.http4s.util.decode` throws `ClassCastException` on empty chunk"
Found an issue using the `decode` function when the Stream happens to only contain an empty chunk.  Albeit probably a rare issue, but I encountered it in the wild.

The exact exception was:
` java.lang.ClassCastException: [Z cannot be cast to [B (package.scala:28)`
Occured here: https://github.com/http4s/http4s/blob/30f88e7cf9d43ce1504fde8475e9bfd8a2939392/core/src/main/scala/org/http4s/util/packa

[2018-11-16 21:48] tbrown1979 opened #2282 "ClientMetrics will mark metrics before connection has closed"
Metrics are being recorded here before we actually close the connection: https://github.com/http4s/http4s/blob/80df97e1fdb1d764059acafcd1f4331135964560/client/src/main/scala/org/http4s/client/middleware/Metrics.scala#L46

The finalizer for the client.run won't run until after the metrics have been marked. When you use the `Resource` you'll mark your metrics before you've finished consuming the bod

[2018-11-16 21:52] tbrown1979 commented on #2282
This is something I can look into fixing.

[2018-11-17 07:16] rossabaker commented on #2253
This code is still using `BlazeBuilder,` which we deprecated in favor of `BlazeServerBuilder` to distinguish it better from the client, but we failed to deprecate the companion object.  The idle timeout implementation changed in `BlazeServerBuilder`, but not in the deprecated `BlazeBuilder`.  A workaround is to use `BlazeServerBuilder`.  Deprecation and a fix is coming.

[2018-11-17 10:31] jchampemont commented on #2253
My bad! Thanks, I'll use `BlazeServerBuilder` then.

[2018-11-17 15:55] rossabaker commented on #2253
Nope, we didn't deprecate it properly.  Sorry for the problem.  #2285 should prevent it from happening to anyone else.

[2018-11-17 17:38] marko-asplund commented on #2253
@rossabaker So, for the repro code, the workaround would be as follows, right?

https://github.com/marko-asplund/http4s020-timeout/commit/d3ef8bf6434e6024af0f831fa90eb7362bb21ffa

Looks like there won't be anything like `mountService` prefix in 0.20, will there?
I think it was rather useful when having multiple distinct resources in your REST API and you wanted to make sure there won't be any conf

[2018-11-18 00:24] rossabaker commented on #2253
@marko-asplund Do you find the new way worse than combining `HttpRoutes` in a `Router`?  We felt that multiple `mountService` calls made a bit more sense in a servlet context than they did in blaze, but I'm happy to entertain arguments otherwise.  It might be better as a separate RFC issue.

[2018-11-18 21:48] sebastianvoss opened #2289 "StackOverflowError in blaze client"
I'm getting a `StackOverflowError` in blaze client. My app is sending a `POST` request every second and this happens after several hours. The client is using a SSL context for mutual TLS.

Version: `0.20.0-M3`

[code]
and another one:

[code]

[2018-11-19 02:06] rossabaker commented on #2197
[Nuts](https://travis-ci.org/http4s/http4s/jobs/456725017#L3927).

[2018-11-19 13:10] #2282 closed

[2018-11-19 15:12] rossabaker commented on #2278
I have confirmed that this is not the timeout stages.  I stripped them all away and it still happens.  I now suspect that it is related to the simultaneous rendering of the request with receiving of the response.  I think we need to figure out how to formally cancel the request writer and await its cancellation before recycling.

[2018-11-19 15:54] mitallast opened #2290 "Unexpected behaviour of Retry middleware"
I'm testing 0.19.0 and 0.20.M3 versions with same unexpected behaviour using Retry middleware.

I shutdown local server for emulate connection erros, with this scriptlet:
[code]
I expected to see at least one attempt, but the exception was thrown right away:
[code]

using a debugger I discovered a potential problem, but not sure:
https://github.com/typelevel/cats-effect/blob/v1.0.0/core/shared/src

[2018-11-19 17:20] rossabaker commented on #2290
It works against a `Client.fromHttpApp` that raises a `ConnectException` on the first request and succeeds on the next.  The blaze-client returns a `Suspend`ed resource.  I think you've identified the problematic line in cats-effect.  Still thinking about whether that's a problem in cats-effect or in our use of it. :thinking:

[2018-11-19 17:58] mitallast commented on #2290
Ok, thanks!
I'm try fix with PR https://github.com/typelevel/cats-effect/pull/421

[2018-11-19 19:19] rossabaker commented on #2290
Yes, I'm increasingly convinced that the cats-effect ticket is the proper solution.

[2018-11-26 18:29] balatbn commented on #2218
We are planning to do mTLS and we are facing the same issue: Getting client certificate(X509) from the request. Is there any other way we can get this info?

[2018-11-26 20:57] rossabaker commented on #2218
We can add these to the servlet backend fairly easily.  @sebastianvoss was working on adding to blaze, but it is non-trivial.  There is no solution right now, but I'd like to support this.

[2018-11-27 19:34] #2289 closed

[2018-11-28 09:29] sebastianvoss commented on #2218
Yes, I got distracted by other stuff (it is more effort than we initially thought). I will hopefully have some time to get back to it soon. If someone else wants to jump in I'm happy to help.

[2018-11-28 13:15] calvinbrown085 commented on #2096
Just looking for other work here, would this be a candidate? https://github.com/http4s/http4s/blob/master/dsl/src/main/scala/org/http4s/dsl/impl/Path.scala#L47

[2018-11-29 13:01] calvinbrown085 commented on #2011
I can take `Access-Control-Max-Age`

[2018-12-06 12:45] rossabaker opened #2311 "Flaky test: LocalTokenBucket"
[code]

https://travis-ci.org/http4s/http4s/jobs/464170472#L836

[2018-12-08 14:05] #2280 closed

[2018-12-08 14:33] zarthross opened #2312 "Timeout on `Client` constructed using `fromHttpApp` does not work as expected"
It appears the `timeout` functionality has changed with the release of cats effect 1.1.0.
Previously the two below methods of doing a timeout worked the same way, now they do not.
Regardless of timeing, both methods result in a timeout error even though the `timeoutTo` method was allowed to run to completion.

I suspect the problem stems from this issue in cats effect (https://github.com/typelevel

[2018-12-13 21:16] SpyMachine opened #2314 "More options for WebjarService"
I really want to use WebjarService in my application but I just couldn't get it to do everything I wanted to. My main issue was that I did not want to have to include a version number in the path as this is subject to change in the future. I'd much rather use the BuildInfo plugin and update the version in one place. Moreover, it'd be nice to have more control over the path in general.

I ended up

[2018-12-15 18:03] timo-schmid commented on #2314
Hi!

Yes, I've been doing exactly something like that. I use BuildInfo to get the library's version at compile time (create a custom sbt setting, set it to the webjar's version, use it to load the lib, add the setting to BuildInfo) and then use those in my code.

I've designed it with the version number in the path for 2 reasons:
* Http4s doesn't know anything about the webjar's version by itself.

[2018-12-19 10:00] jendakol commented on #1256
Hello,
will the fix be backported to 0.18, please? I'd love to use newer lins but there is some dependency hell (Monix incompatible with cats-effect 1.0 yet, but http4s > 0.18 using it) so I am not able to upgrade right now.

[2018-12-20 03:34] niro-sean opened #2321 "jsonOf Implementation hangs on large requests"
Recently I was testing sending large payloads of (10's of thousands of lines of json), and found the CPU usage of the server to max out, and seemingly never recover. After investigation I discovered the  issue to reside in the function:
[code]

which is called when `jsonDecoderAdaptive(cutoff = 100000)` is called with a cutoff > 100000.

My suspicion is that the `chunks` call is producing a chunk

[2018-12-20 17:51] rossabaker commented on #2273
`/:` is right associative.  It behaves much like `::`.  A `Root` wouldn't make any sense here.

`/` is left associative.  Think `/` and `Root` as being like `::` and `Nil`, but in the opposite direction.

If your routes are `path` instead of `"" /: path`, I think they'll do what you want:

[code]

I would expect `"" /: path` to match something leading with a double slash, where the empty string re

[2018-12-21 05:04] rossabaker commented on #2273
See #2322 for a proposed change to make the behavior of `"" /: path` more consistent.

[2018-12-22 04:15] rossabaker commented on #2321
`jsonDecoderByteBufferImpl` is faster, but buffers the entire body.  That's why it's preferred, but only up to a cutoff.  Of course, since we're building a `Json`, we're still not putting an upper bound on memory consumption.  Maybe that cutoff is too low, or even shouldn't exist.

And the `jawnDecoderImpl` definitely shouldn't hang.  That sounds like a bug.  We're upgrading both circe and jawn in

[2018-12-24 15:50] zarthross commented on #2312
While that may be true, the problem is how the change from cats-effect 1.0.0 to cats-effect 1.1.0 (I believe this one https://github.com/typelevel/cats-effect/pull/376) changed the way `timeoutTo` behaves within `Client.fromHttpApp`.

I have some unit tests in my app that was ensuring that a timeout was properly setup, and I noticed the change in cats effect caused my tests to fail.  My test is ba

[2018-12-24 15:52] zarthross commented on #2312
If this is an issue I should bring up with on the Cats effect issue board let me know... its just I first noted the issue for `fromHttpApp` because that's how it affected me.

[2018-12-25 05:14] rossabaker commented on #2312
Yes, this is an unfortunate change.  I'm running out of energy tonight, but I'd like to find a solution to this.

[2018-12-28 01:47] aeffrig commented on #2218
The PR allows for http4s to be usable for those types of applications that require client certificate information by running in a compliant servlet container. If someone wants to comment more on working with SSL session information in blaze, I might be able to help with that as well.

[2018-12-28 10:20] nigredo-tori opened #2330 "Tighten up resource handling in Blaze server builder"
The current approach seems to be to create everything in one huge `delay`, and yield `shutdown` for cleanup. This works when the initialization is successful, however a lot of statements here can throw, in which case anything allocated before them doesn't get freed.

As an example, the part that bit me today is in [this part of code](https://github.com/http4s/http4s/blob/487e1d3558a0ab86b0fff50e24

[2018-12-28 11:15] guizmaii commented on #760
Maybe we can close this issue now ?

[2018-12-30 03:52] rossabaker commented on #2330
Very good point.

[2018-12-30 03:58] rossabaker commented on #2218
@aeffrig The blaze branch in progress is at https://github.com/sebastianvoss/http4s/tree/add_ssl_request_attributes.  I can't remember precisely where that stalled, but @sebastianvoss may recall.

@balatbn Does this Undertow setting map map cleanly to `needClientAuth` and `wantClientAuth` on the `SSLEngine`?  An enum instead of a boolean seems appropriate.

[2018-12-31 12:42] rohdef opened #2334 "Tutorial references old code"
Hey,

reading through the tutorial I stumbled over code that no longer runs. Also found the solution at https://github.com/http4s/http4s/issues/1501

It's in the dsl-chapter where it references orNotFound in the testing part, which seems that it should be written using ```apply(getRoot).orElseF(NotFound())``` in stead (that is what works for me at least).

Would the best way to fix it be to fork t

[2018-12-31 15:14] rossabaker commented on #2334
@rohdef Yes, that would be exactly right.  Anything merged to release-0.18.x eventually gets merged to master, so it would correct it for both versions.  Thanks!

[2019-01-01 04:33] #760 closed

[2019-01-01 13:36] rohdef commented on #2334
I hope I did it right :) at least there's a suggestion, and I also added a short part about getting the status and the body as a string (last one caused a lot of search and confusion, so hopefully, I'll save others from that)

[2019-01-01 13:43] rohdef commented on #2334
If I did it right, I will make a bit more changes and create pull requests for those too, since I can see the problem is also present in later parts of the tutorial

[2019-01-02 17:44] balatbn commented on #2218
Undertow seems to map correctly to `need` and `want` in `SSLEngine`.

https://github.com/undertow-io/undertow/blob/master/core/src/main/java/io/undertow/protocols/ssl/UndertowAcceptingSslChannel.java#L173

[2019-01-03 18:00] BobWall23 commented on #1256
Seeing these on a server running http4s 0.20.0-M4.
[code]

[2019-01-04 06:49] tilmanrossmy opened #2338 "Client hangs when firewall blocks request"
If the client sends a tcp Syn and never gets an Syn-ack, the http4s client hangs forever and timeout settings don't have any effect. This is demonstrated in this gist:
https://gist.github.com/tilmanrossmy/cef2489230db0068b082061c9e840d22
Using a java.net Client the connectTimeout Setting will end the request for the same URL as in the gist above:
https://gist.github.com/tilmanrossmy/04421b2efc8fc9

[2019-01-04 14:07] afiore opened #2340 "Possible performance degradation in Blaze client connection pool"
Hi there,

This is a follow-up to a help request [started on Gitter](https://gitter.im/http4s/http4s?at=5c2e201dbabbc178b21f985d). While upgrading a fairly large code-base (~30K lines) from http4s _0.15_ to _0.18_, we seem to have stumbled upon a performance degradation due to changes in the implementation of Blaze client connection pool, with some of our endpoints taking 3/4 times as long to retu

[2019-01-04 16:06] rossabaker commented on #2218
Okay.  In that case, I think we should change that boolean to a sum type, and map it accordingly.

[2019-01-04 16:36] rossabaker commented on #2338
I suspect this would require a change all the way into blaze, but it's worth pursuing.  I consider the lack of a reasonable timeout, even if hardcoded, a bug.

[2019-01-05 21:57] aeffrig commented on #2218
PR #2328 includes merged changes for both servlets and blaze.  I was wondering about tests for this functionality, and lamenting the general lack of testing support for maintaining certificate-related tests.  I noticed the current blaze-client certificate expired on 14 March 2015, which means disabling the expiration checking in tests.   Would http4s be interested in programmatically-generated cer

[2019-01-06 02:42] balatbn commented on #2218
Certificate in the PR is valid for 10 years. But, I agree that programmatically generating certificate would be great.

[2019-01-06 03:58] rossabaker commented on #2218
I would love to see that.  I feel hypocritical telling people not to disable certificate validation in dev (in my best soccer coach voice: "Practice like you play!") and then cheating in tests.

[2019-01-09 13:52] randm-ch commented on #2273
Great news & works for me, thanks @rossabaker :+1:

[2019-01-09 17:12] bastewart opened #2346 "Client RequestLogger does not work with some client implementations"
`http4s` version: `0.20-M4`

The `RequestLogger` middleware does not seem to work with the `AsyncHttpClient` or the `OkHttpClient`. It does work with `BlazeClient`.

When trying to view headers and a body of a request nothing seems to log (not even an empty log line). The `ResponseLogger` does work with all of the above clients.

See gitter discussion: https://gitter.im/http4s/http4s?at=5c3622f063

[2019-01-10 12:34] sideeffffect opened #2347 "Strict query parameter matching"
if I have this case in my `HttpService`
[code]
it matches requests like `http://localhost/temperature` or `http://localhost/temperature?year=1` and that's fine.

but it also matches `http://localhost/temperature?superfluous=someval` or `http://localhost/temperature?year=1&superfluous=someval`

is there a way to do strict matching on the query parameters that doesn't allow any superfluous parameter

[2019-01-10 15:52] bastewart opened #2348 "Body of request can "go missing" when constructed using the apply method of Request"
`http4s` version `0.20.0-M4`.

I have created a repo to demonstrate this. I'm on gitter if anything needs an explanation and it would clutter here. https://github.com/bastewart/http4s-body-missing-test

I think this may have the same cause as #2346 because when the body goes missing the request logger also does not log properly.

Possibly something is (in a non-functional way) consuming the `Strea

[2019-01-10 16:04] rossabaker commented on #2347
I can't think of anything built in that would do that.  All of them are designed to be chained with others, so none of them imply the absence of others.  Maybe you could do something like:

[code]

It might be possible to define an operator for an exclusive query matcher.  Anything you can do with extractors, you should be able to do here.  I just don't know offhand what syntax would be desired fo

[2019-01-11 20:26] balatbn commented on #2218
Raised another PR for converting `clientAuthMode` to an enum

[2019-01-11 20:40] rossabaker opened #2352 "Flaky test: cancels on stage shutdown"
From #2350: https://travis-ci.org/http4s/http4s/jobs/478504963#L3922
From #2351: https://travis-ci.org/http4s/http4s/jobs/478520105#L3696

[2019-01-11 21:09] dwalend opened #2354 "NonBlockingServletIo request body truncated to one chunk"
NonBlockingServletIo request bodies are truncated to just one chunk. (With Tomcat 8.0.39, JDK 1.8.0_121-b13 , scala 2.11.12 , and http4s 0.20 M4.)

Work-around is to use BlockingServletIo, which does not have this problem.

This could be related to #1724 or #541 .

The server is

[code]

The client is

[code]

Let me know if you need more odd parts like the web.xml to reproduce the problem .

[2019-01-12 14:44] bastewart commented on #2348
I think this (and #2346) is caused because I don't specify the content-length manually and the fact that `OkHttpBuilder` and `AsyncHttpClient` blindly trust this (so use an empty body builder). `Blaze` at least (I haven't chased the `Jetty` code through) has fall bac

`OkHttpBuilder`:
https://github.com/http4s/http4s/blob/6cdec9d2154bc567270aaab886217e03b9ac591a/okhttp-client/src/main/scala/org/ht

[2019-01-12 15:32] dwalend commented on #2354
The other bit of note is that calling the server via curl didn't have this problem. I believe that's because curl works with 16k chunks by default, but stopped exploring when I found the work-around.

[2019-01-12 19:40] nebtrx commented on #2014
@rossabaker would you be interested in a **Http Method Overrider** middleware (kinda like the [Python's Django](https://pypi.org/project/django-method-override/))?

[2019-01-13 02:19] rossabaker commented on #2014
@nebtrx Yes, that has proven useful in other languages.

[2019-01-13 07:18] nebtrx commented on #2014
Cool! I just pushed a PR with that purpose. Please take a look at it and let me know how it goes.

[2019-01-17 14:26] CloudNiner opened #2361 "CORS Middleware docs example doesn't generate correct headers"
The instructions on the [documentation site](https://http4s.org/v0.20/cors/) for adding CORS to a server do not work as expected. I would expect to see a longer response headers list that includes the appropriate CORS headers based on the default allow all CORSConfig().

Using:
- Scala 2.11.12
- http4s 0.20.0-M5

I typed the entirety of the first set of examples up to the [Configuration section](h

[2019-01-17 17:59] balatbn commented on #2340
I ran both the tests in local box(Linux with JDK 1.8). During initial run, both clients took around 2-2.5 seconds. After that, 0.15 client takes around 300-400 ms. Meanwhile 0.18 client takes around 400-500 ms.

It looks like 0.18 is little bit slower, but I'm not able to reproduce the massive difference mentioned here.

What is the environment in which you are running the tests?

[2019-01-18 08:10] unhappy-boi opened #2362 "`OkHttpBuilder.run` blocks global execution context."
Http4s version: `0.20.0-M4`

`OkHttpBuilder.run` blocks global execution context. And it potentially freezes the whole service under a relatively high load.

## The root cause

Here is the source code of `OkHttpBuilder.run`:

[code]

The `enqueue()` call, which delegates to `okhttp3.Dispatcher.enqueue`, must acquire the monitor of `okhttp3.Dispatcher` instance first:

[code]

The problem is that t

[2019-01-18 09:18] piotrga commented on #1632
My 2 pence: Wouldn't it be helpful if the body of response was added to the exception message if it can be decoded to string, possibly truncated to 50kb?

Wouldn't it make troubleshooting much easier?

[2019-01-18 14:58] augi opened #2363 "Content-Length header not sent for requests larger than 10 kB"
Due to [this constant](https://github.com/http4s/http4s/blob/master/blaze-core/src/main/scala/org/http4s/blazecore/util/CachingChunkWriter.scala#L17) in private class, when making a request larger than 10 kB, the `Content-Length` header is not sent (because that buffer is flushed and so headers must be also written).

It would be nice to make this constant configurable, and maybe make the default

[2019-01-18 17:09] #1821 closed, assigned to nobody

[2019-01-18 19:34] rossabaker commented on #2362
Ouch.  Good find.  The question is where it should run.  We already have a blocking execution context devoted to the OkHttpClient.  We could run there.  But I'm concerned that your workaround implies that `readyAsyncCalls` is a bounded queue that blocks when full, and if we did that, we could spare the rest of the application but more easily lock up the client.

I agree with the problem but am not

[2019-01-21 09:31] augi commented on #2363
Yep, I will try to prepare a PR.

[2019-01-21 15:15] Pyppe opened #2365 "Prometheus server metric `active_request_count` keeps rising upon timeouts"
When Blaze server timeouts (using version `0.20.0-M5`) – either by `idleTimeout` or `responseHeaderTimeout` – the Prometheus metric for `active_request_count` keeps rising.

[code]

Then, create a few requests that will timeout:
[code]

Observe `active_request_count` has risen and never decreases:
[code]

[2019-01-21 15:24] Pyppe commented on #2365
Also FYI: this didn't happen on `0.19.0-M3` version.

[2019-01-21 15:26] augi commented on #2363
I tried to prepare a PR but I'm not successful :( I'm not able to handle so large project with `sbt` and track what must be changed.

My attempt is [in this commit](https://github.com/augi/http4s/commit/0279b70eff0bca7b8aad0234ce64e39f280d7216).

1. I removed default value from the `bufferMaxSize` parameter of `CachingChunkWriter`.
2. It's used in `Http1Stage` so I introduces a new _abstract val_

[2019-01-22 13:54] bardurdam commented on #2047
@rossabaker does this do the trick?

[code]
or this?

[code]

[2019-01-22 15:35] lbialy commented on #570
Is this going to get published in scope of tsec or http4s anytime soon?

[2019-01-22 21:15] ChristopherDavenport opened #2367 "Prometheus - Metrics Ops Mutable State in Pure Position"
https://github.com/http4s/http4s/blob/master/prometheus-metrics/src/main/scala/org/http4s/metrics/prometheus/Prometheus.scala#L155-L180

To demonstrate error
[code]
p2 will throw already registered exception. As a result Prometheus should be created in an effect to display this referentially transparently.

[2019-01-22 21:18] ChristopherDavenport opened #2368 "Logger Middleware Impure Operations"
`Logger` takes argument `String => Unit` and then applies this operation in map. This operation is a logging side-effect.

Rather than applying this in pure position we should instead modify the interface to `String => F[Unit]` such that we correctly log in an effect, and does not force people to run effects to put in place their own referentially transparent logging systems.

[2019-01-23 11:48] chuwy opened #2371 "Add StreamedJsonArray wrapper"
Default `EntityEncoder` for `Stream[F, A]` works that all `A`s are streamed as invalid JSON:

[code]

instead of

[code]

I believe that this behavior is slightly confusing, but nevertheless valid. However, we can add auxiliary wrapper class and corresponding encoder to it. Example implementation: https://gist.github.com/andimiller/671d5bfdfbf9ef1411522ca9c88a369c

[2019-01-24 05:10] rossabaker commented on #2340
I'm on a Chromebook right now and can't run a good test, but would it be feasible to run the benchmark server on a remote app?  Or provide a different thread pool for client and server?

How many cores do these test machines have?

[2019-01-24 16:45] #2363 closed

[2019-01-25 12:32] vglushak commented on #2361
I've encountered the same issue.
Something changed in Origin header parser.
If you provide header like "https://somewhere.com" it will add necessary CORS headers in output.

[2019-02-01 12:16] #1868 closed

[2019-02-01 14:08] CloudNiner commented on #2361
Docs PR #2374 was merged to clarify behavior. Given that [scheme is a required part of the Origin header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin#Syntax) this can be closed. I wouldn't expect this middleware to support appending proper CORS headers for an out-of-spec Origin header.

[2019-02-01 14:08] #2361 closed

[2019-02-04 07:49] #2330 closed

[2019-02-04 15:39] agourlay opened #2383 "blaze-server error logs on shutdown"
Using `0.20.0-M5` blaze-server via the `BlazeServerBuilder`.

On shutdown I can find the following entries in my logs.

[code]

This happens during an integration test for which the server is shutdown while the client side is still running (blaze-client).

The server is running with the default configuration.

[code]

[2019-02-04 16:11] #2367 closed

[2019-02-05 01:11] SethTisue commented on #2025
many more of your dependencies have now published for 2.13.0-M5

maybe it's time to take a fresh whack at this, see what's missing, and see what other maintainers we should go (politely) pester...?

[2019-02-05 09:38] svalaskevicius opened #2385 "It is impossible to gzip streams (e.g. sse)"
GZip uses fs2 deflater, which does not flush the deflated data but buffers it instead.

it would be nice if:
 - fs2 deflate had another argument to pass to jdk's Deflater (ability to use SYNC_FLUSH)
 - http4s GZip middleware allowed to pass it to the fs2 deflater

I have a working prototype for the above solution, if/when I get a chance I'll make it nicer and raise PRs for both projects - unless a

[2019-02-05 11:00] mblaze opened #2386 "BlazeClient: requestTimeout is not enforced"
## Problem Description

`requestTimeout` in `BlazeClient` is not enforced on certain requests.

**Expected behavior**: A timeout exception is thrown after 1 second.

**Actual behavior**: The request seems to be stuck indefinitely.

**Related issues**: #2338 (almost certainly the same source of the problem)

## Source

[code]

[code]

[2019-02-05 13:07] rossabaker commented on #2385
I haven't had a chance to look yet, but fs2-1.0.3 has some new gzip functionality.  I'm not sure whether that helps improve this situation or not, but it's worth a look.

[2019-02-05 13:07] aeons commented on #2025
Currently core has two dependencies that have no 2.13.0-M5 release:

- log4s, which builds on 2.13, but just needs a release ([issue here](https://github.com/Log4s/log4s/issues/29))
- Our shapeless-less fork of parboiled [http4s/parboiled2](https://github.com/http4s/parboiled2), which only needs a few fixes and a release

With those published locally, I'm running into some issues with `scalacOptio

[2019-02-05 13:08] rossabaker commented on #2025
scalacOptions are set by sbt-tpolecat.  It's possible that needs a bump or a fix.  A nice thing about sbt-tpolecat is it should give us reasonable flags out of the box for crossbuilds.

[2019-02-05 16:41] aeons commented on #2025
Where is sbt-tpolecat added to the build? I couldn't find it in plugins.sbt

[2019-02-05 16:44] ChristopherDavenport commented on #2025
It comes in through sbt-rig

[2019-02-05 16:56] rossabaker commented on #2025
It should be overridable if there's a new version.

Worst case, scalacOptions can be tweaked post-plugin.

[2019-02-05 17:06] SethTisue commented on #2025
I opened https://github.com/DavidGregory084/sbt-tpolecat/issues/5

[2019-02-05 18:04] aeons commented on #2025
I opened https://github.com/http4s/parboiled2/pull/5

The build failure looks like some issue with string comparisons. If anyone wants to take a look at it, feel free.

[2019-02-06 00:23] SethTisue commented on #2025
fixed in sbt-tpolecat 0.1.5, according to
https://github.com/DavidGregory084/sbt-tpolecat/issues/5#issuecomment-460854726

[2019-02-06 08:23] aeons commented on #2025
I opened https://github.com/Verizon/sbt-rig/pull/25 to get it into our build as well.

[2019-02-06 13:22] rossabaker commented on #2025
I approved that, but the Verizon infrastructure for rig is gone, and that project hasn't been ported to the Nelson org yet.  Can we just override the plugin version here to keep things moving?

[2019-02-06 13:27] aeons commented on #2025
Yep, I have a branch I'm working on. Will get it pushed soon

[2019-02-07 08:32] mr-git opened #2392 "Prometheus exporter `MemoryAllocationExports` is not registered."
It would be good to add `MemoryAllocationExports` in `PrometheusExportService#addDefaults`.

Other option would be to change implementation to use `DefaultExports.initialize()` from Prometheus, but this would bind implementation to `CollectorRegistry.defaultRegistry`.

[2019-02-07 19:14] mr-git opened #2394 "Unexpected `request_count` increase for `4xx`"
I made a small test application, mostly copy-pasted from examples, like:
[code]

`WebSocketHttp` is copy-pasted from from examples too, it is not really important, important is fact, that it is instrumented with metrics wrapping.

With this setup, each call on `/metrics` increases `request_count{classifier="",method="get",status="4xx",}` metric - it is logically expected, but I kind of expected, t

[2019-02-07 19:21] mr-git commented on #2365
I noticed the same behaviour, but with WebSocket - opening WebSocket increases `active_request`, but closing it from client doesn't decrease the count.

Log output using WebSocket example after calling `w.close()`:
[code]

[2019-02-07 19:25] ChristopherDavenport commented on #2365
Thinking about this, I think I have a reason, will need to investigate, as it may be related to service cancellation, which previously was not a concern, but is on the newer versions.

[2019-02-09 09:15] NAJ10 opened #2397 "Unable to override media type in EntityDecoder"
Following discussion took place on gitter
@NAJ10
Feb 02 18:12
How do I create an EntityDecoder that when a GET request is sent sends a custom media type in the Accept Header? At the moment CirceInstances.jsonDecoderAdaptive causes the media type of application/json to be sent in the Accept header and I want to override it. Essentially I am having same problem as reported at hmrc/vat-api#212 as I g