[2020-04-16 19:53] drocsid commented on #3299
Yes, building an `uber jar` is necessary for using graal.... Regarding docker I feel it's probably necessary if you work on a mac, making it more portable. Also good for production. I'm a hack so I didn't do that.

[2020-04-16 20:24] drocsid commented on #3299
I'm going to create reproduction for issues E.G. IPv6 on https://github.com/drocsid/https_example . This is based on the gitter8 template. Then I suggest after resolving this we might create an example based on the shipping gitter8 example....

[2020-04-17 05:42] drocsid commented on #3312
My bad. This only occurs with building a static image with Graal.

[code]

I will follow up with Graal devs

[2020-04-17 06:01] jamescosford commented on #3299
Building an uber jar is not technically necessary, it just makes life much easier by ensuring all your dependencies are in the same place. You COULD write out all of your dependency jar locations in the native-image classpath argument if you wanted to.

Docker is an easy option if you want to be able to easily run your product on different platforms, since native-image builds a binary which can on

[2020-04-17 06:38] drocsid commented on #3312
Following up here : https://github.com/gradinac/musl-bundle-example/pull/1#issuecomment-615070966

[2020-04-17 06:44] drocsid commented on #3299
I followed up regarding the ipv6 issue I'm having with the static image: https://github.com/gradinac/musl-bundle-example/pull/1#issuecomment-615070966

You can also see what I'm doing to build static images there:
https://github.com/drocsid/https_example .

If you change the blaze server to IPV4 address the native image build should work fine. Regarding documentation. My example is based off the g

[2020-04-17 09:23] LeifW commented on #3299
@noelwelsh did a blog post on running http4s under GraalVM:
https://www.inner-product.com/posts/serverless-scala-services-with-graalvm/

[2020-04-17 09:40] jamescosford commented on #3299
Wish I had seen that blog post... I ended up rolling everything back to scala 2.12 when I hit that issue.

[2020-04-17 10:05] drocsid commented on #3299
While the blog post from @noelwelsh is attractive and informative; it somewhat obfuscates the native image build commands via the native image sbt plugin.

That plugin doesn't have very much documentation. https://www.scala-sbt.org/sbt-native-packager/formats/graalvm-native-image.html

Finally it was not building a truly static image using muslC, then using linked components. Then one would have s

[2020-04-17 10:05] drocsid commented on #3299
In response to @LeifW ^^

[2020-04-17 10:07] drocsid commented on #3299
And I'm fine stepping away with my opinions if you prefer to just point at that example.

[2020-04-17 10:23] jamescosford commented on #3299
@drocsid I think your idea of writing some targeted docs has great value. It feels like there are a few useful resources around, but they all have shortcomings or miss some critical points.

[2020-04-17 10:30] drocsid commented on #3307
@rossabaker

Then do I add two bindHttp one for each interface? It doesn't work when I try for example

[code]
or
[code]

It only seems to serve on one of my interfaces. You can reproduce by making the changes to below.

https://github.com/drocsid/https_example/blob/aab787f5ce12e621002f1e661a2972f63df351c8/src/main/scala/com/example/weatherdemo/WeatherdemoServer.scala#L50

Then maybe it's a limita

[2020-04-17 10:45] noelwelsh commented on #3299
I think it would be very valuable to have canonical documentation on building http4s w/ Graal.  The `muslc` issues and fixes are something I haven't had to deal with yet, so having them documented somewhere would be fantastic.

Regarding my blog post, I think you misread it. The `native-image` command is given in the post:

[code]

I don't use `sbt-native-packager`. IIRC I couldn't get it to work.

[2020-04-17 11:06] hamnis commented on #3307
We should probably document this, but what you need to do is something like this:
(this has not been compiled)
[code]

[2020-04-17 11:38] drocsid commented on #3299
@noelwelsh sorry if I misread, actually went looking in the source tree and not sure where I got that `sbt-native-packer` from...

Here's some information regarding the command string I built bringing http://860weather.bar up.

https://github.com/drocsid/https_example/blob/master/native-image-build-cmd.sh

Adding `UseMuslC` to fix segfaults and build a true static image that doesn't depend on link

[2020-04-17 21:05] arixmkii commented on #3307
As both servers built with `.serve` from `BlazeServerBuilder` will be `Stream[F, ExitCode]`. There are already `merge`, `mergeHaltBoth`, `mergeHaltL` and `mergeHaltR` for one to chose from.

So, `server1.mergeHaltBoth(server2).compile.drain.as(ExitCode.Success)` should do the trick.

[2020-04-18 14:08] rossabaker commented on #3307
There is also a `.resource` on the server builder, which is handy if your server depends on other resources.  And to keep the servers alive until termination, `.use(_ => IO.never)`.  Something like (pseudocode):

[code]

[2020-04-18 15:49] rossabaker commented on #3299
Yes, I strongly agree with Noel that we should have canonical documentation.  We're seeing a large uptick in GraalVM interest, and having a well-maintained page for it will be helpful to new users, vs. blog posts that need to be Googled and probably won't be updated with subsequent insights.

[2020-04-18 17:09] rossabaker commented on #2216
I'd say it's a misleading statement, because it's implementation dependent.  `IOApp` will await the finalizers of your composed resource, but the blaze-server does not yet await the drainage of all active connections in its finalizer.

Furthermore, blocking the finalizer as connections drain is not necessarily what a backend should do, because a lot of users may want to wait up to a fixed time, an

[2020-04-18 19:02] #3304 closed

[2020-04-18 20:53] drocsid commented on #3299
I made specific questions unanswered. But I spend some time building up a command that will actually serve http / https traffic above. Then at least some curious can try that.

[2020-04-18 21:04] drocsid commented on #3299
I will draft a deployment section to the http4s docs including instructions for building graal images. Then I also think it will be useful to include this as part of the template to provide as a reference from that documentation. If there are any suggestions or concerns before I start doing that please let me know.

[2020-04-18 21:06] drocsid commented on #3307
Thank you. I will try against https://github.com/drocsid/https_example .  Regarding documentation, I will look and see if it looks appropriate and succinct in an existing area.

[2020-04-19 04:34] kevinmeredith commented on #3293
Re: https://github.com/http4s/http4s/issues/3293#issuecomment-612663360, @wemrysi, are you able to add a test (even if it's pseudo-code) explaining how to reproduce it? I know you mentioned it's a race condition, but I'm asking for my own understanding. Thanks

[2020-04-19 16:45] aeons commented on #3307
@drocsid Just to clarify on the builder. It returns a new value each time you call a method on it.

Which means that if you do `builder.bindHttp(8080, "::1").bindHttp(14015, "127.0.0.1")`, then the second `bindHttp` will overwrite the first one.

[2020-04-19 19:09] wemrysi commented on #3293
@kevinmeredith I don't have a test that reliably reproduces this, though existing tests in the http4s suite are failing intermittently due to the problem.

Here's an example of a scenario that would trigger the problem
1. An HTTP message with a small entity body is received.
2. `onStream` is called
3. The callback invocation in `onStream` is forked and started, `onStream` completes because `runAsy

[2020-04-20 01:57] rossabaker commented on #3307
@IndiscriminateCoding has shared a jetty4s project, in which [multiple servers are returned](https://github.com/IndiscriminateCoding/jetty4s/blob/dev/server/src/main/scala/jetty4s/server/JettyServerBuilder.scala#L130) to reflect multiple bound ports.  This is natural in Jetty, which supports multiple connectors.  It has never been considered natural in blaze.  And I think the jetty4s use case migh

[2020-04-20 03:09] rossabaker commented on #3299
Strong :+1: to the docs piece.

On the g8 piece, what form do you see that taking?  Graal is still a relatively unusual deployment, so I'm hesitant to force that on people.  But if it's just the plugin itself so it's an option, that might be good.  Or we could also maintain a branch, but it's hard enough to keep the g8 templates current as is.

[2020-04-20 04:12] #3308 closed

[2020-04-20 15:35] rossabaker opened #3345 "Deprecate Client#fetch"
@ChristopherDavenport has been [arguing for this](https://twitter.com/davenpcm/status/1244720865410822150), and I like @SystemFw's [argument about not burying `use`](https://gitter.im/http4s/http4s?at=5e9db69ca9ca186206510cfc).

Steps:
1. Add `@deprecated` annotation to both overloads of `Client.fetch`.
2. Replace `client.fetch(req)(f)` with `client.run(req).use(f)` in tests and docs.

Bonus step

[2020-04-20 15:44] SystemFw commented on #3345
@rossabaker the link to my comment points to Chris twitter as well

[2020-04-21 06:19] tian000 commented on #3315
@rossabaker this issue can be closed i think?

[2020-04-21 18:50] rossabaker commented on #3315
Yes, thanks.  When I cherry-pick instead of merge, we don't get the auto-close.  But your fix is in snapshots for 0.20, 0.21, and 1.0 now. I hope to release this week.

[2020-04-21 18:50] #3315 closed

[2020-04-22 17:20] Daenyth opened #3348 "Update documentation examples to use async-http instead of blaze"
It seems like the general consensus on gitter has been for a while that most people should prefer to use implementations other than blaze.

To that end, I suggest:
- Update the documentation on the site to show async-http as the 'safe default'
- Have a doc somewhere (maybe just an issue ticket we can link to) explaining the specifics about why they might want another (eg, has flappy tests reducing

[2020-04-22 17:22] Daenyth commented on #3345
Semi-related to #2738 because the `F[Request[F]]` signature is awkward to use with `run`

[2020-04-22 18:07] Daenyth commented on #3233
Just noting for posterity that it currently is the latter - it's a bit of a footgun for new users

[2020-04-23 02:16] kevinmeredith commented on #3345
Am I correct in understanding your opposition to `Client#fetch` is that it essentially discards the `Resource[F, Response[F]]` type, @rossabaker @ChristopherDavenport , @SystemFw?

In other words, it's better to deal with `Resource[F, Response[F]]` than `F[Response[F]]` given the, as I understand, guaranteed clean-up?

[2020-04-23 02:25] #3293 closed

[2020-04-23 02:43] rossabaker commented on #3345
Yes.  `fetch(req)(f)` is just an alias for `run(req).use(f)`, but the transition from `Resource[F, A]` to `F[A]` allows us to make silly mistakes that the types can't save us from.  We learn -- usually the hard way -- not to `.use(F.pure)`, but hiding it behind `fetch` obscures that mistake.  `run(req).use(f)` isn't significantly longer for the novice, and much more meaningful for those experience

[2020-04-23 20:35] jamesward commented on #3299
Here is an example project that uses http4s with GraalVM via sbt-native-packager:
https://github.com/jamesward/javadoccentral

Notes:
 - The Docker container is based on `scratch` using muslC
 - I don't use logback cause I couldn't get it working
 - I tried just about every http4s client and ended up using okhttp due to issues with all of the others
 - Final container image is 43M and starts up su

[2020-04-24 01:08] rossabaker commented on #3299
Thanks, @jamesward. If you remember the issues with the other client backends, we'd be happy to take a look and see which others we can get working.

[2020-04-24 03:25] kevinmeredith commented on #3345
Is another benefit, @rossabaker, in deprecating `Client#fetch`, that `Resource` doesn't "suffer" from the following problem with respect to disposal of the response body?

### Imports

[code]

### IO

[code]

### Resource

[code]

[2020-04-24 14:21] rossabaker commented on #3277
@hamnis found the [spec this comes from](https://www.w3.org/TR/1999/REC-html401-19991224/appendix/notes.html#h-B.2.2) in #3349.  I think we are right to respect semicolons as a query string delimiter by default, which I'll argue on that PR.  But I agree that the behavior reported by Rolando is bad: query strings as multimaps are not in the URI or HTTP specs, and we should be careful not to fiddle

[2020-04-24 14:44] jamesward commented on #3299
With `blaze-client` it seemed to just hang, but it might have been the GraalVM DNS issues with scatch. With `async-http-client` I had a hard time getting the right GraalVM config due to shaded libs. I tried the `jetty-client` but can't remember what happened.  Thanks for all your support!

[2020-04-25 04:26] satorg commented on #3345
@rossabaker, btw, some time ago I [asked](https://gitter.im/http4s/http4s-dev?at=5e755f3d546ed07a6e804b33) about those `Client` methods which take request in form of `F[Request[F]]`, namely:
[code]
And you agreed that they aren't really useful anymore. Do you think it could be right time to deprecate them too as part of this effort?

[2020-04-26 01:35] rossabaker commented on #3345
@kevinmeredith The problem with your `IO` version is leaking the response resource outside `fetch`.  It's equivalent to the `.fetch(F.pure)` or `.fetch(F.delay)` anti-patterns.  But the `Resource` version is also unsafe: you're reading the response body twice.  It works when the body is created in memory, but it would fail when the response body is backed by a network socket.

@satorg I'd like to

[2020-04-26 02:12] rossabaker commented on #3348
We've talked about splitting integrations into a polyrepo, which raises a question of which backend, if any, stays in the main repo.  I'd argue for none, except that would make documentation hard.  If we keep one, Ember or JDK8 make the most sense, and JDK8 is really crappy.  So I think switching to ember is correct in the long term here.

So I'm fine with this, although it's not a great long-term

[2020-04-26 05:10] kevinmeredith commented on #3345
Thanks for that explanation, @rossabaker

If I understand properly, the anti-pattern of `client.fetch(request)(F.delay)` or `client.fetch(request)(F.pure)` is that the return type is `F[Response[F]]`. That's a problem since, by the time either expression responds with the `F[Response[F]]`, the body has already been disposed of? Consequently, attempts to read it will fail?

[2020-04-26 11:40] ljwagerfield opened #3354 "Error in asynchronous callback"
HTTP4S `0.21.2` and `0.21.3` produce the following error (version `0.21.1` does not).

If you `git clone` this repository, update the `build.sbt` to use `0.21.2` and then hit `sbt run` you'll see the errors on each request:

https://github.com/ljwagerfield/http4s-request-body-error

The error occurs in the background after calling `Client[Task].fetch`; the resulting `Task[A]` is not in a failed st

[2020-04-26 14:30] rossabaker commented on #3354
It was caused by [this](https://github.com/http4s/http4s/pull/3261/files#diff-8a649ab93d3fed675ce2f2076e5587b5R124).  I think it may already be fixed in https://github.com/http4s/http4s/pull/3338.

We are preparing a release with that, but you can test the fix now:  Add to your build:

[code]

And use http4s version `0.21.3+62-605506b0-SNAPSHOT`.  If that's still noisy on Monix, then we can add an

[2020-04-26 14:35] ljwagerfield opened #3355 "EncoderException: IllegalStateException: Unexpected message type: DefaultHttpRequest, state: 1"
When using an HTTP4S `0.21.1` client (aync-http) and a HTTP4S server (blaze), I frequently receive the following errors on `GET` requests that occur immediately after `POST` requests with a simply string body `"BOOM!"`.

[code]

**Reproduction code:**
https://github.com/ljwagerfield/http4s-request-body-error

**More detail:**

The problem is caused by `withEntity("BOOM!")`. However, the `POST` req

[2020-04-26 14:40] ljwagerfield commented on #3354
I updated to the snapshot you suggested, but I still get these on every request:

[code]

[2020-04-26 14:44] rossabaker commented on #3355
I have seen this error while trying to fix another error, which may be a clue what's happening here: https://github.com/AsyncHttpClient/async-http-client/issues/1660

[2020-04-26 14:46] ljwagerfield commented on #3355
Interesting that yours happens 'under load': mine does not.

More interestingly, I found that sequent of GET, GET, DELETE, DELETE, POST (with body), GET seemed to make the error surface more frequently than other combinations.

[2020-04-26 14:46] rossabaker commented on #3354
Thanks for retesting.  We can add a guard to be sure that is only called once.

[2020-04-26 14:51] rossabaker commented on #3354
Oops, #3338 was only on master.  I still think that might fix it.  I'm backporting that now, and will report back with a snapshot version that contains it.  If it's still being called twice, then we can wrap it in another `Deferred` gate.

[2020-04-26 16:11] rossabaker commented on #3354
Okay, 0.21.3+63-2e9fd3ae-SNAPSHOT tests what I thought we were testing last round.

If that's still not right, I've still got another idea.

[2020-04-26 16:14] ljwagerfield commented on #3354
Yes, that fixes it.

[2020-04-26 17:10] rossabaker commented on #3354
Excellent. This will be in 0.21.4, which I expect out early this week. Thanks for reporting and testing!

[2020-04-26 17:10] #3354 closed

[2020-04-26 18:11] rossabaker commented on #3345
Exactly that.  Generically, `F.pure` and `F.delay` are generally bad functions to `.use`, because they expose the resource after the resource has been released.  And we add to the cognitive burden with `.fetch`, which people need to remember is dangerous in the same ways as `.use`.

[2020-04-26 19:52] rossabaker commented on #3272
Closed by #3271.

[2020-04-26 19:52] #3272 closed

[2020-04-26 20:50] satorg commented on #3345
Hey guys, would you mind if I take on this issue? If no one did it already of course...

[2020-04-26 20:53] rossabaker commented on #3345
@satorg It's yours!

[2020-04-27 00:31] drocsid commented on #3312
As a follow up this is a bug reported in https://github.com/oracle/graal/issues/2373 . It appears that it might be fixed in the next graal release. Since it's not caused by http4s I will close the issue.

[2020-04-27 00:31] #3312 closed

[2020-04-27 00:49] rossabaker commented on #3312
Thanks for hunting that down!

[2020-04-27 02:01] satorg commented on #3345
@rossabaker what's the version this fix will go to? I need some value to put into `@deprecated`. I'd guess since it doesn't introduce any incompatibility, it could be included even into one of the next 0.21.x, but just in case...

[2020-04-27 03:02] drocsid commented on #3299
@rossabaker I have been busy but wrote a draft and example of what I thought a deployment page should look like for http4s that includes two deployment examples. https://github.com/drocsid/http4s/blob/docs/deployment/docs/src/main/tut/deployment.md

This is what I had envisioned above. I have a few TODOs listed and haven't yet tried anything against your doc tools. Would you like me to continue? A

[2020-04-27 03:32] rossabaker commented on #3299
This is a good start.  Linking to example projects is probably helpful here.  We have an examples-docker in the repo already.  One thing I don't like is that our examples are scattered across examples modules instead of self-contained, but that problem is probably out of scope for this PR.

Still curious on the g8. Are you thinking it's its own branch, or we integrate the native plugin into the ma

[2020-04-27 03:35] rossabaker commented on #3345
Great question.

* It could technically go on series/0.20 and 0.20.22, but that branch is almost EOL anyway.
* series/0.21 and 0.21.4 is the next natural place for it, but people expect those patch upgrades to be easy, and we might want a scalafix to go with it.
* master and 1.0.0-M1 is the easy way out.

I think series/0.21 and 0.21.4 is good, and we should see if we can get a volunteer to dust o

[2020-04-27 03:39] drocsid commented on #3299
@rossabaker all that's required regarding the template might be adding a few resource files, adding the sbt-assembly plugin. Then otherwise we are just showing the native-image command so maybe add a script that contains a command that can be used to build the image. Then I don't see how it really interrupts or interferes with that template.

[2020-04-27 03:41] drocsid commented on #3299
E.G.

https://github.com/drocsid/https_example/tree/master/src/main/resources/META-INF/native-image/com.example/weatherdemo

https://github.com/drocsid/https_example/blob/master/project/plugins.sbt

https://github.com/drocsid/https_example/blob/master/native-image-build-cmd.sh

[2020-04-27 14:45] henricook commented on #3354
@rossabaker Do you think this error could be related?

[code]

[2020-04-27 15:13] rossabaker commented on #3354
I think that's a separate issue, but may have been rattled by the same series of commits.  Please open a separate issue on that, and add reproduction notes if you have any, and we'll take a look.

[2020-04-27 17:21] rossabaker opened #3360 "Pushing the bounds of our Netlify quota"
I'm getting warnings that we've reached 75% of our free Netlify quota for the month.  We use it to publish our sites.  We should be fine, but with activity picking up, we may have a looming problem.

When we moved to netlify, GitHub didn't support TLS on custom domains.  Now it does, but we're making use of redirects on http4s-jdk-http-client, which is something I'd be interested in eventually doi

[2020-04-27 19:03] rossabaker commented on #3278
Closed by #3279.

[2020-04-27 19:03] #3278 closed

[2020-04-27 19:22] nbenns commented on #2835
I also have this issue, and would love an answer.  Is there any work being done on the braze connector?

[2020-04-27 19:22] nbenns commented on #2835
If you can point me into a direction I'll even take a look

[2020-04-27 20:54] rossabaker commented on #2835
I'm not actively working on it.  A reliable reproduction would help a lot.

The `TickWheelExecutor` is a resource, which is used [here](
https://github.com/http4s/http4s/blob/0954bdcfc8db32a35af35fe1f7108fcd8d3bf5af/blaze-server/src/main/scala/org/http4s/server/blaze/BlazeServerBuilder.scala#L321).  That shouldn't close the tick wheel until the server shuts down.

Adding logging to the `tickWheelR

[2020-04-28 04:13] ashwinbhaskar commented on #3313
@rossabaker can I take this up

[2020-04-28 04:19] rossabaker commented on #3313
If it's binary compatible, please target series/0.21.  If it's not, master.  If in doubt, try series/0.21, and we can change the base to master if that's wrong.

[2020-04-28 06:34] drocsid commented on #3299
@rossabaker I made some additions to the documentation and have added to the giter8 template so it has a few additional resources so it may be used to build a native image. I added a property to the template to reference the assembly target path, but could probably remove that and configure the target path via the `sbt-assembly` plugin. I made a mock PR for the template. Could you have a look when

[2020-04-28 06:42] drocsid commented on #3299
Er mock PR here: https://github.com/drocsid/http4s.g8/pull/1

[2020-04-29 03:05] nigredo-tori opened #3368 "Change basic authentication to use UTF-8"
At the moment, `BasicCredentials` [use ISO 8859-1](https://github.com/http4s/http4s/blob/744a70252e7c7c1f0c8d6e0fab557f34ccd77c17/core/src/main/scala/org/http4s/Credentials.scala#L70) charset, which would break authentication if, say, a password contains a character not present in that charset.

[RFC 7617](https://tools.ietf.org/html/rfc7617) outlines support for UTF-8 in basic authentication sche

[2020-04-29 09:05] tanmoytech-sal commented on #1755
Hi Getting below error while hitting from postman. Passes all argument in body correctly.

org.http4s.InvalidMessageBodyFailure: Invalid message body: Could not decode JSON:

Does any one having clue?

[2020-04-29 09:22] ashwinbhaskar commented on #3313
@rossabaker I am unable to run `WebjarServiceSpec`. `sbt test:testOnly *WebjarServiceSpec` does not seem to run the tests in `WebjarServiceSpec`

[code]

How can I run them?

[2020-04-29 09:44] nigredo-tori commented on #3313
@ashwinbhaskar, it's in the `server` subproject, so it should be
[code]
You might also need to properly escape the arguments - or just start `sbt`, and run the command above there.

[2020-04-29 10:48] ashwinbhaskar commented on #3313
@nigredo-tori my bad, I did not paste my command here correctly. I did try within in the server subproject. But `WebjarServiceSpec` tests don't seem to run. But `ResourceServiceSpec` tests run

[2020-04-29 11:07] nigredo-tori commented on #3313
@ashwinbhaskar, confirmed, the tests aren't run. I suppose, this is https://github.com/etorreborre/specs2/issues/757, since the default Scala version is 2.13.1. Changing `WebjarServiceSpec` from `object` to `class` fixes this.

[2020-04-29 11:11] ashwinbhaskar commented on #3313
@nigredo-tori I will refrain from changing `object` to `class` in this PR. Because there are other specs too which are `objects` and it might be confusing as to what this PR is trying to address.  WDYT?

[2020-04-29 11:21] nigredo-tori commented on #3313
IMO, if there's a bug that prevents the changes in this PR from being properly tested, and you can trivially fix it (at least for this particular place), then it's fair game. But let's wait and see what the maintainers say.

[2020-04-29 11:39] ashwinbhaskar commented on #3313
@rossabaker your call.

[2020-04-29 15:25] programaker commented on #2445
Hi!

Is there some workaround to change the encoding behavior? I'm doing something with Spotify API and the authorization process requires a `redirect_uri` query string parameter. The request fails with "Illegal request_uri" because the encoding is not what they expect.

But if a manually build the url using `java.net.URLEncoder.encode(_, UTF_8)` to encode the query params e put it in the browser,

[2020-04-29 17:22] programaker commented on #2445
I've found a way:
[code]
If I put everything in path and the Uri kept the String intact. Then I can encode myself before creating the Uri. With this approach, I could complete the authorization in Spotify and get the code.

Credits to @alexandredantas

[2020-04-30 01:56] ashwinbhaskar commented on #3313
@rossabaker wdyt?

[2020-04-30 03:10] rossabaker commented on #1755
The most common cause of this is reading the stream body twice.  If you think it's something else, please open a ne wissue or visit Gitter with some example code, and we'll be happy to take a look.

[2020-04-30 03:51] nbenns commented on #2835
From what I can tell the connection to the client is severed.

I'll take a look into the TicketWheelExecutor and let you know what I'll find out.
I'll also put together steps to reproduce the problem, it happened to me from a stock test of the demo echo server from what I remember, so it shouldn't be too difficult to reproduce.

[2020-04-30 04:42] tanmoytech-sal commented on #1755
@rossabaker : Thank you for your quick support. Now issue has been resolved.

[2020-04-30 07:02] LeifW commented on #3299
sbt native-packager can be used instead of sbt assembly + invoking `native-image` yourself (as in Jame's example - that's what I've been doing lately when playing around with this stuff myself). Would we want to describe both options in the docs? Or maybe go with this for now, and we can always expand the docs later?

[2020-04-30 07:17] jamescosford commented on #3299
Something else that tripped me up was the inclusion of resources, which won't be included unless you specify them. It's all in the native image docs but my script has grown a bit at this stage:

[code]

where `include_resources.json` looks like
[code]

[2020-04-30 07:53] drocsid commented on #3299
I think we could mention that you could use sbt-native-packager. I don't know what it looks like really but assume it's just a wrapper that triggers the native-image command. Noel chimed in about it above also.

It's my opinion that wrapping the `native-image` command with the `native-packager` places you further away from the `native-image` tooling. I would argue that sometimes it's easier to lea

[2020-04-30 08:19] drocsid commented on #3299
Should I open actual PR for above? Any feedback? I spent a few hours writing the deployment page and building and testing the template on https://github.com/http4s/http4s/issues/3299#issuecomment-620409680

[2020-05-01 02:59] rossabaker commented on #3299
@drocsid Nice work!  Yes, please go ahead and open a PR with that.  It'll be easier to comment and make suggestions there than here, but it looks like a wonderful start.

As for the g8 template, I wonder about integrating that with [giter8 conditionals](http://www.foundweekends.org/giter8/template.html#Conditionals).  Just have a graalvm boolean in the initial questions, and it'll add the config f

[2020-05-01 03:56] rossabaker commented on #2445
This is something that should be cleaned up in #3221, or a follow-up to it.  Some relevant discussion from [http4s-dev Gitter today](https://gitter.im/http4s/http4s-dev?at=5eab13e47a24ff01b0f38553).

[2020-05-04 02:13] drocsid commented on #3299
@rossabaker here's the PRs. I made the suggested changes using conditionals for the g8 template.

https://github.com/http4s/http4s.g8/pull/143

https://github.com/http4s/http4s/pull/3374

[2020-05-04 04:27] ashwinbhaskar commented on #2049
@rossabaker can this issue be marked as resolved/close as [this](https://github.com/http4s/http4s/pull/2179) seems to fix it?

[2020-05-04 06:26] LeifW commented on #3299
@drocsid I adopted @noelwelsh's example and switched it to use sbt native packager: https://github.com/LeifW/http4s-native-image/blob/sbt_native_packager/build.sbt#L39
 I'm not normally wild about having a Java DSL generate a bunch of shell scripts (a la a lot of the other stuff that SBT native packager does), but for its invocation of native-image it's just the difference between running `sbt ass

[2020-05-05 02:46] drocsid commented on #3299
@LeifW it's really not terribly different as you mention. My preference is being closer to the native-image command when getting started, because it's easier to talk to graal devs with the command than an sbt wrapper example.

When looking for native-image command parameters, the proper place to look is the graal docs. If something goes wrong you're probably better off dropping to the command to e

[2020-05-05 02:49] drocsid commented on #3299
@rossabaker Looks like I failed the documentation step on https://github.com/http4s/http4s/pull/3374 . Do you have advice on following up?

[2020-05-05 14:08] gutscdav000 commented on #3011
Hello, I would like to begin contributing to this repository and would love to fix this ticket, perhaps with a bit of direction? I found the page in question and I believe I know what you're suggesting for client/server backends along with their compatible versions e.g.
[code]

where could I search in the repo for the next to sections? (i.e. Compaibility Packages, and Other libraries compatible wi

[2020-05-05 18:06] JustAHappyKid commented on #3214
Sorry I didn't follow-up on this sooner. It appears as though `isFinished` returns `false` even on an empty-bodied HTTP request, so long as `read` hasn't been called on the `InputStream`.

I set up an experiment like this in a servlet `Filter`:

[code]

If I then issue a `HEAD` request using `curl` (e.g., `curl --head http://localhost:8080/`) the first call to `isFinished` returns `false` and the

[2020-05-06 09:39] kubukoz opened #3383 "Client logger doesn't log request URI if the call fails and logBody=true"
For example:

[code]

Actual output:

[code]

Now change `logBody` to `true`.

Actual output:

[code]

Expected:

[code]

[2020-05-08 03:37] rossabaker commented on #3214
Okay, that's encouraging.  In jetty, there's a [sychronization](https://github.com/eclipse/jetty.project/blob/8153efc2e6b1efa8da10111f191a9cd1c7598d3e/jetty-server/src/main/java/org/eclipse/jetty/server/HttpInput.java#L689), but it should be pretty cheap in the grand scheme of things.  I'd be fine with adding this check.  Would you like to give it a try?

[2020-05-08 03:42] rossabaker commented on #3011
Hi, @gutscdav000.  Thanks for volunteering!

The compatibility packages would be most of the top-level directories other than the servers and clients.  For example, circe, scala-xml.  Anything that has `PrivateProjectPlugin` in build.sbt would not count.

For "other compatible libraries" wouldn't be in this repo, I'm unsure whether @Daenyth meant things already in the org like rho, or if he meant

[2020-05-08 03:46] rossabaker commented on #2049
We have the helper now thanks to #2179, but the CI build is still full of them.  We need to apply the helper.  A good way to find them would be to look at a [recent test run](https://github.com/http4s/http4s/runs/655202092?check_suite_focus=true), download the raw log, and search for "at org.http4s".  We should silenceSystemErr in the relevant tests.

[2020-05-08 06:04] ashwinbhaskar commented on #2049
@rossabaker okay, I can take this up. Can you assign it to me?

[2020-05-08 13:54] Daenyth commented on #3011
I did mean things in the org like rho, or prominent other-people-owned tools.

I would happily accept any PR that improves the situation. It doesn't have to be perfect and it doesn't have to be exhaustive - just better than what we have today

[2020-05-11 17:24] rossabaker commented on #3259
Fixed by #3399.

[2020-05-11 17:24] #3259 closed

[2020-05-11 17:26] rossabaker opened #3412 "Get mdoc working on 2.13"
We get deprecation warnings running mdoc on Scala 2.13.

The easy approach is to turn them off, or to tolerate fatal warnings.  The better approach is to figure out why they're happening and make them stop.

[2020-05-12 17:09] kevinmeredith commented on #2431
I firmly agree that using a sum type would make this code easier to understand, @rossabaker. My teammate and I just ran into an HTTPS error, following the 0.20.x -> 0.21.4 upgrade, in code using `BlazeClientBuilder#apply` with a `None` value for `sslContext`. We figured out what we did wrong wrong when we saw https://github.com/http4s/http4s/blob/v0.20.23/blaze-client/src/main/scala/org/http4s/cli

[2020-05-13 02:59] rossabaker commented on #2431
Too late for 0.21, but we could modify that in 1.0.  Want to give it a shot?

[2020-05-13 09:22] tomasherman commented on #2216
i see ... do you know if other implementations do that? jetty for example?

[2020-05-15 14:25] azolotko opened #3429 "Memory leak in org.http4s.client.middleware.Retry"
Please consider this simple example:

[code]

[code]

Each time the client makes an attempt, a series of new objects get allocated and retained. Here's how it looks like after ~148k attempts:

<img width="598" alt="Screenshot 2020-05-15 at 16 13 33" src="https://user-images.githubusercontent.com/110424/82060117-35977c80-96c7-11ea-8704-c8e2c8739ad1.png">

And here you can find the heap dump itself:

[2020-05-15 15:21] azolotko commented on #3429
Ok, here's a simplified version of Retry that can be used to reproduce the issue:

[code]

[2020-05-15 16:29] mtraul opened #3430 "Support for HTTP/2 Client with POST support."
Looks like the default http/2 client only supports GET Method. Is there a plan to support POST.

[2020-05-15 16:39] Daenyth commented on #3429
Is it a permanent leak, or are they freed once the series of retry attempts are complete?

[2020-05-15 16:41] azolotko commented on #3429
No, it's not permanent.

[2020-05-15 16:43] rossabaker opened #3431 "Refreshing SSL contexts on the fly"
From @usommerl on Gitter.  I want to capture it here, because it's an interesting question, and Uwe's research was wonderful.

[2020-05-15 16:56] rossabaker commented on #3431
I don't think there is likely to be a universal solution, but we could probably do something on certain backends.

The blaze pipeline factory [creates the `SSLEngine` from the `engineConfig`](https://github.com/http4s/http4s/blob/0e1d6f3a3bf3009909207007d05e5a3efb9394e4/blaze-server/src/main/scala/org/http4s/server/blaze/BlazeServerBuilder.scala#L308).  That could probably be turned into an `Eval`

[2020-05-15 17:17] rossabaker commented on #3429
I would bet it's in http4s.  We have to call `.allocated`, which probably results in some horrible nesting, which probably gives rise to this.

I guess let me ask this: did you have a problem from it in a real service?  It's much more urgent if we're hoarding network resources than burning a small amount of heap for a few retries for a few seconds.  Then again, something must have irritated you en

[2020-05-15 18:22] rossabaker commented on #3430
Sorry, which client are you speaking of?  There's not really a default.  There are several backends.

[2020-05-15 18:27] anilkumarmyla commented on #3431
For ideas, we use athenz-cert-refresher to get an SSLContext that refreshes underneath using a scheduled thread https://github.com/yahoo/athenz/blob/master/libs/java/cert_refresher/examples/tls-support/src/main/java/com/yahoo/athenz/example/http/tls/client/HttpTLSClient.java

[2020-05-15 19:52] rossabaker commented on #3431
Oh, interesting!  So instead of proxying with some generic wrapper like `Eval` or `AtomicReference`, this proxies by implementing the interface directly.  That sounds like it might work on all our backends, without breaking changes.

[2020-05-16 11:41] hamnis opened #3433 "the `uri` string interpolator does not accept variables"
Disovered while working on #3221

the new `path` interpolator also does not support that, since that is a plain copy of the `uri` one

[2020-05-16 11:45] hamnis commented on #3433
There might be reasons for why this is so, but at least this should work

[code]

[2020-05-16 17:44] hamnis commented on #3433
would it be possible to delegate to the `s` string context before parsing?
If not we should give a better error message.

[2020-05-16 18:00] hamnis commented on #3433
using https://github.com/propensive/contextual might be a solution if we dont want to use macros ourselves

[2020-05-17 05:19] rossabaker commented on #3433
I think the [sttp interpolator](https://github.com/softwaremill/sttp/blob/master/docs/model/uri.md#uri-interpolator) is the state of the art.  Note how it's context sensitive about encodings.

We want to get to dotty support, so we should be careful that any macro solutions we add work with that.

[2020-05-18 07:14] azolotko commented on #3429
@rossabaker We had a service running in a fairly memory-constrained environment for a couple of months, doing nothing but retries, and noticed that its residual set grows over time. Just to make sure we won't encounter any unpleasant surprises running it at full scale, I decided to investigate what caused the growth. As I found out later, the issue is not very impactful, but since I had already pe

[2020-05-18 07:16] azolotko commented on #3429
@Daenyth The issue title makes much more sense now. Thank you!

[2020-05-19 05:12] ashwinbhaskar commented on #2049
@rossabaker the trait `ErrorReportingUtils` has been deprecated. I can understand that it is being deprecated from public api usage. But marking it deprecated fails the tests too
[code]

[2020-05-19 15:53] rossabaker commented on #2049
Oops, hadn't seen this yet.  Answered the question on the PR itself.

[2020-05-20 03:13] ashwinbhaskar commented on #2049
@rossabaker might be a naive question. But wanted to confirm if I have got this right.

[this](https://github.com/http4s/http4s/blob/af4a5b5242685a0add29f44ed60335538b380f2b/blaze-server/src/test/scala/org/http4s/server/blaze/Http1ServerStageSpec.scala#L123) line throws an exception when the IO is evaluated. In this case the evaluation is forced by `Await` [here](https://github.com/http4s/http4s/b

[2020-05-20 14:33] rossabaker commented on #2049
Ah, yeah, so that one is actually going through the logger.  We can see the `service-error`  logger name right above it, which points to `serviceErrorLogger`, which is installed by the `DefaultServiceErrorHandler` in the test.  We might need a version of that that doesn't log.

[2020-05-21 03:54] ashwinbhaskar commented on #2049
@rossabaker ah got it. I created an ErrorHandler which does not log and used it in `Http1ServerStageSpec`. I have pushed the code. Can you see if it is okay

[2020-05-22 16:25] ScalaWilliam commented on #2744
I am having this issue as well. JDK 11, Scala 2.13. It happens often on the very first SSL usage within the app lifetime, and only then (so far).

[2020-05-22 17:04] nelusnegur opened #3452 "GZip client middleware crashes when processing an HTTP HEAD response"
When I use an HTTP client configured with the GZip client middleware to perform a HEAD request, and provided the HTTP server can return a compressed response, the GZip middleware crashes during the processing of the response with the following error:

[code]
Here is small Scala ammonite script, which defines an HTTP client configured with GZip middleware, executes a HEAD request and crashes with t

[2020-05-22 19:21] rossabaker commented on #2049
Yes, I'll go look and comment on the PR itself.

[2020-05-23 19:22] susuro opened #3453 "util.decode doesn't terminate on malformed input"
When the `decode` function transforms stream encoded in another charset than expected, it may never terminate due to `CharsetDecoder.decode` errors being ignored.
Example:
[code]
`CharsetDecoder.decode` returns an error in such a case without consuming data from `byteBuffer` thus causing an infinite loop.

This part of `decode`:
[code]
should be probably rewritten to something like this:
[code]
Th

[2020-05-24 02:50] kevinmeredith commented on #3429
After replacing:

[code]

with

[code]

I re-ran it.

After I saw `countFailed: 21359`, I killed `sbt`.

Does the below saw-tooth pattern mean that the Garbage Collector was running? Does that mean anything for debugging this problem?

![heap](https://user-images.githubusercontent.com/1967302/82744507-763a6a00-9d47-11ea-9dea-79ac7dcf9823.png)

Given the heap dump's view of `Classes` in the bottom

[2020-05-25 09:05] caoilte commented on #2278
Can anyone explain the consequence of this exception getting logged? Does it cancel one or more running requests? The exception doesn't seem to bubble up so does that mean that an internal retry mechanism is catching it?

[2020-05-25 16:38] Lasering commented on #1204
This is already solved by the addPath method on Uri
https://http4s.org/v0.21/api/org/http4s/uri#addPath(morePath:org.http4s.Uri.Path):org.http4s.Uri

[2020-05-25 16:38] #1204 closed

[2020-05-26 08:20] ashwinbhaskar commented on #2049
@rossabaker I think I have fixed all the test error stack traces. Can you review the PR - https://github.com/http4s/http4s/pull/3456

[2020-05-26 14:49] Daenyth commented on #3429
A sawtooth shape in the heap graph is very normal, it usually indicates that garbage collection ran and removed objects from the heap. If anything, that indicates that it's maybe not a *leak* (where references are held and cannot be garbage collected), but rather memory pressure (lots of garbage being created and then cleaned)

[2020-05-27 02:52] ashwinbhaskar commented on #2049
@rossabaker all test stack traces silenced

[2020-05-28 10:09] ashwinbhaskar commented on #3328
can more context be added to this issue? I would like to pick it up but I am not sure what is the issue about?

[2020-05-31 04:47] rossabaker commented on #3328
Antisymmetry says that If ARG_0 <= ARG_1, and ARG_1 <= ARG_0, then ARG_0 == ARG1.  This didn't happen.  To make the failure repeatable, you can call `setSeed("2kpw5tJ8tADijqPv2GG3pUWPhjzpJUnaypQufFSWHBB")` on the property.

The ordering instance [calls toLowerCase]( https://github.com/http4s/http4s/blob/ae5377f08cd6200505b4e4eb2808080262d6d820/core/src/main/scala/org/http4s/ContentCoding.scala#L11

[2020-05-31 15:52] rossabaker commented on #3429
Regarding where else we might see this pattern, I think it's possible anywhere we see `allocated`.  Whenever we use that, we're doing unpleasant things.

[2020-05-31 15:55] rossabaker commented on #3453
This is a function that I have been meaning to clean up and contribute back to fs2, since there is no HTTP in it.  But your solution looks correct to the matter at hand.

[2020-06-01 01:35] rossabaker commented on #3453
Unfortunately, we don't have a `RaiseThrowable` constraint, so fixing this in a binary compatible way is going to be a pain.

[2020-06-02 03:13] kevinmeredith commented on #3383
I was not able to reproduce the problem using `http4s-blaze-client`. Running https://github.com/kevinmeredith/http4-issue-3383/blob/blaze/src/main/scala/net/Test.scala, I saw:

[code]

Consequently, does that indicate, @rossabaker, that the problem lies with `AsyncHttpClient`?

[2020-06-02 17:41] susuro commented on #3453
Hi Ross. I see that you’ve provided a quick solution first but finally decided to change function signature and use `raiseError`. Thank you.

I spotted one more small issue with current solution, probably not significant enough to open a ticket but maybe you would like to consider it. It's related to the logic of BOM removal:
- BOM is removed at the beginning of **every** new chunk. It should be h

[2020-06-02 17:41] #3453 closed

[2020-06-03 03:04] rossabaker commented on #3453
Yes, I wanted to follow up on the BOM.  It looked suspicious to me as well, but I hadn't studied the relevant specs on it.

I wanted to use the `RaiseThrowable` from the beginning, but wasn't sure how to do it without breaking binary compatibility.  I think the deprecation will be a good solution.  I'd still like to get this function moved into fs2 eventually.

[2020-06-03 10:57] ashwinbhaskar commented on #3328
@rossabaker thank you for the explanation:) Where are the order law tests? `git grep "order laws must hold for"`  does not find any occurrences.

[2020-06-04 01:28] rossabaker commented on #3328
They're defined in [OrderLaws](https://github.com/typelevel/cats/blob/master/kernel-laws/shared/src/main/scala/cats/kernel/laws/OrderLaws.scala), which have some supertypes that reflect the hierarchy.  You shouldn't need to change the test -- just the comparisons in the code.

[2020-06-04 12:53] kalexmills opened #3471 "Support parsing the 'Forwarded' header: RFC 7239"
There's a specification [1,2] for a header which does not have native parsing support in http4s. The `Forwarded` header can be included by proxies as a standards-track alternative to `X-Forwarded-For`, `X-Forwarded-Proto`, and `X-Forwarded-Host`. http4s should consider providing support for it.

[1] [Forwarded - HTTP | MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded)
[2] [

[2020-06-05 11:38] voidcontext commented on #2402
I did some investigations regarding the status of the different middlewares and this is what I found:
[code]

There are some trivial case, and there are some which are not trivial:
- when there's a `MonoidK` constraint on the effect, then the `httpApp` constructor is not useful as `IO` does not have one
- in some cases adding the required constructors might not be possible, at least without refact

[2020-06-06 04:18] rossabaker commented on #2278
A fiber is started to write the request, and this message is logged when that fiber fails.

It's an interesting question: my inclination is that we should instead be canceling the request and raising an error. But the response to a partial request rendering might be part of the recovery.  It's natural that the server can begin responding to a partially written request, and bad things can always ha

[2020-06-06 04:43] rossabaker commented on #3383
It's possible.  I've fallen a bit behind.  Could you run your test with the async-http-client and see if that's decisive in reproducing the bug?  That would be a big clue, if true.

[2020-06-09 09:08] IndiscriminateCoding commented on #3431
And jetty [does have](https://github.com/eclipse/jetty.project/blob/jetty-9.4.29.v20200521/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java#L1975) `SslContextFactory#reload`

[2020-06-09 14:01] sebbert opened #3482 "ResponseLogger prints raw request on cancellation"
On this line of code, we log the result of calling `toString` on the request:
https://github.com/http4s/http4s/blob/a7e2fc108de12f7b111d688d33288c20f6a5a085/server/src/main/scala/org/http4s/server/middleware/ResponseLogger.scala#L70

This is dangerous, as it may end up logging sensitive information, ignoring the `logHeaders`, `logBody`, and `redactHeadersWhen` options.

In our project, we've solve

[2020-06-10 04:06] rossabaker commented on #3482
Ouch. Yeah, we need to get this fixed ASAP.

[2020-06-10 04:17] rossabaker commented on #3482
So if I'm reading the code right, the default will redact these headers, and your problem is that you have other sensitive headers?

[code]

This is tricky.  Constraining `A` to be a `Message[F]` defeats the polymorphism of the middleware.  We could pattern match on `A` and if it's a request, do something safer.  But then we'd need to handle `ContextRequest`.  And who's to say that people haven't

[2020-06-10 04:17] rossabaker commented on #3482
Also, much less gravely, while we're at it, `canceled` is one `l`. :smile:

[2020-06-10 09:59] sebbert commented on #3482
Well, we actually disable header `logHeaders` altogether, but we do have additional sensitive headers, yes.

[2020-06-10 10:08] sebbert commented on #3482
This might be a stupid question, but would it be possible to move this behavior to `RequestLogger`?

[2020-06-10 10:08] Slakah opened #3485 "X-Request-Id Middleware"
We've got an internally used middleware, and wondering whether this would be useful to contribute back into http4s. The basic concept is, propagate the header from request to response, generating a random UUID `X-Request-Id` if it wasn't set.

Gist of the code (older version of http4s as can be seen by presence of `.ci`): https://gist.github.com/Slakah/f5eb4fbe3c6cc1ed28f8bd66482cd566

Docs:
* [He

[2020-06-10 22:52] rossabaker commented on #3471
Agreed, and we should be able to do so in series/0.21.

[2020-06-11 11:25] hamnis commented on #3485
Option 2 is reasonable.

[2020-06-14 03:56] ashwinbhaskar commented on #3328
@rossabaker

How do I do this?

[2020-06-14 11:53] ashwinbhaskar commented on #3289
@rossabaker I can pick this up.

[2020-06-14 14:57] rossabaker commented on #3328
Oh, good question.  You can call `prop { ... }.setSeed(...)` on the regular property tests, but I had to look up how to do it in the discipline tests.  This exposes the failure:

[code]

[2020-06-16 15:21] Lasering commented on #2786
This would be very useful to test in development environments where the certificate is self-signed, or issued by a self-signed untrusted CA.

[2020-06-16 20:19] kevinmeredith opened #3505 "Order[Uri] Instance?"
Today I attempted to create a `cats.data.NonEmptySet` of `org.http4s.Uri`, but ran into a compile-time error:

[code]

Is there any reasonable definition of `Order[Uri]`? If so, I'm happy to add it via a PR.

[2020-06-17 01:44] ashwinbhaskar commented on #3328
@rossabaker

Which non-ascii character is causing the problem? I tried out many of Non-Ascii characters from [this](https://rbutterworth.nfshost.com/Tables/compose/) website. All of them return the same value when `toLowerCase` is called on them.

[2020-06-17 02:06] ashwinbhaskar commented on #3328
@rossabaker From java documentation for `toLowerCase()` :
[code]
I think `toLowerCase(Locale.ENGLISH)` should be the solution here. The tests pass with the seed value. WDYT?

[2020-06-17 02:25] ashwinbhaskar commented on #3328
@rossabaker To add to the above point, `equalsIgnoreCase` compares each character using `Character.toLowerCase` and `Character.toUpperCase`. From the java doc of `Character.toLowerCase`

[code]

[2020-06-17 04:59] rossabaker commented on #3505
Can we?  Yes.  Not as a .toString comparison, because some components are case-sensitive and some are not.  But everything is a string, may optional, maybe case-insensitive, but always in a fixed order.  I am pretty sure we could define a simple and lawful ordering.

We haven't for other arbitrary HTTP types, so it might be good to ponder why we should for more core types, should not for core type

[2020-06-17 11:08] Slakah opened #3507 "Trace Context Spec Support"
There's a spec [Trace Context](https://www.w3.org/TR/trace-context/), to support distributed tracing scenarios.

From the abstract:

## Ideas

Going to use this section to collate some ideas for changes we can make to support this:

* Model the [`traceparent`](https://www.w3.org/TR/trace-context/#traceparent-header) and [`tracestate`](https://www.w3.org/TR/trace-context/#tracestate-header) headers

[2020-06-17 11:11] etSingh opened #3508 "AsyncHttpClient fails with the exception: received subscription in invalid state"
## Background

I discovered this behaviour while updating the http4s version from `0.21.0` to `0.21.4`.

This seems to have been introduced since the version `0.21.2`.

## Setup

Given I have two http4s clients

[code]

And I define a way to extract the body string from the response

[code]

Then I get the exception `java.lang.Error: received subscription in invalid state` with the `AsyncHttpClien

[2020-06-17 14:37] denisovlev opened #3509 "AsyncHttpClient returns empty body on slow stream"
When I request a slow stream with AsyncHttpClient I get an empty body. The request times out but it does not throw an error. In the test below there are two cases: one checks that exception is thrown, another that we get the full result. Neither of the tests succeed.

There are two questions:
1. How increase the timeout? Neither `setRequestTimeout` nor `setReadTimeout` seem to work
2. How to make

[2020-06-17 20:34] satorg commented on #3508
I bet the issue here can be caused by the way how the `Client.fetch` method is used:
[code]
In short, it is not safe to attempt to get `Response` by simply enwrapping it into `IO` in the method callback.

There's an issue already (#3345) and a corresponding PR which deprecates this `fetch` because it's a very common mistake.

[2020-06-18 03:55] rossabaker commented on #3452
Leaving this one open to track the [related empty body issue](https://github.com/http4s/http4s/pull/3476#discussion_r438229941), even though #3476 covers the common cause.  The HEAD will be fixed in 0.21.5.

Assigning to @nelusnegur, since he expressed interest in the follow-up work as well.

[2020-06-18 04:39] rossabaker commented on #3507
We've had some half-complete efforts at old tracing "standards" before.  There are some modeled Zipkin headers, for instance.  I've had a hard time keeping up with all the evolving standards, but when there's an RFC or a W3C spec, that starts to get my attention more. :+1:

[2020-06-18 04:55] rossabaker commented on #3508
Yes, @satorg is right.  But it will be possible to make an equivalent mistake post-deprecation:

[code]

The problem is that when the `IO` passed `fetch` or `use` is complete, the connection is returned to the client's pool.  You need to be sure to consume everything you need from the response body in that callback.

(All snippets below untested, but they're close...)

A concise way to do this is:

[2020-06-18 05:00] rossabaker commented on #3509
It's late here, so I'll need to take a closer look tomorrow, but I appreciate the detailed repro.  That will make it much easier to get to the bottom of.

To be clear, you tried to set those timeout options in the `runClient` call?

[2020-06-18 05:44] #2049 closed

[2020-06-18 10:16] denisovlev commented on #3509
So I did some more testing

**Server timeout**
I saw in the BlazeServer logs that it closes connection after 60 seconds.
[code]

Not sure if it is correct behavior for the server to close connection while streaming result. Anyway, I used this server just for testing so I fixed it by setting servers idle timeout to infinity.

[code]

**Client timeout**
This however did not fix the problem. I see ti

[2020-06-18 14:56] etSingh commented on #3508
Thanks @satorg and @rossabaker for your help! 😄

So is it fair to say that the `org.http4s.client.jetty.JettyClient` isn't returning the underlying HTTP connection when the returned task completes since an attempt to read the response body afterward doesn't result in an error, which might be a potential problem since it isn't implementing the `org.http4s.client.Client` contract correctly?

[2020-06-18 15:07] rossabaker commented on #3508
I would say more that it's undefined behavior: we've returned the connection to Jetty, and Jetty's internal connection pooling can reuse it however it sees fit.

It would be nice if we could make it a compile time error to leak the stream out of `fetch` or `.run(...).use`, but the type system isn't powerful enough for that.  If we can't do that, it would be nice if this usage pattern would consist

[2020-06-18 15:23] #3508 closed

[2020-06-18 19:46] kevinmeredith commented on #3505
The HTTP Request `org.http4s.Method` shouldn't impact the `org.http4s.Uri`'s ordering, should one be added, no, @rossabaker?

[2020-06-18 19:49] kevinmeredith commented on #3505
Also, to be clear, I opened this issue mainly due to an uneasiness over having to use a `cats.data.NonEmptyList[org.http4s.Uri]` instead of a `cats.data.NonEmptySet[org.http4s.Uri]` since there's no `cats.kernel.Order[Uri]` instance.

If you closed this one, I wouldn't lose sleep, @rossabaker.

[2020-06-20 04:46] rossabaker commented on #3505
The method question is not relevant to the URI, but it's part of my more general question: should all of our model classes have orderings?  Most of them can lexicographically.  Like URI, It's a meaningless ordering in terms of HTTP semantics, but it's simple and unsurprising and permits things like usage in `NonEmptySet`.

[2020-06-20 13:55] Slakah commented on #3485
Implemented by #3487

[2020-06-20 13:56] #3485 closed

[2020-06-20 20:34] rossabaker commented on #3328
See #3518 for what I believe to be the real reason.

That fix is a hack, because we used `String` instead of `CIString` in the model and need to preserve it.  I think in 1.0, we want to use `CIString`, and correctness will follow.

[2020-06-21 00:20] vivian-duong opened #3519 "oauth1.signRequest breaks in a certain case"
`oauth1.signRequest` does not properly sign a request if the request was created from `Uri.unsafeFromString` with a `?` at the end of the string. I would get a `401 unauthorized` error with the `?`.

Passing in a uri with a `?` at the end is not super clean because it is not necessary, the `?` just means the start of a query, but as is `Uri.unsafeFromString` didn't give me any problems in the past

[2020-06-22 03:22] #3313 closed

[2020-06-22 04:12] rossabaker commented on #3519
I think the essential difference is this (note: if you import `org.http4s.implicits._`, you can use this `uri` syntax instead of the `unsafeFromString`, and it will validate your URIs at compile time):

[code]

Maintaining a distinction on the model lets us distinguish the two URIs.  Even though many APIs don't see a difference, some can.

The surprising behavior comes in when we call `withQueryPa

[2020-06-22 19:55] vivian-duong commented on #3519
Oh, ok. I didn't know some APIs see a difference between the two URIs. I thought I was just being sloppy with the hanging `?`...?

Thanks for following up.

[2020-06-22 20:14] rossabaker commented on #3519
Thanks for the report!  I think you can work around it by not dangling the '?', but #3520 will fix even that usage.

[2020-06-22 20:48] iRevive commented on #2278
Hello. I ran into the same issue. For some reason, I wasn't able to reproduce error locally, while in the production setup it appears constantly. Perhaps networking or platform (Linux) is a part of the problem.

### Prerequisites
http4s version: 0.21.4
pool size: 1
idle timeout: Duration.Inf

### Successful execution flow
[code]

### Failed execution flow
[code]

### Exception
[code]

### The most

[2020-06-22 21:54] rossabaker commented on #3509
The `cb` is already completed with a response.  For streaming purposes, the response headers are available before the timeout happens, so I think the best we can do is to raise an error in the Stream body.

The reason it's not is because the error is going to `onThrowable` instead of being raised by the `Publisher`.  We need some way of getting an error into that `body` we create in `onStream`.

[2020-06-23 05:22] rossabaker opened #3523 "Publish scalafix with the remainder of the project"
We just did this manually for 0.20.0, but now we're trying to tie the output version to the http4s version.

[2020-06-23 05:28] rossabaker commented on #3523
Ping @satorg to make sure this still seems correct.  I think we need to integrate the scalafix build as it stands on master with the main build on series/0.21.x, and then when we publish 0.21.5, we'll also be publishing the scalafixes for 0.21.5 and all subsequent releases.

I'm still a bit more hazy on what the input version should be.  Should it be the last versoin in 0.20?  Or 0.20.0?  Or do we

[2020-06-23 06:15] satorg commented on #3523
This is the first thing I tried to do: keep the input version on 0.18. But it turned out that `Client` [v0.18](https://github.com/http4s/http4s/blob/v0.18.0/client/src/main/scala/org/http4s/client/Client.scala) is very different from `Client` v0.21 – the former is a `final case class` in contrast to newer versions where it is a trait already. So keeping inputs on 0.18 would prevent the rules to wo

[2020-06-23 08:32] satorg commented on #3523
So I've tried v0.19.0 as the input version and it looks like there're no problems with this version as for now. I've updated my PR accordingly.

[2020-06-24 16:44] rossabaker commented on #3523
I spent some time yesterday reading the docs and better understanding the deployment model and what all those projects actually mean.

As long as we don't introduce new dependencies in the rules, it seems like we give users their choice of running from binary or directly from source.  The latter is nice if we catch up on scalafixes after a release.  And when we complete this ticket, we should even

[2020-06-24 17:06] satorg commented on #3523
So do you think the span from 0.19 (as input) to 0.21 (as output) is large enough for the rules? Because otherwise it'll be necessary to shrink a bunch of meaningful cases from the rules in my PR.

[2020-06-24 17:55] rossabaker commented on #3523
I think that's good for now.  Note that 0.19.0 was an accidental release (it got tagged while our automation was immature), but it's far back enough to be as good a spot as any.

[2020-06-24 18:00] rossabaker opened #3525 "Don't strip BOM from middle of stream in util.decode"
See https://github.com/http4s/http4s/issues/3453 for further discussion.

[2020-06-24 21:31] zkay opened #3527 "async-http-client: java.lang.IllegalStateException: This publisher only supports one subscriber"
👋 Hi there. We're seeing an issue when using the `async-http-client` module:

[code]

I tried searching for this message and only found it mentioned in passing in a previous issue: https://github.com/http4s/http4s/issues/3354#issuecomment-620032795

In our application code this client is being introduced via `iClient                    <- AsyncHttpClient.stream[F]()` and used in other services tha

[2020-06-25 02:15] #3328 closed

[2020-06-25 02:24] rossabaker commented on #3523
Fixed by #3526.

[2020-06-25 02:24] #3523 closed

[2020-06-25 14:50] rossabaker commented on #3452
Note that this is still not properly fixed in 0.21.5.  We'll try again.  See #3476.

[2020-06-25 16:59] rossabaker opened #3532 "GitHub releases irritation"
I don't like GitHub releases.

1. Their metadata doesn't live in the repo. It's another form of lockin.
2. It's a pain to automate with metadata from the repo.
3. If we go back and fill them out later, it takes today's date, not the tag's date.

I've cheerfully ignored them since 0.18.4.  And now, with the GitHub redesign, prominently on the front page:

"Latest release 0.18.4, on Mar 23, 2018"

:

[2020-06-25 18:25] ChristopherDavenport commented on #3532
The meta data stuff we can populate ourselves from copying when we release via a github tag.

Like we leave all the stuff but create the tag ourselves via the api. All the information for that release lives in the tag.

[2020-06-25 18:40] rossabaker commented on #3532
I don't see the automation in that repo?

I would like a git-managed source of truth for release descriptions that could be assembled into a changelog _and_ feed GitHub releases.  I'm particularly irritated that we can't change the date of GitHub releases to match the tag that they describe.  I think if we automated creating one when we published, we could update notes at our leisure, but we can't

[2020-06-25 18:45] ChristopherDavenport commented on #3532
I just do releases manually on github with my current system. The fact that its a web interface and then it goes and takes care of it all has been awesome for me personally. I don't think what I've done is what your looking for though. So I will leave it in case you find a cleaner approach.

I also never modify releases once created. Because they are releases. 😉

[2020-06-25 18:45] rossabaker commented on #3532
I just "released" v0.21.4 on my fork, and it shows as released now.

From the GitHub docs:

The thing is, releases as distinct from tags are totally useless for us.  We're not uploading binaries to GitHub, as is common in other languages.

[2020-06-25 18:47] rossabaker commented on #3532
Oh, you mean instead of creating tags locally and pushing them, you're tagging from the GitHub interface?  I've never done it that way, but I guess that would keep them in lockstep.

[2020-06-25 18:47] rossabaker commented on #3532
And I don't make a habit of changing things, but we've gone back and corrected typos and lies in the release notes.  I don't necessarily view the descriptions as immutable. The code, certainly.

[2020-06-25 18:51] ChristopherDavenport commented on #3532
Yes. That's what I've been doing. It makes it so I can do update based releases much easier and from much more places than if I had a full git repo of all my libraries on hand. Probably less relevant for a library of this size though.

[2020-06-25 18:56] rossabaker commented on #3532
I just tagged v1.0.0-M2 through the interface and it tried to infer a bunch of things from the last commit, and because it's a prerelease, still didn't update that stale indicator on the right.  But at least it set a sensible timestamp.

My big itch here is that it looks like we haven't done a release since 2018.

[2020-06-25 18:59] ChristopherDavenport commented on #3532
Well we can just update the "release" from the interface for 0.21.5 and that should get fixed.

[2020-06-26 04:10] satorg commented on #3345
So far so good. Meanwhile there're a bunch of other suspicious (for the same reason as `fetch`) methods in `Client` which we may consider to deprecate as well. I'd target these:

1. `def toKleisli[A](f: Response[F] => F[A]): Kleisli[F, Request[F], A]`
  The simplest one: can be replaced with `Kleisli(run(_).use(f))`
2. `def get[A](uri: Uri)(f: Response[F] => F[A]): F[A]`
  Not sure about it. Looks

[2020-06-26 13:27] ashwinbhaskar commented on #3289
I am not able to reproduce this. Should this have produced the exception?

[code]
where `foo` is a folder in resources directory with no files in it. The value of `s` is an empty string.

[2020-06-26 17:52] chadselph commented on #3289
There's several layers to this bug, but specifically the `IllegalStateException` happens when you try to return it as a response, since it's trigger by the content-length not matching. Check `_.contentLength`

The way the bug surfaces in your examples is that StaticFile.fromUrl on a folder in resources directory with no files in it should probably resolve to `OptionT.none`, not an empty string.

Y

[2020-06-28 01:30] rossabaker opened #3540 "Document request-only DSL"
From #3492. It's nice, but nobody is going to know it's there until we mention it.

[2020-06-28 16:47] Guisanpea commented on #3260
Taking a look to it

[2020-06-29 02:32] ashwinbhaskar commented on #3368
I can pick this up. @rossabaker  If it's okay, can you assign this to me?

[2020-06-29 18:39] rossabaker opened #3549 "Replace `Http4sDsl.Path` with `Uri.Path`"
Follow-up from [Gitter discussion](https://gitter.im/http4s/http4s-dev?at=5efa0748a813c72dcf18af47):

We are recreating an `Http4sDsl.Path` from a `Uri.Path` every time we call `->` in the DSL.  This is inefficient and confusing.

We should be able to eliminate `Http4sDsl.Path`, replace `Http4sDsl.Root` with `Uri.Path.Root`, and replace `Http4s.Dsl./` with an extractor in the spirit of the existin

[2020-06-29 19:27] rossabaker commented on #2096
Expounded on a better `Http4sDsl#Path` at #3549.  `Uri.Path` was a mere `String` when Calvin commented.  (And my apologies for missing it!).

I'm struggling to find any that remain in the model representations.  Most of them became `List`s (common in headers) or `Query` and `Uri.Path` are built on a `Vector`.  There are some references to `Seq` in terms of derived properties, like `multiParams`, w

[2020-06-30 01:36] rossabaker commented on #3532
I guess tagging from the GitHub UI is sufficient for now.

It still makes me grumpy.

[2020-06-30 01:36] #3532 closed

[2020-06-30 15:26] caoilte commented on #2278
@iRevive the problem went away completely once I rate-limited our use of blaze HTTP client. We would see it when the node was doing > 250 requests / second. Once I rate limited the service to 200 requests / second we stopped seeing the problem completely. (I used https://github.com/SystemFw/upperbound to do the rate limiting.)

[2020-07-01 03:54] satorg commented on #3471
Hey there. Is someone working on this issue? I looked through it briefly and I think I could take on it, if no one else minds.

[2020-07-01 03:57] #3289 closed

[2020-07-01 16:54] rossabaker commented on #3368
I read the spec a bit more carefully.  I'm not sure what our strategy is here yet.

@ashwinbhaskar's PR sends it unconditionally on the Challenge.  It seems like a good default, but should it be configurable?  (It's the kind of quirk that might be used to fingerprint an http4s server.)

And how are we going to implement Appendix B?  As the RFC suggests, we could fall back to a legacy encoding if p

[2020-07-01 22:27] gatorcse opened #3556 "Ember client hangs on large responses when F[_] is a Kleisli"
I was experimenting with integrating the http4s client with Natchez tracing, and I ran into a bug with Ember. When I converted the `F[_]` to be the `Kleisli[....]` that Natchez needs, the ember client started to hang on requests that were more than one chunk. I don't know if it's failing to terminate after the stream is over, or if it is failing to proceed past the second chunk; I've only been abl

[2020-07-01 22:29] gatorcse commented on #3556
Actually, I accidentally let it hang for a minute or so and it eventually completed.

[2020-07-02 01:49] rossabaker commented on #3471
Thanks, @satorg!

[2020-07-02 03:08] ashwinbhaskar commented on #3368
@rossabaker

I have tried to address this by decoding with UTF-8 first and only if the decoding fails then fall back to the original charset. - https://github.com/http4s/http4s/pull/3555/files#diff-66ce7925487855226b39f727e2dcfaee

[2020-07-02 19:43] Daenyth commented on #2277
- https://gitter.im/http4s/http4s?at=5efe3854b8152d34847a4187

[2020-07-03 06:38] ashwinbhaskar commented on #3368
@rossabaker what about [this](https://github.com/ashwinbhaskar/http4s/blob/a2030719b93c999fadf9b687dfe4698a4e0ea4f3/core/src/main/scala/org/http4s/Credentials.scala#L62) line? Would this be used by the client to create the token? If so, we should give the flexibility of providing the charest.

[2020-07-03 07:17] nelusnegur commented on #2011
I'm going to take `Access-Control-Allow-Headers`.

I don't know what is the status with the Accept-Patch as there is a comment from 2018; if there is no progress there, I could take it.

Also, maybe we could create a small table with columns: header, modeled/done, PR link, for an easier tracking? If you think it's a good idea, I can create it as a comment in this issue and afterwards it could be u

[2020-07-03 11:11] kevinmeredith commented on #3345
I agree with your idea, @satorg. The benefit of deprecating 4-8 would be to reduce the surface area of the `Client` API, I argue.

[2020-07-03 11:16] kevinmeredith commented on #3556
From where is `ep` coming, @gatorcse? I'm assuming it's `entryPoint`?

[2020-07-04 18:26] amitrai48 commented on #2011
I will pick `Access-Control-Allow-Methods`. Haven't seen any comments for picking it.

[2020-07-04 20:00] cquiroz commented on #2011
A table would be great, I was trying to
Tackle these in alphabetical order but I haven’t had time lately

[2020-07-04 20:58] rossabaker commented on #3368
Yes, it makes sense to me to parameterize that.

[2020-07-04 21:11] rossabaker commented on #3345
Sorry, I overlooked @satorg's followup. I agree with @kevinmeredith.  These were in questionable taste, but convenient, when encoding was effectful.  Now that it's not, they are much less compelling.

Note that the client DSL still returns `F[Request[F]]`, so users of that will feel some pain until we adjust that.  They might go hand-in-hand.

[2020-07-04 21:28] rossabaker commented on #2011
@amitrai48 Sounds great!

I converted the list above to a checklist.  I'll try to keep that current as they're claimed.  It's possible I missed some: if you get there, and it doesn't extend `HeaderKey.Default`, please come back for another!

[2020-07-04 22:48] satorg commented on #3345
@rossabaker yes, I agree that the client DSL should be changed accordingly.

[2020-07-05 03:40] ashwinbhaskar commented on #3064
Can a link be added to the logs of the failing test here? Or paste the logs here? Would help in debugging as this issue is not reproducible locally.

[2020-07-06 02:12] ashwinbhaskar commented on #3034
I can pick this up.

[2020-07-06 07:52] gatorcse commented on #3556
yeah, entryPoint gives a `Resource` of `EntryPoint`. The `entryPoint` code is copied directly from the natchez examples

[2020-07-06 16:46] dubinsky opened #3565 "StaticFile.fromURL() does not handle exceptions"
When there is no object at the `url` specified, `url.openStream` causes `StaticFile.fromUrl()` effect to throw `FileNotFoundException` instead of returning (the equivalent of) `None`: see
https://github.com/http4s/http4s/blob/master/core/src/main/scala/org/http4s/StaticFile.scala#L93

Is there anything I can do at the place of the call to work around this while waiting for the fix?
Thanks!

[2020-07-06 17:51] satorg commented on #3565
As I can see from the code, the exception should be thrown not by the `fromUrl` result effect itself, but rather by the response body stream – i.e. when you try to run the response body. Is it correct?

[2020-07-06 19:04] dubinsky commented on #3565
Indeed; sorry for my misuse of the terminology - I am new to this :)

One of the routes of the `HttpApp` that I configure in `BlazeServerBuilder.withHttpApp()` does
`StaticFile.fromURL(url, blocker, Some(request)).getOrElseF(NotFound(s"Not found: $url"))`, and when the requested object does not exist, `FileNotFoundException` gets thrown - instead of `NotFound` being returned.

So yes, exception *i

[2020-07-06 22:51] satorg commented on #3565
The way how `StaticFile.fromURL` is implemented is that it only opens input stream to the URL resource when the response body stream gets executed. And despite its `OptionT` return value it never returns 'None' actually (except if the resource is a directory, which is quite a border case).

It would be possible to change `StaticFile.fromURL` implementation to first check if a resource exists and r

[2020-07-07 00:11] ashwinbhaskar commented on #3565
@satorg I think just adding one more check to see if the file exists should suffice?
[code]

[2020-07-07 00:19] dubinsky commented on #3565
@satorg  It's hard for me to imagine code that actually *relies* on exceptions being thrown when running a functional effect :)
I am playing with a local copy of the `fromURL()`, and can't figure out how to adjust the rest of the code accordingly, since `OptionT.apply(F.delay{...})` wrapped around most of it expects `Option`, not `F[Option]`...

@ashwinbhaskar local `file.exists` has no connection

[2020-07-07 00:23] satorg commented on #3565
@ashwinbhaskar unfortunately, it isn't going to work with remote resources:
[code]
returns `/http4s/http4s/master/core/src/main/scala/org/http4s/StaticFile.scala`

[2020-07-07 00:38] ashwinbhaskar commented on #3565
@dubinsky @satorg got it

[2020-07-07 04:15] satorg commented on #3565
@dubinsky, meanwhile, I came up with the following snippet that you could try to use at the call site of `fromURL`:
[code]
This code attempts to start executing the body stream and if it fails with `FileNotFoundException` then `Response(status = NotFound)` gets returned.

I am totally not sure that it is either the simplest or most efficient solution though. Perhaps there's a better way to achieve

[2020-07-07 07:23] dubinsky commented on #3565
@satorg Wow! Thanks!
I think it'd be cleaner if `FileNotFoundException` was handled inside `fromURL`,
but so far I wasn't able to apply your suggestion about `redeem` to the code inside `OptionT.apply(F.delay(...))`.

[2020-07-07 17:27] amitrai48 commented on #2011
Hi all, I would like to pick `Content-Language`.

[2020-07-07 19:48] rossabaker commented on #3064
I'll try to get better about tracing the flakes back to tickets.

[2020-07-08 03:49] rossabaker commented on #3565
Handling that exception in `fromFile` makes sense to me, since it does return a `Response`, and there's a pretty obvious status mapping for it.

[2020-07-08 04:47] satorg commented on #3565
@rossabaker do you mean `fromURL`?

[2020-07-08 11:39] rossabaker commented on #3565
Oops. Yes.

[2020-07-08 12:17] ashwinbhaskar commented on #3565
@satorg will you be picking it up? If not I can pick this up

[2020-07-08 14:26] Guisanpea commented on #3260
Shouldn't this be marked as solved?

[2020-07-08 14:37] rossabaker commented on #3260
Yes! Sometimes we miss these when the PR doesn't have one of the magic GitHub ticket-closing words.

[2020-07-08 14:37] #3260 closed

[2020-07-08 15:05] ChristopherDavenport opened #3569 "RFC: Cookie Backdoor for Invalid Cookies"
Are characters that often end up in cookies despite the fact they are illegal. We cannot parse the cookie correctly so. However that means people have to brew their own parsers for their illegal cookies.

Perhaps we can make this easier in some regard. Discuss.

[2020-07-08 16:28] rossabaker commented on #3569
Right now, header parsing is a global registry that's awfully hard to customize.  I've thought about making it a parameter of the backends, that can be customized, but we're currently able to parse headers constructed straight from Strings without any backend reference.  I think the lazy header parsing model is an obstacle to configuration.

A simpler answer might be to relax these given real worl

[2020-07-09 03:18] satorg commented on #3565
@ashwinbhaskar yes, sure. Right now I have another task to work on, so feel free to pick this one up.

[2020-07-14 19:43] esarbe opened #3586 "Changed behaviour for `Router` between 0.21.6 and 1.0.0-M3"
There's a change in behavior `Router` between 0.21.6 and 1.0.0-M3, where the prefix is not properly accounted for.

Example

[code]

With 0.21.6 the first case (`Status.Ok`) is selected, with 1.0.0-M3 the second case (`Status.Accepted`) is selected.

[2020-07-15 19:44] kuzkdmy opened #3588 "Digest Auth client middleware"
Http4s provide Digest auth middleware to implement server, but luck of client middleware
This can be really not so trivial task for somebody who will just start working with http4s.
I have this already being implemented, need to revisit and contribute this to become a part of http4s project

[2020-07-15 19:45] Daenyth commented on #3588
To make sure it's clear: this is a request to add a client middleware for `Digest` auth, similar to the server middleware that exists now?

[2020-07-17 22:16] AnirudhVyas commented on #330
is this nearing completion by any chance?

[2020-07-17 22:41] ashwinbhaskar commented on #3565
@dubinsky sorry, been working on another issue. Will try this out over this weekend.

[2020-07-17 23:30] dubinsky commented on #3565
@ashwinbhaskar thanks!!!

[2020-07-18 17:18] BalmungSan opened #3592 "Ember client error when polling an url"
I am getting the below exception when using an **ember** client to constantly fetch data from AWS SQS using the HTTP API.

The error is somewhat sporadic, since sometimes it happens almost immediately and sometimes it takes roughly a minute.
But, after a couple of tries, it had never lasted more than 2 minutes before dying with the error.
Whereas, if using any other client it keeps running without

[2020-07-18 17:54] d2a4u commented on #3592
hi, I have always used Blaze and never tried Ember. The error looks similar with this [issue](https://github.com/http4s/http4s/issues/3235), however, it should be fixed in `0.21.6`. I will also have a look and see if I can reproduce the error.

[2020-07-19 09:26] ashwinbhaskar commented on #3565
@dubinsky   I have picked up this issue. Like @satorg pointed out this will not be backward compatible because we will have to change the type of `body` in `Response`  to `Option [Stream]` from just `Stream`. CMIIW @satorg

[2020-07-21 11:53] d2a4u commented on #3592
I've tried some stuff to get more info about this issue so just want to give some updates on my findings. The code I have used to reproduce this error:

[code]

`ReceiveMessage[IO, String]().mkRequest(config)` just returns `F[Request[F]]`. So the snippet above it just sends a request repeatedly every 2 seconds. However, if I use `client.status`, it works perfectly fine, so I think there is an issu

[2020-07-22 15:02] BalmungSan commented on #3592
@d2a4u would you be able to join the [**http4s** gitter channel](https://gitter.im/http4s/http4s)? So we can discuss this more quickly than in issue comments.

[2020-07-23 04:21] ashwinbhaskar commented on #2826
@matthughes  what is the expectation if the url contains the `Etag` header?

[2020-07-24 19:01] rkrzewski commented on #330
@AnirudhVyas today I've learned that in fact there is a WebSocket client in http4s project: https://jdk-http-client.http4s.org/latest/index.html#websocket-client

[2020-07-25 02:00] joan38 commented on #330
Yes, we are using it in https://github.com/joan38/kubernetes-client.
Please feel free to have a look at how @novakov-alexey moved us out of akka-http: https://github.com/joan38/kubernetes-client/pull/20
There is 1 caveat tho to this: You raise the min JVM requirement to 11.

[2020-07-25 16:12] #3368 closed

[2020-07-25 18:02] ChristopherDavenport commented on #3592
Closed By #3598

[2020-07-25 18:02] #3592 closed

[2020-07-26 08:33] nelusnegur commented on #2011
I would like to pick `Access-Control-Expose-Headers`.

[2020-07-28 09:43] henricook opened #3606 "Be able to create an AsyncHttpClient with a custom request timeout"
I mentioned this briefly on Gitter and it was suggested I raise an issue.

I want to be able to create an AsyncHttpClient with a custom request timeout. At the moment I can use `AsyncHttpClient.resource[Task]()` to get the `defaultConfig` from http4s `AsyncHttpClient`. I might have missed something (please tell me if I have!) but I don't think I can tweak this to give me a custom request timeout.

[2020-07-28 10:47] henricook commented on #3527
We're also running on 0.21.1 until this is fixed. We have a similar structure to you zkay

[2020-07-29 07:24] hamnis opened #3608 "Model `Forwarded` header"
The alternative and de-facto standard versions of this header are the `X-Forwarded-For`, `X-Forwarded-Host` and `X-Forwarded-Proto` headers.

https://tools.ietf.org/html/rfc7239#section-4

[2020-07-29 07:40] satorg commented on #3608
@hamnis, I'm already working on this issue: #3471

[2020-07-29 08:17] hamnis commented on #3608
@satorg great. didnt notice that. Closing this.

[2020-07-29 08:17] #3608 closed

[2020-07-29 12:35] hamnis commented on #3606
We could add a function to make this easier.

`AsyncHttpClient.configure(fn: DefaultAsyncHttpClientConfig.Builder => DefaultAsyncHttpClientConfig.Builder): HttpClientConfig`

[2020-08-01 07:30] satorg opened #3613 "Suppress compile time warnings in the scalafix module"
Warnings like these below are important in general, but make no sense in the `scalafix` module (or at least in the given file), since these unused parameters were introduced intentionally to let the output match the input after applying the scalafix rule to the latter.
[code]

[2020-08-01 19:12] rossabaker commented on #3613
Agreed.  Do we want to start opting out of warnings individually to make sure we're preserving useful ones, or are none of them useful?

[2020-08-02 07:40] satorg commented on #3613
I haven't investigated it yet... But I guess it should be pretty safe to disable most of lint warnings for modules `scalafixInput` and `scalafixOutput` – apparently these two are not intended to provide some high quality code but rather model various user cases.

[2020-08-02 07:47] kuzkdmy commented on #3588
Yes, sorry that don't find time to make a pull request. I'll have this already being implemented, just need to revisit and make a pull request, will try to make this week.

[2020-08-02 13:36] rossabaker commented on #3588
@kuzkdmy Great! It sounds like this is new and wouldn't change any internals, so if you target the series/0.21 branch, we can get it into the production release series sooner.

[2020-08-02 13:41] rossabaker commented on #3613
I definitely agree with the reasoning on input.  I'm less sure on output: I think it's a noble goal to produce output that lints cleanly.  But maybe that's not possible in practice.  I think we should disable on input, and evaluate where we stand on output.

[2020-08-02 16:45] kuzkdmy commented on #3588
Migrate from what we used with a very little refactoring
https://github.com/http4s/http4s/pull/3618/files
Thanks

[2020-08-02 17:44] satorg commented on #3613
Agree – we can start by addressing input only. Especially since there're no additional warnings produced by output right now.

[2020-08-02 19:57] henricook commented on #3527
I've updated my testing of this.

I have one AsyncHttpClient on 0.21.6. The client is shared across 50 or so test suites, running in parallel in a 2 thread thread-pool (so two at a time).

Fascinatingly on my local machine (Ubuntu 20.04, sbt 1.3.13. scala 2.13.1, non-dockerised) that runs fine, in fact it ends up using 10 threads or so in the pool because I have more cores locally. Even when I res

[2020-08-03 18:52] niij commented on #834
I have also run into this issue. Perhaps having a flag in the CORSConfig to either catch or passthrough errors (with the default being the current behavior of passthrough) would be useful?

[2020-08-04 04:37] jyoo980 commented on #3606
Could I try my hand at this?

I've use Scala at work but it'll be my first foray into Scala open-source.

[2020-08-06 04:21] #3034 closed

[2020-08-06 12:59] hamnis commented on #3606
Fixed by #3623

[2020-08-06 12:59] #3606 closed

[2020-08-06 14:28] rossabaker commented on #330
I haven't heard objections to the existing client interface.  It would be great to get that moved into core and a second implementation, if someone is looking for a medium-effort contribution.

[2020-08-06 14:40] vetalbabenko opened #3626 "Jetty+Http4s: timeout response 500"
**Intro**
Found a interesting behaviour when jetty server used with http4s.
When request timed out, 500 Response code sent instead of 503.

**Library versions used**
- "org.http4s" %% "http4s-core" % "0.21.1",
- "org.http4s" %% "http4s-jetty" % "0.21.1"
- "dev.zio" %% "zio" % "1.0.0-RC18-2",
- "dev.zio" %% "zio-interop-cats" % "2.0.0.0-RC12",
- "org.http4s" %% "http4s-dsl"  % "0.21.1"

**Steps to

[2020-08-06 23:54] vmanpuria opened #3628 "http4s blaze client with connection pool is closing connection after processing a large response"
Issue: http4s blaze client with connection pool is closing connection after processing a large response of 129KB.

Timeline:
2020-08-06 21:48:43.972:  isRecyclable returns false
2020-08-06 21:48:44.004: connection is reset
2020-08-06 21:48:44.020: connection shutdown (in idleTimeout stage)

Debug Logs:
=========
2020-08-06 21:48:43.966 - [ERROR] - from org.http4s.client.blaze.Http1Connection-? in

[2020-08-07 03:24] rossabaker commented on #3626
Thanks, this is a nicely researched report.

Blaze and Jetty have very different mechanisms for timeout handling.  The happy paths between backends are largely the same, but there are implicit behaviors like this that cause subtle differences.

I wonder whether we need to render the timeout response synchronously in the `onTimeout` callback in order to force our custom 503 response before the serv

[2020-08-07 23:58] vmanpuria commented on #3628
**tcpdump logs**

`tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on eth0, link-type EN10MB (Ethernet), capture size 262144 bytes
22:16:06.357521 IP 10.0.3.27.36634 > 10.0.2.52.8080: Flags [F.], seq 3000846910, ack 3039530385, win 55, options [nop,nop,TS val 596607360 ecr 1296945316], length 0
22:16:14.939152 IP 10.0.3.27.41384 > 10.0.2.52.8080: Flags [S], seq

[2020-08-08 00:12] vmanpuria commented on #3628
Forum discussion
=============

Hi Folks - I am new to http4s. I have noticed that with a large payload (over 6k bytes), https connections are being shutdown after the response is processed. I am using an Http Blaze client with connection pool. The http protocol version is 1.1.
With smaller payloads (like 3kb payloads), the https connection stays alive and is re-usable for the next https call. Wit

[2020-08-09 04:06] #3565 closed

[2020-08-10 10:03] philliptaylorpro commented on #2161
Silhouette and Keycloak can be made to work together.

[2020-08-10 18:56] nelusnegur commented on #330
@rossabaker I would like to take this, if it's not urgent.

[2020-08-10 20:51] rossabaker commented on #330
@nelusnegur Do you have a backend in mind that you'd like to try to implement it on?  AHC, okhttp, and Jetty all have their own models for it.  Ember would be pure FP, but have more from-scratch coding.  Blaze has the same drawbacks as Ember, and also gets you into Futureland.

[2020-08-11 05:20] nelusnegur commented on #330
@rossabaker I haven't thought about it yet, but from your short summary, I would prefer Ember (I'll have a longer journey, but a funnier one).
Also, should we preserve the same public interface as it is now, or something could be changed? And where the implementation should be placed, in ember-server and client respectively or somewhere else?

[2020-08-11 21:51] gordon-rennie opened #3642 "`Metrics` middleware not running finalize"
I started debugging some unexpected behaviour in an `HttpRoutes` which was wrapped in `Metrics` and `ErrorHandling` middlewares and seem to have narrowed it down to an issue with the `Metrics` middleware.

The expected behaviour when processing a request is that the `Metrics` calls the `MetricsOps` algebra it is injected with in the following way:
* increase active requests
* record headers time
*

[2020-08-11 22:14] gordon-rennie commented on #3642
Closing as user error.

It is necessary to `.compile.drain` the response body (which a server backend would normally do for you) so that the finalizer will run -- thanks @ChristopherDavenport

My test examples then become,

[code]

[2020-08-11 22:14] #3642 closed

[2020-08-12 05:02] rossabaker commented on #330
@amesgen has done most of the work on web sockets and @ChristopherDavenport on Ember, so I suggest we invite their wisdom.

I would think any client interface belongs in `org.http4s.client`, and any model we share generically between client and server could go in `org.http4s.websocket` in http4s-core.  And then implementations would go in ember-server and ember-client.

You might want to focus on

[2020-08-12 22:32] ChristopherDavenport commented on #330
Websocket is sorta an upgrade protocol where its just never released right? In which case you have the socket, so if we know its a websocket, then should be pretty operable.

The client is definitely simple, as you can almost immediately pull out a connection and then turn that into the protocol fairly independently of the rest of the flow, steal the internals as helpers as necessary. My knowledge

[2020-08-13 00:07] rossabaker commented on #330
I can't remember without looking whether a web socket connection can be returned to the pool for HTTP after the close handshake, or whether a termination of the connection is part of the protocol.  But implementing as the latter would at least get things off the ground, I think.

[2020-08-13 02:29] ChristopherDavenport commented on #330
You're welcome, https://github.com/ChristopherDavenport/mapref/blob/master/core/src/main/scala/io/chrisdavenport/mapref/MapRef.scala#L503

[2020-08-13 02:38] ChristopherDavenport commented on #330
https://github.com/http4s/http4s/blob/master/ember-client/src/main/scala/org/http4s/ember/client/internal/ClientHelpers.scala#L52 - This is presently how we extract out a request socket.

It forms the basis of its extraction from the pool inside the builder.
https://github.com/http4s/http4s/blob/master/ember-client/src/main/scala/org/http4s/ember/client/EmberClientBuilder.scala#L136

Then its actu

[2020-08-13 20:25] nelusnegur commented on #330
Thank you all very much for the explanations! That was really helpful. I'll try to implement the client first, and then we can move forward to server side part.

[2020-08-17 16:57] Daenyth opened #3648 "Cross build / release for Dotty"
Currently blocked on parboiled. https://github.com/sirthias/parboiled2/issues/210

https://gitter.im/http4s/http4s?at=5f3ab32260892e0c6979b633

[2020-08-17 19:22] dwalend commented on #251
Please reopen. I'd much prefer to use Blaze.

AsyncHttpClient has its own intermittent bugs. See https://github.com/AsyncHttpClient/async-http-client/issues/1660 .

I'd rather have proxy support in http4s/blaze - one dependency-  than in http4s/asynchttpclient/netty - three levels deep, with a concurrency bug between the bottom two levels.

[2020-08-20 13:40] ChristopherDavenport opened #3652 "Middleware Documentation"
Discoverabilith of middleware is not as good as it could be. We can create a middlewares page on the site documenting what we have available as well as a community section at the bottom where others can list their middlewares since a lot of our features come from middleware.

[2020-08-21 18:42] rossabaker opened #3653 "Simplify and document server construction"
A suggestion on Twitter in a thread about improving the onboarding experience:

[code]

There are already other ways of starting the server, and the example this user found dates back to `StreamApp`.  For these very simple cases, maybe a `serveHttpApp(app)` that elides everything through the `ExitCode.Success` would be helpful.

[2020-08-24 15:06] rossabaker commented on #3653
That's a good point. We need to cast away the `Nothing`, but it's dead code the compiler doesn't catch, which maybe suggests that it's not an ideal API.

[2020-08-24 15:19] satorg opened #3657 "ListSep in Rfc2616BasicRules does not conform to RFC"
An initial conversation: https://gitter.im/http4s/http4s-dev?at=5f056255dbf01050ab5e7a14

In short, currently `ListSep` is defined as follows:
[code]
while a correct definition would look something like:
[code]

See also:
- [RFC2616](https://tools.ietf.org/html/rfc2616#section-2.1) (obsolete)
- [RFC7230](https://tools.ietf.org/html/rfc7230#section-7)

[2020-08-25 03:26] ashwinbhaskar commented on #2012
@rossabaker I can get started with this.

[2020-08-25 03:27] ashwinbhaskar commented on #1651
@rossabaker I can pick this up.

[2020-08-25 04:50] jyoo980 commented on #3657
I can tackle this bug, if it looks like something a newcomer to the project can do

[2020-08-25 21:16] izeigerman opened #3660 "Reference SSE client implementation"
@ChristopherDavenport, per our discussion on Gitter sharing my implementation of the SSE (Server-Sent Events) client: https://gist.github.com/izeigerman/09cf83a44a590e734873e552ae060fc4
This implementation supports all SSE attributes (like `id` and `retry`) as well as automatic reconnects.
Feedback is highly appreciated.

[2020-08-26 11:32] AntonTkachev opened #3662 "DN certificate validation"
Exist way to configure the server with TLS, using only DN?
I want check validation of certificates use only DN. Can't find this case in docs.

[2020-08-27 07:13] hamnis opened #3664 "ZonedDateTime QueryParamCodec flakiness"
[error] x QueryParamCodec.decode . emapValidatedNel(ValidNel) . encode == successNel (40 ms)
[error]  Falsified after 86 passed tests.
[error]  > ARG_0: 2008-05-06T08:06:41Z[GMT0]
[error]  The seed is g9ZfCxo-M0krxW4NucJnoiiQa5IeWZmxorikUy8lprE=
[error] org.http4s.QueryParamCodecSpec.check(QueryParamCodecSpec.scala:22)
[error] org.http4s.Http4sSpec.$anonfun$checkAll$2(Http4sSpec.scala:77)
[error]

[2020-08-27 07:36] faustas opened #3665 "Bug in CSRF error handler for `onFailure`"
### Intention

I wanted to handle an error during CSRF validation with the `onFailure` response of the CSRF class.
The problem with some of the browsers (e.g. Firefox, Chrome) is that they do not remove session cookies. They provide settings which use the session cookies even when the browser was restarted.

The idea is to catch the CSRF validation error and provide an own `onFailure` response tha

[2020-08-27 19:17] tpolecat opened #3667 "ember client - Ended of Stream Looking for Response Prelude"
I'm getting this error pretty often … must be a client error since it's parsing a response .. I guess?

[code]

[2020-08-29 18:33] jyoo980 commented on #3664
I added these tests when I implemented the `ZonedDateTime` query param codec. I can take a look. Sorry for holding up CI!

[2020-08-30 19:24] jyoo980 commented on #3664
I took a look at this, and couldn't really dig into why it occurred. Here are some of the few things I found
* Can reproduce the flakiness when I run tests  via `sbt`, but can't seem to replicate the issue when I debug with IntelliJ
* Doesn't appear to be an issue with invalid `Instant` values being passed in, since they appear to fail with completely reasonable values such as
  * `> ARG_0: 2020-0

[2020-08-31 13:47] vetalbabenko commented on #3626
Hello @rossabaker. Any updates on this issue ? Is there would be some fix regarding this, or maybe you can suggest how we can solve it or create some temporary workaround.
Thanks in advance!

[2020-08-31 18:29] rossabaker opened #3671 "QueryParamCodecSpec flake"
[code]

Seen on https://github.com/http4s/http4s/pull/3658/checks?check_run_id=1024235913.

[2020-08-31 18:30] rossabaker commented on #3671
More:

[code]

https://github.com/http4s/http4s/pull/3658/checks?check_run_id=1024235926

[2020-08-31 21:17] ChristopherDavenport commented on #3667
This would be the server killing an idle connection and it ending up using the connection presently.

We should be handling this gracefully and retrying.

[2020-09-02 14:02] rossabaker commented on #3671
These are now causing most PRs to fail.  This needs a look ASAP.

[2020-09-02 22:52] eikek opened #3676 "Allow to pass prefer-gzip in WebjarService"
Hi,

The `WebjarService` uses `StaticFile.fromResource` which allows to pass a boolean flag `preferGzipped`. It would be nice to use this flag. Maybe it is an option to add it to the `WebjarService.Config`?

[2020-09-07 21:36] jyoo980 commented on #3664
@hamnis any thoughts on how to proceed? Seems like this is blocking #3609

[2020-09-08 03:34] satorg opened #3680 "org.http4s.Method.fromString may succeed on invalid inputs"
The initial conversation is [here](https://gitter.im/http4s/http4s-dev?at=5f55d832ec534f584fea2572)

Consider the example:
[code]
In other words, although the entire input string `"FOO:BAR"` is not a valid token, but its initial part `"FOO"` gets captured since it is still a token.
Therefore, `fromString` captures everything up to the first non-token symbol but not necessarily to the end of the en

[2020-09-08 06:40] hamnis commented on #3664
Lets disable these tests for now.

[2020-09-08 06:45] satorg commented on #3664
I wouldn't say it really blocks #3609 specifically. In particular, the most recent CI run got failed due flakes in two different tests:
* Scala 2.12.12, Java adopt@1.8 failed tests: `org.http4s.QueryParamCodecSpec`
* Scala 2.13.3, Java adopt@1.14 failed tests: `org.http4s.client.blaze.Http1ClientStageSpec`
I guess these two completely unrelated to each other.

[2020-09-08 07:05] satorg commented on #3664
@jyoo980 does this issue appear on Java other than "adopt@1.8", btw?

[2020-09-08 07:50] satorg commented on #3664
I'm asking because I have Java 14 on my laptop right now, and seems I cannot reproduce this issue there...

[2020-09-08 14:48] leonardosantosklarna opened #3681 "Uncontrolled Memory Allocation in netty-codec 4.1.45.Final"
There is a high severity vulnerability found in netty-codec [4.1.0.Final, 4.1.46.Final). The version netty-codec@4.1.45.Final is currently being used by http4s-async-http-client 0.21.7. I was wondering whether it was possible to release a hotfix with the dependency updated to 4.1.46.Final or higher?

Please refer to https://app.snyk.io/vuln/SNYK-JAVA-IONETTY-564897 for more details on the vulnerab

[2020-09-08 17:14] satorg commented on #3671
I guess this issue duplicates #3664.

[2020-09-08 17:30] hamnis commented on #3671
This is a duplicate.

[2020-09-08 17:30] #3671 closed

[2020-09-09 15:22] jyoo980 commented on #3664
@satorg sorry for the delayed response.

I don't have Java 14 on my machine. I do development on `adopt@1.8`. It seems like it's an issue that rears its head more often than not on the CI/CD build. It doesn't always fail locally, otherwise I wouldn't have opened a PR.

[2020-09-09 15:38] Daenyth opened #3685 "Docs are missing a page on Attributes"
Currently Attributes only have javadoc; I don't see a major heading on the doc site for them, and googling "http4s attributes" just brings back the api docs for me.

[2020-09-12 09:30] satorg commented on #3664
Hey guys, seems I found the root cause of the issue.
Please take a look on the details and a suggested fix here: #3691.

@jyoo980 @hamnis

[2020-09-15 08:58] faustas commented on #3665
Any progress with this bug? Is the PR fine and could be merged into the `series/0.21`?

[2020-09-15 22:16] wjoel commented on #1145
@rossabaker I've taken a stab at this, and on my machine my changes improve the composite score by 2.14 (from 271 points to 583 points).

Please take a look at https://github.com/wjoel/FrameworkBenchmarks/tree/improve-http4s and suggest further improvements.

I plan on submitting a PR soon, but it would be great if you could make sure I'm not missing anything. I've tried jsoniter-scala, Skunk, Emb

[2020-09-17 21:50] wjoel commented on #1145
@ChristopherDavenport what do you mean by "Remove All Overhead possible on Plaintext. Blaze is 22x Faster Than Us And We are Using It"? What should I change to improve the performance on plaintext for http4s (which does seem a bit too low)?

[2020-09-18 15:18] pjan opened #3697 "Websocket fails with a Kleisli Routes monad"
Minimal example:

[code]

Full Stack trace:
[code]

I tried debugging it for a the past 2 hours, but I'm not deep enough in the http4s codebase to resolve this within a reasonable amount of time. Hopeful the solution for this will be obvious to someone around here.

[2020-09-18 19:20] ChristopherDavenport opened #3700 "Add Max Connection Lifetime Configuration for Client Backends"
We don't actually manage a maximum lifetime, only idle time in the pool. So if its being used we never kill super old connections. Would be nice to support removing connections if they are too old from when they are initially created if we want to.

Like in the instance of holding a connection to a load balanced resource not acting as a proxy. Where new connections need to be periodically created

[2020-09-19 04:32] yoohaemin commented on #3697
Looks like the problem's with the `attribute` field of the response.

When you do this:
[code]
`mapK` doesn't run every `Kleisli` and turn it back into `F` (despite the type telling you so!)

See the implementation of `mapK`:

https://github.com/http4s/http4s/blob/fef26ec6c14433490969a8e5bd221121288c8de0/core/src/main/scala/org/http4s/Message.scala#L529-L536

The `attributes`  field is passed as-i

[2020-09-19 08:51] pjan commented on #3697
Thanks for the pointer, @yoohaemin.

Based on this, I dug a bit deeper and was able to resolve this in a local branch, but the changes required, while straightforward, break the current API:

- pull the `WebSocketContext` out of the `attributes` in its own variable on the `Response`

[code]

- `mapK` on response needs to act on the `wsCtx`. Given that `WebSocketContext[F]` wraps around `WebSocket`

[2020-09-19 11:13] yoohaemin commented on #3697
@pjan I think this could definitely work and a cleaner solution of the root cause. However, if the maintainers decide that the api breakage is a problem I can think of another way to solve this.

We could store a list of `FunctionK`s in the vault, and append at the list whenever `mapK` in the `Response` is called. After that, when the websocket stuffs are actually invoked, run `foldK` on that list

[2020-09-20 05:04] pjan commented on #3697
Given that we need both an `F ~> G` as well as a `G ~>F` for the transformation of the `Pipe` (inside the Websocket > WebsocketContext > Response) for this to work, it would still come with API breakage.

[2020-09-20 16:58] wjoel commented on #1145
I found one odd thing from profiling, where Http1ServerStage.renderResponse was parsing the accept header, even if it's not using it. Fixed in https://github.com/http4s/http4s/pull/3701, I hope. Increases the throughput on plaintext by another 15-20%.

[2020-09-21 06:20] hamnis commented on #3697
Good find @pjan

Not all backends support Websockets at the moment, leaving us with a problem of how to model this without having to expose it in the base model. Attributes swallows the original type, but exposing it as a response field may signal to users that all backends support websockets. IDK what is the best solution here. We cannot query the attributes of which effectful attributes exists.

[2020-09-21 15:59] Lasering opened #3702 "ResponseLogger does not show body in BadRequest"
Example of a log line:

[code]

Using Http4s 1.0.0-M4

If I somehow force the body to be computed (eg: `response.bodyText.compile.foldMonoid`) then the `ResponseLogger` will log the body.

[2020-09-22 04:52] rossabaker commented on #1145
Thanks, @wjoel!

This strikes at the heart of whether we are showing idiomatic usage or doing cynical marketing.  Quill is not a common choice among http4s users, and though I haven't used this specific one, I've soured on DSLs like it.  But, I agree with your commentary.  Let's use our docs to show the recommended way, and optimize the benchmarks for marketing .

I left a few comments.  I think y

[2020-09-22 05:09] rossabaker commented on #3665
I'm sorry we didn't get to this sooner.  This is an exemplary issue description, and the fix looks good.  I'm aiming to do an 0.21.8 release this week, which will include the PR.

[2020-09-22 09:03] AlexGruPerm opened #3706 "Uri parsing bug with curly brackets in query param name"
0.21.3

When I try to use (instagram like) link with curly brackets

[code]

I receive error
[code]

[2020-09-22 09:13] Slakah commented on #3706
Hi @AlexGruPerm ,

I think you'll need to URL encode the curly brace, see: https://en.wikipedia.org/wiki/Percent-encoding .

From a JS repl, you end up with:

[code]

[2020-09-22 11:27] AlexGruPerm commented on #3706
Thanks, I did it with
[code]

[2020-09-22 11:28] #3706 closed

[2020-09-22 14:09] wjoel commented on #1145
We were using Quill with http4s in two projects at work for more than a year until quite recently when we switched to Doobie to reduce compile times, so it's not unrealistic. ;) I too prefer not using the DSL (harder to learn than just using straight SQL, especially for new developers), but switching to Quill for the async database support is not unreasonable if performance is a concern and the da

[2020-09-22 19:55] ChristopherDavenport opened #3707 "Improve Logging On Failed Expect"
https://github.com/http4s/http4s/blob/master/client/src/main/scala/org/http4s/client/DefaultClient.scala#L228

This default response does not actually compile the stream or observe the failed bodies so they do not appear in loggers. The fix is as easy as changing constraint to sync on this method and then calling

`resp.body.compile.drain.as(UnexpectedStatus(resp.status))`

[2020-09-22 20:17] #3664 closed

[2020-09-23 02:40] rossabaker commented on #3702
I think this is related to #3707?

[2020-09-23 09:59] Lasering commented on #3702
Seems like it. Going to close this one.

[2020-09-23 09:59] #3702 closed

[2020-09-27 00:05] wjoel commented on #1145
I've addressed the comments (I think!) and submitted https://github.com/TechEmpower/FrameworkBenchmarks/pull/6040

[2020-09-28 04:45] rossabaker commented on #1145
Approved over there. Thanks!

[2020-09-28 04:46] #1145 closed

[2020-09-28 13:42] khrupalyk opened #3713 "Incorrect path composing with Router"
**Problem:**
If the prefix used in `Router` contains more the one path fragment,  `Router` will always return `Not Found` error.

[code]

**Expected result:**
Router should route request `GET /api/v1/orders ` to correct handler

**Actual result:**
Router return `Not Found` for request `GET /api/v1/orders `

Works well if the prefix contains only one path fragment:

`val routes = Router("/api/" ->

[2020-09-28 16:45] Lasering commented on #2738
This would also simplify the Client API (#2483) and could be made simultaneously to achieve a better and more consistent API.

[2020-09-29 16:29] Daenyth opened #3717 "[ember-client] IOException: Connection reset by peer"
Recently I was testing different backends in my prod application.
When I changed the existing code (working fine with blaze) to use ember, I notice many instances of this exception:

The exception is caught correctly and returned from my `client.run` call, ultimately, but it's surprising that this happens so much (thousands of instances).

- java 8
- Scala 2.12.12
- fs2 2.4.4
- http4s 0.21.7

[cod

[2020-09-30 08:37] tienleq commented on #3383
Hi, I have exactly the same problem with AsyncHttpClient. How is it get solved?

[2020-09-30 17:17] alejandrohdezma opened #3719 "Warning for future deprecation in Scala 2.13.3"
## What's the problem?

When using [`+?` operator](https://github.com/http4s/http4s/blob/e45ca2c8703c43d7c00a55d47a35d3bd3b79dfdd/core/src/main/scala/org/http4s/QueryOps.scala#L39) to add a query param to an `Uri` value in Scala 2.13.3 the following warning is raised:

[code]

The warning only dissapears if no-infix syntax is used:

[code]

...which completely breaks the goal of those operators.

[2020-10-05 19:28] #3713 closed

[2020-10-07 22:18] rzeigler opened #3727 "Streaming bodies never produce a response without Transfer-Encoding set"
Using blaze server, when rendering a streaming body directly using `withBodyStream` if the Transfer-Encoding: chunked header is omitted no response is ever rendered to client in some cases. This looks like the result of the idle timeout being hit before the response body is finished.

For a reproduction see a repro built on the http4s.g8 template as of 10/7/2020.
Specifically [this route](https://

[2020-10-08 13:19] ghost opened #3729 "Forum discussion"
Forum discussion
=============

Hi Folks - I am new to http4s. We have noticed that with a large payload (over 6k bytes), https connections are being shutdown. After I adding logs, examined tcpdump and browsed the code, the issue seems to be in the http4s. After connection reset, instead of calling `isReusable`, a call is made to `shutdown` the connection. Therefore, it could be a bug with idle ti

[2020-10-09 12:09] ashwinbhaskar commented on #3676
@rossabaker I can pick this up.

[2020-10-09 19:33] willtrnr opened #3731 "Prometheus metrics route never matches in 1.0.0-M4"
In `1.0.0-M4` and `master` at this time, the `pathInfo` field of `Request` was changed to a `Uri`, however the Prometheus `/metrics` route still does an equality check against a string which simply never passes.

https://github.com/http4s/http4s/blob/v1.0.0-M4/prometheus-metrics/src/main/scala/org/http4s/metrics/prometheus/PrometheusExportService.scala#L49

[2020-10-09 19:59] tpolecat opened #3732 "[ember] error parsing responses with ember client"
I sporadically get this error from Ember client when making a request. I'm on version 0.21.7+45-4eb03e47-SNAPSHOT

[code]

[2020-10-10 18:41] Daenyth commented on #3729
Which backend are you seeing this with?

[2020-10-11 21:29] rossabaker commented on #3731
Yikes!  Any volunteers to clean this one up?

[2020-10-11 22:50] jyoo980 commented on #3731
I can pick it up @rossabaker

Should we remove the equality check altogether or cast the `pathInfo` to a `String`?

[2020-10-12 01:17] rossabaker commented on #3731
[impl discussion on #3738]

[2020-10-12 04:29] rossabaker commented on #3719
I don't love these operators in the first place.  It feels DSLish, and if we're into DSL land, I wonder where is the `=` to go with the `?`.  But I think people do like them, and this solution looks as good as any.

I'm in favor either of this, or of deprecation.

[2020-10-12 04:30] rossabaker commented on #3717
What kind of requests?  GETs, POSTs, both?

[2020-10-12 23:25] #3731 closed

[2020-10-13 00:17] rossabaker commented on #2738
Okay, let's move forward with it for 1.0.  I think it might be tedious to fix the tests, but good practice.  Volunteers?

[2020-10-13 02:44] rossabaker commented on #3383
I suspect this is related to [returning an `EmptyBodyGenerator`](https://gh/http4s/http4s/blob/4af59694f8681be9b0218ff0a1a987a37760aacc/async-http-client/src/main/scala/org/http4s/client/asynchttpclient/AsyncHttpClient.scala#L172-L177), which discards any body finalizer set by the metrics middlewares.  As I recall, AHC doesn't permit an empty reactive stream.

I suspect to fix this, we need to fig

[2020-10-13 04:14] rossabaker commented on #3680
Fixed by #3716

[2020-10-13 04:14] #3680 closed

[2020-10-14 01:57] #3676 closed

[2020-10-14 03:18] ashwinbhaskar commented on #3681
I can start looking into this.

[2020-10-14 08:16] satorg commented on #3657
@jyoo980, sorry, I decided to overtake you with this issue.

[2020-10-14 14:07] hamnis opened #3745 "Consider merging Request and ContextRequest"
If we take a look at the types of ContextRequest and Request, we can see a isomorphic relationship between
`ContextRequest[F[_], Unit]` and `Request[F[_]]`

Perhaps ContextRequest is the type we really need and we can then have a type alias
`type Request[F[_]] = ContextRequest[F, Unit]`

We are using the ContextRequest to pass quite a bit of information decoded out of the request and also enriched

[2020-10-14 20:23] jyoo980 commented on #3657
@satorg totally my bad, thanks for resolving this! 👍

[2020-10-15 02:53] rossabaker commented on #3745
Interesting.  I haven't used `ContextRequest`, but the isomorphism seems correct.

Cons:
* That extra field in the `Request` case might cost some memory request.  I doubt anybody notices.
* Type aliases make error messages and code browsing more intimidating to new users.

Pros:
* I bet some middleware that takes a `Request[F]` input now could be generalized.

Random ponderings:
* `ContextRequest`

[2020-10-15 03:24] rossabaker commented on #3681
It looks like async-http-client >= 2.11.0 is sufficient.  I'm not sure offhand why sbt-updates isn't prompting us for this.

[2020-10-15 03:26] rossabaker commented on #3681
Oh.  Well, nuts:

[code]

We could explicitly bump netty in series/0.21.  It might anger the sbt-explicit-dependencies plugin.

[2020-10-15 03:29] rossabaker opened #3746 "ember-core test flake"
[code]

[2020-10-15 04:08] jyoo980 commented on #3700
Just looking at this work out of curiosity, I think looking at how `Connection` types maintain their idle time in a pool might be useful. I've taken a look at `Http1Connection` but I can't seem to figure out where the amount of time a connection has been idle is computed. Any hints?

[2020-10-15 04:21] rossabaker commented on #3746
Another:

[code]

[2020-10-15 06:08] hamnis commented on #3745
For our own part at __WORK__ we need to have the type exposed in the signature to make sure we have authorization and whatever else we have extracted and enriched from diverse sources.

Having it in attributes hides this fact, and I`m not really a fan of that.

We can indeed flatten the context into the existing Request type, this was just to express what we want.

[2020-10-15 16:54] rossabaker commented on #3681
I went ahead and grabbed this one, because I'd like to release it today.

[2020-10-15 18:39] rossabaker commented on #3745
So yeah, I don't thinking making the context an attribute of the vault will work.  I wonder whether we could make attributes one way of expressing a context, but I think this would break things, not limited to:

- the path info caret
- the current web socket model

The context is good at surfacing explicit metadata in the type, and the vault is good at smuggling optional metadata.  Maybe we really

[2020-10-16 03:40] ashwinbhaskar commented on #3746
I can pick this up

[2020-10-16 04:05] rossabaker commented on #3681
Fixed by #3747.

[2020-10-16 04:05] #3681 closed

[2020-10-16 11:42] agourlay commented on #3717
I am seeing this as well with `0.21.8` for GETs and POSTs for what I can see.

[2020-10-16 11:45] agourlay commented on #3732
I am seeing this as well on `0.21.8`

Sharing stacktrace with slightly different line numbers.
[code]

[2020-10-19 04:33] rossabaker commented on #3719
The proposal here is probably a smoother transition than deprecation.  Let's give it a try.  Volunteers?

[2020-10-19 06:06] alejandrohdezma commented on #3719
I can do it 😸

[2020-10-20 17:36] satorg commented on #3657
I guess we can close this issue, cannot we?

[2020-10-20 21:21] rossabaker opened #3759 "Port core to cats-effect-3"

[2020-10-20 21:22] rossabaker commented on #3759
@domaspoliakas expressed an interest in this.  I'll assign it if he comments.

[2020-10-20 21:24] domaspoliakas commented on #3759
Yep, already started. Should I just do ce3 or fs3 as well?

[2020-10-21 01:12] rossabaker commented on #3759
They're going to have to go together.  I like @mpilquist's suggestion from Gitter:

I _think_ `Dispatcher` is less critical for core, but it'll put us on a better foundation as we progress into the modules.

[2020-10-21 03:26] #3719 closed

[2020-10-21 04:23] rossabaker commented on #3648
Turning this into a [project](https://github.com/http4s/http4s/projects/5)

[2020-10-21 04:23] #3648 closed

[2020-10-21 04:28] rossabaker opened #3760 "Port our literal macros to Dotty"
`LiteralSyntaxMacros` need to be ported to Dotty macros, and probably have crossbuild source folders between Scala 2 and Scala 3.

[2020-10-21 04:33] rossabaker opened #3761 "Replace parboiled2"
Parboiled2 does not work on Dotty.  The [effort to upgrade it](https://github.com/sirthias/parboiled2/issues/210) is stalled.  I tried for a weekend, and it's a heavy lift.

Similar performance has been observed with [Parsley](https://github.com/J-mie6/Parsley).

Much worse performance, but a project with more familiarity among the maintainers, is [Atto](https://github.com/tpolecat/atto).  It's un

[2020-10-21 05:45] rossabaker opened #3762 "Scalafix and Dotty"
Scalafix libraries aren't published to Dotty, and require `CrossVersion.full`, which is incompatible with `withDottyCompat`.  This is so macro-laden, I doubt that Dotty compat even works.

Commented it out on the Dotty branch for now, but we need a way forward.

[2020-10-21 05:46] rossabaker opened #3763 "Twirl and Dotty"
The Twirl plugin adds a library dependency, where we can't add Dotty compatibility.  Commented it for now on the Dotty branch, but we need a way forward.

[2020-10-21 05:48] rossabaker opened #3764 "Silencer and Dotty"
Silencer won't be supported by Dotty.  Figure out how to silence warnings as we cross-compile, as well as conditionally add the Silencer plugin.

Using it is already repetitious enough that we embedded it in sbt-http4s-org, but it's tricky to reference `isDotty.value` there.

[2020-10-21 05:59] satorg commented on #3761
I wonder should this effort imply replacing the obsolete RFC rules we have now with their successors?

[2020-10-21 07:24] aeons commented on #3764
`scala.annotation.nowarn` is only 2.13, right?

[2020-10-21 07:36] erwan commented on #3761
What about [fastparse](https://github.com/lihaoyi/fastparse)?

I've had good experience with it, both as ease of use and performances. I haven't seen a benchmark comparing it to other parsers.

Is it something that can be considered? If there is a benchmark somewhere I can integrate fastparse to see how it performs compared to the others.

[2020-10-21 13:55] hamnis commented on #3761
Fastparse is very macro-driven and is not a path towards dotty, unless there is some effort to port it.

[2020-10-21 19:22] rossabaker commented on #3764
Yes. scala-collection-compat includes the new annotation, so maybe if we changed the silencer annotations to that, we'd be in good shape: https://contributors.scala-lang.org/t/configurable-warnings-warning-suppression/4096/15

[2020-10-21 19:23] rossabaker commented on #3764
We rolled our own collection compat traits so far.  I can't remember why we have avoided the official compat library to this point: was it not wanting the weight of an extra dependency, or was there something deeper?  It's also something worth revisiting.

[2020-10-21 19:34] rossabaker commented on #3761
Absolutely, though we should be thoughtful about whether resulting semantic changes are considered bugfixes, or breaking changes that deserve a version bump.  I'm leaning toward calling them bugfixes, but let's be mindful as we go.

I looked at porting that, and it seemed about the same order of difficulty or worse as parboiled2, for the reasons @hamnis describes.  I did some JSON benchmarking wit

[2020-10-21 19:38] rossabaker commented on #3759
Also, you want to push intermediate commits for feedback or see a way we might divide and conquer it, don't be shy to push works in progress.  I don't mind several failed builds along the way as long as it steers us toward a green one at the end. :smile:

[2020-10-21 21:31] Daenyth commented on #3764
Silencer in combination with collections-compat allows you to use `nowarn` on 2.12 - I do this in my codebases

[2020-10-22 01:46] rossabaker opened #3766 "Log4s and Dotty"
We need a log4s release that's compatible with dotty.  Log4s is heavily based on macros.

[2020-10-22 01:49] rossabaker commented on #3764
@Daenyth Great!  In that case, I think we can adopt that strategy and target the series/0.21 branch with it.  The more we can do there, the less we'll diverge as the more difficult Dotty work is done.

[2020-10-22 02:12] rossabaker opened #3768 "Add parens to lambdas for Dotty"
This is probably a scalafmt setting we can tweak.  It will be valid Scala 2, so we should do this on series/0.21.

[code]

[2020-10-22 13:28] domaspoliakas commented on #3759
Sure thing! Do I push to my own fork and then PR for feedback?

[2020-10-22 14:59] rossabaker commented on #3759
@domaspoliakas Yes, that's perfect. And you can open it as a draft to signify it's a WIP.

[2020-10-22 15:26] domaspoliakas commented on #3759
I think what I'll do is get a little more done and then make a draft PR before the end of the day.

[2020-10-22 22:24] djspiewak commented on #3759
I'll get a M2 up asap

[2020-10-22 22:29] domaspoliakas commented on #3759
I created a draft PR now; would one normally add reviewers themselves or is it more like whoever can spare time would pick the PR up?

[2020-10-22 23:58] djspiewak commented on #3759
Also just in case it helps… If there's anything I can do to help out on this, don't hesitate to ask. Happy to dive in and work on thorny bits in here as well.

[2020-10-23 00:00] SystemFw commented on #3759
I pinged you on a couple of things in the PR ;)

[2020-10-25 09:24] ashwinbhaskar commented on #3766
I cannot see an open issue in Log4s repo for dotty compatibility. Is it already done? If not, I can create an issue there and get started with it.

[2020-10-25 15:03] rossabaker commented on #3766
:+1: It's going to be a bit challenging, because log4s is so macro heavy, but I think the macros are much easier to port than something like parboiled2.

[2020-10-25 21:51] IcyEagle opened #3785 "ZioStreams support for backend"
Hi there!

I'm looking for a way how to support a WebSocket server with ZIO Stream integrated.

So I have the next endpoint:
[code]

and now I need to cast it to `HttpRoutes` somehow. Well, it's pretty simple with fs2 Streams but I can't find an implementation for ZIO. I found that such an endpoint is supported by `sttp` library if you wanna be a client, but as for server-side - nothing.

[2020-10-25 22:09] rossabaker commented on #3785
Interop between fs2 and other stream libraries is provided through [fs2-reactive-streams](https://fs2.io/guide.html#reactive-streams).

[2020-10-25 22:09] #3785 closed

[2020-10-26 03:13] jyoo980 commented on #3768
I can take this on!

[2020-10-26 03:30] jyoo980 commented on #3768
A cursory glance at the docs for `scalafmt` seems to show that there actually isn't an option to enforce this type of rule... @rossabaker do you have any other ideas on how to approach this? I guess I could compile with dotty and track down where these lambdas are. That said I'm not sure if dotty compiles the code nicely right now.

[2020-10-26 13:21] rossabaker commented on #3768
Thanks for stepping forward!

I just remembered that @travisbrown [added them](https://github.com/http4s/http4s/pull/3242/commits/eab8d61b07461c25f0f0705687b930e0ad5fa2be) a while back.  Reapplying that commit might help, but it probably applies very uncleanly by now.  Even then, we need to find a switch so scalafmt doesn't eat them a second time.  A pure scalafmt solution would be better both for

[2020-10-27 02:09] #3764 closed

[2020-10-27 02:13] rossabaker commented on #3761
I'm engaging with Parsley upstream:
* cross-build: https://github.com/J-mie6/Parsley/pull/6
* publish: https://github.com/J-mie6/Parsley/pull/7

A (temporary?) fork for our exploration: https://github.com/http4s/Parsley

[2020-10-27 14:39] rossabaker opened #3788 "Port laws to cats-effect-3"

[2020-10-27 14:40] rossabaker commented on #3788
I can't assign until he comments, but @domaspoliakas is looking at this.

[2020-10-27 14:50] domaspoliakas commented on #3788
I am indeed aiming to do this

[2020-10-28 05:01] rossabaker commented on #3761
I just released parsley-1.5.0-M2 under org.http4s.  I won't be awake to see it hit Maven Central tonight.

[2020-10-28 05:04] rossabaker commented on #3766
Upstream issue: https://github.com/Log4s/log4s/issues/51

[2020-10-28 05:18] satorg commented on #3760
To me it looks like that this issue strictly depends on #3761, doesn't it? I mean I guess we cannot make this one working on Dotty until we port all the parsers to there first.

[2020-10-28 16:40] rossabaker commented on #3760
I can't think of any that don't go through a parser, so I think you're right.  If we prioritize these parsers, perhaps someone else can get a jump on this.

[2020-10-28 17:10] rossabaker commented on #3761
I created a parsley branch and added a dependency.

It branched off series/0.21.  There's nothing dotty-specific about it.  My guess is that it ultimately merges to the dotty branch, which will ultimately become series/0.22, but we've got options.  We can start trying out this parser library without immediately dealing with the other dotty failures.

[2020-10-28 18:14] J-mie6 commented on #3761
By the way, if you have any problems with your transition just let me know and I'll try to help out a bit!

[2020-10-29 18:20] jyoo980 commented on #3768
Hey @travisbrown!

I heard you did some work to add parens around lambda parameters to prep `http4s` for dotty. Do you have any `scalafmt` rules you used to do this?

[2020-10-29 20:03] rossabaker commented on #3768
@djspiewak pointed out the problem may be [this line](https://github.com/http4s/http4s/blob/3dd2340b0f6f2f78104f0c210436801afaaf0ed9/.scalafmt.conf#L15). If it were me, I'd try:

1. Remove it and rerun scalafmt.  Maybe we're done!
2. If not, try to reapply Travis' commit and see how bad the conflicts are.
3. Clean up what's left and what's new.

[2020-10-30 00:40] rossabaker commented on #3761
There is also a [proposed cats-parse](https://posco.medium.com/designing-a-parsing-library-in-scala-d5076de52536), which is worth a look as well.  As we proceed, please remember to be kind:

1. Both authors have been kind to us.
2. One author is watching.
3. Regardless, be kind.

[2020-10-30 07:40] camilo-paidy opened #3793 "Scalafix for migration is not able to find the rules"
I was trying to execute the steps for migrating from [0.18 to 0.20+](https://http4s.org/v0.21/upgrading/):

`sbt ";scalafixEnable; scalafix github:http4s/http4s/v0_20"`

And

`sbt ";scalafixEnable; scalafix github:http4s/http4s/v0_21"`

But it says that the rule is not found. Maybe because `master` is `main`?

[code]

If I try to run it with the direct URL to the file:
`sbt ";scalafixEnable; scala

[2020-10-30 09:44] #3509 closed

[2020-10-30 16:16] rossabaker commented on #3793
Oh, nuts. Does it work with `github:http4/http4s/v0_20?sha=main`?  If so, we need to update the doc.

I am guessing based on what I see [in scalafix](https://github.com/scalacenter/scalafix/blob/e31e5c946a14bb3839ef5c087b660953a3485db8/scalafix-reflect/src/main/scala/scalafix/internal/reflect/GitHubUrlRule.scala#L13).

[2020-10-30 16:37] satorg commented on #3793
I guess that doc page for v0.21 was simply inherited from v0.20.
To be honest, I completely missed that page previously.

I believe, since we publish the `http4s-scalafix` module since v0.21.5,
it should be possible to call the migration rules according to this doc: [External Rules](https://scalacenter.github.io/scalafix/docs/rules/external-rules.html)

[2020-10-31 02:06] ChristopherDavenport commented on #3761
https://github.com/typelevel/cats-parse - Now created

[2020-10-31 02:09] satorg commented on #3761
Just curious – is it a private repo? Cannot open this link, GitHub shows a Jedi instead.

[2020-10-31 03:14] rossabaker commented on #3761
cats-parse is being extracted from bosatsu and getting a build to ready it for the public ASAP. Meanwhile, you can [see the original](https://github.com/johnynek/bosatsu/blob/0934eb9ec3043e45cabf3df783cc8d6d31e19875/parser/src/main/scala/org/bykn/bosatsu/parser/Parser.scala), or read [Oscar's blog](https://posco.medium.com/designing-a-parsing-library-in-scala-d5076de52536).

In Parsley news, I cut

[2020-11-01 01:36] jyoo980 commented on #3768
@rossabaker those sound like great steps to run after I've added the parens around the lambda params. But before that, I'm wondering if there are any tools to point out where exactly in the code we'll need to do this. Doing this manually would probably be quite error-prone (but perhaps that's the only way to go about it right now)

[2020-11-01 04:25] djspiewak commented on #3768
If it helps, take a look at my GitHub profile for the sublime text packages fork. In there is the Scala mode, which includes a "lambda look ahead" regular expression (it's labeled as such). It will work in ack/ag/rg and can be modified slightly to find all lambda declarations in the code base which lack parentheses. I would link directly but I'm on my phone.

[2020-11-01 07:24] travisbrown commented on #3768
@jyoo980 Just saw your question, but there's a `ParenthesizeLambdaParamWithType` Scalafix rule here: https://github.com/typelevel/simulacrum-scalafix

[2020-11-01 11:08] domaspoliakas commented on #3788
Apologies for the lack of activity on this, having a bit of trouble wrapping my head around some things.

[2020-11-01 11:31] SystemFw commented on #3788
Feel free to ask questions or open a WIP PR (even if it's chaotic right now) to get advice :)

[2020-11-01 17:03] nelusnegur commented on #330
Hi. I wanted to let you know that I'm not able to work on this issue anymore. I thought I'll have time during the weekends, but due to some personal circumstances, currently I cannot find the necessary time for it. I'm really sorry about this. Thank you so much for the opportunity to contribute!

[2020-11-01 20:34] rossabaker commented on #330
Thanks for the update. I hope things turn out well, and if you have time again in the future, I'm sure we'll have more work!

[2020-11-02 07:18] #3746 closed

[2020-11-02 07:19] ashwinbhaskar commented on #3746
Closed in https://github.com/http4s/http4s/pull/3752

[2020-11-03 15:22] Rosteelton commented on #3697
@pjan Have you resolved this problem in your project somehow? or just forked http4s

[2020-11-04 15:05] geirolz opened #3801 "Unexpected rooting using AuthMiddleware"
**Scenario**
I've mapped two routes:
- GET "/api/v1/user/$ID" - unsecured
- DELETE "/api/v1/user/$ID" - secured

**Problem**
Sending a **GET** request to **_/api/v1/user_** without id, result is **401 Unauthorized** instead of  **404 Not Found**.

But if i remove the **AuthMiddleware** and i convert **AuthedRoutes** to **HttpRoutes** i got  **404 Not Found**

 **Question**
 Is this the normal expe

[2020-11-05 04:50] nigredo-tori commented on #2278
Not sure how useful all of this will be... In one service we have a periodic process that queries a few other services once an hour. In particular, it sends two consecutive `GET` queries (over plain HTTP) to a service that doesn't see much action otherwise. On one of the instances (running on Windows) we're seeing something like this around 80% of the time:

1. `java.nio.channels.WritePendingExcep

[2020-11-05 08:54] aeons commented on #3801
It is on purpose, the behaviour is defined here: https://github.com/http4s/http4s/blob/2b96479ca8474e165ea529e07f243187b36ac0c0/server/src/main/scala/org/http4s/server/package.scala#L86-L108

The reason is that if it did return 401 for routes that exist and 404 otherwise, it would be possible to crawl which authed routes exist, which can lead to a security issue.

[2020-11-06 11:47] GrafBlutwurst opened #3810 "Logging middleware consumes request body when using OkHttpClient, leading to null body"
As the title says, minimized example:

Note this example uses a publicly available API that just echos back the payload sent.

I do have a very very ugly workaround right now that solves my problem but at mem and performance cost, essentially i just copy the request and responses in a naive manner and then defer one set to logging, and one to actual use:

https://gist.github.com/GrafBlutwurst/2bc6

[2020-11-06 18:06] BalmungSan opened #3811 "Support HTTP/2 on ember"
It would be great if an **ember** server could support `HTTP/2`

[2020-11-07 21:54] geirolz commented on #3801
Ok good to know, thanks ;)
The only thing i can't understand now is why `authReq` function is triggered when there isn't the route mapped. I expect that it is triggerd only when i try to get some secured routes. If for example my `authReq` function query my DB to check the auth status it consumes resources to return a 404 response. Am i right ?

[2020-11-08 19:57] rossabaker commented on #3697
Yeah, it seems like we're definitely in breaking change territory here.  Great work finding the cause of the problem.

The current model of trying to smuggle a web socket through a `Response` is impossible to support on the servlet backends, even though servlets support web sockets.  Elevating it to a field on the response as proposed here would solve this issue, but not permit broader backend sup

[2020-11-09 01:32] rossabaker commented on #3810
This is an excellent bug report.  It is a less excellent bug. :laughing:

When logging, I can observe a correct chunk being passed as `b` on [this line](https://github.com/http4s/http4s/blob/v0.21.8/okhttp-client/src/main/scala/org/http4s/client/okhttp/OkHttpBuilder.scala#L146), but the `sink.write(b)` effect never completes.  Still diagnosing why.

[2020-11-09 01:58] rossabaker commented on #3810
Looks like a race condition from trying one of okhttp's callbacks asynchronously.  I can't find any relevant documentation, but blocking one of their threads :sweat: seems to work.

[2020-11-09 02:07] rossabaker commented on #3793
That's true.  I think that's probably the better thing to document?  Finer control over which version is being upgraded to?

[2020-11-09 02:18] rossabaker commented on #3801
Your secured routes return `OptionT[F, Response[F]]`, which wraps a `F[Option[Response[F]]`: the routes effectfully decide whether there is a response.  (e.g.: checking the database for an item, checking the filesystem for an image.)  And before we run the effect, we should authorize the running of the effect.

Your `AuthedRoutes` is created from a partial function, which can be lifted into an `Op

[2020-11-09 06:30] rossabaker commented on #3766
WIP: https://github.com/Log4s/log4s/pull/57

[2020-11-09 11:46] nigredo-tori opened #3817 "Improve or remove failed request logging in JettyClient"
Here's an example of a log message I get when using the Jetty Client:
[code]
This is surprisingly unhelpful - it contains no information about which request has failed, and where in my application that happened. The message should at least contain the URL in question - this information is available whan creating a `ResponseListener`.

Also, I don't think exceptions here should be logged in the fir

[2020-11-09 12:03] ashwinbhaskar commented on #3817
I would vote for removing the failed request logging. I am not sure how to improve the logging in this case

[2020-11-09 16:16] #3810 closed

[2020-11-09 16:19] rossabaker commented on #3817
I agree with propagating the failure.  I guess the question is whether to enhance the `ConnectException` with more information, or assume that request info is present close enough to where the failure occurred that we can just propagate this message.

[2020-11-09 16:57] rossabaker opened #3818 "Port testing to cats-effect-3"

[2020-11-09 16:59] rossabaker commented on #3818
@domaspoliakis is looking at this one.

[2020-11-09 17:18] domaspoliakas commented on #3818
I'll give this a try
Obligatory comment
Also a haiku

[2020-11-10 03:07] nigredo-tori commented on #3817
I don't think enhancing the exception would be worth it. The `Request` value has to be near where the `Client` is used, so it should be easy for the calling code to get the necessary information from there. And augmenting the exception with extra data by wrapping it in another one can break error handling logic in the calling code. So I think we should just delete this logging statement and call i

[2020-11-11 19:41] rossabaker opened #3829 "Enable implicit conversions"
Dotty is stricter than Scala 2 about implicit conversions.  We need to add `-language:implicitConversions`.

Maybe sbt-tpolecat does this, maybe we need to do it.

Target the `dotty` branch if you use `isDotty.value`, or target `series/0.21` if you don't.

[2020-11-11 19:42] rossabaker opened #3830 "Enable kind projector for Dotty"
Dotty requires `-Ykind-projector`.  Maybe sbt-tpolecat does this, maybe we need to do it.

Target the dotty branch if you use isDotty.value, or target series/0.21 if you don't.

[2020-11-11 20:33] rossabaker commented on #3768
Leaving open after #3798 while we seek an automated solution, but that got us closer to a compiling core.

[2020-11-11 20:36] rossabaker opened #3834 "CollectionCompat on Scala 3"
The `CollectionCompat` trait needs to be available to Scala 3.

I think this is as simple as moving the one in `scala-0.27` (which we no longer aspire to support) to `scala-3`.

[2020-11-11 21:13] rossabaker commented on #3830
Yes, upgrading sbt-tpolecat to the latest will handle this.

[2020-11-11 22:06] rossabaker opened #3835 "Port tests to cats-effect-3"
This one will be large and unpleasant. We might want to discuss a way to split it up.

[2020-11-11 22:08] rossabaker opened #3836 "Port ember-core to cats-effect-3"
ember-server and ember-client are blocked on server and client, respectively, but @ChristopherDavenport did a good job packing most of it into ember-core.

[2020-11-11 22:08] rossabaker opened #3837 "Port blaze-core to cats-effect-3"
This one is for the brave.  Will require a knowledge of Cats-Effect and Future.

[2020-11-11 22:09] rossabaker opened #3838 "Port DSL to cats-effect-3"
High priority, because it's used in tests for some modules in the next tier.

This might be as simple as uncommenting it from the modules list of build.sbt. I can't think of any effects in it.

[2020-11-11 22:10] rossabaker opened #3839 "Port jawn to cats-effect-3"

[2020-11-11 22:11] rossabaker opened #3840 "Port boopickle to cats-effect-3"

[2020-11-11 22:11] rossabaker opened #3841 "Port scala-xml to cats-effect-3"

[2020-11-11 22:12] rossabaker opened #3842 "Port scalatags to cats-effect-3"

[2020-11-11 22:18] rossabaker commented on #3840
I just tagged a bunch as good first issue, and several of the integrations will be similar.  We can use this one as a reference.

[2020-11-11 22:23] #3817 closed

[2020-11-11 22:26] rossabaker opened #3843 "Port twirl to cats-effect-3"

[2020-11-12 14:34] harpresing opened #3849 "Expose getClientStats in org.http4s.client.asynchttpclient.AsyncHttpClient"
`org.asynchttpclient.DefaultAsyncHttpClient` defines a method `org.asynchttpclient.DefaultAsyncHttpClient#getClientStats` which can be used to obtain the details about the connections the client has made and other interesting stuff.

[code]

Currently there is no way to call this method from a httpClient which is defined like so:

[code]

Exposing `org.asynchttpclient.DefaultAsyncHttpClient#getCli

[2020-11-12 15:16] rossabaker commented on #3849
Ember achieves this with a subclass of `Client`.  I think the functionality is great, but I'm not thrilled about the subclass design.

A couple other ideas come to mind:

- Add an `apply[F: ConcurrentEffect[F]](org.asynchttpclient.AsyncHttpClient: AsyncHttpClient): Client[F]` method so you can pass your own client, which you can reference for its state.  You'd be responsible for the resource manag

[2020-11-12 15:17] rossabaker commented on #3849
Also ping @ChristopherDavenport, since he has spent more time in with the subclass.  My experience with it is not being able to fix something while maintaining bincompat, but he has more experience with the ergonomics of actually using it.

[2020-11-12 17:14] harpresing commented on #3849
Hey @rossabaker, Thanks for your feedback!

The first option does seem very straightforward! I looked at Ember and how it achieves this and did something similar:

[code]

And then in `org.http4s.client.asynchttpclient.AsyncHttpClient`

[code]

What do you think about this approach? And if this makes sense, could you also guide me on how to refactor `def getClientStats: ClientStats` to something l

[2020-11-12 18:59] rossabaker commented on #3849
Your `createClient` looks like the `apply` I was thinking of, and I think that's great and should be added to http4s.  (We call similar `apply` on other builders).  I think we should get that into series/0.21, and re-express `allocate` in terms of it.  Would you like to send a PR for that?

`allocate2` and `resourceWithStats` and `ClientWithStats` are good, but not as general.  You want stats, but

[2020-11-12 19:13] domaspoliakas commented on #3838
I'll grab this

[2020-11-12 19:32] harpresing commented on #3849
Thanks for the great explanation @rossabaker! I'll create a PR to add the `createClient ` as an additional `apply` method and re-express allocate in terms of it.

I could add `HarpreetsSaferClientStats` and call it `AsyncHttpClientStats` maybe?

[2020-11-13 03:33] rossabaker commented on #3849
That sounds great to me!  And please open on `series/0.21` branch so it can be released sooner -- it will also be in the 1.x milestones.

[2020-11-13 17:19] rossabaker opened #3860 "Port server to cats-effect-3"

[2020-11-13 17:19] rossabaker opened #3861 "Port client to cats-effect-3"

[2020-11-13 17:21] rossabaker commented on #3860
@RaasAhsan has started working on this: #3857

[2020-11-13 17:21] rossabaker commented on #3861
@RaasAhsan has started working on this: #3857

[2020-11-13 17:34] harpresing commented on #3849
Raised a [PR](https://github.com/http4s/http4s/pull/3859) to add an apply method that takes in an `AsyncHttpClient`.

[2020-11-14 04:42] #3843 closed

[2020-11-14 08:17] jyoo980 commented on #3830
@rossabaker it looks like the latest update to `sbt-tpolecat` was previously performed via `scala-steward` for `v0.1.14`

Is it safe to manually bump the value to `v0.1.15` or should this be something that's automated?

[2020-11-14 17:48] rossabaker commented on #3830
Nothing is automated upstream of the main branch. Doing it manually on series/0.21 would be perfect.

[2020-11-15 00:56] ashwinbhaskar commented on #3836
has this been picked up by someone?

[2020-11-15 02:16] rossabaker commented on #3836
Not yet.  It's going to be one of the trickier ones, but we love volunteers and are here to help!

[2020-11-15 02:45] rossabaker opened #3869 "HttpVersion could have a cats.Hash instance"
Can go on `series/0.21`. See #3792 for similar work.

[2020-11-15 16:29] #3842 closed

[2020-11-15 19:43] yanns commented on #3839
I can take over

[2020-11-16 00:59] rossabaker opened #3872 "Upgrade to a compatible Vault"
https://github.com/ChristopherDavenport/vault/pull/161/files

This will line up all the cats dependencies in core on _3.0.0-M1.

[2020-11-16 01:39] rossabaker commented on #3766
log4s-0.10.0-M1 is now on our dotty branch

[2020-11-16 08:49] ashwinbhaskar commented on #3549
@rossabaker

Are you talking about the `Path` that we are creating using `req.pathInfo` in this line?

https://github.com/http4s/http4s/blob/f8cb39151fc9400e913f72a90fa8fc67f03e2851/dsl/src/main/scala/org/http4s/dsl/impl/Path.scala#L140

[2020-11-16 18:16] rossabaker commented on #3549
Yes. That should ideally just be `Some((req.method, req.pathInfo))`.

[2020-11-16 18:18] rossabaker commented on #3549
And I was mistaken on Gitter the other day when I said our `->` extractor has nothing to do with HTTP: it operates specifically on a `Request`, and _does_ belong in the HTTP library.

[2020-11-16 18:18] rossabaker commented on #3549
This work will have to target `main`.  I don't think there is any way to do it in a binary-compatible fashion.

[2020-11-16 20:36] #3849 closed

[2020-11-17 00:57] ashwinbhaskar commented on #3549
@rossabaker with `req.pathInfo` returning something of type `Uri.Path` ?

[2020-11-17 02:12] rossabaker commented on #3549
Yes. I thought it already did, but it looks like it's still a `String`. I think my PoC commit might predate @hamnis' work on the `Uri.Path`.  Making that splitter that produces `pathInfo` work on a `Uri.Path` raises some interesting design questions, but seems like it's probably the right thing to do?  What do you think, @hamnis?

[2020-11-17 03:12] ashwinbhaskar commented on #3549
@rossabaker

I thought the same. But looks like it is a `Path` - https://github.com/http4s/http4s/blob/4382d9023b68b908c380a61700ddfbfb9739d531/core/src/main/scala/org/http4s/Uri.scala#L358

I thought it was a `String` because my VS Code opens the `readonly` file and there the code is `type Path = String`. I am not sure why this is happening?

[2020-11-17 04:54] rossabaker commented on #3549
I think Metals didn't keep up with all my branch hopping. The one that matters here is on `Request`, in Message.scala, but it's already a `Uri.Path`. I thought I remembered @hamnis working through that already.  So yeah, that makes this quite a bit smaller task.

[2020-11-17 09:16] ashwinbhaskar commented on #3549
@rossabaker @hamnis
what is the expected match clause
[code]

[2020-11-17 14:30] hamnis commented on #3549
The current semantic in Dsl.Path is to always treat the root as Absolute, meaning that Path.Root is what we should consider here.
When deconstructing (i.e pattern matching) we can always consider the Root to be set.

so in your examples:

1. the second.

2. the second

[2020-11-17 16:26] hamnis commented on #3549
We can force a `Uri.Path` to be absolute if that makes more sense, by calling the `pathInfo.toAbsolute` method

[2020-11-18 05:26] rossabaker commented on #3766
We'll need an 0.10.0-M2.  M1 depends on scalatest.  Sorry, everybody.

https://github.com/Log4s/log4s/pull/61

[2020-11-18 13:15] maximskripnik opened #3878 "Response stream is not interrupted after mapping the effect type"
I am having troubles interrupting a stream which is sent in a response using http4s. It happens only if I try to convert the effect type of the routes:

_All imports are omitted to save the space. I am sorry for very fat code samples, but it's the best way I could narrow it down._

Here is my routes definition:
[code]

Here is how I instantiate those routes twice with multiple effects (`IO[_]` and

[2020-11-18 19:35] adamw opened #3879 "WebSockets send doesn't work with Stream.awakeEvery"
Following the example https://github.com/http4s/http4s/blob/main/examples/blaze/src/main/scala/com/example/http4s/blaze/BlazeWebSocketExample.scala, a simplified version:

[code]

which should emit a text frame every second, doesn't do so. I'm connecting using an external client (to eliminate any other problems) and here's what I get during an example run:

[code]

The pings are sent, but at inter

[2020-11-18 21:08] #3549 closed

[2020-11-19 02:22] ashwinbhaskar commented on #3836
@rossabaker `emberCore` takes it's cat-effect dependency from `core`. Changing the cats-effect version in core might break other modules that are depending on it?

[2020-11-19 02:41] rossabaker commented on #3836
On the cats-effect-3 branch, I think we should keep up with the latest milestone, which is 3.0.0-M3. I think it's ready to go, unless there's some specific breaking change you're looking for on a later snapshot.

You're right, as we bump that, we risk breaking modules that were already working.  Hopefully those changes will be minimal and easy to keep up with.  Whenever we bump that dependency, we

[2020-11-19 03:57] rossabaker commented on #3878
Do you think this captures the essence of the problem?  There's no HTTP in it, and it fails for me in the way your app does:

[code]

[2020-11-19 04:13] maximskripnik commented on #3878
@rossabaker Yes, I think it really does capture the same issue. It works for `IO[_]` and does not work for `EitherT[IO, String, _]` 😞

Thanks for narrowing it down to fs2 or cats. It's clear now that this is not http4s issue

[2020-11-19 04:21] rossabaker commented on #3878
I asked our resident fs2 experts on Gitter to see if they can spot it, and once we find the answer, it might be an interesting problem to wind it back into http4s.  This one has my interest, too. :smile:

[2020-11-19 04:25] rossabaker commented on #3878
The dependencies are a bit old in the example repo, but I confirmed it's happening on http4s-0.21.9 and its transitive dependencies, which should be the latest fs2-2.4.

[2020-11-19 04:30] daddykotex commented on #2913
I'm writing a small app to extract something from a web page. I have failures on occasion and it looks like this one but it may not be exactly the same:
[code]

I believe it may be related to HTTPS. The website I'm trying to scrape serves content over HTTPS. In an attempt to debug this failure (that I could not reproduce in a test) I lauched a proxy in between me and the service. The goal was to s

[2020-11-19 04:34] rossabaker commented on #3879
Hmm.  What client are you using?  Is the client external as in not in the same JVM, or external as in on a remote machine?

Running websocat locally against your example app, I can't reproduce the problem:

[code]

[2020-11-19 04:34] daddykotex commented on #2913
Using `AsyncHttpClient.resource[IO]()` also works.

[2020-11-19 04:36] rossabaker commented on #2913
Which JVM?  We've seen some quirks with SSL and Blaze on Java 11, starting around Java 11.0.3.

[2020-11-19 04:38] daddykotex commented on #2913
If I run the main via `sbt`, can I assume what `sbt` tells me is true? If yes: 1.8:

[code]

I'm on a Mac, 10.15.7

[2020-11-19 04:59] rossabaker commented on #2913
That should be correct, yes.

Reverting #2458 would have a terrible effect on performance: we need it for connection reuse.  But there appears to be some sort of a race condition on recycling that connection. A reliable, public reproduction would help a lot here.

[2020-11-19 06:31] adamw commented on #3879
I've tried both sttp+async-http-client and a Chrome plugin with an UI. Also now with websocat:

[code]

[2020-11-19 06:46] adamw commented on #3879
(It does happen *sometimes*. Though now locally it happens almost always, while it used to almost never happen. On travis, it happens almost always, but on GH Actions - we're in the middle of migrating our OSS builds - it has never yet happened. So a fun problem ;) )

[2020-11-19 07:20] adamw commented on #3879
Now I see that even this:

[code]

exhibits the same problem. The CPU is quite idle. I've tried both java8 & java11. Any hints where to look? :) But I should probably move the issue to fs2.

[2020-11-19 07:47] jweidler commented on #3569
Hi there, relaxing the parser sounds great! we just ran into an issue where invalid cookie names and values that are set by some wonderful third party scripts at the other end of our organisation would make customers on our end run into no-cookies-provided based app states (session timeout, not logged in etc) as the parser appears to be failing silently, returning no cookies at all if there's a ba

[2020-11-19 07:48] adamw commented on #3879
Interestingly, after a system restart, this works now locally. Still the failures happen on travis & jenkins quite often.

[2020-11-19 14:34] daddykotex commented on #2913
Ok, I'll work a bit on trying to reproduce, I do only a few simple queries, one after the others, but the service require a login so I'll try to do it on another website.

[2020-11-19 15:39] mpilquist commented on #3878
Not sure it's possible in this case, but one workaround is calling `interruptAfter/interruptWhen` *after* calling `transalteInterrupt`.

[2020-11-19 17:51] rossabaker opened #3887 "Port json4s-native to cats-effect-3"

[2020-11-19 17:52] rossabaker commented on #3887
@yanns is looking at this.

[2020-11-19 18:05] rossabaker opened #3888 "Port json4s to cats-effect-3"

[2020-11-19 18:06] rossabaker commented on #3888
@yanns is looking at this in #3887.

[2020-11-19 19:00] rossabaker commented on #3569
So all the cookies should always be available as raw headers, but that's not exactly convenient.

The akka-http compromise doesn't sound unreasonable.

[2020-11-19 19:03] rossabaker commented on #3879
I'll close this for now, but we can reopen if the eventual resolution from fs2 doesn't help this use case for whatever reason.

[2020-11-19 19:03] #3879 closed

[2020-11-19 21:54] ChristopherDavenport opened #3890 "Json Streaming is slow"
We actually encode the json in our streaming encoder using a bunch of very small chunks. Since this is going through chunked rather than Content-Length. This means backends will flush buffers on every single chunk. Resulting in buffer flushes for (N * 2) the number of elements in the stream.

Likely we will want to follow this logic via rechunking with `chunkMin` or interpolating within a chunk to

[2020-11-20 03:52] rossabaker opened #3892 "Port json4s-jackson to cats-effect-3"

[2020-11-20 03:52] rossabaker commented on #3892
@yanns is doing this in #3885.

[2020-11-20 04:27] maximskripnik commented on #3878
@mpilquist Thank your for your attention to this. Unfortunately, our use case implies calling `interruptWhen` before mapping the effect type.
The idea is that we use one effect that is capable of capturing non-throwable errors (`EitherT`) for our business logic which includes creating the stream and calling `interruptWhen` on it. And _almost at the end of the world_ we map this effect to `IO`. The

[2020-11-22 00:37] cquiroz commented on #3840
Fixed by #3852

[2020-11-22 00:37] #3840 closed

[2020-11-22 10:04] ammarc commented on #3869
Hi @rossabaker, I've made a PR for this: https://github.com/http4s/http4s/pull/3902

[2020-11-22 15:03] mpilquist commented on #3878
@maximskripnik Can you give fs2 version `2.5-bdc810b` a try and let me know whether that resolves this issue for you?

[2020-11-22 21:12] rossabaker commented on #2483
This looks like a nice cleanup for 1.0.

For bonus points, whatever changes come out of this would probably be worth trying to make an accompanying scalafix for.  I think most of what has been discussed here could be fairly mechanical.

[2020-11-23 04:12] maximskripnik commented on #3878
@mpilquist Yes, the issue is not reproducible with `"co.fs2" %% "fs2-core" % "2.5-bdc810b"`. The sample provided by @rossabaker also works as expected with this version.
Thanks!

[2020-11-24 07:24] jyoo980 commented on #3830
@rossabaker sorry for the delay; school is insane right now. New PR opened against `series/0.21`

[2020-11-24 15:29] rossabaker commented on #3830
Fixed by #3910.

[2020-11-24 15:29] #3830 closed

[2020-11-24 16:51] #2738 closed

[2020-11-24 18:28] rossabaker commented on #3892
Fixed by #3885.

[2020-11-24 18:28] #3892 closed

[2020-11-24 18:29] rossabaker commented on #3887
Fixed by #3885.

[2020-11-24 18:29] #3887 closed

[2020-11-24 18:29] rossabaker commented on #3888
Fixed by #3885.

[2020-11-24 18:29] #3888 closed

[2020-11-24 18:30] rossabaker commented on #3890
Fixed by #3891

[2020-11-24 18:30] #3890 closed

[2020-11-24 20:38] mpilquist commented on #3878
@maximskripnik Cool, I released fs2 2.4.6 with that fix.

[2020-11-24 20:58] RafalSumislawski opened #3920 "Uris with a colon are rendered incorrectly since 0.21.9"
When using blaze client to send a request for an URL with a `:` in the path, the request is rendered with incorrect URL.

For example a request for http://github.com/http4s/foo:bar gets rendered as:
[code]

It should be be:
[code]

This is result of the changes introduced in #3752 (https://github.com/http4s/http4s/pull/3752/files#diff-ee2b5495b08afcff2ce456ed5f27c2867c9d7c00bcb05bd72e6d6af88b4f5c9

[2020-11-25 04:13] daddykotex commented on #2913
I wrote a reproduction program. It's a part of the other `ebox-cli` module, but it can be run independently.

https://github.com/daddykotex/ebox/tree/4bcf44065b891023c89324eae5677c077dc73058/blaze-repro/src/main/scala/blaze

Here's the result:

[code]

In short my program attempt a login, and it seems to fail on the 302 redirect received:

- make a query to generate a session (cookies) and a CSRF

[2020-11-25 14:29] #3878 closed

[2020-11-25 15:00] rossabaker commented on #2913
Excellent, thank you! I'll see what I can do with this over the US holiday break.

[2020-11-25 16:22] daddykotex commented on #2913
If you have a high level plan for debugging, I would be happy to help. I'm just very unfamiliar with the SSL shenanigans on the JVM.

If you tell me, for example,:

1. active X flag to enable tracing (or whatever debugging config)
2. build a new (local) version of the client with extra debugging flags

I can probably help and you'd know more before starting the investigation.

[2020-11-25 18:13] keynmol opened #3931 "Using explicit dependencies checks on CI"
1. Use https://github.com/cb372/sbt-explicit-dependencies do declare all dependencies
2. Enable `undeclaredCompileDependenciesTest` and `unusedCompileDependenciesTest` (to avoid test dependencies evicting main ones) on the CI

This can be tackled module by module, I think.

[2020-11-25 18:35] rossabaker commented on #3931
* `unusedCompileDependenciesTest` is already enforced.

* `undeclaredCompileDependenciesTest` was introduced, and backed off, in #3880.  A lot of the work to re-enable that is in an intermediate commit.  And if we'd gone with that, we would not have had this bug.

* cats-laws shouldn't be a compile dependency of http4s-client, or most modules.  That _may_ be an orthogonal issue: I am unsure whethe

[2020-11-25 19:43] rossabaker opened #3933 "Docs build is timing out on main"
First observed after merge of #3903. We don't get any logs -- build just times out after six hours.

[2020-11-25 19:47] rossabaker commented on #3933
[code]

Oops:

[code]

[2020-11-25 20:01] rossabaker commented on #2913
If you have a logback.xml, you can get more info without building:

[code]

To try new client code locally, from the http4s repo, `publishLocal`, and depend on the ensuing snapshot.  Or git dependencies.  Or pull the failing example into the http4s tree.

[2020-11-25 21:10] rossabaker opened #3935 "ember-core test flake"
1. Our generators are creating ... weird things
2. Our URI is broken
3. Looks like a redux of #3874, perhaps after #3920

[code]

[2020-11-25 21:11] rossabaker commented on #3935
I wanted to skip that one on CI, but can't quickly, because it's not using our test helpers.

[2020-11-25 21:52] #3933 closed

[2020-11-25 22:38] rossabaker opened #3936 "QueryParayCodecSpec flake"
[code]

[2020-11-26 20:32] duchoang commented on #2445
I have tried new version here https://github.com/http4s/http4s/releases/tag/v0.21.13 and it's already fixed this issue and the workaround with `Uri(path = ...)` doesn't work anymore, example:

[code]

This PR seems to fix this issue accidentally 😄
https://github.com/http4s/http4s/pull/3752/files

[2020-11-27 00:51] #3920 closed

[2020-11-27 00:59] rossabaker opened #3944 "Replace cats.implicits._ with cats.syntax.all._"
Reminded by https://twitter.com/mpilquist/status/1331810540595916800, this is the new recommendation.

This should mostly be a search-and-replace.  A few will be tricky: either leave those the way they are, or we can puzzle them out.

Please base the work on the series/0.21 branch.

[2020-11-27 01:07] rossabaker opened #3945 "Replace our compatibility shims with scala-collection-compat"
We have various compatibility shims between Scala 2.12, Scala 2.13, and coming soon, Scala 3:

* The `@nowarn` annotation in core/src/main/scala-2.12
* The `CollectionCompat` objects in core/src/main/scala-2.*

We should be able to replace all of these with [scala-collection-compat](https://github.com/scala/scala-collection-compat).

We will need to make MiMa exceptions in build.sbt.  If you don't

[2020-11-27 01:11] rossabaker commented on #3872
Fixed by 48d44aa5da7868d4e28f7fb8100f055ac273beac.

[2020-11-27 01:11] #3872 closed

[2020-11-27 01:11] #3869 closed

[2020-11-27 01:12] rossabaker commented on #3834
Superseded by #3945.

[2020-11-27 01:12] #3834 closed

[2020-11-27 01:12] #3766 closed

[2020-11-27 01:16] rossabaker commented on #3001
RIP, Travis CI. :skull:

[2020-11-27 01:16] #3001 closed

[2020-11-27 02:26] rossabaker opened #3946 "Port play-json to cats-effect-3"
Probably roughly follows patterns of https://github.com/http4s/http4s/pull/3885.

[2020-11-27 02:27] rossabaker opened #3947 "Port argonaut to cats-effect-3"
Probably roughly follows the patterns of #3885. Open against cats-effect-3 branch.

[2020-11-27 02:28] rossabaker opened #3948 "Port circe to cats-effect-3"
Roughly follows pattern of #3885. Bigger, but more widely used, than #3946 and #3947.  Open against cats-effect-3 branch.

[2020-11-27 06:57] rossabaker opened #3949 "Hash and BoundedEnumerable instances for QValue"
A `QValue` can have a `Hash` and `BoundedEnumerable` instance.  The procedure is similar to #3902 and should be done from the series/0.21 branch.  This will give a tour of defining cats instances, how to avoid them clashing, and how to test for lawfulness.

[2020-11-27 22:00] SarpongAbasimi opened #3952 "Http4sRoutes Types Issue"
Please this works perfectly
even though the signature for `of` is of type ` of[F[_]: Defer: Applicative]` which means that an `IO` is of type `Defer` or `Applicative` ?
<img width="360" alt="Screen Shot 2020-11-27 at 21 14 41" src="https://user-images.githubusercontent.com/37377831/100486132-9b46d580-30fa-11eb-8dcc-3a65b484569c.png">
also this does not work and my answer is why even though F is of

[2020-11-28 00:39] Daenyth commented on #3952
tldr version: `def index: HttpRoutes[IO] = HttpRoutes.of[IO] { ...`

-----

The issue here is a misunderstanding of what `: Foo` means in a type argument. It's not an "is a" relationship. It's a usage of `implicit` parameters for a "has capability of" relationship.

`def index[F[_]: Defer: Applicative]` means "for some type constructor `F[_]` which has capabilities of `Defer` and `Applicative`.

M

[2020-11-28 00:39] #3952 closed

[2020-11-28 02:58] rossabaker commented on #3949
If we have more volunteers than tickets, we can spin off similar tickets to this.

[2020-11-28 03:14] rossabaker opened #3953 "Public cats.parse.Parsers?"
Should parsers be public? We're (potentially) able to replace parboiled2 without breaking binary compatibility because all the parsers were `private[http4s]`.  But unlike our parboiled2 fork, we're not shading cats-parse.  If we're not shading the dependency, is there any reason to encapsulate the implementation?

[2020-11-28 03:24] rossabaker opened #3955 "Lift ETag.EntityTag to org.http4s"
Most headers are in `org.http4s.header`, and most HTTP-defined values of those headers are in the `org.http4s` root package.

1. Lift the inner `EntityTag` class out of the `org.http4s.headers.ETag` and into `org.http4s`.
2. Leave a deprecated type alias in `ETag` pointing to the new location of the class.
3. Leave a deprecated val in `ETag` pointing to the new location of the companion object.
4.

[2020-11-28 03:29] rossabaker opened #3956 "Fix boolean blindness of `EntityTag`'s weakness indicator"
An entity tag can be "weak" or "strong", but we model it as `true` or `false`.  Without looking, is `true` strong or weak?  Don't know?  That's a form of "boolean blindness."  (Knowing, but having several such flags as parameters, is another.)

In the companion object of `EntityTag`:
1. Add a `sealed trait Weakness`.
2. Extend `Product with Serializable`. This helps with type inference
3. Create a

[2020-11-28 03:50] rossabaker opened #3957 "Fix our @see links to be hyperlinks"
Several of our scaladocs have a `@see` tag that references an RFC.  These are great, but they should be wrapped in `[[` and `]]` to [be links](https://docs.scala-lang.org/overviews/scaladoc/for-library-authors.html#markup).  We can do a step better and give a description of the URL.

Old:

[code]

New:

[code]

Please start on series/0.21, so the fixes can propagate to all maintained releases.

[2020-11-28 06:32] rossabaker opened #3959 "Chip away at Dotty errors"
From the dotty branch,

[code]

For now, ignore:
* Errors mentioning parboiled2 (#3761)
* Errors mentiong CollectionCompat (#3945)
* Errors mentioning literal macros (#3760)

What progress can we make?  If they're indecipherable, can we begin to categorize them and make more tickets?

This is tedious work that won't land a feature during the Open Source event, but it's high value: many people are

[2020-11-28 09:31] SarpongAbasimi commented on #3952
Thank you very much @Daenyth for your time, this is the best explanation I have ever had.
Everything makes sense now.

[2020-11-28 14:59] amiguez commented on #3946
I will like to work on this one.

[2020-11-28 15:00] benderpremier commented on #3947
I'll try to work on that ticket 🙏

[2020-11-28 15:48] benderpremier commented on #3948
Let's see if I am still lucky. Can I try that one ?

[2020-11-28 15:50] amiguez commented on #3944
I would like to work on this one.

[2020-11-28 16:00] rossabaker commented on #3946
Fixed by #3962

[2020-11-28 16:00] #3946 closed

[2020-11-28 16:03] rossabaker commented on #3947
Fixed by #3961.

[2020-11-28 16:03] #3947 closed

[2020-11-30 12:35] lukoyanov commented on #3956
Hi, @rossabaker. I want to pick this one.

[2020-11-30 12:40] lukoyanov commented on #3955
Hi. I'd like to pick this one.

[2020-11-30 14:30] rossabaker commented on #3956
Wonderful, thank you!

[2020-12-01 00:21] sergiojoker11 commented on #2550
Can I suggest to update the ResponseLogger responseHeaderTimeout error message (service request canceled) to something more meaningful if the only reason for that message to show up is that the request timeout?

[2020-12-01 04:28] daddykotex commented on #2913
Sorry, I forgot a bit about this. With the right loggers, it prints the following:

[code]

[2020-12-02 04:54] rossabaker commented on #2550
@sergiojoker11 I'm not sure that would be the case.  What if the response gets canceled by the service itself?  All we know at that logger level is that we were canceled, without a reason.

[2020-12-02 10:33] sergiojoker11 commented on #2550
If the response gets canceled by the service itself it should say so IMO otherwise one will never be able to distinguish between these different scenarios.

[2020-12-02 15:36] amiguez commented on #3944
@rossabaker Thought I linked this Issue with the PR by writing in the description:
`Fix: #3944`
I do not know why this was not closed automatically :/

[2020-12-02 15:46] rossabaker commented on #3944
I usually say "fixes #XXXX" or "closes #xxxx".  From [the docs](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword), I'm not sure why yours didn't work.

Thanks for the PR, and thanks for calling attention to the issue.  I'm bad about coming back and closing these when the automat

[2020-12-02 15:46] #3944 closed

[2020-12-02 21:54] dwlizlo commented on #3829
-`language:implicitConversions` was removed from sbt-tpolecat for Dotty

[2020-12-02 22:15] dwlizlo commented on #3829
@rossabaker could you please move it to in progress/done once it's merged? I don't think I have permission to shuffle the project around. Cheers!

[2020-12-04 06:55] yanns commented on #3837
I think that we can put this task into progress.
There is a PR for it: https://github.com/http4s/http4s/pull/3894

[2020-12-04 06:59] rossabaker commented on #3837
I still owe that one a review and will aim to get to it this weekend.

[2020-12-04 18:32] rossabaker commented on #3829
Fixed by #3975.

[2020-12-04 18:32] #3829 closed

[2020-12-05 18:55] rossabaker opened #3984 "Advent of cats-parse"
These files have parboiled imports that need to go.  We are moving them to cats-parse.  Some of these files are related. Some are enormous and can be broken down.  They could be tasked better, but this is a start.

All work should target the series-0.22 branch, but all of this will get it closer.

Basic steps:

1. We are putting [parsers on the companion objects](https://github.com/http4s/http4s/b

[2020-12-05 19:37] rossabaker commented on #3761
Re-organized with some steps and examples on #3984.

[2020-12-05 19:37] #3761 closed

[2020-12-05 20:36] lewisjkl commented on #3984
Hey I'd love to help out with this! I can start with OriginHeader and then potentially pick up some more after getting that PR submitted/merged.

[2020-12-05 21:08] deniszo commented on #3984
Going to a take a shot at `ContentTypeHeader` parser

[2020-12-05 21:20] fredshonorio commented on #3984
I'll go for RangeParser

[2020-12-06 00:49] rossabaker commented on #3984
Thanks for volunteering!  Hopefully the guide above is useful.  We'll refine it as we get more people involved.

[2020-12-06 04:51] rossabaker opened #3985 "Cookie model allows invalid cookies"
The cookie alphabet is tightly constrained, and there is no escaping mechanism.  The apply methods are wrong:

[code]

The domain and path of `Set-Cookie` are also ripe for abuse.

1) What API do we want in 1.0?
2) What can we do about it in 0.21?

[2020-12-06 05:52] rossabaker opened #3986 "Fix "FollowRediectSpec follow the proper strategy""
This test has been pendingUntilFixed for a long time, and is being removed in #3983.  After fixing a `must beRight(response)` to `must_==(response)`, here is the current state:

[code]

Why are those broken? Can we fix them, or were they lost to the non-introspectable algebra of fs2?

[2020-12-06 09:28] deniszo commented on #3984
After giving up and deleting my previous comment, I am back at taking a shot at `CacheControlHeader` 😅

[2020-12-06 17:37] rossabaker commented on #3984
:tada: Please don't be afraid to ask for advice if they're hard.  I haven't been very good myself at predicting which ones would be easy and which ones wake dragons.

[2020-12-06 17:38] rossabaker commented on #3984
(Administrative note: putting names next to ones in progress, but now using the check to reflect they're merged.)

[2020-12-06 18:47] lewisjkl commented on #3984
I started going through the OriginHeader last night and for the most part it is straight forward. One thing I realized though is that I am going to need a parser for ipv4 and ipv6 addresses in order to parse the host names out. I am happy to go ahead and write those, but I wanted to ask if those maybe belong in another location? Or maybe they're already done somewhere else?

[2020-12-06 23:50] kevinmeredith commented on #3985
Can you please say, Ross, what the cookie constraints are, as well as how http4s fails to adhere to them?

I'm asking as an interested observer.

[2020-12-07 00:25] rossabaker commented on #3985
The first two examples above show how we can't parse our own rendering.

The basic problem is:

[code]

Only `token` characters can go in the name, and only `cookie-octet` characters can go in the value (with optional quotes, that don't actually escape anything).  And there is no universal encoding mechanism to smuggle in characters outside those two alphabets.

[2020-12-07 14:23] rossabaker commented on #3984
@lewisjkl I've been putting common rules in the RFCs they come from.  Then, when an RFC references another, we can mimic that buy importing another RFC object.  So I'd put the IP address rules an `Rfc3986` object in `org.http4s.internals.parsing`.  URI will also benefit from those.

There are parboiled rules for these already, but I recall the IPv6 one being particularly ugly.

[2020-12-08 05:41] jyoo980 commented on #3949
I'd like to give this a go!

[2020-12-08 15:55] rossabaker commented on #3837
Fixed by #3894.

[2020-12-08 15:55] #3837 closed

[2020-12-08 15:56] rossabaker opened #3991 "Port blaze-server to cats-effect-3"

[2020-12-08 15:57] rossabaker commented on #3839
Fixed by #3871.

[2020-12-08 15:57] #3839 closed

[2020-12-08 21:01] fredshonorio commented on #3984
I've added https://github.com/http4s/http4s/pull/3995, should I ping anyone?

[2020-12-09 02:34] rossabaker commented on #3984
Nope, we'll take a look. Thanks!

[2020-12-09 14:56] Lasering opened #3998 "Show for Uri"
Show for Uri comes handy some times. Why not include it?

[2020-12-09 21:17] hamnis commented on #3984
I'm having a look at `Authorization`

[2020-12-10 00:21] isomarcte commented on #3998
@Lasering this was actually added about a week ago.

https://github.com/http4s/http4s/pull/3969

There's not been a release with it yet.

[2020-12-10 11:18] #3998 closed

[2020-12-10 11:54] Lasering commented on #3998
Sorry I missed that one. Should've done my homework more thoroughly.

[2020-12-10 15:45] pcaisse opened #4003 "Third-party cookie breaks cookie parsing"
Scenario:

`http4s` version: 0.20.0

On a project using `http4s` v0.20.0, we ran into a situation where our cookie-based authentication was mysteriously breaking _sometimes_ only in development and would not work again until we manually cleared cookies. As it turns out, a separate project also run on `localhost` in development was setting a cookie for Google Tag Manager like so:

[code]

The fact

[2020-12-10 16:28] rossabaker commented on #4003
We should consider this as part of #3982.

[2020-12-10 17:23] rossabaker commented on #3984
@fredshonorio Thanks for the `Accept-Ranges` parser.  Do you want to keep going and finish off all the range parsers?

[2020-12-10 20:13] fredshonorio commented on #3984
For sure!

[2020-12-11 05:41] lewisjkl commented on #3984
Hey all, just submitted a WIP PR for OriginHeader. I am a bit stuck with the ipv6 parser and would love any thoughts/ideas you all have. See #4004.

[2020-12-11 10:25] hamnis commented on #3984
I`ll pick up the rest of RFC7235, that is `WWW-Authenticate`, `Proxy-Authenticate` and `Proxy-Authorization`
Most of them are based on, or related to Authorization.

@rossabaker should I do all of them in the same PR? I currently have a branch based on the [Authorization PR](#4001)

[2020-12-11 16:28] yanns commented on #3835
I've started working on it: https://github.com/http4s/http4s/pull/4007

[2020-12-12 01:07] kovacshuni commented on #2278
Any news on this? I'm also seeing a relation between the frequency of this error occurring and the speed at which I am making the requests. Higher performance, more prone to throw error.

[2020-12-12 16:56] novakov-alexey commented on #3984
Hi there. I will take:
./core/src/main/scala/org/http4s/QValue.scala
./core/src/main/scala/org/http4s/ContentCoding.scala

[2020-12-13 11:47] novakov-alexey commented on #3984
I will also cover:
./core/src/main/scala/org/http4s/parser/AcceptCharsetHeader.scala
./core/src/main/scala/org/http4s/parser/AcceptEncodingHeader.scala
./core/src/main/scala/org/http4s/parser/AcceptLanguageHeader.scala

[2020-12-14 03:17] nigredo-tori opened #4015 "Revisit the order of type parameters in ContextRoutes"
Accross the ecosystem we have a convention to have type parameters of kind `* -> *` go before type parameters of kind `*`. We can see that in FS2, in Cats, even in Haskell! So it is surprising that we have `ContextRoutes[T, F]` rather than `ContextRoutes[F, T]`.

[2020-12-14 03:31] nigredo-tori commented on #3059
Not implicitly, but it should be `Contravariant[* => HttpRoutes[F]].compose(Contravariant[ContextRoutes[*, F]))`. And you can build a `Contravariant[ContextRoutes[*, F]]` in a similar fashion.

That said, I feel like it would be nice to have not just a `Functor`, but an `Applicative` for `ContextMiddleware[F, *]`.

[2020-12-15 20:48] zmccoy commented on #3984
@rossabaker It'd be good to link the https://github.com/http4s/http4s/pull/4004 PR to the `./core/src/main/scala/org/http4s/parser/IpParser.scala` line being that it requires the IPV6 parser that is done in there.  Happy I checked how people were doing `(1 to X).times` to find that before I went further 😅

[2020-12-16 06:04] lewisjkl commented on #3984
Re: #4004, I got busy the last few days so had to put it on hold. Should be able to hopefully get it completed tomorrow though since I finally got ipv6 parsing 🎉

[2020-12-16 06:14] rossabaker commented on #3984
@zmccoy Do you want to grab one? I'm not sure what's left of `IpParser` after #4004.

[2020-12-16 11:40] fredshonorio commented on #3984
Here's https://github.com/http4s/http4s/pull/4017

[2020-12-16 15:42] Lasering opened #4019 "ResponseLogger constructor overload receiving the response"
It would be helpful if `ResponseLogger` had a "constructor" where the `logAction` would have the type `Option[Response[F] => F[Unit]]` this would allow for example: successful messages to be printed in green, client errors in yellow, and server errors in red.

A similar idea could be applied for the `RequestLogger` which would allow for example printing the request uri in bold. Or read methods (GE

[2020-12-16 16:02] rossabaker commented on #4019
:+1:

[2020-12-16 22:14] Lasering commented on #2483
Should the deprecated methods on "0.21.x" and "0.19.x" be removed from `Client`?

Should the overloaded methods receiving `F[Request[F]]`, or `String` be removed?

I'm assuming yes, because its a major version, but could not find a definitive answer on https://http4s.org/contributing/.

[2020-12-17 04:15] ashwinbhaskar commented on #3836
@rossabaker sorry for the late reply. If I understand this correctly, I need to make the changes in `cats-effect-3` branch?

[2020-12-17 06:40] ashwinbhaskar commented on #3836
seeing a few `java.lang.NoSuchMethodError: io.chrisdavenport.vault.Key$.newKey(Lcats/effect/kernel/Sync;)Ljava/lang/Object;` errors on running `ember-core/test`. I don't see any branch on the `vault` repo to migrate to cats-effect 3. I think I should start with that first?

[2020-12-17 06:47] rossabaker commented on #3836
Yes, that's the right branch.

The vault errors should be fixed on release of https://github.com/ChristopherDavenport/vault/pull/175. @ChristopherDavenport, anything we can do to help that one along?

[2020-12-17 07:15] ashwinbhaskar commented on #3836
@rossabaker https://github.com/ChristopherDavenport/vault/pull/175 does not use cats effect `3.0.0-M3`

[2020-12-17 22:18] SarpongAbasimi opened #4031 "What Am I doing wrong here( EntityEncoder Issue)"
Hello, please can someone help me to understand what I am doing wrong here. Have some patience with me please, I am just trying to understand what is going on. Thanks 😊

I have this for the route
[code]
and this for Encoding

[code]
But I am getting this error even though I have an `EntityEncoder[F, Todo]`
<img width="779" alt="Screen Shot 2020-12-17 at 22 07 09" src="https://user-images.githubuse

[2020-12-17 22:36] hamnis commented on #4031
Looks like an import issue.

try adding `import Encoders._`

[2020-12-17 22:40] hamnis commented on #4031
if you place your Encoder and the EntityEncoder in the companion object of Todo, they should be found without having to import.

[2020-12-18 03:20] rossabaker commented on #4031
I'm going to move this to the new discussion board.  Please let us know if that helps, or needs more explanation!

[2020-12-18 03:20] #4031 closed

[2020-12-18 04:08] rossabaker commented on #2483
I like to keep things around for as long as they don't cause trouble.  We still get user questions as far back as http4s-0.16 (!!!), and it's nice to provide as gentle an upgrade path as possible.  We tend to remove them if they get in the way of new preferred signatures or otherwise compromise the experience, or substantially get in the way of new development.  If they're not hurting anybody, we

[2020-12-18 06:38] rossabaker commented on #4015
I agree with this.  I think it improved type inference a long time ago, but that was probably in the days of Scala 2.11?  I'd like to see how terrible this is to break, but it's deeply confusing as it is.

[2020-12-19 04:33] ashwinbhaskar commented on #3836
@rossabaker @ChristopherDavenport anything I can do to make progress on this?

[2020-12-19 12:33] Lasering commented on #2483
My view would be yes. If a major version isn't reason enough to introduce breakage, I don't know what it is. Even more with a scalafix to ease the migration. Although its gonna take me a while to learn scalafix and properly implement the rules.

[2020-12-19 14:32] samudurand commented on #1877
This is still not in the documentation! I had to add the `extend Http4sClientDsl[F]` to have the client work with IO

[2020-12-19 14:49] programaker commented on #2445
Fortunately, I'm not using the path workaround anymore. I've replaced it with `Uri.fromString`, which doesn't encode the given uri String, only validates it returning an `Either`.

This is an Ammonite script to check it (v0.21.14):
[code]

[2020-12-19 15:12] Lasering commented on #2483
In the current implementation `Client` is a decorator around `Request[F] => Resource[F, Response[F]]` which adds some helpful methods to go directly from `Request[F]` to `F[A]`. These methods have some variations:

 - On success return `F[A]`. On failure raise an error. (Methods `expect`)
 - On success return `F[A]`. On failure return `F[A]`. (Methods `fetchAs`)
 - On success return `F[A]`. On fai

[2020-12-19 16:37] Lasering commented on #2483
Another idea would be to have the level of compromise à lá carte:

The base client would be:
[code]
Users concerned with `use` being buried would use this directly.

Then mixin traits allowing a finer control over the level of abstraction could be implemented. For example:
 - A trait with the logic `defaultOnError` + `runWith`
 - Another extending the above with logic to decode to a value directly

[2020-12-19 16:45] novakov-alexey commented on #3984
I am gonna take another one:
./core/src/main/scala/org/http4s/MediaType.scala

[2020-12-19 22:06] novakov-alexey commented on #3984
MediaType is used by these 3 headers, so I take them as well :-)
 ./core/src/main/scala/org/http4s/parser/AcceptHeader.scala
./core/src/main/scala/org/http4s/parser/ContentTypeHeader.scala
./core/src/main/scala/org/http4s/parser/LinkHeader.scala

[2020-12-20 03:16] zmccoy commented on #3984
@rossabaker Sorry I'm not able to commit right now, but if that changes I'll ping in here on what I'm taking.  :)

[2020-12-20 04:55] yuriy-yarosh opened #4041 "Is it possible to set a log4j2 logger for http4s ?"
I'm with struggling setting log4j2 logger for http4s...

Here's my deps
[code]

It looks like log4s picks log4j correctly, but...

log4j simply doesn't log much out of the box, and I was unable to set the default logging level.
Although the log4j2 logger itself does work but shows only error messages.
Log4J2 is a bit picky with it's configs when they're in different ClassPaths, and I don't really

[2020-12-20 16:16] #4041 closed

[2020-12-21 06:05] rossabaker commented on #3836
We just merged a copy into the cats-effect-3 branch while we await the release.  We don't want to release that way, but it'll get us unblocked as we continue the CE3 port.

[2020-12-22 19:39] rossabaker opened #4053 "QueryParamCodec violation"
On c4bb8b42ba2cf34c691f3d8a23f42b92be7a136:

[code]

[2020-12-23 21:39] RaasAhsan opened #4055 "CE3 bracket uncaught exception"
Follow up to #3857. When https://github.com/typelevel/cats-effect/pull/1535 is resolved, we can go back and fix two test cases in `ClientSyntaxSuite` that throw exceptions.

[2020-12-23 21:48] RaasAhsan opened #4056 "Loosen Async constaints that were an artifact of MonadCancel + Sync"
Another follow up to #3857. `BracketRequestResponse` originally needed `Sync` and `MonadCancel` constraints, but using them together causes implicit ambiguity errors (they both extends `Monad`). CE3-M6 should resolve this in the hierarchy somehow

[2020-12-24 17:27] RaasAhsan opened #4058 "Fix CE3 TestIORuntime hanging issue"
Follow up to #3857. For some reason, all the `*Spec` test suites would hang when running on the default compute pool that's defined in `Http4sSpec`. Once I changed that to an unbounded pool, they complete successfully. However, they all pass if run in isolation. Not sure if there's some weird interaction with the spec2/munit pools or if there are fairness issues, but it's worth looking into at som

[2020-12-26 03:53] rossabaker commented on #2483
This is an interesting write-up, and I'm still taking some time to digest it.

At its core, a client is just a `Request => Resource[F, Response[F]]`, and `Client` is just a convenience wrapper to provide a set of operations to make it usable.  What would the client backend builders return in your mix-in proposal?  Just the raw function?  The base `Client`?  How do I get an ember client that has th

[2020-12-26 04:55] RaasAhsan opened #4063 "Revise GZip middleware parameters"
Basically this comment here: https://github.com/http4s/http4s/pull/3857#discussion_r548373203

[2020-12-26 05:24] RaasAhsan opened #4066 "Review blocking operations in CE3 JavaNetClientBuilder"
In CE2, we were running arbitrary effects on the blocking pool via `Blocker`, however, in CE3 the blocking mechanism is exposed as:
[code]
I marked some of the obvious ones in `JavaNetClientBuilder` as blocking but there are some other ones in (particularly in `writeBody`) that I'm not sure about. One interesting thing is that we'll be shifting pools a lot more between compute/blocking now, but I

[2020-12-26 05:38] rossabaker commented on #4066
I'm not particularly worried about performance in this client.  I view this one as mostly a convenient REPL toy.  For production use, I would always prefer a non-blocking one, and the jdk-http-client is excellent if you don't want any of our home-grown backends or other popular Java backends as long as you're on JDK11.

[2020-12-26 16:04] gokyo opened #4069 "NOTICE file might need updates"
This file might need the end years to be up to date: https://github.com/http4s/http4s/blob/main/NOTICE

[2020-12-26 16:15] rossabaker commented on #4069
I think we don't need to bother refreshing the copyrights of the things we copied from, as long as we haven't continued to copy from them.  But our own should be kept consistent with #4068.

[2020-12-26 19:52] rossabaker commented on #4066
If I understand correctly, fs2's `writeOutputStream` is calling `Sync.blocking` on each call to the underlying `OutputStream`, so I think we're fine there, albeit with the shifting you mention.

The one I'm worried about blocking is the `getResponseCode` here:

[code]

Documentation on when it reads from the underlying `InputStream` is sparse, and I traced it to a supertype that returns `null` bef

[2020-12-27 01:18] rossabaker opened #4074 "Enable CirceSpec on cats-effect-3"
We just merged an `EqF` in #4007.  The EntityCodec laws we commented in #3948 should be something we can enable again.

[2020-12-27 01:20] #3788 closed

[2020-12-27 01:20] #3759 closed

[2020-12-27 01:20] #3835 closed

[2020-12-27 03:41] RaasAhsan opened #4075 "Fix RetrySuite property based test on CE3"
A property-based test in `RetrySuite` was commented out because it caused all the tests afterwards to fail, but only when running the _entire_ test suite in CI. I also got it to fail locally several times, but not deterministically. The error looks like this:
[code]
A dumb solution might to just run it at the very end, but I don't think that's a comprehensive fix for this

[2020-12-27 03:56] RaasAhsan commented on #3991
I can get started on this one, since I think it's probably the most crucial now in terms of downstream usage. I promise it won't take as long as the other branch :)

[2020-12-27 04:17] rossabaker commented on #3991
:tada: I think that and blaze-client are the two most difficult, but people will be delighted to see it!

[2020-12-27 17:13] rossabaker opened #4082 "Port prometheus-metrics to cats-effect-3"

[2020-12-27 17:13] rossabaker opened #4083 "Port dropwizard to cats-effect-3"

[2020-12-27 17:14] rossabaker commented on #4082
@m-sp is working on this in #4081.

[2020-12-27 17:15] rossabaker commented on #4083
@m-sp is working on this in #4081.

[2020-12-27 17:15] rossabaker opened #4084 "Port jetty to cats-effect-3"

[2020-12-27 17:15] rossabaker opened #4085 "Port ember-client to cats-effect-3"

[2020-12-27 17:15] rossabaker opened #4086 "Port ember-server to cats-effect-3"

[2020-12-27 17:15] rossabaker opened #4087 "Port async-http-client to cats-effect-3"

[2020-12-27 17:16] rossabaker opened #4088 "Port blaze-client to cats-effect-3"

[2020-12-27 17:16] rossabaker opened #4089 "Port jetty-client to cats-effect-3"

[2020-12-27 17:16] rossabaker opened #4090 "Port okhttp-client to cats-effect-3"

[2020-12-27 17:16] rossabaker opened #4091 "Port servlet to cats-effect-3"

[2020-12-27 17:16] rossabaker opened #4092 "Port tomcat to cats-effect-3"

[2020-12-27 17:17] rossabaker opened #4093 "Port examples to cats-effect-3"

[2020-12-27 17:17] rossabaker opened #4094 "Port docs to cats-effect-3"

[2020-12-28 00:28] fredshonorio commented on #3984
I'll also take
./core/src/main/scala/org/http4s/parser/ForwardedHeader.scala
./core/src/main/scala/org/http4s/parser/ForwardedModelParsing.scala

[2020-12-28 11:30] ashwinbhaskar commented on #4090
Has this been picked up? If not, I can pick it up

[2020-12-28 18:05] rossabaker commented on #4090
Nope, not yet.  This one will be interesting because it has some synchronous calls.  I would expect to see some `F.blocking` in it.

[2020-12-28 20:25] m-sp commented on #3984
I'll take a look at the `ZipkinHeader` parsers

[2020-12-29 00:52] rossabaker opened #4100 "Revive Proxy-Authentication header"
After #4073 is merged, we want to bring back the Proxy-Authentication header.  It was only banished due to binary compatibility in 0.21.

[2020-12-29 13:54] bsenyshyn opened #4103 "Handle encoding characters like `%^{}\|; for query parameters in HttpRoutes"
**Description:**

If we have to create route with some parameters, like:

[code]

And call API with:
`http://localhost:8888/api/v1/data?code=%&showCurrentData=true`
or
`http://localhost:8888/api/v1/data?code=111111&showCurrentData=^`

We receive 400 Bad Request with no message.

**Expected result:**
Handle this characters properly or receive corresponding message

**Actual result:**
400 Bad Reques

[2020-12-29 17:29] rossabaker commented on #4103
Perhaps the decoder could be relaxed, but that's an invalid query string.  The `%` is a reserved character for percent encoding, and is supposed to be followed by two hex digits.  `%25`, if you want to represent a literal `%`.

Is this client something you have control over, or do you have to support the invalid encoding?

[2020-12-29 19:45] bsenyshyn commented on #4103
@rossabaker Actually, I was curious if there is any possibility to cover such cases. If not it will be perfect to provide some proper message.
Moreover, it's not just about `%` literal which is reserved, but `^` and other stuff as well

[2020-12-29 20:26] rossabaker commented on #4103
The valid characters are alphanumerics and: `/ ? : @ - . _ ~ ! $ & ' ( ) * + , ; =`.  Everything else needs to be percent-encoded to make a valid URI.

It's the backends that are rejecting this.
* Blaze just gives a 400 without explanation.  We can do better here, and I'll leave the ticket open for that.
* Jetty lets it through to `Http4sServlet`, which responds with an "Invalid request target" me

[2020-12-29 20:50] bsenyshyn commented on #4103
@rossabaker It would be great to make Blaze more informative for such cases and not only for them. Thanks!

[2020-12-30 03:06] #4019 closed

[2020-12-30 19:26] adschwartz opened #4111 "Add mentioning of `EntityLimiter` to website"
There's a lack of information regarding the `EntityLimiter` middleware on the website: https://http4s.org/v0.21/middleware/

Being able to limit the acceptable payload size submitted to endpoints is a common feature and it would be helpful to newcomers to point them to the `EntityLimiter`.

[2020-12-31 21:44] rossabaker opened #4118 "Why isn't MiMa running?"
https://github.com/http4s/http4s/pull/4113 broke binary compatibility, but we didn't notice because the build set all the artifacts to be empty.

This has in the past been related to the depth of git checkout.

[2021-01-01 03:27] rossabaker opened #4120 "Stop publishing Snapshots as Maven Central releases"
We are publishing hash releases to Maven Central. Figure out how to shut it off.

[2021-01-01 11:18] ashwinbhaskar commented on #4084
I can pick this up if this is available.

[2021-01-01 15:46] rossabaker commented on #4084
It is. Thanks!

[2021-01-01 18:17] RaasAhsan opened #4121 "Clean up guaranteeCase usages in CE3"
The next CE3 milestone release will include https://github.com/typelevel/cats-effect/pull/1567 , so we can fix some usages in `core/server/client` where a `MonadCancel` instance wouldn't be resolved properly due to inference

[2021-01-02 02:52] RaasAhsan commented on #4088
I'll go ahead and knock this one out too

[2021-01-02 03:57] cquiroz commented on #4074
I'd like to try this one

[2021-01-02 04:22] ashwinbhaskar commented on #4084
jetty depends on servlet. And servlet has not yet been ported. I will start with that first.

[2021-01-02 04:55] rossabaker commented on #4084
Oops, I overlooked that. :+1:

[2021-01-02 21:35] m-sp commented on #4086
If no one else is working on this, I can take care of this

[2021-01-03 00:45] m-sp commented on #4085
I started working on this https://github.com/http4s/http4s/pull/4128 but this is blocked by https://github.com/ChristopherDavenport/log4cats not being ported to ce3 yet

[2021-01-03 02:55] ashwinbhaskar commented on #4091
@rossabaker I need a bit of help here. I could not find the equivalent of `runAsync` in ce3. The code snippet where I am stuck is [this](https://github.com/http4s/http4s/blob/a7e820cca5311ab6c510d3f453f934af0de60f8a/servlet/src/main/scala/org/http4s/servlet/AsyncHttp4sServlet.scala#L59)

[2021-01-03 04:06] rossabaker commented on #4091
I'd like to hear from someone who has done more with CE3, but I think we could replace the callbacks with a `guaranteeCase`, and call an `unsafeRunAndForget()` on a `Dispacher` to replace the `unsafeRunSync()`.

[2021-01-03 04:44] RaasAhsan opened #4129 "Failing DecodeSpec property based test"
[code]

https://github.com/http4s/http4s/pull/4123/checks?check_run_id=1638533905

[2021-01-03 19:21] rossabaker opened #4131 "Revisit Logger constraints in Cats-Effect 3"
In eca20a5db4b, we had a clash between `Sync` and `Concurrent` constraints.  I ignorantly promoted them all to `Async` to make things compile.  Maybe there was a better way.

[2021-01-04 03:30] rossabaker opened #4134 "Simplify API by creating internal Dispatchers"
Based on some [early feedback](https://github.com/mpilquist/strava-summary/pull/1) from @mpilquist.

[2021-01-04 12:26] yanns commented on #4088
👍
This will allow me to enable the http4s backend in https://github.com/softwaremill/sttp/pull/738

[2021-01-04 17:30] #3956 closed

[2021-01-07 00:30] RaasAhsan opened #4150 "Revisit thread pool names on CE3"
They've changed to `io-compute-<n>`. We should probably try to get the old names back

[2021-01-07 00:36] RaasAhsan opened #4151 "Flaky blaze-client test: Use User-Agent header provided in Request"
I'm going to start making issues for these so I can look at them in more detail some time.

[code]

[2021-01-07 06:31] RaasAhsan commented on #4151
Another one, which I suspect is the same source of nondeterminism:
[code]

[2021-01-07 14:50] #4003 closed

[2021-01-07 14:50] #4100 closed

[2021-01-08 00:15] RaasAhsan opened #4155 "Graceful shutdowns for blaze-server"
I'm unhappy about the `allocated` call we're making for the `Dispatcher`, so we should probably gauge feasibility for getting graceful shutdowns.

[2021-01-08 04:24] RaasAhsan commented on #4155
So, I think this is going to be nontrivial at best. The problem is that the `Dispatcher` can be called on `ExecutionContext`s which are not necessarily bounded to the lifetime of the `Dispatcher`, which means that it can "go out of scope" and get leaked. This happens at least with `IdleTimeoutStage` and `NIOHead1Stage`.

Maybe we can add some kind of latch that `shutdown` can synchronize against w