[2021-08-11 14:46] eikek commented on #5053
Indeed, changing the example in the description to work with http4s 0.21.25, the cyrillic filename works as expected using curl.

[code]

Test:
[code]

Is this a regression, or was this change intended?

[2021-08-11 15:13] armanbilge commented on #5044
If possible, I wonder if we can take a lesson from the new cross-platform Files APIs in FS2? Where the goal was not to support every single platform-specific feature but instead to provide a shared interface for the most common use-cases. The assumption is the user who needs something fancy can always "drop-down" and write platform-specific code. My goal here at least is to simplify the code in ht

[2021-08-11 15:41] isomarcte commented on #5044
I think that's definitely more achievable in the near term. In some ways these are different goals. If we just want a facade to make cross compilation more clean, then the fastest way to that result is exactly what you are suggesting.

OTOH hand, if we want a clean set of classes or algebras for generalized hash and crypto usage in a strict FP context, like Cryptonite, then that requires a great d

[2021-08-11 15:51] armanbilge commented on #5044
@isomarcte thanks for clarifying, that makes sense. Doubtful, Is there a way we can start with the "SubtleCrypto algebra" to get us going and meaningfully evolve it into the FP crypto library you are imagining?

[2021-08-11 16:37] isomarcte commented on #5044
I personally think that is a great idea. The real question would be where to host it, which is not something I can answer in isolation.

[2021-08-11 16:42] armanbilge commented on #5044
I posted about this in the #http4s channel on discord for discussion.

[2021-08-11 16:43] isomarcte commented on #5044
@armanbilge and there would need to be a discussion about the maintenance/liability trade off of this with the various library authors.

Correct me if I'm wrong, but it sounds like this would need to be depended on by the core modules of many of the primary FP libraries (fs2/http4s/skunk). As you likely know, most of those modules have very few dependencies by design. There is an argument for _not

[2021-08-11 16:45] tpolecat commented on #5044
Another dependency (as long as it's managed by typelevel and we can get it out the door fast when upgrades are needed) isn't a problem for me (Skunk).

[2021-08-11 16:46] armanbilge commented on #5044
I don't think fs2 has any crypto in it. So far skunk and http4s would be the primary users, _maybe_ scodec but not entirely sure since actually scodec-bits would probably be a dependency of this crypto lib. I thought a bit about this here: https://github.com/scodec/scodec-bits/issues/300

[2021-08-11 16:47] isomarcte commented on #5044
@armanbilge I was basing my fs2 mention off of this,

I may have been misunderstanding the context on that.

[2021-08-11 16:48] armanbilge commented on #5044
BTW, the key trick to making this work across http4s 0.22/0.23/1.0 is to require only a Cats dependency for the JVM implementations (i.e. use a MonadError for `F`) and the Cats Effect dependency only for the JS implementations which will need `Async`.

Yep, sorry! That was about Node.js and Browser being different platforms, separate but also important issue :)

[2021-08-11 18:02] rossabaker commented on #5044
Dependencies on a user repo are rough, unless the user has deputized a few other people, _with full admin rights_.  That's key: tsec is suffering right now because its CI provider rotted, and it can still be published, but it can no longer be published automatically without a fork.

I feel much safer with Typelevel dependencies.  Everyone hits busy stretches where they run off and do Haskell for a

[2021-08-11 18:07] armanbilge commented on #5044
That's two votes 👍 for a typelevel project from @tpolecat and @rossabaker, happy to wait for others to weigh in as well. If someone sets up a repo I can try and get cracking at this :)

[2021-08-11 23:15] ChristopherDavenport commented on #4935
So here I've written something we can either incorporate into the client or operate differently. As of now we have the commented available so this is avaiable for user code as well. I see no other fix other than something like this.

https://gist.github.com/ChristopherDavenport/c089f842952aac10fd5f3f555e43b499

[2021-08-12 03:52] rossabaker commented on #4935
To sound smarter than I am, I like to quote standards.  RFC2616, which is obsolete, said:

Cool.  We have permission to retry `POST /gimme/some/money`.  But along comes RFC7230, the current law of the land:

Drat.  It turns out if we get paid twice, we can get sued.  But, gee, we sure want to be paid once.

This [abandoned retry spec](https://mnot.github.io/I-D/Abandoned/httpbis-retry/) is interes

[2021-08-12 03:57] rossabaker commented on #4935
As for @ChristopherDavenport's gist, I think it roughly implements what the latest draft calls "the riskier approach", like Chromium and Curl and unlike Firefox.  My concern with it is whether `EndOfStreamError` can be thrown after bytes have been read from the response.  If the `Content-Length` is longer than the body in the current Ember parser, what happens?  I think we could only want an autom

[2021-08-12 04:15] RaasAhsan commented on #4935
I think the implementation Chris has right now only retries requests we know are idempotent (by method or presence of idempotency key), so a POST request that didn't have a key would never be retried.

`EndOfStreamError` is only raised when the peer closes the connection on us and no bytes have been sent yet. If we read some bytes and then observe the close, it raises a `ReachedEndOfStream` error.

[2021-08-12 21:10] dylemma opened #5067 "Docs site for 1.0 has no CSS"
The docs site at https://http4s.org/v1.0/ currently looks like this:

![image](https://user-images.githubusercontent.com/1355958/129270104-22fdc524-7a3a-4a28-9d0f-ece6b3074402.png)

Looks like all of the CSS is attempting to load from localhost instead of the actual http4s.org domain
![image](https://user-images.githubusercontent.com/1355958/129270246-e2d0e2f6-bf70-4ad3-804b-26aaa9169189.png)

[2021-08-12 21:12] rossabaker commented on #5067
Thanks for reporting.  I think this is a duplicate of #4960, which I thought would be resolved when we published the 1.0.0-M24 milestone.  Drat.

[2021-08-12 21:12] #5067 closed

[2021-08-12 21:13] dylemma commented on #5067
Ah whoops that didn't come up in my search. Thanks for the confirmation though!

[2021-08-12 22:56] shannonbarnes opened #5069 "Accept-Language parser fails on wildcard '*' in 0.22"
[code]
Header example from [developer mozilla](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language)

Version: `0.22.2` - Parse Failure
 `res0: org.http4s.ParseResult[org.http4s.headers.Accept-Language] = Left(org.http4s.ParseFailure: Invalid Accept-Language header: Error(0,NonEmptyList(InRange(0,A,Z), InRange(0,a,z))))`

Version `0.21.24` - Works
`res0: org.http4s.ParseResult

[2021-08-13 01:57] rossabaker commented on #5069
Thank you.  Those parsers all had to be rewritten in the 0.22 migration.  We'll add this as a test case and get a fix out ASAP.

[2021-08-13 02:07] shannonbarnes commented on #5069
I saw this tweeted out a few days ago https://github.com/http4s/http4s/issues/5010 and thought about giving it a try.
I can give a stab and fixing this one.

[2021-08-13 02:09] rossabaker commented on #5069
Fantastic.  Please speak up if you need any help!

[2021-08-13 20:08] rossabaker commented on #4935
Correct.  This is the Firefox approach.  We could create a named strategy that makes it easy to switch to the riskier Chromium/Curl approach, but I think where there is ambiguity, we should err on the side of the more conservative default.

Yep.  I was conflating `ReachedEndOfStream` with `EmptyStreamError`.

Yes.  I'm interpreting that rule as binding for our default behavior, and is implemented

[2021-08-13 21:14] rossabaker opened #5072 "EntityEncoder for File, Path, and InputStream could be implicit"
These encoders were all explicit through series/0.22, because they required an explicit `Blocker` instance.  This is not necessary in Cats-Effect 3, so there's no reason these encoders couldn't be made implicit.  They are located in `EntityEncoder.scala`, and could be made implicit in a PR against series/0.23.

To resolve the TODOs on chunk size, we could provide explicit alternatives with a param

[2021-08-14 03:43] rossabaker commented on #5059
Thanks for the report.  We had a similar issue with Accept headers on the client (#4987).  I'll take a look.

[2021-08-14 07:38] arixmkii opened #5074 "Blaze Server prints self version instead of http4s version on startup"
Due to namespace collision Blaze server prints Blaze version twice instead of outputting Http4s + Blaze versions. Probably due to erased import.

[2021-08-15 03:44] rossabaker commented on #5074
Fixed by #5075.

[2021-08-15 03:44] #5074 closed

[2021-08-16 12:19] #5069 closed

[2021-08-16 14:10] RustamSultanov commented on #5053
@rossabaker Do you know the answer to the question about whether this is a regression or was it planned behavior?

[2021-08-17 03:15] #5022 closed

[2021-08-17 04:08] rossabaker commented on #5009
Here is a [discussion of the discrepancy](https://lists.w3.org/Archives/Public/www-archive/2012Jun/0001.html).

Interestingly, consecutive equal values are disallowed in the old RFC, but I'm going to pretend that I didn't read that.

Let's change the model in main.  What happens if a value is a valid host followed by gibberish?  Would we disallow that, but ignore valid trailing hosts?  Or would th

[2021-08-17 13:59] #5059 closed

[2021-08-18 02:46] rossabaker opened #5086 "middleware.md still refers to HttpService"
Thanks to @nafg for pointing that out [here](https://github.com/http4s/http4s/pull/1693#issuecomment-900737068).

[2021-08-18 02:46] rossabaker opened #5087 "testing.md still refers to HttpService"

[2021-08-18 06:55] armanbilge opened #5090 "Firefox regression in fetch client"
Unfortunately it seems #5046 introduced a serious regression to the `dom-fetch-client` in Firefox. The `ClientRouteTestBatterySuite` now fails every test with:

`TypeError: 'cancel' can't be called on a locked stream.`

Removing the `cancel` from the success case when closing a `ReadableStream` fixes the problem, but it's not the right thing to do in general. I'm investigating/working on a fix.

T

[2021-08-18 06:59] armanbilge commented on #5090
Also worth noting that Firefox CI causes pain in CE as well: https://github.com/typelevel/cats-effect/pull/2187

[2021-08-18 10:53] adriansnep16 opened #5091 "Path is not normalized when creating a request"
In version 0.21.xx the paths were normalized when creating requests using the methods from org.http4s.dsl.impl, for example POST(body.asJson, uri"".addPath("/add//new//entry")). By normalized i'm referring that the path, in this exemple "/add//new//entry", was transformed to "/add/new/entry", so multiple / are eliminated. Since version 0.23.xx this is not happening anymore. Is this desired behavio

[2021-08-18 12:26] rossabaker opened #5092 "Default ExecutionContext in blaze-client"
Following up from #4782, we can't do exactly the same on `BlazeClientBuilder` because the `ExecutionContext` is exposed as a val.  I don't know if this would work, and it's an odious hack, but:

1. Make the val a def.  (Is this bincompat?  I'm not sure about private synthetic methods.)
2. If the context is explicit, return it.  If it's the "default" context, return a dummy value that doesn't need

[2021-08-18 14:24] kubukoz commented on #5092
Dummy value can probably be IORuntime.global.compute, since we have a dependency on CE core.

[2021-08-18 14:26] vasyl-zhurba commented on #2383
I think it is still present in 0.21.24

[code]

[2021-08-18 19:14] rossabaker opened #5096 "CORS.toHttpRoutes and CORS.toHttpApp are unconfigurable"
Both of them should take a `CORSConfig` parameter.  We should deprecate the versions that don't, starting in 0.22.

[2021-08-18 19:30] rossabaker opened #5097 "`Access-Control-Allow-Credentials: false` isn't real"
Omit it, don't render it.

[2021-08-19 10:17] hamnis commented on #5091
In 0.22 we introduced `Uri.Path` as its own type, this has a `normalize` which allows you to do what you want.

[2021-08-19 10:35] matil019 commented on #5059
Thank you for a quick response and your hard work!

[2021-08-20 08:02] chwthewke opened #5099 "`Uri.resolve` behaviour very surprising, seems to discard last segment of `base`"
This is a REPL with http4s 0.23.1 (and Scala 2.13):

[code]

As I understand [RFC 3986 5.2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.3), which the http4s source mentions, the above is intended behaviour.

However, adding a / at the end of the base uri literal has no effect

[code]

I would expect the result to be http://example.com/foo/bar and http://example.com/foo/bar/baz, res

[2021-08-20 21:15] zmccoy commented on #5010
I'll grab the  X-Forwarded-Host.

[2021-08-20 22:42] fizzy33 opened #5102 "document site appears to have localhost embedded for various scripts"
page at https://http4s.org/v1.0/ has the following for several style sheets.  Hence the page isn't working very well.

[code]

[2021-08-21 13:48] yurique opened #5104 "Feature request: more flexible (and powerful) logging"
Currently, we have standard logging middleware which is awesome, but it lacks a bit of flexibility to support some use cases, like the following, for example:

*  I want to log all the non-successful responses
* and, I want to see the corresponding request in the same output (request path, maybe even body)

This is currently not possible, as
1. request and response loggers are separate (so the res

[2021-08-24 19:57] rcardin commented on #5010
Can I take the `Access-Control-Max-Age` header?

[2021-08-24 20:58] rossabaker commented on #5010
@rcardin That would be wonderful.  Both yours and @zmccoy's have an interesting design point: they refer to seconds, which fit nicely as a `FiniteDuration`.  But if we use a `FiniteDuration` in the case class, they cease to round trip.  It's like using a `Double` in place of an `Int`.

I'm thinking maybe we should model those as a `Long` as the value, and have a convenience `toDuration` so people

[2021-08-25 06:44] san-coding commented on #5096
Can you assign this issue to me, I am new to open source

[2021-08-25 14:37] tpolecat opened #5108 "[ws] Any effect you like, as long as it's IO"
We seem to make an assumption that we're running in `IO`, based on the hardcoded key [here](https://github.com/http4s/http4s/blob/a942a83e2b88bafc644fc9916fd1979eb951ced8/server/shared/src/main/scala/org/http4s/server/websocket/package.scala#L26-L30).

This can be exposed if your routes are defined in an effect that differs from the effect the server is running in, as via the `liftR` operation pro

[2021-08-25 15:45] eikek commented on #5053
Hi @rossabaker sorry for nagging :/ I'm currently wondering how to proceed here. Do you think this is something to be addressed in http4s at some point? If not, I'd like to ask for help to find some workaround. For my (free) application I can't rule out curl or other popular clients easily (no matter the rfcs :)). Where would be a good spot to look to change this behavior?

[2021-08-25 16:43] tpolecat commented on #5108
Update: same failure with Ember

[2021-08-26 00:03] geoffreytchew opened #5110 "EmberServer SecureSession Request Attribute Does Not Contain Expected Values"
When I migrated from Blaze Server to Ember Server (http4s version 0.23.1), I encountered an issue where I could no longer retrieve the client's certificates used for TLS communication from the SecureSession request attribute. An empty list is returned instead of the expected certificates. Upon further inspection it seems that all SecureSession field values are empty/default values.
Consider the fo

[2021-08-26 11:27] danielleontiev opened #5116 "TickWheelExecutor causes OOM"
blaze-core:0.15.1
My application is based on http4s-blaze-server:0.23.0

Application crashed: `java.lang.OutOfMemoryError: Java heap space`

Heap size was slowly increasing during ~ 1 week and then OOM occurred

![image](https://user-images.githubusercontent.com/24596613/130954593-8d7257af-4c7a-4043-ae87-3db2c5462938.png)

Looking at heap dump it seems TickWheelExecutor was keeping `Register` and

[2021-08-28 04:08] rossabaker commented on #5116
`TextFormat.write` is blocking IO.  You're shifting it off to a cached thread pool, but cancellation will still hang in Cats-Effect 3 until the effect completes.  I am surprised it would hang forever, but maybe?  If you wrapped it in `IO.interruptible`, I don't believe you could get into this state.

That said, we shouldn't block the executor thread on response cancellation, and didn't before http

[2021-08-28 13:03] rcardin commented on #5010
@rossabaker, I'm taking the implementation of the header `Age` as a reference. Is it correct?

[2021-08-29 02:30] #956 closed

[2021-08-29 18:17] san-coding commented on #5072
Hey @rossabaker can I work on this issue ?

[2021-08-29 18:56] armanbilge commented on #5072
I think my PR fixed it!

[2021-08-29 18:56] #5072 closed

[2021-08-29 21:46] rossabaker commented on #5116
Hard to say without a reliable repro, but #5118 should fix this.  We're preparing a release train this week.  If it comes up again, please reopen.

[2021-08-29 21:46] #5116 closed

[2021-08-29 23:01] armanbilge commented on #5090
Closing, because the Firefox CI problem was mostly fixed in #5123. Only "mostly" because that only runs the DOM test suites, and ideally we should still run the entire test suite in Firefox (particularly anything using crypto, since those are also browser-specific APIs).

[2021-08-29 23:01] #5090 closed

[2021-08-30 01:27] rossabaker commented on #5010
Yes, I think an ADT would be appropriate for the `Access-Control-Max-Age`.

[2021-08-30 02:56] rossabaker opened #5128 "EmberWebSocketSuite: Unknown opcode 3"
https://github.com/http4s/http4s/pull/5124/checks?check_run_id=3456632732#step:13:3978

[code]

[2021-08-30 04:15] #5009 closed

[2021-08-30 08:50] Yotamho opened #5132 "Migrate blaze client ConnectionManager and PoolManager to a standalone module"
Hi,
[`PoolManager`](https://github.com/http4s/http4s/tree/main/blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala) and [`ConnectionManager`](https://github.com/http4s/http4s/tree/main/blaze-client/src/main/scala/org/http4s/blaze/client/ConnectionManager.scala) are great functional and generic implementations and can be used in projects that aren't related to http (I use them for

[2021-08-30 12:31] rossabaker commented on #5132
Have you seen [keypool](https://github.com/typelevel/keypool)?  It's based on`Resource`, which I think offers a much safer API.  Ember uses keypool, and if someone retrofitted Blaze, I think we'd retire the existing `PoolManager`.

[2021-08-30 13:54] RafalSumislawski commented on #5052
This sounds to me like a legitimate bug in the blaze-client.

[2021-08-30 14:37] rossabaker commented on #5052
It might be, but sometimes we find the servers we spin up lock up in the CI environment buckle under load.  We made a lot of progress on test reliability by eliminating `unsafeRunSync()` across the test suites, but problems like this remain.  Are these clients really locking up, or are they just not performing well on an overwhelmed machine?

I'm convinced it's either a poorly written test OR a bu

[2021-08-30 14:56] RafalSumislawski commented on #5052
I can reproduce the issue locally, which I think is a convincing evidence that this isn't a CI environment issue.

To reach (reasonably) reliable reproduction I commented out other tests in the suit and replaces `.replicateA(5)` with `.replicateA(200)`. It fails in ~50% attempts. But when it passes, it passes in less than 10s.

[code]

[2021-08-30 15:38] rossabaker commented on #5052
Oh, interesting.  I haven't tried in quite some time, but I've never been able to get it to lock up by adding load.  Getting a repro on this is a huge step forward.

[2021-08-30 15:43] danielleontiev commented on #5116
@rossabaker thank you a lot for the fix! I think not blocking scheduler thread should fix it. But I still was wondering why it has happened? I started to hack the example and did this:

[code]

This should block on 4'th call. After 60 seconds (default idle timeout) blaze-tick-wheel-executor becomes `WAITING` forever:

[code]

Subsequent calls do not unblock it and atomic references with events sta

[2021-08-30 17:56] geoffreytchew commented on #5110
I was able to reproduce this issue in unit tests that are based on `blaze-server/src/test/scala/org/http4s/blaze/server/BlazeServerMtlsSpec.scala`
I've attached these ember server unit tests in this comment.
To run the tests, do the following:
1. Unzip [EmberServerMtlsSuite.scala.zip](https://github.com/http4s/http4s/files/7078265/EmberServerMtlsSuite.scala.zip) and copy to `ember-server/src/test/

[2021-08-30 20:17] RafalSumislawski commented on #5052
It appears BlazeClient leaks connections (they aren't returned to the connection pool) on unlucky cancellation. I will try fixing this later.

[2021-08-31 06:16] rcardin commented on #5010
@rossabaker, I'm stuck. If possible, I would use the "coaching card" right now. [Here](https://github.com/rcardin/http4s/blob/feature/5010--access-control-max-age-header/core/shared/src/main/scala/org/http4s/headers/%60Access-Control-Max-Age%60.scala) is what I've done until now. I cannot understand how to call the `Header.createRender` with an ADT.

If you can point me to some documentation of th

[2021-08-31 12:04] mpilquist commented on #5110
The problem is that ember-server is creating a `SecureSession` immediately after accepting a client connection. At that time, a snapshot of the socket's TLS state is captured and stored in the request vault. At this time, the TLS handshake hasn't yet begun, hence the state seen in the ember tests.

To fix, a `SecureSession` should be put in to the vault after reading the headers of *each* request

[2021-08-31 14:02] pektinasen commented on #5010
Hey @rcardin , I'm not Ross Baker, and I have never contributed to this project or coached for that matter, but maybe I can still provide some feedback.

In createRendered you are supposed to give a function from `Access-Control-Max-Age` to `Long` (or any type that has a Renderer instance). Since you created an ADT with differented cases, you must pattern match on the different cases of your ADT w

[2021-08-31 15:05] rcardin commented on #5010
Many thanks, @pektinasen 🥇 ! I will try it asap.

[2021-08-31 19:04] geoffreytchew commented on #5110
I'd like to submit a PR for the fix. I'm not able to assign this to myself though.

[2021-08-31 19:42] rcardin commented on #5010
@pektinasen, did you mean something like this?
[code]

[2021-08-31 19:48] pektinasen commented on #5010
yes.

[2021-09-01 04:48] rossabaker commented on #5010
I think `Parser.char('-') ~ Parser.char('1')` can be `Parser.string("-1")`.  I doubt it's measurably faster, but it's easier to read and easier to grep.

Please don't be afraid to open a draft PR when you need help.  It's easier to discuss there than the big ticket.

And many thanks to @pektinasen for jumping in!

[2021-09-01 22:28] danielnaumau opened #5142 "Http4s Client"
How can I create the same request using http4s Client?

[code]

[2021-09-02 09:57] danielnaumau commented on #5142
And is it possible to create multipart request as described here https://medium.com/oracledevs/multipart-upload-a-large-file-to-oracle-cloud-infrastructure-object-storage-using-curl-8aa8d0021ff1

[2021-09-02 11:51] danielleontiev commented on #5116
Hm, I see this execution context is used only for underlying blaze futures, not for tasks I run as a part of application logic. Missed that point somehow. Will change to `.blocking` for prometheus part in the code

[2021-09-02 13:45] jbwheatley opened #5143 "Behaviour change: CORSPolicy middleware returns 404 on preflight request"
In the latest release, `CORSConfig` was deprecated in favour of using `CORSPolicy`. This has introduced a behaviour change where preflight requests will now return a 404 instead of a 200. I think this may cause some (all?) browsers to reject preflight requests, but I'm not sure.

In 0.23.1 was doing the following:

[code]

and then an `OPTIONS` request with headers `"Access-Control-Request-Method"

[2021-09-02 15:12] rossabaker commented on #5143
Ouch.  A fix is my top priority today.

[2021-09-02 15:28] rossabaker commented on #5143
Some CORS implementations have a setting to allow a passthrough to an underlying OPTIONS implementation.  This would be nice too, but I'm going to focus on the ass-on-fire bug first.

[2021-09-02 16:56] rossabaker commented on #5143
I'm going to lunch, but anyone affected is welcome to try that out locally: should just be a copy-and-paste into your own package.  Once approved, I'll start a release train.

[2021-09-02 17:35] geirolz opened #5146 "Http4s scalatest Asserting syntax for testing responses"
I have no idea if there is already something to do this, if exits I'm more than happy to delete custom code

I wrote a simple "asserting" syntax based on  `cats.effect.testing.scalatest.AsyncIOSpec` to test my responses.

I wonder if something like this can be implemented into http4s, should be useful for `scalatest` + `http4s` + `circe` users

example:
[code]

Http4sAsserting
[code]

[2021-09-02 19:54] rossabaker opened #5149 "Customize TLSParameters in EmberClientBuilder"
Can we fix this comment from @geoffreytchew binary-compatibly on 0.23?

Filing without thinking because I'm racing to get releases done. 😓

[2021-09-02 19:55] rossabaker commented on #5143
Fixed.  Releases working their way through as 0.21.28, 0.22.4, 0.23.3, and 1.0.0-M26.

[2021-09-02 19:55] #5143 closed

[2021-09-02 20:30] RustamSultanov commented on #5053
@eikek https://github.com/http4s/http4s/pull/5105 it looks like this fix fixes this problem

[2021-09-02 20:36] rossabaker commented on #5146
We used to publish Specs2 matchers, but deprecated and removed them.  The concept lives on at [specs2-http4s](https://github.com/etorreborre/specs2-http4s).  Our version had nothing to say about effects, so yours is operating on a slightly different level, and I haven't seen the approach elsewhere.

[2021-09-02 20:40] tpolecat commented on #5108
I have a fix for this, pending a Vault update.

[2021-09-02 20:59] eikek commented on #5053
@RustamSultanov thanks a lot for the update! But I can still reproduce the behavior in the description with 0.23.2 (using curl and Elm file upload, which uses the FormData api). I think the issue you referenced was for parsing the charset name. Here it is not using the `filename*` attribute with a `utf8''myname` encoding but rather "utf8 bytes" without any transfer encoding into ascii and without

[2021-09-02 21:53] geoffreytchew opened #5153 "deduceKeyLength returns 0 for TLSv1.3 Cipher Suites"
While writing tests for another issue, I noticed that org.http4s.internal.tls deduceKeyLength is returning 0 for the key length when a TLSv1.3 cipher suite is specified. The function doesn't support the TLSv1.3 cipher suites, so the default value of 0 is returned for them.

Also, the comment for the function references version 1.0 of the TLS spec, but it should also be updated to reference the 1.1

[2021-09-02 21:54] geoffreytchew commented on #5153
I'll be happy to take this one if someone wants to assign it to me.

[2021-09-02 21:59] rossabaker commented on #5153
:+1: I should have asked on the other ticket: is this also relevant in Cats-Effect 2?  I can try a backport if it is.  I got immersed in the CORS work.

I anticipate another release train next week.

[2021-09-03 00:50] geoffreytchew commented on #5153
Are you asking if the other issue (#5110) is relevant in cats effect 2? The bug was in EmberServer's ServerHelpers.scala at least as far back as 0.21.x.

As far as this issue, I also found it as far back as 0.21.x. It affects both the blaze and ember servers.

[2021-09-03 02:26] rossabaker commented on #5153
Yes, #5011. Sorry, I meant to reference it by number.  We're generally starting on series/0.22 with anything that can be done without breaking compatibility, and merging it forward.  I'll look into backporting #5110.  series/0.21 is only getting security patches now.

series/0.22 would be the ideal place to start this one, but I'll look at (and maybe cherry-pick) a PR to any branch.

[2021-09-03 07:42] geirolz commented on #5146
Ok thanks for sharing, but there is something also for `scalatest` ?

[2021-09-03 11:59] rossabaker commented on #5146
It used to be that if you used the right specs2 jar, you could use Specs2 matchers in ScalaTest without  pulling in most of the Specs2 machinery.  I can't remember which one that was, or whether it's still true.

I don't know of any ScalaTest integrations.  We're using MUnit in the project these days.

[2021-09-03 13:11] Qi77Qi commented on #4987
hey @rossabaker , is this fix in `1.0.0-M24`? it seems with `1.0.0-M24`, I'm still seeing the same behavior

[2021-09-03 13:24] Qi77Qi commented on #4987
just removed the hack I had previously, and tests all passed....can confirm the fix is in this way too :) ...sry should've done this before asking

[2021-09-03 15:37] rossabaker commented on #4987
Not at all.  I'm glad to hear that it worked!  I just think it's a neat feature of GitHub and wanted to share. :smile:

[2021-09-03 17:27] geoffreytchew commented on #5153
I can submit a PR to the series/0.22 branch

[2021-09-03 18:17] san-coding commented on #4973
Hey is this issue still open ?

[2021-09-03 21:01] rossabaker commented on #4973
It looks like @jyoo980 has a commit that does this, but I haven't noticed a PR yet.  @jyoo980, are you still working on this?

[2021-09-03 21:03] jyoo980 commented on #4973
Hey @rossabaker

My branch has the method written out, but I've yet to write tests for it yet. In fact, I was wondering if there are any examples I can look at for writing tests.

[2021-09-03 21:18] rossabaker commented on #4952
@san-coding I don't think anybody has taken this up, if you're still looking for one.

[2021-09-03 21:21] rossabaker commented on #4973
Tests should be relatively easy on this one:

1. Grab a decoder.
2. Call `withMediaRanges` (which is what I'd call the method)
3. Assert that `consumes` on the decoder equals whatever ranges you passed it.

I think this could be straight, non-effectful MUnit.

[2021-09-04 03:38] san-coding commented on #4952
Thanks ross, yes I am looking forward to contribute

[2021-09-04 03:56] san-coding commented on #4952
@rossabaker , I have figured out that I have to change this file [servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala](https://github.com/http4s/http4s/blob/453221b56ef9b6ec9118fdad3462725afef11b83/servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala) , could you help me out on what changes I should make

[2021-09-04 04:02] san-coding commented on #4952
Is this where I should make changes ?
https://github.com/http4s/http4s/blob/453221b56ef9b6ec9118fdad3462725afef11b83/servlet/src/main/scala/org/http4s/servlet/Http4sServlet.scala#L112-L119

[2021-09-04 20:54] rossabaker commented on #4952
I'm sorry. That `stripBracketsFromAddr` already fixes this, and it wasn't linked, so I neglected to close it.  I'll look for another one.

[2021-09-04 20:54] #4952 closed

[2021-09-04 21:09] rossabaker commented on #5097
Fixed in the CORS GHSA.

[2021-09-04 21:09] #5097 closed

[2021-09-04 21:27] rossabaker commented on #5017
@san-coding This is a good one.  `HttpDate` is an example: it extends `Ordered`, but we'd rather have an `Ordering` instance.  Are you familiar with the two types?

[2021-09-05 03:41] san-coding commented on #4952
Ohh okay , thanks

[2021-09-05 03:43] san-coding commented on #5017
I am not familiar yet, but will look into it, thanks @rossabaker

[2021-09-05 03:49] san-coding commented on #5017
@rossabaker , I can see that some classes inherit `ordered`

[2021-09-07 14:59] isomarcte commented on #5017
@san-coding if a class is already extending `Ordered`, we need to leave it that way, at least for now. This is so we don't break binary compatibility.

In the context of this ticket, any type in http4s which is currently only extending `Ordered` should also have an implicit `Ordering` added, and they should be consistent with each other.

Hopefully, most of the types which are extending `Ordered`

[2021-09-07 16:53] san-coding commented on #5017
Thanks @isomarcte  for such a detailed explanation

[2021-09-07 17:06] san-coding commented on #5017
hey @isomarcte @rossabaker , this file doesn't extend `Ordered`, neither does it have `cats.kernel.Order` , but it has `Ordering` instance

https://github.com/http4s/http4s/blob/a942a83e2b88bafc644fc9916fd1979eb951ced8/core/shared/src/main/scala/org/http4s/RequestPrelude.scala#L25-L29

https://github.com/http4s/http4s/blob/a942a83e2b88bafc644fc9916fd1979eb951ced8/core/shared/src/main/scala/org/htt

[2021-09-07 17:16] isomarcte commented on #5017
@san-coding it does have an `Order`.

https://github.com/http4s/http4s/blob/a942a83e2b88bafc644fc9916fd1979eb951ced8/core/shared/src/main/scala/org/http4s/RequestPrelude.scala#L102

The signature is a bit different because both `cats.kernel.Hash` and `cats.kernel.Order` extend `cats.kernel.Eq`. To avoid ambiguous implicit issues, the implementation for both `Hash` and `Order` have to be the same c

[2021-09-07 17:56] san-coding commented on #5017
Now I understand what to do , so whichever class extend `Ordered` and has `cats.kernel.Order`  instance, I should add an `implicit Ordering`  like this
[code]
When we don't have a `cats.kernel.Order`
We can add `implicit Ordering` like this :
[code]
For example ,
In this file I can see that it has :
https://github.com/http4s/http4s/blob/c17d2df0ce972247a5d77486f9b6fe220ecc4a68/client/jvm/src/main/

[2021-09-07 19:08] rossabaker commented on #5017
That works.  I think you could alternatively extend `Ordering` in the same value that extends `Order`, since the signatures are the same, but I've never seen it done that way.  Maybe @isomarcte knows why not.

I would not add any more `Ordered`s.  As @isomarcte notes, those need to remain for binary compatibility, but we shouldn't propagate it.

When you have a `cats.kernel.Order`, you can get `Or

[2021-09-07 19:41] geoffreytchew commented on #5153
Just submitted the following PR that addresses this issue: https://github.com/http4s/http4s/pull/5166

[2021-09-08 04:19] san-coding commented on #5017
Ok thanks , I will make a PR for the `ProtocolParameter` and `HttpDate` , and I will look for what all files / classes need to implement `Ordering` Instance , any idea how I can find all those classes which need `Ordering` Instance , should I search manually ?

[2021-09-08 04:27] san-coding commented on #5017
Having a separate PR for each class that needs `Ordering` instance would be better right?

[2021-09-08 07:00] san-coding commented on #5017
What should be the Ordering definition for HttpDate , because I don't see a statement like this anywhere

[code]

[code]

[2021-09-08 07:12] san-coding commented on #5017
Meanwhile I  will go ahead and add a PR for `ProtocolParameter`

[2021-09-08 07:51] san-coding commented on #5017
@isomarcte @rossabaker , thanks for the guidance and detailed explanations, I have added `Ordering` instance to `ProtocolParameter` trait  , can you review if whatever I have done is correct ?

[2021-09-08 16:51] AntonTkachev opened #5169 "Russian characters problem"
Hello!

I am using version 0.21.3, but I also tried: 0.21.25 and 1.0-234-d1a2b53, it's not resolve a problem.
My code:

[code]

If i got message with Russian characters, after `.decode` i have question marks instead of symbols.
For example what i have in `message`

I try use method decodeText `EntityDecoder.decodeText(req).unsafeRunSync()`
Add in code `import scala.concurrent.ExecutionContext.Impl

[2021-09-09 12:17] geirolz commented on #5146
Ok, thanks for the answers :)

[2021-09-09 12:17] #5146 closed

[2021-09-10 14:14] andreisilviudragnea opened #5177 "Uri bug in 0.22, 0.23 series"
This test passes in `0.21.28` version of `http4s-core`:
[code]

How should this test pass in any `0.22.X` or `0.23.X` version? I tried to make it pass, but I could not:
[code]

I know that in `0.22.X` series, there was a refactoring related to Uris, but it looks like some things do not work the same anymore. There are more issues related to this one [here](https://github.com/http4s/http4s/issues/5

[2021-09-10 21:17] tdbgamer opened #5180 "Retry Client Hanging"
I've been experiencing an issue where the retry client seems to hang in certain cases. I was able to replicate it here:
https://github.com/tdbgamer/http4s-retry-hang

Not sure what's going on, but in the thread dump, all the IO threads are waiting on the same thing.

Maybe it could be related to [this](https://github.com/typelevel/cats-effect/issues/2050)?

[2021-09-11 05:04] san-coding commented on #5017
@isomarcte @rossabaker @hamnis could you clear this doubt whenever you have time ?

[2021-09-11 05:12] san-coding commented on #5017
@isomarcte @rossabaker , this is another file I need to add Ordering instance to, it doesn't have `cats.kernel.Order` instance , shall I add it ?
https://github.com/http4s/http4s/blob/a942a83e2b88bafc644fc9916fd1979eb951ced8/core/shared/src/main/scala/org/http4s/HttpVersion.scala#L30

[2021-09-12 04:15] rossabaker commented on #5017
Yes, separate PRs are good.

I think `HttpVersion` does have a `cats.kernel.Order`, in `catsInstancesForHttp4sHttpVersion`.

Adding the cats instance for `HttpDate` would be a good exercise, but honestly, it's going to be hard if you haven't sorted out installing sbt yet.  I don't have an M1, but it looks like other people have figured out a way.  I'd start with that, so you can compile instead of

[2021-09-12 04:18] armanbilge commented on #5017
If you can't get SBT running locally you can try running metals in an online IDE e.g. see https://scalameta.org/metals/docs/editors/online-ides/

[2021-09-12 04:46] armanbilge opened #5184 "Enable fatal warnings for Scala 3"
Came up in https://github.com/http4s/http4s/pull/5179#pullrequestreview-752091801. Scala 3 does have fatal warnings available, just not many warnings implemented to be fatal about :) things might improve in 3.1.0, not sure.

I'll look into this.

[2021-09-12 04:50] rossabaker commented on #5184
I don't think it hurts if it doesn't yet warn on much: we have extensive Scala 2 coverage for that.  It hurts if the warnings are spurious.  It helps if the warnings cover anything useful that Scala 2 doesn't.  I think the case elimination in #5179 was nice.

[2021-09-12 05:40] san-coding commented on #5017
Ohh okay, I will figure out a way

[2021-09-12 05:42] san-coding commented on #5017
### @rossabaker @isomarcte  In the case of HttpDate , how do I define `Ordering` instance
[code]
Should It be `epochSecond.toOrdering`

[2021-09-12 07:57] bplommer commented on #5184
The problem I've run into with this is that deprecation warnings work differently in Scala 2 and Scala 3. IIRC, Scala 2 doesn't warn about deprecated usages by code that is itself deprecated, but Scala 3 does. So you need `@nowarn` in scala 3, but not in scala 2.

[2021-09-12 07:57] armanbilge commented on #5184
Hmm. Except, I think Scala 3 does not have `@nowarn` yet.

[2021-09-12 14:41] rossabaker commented on #5184
I think it must: we're using `@nowarn` already.

If Scala 3 warns and Scala 2 doesn't, do we get into problems in Scala 2 of the `@nowarn` annotation not warning on anything and that being fatal?

[2021-09-12 14:45] armanbilge commented on #5184
Last I checked, `@nowarn` does nothing in Scala 3. Could be better now though.

That's a good point.

[2021-09-12 15:37] armanbilge commented on #5184
Ok, I don't think this is going to work. For example:
[code]

Which is annotated `@nowarn("cat=deprecation")`.

[2021-09-14 14:58] rcardin commented on #5010
I will take the `Access-Control-Allow-Methods` header, if I can :)
Let me know.

[2021-09-14 16:14] noelwelsh opened #5191 "Update Bootstrap to 5.1.1"
I find the current http4s website very cluttered, but much improved with some minor tweaks to the styling to add more white space between, e.g. above a heading to more clearly distinguish section breaks.

I notice the site currently uses bootstrap + some custom styles. A way forward might be:

- Update to current bootstrap (5.1.1 from current 4.0 beta)
- Changing some of the custom styling to add

[2021-09-14 17:19] noelwelsh commented on #5191
Send me in coach!

[2021-09-14 19:20] slice commented on #5191
@noelwelsh Does this mean you've undertaken this effort? I'd like to help!

[2021-09-15 04:00] rossabaker commented on #5191
What @noelwelsh proposes makes sense to me, though I do regret starting a new theme from scratch instead of picking a one mostly off the shelf from the static site generator.  We should probably marry or break up with Hugo before investing very much here, as a new site generator might most easily come with a new base theme.  And if these tweaks are still relevant on the chosen tool, cool.

I am in

[2021-09-15 04:01] rossabaker commented on #5010
@rcardin, yes, thank you!  And I have not forgotten yours or Zach's above. 😓

[2021-09-15 06:33] rcardin commented on #5010
@rossabaker, no rush. The PRs will not go anywhere :P

[2021-09-15 10:56] noelwelsh commented on #5191
@slice What I'm planning to do has very limited scope so there is plenty of room for further improvements.

[2021-09-15 14:24] rossabaker opened #5197 "Implement set-cookie parser according to laxer section of spec"
This work is begun in #5196, but I'm pretty sure there's more to do around semi-colons and equals signs.  We should be implementing the full algorithm in [RFC6265, Section 5.2](https://datatracker.ietf.org/doc/html/rfc6265#section-5.2).

The work should target series/0.22.

[2021-09-15 16:37] noelwelsh commented on #5191
Work progressing here: https://github.com/noelwelsh/http4s/tree/feature/bootstrap-5
Commit message should explain what's going on.

[2021-09-15 16:40] rossabaker opened #5199 "Middleware to cache the body for multiple passes"
This keeps coming up. (e.g., #5190).  I don't recall that we've ever written a middleware that caches all the bytes and passes a re-readable body downstream.  If we haven't, let's stop handwaving at it and provide it.

[2021-09-15 18:31] rossabaker commented on #5169
Is your body UTF-8 encoded?  This works for me:

[code]

Output:

[code]

Would it be possible to capture a binary dump of your message that's failing?

[2021-09-15 20:38] slice commented on #5191
@noelwelsh I can help with the Bootstrap upgrade, but I've used http4s for a while now and my inner web designer has accumulated some mental notes that could improve the design of the website, so I'm taking this issue as the opportunity to do so :D

Not only with regards to things like whitespace, but also callouts, navigation, etc.

[2021-09-16 09:18] kryptt commented on #5199
it would be nice if this middleware is also aware of http cache headers...

[2021-09-17 08:24] noelwelsh commented on #5191
@slice I propose shrinking this issue down to just updating to Bootstrap 5. This will give us a basis for other improvements, which we can open other issues for. I would rather have lots of small issues / PRs that get closed quickly than a giant unfocused issue that is never resolved.

(On the topic of Bootstrap, I prefer Tailwind these days [though I'm not a designer by trade] but I think Bootstr

[2021-09-17 08:42] slice commented on #5191
@noelwelsh Seems like a good idea!

With some personal things that just came up I may or may not be able to help with the Bootstrap upgrade 😅. However I'm still interested in proposing some fixes and improvements post-upgrade, eventually.

[2021-09-17 09:41] san-coding commented on #5017
Hey @rossabaker @isomarcte , `QValue` class is extending `Ordered`, and has a `cats.kernel` instance, but and `Ordering` instance has to be added to it right?
https://github.com/http4s/http4s/blob/a942a83e2b88bafc644fc9916fd1979eb951ced8/core/shared/src/main/scala/org/http4s/QValue.scala#L131

I think `HttpVersion` class also needs `Ordering` instance
https://github.com/http4s/http4s/blob/a942a83e

[2021-09-17 10:37] noelwelsh commented on #5191
No problem! I can almost surely finish the Bootstrapping on my own.

[2021-09-17 11:25] bplommer commented on #5199
I don't think that's applicable here? This is memoizing an individual message body as an implementation detail for handling it correctly, not caching in the http sense.

[2021-09-17 11:42] kryptt commented on #5199
Still, knowledge of the fact a response hasn't changed (because it has been cached / memoized) is something the transport layer (HTTP) is able to share....

I agree there are situations where you still want the client to revalidate / query again, etc.. but curiously enough that is also in the HTTP cache spec.... :D

[2021-09-17 14:51] noelwelsh commented on #5191
It looks like the rest of the documentation works just fine with Bootstrap 5 without any modification.

[2021-09-17 19:43] rossabaker opened #5207 "HTTP 100 support"
From a [Matrix question](https://app.element.io/#/room/!LcRqzJjNEdRgvTIYZc:gitter.im/$ig2gKQPc-oBSSqa7p4BeDb9sUsx5Q_uDEHjeFONFWS4).  The basic idea behind [Expect](https://httpwg.org/specs/rfc7231.html#rfc.section.5.1.1) is that a request can come with an `Expect: 100-continue` header, and it's up to the server to respond immediately.  If it's not ready to respond immediately, it should respond wi

[2021-09-17 19:43] rossabaker opened #6411 "Expect 100-continue support"
From a [Matrix question](https://app.element.io/#/room/!LcRqzJjNEdRgvTIYZc:gitter.im/$ig2gKQPc-oBSSqa7p4BeDb9sUsx5Q_uDEHjeFONFWS4).  The basic idea behind [Expect](https://httpwg.org/specs/rfc7231.html#rfc.section.5.1.1) is that a request can come with an `Expect: 100-continue` header, and it's up to the server to respond immediately.  If it's not ready to respond immediately, it should respond wi

[2021-09-17 19:57] rossabaker commented on #5207
This is tricky.  The "MUST" in the RFC suggests that every service (or at least backend) should be prepared to handle this, but this is the first I recall anybody asking for it.  It could be expensive for server backends to parse every request for this header to trigger special handling.

We would like to be able to consult the service to send a >= 200 status code if one is known before we start r

[2021-09-17 20:28] #5191 closed

[2021-09-17 23:10] rossabaker commented on #5207
I think this actually a bug.  An HTTP/1.1 origin server "MUST" support this.

I don't think the request attribute is the right approach.  If an `HttpApp` returns the `100` status, it will mess with logging and middleware: the "real" response metrics will be much more interesting.

I think we can maintain this on the backend.  If a request has an expect header, we can check the expectation.  If it

[2021-09-18 21:43] rossabaker opened #5217 "Flaky JettyClientSuite"
https://github.com/http4s/http4s/pull/5215/checks?check_run_id=3641814955#step:10:3323, among others

[2021-09-18 22:20] ChristopherDavenport opened #5218 "UnixSocket Client/Server"
Ember's Parser/Encoder logic on top of the Unix Socket Implementation introduced in fs2.

I wanted to make sure we had an issue since this got mentioned recently, and its a fairly straight encoding.

[2021-09-18 22:33] armanbilge commented on #5218
Without taking a look, does this actually need anything special? IIRC fs2's unix sockets also extends `SocketGroup` so can't you just pass it directly to the ember builders?

[2021-09-18 22:36] ChristopherDavenport commented on #5218
I didn't realize that. I'll try that out first.

[2021-09-18 22:41] armanbilge commented on #5218
Woops, I think I put my foot in my mouth. The unix sockets are not a socket group, but an instance of a unix socket is just a socket.

[2021-09-18 22:56] ChristopherDavenport commented on #5218
https://github.com/typelevel/fs2/blob/main/io/shared/src/main/scala/fs2/io/net/unixsocket/UnixSockets.scala#L33 - Yeah, I am going to PR it. Its fairly straightforward, but needs a different builder.

[2021-09-19 22:37] RaasAhsan commented on #4811
Closed by #5064

[2021-09-19 22:37] #4811 closed

[2021-09-19 22:38] RaasAhsan commented on #4935
Closed by #5064

[2021-09-19 22:38] RaasAhsan commented on #4805
Closed by #5064

[2021-09-19 22:38] #4805 closed

[2021-09-19 22:56] RaasAhsan commented on #3667
This should now be fixed by #5064

[2021-09-19 22:56] #3667 closed

[2021-09-19 22:58] RaasAhsan opened #5227 "Ember Client WebSocket support"
Now that we have ember-server WebSocket support, it shouldn't be much of a lift on the backend to build client support for it. I anticipate a bit of work around user API

[2021-09-19 23:10] armanbilge commented on #5227
Besides ember-client I'd be thrilled to create e.g. a dom-websockets module implementing this as well, behind a common/shared abstraction.

https://developer.mozilla.org/en-US/docs/Web/API/WebSocket

[2021-09-20 15:24] rossabaker opened #5230 "Tests should start their own server scaffold"
Was struggling to run `client/test` on main.  Needed to manually start scripts/scaffold_server.js.  We should have our test suites manager their own scaffolds for local development.  I'd completely forgotten this was there until @ChristopherDavenport reminded me.

[2021-09-20 15:30] armanbilge commented on #5230
Yes, sorry about this. The problem is we cannot rely on the test suites' ability to do this because it has a rough translation across JVM/Node.js and no translation for browsers. I think I proposed at some point we build these scaffold servers into the build project itself.

[2021-09-20 15:39] armanbilge commented on #5230
Found it: https://github.com/http4s/http4s/pull/4938#discussion_r683924911

Unless there's any objections I'll try and put that together.

[2021-09-20 16:03] armanbilge commented on #5230
Ok, maybe not. In discord I got some pushback on sbt build-hacking

If we want to go back to this, then I think we should great-schism the dom modules out of the main repo. It's only browsers where this is a problem, so if we don't have to test on browsers a lot of these hacks will vanish.

[2021-09-20 16:36] rossabaker commented on #5230
I don't understand what's being proposed as "sbt build hacking".

I mostly would like to be able to run `sbt test` and have things just work.  Bonus points if we can drop the Python dependency.  More bonus points if we can write test endpoints in Scala.  I'm currently needing to add one in Node to port what I added in Scala on 0.23.

[2021-09-20 16:40] armanbilge commented on #5230
So, the way these scaffold servers were previously run (and continue so on series/0.22 and 0.23) were as pure-Scala test fixtures as part of the test suites themselves.

This trick didn't work so well after the JS port because (1) it used a JDK server implementation and (2) there's no way a suite running in a browser can start its own server to test against.

My "sbt build hack" proposal is that w

[2021-09-20 17:05] rossabaker commented on #5230
That proposal sounds right to me, though I don't know how people run individual tests.  I mostly use sbt inside my editor, because I still don't understand bloop.

[2021-09-20 17:08] armanbilge commented on #5230
I've asked @ChristopherDavenport and @tpolecat to weigh in b/c at least on discord they didn't seem so crazy about this idea.

[2021-09-20 17:09] rossabaker opened #5231 "ZoneRulesException locally"
Several tests failing on:

[code]

Briefly discussed https://github.com/http4s/http4s/pull/5065#issuecomment-908608752.  We need some sort of workaround, because I don't have a sense what I broke and what I didn't.

[2021-09-20 17:12] armanbilge commented on #5231
Pinging @cquiroz. Let me see if I can replicate without actually being in Indianapolis ;)

[2021-09-20 17:28] tpolecat commented on #5230
I have no opinion, I was just being a wiseass.

[2021-09-20 17:34] armanbilge commented on #5231
Replicated:
[code]

[2021-09-20 18:06] tpolecat opened #5232 "EmberWebSocketSuite: NullPointerException"
Sporadic, I have only seen this once. Showed up in [this test run](https://github.com/http4s/http4s/pull/5152/checks?check_run_id=3654725372) (ubuntu-latest, 3.0.1, adopt@1.11).

[code]

[2021-09-20 18:25] matthughes commented on #4935
I am still getting this with 0.23.3.  To make it easier to test, I set my idle connection timeout to 5 seconds.  Sure enough first request succeeds, wait 6 seconds, second request always fails.  Then third request succeeds.

[code]

Using 0.23.3 http4s, cats-effect 3.2.9, fs2 3.1.2

[2021-09-20 18:38] cquiroz commented on #5231
Is this js only? If so I recommend to set the time zone explicitly to UTC in the test

[2021-09-20 18:39] armanbilge commented on #5231
Yes, JS only. I was lazy to track it down (seems to already be using UTC?) so I just added your timezone db for tests only.

[2021-09-20 18:50] matthughes commented on #4935
Not exactly sure what this fix was supposed to do, but experiencing this on a GET request.

[code]

isEmptyStreamError is never true in this case I think because of the adaptError further up in ClientHelpers:

[code]

It's no longer an EmptyStreamError but a ClosedChannelException.  Is that expected?

[2021-09-20 18:53] rossabaker commented on #5231
The constructor of `ArbitraryInstances` is invoking `ZoneId.systemDefault`, I think as part of the `httpDate` generator.  On the next line, it tries to load `UTC`, but it's too late.

[2021-09-20 18:58] rossabaker commented on #5231
On the branch I was on, #5234 fixes both this and a null pointer exception that I think I mentioned somewhere but can't find now.

[2021-09-20 19:02] rossabaker opened #5235 "Add yarn to the nix-shell"
I can't build locally:

[code]

This probably falls on me, but we also should have an environment setup for people who don't want one out of the box.

[2021-09-20 19:06] armanbilge commented on #5235
Yarn is needed for installing a websockets client to test the websockets server. We may be able to remove this after https://github.com/http4s/http4s/issues/5227.

[2021-09-20 19:09] matthughes commented on #4935
If I make that fix locally (by duplicating retry policy locally) retries seem to work fine.

[2021-09-20 19:09] RaasAhsan commented on #4935
@matthughes would you like to open a PR to make that fix ? Bonus points for a test :) If not, one of us will try to get something in soon since Ross is running a release train

[2021-09-20 19:11] rossabaker opened #5236 "dom-service-worker-tests: Reference Error: Headers is not defined"
Getting this locally.  I'm guessing I've failed to install another dependency.

[code]

[2021-09-20 19:11] cquiroz commented on #5231
Then maybe we need to set the systemDefault to UTC?

[2021-09-20 19:12] rossabaker commented on #5236
And also dom-fetch-clientJS/test:

[code]

[2021-09-20 19:12] armanbilge commented on #5236
Looks like you are trying to run browser tests in Node.js.

[2021-09-20 19:13] matthughes commented on #4935
Can certainly PR the fix; might need some pointers regarding the test.

[2021-09-20 19:15] rossabaker commented on #5236
Oh.  Probably.  I just ran `test` and they popped up.  I suppose I should study how ci is running them.

It would be nice if `sbt test` ran things in the appropriate environment, or withheld what it can't.

I'm preparing a manual release, so I'm hitting a lot of these local environment issues for the first time today.

[2021-09-20 19:17] armanbilge commented on #5236
Sorry about that ... basically, because in JS Node.js and Browsers are jumbled under `JSPlatform` despite their completely different APIs. In an ideal world we'd have `NodeJSPlatform` and `BrowserPlatform` or something and it should work. We'll have to sbt-hack around this unfortunately.

[2021-09-20 19:18] rossabaker commented on #5231
Can that be done just for the test run?  And done out of the box?  I'm on a kick that contributors can run `sbt test` and expect it to work instead of relying on CI.

[2021-09-20 19:19] rossabaker commented on #5236
I remember these being filtered out of `rootNodeJS` now.  I guess my question is, if I'm testing changes locally, what should I run to be sure the code works?

[2021-09-20 19:22] rossabaker commented on #5231
There's a JVM property, `user.timezone`, for this.  I just don't know how to set equivalent for a Scala.js run.

I'm in favor of merging #5234 for a working solution and leaving this open for a proper solution, unless there's an easy thing to try.

[2021-09-20 19:23] cquiroz commented on #5231
`scala-java-time` will honor `user.timezone` but we can just merge for now and test the alternative later

[2021-09-20 19:24] RaasAhsan commented on #4935
Thanks! I don't think we have a good place to write this test with all the scaffolding set up today, but we would want to set up a scenario where a server (could be ember-server) has an idle connection timeout that is less than the client's, and make a couple of requests accordingly

The ember server test suites have a similar set up, so maybe you can reuse some of it in ember-client tests: https:

[2021-09-20 19:25] armanbilge commented on #5236
That's a good question.

Because of aforementioned platform issue, there is no one command that does that. The problem is we have single projects/modules that needed to be tested in multiple environments (Node.js and browser). We'll have to create an alias I think to chains the needed commands.

To make `test` work locally we can remove the browser-only modules from `root` but this could have othe

[2021-09-20 19:28] rossabaker commented on #5236
I'm fine with running a few commands.  I just don't know how to run those DOM projects at all locally... or validate that they are safe from the GHSA we're working on.

[2021-09-20 19:31] armanbilge commented on #5236
I can create an alias. It would be something like `; project rootJVM; +test; project rootNodeJS; set Global / useJSEnv := JSEnv.NodeJS; +test; project rootDom; set Global / useJSEnv := JSEnv.Firefox; +test; set Global / useJSEnv := JSEnv.Chrome; +test`

[2021-09-20 19:57] rossabaker opened #5239 "Remove printlns from MultipartParserSuite"

[2021-09-20 20:49] rossabaker commented on #5235
Fixed by #5238

[2021-09-20 20:49] #5235 closed

[2021-09-20 22:50] RaasAhsan commented on #5108
i should be starting this discussion somewhere else, but looking towards 1.x, how would you (as a user of this API, because not many exist) feel about a separate websocket model that is decoupled from the routing model? the current approach suffers from a number of flaws which I can enumerate, but you've uncovered yet another one here. Most http servers abstain from unifying the two (and for good

[2021-09-20 23:11] tpolecat commented on #5108
I have no real opinion. The current model works well enough for what I'm doing.

[2021-09-20 23:59] gfpeltier opened #5240 "ResourceServiceBuilder using OS-dependent file paths instead of resource paths"
https://github.com/http4s/http4s/blob/56c50a9c6ebc4969c707a19595820983b06ba6bf/server/src/main/scala/org/http4s/server/staticcontent/ResourceService.scala#L101

The above line invokes [Path#toString](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/nio/file/Path.html#toString()), which emits a string using the default OS path separator. However, that string path is then used to lo

[2021-09-21 01:51] #5236 closed

[2021-09-21 03:36] rossabaker commented on #5108
I have a few defenses and one bitter lamentation of that unification, but they're probably better expounded upon in their own discussion.  I am open to improvements.  I've never used this model myself.

[2021-09-21 03:38] rossabaker commented on #5240
I'm guessing this is a Windows problem?  I think I understand, but I might have a difficult time testing a fix.

[2021-09-21 03:39] rossabaker commented on #5240
Ah, yes, I see your comment on Matrix now.  Is this something you'd be comfortable trying to PR a fix for?  I don't have a Windows machine to test on.

[2021-09-21 03:43] armanbilge opened #5242 "Ember client `ClosedChannelException` renders poorly"
This came up in https://github.com/http4s/http4s/pull/5241.

Because it is an anonymous class, instead of getting a more useful:
[code]
we get a somewhat more confusing:
[code]

[2021-09-21 03:47] armanbilge opened #5243 "Ember client `ClosedChannelException` becomes `IOException: Connection reset` on JDK 17"
Another one from https://github.com/http4s/http4s/pull/5241. See also https://github.com/http4s/http4s/issues/5242.

I'm using Oracle JDK 17 on my local and this error was consistently different.

[2021-09-21 05:38] gfpeltier commented on #5240
Sorry, I should have been more explicit. Yes, this is a Windows issue. I would be glad to do the PR. I just wanted to check with you guys first to see if there is a particular way you want to handle it since http4s has some handy internal URI utilities. Or if my one-line `path.toString.replaceAll("\\\\", "/")` would suffice? Also, which branch would you like me to target?

[2021-09-21 06:25] RaasAhsan commented on #5108
I'll start a github discussion sometime in the next few days. I've started work on the websocket client for ember and I think it'll be worth looking at this holistically

[2021-09-21 13:17] matthughes commented on #4935
Wrote this test but could use a little help.  I had to put it in EmberServerSuite because ember-client doesn't have access to ember-server.  Unless there is some other server backend I could use trivially:

At least how the bug is reproduced for me, every request made after the client closes a connection due to idle timeout would fail with empty stream.  So I set a low idle timeout (1 second), mak

[2021-09-21 15:18] RaasAhsan commented on #4935
@matthughes I've seen `Broken pipe` errors occur when trying to write to a socket that has already been closed. I've seen this in other tests as well, which may be a sign of some deeper bug. Could you open a PR and we can investigate further there ?

[2021-09-22 00:37] matthughes commented on #4935
Here's the PR: https://github.com/http4s/http4s/pull/5247

[2021-09-22 03:15] rossabaker commented on #5243
We need an sbt-http4s-org that sets up JDK17 for everyone.

[2021-09-22 03:18] rossabaker commented on #5243
https://github.com/http4s/sbt-http4s-org/issues/94

[2021-09-22 03:28] rossabaker commented on #5242
Gross.  That should be an easy and compatible fix, though.

[2021-09-22 08:21] FunFunFine commented on #5199
Perhaps it's possible to reuse `ContextRequest` here like with `AuthedRequest`:
[code]
This way the user still has the ability to compile the body again, but at the same can use the cached one.

[2021-09-22 13:49] rossabaker commented on #5199
A second compilation is not going to work for a socket-backed stream, and whoever goes second might not know that they're going second.  I think we want to make it transparent.

[2021-09-22 14:00] rossabaker commented on #5232
[Again](https://github.com/http4s/http4s/pull/5250/checks?check_run_id=3675918530)

[2021-09-22 18:08] san-coding commented on #5239
@rossabaker shall I work on this too ? (Along with adding `Ordering` instances)

[2021-09-22 19:04] armanbilge opened #5255 "(My crazy?) Plan to re-unite 0.23 and 1.0"
We've already made big progress towards this via #5252 and #5241 and will be helped along by #5226 (see also #5044).

My assumptions:
1. Once upon a time, 0.23 and 1.0 were the same, until I completely destroyed 1.0 with Scala.js.
2. Besides JS, the diff between 0.23 and 1.0 at the moment is _very_ small (does anyone have a list?).
3. 0.23 will be merging into 1.0 for years to come.
4. "Platformed

[2021-09-22 19:46] armanbilge opened #5256 "Ember client fails `/no-content` route in RouteTestBattery"
Initially reported in https://github.com/http4s/http4s/pull/5241#issuecomment-923594689.

[2021-09-22 19:51] armanbilge commented on #5230
Fixed in #5241.

[2021-09-22 19:51] #5230 closed

[2021-09-22 23:54] rossabaker commented on #5255
True, but someone had to be first!

It's not perfect, but this is a reasonable overview:

[code]

Temporarily turning on MiMa against the latest 0.23 is another tool.  Only a rigorous diff is certain, though.

I hope that's not true, but historically about a year after 1.0 is released, and we don't have a concrete timeline for 1.0.  A Great Schism between 0.23 and 1.0 is going to make that process

[2021-09-23 02:40] rossabaker opened #5259 "HttpVersion exposes non-validating copy constructor"
D'oh:

[code]

[2021-09-23 02:53] armanbilge commented on #5255
Thanks for your thoughts!

I hope so too, but the discussion in #5245, paired with the lack of concrete timeline for the complex changes going into 1.0, makes me worry we are in for a long haul.

I'd like to remove JS-related headaches from this process as much as possible, whatever ends up being the best strategy to do so. That's what this issue is really about, I guess.

Exactly. I think core, (

[2021-09-23 10:34] bplommer commented on #5255
Just a random thought, but is there any reason why splits into platform-specific source files can't be backported to 0.22/0.23 for subsequent ease of forward merging, even when there's only a jvm file in those versions?

[2021-09-23 11:00] YourPsychiatrist opened #5263 "Missing a `Logger.httpRoutes` for `AuthedRoutes[F]`"
I have predominantly `AuthedRoutes` in my `HttpApp` and would like to selectively toggle certain logging flags (`logBody`, most importantly) on and off for specific routes.

[code]
works perfectly, but only because`r1` and `r1` are `HttpRoutes`. However, I cannot plug in an `r1` or `r2` of type `AuthedRoutes` since the methods in the `org.https.server.middleware.Logger` object only take `HttpApp`

[2021-09-23 11:00] bplommer opened #5264 "Ease migration to 0.22/0.23 by implementing 0.21 APIs as deprecated aliases."
This is what ScalaFix did in 3.1.0 when they renamed everything. Possible aliases:

- Case-insensitive string API
- `Header.apply` for instantiating `Header.Raw`
- Blaze client/server package renamings
- other things?

[2021-09-23 14:04] rossabaker commented on #5263
It would be an interesting game of type tetris to see if we can do something generic, but I'd start concretely on the Logger.  If the innards take a function that narrows from input type to `Request[F]`, I think it can be done without too much surgery.

[2021-09-23 14:18] armanbilge commented on #5255
Actually, that's what part of what I'm suggesting. The 0.23 dependencies (which are shared with 1.0) _are_ now available for JS. And the amount of JS specific (i.e. non-shared) code in 1.0 is very very small (it's been moved upstream into fs2.io and http4s-crypto). If you have a look at the JS sources for core you can see it's mostly just empty files: https://github.com/http4s/http4s/tree/main/cor

[2021-09-23 14:24] cquiroz commented on #5255
Is the idea no to have js specific code? I'm thinking of a minimized MimeDb, is that out of the question

[2021-09-23 14:31] armanbilge commented on #5255
The main idea has been to minimize the diff between 0.22/0.23/1.0. Hiding JVM/JS-specific code behind shared APIs such as http4s-crypto has so far been the best strategy towards this.

👍 I'd really like to do this as well, but I'm still not sure what the strategy would be so that we could still keep the entire MimeDB for Node.js. See my comment in https://github.com/http4s/http4s/issues/5113#issue

[2021-09-23 14:59] rossabaker commented on #5255
I think we can revisit the notion of the MimeDB, given that we're creating constants for proprietary formats for business that went under a decade ago. The bar to get into that registry wasn't high.  It's neat that we're adhering to standards, but rearranging how we adhere to it is definitely on the table.

[2021-09-23 15:49] #5239 closed

[2021-09-23 17:00] san-coding commented on #5017
@isomarcte @rossabaker have opened a PR for adding `Ordering` instance `QValue` class

[2021-09-24 02:43] rossabaker commented on #5264
I'm trying to free up time to write a scalafix for these, but lots of people won't run them.  I think this is a reasonable idea.  We usually leave liberal and long-lived deprecations, and I can't recall why we didn't here.

[2021-09-24 13:47] rossabaker commented on #4262
[Another](https://github.com/http4s/http4s/pull/5257/checks?check_run_id=3695932555#step:10:2690):

The array doesn't print itself nicely, but it could be chased from the seed.

[code]

[2021-09-26 02:36] armanbilge opened #5273 "Optimized `MimeDB`"
This topic came up in https://github.com/http4s/http4s/issues/5255#issuecomment-925895749. See also https://github.com/http4s/http4s-dom/issues/30 (cc @cquiroz). To quote Ross:

As I see it, there are two halves to the MimeDB interface:
1. the static half, which provides static access to mime type constants in code; and
2. the dynamic half, which allows parsers, `FileService`, etc. to dynamically

[2021-09-26 20:16] rossabaker commented on #5273
This is a big part of why it exists in the first place.  We didn't have to draw a line because the IANA draws the line.  They just drew it in an awfully permissive place.  I'd like to see a proposal for which ones matter.

Changing the MimeDB is often not binary compatible, because constants move.  If we were more careful rather than blindly running the app, that might no longer bre a concern.

[2021-09-26 20:20] armanbilge commented on #5273
How do the akka-http folks decide? That's not the full list right?

https://github.com/akka/akka-http/blob/master/akka-http-core/src/main/scala/akka/http/scaladsl/model/MediaType.scala

[2021-09-26 20:29] rossabaker commented on #5273
No, there are thousands.  But that's a good question.  Theirs seems a reasonable size.

[2021-09-27 19:28] bplommer opened #5277 "Rename `blazecore` package to `blaze.core`"
The current naming is confusing. Everything in `blazecore` is `private[http4s]` so this isn't binary-breaking. With the change, it can instead be `private[blaze]`.

[2021-09-27 19:54] rossabaker commented on #5277
That's a good idea.  The blaze namespace didn't used to be "ours", while blaze was also positioned as a standalone product underneath http4s.  Nobody has spoken for it as such in years, so we can claim `org.http4s.blaze.core`.

While it's still in a separate repo, we'd still be wise to avoid the root package `org.http4s.blaze`.

[2021-09-27 20:48] armanbilge commented on #5128
An observation: this error so far only seems to occur on Java 16.

[2021-09-27 20:49] rossabaker commented on #5128
I wonder if also on 17?

[2021-09-27 20:50] armanbilge commented on #5128
Yes, I'm wondering that too. I suppose we'll find out.

[2021-09-28 02:53] rossabaker opened #5280 "Parse errors are difficult to read"
We should be able to do better:

[code]

[2021-09-28 02:54] armanbilge commented on #5280
Is this something that can be improved here, or in cats-parse?

[2021-09-28 02:58] rossabaker commented on #5280
Relevant: https://github.com/typelevel/cats-parse/issues/239

[2021-09-28 02:59] rossabaker commented on #5280
We can do it here, but if it's not HTTP specific, it might be contributable back to cats-parse.

[2021-09-28 03:13] rossabaker opened #5281 "Http4sVersion instances"
We can implement the following in `Http4sVersion`:

[code]

You'll need to add imports.  Let the compiler tell you what's missing and implement them.

[2021-09-28 03:14] rossabaker commented on #5281
@san-coding If you're interested in this one, I can assign it to you.

[2021-09-28 03:26] san-coding commented on #5281
Yes I am interested

[2021-09-28 08:31] FunFunFine commented on #5199
Well, I did some thinking and came to this dead simple solution for the server caching middleware. It literally fits in one snippet:

[code]
Of course, it needs some work done yet (docs, performance, etc.) but I think you get the idea. Would it be sufficient? If so, then I could make a PR.

[2021-09-28 10:05] kryptt commented on #5199
I was playing with a transparent caching fs2 pipe as well....

https://gist.github.com/kryptt/e20e861df414a643503112b408abde38

[2021-09-29 04:48] armanbilge commented on #5199
@FunFunFine @kryptt so, who's going to PR :)

[2021-09-29 22:55] armanbilge opened #5289 "Drop Scala 2.12 for 1.0?"
I know this is a potential landmine, so please note the ? and that this is an issue and not a PR 😉

I wanted to spin this elephant out of https://github.com/http4s/http4s/discussions/5245#discussioncomment-1363798. IMHO, why:
* anyone who wants 2.12 support can take their pick from 0.21/0.22/0.23 etc.
* upstream pressure: https://github.com/circe/circe/pull/1818
* ecosystem catch-up: [SPARK-25075]

[2021-09-30 12:09] bplommer commented on #5289
How about this:

1. Drop 2.12 from `main`
2. Develop against 2.13 until release candidate n.
3. Try to backport RCn to 2.12 while maintaining forwards binary (not source) compatibility.
  a. If this proves feasible, release the backported version as 1.0.0 and RCn as 1.1.0 - provide bug fixes only for 1.0.x
  b. If this doesn't prove feasible, 2.12 was holding http4s back and needs to be dropped.

[2021-09-30 13:07] rossabaker commented on #5289
I mostly like Ben's idea.  It's an organic way to make the decision.  I don't love supporting two 1.x lines out of the gate along with an 0.23 we'll have to keep viable while people migrate.  I also don't think the backport will be feasible if we stop dragging 2.12 along now.

[2021-09-30 16:17] coltfred commented on #5010
#5294 is a PR for DNT (in case someone wants to edit the issue to add that link).

[2021-09-30 17:12] armanbilge commented on #5289
I agree, it would be very organic but I'm also doubtful about the feasibility of a backport. Doesn't simply merging your PR using singleton types already put 2.12 support in a very awkward place?

I don't think it's _impossible_, but would probably require splitting into 2.12/2.13-3 sources. So then we're talking about two branches, with two separate sets of sources in the 1.0 branch (and all the

[2021-09-30 17:26] bplommer commented on #5289
That PR is against 0.22 and doesn't break bincompat, so yes, it puts 2.12 in an awkward place but it doesn't rule out a forward-binary-compatible backport.

I do accept the broader point that following my proposal is *very likely*, albeit not certain, to result in 1.0 lacking any 2.12 support.

[2021-09-30 17:37] armanbilge commented on #5289
Sure, I mean if using the party line "We're developing against 2.13 but we'll backport to 2.12" helps us to sleep better at night for now, I'm all for it. FWIW I think CE3 was developed like this so it's a believable strategy 😉

[2021-09-30 17:42] ChristopherDavenport commented on #5289
I would like a plan for sbt other than operating on an abandoned version. Which is a reason why many of us still need 2.12 support independent of spark.

I still support plugins that use http4s in them for 2.12.  For example

https://github.com/davenverse/sbt-github-download

[2021-09-30 17:51] armanbilge commented on #5289
That's right, sbt is on 2.12. 😕 I don't know what the plans are for that.

I guess this is a race between when 0.23 sunsets and sbt updates to a new Scala?

[2021-09-30 18:15] rossabaker commented on #5199
Nothing about @kryptt's looks specific to HTTP.  Something around it that understood HTTP caching directives would make it a better candidate for http4s, but the current gist might be more appropriate for something upstream.

@FunFunFine's integrates with the request and would definitely be in scope for http4s.  I have some feedback on it that's probably easier done on a live PR.

[2021-09-30 18:51] keynmol commented on #5289
I feel like this question largely depends on the timelines for 1.0.

The general feel in the ecosystem has been "support two last major versions of the language". Problem is, Scala 3 in its current shape is not complete enough to be a major version in the area where http4s is used most widely - stable production systems. Tooling, lack of all the `-Xwarn` parameters, etc., make Scala 3 not ready ye

[2021-09-30 18:55] jenshalm commented on #5289
@armanbilge, @ChristopherDavenport : Ideally there would be some feedback and alerting for the sbt maintainers before dropping 2.12 support in major libraries as it's a bit of a catch-22 situation. I've seen an older discussion, probably early this year, where sbt maintainers claimed that they want to remain binary compatible as long as possible, until either the core team stops maintaining 2.12 o

[2021-09-30 19:54] armanbilge commented on #5289
IMHO, getting it "right" for 1.0 should mean unshackling ourselves from 2.12, assuming we agree there are very real benefits that are gained from the non-2.12 features.

Assuming that 1.0 is at least one year away, and that 0.23 won't be sunset for _at least_ one year after 1.0 drops, that gives SBT two years to move past 2.12.

[2021-09-30 19:57] rossabaker commented on #5289
I don't have a timeline for 1.0, but I'm sweating profusely just keeping up with PRs.  Big picture items that have been stalled for months include server responses in resource and the entity refactor.  I have only started going through the model vs. the HTTP Semantics spec to ensure that we're positioned to implement HTTP/2 and HTTP/3.  Our URI is less of a toxic dump than it was in 0.22, but stil

[2021-09-30 20:13] coltfred commented on #5010
#5296 adds accept-post header model.

[2021-10-01 10:28] kryptt commented on #5199
Yes, what I was doing was a general caching of fs2 streams... unfortunately scalacache is having a hard time getting any updates it seems...

[2021-10-01 16:33] amesgen commented on #5227
http4s-jdk-http-client has a [WebSocket client](https://jdk-http-client.http4s.org/latest/index.html#websocket-client). See [`WSClient.scala`](https://github.com/http4s/http4s-jdk-http-client/blob/main/core/src/main/scala/org/http4s/jdkhttpclient/WSClient.scala) for the traits. We have our own `WSFrame` ADT there, as well es a "low level" and a "high level" interface due to differences in whether

[2021-10-01 16:53] armanbilge commented on #5227
Yes, I've taken a look at it on a couple occasions, I'd love to see that (or a similar) interface in http4s proper! I'm looking at the reference for [browser web sockets](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket) and it looks like it can be used to implement your high level interface.

I'm no expert on these things, but maybe if the high-level interface is more straight forward w

[2021-10-02 09:39] RaasAhsan commented on #5227
Sounds like a plan ! @amesgen whenever you have some time, could you open a branch in the http4s repo with the relevant interfaces based off `series/0.22` (or whatever makes sense) ? That gives us a place to talk feasibility and design, but also get started on the ember implementation to use as another reference.

Some items I anticipate discussion around:
- `Client`/`WsClient` decoupling
- Parity

[2021-10-03 15:04] armanbilge commented on #5255
Executed in #5298 and #5303.

[2021-10-03 15:04] #5255 closed

[2021-10-03 15:06] armanbilge commented on #5044
Done via #5139, #5226, #5303.

[2021-10-03 15:06] #5044 closed

[2021-10-04 01:55] m3is0 commented on #5010
Can I get the ```Clear-Site-Data``` ?

[2021-10-04 06:04] armanbilge opened #5320 "Create a published `testkit` module"
cc @amesgen. Linking to:
https://github.com/http4s/http4s-jdk-http-client/issues/398
https://github.com/http4s/http4s/discussions/4140#discussioncomment-265556

Now that we have two satellite modules `http4s-jdk-http-client` and `http4s-dom` and with the ever impending great schism this is only all the more important.

AFAICT mainly `ClientRouteTestBattery` has been discussed ... I think it would

[2021-10-04 06:35] #5218 closed

[2021-10-04 11:11] jbwheatley opened #5322 "CORS middleware behaviour change - dropping Access-Control-Allow-Headers header"
In the pre `CORSPolicy` implementation, if a preflight request included a header in `Access-Control-Request-Headers` that was not permitted by the CORS configuration, the CORS middleware would return a `Access-Control-Allow-Headers` header with the list of allowed headers. In the current implementation (so 0.23.3+, and not sure the equivalent for 1.0.0-x and 0.22.x) if the request header has more

[2021-10-04 12:10] jbwheatley commented on #5322
I do notice there is a test asserting this new behaviour is correct, https://github.com/http4s/http4s/blob/14214221b81f334c6cfa721de527d0d81e756d0b/server/shared/src/test/scala/org/http4s/server/middleware/CORSSuite.scala#L559

It's hard to find resources that say what the correct way to handle non-matching headers in preflight requests, but all I can say is that this change has broken one of our

[2021-10-04 13:03] rossabaker commented on #5322
The CORS spec is very frustrating.  The [old one](https://www.w3.org/TR/2020/SPSD-cors-20200602/#resource-processing-model) covered the server side in detail, but the [replacement](https://fetch.spec.whatwg.org/#http-cors-protocol) says next to nothing.

In the old spec, in Step 6, it says:

where "header field-names" is from `Access-Control-Request-Headers` and "list of headers" are the supported

[2021-10-04 13:26] jbwheatley commented on #5322
I guess I can see a few ways forward then -

a) merge my PR to go back to the way it was
b) I can change my server impl to use the reflect setting `withAllowHeadersReflect` instead of `withAllowHeadersIn`
c) add a setting to `CorsPolicy` for making the header matching "strict" or not

[2021-10-04 14:33] rossabaker commented on #5322
Some precedent:

* [express.js CORS](https://github.com/expressjs/cors/blob/c49ca10e92ac07f98a3b06783d3e6ba0ea5b70c7/lib/index.js#L94) does not check
* [Go CORS handler](https://github.com/rs/cors/blob/64821dda5aedeb954fb2caf787f7a1030085ab34/cors.go#L287-L290) checks
* [Jetty](https://github.com/dekellum/jetty/blob/3dc0120d573816de7d6a83e2d6a97035288bdd4a/jetty-servlets/src/main/java/org/eclipse/

[2021-10-04 14:38] rossabaker commented on #5322
If B stops the bleeding for you, it would buy us time to ask the WHATWG for clarification without churning our code.

Another option, if you don't have this scattered across multiple repos, is a copy and paste of the middleware.  Again, not a permanent solution, but buys time to clarify.

[2021-10-04 14:43] rossabaker commented on #5320
Yes, I would imagine both a client and server version.  I suppose it would generally need to be blackbox: everything over a TCP socket.  Also is the suite small for the minimal things every backend must do, or large to expose what they can and cannot do?  The behavior will never be 100% aligned.

I think this is great and needed, but, whew, it's daunting.

[2021-10-04 14:43] jbwheatley commented on #5322
For the time being I've added a custom middleware that adds the header back in for any OPTIONS request, which will, as you say, stop the bleeding 😁

Interesting that `flask` do an intersect, I was considering that as a potential solution too.

[2021-10-04 17:47] rossabaker commented on #5322
From the linked ticket, it looks like the relaxation is intentional in the new spec.  I think that puts Option A back on the table.  The question is if anybody prefers the Old Spec behavior vs. the Old Http4s behavior.

[2021-10-05 10:50] bplommer commented on #5289
I'm just throwing ideas around here, but would it make a difference if the 0.23 series were rebadged as 1.0 to signal commitment to ongoing support for it, and `main` became 2.x? I can understand people who are stuck on 2.12 not wanting to feel abandoned, but I also don't think it's reasonable to hold everyone else back to avoid them feeling like they're missing out.

[2021-10-05 13:38] rossabaker commented on #5289
We've had so many confusing rebrandings on 1.0, I'm reluctant to do another.  With hindsight on contributor availability last spring and Scala 3 adoption, I think we'd have arranged things differently, but people are getting used to the present version matrix.

[2021-10-05 17:22] armanbilge commented on #5289
What if we put an LTS badge next to it or something?

[2021-10-05 17:25] rossabaker commented on #5289
We could, but we've never defined what that means for us.  Everything has historically been "some months, about a year, after the next stable release."

[2021-10-05 18:19] armanbilge commented on #5289
I think if 1.0 drops 2.12, then the definition of "LTS" would 0.23 would be something like "as long as 2.12 is still kicking".

[2021-10-06 04:02] rossabaker opened #5333 "Flaky EmberUnixSocketSuite"
[code]

https://github.com/http4s/http4s/pull/5329/checks?check_run_id=3797287620#step:12:4741

[2021-10-06 04:04] armanbilge commented on #5333
I think Raas warned us about this in https://github.com/http4s/http4s/pull/5219#discussion_r711812801.

[2021-10-06 05:41] san-coding commented on #5281
@rossabaker I will soon work on this issue, was a bit busy

[2021-10-07 02:43] Qi77Qi commented on #5180
think I might have run into the same issue. I didn't see a bunch http4s threads in thread dump, but after removing some retries, I got passed the hanging issue

[2021-10-07 03:12] rossabaker commented on #5180
I am sorry.  I remember starting to comment on this when it came in, and I flaked.

I can reproduce this on the 0.23 branch from @tdbgamer's code.  We'll target a fix there.

[2021-10-07 21:17] armanbilge opened #5350 "Improve ember performance on JS"
Still a half-baking idea, just wanted to jot down the note. This is a tricky one to do right since the first priority should be to avoid any performance regressions in ember JVM while also avoiding splitting ember into platform-specific implementations which would be terrible.

Back when I did the original cross we did some quickie performance tests with `hey` for ember-server JS, I think the resu

[2021-10-07 21:34] armanbilge commented on #5320
Thank you both for the feedback 😅 yes this is  _very_ daunting and I hope we can start small by publishing the `ClientRouteTestBattery` and the server scaffolds so that we can use them in `jdk-http-client` and the `FetchClient` in `http4s-dom`. Hope that @amesgen can weigh in too when they have a chance.

Yes, I did see that. I was initially thinking we could just abstract an interface by which th

[2021-10-08 13:26] mfirry commented on #5010
Hi, I wanted to help here and just noticed that `X-Forwarded-Host` is basically the same as `Host` (or am I missing something?). I wonder what's the "best" way to re-use `Host` to define `X-Forwarded-Host`.
Sorry if it's a silly question.

[2021-10-09 09:06] rcardin commented on #5010
@mfirry, I read the header documentation on the Mozilla site, and it seems you're right. I don't think that _code reuse_ is a good choice. The two headers are similar but very distinct objects at the model level.

IMHO, the best way to proceed is to copy the code from the `Host` header. I don't know if @rossabaker has something to say about your question :)

[2021-10-11 10:49] bplommer opened #5359 "Improve spec-compliance of `MediaType`/`MediaRange`"
The current implementation seems to be incorrect with respect to case-sensitivity: According to [RFC 7231, section 3.1.1.1](https://httpwg.org/specs/rfc7231.html#media.type) the main type, subtype, and parameter names are case-insensitive, but as currently implemented they're case-sensitive. Parameter values may or may not be case-sensitive (charset values are not, for example), but currently they

[2021-10-14 20:08] zmccoy commented on #5010
With Keep-Alive merged and released we can mark that done on the checklist :) ` Keep-Alive (@zmccoy)`

[2021-10-15 09:57] DeviLab opened #5380 "Make 'maxBufferSize' configurable for websocket connections"
Currently there is no way to set a limit to the '_decodeBuffer' in 'org.http4s.blaze.pipeline.stages.ByteToObjectStage' because the 'maxBufferSize' variable is private. It means that by sending big messages via websocket it's easy to get oom.

[2021-10-17 18:18] RafalSumislawski commented on #2794
One more to the collection: https://github.com/http4s/http4s/pull/5319/checks?check_run_id=3919492683#step:10:617

[2021-10-19 16:51] vilu opened #5417 "Issue with GZip compression?"
Hi, we noticed an issue when upgrading from 0.23.4 to 0.23.6. Some clients started failing and blaming the gzip compression. One example would be

`io.netty.handler.codec.compression.DecompressionException: CRC value mismatch.`

[2021-10-19 18:19] Ravenow commented on #5417
i can confirm this on 0.22.7, 0.22.6 works fine

[2021-10-19 18:20] armanbilge commented on #5417
Thanks for reporting. Yep, that would be the similar https://github.com/http4s/http4s/pull/5368 that targeted 0.22.

[2021-10-19 18:22] armanbilge commented on #5417
If either of you has an opportunity, would you be able to make a replication? Obviously this is something that is slipping through _both_ the fs2 and http4s test suites 😕

[2021-10-21 09:25] bplommer opened #5432 "Implement RFC 8941"
There are several PRs open (#5357, #5363, #5367, #5374) for headers that use syntax defined in [RFC 8941](https://datatracker.ietf.org/doc/html/rfc8941). Parsers and renderers for this syntax should be implemented once and reused.

[2021-10-22 13:36] bplommer opened #5439 "Use and citation of extracts from standards and docs"
Various comments and scaladocs contain extracts from normative sources (RFCs and living standards) and informative sources (particularly the Mozilla docs, which are often not comprehensive). Sometimes these extracts are used without attribution.

- All extracts should be properly attributed.
- Informative sources should be replaced with normative ones where possible.

Unfortunately I don't know a

[2021-10-23 03:26] rossabaker opened #5451 "Favicon"
In #5313, @jenshalm  points out we don't have a favicon, and he volunteered to make us one.  If that offer is still good, I'd like to take him up on it.  If it's not, I'd like someone with more taste than me to do it. :smile:

[2021-10-23 03:29] rossabaker opened #5452 "EPUB or PDF downloads of the site"
From #5313 by @jenshalm:

EPUB would not add a noticeable amount of time to your build, but PDF would, as it involves a full layout engine.
PDF would probably get this build step to a similar duration as the mdoc step, whereas site and EPUB rendering is really fast.

[2021-10-23 03:31] rossabaker opened #5454 "Backport previous versions of site?"
Now that we're on Laika with 1.0, it looks different from 0.22 and 0.23.  It's worth a quick spike on how hard it would be to backport the nicer version of those sites.  I don't want to spend hours on it, but if we can get a quick win on those branches that are still maintained, that would be cool.

[2021-10-23 04:39] rossabaker opened #5456 "Top logo linked to localhost"
From @Kevin-Lee: https://twitter.com/kevinshlee/status/1451769537926336513

Probably because I published locally.

[2021-10-23 04:44] Kevin-Lee opened #5457 "The search function for the doc site"
Could you add the search function for the doc site?
I recommend [Docsearch](https://docsearch.algolia.com). It is free for open source projects.
I'm not sure if it works well with Laika, but if it does, it would be nice to have it.

[2021-10-23 12:44] bplommer opened #5460 "Improve Host header model"
The `Host` header model currently does no validation and doesn't use the Uri model. The model used  in `Forwarded` is more strongly validated - it should be possible to adapt it to use for the Host header, and Forwarded can then wrap Host.

[2021-10-23 12:54] fiadliel opened #5461 "Content-Length and Transfer-Encoding issues with Ember client (HTTP/1.1 spec)"
I was looking through RFC 7230, and saw some possible issues with Ember's handling around https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.3 with HTTP/1.1:

- Responses that must not include a message body (e.g. 204) are terminated by first empty line, regardless of headers.
  - Ember follows headers (e.g. content length) and parses body
  - Blaze client doesn't seem to return body (didn'

[2021-10-23 19:29] rossabaker opened #5462 "What to do with FS2 upgrade?"
As feared, FS2 has released on Scala 3.1.  We can:

1. Bump to 0.24, staying it binary compatible with 0.23 for our downstream libraries, but leave space for any CVEs.  This is the safest approach, but is a tremendous burden for the small adoption of Scala 3.0.  It's also difficult to communicate.
2. Pin to FS2-3.1.  We have a viable library on 3.1 today, and apps can upgrade.  This is suboptimal

[2021-10-24 00:18] #5456 closed

[2021-10-24 00:28] #5462 closed, assigned to nobody

[2021-10-24 01:44] rossabaker opened #5475 "Thin out build matrix"
For JVM builds, we currently build the product of Scala {2.12,2.13,3} x Java {8,11,17}

It's all parallel, but we are rate limited in heavy PR waves.  If we cover the range of Javas and Scalas, the product doesn't seem so useful.  What if we restricted to:

* For Java 8, Scala {2.12, 2.13, 3}.  These are how we publish.
* For Scala 2.13, Java {8, 17}.  Oldest and newest.

9 jobs would go to 4.  Or

[2021-10-24 01:54] armanbilge commented on #5475
Makes sense to me. I would have included Java 11 for 2.13 as well, but happy to see it gone.

[2021-10-24 02:31] rossabaker commented on #5475
11 is fine for completeness, but only catches things that appeared and disappeared between 8 and 17.  Since it's still a major production version, and since it would no longer be multiplied by the number of Scalas, it's probably wise to keep.

[2021-10-25 10:02] bplommer opened #5484 "Standardizing parser/constructor names"
The [contributing guidelines on safe constructors](https://http4s.org/contributing/#safe-constructors) state:

But in header definitions we consistently use `parse`. Should we follow the guidelines or should we change them?

[2021-10-26 06:24] i10416 opened #5488 ""Edit this page" returns 404"
For example, "Edit this page" in https://http4s.org/v1.0/integrations  refers to https://github.com/http4s/http4s/edit/main/docs/src/main/mdoc/integrations/README.md, but actual file is https://github.com/http4s/http4s/edit/main/docs/src/main/mdoc/integrations.md.

Note: According to Laika documentation, Laika assumes document is located in ${PAGE_TITLE}/README.md.

[2021-10-26 06:26] mr-git opened #5489 "`Retry` doesn't respect `maxRetry` configuration"
Using http4s **0.22.6**

Recently (for last few months, we used 0.21 branch, now switched to 0.22), during integration tests, we regularly get exceptions like:
[code]

This can happen few times during concurrent int-tests at random URL. Each test case creates own http4s client.

We tried to workaround it by using `Retry` middleware:
[code]
But that didn't provide expected result - client fails on

[2021-10-26 08:04] mr-git opened #5490 "`Retry` behaviour"
I tried to use very wrong retry policy:
[code]

As expected, on each successful POST call, http4s retried it, but strangely enough with extra body attached.

My call code is like:
[code]

Assuming, that `payload` is `{"one": 1, "other": "value"}`, in logs I after 5th retry I got:
[code]
Payload was attached 6 times, once in original request and 5 more times with each retry (first retry contained d

[2021-10-27 10:22] bplommer opened #5497 "ScalaFix linters"
I raised in #5484 the possibility of using scalafix to enforce naming conventions. Other rules that could be useful to improve consistency and reduce maintenance burden:

- [x] [organize imports](https://github.com/liancheng/scalafix-organize-imports) - this will introduce a lot of merge conflicts when introduced but should subsequently reduce them
- [x] Disallow use of fs2's sync compiler - #5536

[2021-10-28 07:17] gaspb opened #5503 "Origin parsing fails when host starts with a number"
Experienced in 0.23.6, Origin parsing fails if the host starts with a number (causing 404 with CORS middleware)

In OriginHeaderSuite, given

[code]

add the following test :

[code]

Test fails, as Origin parser fails to parse the host. Remove the 1 at the beginning of the host and test will pass

[2021-10-28 14:37] #5503 closed, assigned to nobody

[2021-10-29 02:15] i10416 opened #5508 "dead link in doc"
http4s log in header refers to 127.0.0.1:4242

https://http4s.org/v1.0/index.html

[2021-10-29 21:19] #4706 closed

[2021-10-30 17:41] armanbilge commented on #5417
@vilu @ybasket thanks to @AL333Z's fantastic work on multiple fronts, if you use http4s 0.23.6 with fs2 `3.2-14-a2508ec` it should fix your issues. Please give it a try and report back, when you have a chance!

@Ravenow never fear, a backport to fs2 2.x is on the way in https://github.com/typelevel/fs2/pull/2701.

[2021-10-30 20:02] armanbilge commented on #5417
@Ravenow Now available for http4s 0.22 in fs2 `2.5-2-0f99472`.

[2021-10-31 19:53] rossabaker commented on #5417
Where does that leave us?  Leave this open until we have fs2 releases with the fix, but no code change on our end?

[2021-10-31 19:57] armanbilge commented on #5417
Yes, the default behavior was changed in fs2 so we don't need any code changes here. Up to you when to close the issue :)

[2021-10-31 20:01] rossabaker commented on #5417
Eh, no further action on our part, and people have a (snapshot) solution toward the bottom of this.  Closing.

Great job tracking this one down.

[2021-10-31 20:01] #5417 closed

[2021-10-31 21:29] armanbilge commented on #5052
Still getting this one.
https://github.com/http4s/http4s/runs/4061774113?check_suite_focus=true#step:12:4884

[2021-11-01 12:08] bplommer commented on #5484
I've also noticed an ambiguity with the `unsafe` prefix - does `unsafeParse` on an invalid input throw an exception or return an invalid value? `HttpCodec` uses `parseOrThrow` - I like the clarity but I also like having the prominent `unsafe` prefix. How about using `unsafeParseOrThrow` or `unsafeParseUnvalidated` to indicate the unhappy-path behaviour?

[2021-11-04 18:11] rossabaker opened #5537 "Lint is full of warnings on series/0.22"
I painstakingly fixed a bunch of these, but I guess it was on a different branch, and there are bincompat concerns.  But when I run quicklint on series/0.22, [warnings abound](https://github.com/http4s/http4s/runs/4105585792?check_suite_focus=true).  Are we just living with those?  `@nowarn`ing them away some how?

[2021-11-04 18:14] rossabaker commented on #5537
It's [similar on series/0.23](https://github.com/http4s/http4s/runs/4105585792?check_suite_focus=true#step:9:1).  I guess I knew this: fixing it would break MiMa.

I guess the question is, are we trying to hold the line on the preexisting ones and lint to avoid adding more?  If so, we need to flag these and make the warnings final.  If not, we just need to be good about catching them in 1.0 before

[2021-11-04 19:00] nasadorian opened #5538 "Header typeclass requires parser loses error information"
The Header typeclass implementation in 0.23.x requires a parse function yielding an `Either[ParseFailure, A]` in construction. But when using the instance on a request (e.g. `req.headers.get[A]`) it returns an `Option[A]`, losing the parse error information.

Can we add a method on `Headers` which preserves the errors?

Discord discussion: https://discord.com/channels/632277896739946517/6322863753

[2021-11-04 20:59] noelwelsh opened #5539 "http4s Tutorial"
As part of the documentation rework I want to write a tutorial on basic use of http4s. I'm planning to use [ScalaBridge](https://github.com/scalabridgelondon/lesson-plans/blob/master/web/0-intro.md) material as the basis for this (and use this in ScalaBridge 🐦 🐦 🪨 ). The tutorial will describe building the [Cheep](https://github.com/scalabridgelondon/cheep) application, which is perhaps the simple

[2021-11-05 09:18] mfirry commented on #5539
Hi @noelwelsh. I've given this a [try](https://github.com/mfirry/cheep/tree/3.1).
Spoiler: it does not compile _yet_. 😄

Let me know if it's any useful.
Here's few things I had to "remove" (not because the _need_ to removed but just 'cause I couldn't make them work):
- all `scalacOptions` (though should be easy to fix/port)
- everything related to `scalafix`
- few `scalafmt` things

I think the fi

[2021-11-05 12:04] noelwelsh commented on #5539
Looks good! I was planning on replacing Slinky with scalajs-react, as Slinky is not yet on Scala 3.

[2021-11-05 14:21] mfirry commented on #5539
Good point I missed: I'm not a big scalajs user. So that bit I'll not to touch too much.

[2021-11-05 14:32] noelwelsh commented on #5539
No worries. I'm happy to do that.

[2021-11-05 14:36] mfirry commented on #5539
Good. I'll try and work my way out of this `Blocker` thing (pun intended) and keep you posted here.

[2021-11-05 15:42] mfirry commented on #5539
Have another look. https://github.com/mfirry/cheep/tree/3.1
`backend` compiles. Let me know how you wanna move this further (and if).
Cheers.

[2021-11-05 16:22] armanbilge commented on #5539
Actually, slinky _is_ as of a couple of days ago. I assume a proper release is imminent, but until then there is a snapshot available: `0.6.8+6-998383e1`

- https://github.com/shadaj/slinky/pull/494

[2021-11-05 19:42] nasadorian commented on #4981
@rossabaker Picking this up again since I have some free time. I recently discovered the fs2 `Compression[F]._` summoner and I think that could be a good fit for this use case. We could do pass-through support of all the formats fs2 provides in one module.

Otherwise I'm happy to simply implement GUnzip for both the client and server side.

[2021-11-06 05:36] johnynek commented on #5280
It would be nice to have a prettier rendering, but for programming language applications you probably want to control that.

I would make sure you look at LocationMap which at least will compute line/col for you, and can fetch lines so you can show a context to users.

[2021-11-07 16:05] eikek commented on #5053
Hi, I had a look at this again and I would like to bring this up for discussion. I searched other libraries, in particular pythons urllib3 which is also popular and widely used. I found these issues regarding this topic: https://github.com/urllib3/urllib3/issues/303 , https://github.com/urllib3/urllib3/issues/900 (related issues and PRs can be found in these)

IIUC, urllib3 moved to use plain utf-

[2021-11-08 04:54] rossabaker opened #5542 "Does deprecated WebSocket builder still work?"
From https://github.com/http4s/http4s/pull/5152#issuecomment-962573489, it looks like we might have broken the deprecated method when we introduced WebSocketBuilder2.  We should verify that still works on a basic http4s server.

[2021-11-08 09:55] bplommer commented on #5537
Sorry, only just saw this! My intention is to go through these and either fix them or exclude them from scalafix - then we can change the severity level to `error` and purge the exclusions from `main`. I have something in progress but have banned myself from opening http4s in an editor until I catch up on some other things 😅

[2021-11-08 10:14] bplommer opened #5543 "Deprecate `BackendBuilder#allocate`"
Using `.resource.allocated` is just the right level of awkwardness for something people shouldn't normally do, and makes it easy to search/lint for leaky resource usages.

[2021-11-08 10:42] bplommer commented on #5490
Definitely not expected behaviour. It looks like the [retry loop](https://github.com/http4s/http4s/blob/911140b25a3cf9eb5da7e1edc849b5d23eb9ee3f/client/shared/src/main/scala/org/http4s/client/middleware/Retry.scala#L76) is repeatedly writing the request body to the same request instead of starting a new request.

Which client backend are you using (Blaze, Ember etc) - have you tried using a differ

[2021-11-08 11:05] bplommer commented on #5489
This is because `POST` is non-idempotent and so is not safely retriable. You can work around this either by using `recklesslyRetriable` (so the retry policy becomes `RetryPolicy(RetryPolicy.exponentialBackoff(maxWait = 1.second, maxRetry = 5), retriable = RetryPolicy.recklesslyRetriable)`) or by using the `Idempotency-Key` header to implement idempotency.

[2021-11-08 12:34] mr-git commented on #5489
@bplommer, does it mean that this is expected behaviour in particular situation (never retry `POST`, unless header is set)?

Sadly, I do not remember, if I've set `Idempotency-Key` at that time, though it might be nicer to get a bit better explanation in logs, like report error and explain why more attempts are not made in this particular case, like `.. Giving up because request is  not retryable`

[2021-11-08 12:36] mr-git commented on #5490
@bplommer , we are using Blaze backend.

No, I haven't tried others.

We are currently on 0.22.5.

No promises on PR, but I will see, if I can make such later today and tomorrow (I haven't compiled http4s source, I have just read them a bit)

[2021-11-08 12:37] armanbilge commented on #5490
@mr-git Even if not a PR, a small repository with a reproduction would be great too!

[2021-11-08 13:01] bplommer commented on #5489
Yes, that's correct.

That's a good idea! I'll create a new ticket for that and then close this issue.

[2021-11-08 14:56] channingwalton commented on #2383
Seems like its still present in `0.23.6`

[2021-11-08 15:42] bplommer opened #5545 "Rethink `UnexpectedStatus` model"
The `UnexpectedStatus` wraps the request method and URL which is handy, but it's a pain to construct. I proprose:

- it should instead wrap a `RequestPrelude`, so as to expose more information about the request
- It should have a convenience constructor that takes a `Request`

[2021-11-09 04:39] rossabaker commented on #5545
Should it also include the `ResponsePrelude`, to capture any response headers along with the status?

[2021-11-09 07:49] bplommer commented on #5545
Sounds good to me 👍

[2021-11-09 09:41] danicheg commented on #5454
We've migrated to the `0.23` series. Also, I'll try to do this for the `0.22` series, but it's perhaps will be much longer.

[2021-11-10 13:36] rossabaker commented on #5454
Nicely done, @danicheg.

[2021-11-10 13:36] #5454 closed

[2021-11-11 10:28] bplommer opened #5558 "Publish user-relevant scalafix rules"
The rewrites for literals syntax fall into this category.

The other rules aren't http4s-specific - we should consider contributing them upstream (to fs2 for the fs2 ones, to scalafix for the generic ones) or splitting them into a separate repo.

This will need some more reorganizing of the build, as the published scalafix rules only test against input written for http4s 0.21 - as part of that wor

[2021-11-11 23:38] johnynek commented on #5280
https://github.com/johnynek/bosatsu/pull/808

There is a PR with code you can copy if you want.

I don't know how easy it is to make it general (e.g. bosatsu is showing errors to users using paiges Doc, but you might be serializing errors and sending them over the network).

[2021-11-12 10:36] noelwelsh commented on #5539
Sorry about the delay. I've been heads down on some work stuff. This looks good, and the code is simpler than before. If it all compiles it should be good to merge. I'll take a look at the front end soon.

[2021-11-12 10:37] noelwelsh commented on #5539
Interesting! I might still look at scalajs-react because I think it's more inline with the Typelevel ecosystem, but Slinky is definitely a great project and a bit more approachable than scalajs-react.

[2021-11-12 15:34] rossabaker commented on #5558
I was just coming to add an issue about this!  We had a need for a Jetty 10/11 experiment at $WORK, so I started an http4s-servlet repo to see what The Great Schism looks like, and we're losing all the linters.  We're already polyrepo, so there's already a use case for being able to run the http4s ones outside core.

[2021-11-12 15:54] armanbilge commented on #5558
Exciting!

[2021-11-12 17:16] bblfish commented on #5273
yes, it makes sense to split it up in the most used ones and then have a few other packages for other mime-types. Perhaps ones for the `x-*` ones, ... One could have one for all the RDF mime types for example, as they tend to all be used by apps that use them.

I had to put a list together for Akka, but it seems like most of them are available in http4s.
https://github.com/co-operating-systems/Rea

[2021-11-12 19:08] xeinherjar opened #5562 "Changelog list changes not present in release M29"
https://http4s.org/changelog/ says
```This is the latest development milestone in the 1.x series. It is not binary compatible with previous milestones. It includes all the changes through 0.23.6.```
about M29, which makes me think that bug fixes in 0.23.6 are reflected in M29, however that doesn't appear to be the case.

[0.23.6](https://github.com/http4s/http4s/blob/v0.23.6/client/shared/src/main

[2021-11-12 21:07] armanbilge commented on #5562
You are reading the changelog correctly. This seems to be the only difference between 0.23.6 and M29:
https://github.com/http4s/http4s/compare/v1.0.0-M29...v0.23.6

Looks like we forgot to merge before releasing M29, very sorry about that! It will definitely be in M30.

[2021-11-13 02:51] #5562 closed

[2021-11-13 02:52] armanbilge commented on #5180
Pretty sure this is fixed.

[2021-11-13 02:52] #5180 closed

[2021-11-15 11:49] harpresing opened #5582 "Default Implicits from cats.effect.IOApp cause BlazeServer to crash when a JVM error occurs"
When the default `ContextShift` and `Timer` from `cats.effect.IOApp` is passed to `BlazeServerBuilder`, if there's a `java.lang.Error` raised during the processing of one of the HTTP Requests, the error bubbles up to the main thread running the server and kills the app.

This behaviour doesn't seem to happen if the user defines their *own* ContextShift and Timer

Example

Suppose there's a HTTP Se

[2021-11-15 15:29] harpresing commented on #5582
On further assessment, this is happening due to how the Pool is defined in cats-effect 2. It is designed to call `System.exit(1)` if there is a NonFatal error. Is this a sensible default for http4s apps?

https://github.com/typelevel/cats-effect/blob/series/2.x/core/jvm/src/main/scala/cats/effect/internals/PoolUtils.scala#L47

[2021-11-18 12:28] bplommer commented on #5537
Resolved by #5549

[2021-11-18 12:28] #5537 closed

[2021-11-18 21:17] rossabaker opened #5593 "Stale dropdown in 0.21 docs"
https://github.com/http4s/http4s/discussions/5245#discussioncomment-1666601

[2021-11-22 14:15] mbablok commented on #5177
This seems to be the case in the 1.0.x series as well. The following property test always fails on path with redundant leading slash:
[code]

[2021-11-22 14:43] danicheg commented on #5177
@mbablok there are known issues with `Arbitrary[Uri]`. Recently have discussed it in #5586. I dare say the equality failure of the `Uri` roundtrip doesn't signal problems with the parsing of `Uri` itself. At least, because of encoding special chars in the fragment part of a `Uri`.

[2021-11-22 16:23] mbablok commented on #5177
Oh, I haven't seen this issue, sorry, and it seems very spot on. Does that mean that main branch (the http4s:series/0.22 is not yet merged with main) implementation of Arbitrary[Uri] can create invalid (in terms of RFC 3986) uris, and then roundtripping makes them valid, and hence the test fails?

I see now that the original problem is not really related to my issue. munit shows it nicely
[code]

[2021-11-23 12:39] ashwinbhaskar commented on #5490
can I give this a shot if no one has picked this up?

[2021-11-23 12:51] armanbilge commented on #5490
Please do! AFAIK no one is working on this :)

[2021-11-23 22:14] yupegom-abra commented on #1812
Hello @rossabaker, is this still open? I can work on it if it is. My understanding is that we just need to add a param with a default value and update the name of the method right?

[2021-11-23 22:51] eugene-cheverda commented on #4404
Hi @rossabaker

We're facing EOF error in one of our services and I'm using the project provided by @slve to reproduce the issue. Please see the findings below:

1. With blaze client, if request size is bigger than 65397 bytes and response is about 1Mb first request fails with `EOF/Broken Pipe/Connection reset by peer` regardless of time the app was running, it happens almost immediately. Number 6

[2021-11-23 23:01] yuferpegom commented on #1812
Hello @rossabaker, is this still open? I can work on it if it is. My understanding is that we just need to add a param with a default value and update the name of the method right?

[2021-11-24 05:35] ashwinbhaskar commented on #5490
@mr-git I see that there is a [test](https://github.com/http4s/http4s/blob/b3341103377e1a72e42367ff3ea324e76a74a12e/client/shared/src/test/scala/org/http4s/client/middleware/RetrySuite.scala#L150) that indirectly ends up checking your scenario.

The retry doesn't have a double body. Does this test serve as a valid reproduction for your scenario? The difference is that it uses `DefaultHttpClient`.

[2021-11-24 08:02] mr-git commented on #5490
@ashwinbhaskar , I am not fluent in http4s tests, but I didn't notice check of received payload before it sends `OK` back

[2021-11-24 18:16] djspiewak commented on #5582
Fatal errors, in general, can leave the JVM in an undefined state. `StackOverflowError` is probably a bad example because it is far and away the most benign, but many of the others (such as OOM) should *not* be caught except under very specific circumstances.

Story time: I once had a bug that only occurred in production, and only after prod had been live for a few days. What we were seeing ultima

[2021-11-26 08:42] DenisNovac commented on #4858
If you were using Headers.get with some header e.g. `Headers.get('Content-Type')` you now need to use header instance of the header to do this: `Headers.get(Header.Select.singleHeaders('Content-Type'.headerInstance))`.

Still can't figure out what to do with `'Content-Type'.renderValue` (this method is gone) and `Method.PermitsBody` (this trait seems to be gone too).

[2021-11-26 13:07] harpresing commented on #5582
Thanks a lot for sharing that experience Daniel! Very interesting. I definitely agree with you that we shouldn't catch such errors. I'll share what we saw in production which also relates to `Fatal` errors which we suspect was a `StackOverFlow`.

So for our application, we have a graceful shutdown mechanism built in that gets called as `IO.guarantee { }` when we yield the Exit code in the `run` me

[2021-11-27 16:43] bplommer commented on #5582
This discussion would be a better fit for the cats-effect issue tracker, since it's not http4s-specific. Curious to hear @djspiewak's take on `exit` vs `halt` though!

[2021-11-27 16:48] armanbilge commented on #5582
Continued in https://github.com/typelevel/cats-effect/issues/2586.

[2021-11-27 16:48] #5582 closed

[2021-11-30 11:29] danicheg opened #5627 "Flaky `JettyServerSuite`"
[code]
https://github.com/http4s/http4s/runs/4141739369?check_suite_focus=true

[2021-12-01 17:13] noelwelsh commented on #5539
With the help of @mfirry Cheep has been ported to Scala 3, http4s 0.23.6, and scalajs-react 2. That's the programming side done. Next up is writing the text.

[2021-12-01 17:18] armanbilge commented on #5539
@noelwelsh would you consider using http4s-dom for the frontend instead of sttp? Happy to PR :)
https://github.com/http4s/http4s-dom

[2021-12-01 17:22] noelwelsh commented on #5539
Sure. I used sttp for two reasons:

* I needed to work with `IO` instead of `Future`
* I knew about it.

[2021-12-01 17:38] mfirry commented on #5539
hey @noelwelsh, was it really? I'm not sure I even made a PR to be honest. anyways, happy to have helped!

[2021-12-01 17:40] mfirry commented on #5539
Ah ok. Forgot you were able to do so on my fork. Totally fine! I'll see if I can help more.

[2021-12-01 17:40] armanbilge commented on #5539
@noelwelsh done :) https://github.com/scalabridgelondon/cheep/pull/4

[2021-12-01 23:48] armanbilge opened #5636 "#5701 was binary-incompatible for Scala"
At least that's what we concluded in https://github.com/http4s/http4s/pull/5634#discussion_r760155827. But there's been confusion. Should be fixable with some package privates. Java static forwarders are still in trouble, but meh.

[2021-12-03 13:21] #5452 closed

[2021-12-03 14:30] danicheg opened #5654 "Follow-up: remove the `scalatags` pin from the Steward config"
We want the latest `scalatags` in the main.
https://github.com/http4s/http4s/pull/5653#pullrequestreview-822705296

[2021-12-04 19:02] #5451 closed

[2021-12-05 01:46] yatesco opened #5661 "branch 23 doesn't complete ab workbench on macos"
Hi there.

(macbook Pro 2019/32GB with latest patches and minimum software running at the same time)

 Following the instructions at https://github.com/http4s/http4s.g8, setting `logback.xml` to `ERROR` and then running `ab -n 50000 -c 5 http://127.0.0.1:8080/hello/coliny` either takes a very long time or timesout:
[code]

smaller values of `-n` work, e.g. ab -n 5000 -c 5 http://127.0.0.1:8080/hel

[2021-12-06 13:42] #5654 closed

[2021-12-06 17:27] armanbilge commented on #5417
For those afraid of hashes, this fix is now available in fs2 3.2.3:
https://github.com/typelevel/fs2/releases/tag/v3.2.3

[2021-12-06 21:50] rossabaker commented on #1812
@yuferpegom Thanks for volunteering!  Yes, that sounds like the correct approach for `mountService`, which we can deprecate.

Doing it for `mountHttpApp` is harder: we can't add a default parameter without breaking binary compatibility, and `mountService` calls `mountHttpApp`.  We can do this on the `main` branch today like you describe, but we'll need to think of a new name if we want to backport

[2021-12-07 09:17] armanbilge opened #5672 "Add http4s to Scala 3 Community Build"
https://github.com/lampepfl/dotty/tree/master/community-build

Http4s is too important a project not to be in there 😉 My only concern was our flaky CI, but I think it's been quite good lately? To help mitigate this, we can also only run only a subset of the test suite in the CB (I'm thinking the modules designated in https://github.com/http4s/http4s/discussions/4140#discussioncomment-261676).

[2021-12-07 16:44] danicheg opened #5674 "Publish docs site for the 1.0"
For now, we have links to page https://http4s.org/v1.0/downloads/ that lead to 404 (because of the recent publishing of the website). We need to publish the docs site for 1.0.

[2021-12-07 16:45] talbotja opened #5675 "CORS middleware issue when origin host starts with a digit"
We have noticed an issue with the CORS middleware (default `CORS.policy` implementation) whereby it doesn't recognise a request as a CORS request if the host in the `Origin` header starts with a digit. For example, a CORS request with header `Origin: https://www.example.com` will work correctly, but a CORS request with header `Origin: https://2ww.example.com` will not.

This is an issue in the `0.

[2021-12-07 17:19] rossabaker commented on #5675
I'll look into a release train this afternoon.

[2021-12-07 17:21] talbotja commented on #5675
That would be amazing, thank you 🙌

[2021-12-08 00:42] armanbilge opened #5683 "Improve release notes process"
Continuing from https://github.com/http4s/http4s/pull/5679#issuecomment-988381692.

[2021-12-08 01:24] armanbilge opened #5684 "Node.js ember-core TraversalSpec failure"
[code]
https://github.com/http4s/http4s/runs/4444713273?check_suite_focus=true#step:15:3387

[2021-12-08 01:26] armanbilge commented on #5684
Oh, is this a symptom of https://github.com/http4s/http4s/issues/3935?

[2021-12-08 03:18] rossabaker commented on #5683
Brain dump

## Naive GitHub approach

Run the GitHub automation and be done with it.

### Good

* Easy
* Credits authors.  Sort of.

### Bad

* Does not categorize meaningful PRs
* Misses cherry picks and reverts that aren't PRs.  (Mitigation: don't do that anymore.)
* Isn't branch aware.  (Mitigation: maybe we want to repeat forward merges?)
* Miscredits authors of multi-author PRs.

## Curated G

[2021-12-08 05:03] rossabaker commented on #5683
On the main branch, GitHub autogenerate goes all the way back to 0.23.5. 👎

[2021-12-08 05:04] armanbilge commented on #5683
Crap. I was just feeling in favor of it, apparently it can be configured to categorize by label.
https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes

[2021-12-08 05:21] rossabaker commented on #5683
Oh.  Well, that configuration makes me feel a little better about the GitHub model.  It needn't be perfect.

For the main failure, I just went through my git command, categorized the relevant ones, fixed the link, and dumped the rest.  It was tedious, but it was also two months of PRs, which shouldn't be normal.

[code]

[2021-12-08 05:23] rossabaker commented on #5675
I'm going to bed before it finishes, but if all goes well, 0.23.7 will be on Maven Central in ~90 minutes.

[2021-12-08 05:23] #5675 closed

[2021-12-08 05:27] armanbilge commented on #5683
So in summary:

Does, so long as we label PRs.

I'd argue PRs for everything are best practice anyway. CI and stuff.

I wonder if we label each PR by its target branch, we can easily filter them out.

Eh, how often do these happen?

[2021-12-08 05:37] rossabaker commented on #5683
I used to label Breaking / Enhancement / Bugfix and which module.  Two levels is beyond this tool, and maybe too much anyway.  Which of those axes is more useful?

I started the module labels mostly in anticipation of the Great Schism, which still feels some ways off.

This is enforced as of about 15 seconds ago.  We can still merge with failing checks, since our CI isn't yet perfect, and sometime

[2021-12-08 05:42] armanbilge commented on #5683
I like the per-module labels. The PR title should be informative about its content.

Really? When you label the PR's module also label it's target branch. Not to undercut the value of a workflow assist :) but, not sure how this interacts with the double-labeling issue.

Right, I forgot that's how those work. Huh.

[2021-12-08 06:09] vi-p4f opened #5685 "given EntityDecoder[IO, T] = jsonOf[IO, T] does not compile with Scala 3.1.0"
This simple [example](https://github.com/vi-p4f/giventest) does not compile with Scala 3.1.0.

Replacing line
```given EntityDecoder[IO, T] = jsonOf[IO, T]```
with
```implicit val d1: EntityDecoder[IO, T] = jsonOf[IO, T]```
solves the problem however it is not clear why it happens.

Compiler error message:

[2021-12-08 06:11] armanbilge commented on #5685
Try replacing `import Decoders.*` with `import Decoders.given`.

[2021-12-08 06:20] vi-p4f commented on #5685
This solved the problem. I always forgot about this little catch. Thanks a lot!

[2021-12-08 06:22] #5685 closed

[2021-12-08 08:43] danicheg commented on #5674
It seems that the landing page of the website is returning 404 now 😮
I think that because the website was published for the `0.22` and `0.23` versions and might be because of `includeLandingPage = false` setting (for `0.22` and `0.23`). But not 100% sure.

[2021-12-08 14:27] armanbilge commented on #5674
I think the problem is that series 0.22 and series 0.23 shouldn't be publishing the site at all? As I understand it, we have four laika websites:
1. the shared/unversioned pages. This includes the landing page.
2. /v0.22
3. /v0.23
4. /v1.0

(1) and (4) are published from the main branch. So series/0.22 and series/0.23 should only create their documentation pages and not the rest of the site.

[2021-12-08 14:54] danicheg commented on #5674
Also, I've noticed that building the website is failing (what strange for the JDK17 only) https://github.com/http4s/http4s/runs/4457849085?check_suite_focus=true#step:3:32. This reproduces locally on the JDK17 only too. I've made a fix for it in https://github.com/http4s/http4s/pull/5689/commits/4b24833446f1d8d103ad27fd6169b872a03587c2.

[2021-12-08 14:58] rossabaker opened #5691 "Website is broken as of 0.23"
https://github.com/http4s/http4s/runs/4458460635?check_suite_focus=true

Looks like the duplicate header names have made Laika sad.

[2021-12-08 15:01] danicheg commented on #5691
The fix is on the way in #5689. Will port it to 0.23/0.22.

[2021-12-08 15:07] armanbilge commented on #5674
Site is back up for now :)

[2021-12-08 15:15] danicheg commented on #5674
Great! But the publishing of the docs site is still needed.

[2021-12-08 15:16] armanbilge commented on #5674
Also we still need to fix the problem which caused the site to go down.

[2021-12-08 18:40] #5691 closed

[2021-12-08 19:53] rossabaker commented on #5674
When I fixed the default JDKs, I made the site build on 17 because it's an "app" and because people were grumpy about old JDKs.  It shouldn't really matter 8, 11, or 17 for that job.

[2021-12-08 19:54] armanbilge commented on #5683
@rossabaker should we try and make a plan before we start merging lots of PRs again? 😅

[2021-12-08 19:56] armanbilge commented on #5674
Yeah, I don't think the JDK was specific to the issue. I think it's that each of our branch's builds is configured for its own docs and the shared site, when really only one of builds has that responsibility.

[2021-12-08 20:17] rossabaker commented on #5683
Let's try #5690.  Let's try not to go two months between releases.  Worst thing that can happen with unlabeled versions is we have to cull some duplicates, and I bet we can workflow our way out of that.  I bet we can even workflow our way to labeling modules.

[2021-12-08 20:46] rossabaker commented on #5674
Yep, that division is how it used to work.

[2021-12-08 20:46] rossabaker commented on #5691
We'll still need to republish it.  The jars worked for v0.23.7, but the site publish job failed.

[2021-12-09 11:13] talbotja commented on #5675
Looks like the release of 0.23.7 failed due to #5691 - sorry to be a pain, but would it be possible to get a release cut if/when that's fixed in series/0.23 please?

[2021-12-09 13:49] rossabaker commented on #5675
The website publishing failed because of that, but I see 0.23.7 jars on Maven Central.  The Sonatype publish happens before the website publish in that job.  Let me know if you're still unable to resolve them.

[2021-12-09 13:55] armanbilge commented on #5320
The `ServerScaffold` introduced in the following two PRs can be the start of our test kit, it just needs to be extracted out of the `client` module into a new `client-testkit` module, if anyone would like to work on that? :)
- https://github.com/http4s/http4s/pull/5601
- https://github.com/http4s/http4s/pull/5587

[2021-12-09 14:40] talbotja commented on #5675
Ah yep I can get it now. Apologies, for some reason I couldn't see it when I checked yesterday morning.

[2021-12-09 15:19] armanbilge opened #5702 "Ember unix socket tests are flaky"
https://github.com/http4s/http4s/runs/4471915172?check_suite_focus=true#step:14:4093

FWIW we were warned in https://github.com/http4s/http4s/pull/5219#discussion_r711812801.

[code]

[2021-12-09 21:12] rossabaker opened #5707 "Strong and weak ETags"
Should we separate strong etags from weak etags at the type level?  There are some contexts that only strong ones are allowed.  This would have to be a 1.0 change.

https://github.com/http4s/http4s/pull/5613

[2021-12-10 00:16] armanbilge opened #5708 "EPUB URLs aren't working"
Reported on discord (thanks @matthughes):

[2021-12-10 03:03] armanbilge commented on #5672
Blocked by https://github.com/djspiewak/sbt-spiewak/issues/83.

[2021-12-10 11:54] danicheg commented on #5708
Duplicates #5674

[2021-12-10 11:54] #5708 closed

[2021-12-10 18:30] bplommer opened #5715 "Google searches still lead to 0.18 docs"
For example, the top goole result for "http4s cors" (and the only one leading to http4s docs) is to https://http4s.org/v0.18/cors/. Fixing this / stopping it from happening will need some SEO expertise unfortunately (I've seen similar things for Doobie).

[2021-12-12 05:10] Kevin-Lee commented on #5508
I still get `127.0.0.1:4242` when I click the http4s logo at the top.

[2021-12-12 09:21] danicheg commented on #5508
I think it's because of #5674.

[2021-12-12 11:03] yatesco opened #5720 "Ember appears to support websockets but the Integrations page shows a question mark"
https://http4s.org/v1.0/integrations/ shows:
![image](https://user-images.githubusercontent.com/181469/145709756-1c889df2-9733-4505-b1f1-71b08e7b5d89.png)

but https://github.com/http4s/http4s/discussions/5662 indicates that it does, pointing out that https://github.com/http4s/http4s/blob/c9f54a9bb2fc71c81031aa8ddf090e42bb564bd5/examples/ember/src/main/scala/com/example/http4s/ember/EmberServerSim

[2021-12-12 11:24] yatesco commented on #570
/subscribe

[2021-12-13 10:36] peterstorm commented on #570
I've been thinking about this a lot, because we need to setup a resource server at $work soon, but I have no idea if I have the knowledge to implement it. Would a translation of the linked repo, to functional code be a good start? Not that I want the task assigned or anything. Just looking for pointers to get started, and hopefully be able to contribute in the future.

[2021-12-13 18:53] RafalSumislawski opened #5736 "Flaky test org.http4s.StatusSpec.rendering sanitizes statuses"
https://github.com/http4s/http4s/runs/4509815005?check_suite_focus=true#step:13:662

[2021-12-14 18:39] RafalSumislawski opened #5740 "Redesign tests based on `QueueTestHead` and `onFinalizeWeak`"
`Http1ClientStageSuite` and `ClientTimeoutSuite`.`"Idle timeout on slow POST body"` use a combo of `QueueTestHead` to mock the network side of the connection and `request.body.onFinalizeWeak` to trigger some action in `QueueTestHead`.  In these tests `onFinalizeWeak` is meant to detect when the request has been sent. The problem is that finalisation of the request body stream, does not guarantee t

[2021-12-14 18:51] RafalSumislawski commented on #5736
https://github.com/http4s/http4s/runs/4476249251?check_suite_focus=true#step:13:2960

[2021-12-14 18:53] armanbilge commented on #5736
(FYI github logs don't last forever so depending how long it takes back to circle to this issue they might be gone. consider copy-pasting the error message for future reference :)

[2021-12-14 18:54] RafalSumislawski commented on #5736
Thanks for the hint @armanbilge

The first failure (https://github.com/http4s/http4s/runs/4509815005?check_suite_focus=true#step:13:662) was:
[code]

The second (https://github.com/http4s/http4s/runs/4476249251?check_suite_focus=true#step:13:2960):
[code]

[2021-12-14 18:56] RafalSumislawski commented on #5740
[code]

I think this issue may be the root cause of why we have marked so many tests in `Http1ClientStageSuite` as flaky.

[2021-12-15 18:04] Daenyth commented on #4188
What's the state of the methods in 0.22 and forward? Is it changing from 0.23 to 1.x?

[2021-12-15 18:09] rossabaker commented on #4188
I'm not aware of any active effort to change them from 0.23.  Is there something you'd still like to see?

[2021-12-16 04:44] zachlefevre opened #5743 "ClosedChannelException after 30 seconds"
logs show:
[code]
    val builder = BlazeServerBuilder[F](global)
      .bindHttp(port, address)
      .withIdleTimeout(45.seconds)
      .withSocketKeepAlive(true)
      .withHttpApp(loggingApp).serve.drain
[code]

[2021-12-21 11:10] chwthewke commented on #3059
Hi,

In case it's of interest, I was also looking into an `Applicative` for `CntextMiddleware` and I actually "found" the following `Monad[ContextMiddleware[F, *]]` instance:

[code]

I got there by observing that `ContextRoutes[T, F] ~ T => HttpRoutes[F]`, so that `ContextMiddleware[F, T] ~ (T => HttpRoutes[F]) => HttpRoutes[F]`, which starts to look a lot like an instance of the `Cont` monad, an

[2021-12-23 16:48] danicheg commented on #5232
This strikes again.
`ubuntu-latest, 2.13.7, temurin@8, ciJVM`
[code]
https://github.com/http4s/http4s/runs/4619946647?check_suite_focus=true#step:14:4994

[2021-12-23 16:50] armanbilge commented on #5232
Same suite, but looks like a different error?

[2021-12-23 16:57] danicheg commented on #5232
Yep. Just to don't duplicate issues about that test suite.

[2021-12-29 19:25] armanbilge opened #5798 "Reconsider requirement for absolute paths in the DSL?"
Spinning out of https://github.com/http4s/http4s/pull/5794#discussion_r776416957, where the DSL's reliance on absolute paths encourages some non-intuitive behaviour for path-splitting.

[2022-01-02 10:58] bplommer commented on #5715
Perhaps the best solution to this is to take down the 0.18 docs and have the URLs redirect to a later version?

[2022-01-02 15:01] armanbilge commented on #5715
https://developers.google.com/search/docs/advanced/crawling/block-indexing

Seems it's as simple as adding this tag to the relevant pages.
[code]

[2022-01-02 15:49] bplommer commented on #5715
Won't that result in no docs showing up though?

[2022-01-02 15:51] armanbilge commented on #5715
Well, I was thinking we'd just put it on the v0.18 docs (and any other old ones). Can't be any worse than taking them down?

[2022-01-02 16:02] bplommer commented on #5715
I was thinking that if we make the 0.18 urls redirect to newer versions then we'll keep the existing search result positions but they'll go somewhere more relevant. But maybe that's not how it works?

[2022-01-02 16:04] armanbilge commented on #5715
My search results look like this. First entry is 0.18, second is 1.0. So I assume that would replace it. But I won't claim to have any idea how these work :)

![Screen Shot 2022-01-02 at 11 03 23 AM](https://user-images.githubusercontent.com/3119428/147881622-64545296-e2cc-4162-818d-c401192de802.png)

[2022-01-02 16:07] bplommer commented on #5715
Ok yes, I think you're right 🙂

[2022-01-04 11:51] adamw opened #5809 "Multipart part's Content-Disposition with non-ascii filename fails to parse"
Using http4s 0.23.7.

Given the a simple service which parses the body as a multipart, which:

[code]

And invocation:

[code]

The result on stdout is:

[code]

[2022-01-04 12:44] aeons commented on #5809
According to [the spec](https://httpwg.org/specs/rfc6266.html#disposition.parameter.filename), the `filename` parameter must be encoded using ISO-8859-1. If characters outside that are required, it should be set in the `filename*` parameter.

So this is a question of how strictly we should follow the spec.

[2022-01-04 13:18] counter2015 commented on #5809
After some searching, I found these

https://github.com/http4s/http4s/pull/312

https://github.com/http4s/http4s/issues/1767

It seems works well in http4s 0.21.19, any changed after that ?

[2022-01-04 13:25] ritschwumm commented on #5809
isn't `filename*` deprecated by now? i think i read about this "somewhere on the internet" :/

[2022-01-04 17:25] adamw commented on #5809
@aeons I'm getting the same when sending through postman, though then the content-disposition header is a bit different. Still there's a parsing error, though:

[code]

maybe if `filename*` is present, the parsing rules should be relaxed?
I'm doing a simple request using postman, no customisations or anything like that.

[2022-01-05 20:08] rossabaker commented on #5715
Some projects do a nice thing where the top of obsolete docs redirects to the latest with an ugly banner at the top.  We could implement that now, except GitHub pages doesn't support a 3xx we could point.  Rewrites are why we started hosting the site on Netlify, but bus factor of administration is an issue there, so we'd like to wean ourselves from that.  I don't know how to point 0.18 at the late

[2022-01-05 20:16] armanbilge opened #5812 "Bikeshed `StrictEntity`"
See discussion in https://github.com/http4s/http4s/pull/5807.

[2022-01-05 20:18] armanbilge commented on #5715
IMHO I think leaving them live but off Google results is reasonable compromise.

[2022-01-05 20:24] bplommer commented on #5715
We already have a `/latest` path for the latest docs - just point to that?

[2022-01-05 20:46] rossabaker commented on #5715
Agreed.  Does that robots work at a directory level, or does it need to be in the server root?

That feature requires Netlify, unless I missed some new development.

[2022-01-05 20:50] armanbilge commented on #5715
My understanding of their documentation is that we need to include the meta-tag on each affected page.
https://developers.google.com/search/docs/advanced/crawling/block-indexing
[code]

[2022-01-06 14:11] rossabaker commented on #5715
We should be able to do that easily enough from one of the Hugo templates.

[2022-01-06 14:32] darkfrog26 opened #5823 "Deprecation in v1.0 Static Files Tutorial"
On https://http4s.org/v1.0/static/ it uses a deprecated signature of `BlazeServerBuilder`. Should look like:
[code]

[2022-01-06 15:15] rossabaker commented on #5823
Triaging instead of looking, but I bet this is also true in 0.23...

[2022-01-07 14:31] bplommer commented on #5823
The `for` comprehension is also redundant - it should just be:
[code]

[2022-01-07 16:32] darkfrog26 opened #5831 "Better SSL Documentation"
It's very difficult to figure out how to configure basic SSL and there appears to be no documentation for it.

Just this snippet alone would go a long way to helping others I think:
[code]

[2022-01-11 03:36] armanbilge opened #5844 "CI is hanging"
This is getting to be a pattern.

https://github.com/http4s/http4s/pull/5839#issuecomment-1008349663
https://github.com/http4s/http4s/runs/4767682086?check_suite_focus=true
https://github.com/http4s/http4s/runs/4767690258?check_suite_focus=true

[2022-01-11 17:31] rossabaker commented on #5844
Is this also related to the bind exceptions in #5843?

[2022-01-11 20:44] rossabaker commented on #5844
This is the earliest timeout I see, unless maybe someone reran an earlier one. https://github.com/http4s/http4s/actions/runs/1672936425

[2022-01-11 22:07] rossabaker commented on #5844
Has anybody observed this hang locally yet?  I am trying and have not.

[2022-01-11 22:10] rossabaker commented on #5844
But I can reproduce the bind exception erratically:

[code]

[2022-01-11 23:02] armanbilge commented on #5844
Huh, I haven't seen Node.js jobs failing in CI lately, are they caught up in this too?

I think I know the story behind those bind exceptions though, multiple suites starting ember on the same port. I can probably fix that.

[2022-01-12 00:29] armanbilge commented on #5844
Our local machines all probably have more cores than a GHA runner, maybe this can only be observed with 1-2 cores.

[2022-01-12 02:03] armanbilge commented on #5844
@rossabaker couple quick questions—when you are running the test suite locally, I assume you are running `test` for everything at once right? i.e. not `rootJVM/test` and `rootJS/test`, like we do in CI. Also, have you ever observed the `BindException` on JVM?

I was trying to understand why it's happening, but I didn't take into account that on your machine the JVM and Node.js test suites may be r

[2022-01-12 12:09] bplommer commented on #5844
Should be reproducible in Docker?

[2022-01-12 15:11] rossabaker commented on #5844
Yes, I run `test`.  I'm surprised it matters with regards to ports: we should be binding to any available port instead of hardcoding ports.  I think you're right that I should be targeting one or the other to reproduce it in general, though.

I have not previously had luck using Docker to reproduce CI-only failures, nor does running on an underpowered Chromebooke.  Adjusting the global ExecutionCo

[2022-01-12 15:39] armanbilge commented on #5844
Gotcha, thanks. Then https://github.com/http4s/http4s/pull/5848 should fix that.

[2022-01-13 22:22] beckyconning opened #5865 "ember client gets empty body for http/1.0 assume close after body with no content-length"
[code]
Response header looks like this out of curl but from ember we get no data.

I think ember assumes that no content-length means content-length is 0

[2022-01-13 22:29] armanbilge commented on #5865
I wonder if this is related:
- https://github.com/http4s/http4s/issues/5256

IIRC the old test server would return 204 without the `No-Content-Length` header and it also caused problems for ember client. But I could be mistaken.

[2022-01-13 22:32] armanbilge commented on #5256
This is in the linked discord chat, but FTR the logged response from the scaffold server that seemed to be tripping up ember client was:
[code]

[2022-01-13 22:34] beckyconning commented on #5865
https://github.com/http4s/http4s/blob/2abafd2b5b265a28b27a1c8d2cbd05dd40ec4f9e/ember-core/src/main/scala/org/http4s/ember/core/Parser.scala#L285

[2022-01-14 15:45] Qthunder opened #5877 "Cookie parsing discards valid cookies"
When parsing a raw header with multiple cookies, a a failure is returned if any cookie can not be parse.
So

`Headers(Header.Raw(ci"Cookie", """key1=value1; key2={"aField":{}}"""))).cookies`

will return a parse failure - because the second cookie is invalid, containing non-escaped `"` character - rather than a list of one Cookie (the second).

Perhaps, it should try and salvage valid cookies, by

[2022-01-14 18:16] ChristopherDavenport opened #5879 "Header Keys are inaccessible outside of http4s now"
[code]

[2022-01-14 19:21] ChristopherDavenport commented on #5879
This was found attempting to remove the host header and since the key is inaccessible it had to be done manually.

[2022-01-14 21:43] rossabaker commented on #5879
It was inconsistent whether they were on the modeled header companions once the super trait disappeared, but the typeclass has it:

[code]

[2022-01-15 20:40] ChristopherDavenport opened #5883 "Entity Limiter Awareness"
There are A LOT of ways that you can send a request to a server that is a size when parsed that will either be infinite, or allow you to send infinite bytes, or even a lot of bytes (content-length big)

However there are not a lot of EntityLimiter uses I've seeing, its not prevalent in the docs, and its not something people generally use. How can we express the importance of EntityLimiter in conju

[2022-01-18 18:58] rossabaker commented on #5883
I guess I tend to think of most decoded entities being roughly proportional to the length of their inputs, though it's not hard to contrive pathological counterexamples.  I think I'd think of those as more the decoder's responsibility?

I do agree that not enough people think about limiting their entities.  It gets to the age-old discussion about having a sensible default set of middlewares.

[2022-01-18 19:10] bplommer commented on #5877
I agree. Note: the gitter channel is moribund, most dicussion is on Typelevel discord (https://discord.gg/ZWmFFV73X8)

[2022-01-18 19:21] rossabaker commented on #5877
This is an interesting idea.  We already have `Headers#getWithWarnings` that returns an `Ior`.  This works great when there are multiple headers of the same name, and we can only parse some of them.

This is the same problem, but the header uses the `;`-delimiter.  (Which is actually quite complicated!  See `org.http4s.internal.parsing.Rfc7230.headerRep1`.)  To make this work generally, what we'd

[2022-01-18 19:33] bplommer commented on #5879
I do think we should expose the `name` field on all of the headers. I've been tempted to suggest renaming `HeaderCompanion` to `HeaderKey` and making it public, but I'm a bit concerned it could give the impression of being a central part of the API rather than just a convenience.

[2022-01-18 19:47] rossabaker commented on #5879
It changed in a consistency pass.  Some things were defining it on the companion, and some directly on the instance.  This might have been before there was a `HeaderCompanion`.

The `name` field on `HeaderCompanion` could be made public and achieve the same effect, without promoting it as public API.  That's a bit OOPy, but that kind of OOPiness did well for us in the past.

[2022-01-19 04:42] CharlesAHunt opened #5892 "EndOfStreamError: Reached End Of Stream with Ember Websockets"
Issue occurs with Ember only, switching back to Blaze until resolved.

Websockets encounter the following error on Ember server using `withHttpWebSocketApp(...)`

[code]

The error seems to be with the case None => Pull.raiseError(EndOfStreamError()).

It seems the new Ember implementation is interpreting no chunks/frames on the socket as an error, when it should continue waiting for a Close frame

[2022-01-19 16:11] darkfrog26 opened #5898 "Fabric Support (JSON Entity conversion)"
I know the plan in the long-run is to migrate a lot of these support packages out of `http4s` into their own repos, but I'd like to get Fabric (https://github.com/outr/fabric) entity support added as a module. It's a very simple implementation:

[code]

[2022-01-19 16:25] daddykotex commented on #5099
I have the same issue. Are you open to a fix or the new behaviour is the way to go.

OP explained it all but in a nutshell, here's how I got the problem:

1. have a configurable base url `http://some-host.com/api/v3`
2. have a client that build request path & query like `/projects/1`
3. resolve request uri like so: `base.resolve(request.uri)`

Before I would have `http://some-host.com/api/v3/proje

[2022-01-19 16:31] armanbilge commented on #5844
Our CI health just took another catastrophic plummet, see discussion in https://github.com/http4s/http4s/pull/5895#issuecomment-1016323697. It's exasperating.

[2022-01-20 16:30] kubukoz opened #5912 "Ember: Decoding failure is a server error"
With the ember server, `CirceEntityCodec`'s default behavior seems to fail any request that doesn't successfully decode, but with an InternalServerError by default.

To reproduce:

`scala-cli https://gist.github.com/kubukoz/351c19621d475c319ab1d0a178bf9bf7`

In another tab:

[code]

I think this is caused by Ember using a default error handler which transforms every throwable into a 500, whereas B

[2022-01-20 16:34] kubukoz opened #6412 "CORS headers aren't added to failed requests"

[2022-01-20 20:25] armanbilge opened #5917 "git workspace is dirtied in CI"
The snapshot in https://github.com/http4s/http4s/runs/4887900416 was versioned as `0.22.8-231-9327a8b-20220120T201924Z-SNAPSHOT`. The addition of the date/timestamp indicates that the git workspace was dirty.

[2022-01-20 20:27] armanbilge commented on #5917
Huh, but the `git status` run immediately before the publish step comes up clean. This could be an sbt-typelevel bug.

[2022-01-20 20:29] rossabaker commented on #5917
I hit this on a different project recently, forget which, and it was a header.

[2022-01-20 20:31] armanbilge commented on #5917
Yeah, those are the usual suspects. Except CI should specifically check for those and fail if they are missing/wrong.

[2022-01-20 20:42] rossabaker commented on #5917
Something was changing the headers before the check, so they were right when the check ran.  I figured it out by adding `git status` workflow steps as a form of debugging.

[2022-01-20 20:47] armanbilge commented on #5917
Ah, you were right 😁 I wasn't scouring the log hard enough.
[code]

[2022-01-21 00:28] reactormonk opened #5919 "http4s.org main page down"
https://http4s.org/

![Screenshot_20220121_012520](https://user-images.githubusercontent.com/49185/150443648-58a3ec4f-2a12-40a6-b552-c255c2defdc5.png)

<hr />

[Added by @rossabaker]:

* [X] restore site
* [X] recreate cert for gh-pages
* [x] restore Laika site for 0.22
* [x] restore Laika site for 0.23
* [x] fix localhost link in header of 1.0
* [X] recreate jdk-http-client cert for gh-pages
* [x

[2022-01-21 00:34] armanbilge commented on #5919
Thanks for reporting.

This is a combination of our site publishing pipeline already being broken + enabling snapshots on 0.22 (I forgot that publishing the site is tagged on to the end of a publish job).

[2022-01-21 02:56] rossabaker commented on #5919
Do we need to roll back the snapshots and republish the website project manually?

[2022-01-21 03:03] armanbilge commented on #5919
Yeah, that's probably the easiest fix. To restore the website we could probably just rollback the gh-pages branch as well.

I would like to fix the site, but it's too daunting right now.

[2022-01-21 03:07] rossabaker commented on #5919
It's easy to restore the site.  I'm just mostly worried about the problem coming back.  I'll rollback #5908 and then roll back the branch.

[2022-01-21 03:16] rossabaker commented on #5919
a8fa9cfa33c0a2fb2d8b0cf7a405c1a86fb3b38a should restore the site, and #5920 should stop it from happening again until we have a better idea.

[2022-01-21 04:52] #5917 closed

[2022-01-22 03:41] rossabaker commented on #5898
The code is small, but every dependency we add to the main repo is something we have to keep aligned and working with everything else.  Historically a lot of those modules have been contributed by authors who moved on, leaving the core team to maintain them.  When we spin off the integrations, we can still provide a wide ecosystem, with less risk to the core if any stagnate.

Hosting this in its o

[2022-01-22 03:46] rossabaker commented on #5844
I'm going to try to focus on this.  I don't think we can release past 0.22 in this state.

[2022-01-22 16:28] darkfrog26 commented on #5898
I'd be okay with that. At least in the http4s org makes it a little more visible.

[2022-01-22 16:43] rossabaker commented on #5898
I created a [repo](https://github.com/http4s/http4s-fabric/) and invited you to a team with maintain permission.

If you don't have a build yet, the sbt-http4s-org is a plugin of sbt-typelevel and should do a lot of right things for you.  I'd like to get a g8 repo for modules like this, but haven't had time yet, so there will be a bit of pioneering here.  Everything else has been retrofit with tha

[2022-01-22 17:20] darkfrog26 commented on #5898
Thanks, I'll take a look and get it set up.

[2022-01-23 16:49] rossabaker opened #5936 "Release notes configuration is broken"
`Invalid release notes configuration: The property '#/changelog/exclude/labels' of type null did not match the following type: array`

[2022-01-23 16:51] rossabaker commented on #5936
I'm not that optimistic it was going to work anyway.  That GitHub feature has been fucked up on several simpler projects I've tried it on.  I wonder whether we wouldn't be better off auto-populating milestones, and we could just assemble from those.

[2022-01-23 16:55] rossabaker commented on #5936
Okay, #5937 generates notes. :tada:  Let's see how it goes.  The real test will be 0.23: it's the subsequent branches that have been full of Type I and Type II errors on other repos.

[2022-01-23 16:56] #5936 closed

[2022-01-23 17:03] rossabaker commented on #5936
I should clarify my grumpiness: I think the workflow here is a good start.  I find the underlying GitHub feature has been unreliable.

[2022-01-23 17:04] armanbilge commented on #5936
Yeah, no worries :) I've also been frustrated with the underlying feature's inability to understand pre-releases.

[2022-01-23 22:29] rossabaker commented on #5844
It's not perfect yet, but we're unhung.

[2022-01-23 22:29] #5844 closed

[2022-01-24 20:26] rossabaker commented on #5919
This is back, probably from the 0.22.9 release this morning.

[2022-01-24 20:28] armanbilge commented on #5919
I actually never saw the site restored even after https://github.com/http4s/http4s/commit/a8fa9cfa33c0a2fb2d8b0cf7a405c1a86fb3b38a.

[2022-01-24 20:45] rossabaker commented on #5919
The restoration job timed out, and I'm the only one who can see it, because Netlify doesn't have open source plans.  We need to get that rolled back to GitHub, but it's going to break the redirects when we do.

I reverted it to January 7, before the snapshot published, but now 0.22 and 0.23 have the Hugo theme, and the header in the 1.0 version links to 127.0.0.1, and I don't understand how any of

[2022-01-24 21:01] rossabaker commented on #5919
I switched back to GitHub Pages.  Things will be broken, but things were already broken, and now other people can help.

[2022-01-24 21:13] rossabaker commented on #5919
It may take 30-60 minutes for that cert error to go away.

@amesgen, this is also going to affect the jdk-http-client site.  I've set up the CNAME, but GitHub is still having trouble seeing it.

[2022-01-24 21:20] rossabaker commented on #3360
#5919 is an ongoing tire fire, but we're off Netlify.

[2022-01-24 21:20] #3360 closed

[2022-01-25 15:38] rossabaker commented on #5919
0.23.8 killed it again.  I will fix it.

Outside of the more ambitious typelevel/sbt-typelevel#100, we need to fix that regression.

[2022-01-26 17:41] darkfrog26 commented on #5898
@rossabaker I've got the repo configured and using the SBT plugin. Can you take a look and see if there's anything else I need to change to prepare for release?

[2022-01-28 17:03] eikek opened #5959 "Changes in route matching in 0.23.7 -> 0.23.8"
Hi all,

I noticed some issues after upgrading to 0.23.8. Looking into it, it seems that request matching changed slightly between versions. Here is a small example:

[code]

When requesting `http://localhost:888/tasks`, it will match different routes:

[code]

With http4s 0.23.7 it matches the second case and with 0.23.8 it matches the first where `id` is empty (it's the same when appending a `/`

[2022-01-28 22:13] rossabaker commented on #5919
The 0.22.10 release is likely to kill it, because we still haven't fixed it.  The solution is to roll back the head commit of gh-pages branch.  I will not be around to it until very late this evening.

[2022-01-28 22:19] rossabaker commented on #5919
I canceled the pages deployment before heading out, so maybe we're safe.  (The site is getting increasingly stale until we do something about this, though.)

[2022-01-29 20:13] valencik commented on #5823
Yeah this is definitely the case in 0.23

I'll tackle this after https://github.com/http4s/http4s/pull/5970

[2022-01-30 23:54] armanbilge commented on #5959
Thanks for the report. I haven't had a chance to look into whether this is an expected change or not, but it's almost definitely due to:
- https://github.com/http4s/http4s/pull/5794

[2022-01-31 01:12] ChristopherDavenport commented on #5892
None there indicates that the pipe has closed. And no more bytes will be received. Can you provide some more details on what was happening when these occured?

[2022-01-31 01:14] ChristopherDavenport commented on #5959
I would expect that to no match. I think we expect segments there to be nonEmpty previously.

[2022-01-31 14:11] rossabaker commented on #5919
This shit sucks.  I had to revert two more commits.  I don't even know where they're coming from anymore.

[2022-01-31 17:13] armanbilge commented on #5919
Should we just disable site publishing completely for now? The site will be frozen, but at least it will be there.

[2022-01-31 17:37] rossabaker commented on #5919
I don't figure the actual problem is too hard to find.  I just haven't managed to prioritize it.  Could probably get a real good guess just by looking at the commits I've reverted.

[2022-01-31 18:46] armanbilge commented on #5919
Come to think of it, those two commits you reverted were probably due to the release 0.22.10 and 0.23.9 the other day. Unless, you'd already reverted for those?

[2022-02-01 00:01] #5823 closed

[2022-02-01 12:40] valencik opened #5978 "Syncing up docs across branches"
In working on a few mdoc related PRs I've noticed that tweaks or fixes may happen in one branch but not others.

Consider the oauth1 fix in streaming.md happening in v1.0.0 here: https://github.com/http4s/http4s/commit/c6f350d53ee68e6a00033e0c989c392493dc9510
But not yet in v0.23 (PR here: https://github.com/http4s/http4s/pull/5979)

What's the best way to make sure I don't exacerbate the issue wi

[2022-02-01 13:34] armanbilge commented on #5978
@valencik Thanks for asking, and all your good work on docs :)

Yes, if possible, ideally you should target your changes to series/0.22.

For most changes hopefully this won't be necessary: we regularly merge 0.22 -> 0.23 -> main. Heck, the other day we got docs fixes for 0.18 in f795a2329a06104a75a2f754fbf1075af540de06 and you'll even find that commit in main 😆

[2022-02-01 14:54] rossabaker commented on #5978
I'm immersed in a download data spreadsheet... maybe don't work too hard on 2.12 yet!

[2022-02-01 16:01] rossabaker commented on #5978
I meant 0.22, but I've got lots of columns here. :laughing:

[2022-02-01 19:24] valencik commented on #5978
Looking at the numbers in https://github.com/http4s/http4s/discussions/5982 should I be targeting 0.21 for doc tweaks? Or do we just do 0.23 and 1.0, dropping 0.22?

[2022-02-01 23:23] armanbilge commented on #5978
@valencik is going to work on moving the mdocs to from 2.12 to 2.13, following a brief Discord discussion. Before today's numbers it already made good sense IMO as the median Scala version in our matrix. It makes even more sense with https://github.com/http4s/http4s/pull/5337 on the horizon.

[2022-02-02 03:37] rossabaker commented on #5978
It was only on 2.12 because the tooling didn't work at all on 2.13 at first, and inertia took over.  2.13 is good.

As for http4s, I like the focus on 0.23.  The 0.22/0.23 strategy came at a time of high uncertainty between Scala 3 and CE3, and it's clear now that people are going to CE3 before Scala 3.

[2022-02-02 07:47] armanbilge opened #5988 "Unify server/client websocket models"
Some discussion in https://github.com/http4s/http4s/pull/5520.

[2022-02-02 08:50] hamnis commented on #5959
This is indeed a problem caused in #5794
A closer look at that is needed.

[2022-02-02 09:37] dfahritdinov opened #5989 "UrlFormLifter should respect Message's `caret` attribute"
Request stores parsing caret in `attributes` vault, but while setting new Uri whole vault is cleaned. That's cause issue in case of appending Uri' query params in UrlFormLifter as the Request lose it's parsed context.

Example (will fail):
[code]

[2022-02-02 11:25] mr-git commented on #5989
In addition to above, if `UrlFormLifter` gets used to wrap `AuthedRoutes`, all other routes which are getting `<+>` start to attempt to authenticate call and fail.

@dfahritdinov, does your fix fixes above issue too? Could you please add few more unit-tests with composed regular and authenticated routes to see, if other contexts are respected?

[2022-02-02 14:50] rossabaker commented on #5959
Fixed by #5991, will merge forward from 0.22.

[2022-02-02 14:50] #5959 closed

[2022-02-03 01:15] rossabaker opened #5997 "StaticFileSuite should not depend on github.com"
We had tests failing during today's GitHub outage because they depend on github.com being up.  We shouldn't be reliant on a third-party server.

[2022-02-03 10:45] dfahritdinov commented on #5989
fixed by [#5994](https://github.com/http4s/http4s/pull/5994)

[2022-02-03 10:45] #5989 closed

[2022-02-04 15:38] valencik commented on #5997
I can probably tackle this.

Is the idea to change to a server that we control, namely http4s.org?
Which would still depend on a connection to the outside world, and http4s.org being up.

Or to create a locally running server and use that as part of the test suite?

[2022-02-04 15:41] rossabaker commented on #5997
The latter would be better.  http4s.org is controlled by GitHub. :smile:

[2022-02-04 15:57] valencik commented on #5997
`StaticFileSuite` lives in `tests/shared` in the `tests` sbt project which does not currently depend on ember or blaze, so standing up an ember server within the tests would require adding a new dependency which is perhaps not desirable?

Or am I missing something?

[2022-02-04 16:30] rossabaker commented on #5997
Oh, drat.  That's probably why we cheated.

There's a `ServerScaffold` in client that I think could be moved down into tests.  It launches a raw Netty server.  And there are no bincompat concerns, because it's test code.

[2022-02-04 19:19] armanbilge commented on #5997
For my understanding, why do we even have a `StaticFile.fromURL` method? I feel like it would have to be doing terrible things under the hood, like an unmanaged global http client and lots of blocking. Wouldn't users be better off using a real http4s client?

[2022-02-04 19:52] valencik commented on #5997
I wouldn't mind learning more about that too.
I admit I was sorta surprised to see it's mostly java `URL` and fs2 code:
https://github.com/http4s/http4s/blob/facb2ffb7f2d0de42b77349a4d50735f51c3bea1/core/shared/src/main/scala/org/http4s/StaticFile.scala#L102-L131

[2022-02-08 11:55] bblfish commented on #4733
I have published initial snapshot library of "Signing HTTP Messages" for Http4s and Akka  here
https://oss.sonatype.org/content/repositories/snapshots/net/bblfish/crypto/

[2022-02-08 12:00] bblfish commented on #4716
I have published initial snapshot library of RFC8941 here
https://oss.sonatype.org/content/repositories/snapshots/net/bblfish/crypto/
as well as  libraries for "Signing HTTP Messages" for Http4s and Akka  here

[2022-02-08 14:11] bplommer opened #6026 "v0.23 website is out of sync with the repo"
https://http4s.org/v0.23/cors/ is not up to date with the new, fixed version of the CORS middleware, although the sources in the repo (https://github.com/http4s/http4s/blob/series%2F0.23/docs/src/main/mdoc/cors.md) are. Both the 0.22 and the 1.0 versions of the page are up to date 🤔

[2022-02-08 15:37] rossabaker commented on #6026
Because of #5919, I've been reverting the website every time we publish.  It may be related to that, but I can't explain 0.22 vs. 0.23.

[2022-02-08 17:55] yuferpegom commented on #1812
Hello @rossabaker . So just to double-check we are on the same page. We can just deprecate `mountService` and then create a new `mountRoutes` method that will receive a timeout that uses a default value.
As for the `mountHttpApp` I'm not following you, you mean we can add the default param for this version and merge it to main but eventually, we'd need to also create a new method and deprecate thi

[2022-02-08 21:33] rossabaker commented on #1812
Wow, servlet went from getting no attention to a few PRs today!  I'll comment on your PR.  Probably easier where there's code to talk about.

[2022-02-08 22:12] rossabaker commented on #5997
Hmm.  Yeah, using it with known http URLs is silly, when we have umpteen client backends designed for HTTP.  Jar URLs also come out of the box, but I doubt anyone is referencing a remote jar as opposed to a classpath resource.  Back when dinosaurs roamed the earth, you might register your own handler for arbitrary protocols, and there are certain HTTP-relevant properties of `URLConnection` that ma

[2022-02-08 23:01] rossabaker commented on #5912
I think Ember should do the same.  Getting correct status codes is why those message failures exist in the first place.

[2022-02-08 23:17] armanbilge commented on #5997
My vote would be to deprecate (biased by the fact this is all useless cruft on JS :P) and mark the tests as flaky, so we are "testing" it.

[2022-02-08 23:26] ChristopherDavenport commented on #5912
I chose not to do that to put more things into user space. Whether or not people want to hold consistent with that is a larger question. The point was to have ember put middlewares in users hands to get normal behavior visible and present in things like metrics, which would otherwise be invisible.

either the server needs to be more powerful to hold more triggers, or weaker and put more things int

[2022-02-08 23:30] valencik commented on #5997
There definitely are people using this method, so we'll want a migration path recommended.

But I do feel like this is a surprising API. And would also support deprecating it (with an alternative in place).

Perhaps that should be a separate issue though. Should we still fix the current tests by bringing in the netty test help as suggested above?

[2022-02-08 23:49] armanbilge commented on #5997
- http urls: use an http client
- classpath resources: use [fs2.io](https://github.com/typelevel/fs2/blob/8e4d66a0f661226b9913b46a143e56cbdd40ba03/io/jvm/src/main/scala/fs2/io/ioplatform.scala#L144)
- etc.

Yes, but not actually because I think we should do that 😆 in preparation for the schism, we need to move the server scaffolds into a separate published "testkit" artifact anyway. So this would

[2022-02-09 00:08] rossabaker commented on #5912
I agree with the minimalistic server approach, but until those middlewares are discovered and assembled, it's a rough experience for novices.  This is where applying a reasonable set of default middlewares would help.  The idea has been kicked around for years, but is stuck on API: where do they come from?  How do we opt out?  Can we say "give me the defaults, except _that one_"?

This is also whe

[2022-02-09 00:17] rossabaker commented on #5997
I don't even know that it's a `StaticFile`.  Hell, are any of them "static files"?  Even the regular old `File` can change between (or during!) requests.  There is an in-progress PR to make it an algebra, but the interface is probably too broad to be useful.

I forgot `fromResource` is built on this.  That certainly is useful.  And by leaning on the crufty JVM `UrlConnection` facilities, we get so

[2022-02-09 00:24] armanbilge commented on #5997
Oh yeah, those seem important. Withdraw my objections to this.

[2022-02-09 01:40] armanbilge opened #6032 "`[warn] Multiple resolvers having different access mechanism configured with same name 'sonatype-snapshots'`"
Currently seeing this warning in sbt. This will interfere with publishing snapshots to s01, ~~but I think releases will be ok.~~ Actually, I'm not sure.

It is the interaction of:
- https://github.com/xerial/sbt-sonatype/pull/279
- https://github.com/scalacenter/scalafix/issues/1535

Until this is fixed in sbt-sonatype, I suppose we should hotfix it in sbt-typelevel.

[2022-02-09 06:56] ChristopherDavenport commented on #5912
I can throw together something for a common Middlewares in a builder pattern approach. Then we can bike shed on the flavor from at least a proposal.

I think if we get this all the backends can simplify, and we'll be consistent.

Not sure what server TCK means sorry.

[2022-02-09 23:44] CharlesAHunt commented on #5892
@ChristopherDavenport Thanks for the response.  Turns out this is just a new error I hadn't seen before in the Ember implementation that was not the root cause of the issue and is a normal expected error when the Server shuts down socket connections.

I did discover the root cause of our issue, and it's that the Ember server is not passing Pings on from `handleIncomingFrames` in the following case

[2022-02-09 23:44] #5892 closed

[2022-02-09 23:49] CharlesAHunt opened #6035 "Ember Server is returning a None for Socket Pings breaking `.withFilterPingPongs(false)`"
Ember Server returns a None for all Websocket Pings in `WebSocketHelpers.scala` inside `private def handleIncomingFrames` in the following case:

`case WebSocketFrame.Ping(data) => writeFrame(WebSocketFrame.Pong(data)).as(None)`

This disregards the setting in the `WebSocketBuilder2` of `.withFilterPingPongs(false)` causing Ping frames to get filtered out, effectively breaking this functionality.

[2022-02-10 22:27] yuferpegom commented on #1812
I have created a new PR against series/0.23, please take a look when you have a chance and thanks!

[2022-02-11 10:11] Ben-Woolley commented on #5877
Chrome is sending cookies from the domain + subdomain in web requests (e.g. example.com + my.example.com). We happen to be the subdomain and there is an invalid cookie from example.com that we have no control over.

[2022-02-14 11:32] sergiojoker11 commented on #2855
As of 0.23.10 I guess there is no fix for this issue, is that right? What is the preferred workaround? Would you recommend switching to a different server impl?

[2022-02-14 12:05] jan0sch commented on #2855
The ember server is the new default one since some time now. I did not try to re-create the bug with the ember one but so far had no trouble with it (using it in production although only on light/moderate service loads).

[2022-02-14 21:24] armanbilge opened #6040 "Change default branch to `series/0.23`?"
1. Most PRs probably want to target a stable branch. Many of them are targeting `main`.
2. It's easier to merge a PR originally targeted at `series/0.23` into `main` than it is to cherry-pick a PR onto an old branch, which also messes up our automated release notes.

[2022-02-14 22:06] rossabaker commented on #6040
It's kind of weird to have a `main` that _isn't_ the default.  We might want to rename that to `series/1.x`.  But :+1:.

[2022-02-15 21:48] armanbilge commented on #5010
@MichalBednarz fantastic!

[2022-02-16 12:50] armanbilge commented on #5684
Dupe of https://github.com/http4s/http4s/issues/2794.

[2022-02-16 12:50] #5684 closed

[2022-02-16 12:51] armanbilge commented on #2794
Another in https://github.com/http4s/http4s/runs/5215883149?check_suite_focus=true#step:9:333
[code]

[2022-02-17 08:57] armanbilge commented on #6040
While we're doing this (I think it'll have to be an admin) it might be nice to cleanup some of the stale branches as well.

[2022-02-17 13:45] devon-whil opened #6055 "Middleware composition docs"
I think the middleware composition docs are somewhat confusing/misleading.
https://http4s.org/v0.23/middleware/#composing-services-with-middleware
[code]

It's not obvious that if I reverse those then apiRequest would get the header added.

I don't use the Authentication middleware, but I stumbled my way to [here](https://http4s.org/v0.20/auth/#composing-authenticated-routes) to figure out how a r

[2022-02-17 17:59] stephenjudkins opened #6058 "Ember client doesn't shut down quickly when cancelled"
To replicate,  set `fork := true`, in your SBT config and compile the following:

[code]

1. Run `runMain RunServer`
2. In a different SBT session, run `runMain TestEmberClientHang`
3. Hit ctrl+c in the second SBT session (with `TestEmberClientHang`)

Expected: the `TestEmberClientHang` process terminates immediately, like the version using the blaze client does.
Actual: the `TestEmberClientHang`

[2022-02-17 18:03] bednam commented on #5010
In meantime I'll start working on the `Cross-Origin` trio, if you don't mind.

[2022-02-17 18:29] hamnis opened #6059 "KeepAliveSuite.Keep-Alive flake Scala 3"
==> X org.http4s.headers.KeepAliveSuite.Keep-Alive: header.parse(a.value) == right(a)"  0.085s munit.FailException: Failing seed: 1VE4-Kn23Ku3oLhvMg2G7YDpGmZxPwlxVDvK_x7wW_C=
You can reproduce this failure by adding the following override to your suite:

  override val scalaCheckInitialSeed = "1VE4-Kn23Ku3oLhvMg2G7YDpGmZxPwlxVDvK_x7wW_C="

Exception raised on property evaluation.

    at munit.Sca

[2022-02-17 18:42] stephenjudkins commented on #6058
Here's a fiber dump of the process:
[code]

[2022-02-17 18:44] armanbilge commented on #6058
Is this running from outside of sbt?

[2022-02-17 18:45] stephenjudkins commented on #6058
This is running from inside SBT

[2022-02-17 18:45] stephenjudkins commented on #6058
(but I confirmed with a debugger that a signal went sent to the process and `IOApp` started the cancellation process)

[2022-02-17 18:51] armanbilge commented on #6058
Ok, seems to be hung here:
https://github.com/typelevel/fs2/blob/946763f56d2f589797f459458bbd3417f77e3979/io/jvm/src/main/scala/fs2/io/net/SocketPlatform.scala#L123

Which was recently added in:
- https://github.com/typelevel/fs2/pull/2734

What http4s/fs2 version is this? Also maybe try and old http4s/fs2 prior to that change if possible?

[2022-02-17 19:03] stephenjudkins commented on #6058
fs2 `3.2.4`, http4s `0.23.7`

[2022-02-17 21:28] armanbilge commented on #6058
Here's a thread dump.
[code]

[2022-02-17 21:46] armanbilge commented on #6058
Raw, unfiltered tracing events:
https://gist.github.com/armanbilge/a6f1922fe6e591a9a36ac59d12e6968f

[2022-02-18 04:07] armanbilge commented on #6058
Ok, here's another interesting twist :) I've been able to replicate the bug with ember-client.js. The code for ember JVM/JS is shared but the fs2 socket implementations are (obviously) completely different. So this actually suggests it's a bug in ember after all. Here's the fiber dump.

[code]

[2022-02-18 04:12] counter2015 commented on #5809
I cant find it, could you provide any link? @ritschwumm

[2022-02-21 02:01] kailuowang opened #6067 "Further relax cookie parsing?"
Similar to #4003, a double quote in a third-party cookie will break cookie parsing in Http4s. For example, the cookie set by Google's "Sign in with Google" button has double quotes in it and thus silently broke the cookie parsing in Http4s (`request.cookies` becomes empty even though there are other cookies. )

In this [discussion](https://groups.google.com/a/chromium.org/g/chromium-discuss/c/T3oH

[2022-02-21 07:26] blast-hardcheese opened #6068 "Currently impossible to use DigestAuth.challenge due to private argument types"
In attempting to integrate with the existing http4s authentication middleware convention, I discovered that [`DigestAuth.challenge`](https://github.com/http4s/http4s/blob/1d25fdd8755e9af604a7a45116687a479f82d8b0/server/src/main/scala/org/http4s/server/middleware/authentication/DigestAuth.scala#L80-L82) is public, but it's effectively impossible to use due to one of its arguments, [`NonceKeeper`](h

[2022-02-23 16:43] DGolubets opened #6072 "Non-daemon threads currently preventing JVM termination"
Sometimes I see my apps not shutting down properly with this in the output:
[code]
I can't easily reproduce this.
But my question is: why do you make these threads non-daemon? Any particular reason?

Http4s version: 0.23.7

[2022-02-23 16:43] DGolubets opened #6120 "Non-daemon threads currently preventing JVM termination"

[2022-02-23 17:03] ChristopherDavenport commented on #6058
The only suspect I have presently is timeoutMaybe in the tracing its the only place that ember shows up while in waiting state. One of these two seems to be the factor.

https://gist.github.com/armanbilge/a6f1922fe6e591a9a36ac59d12e6968f#file-gistfile1-txt-L1261-L1262

[2022-02-23 20:23] armanbilge commented on #6058
[code]

[2022-02-24 15:44] rossabaker commented on #6058
I can't reproduce this on MacOS 12.2 with a netcat server (`nc -l 8765`), on Java 1.8.0_292 or Java 17.0.1.  Is the Ember server also necessary for anyone who is seeing this?

[2022-02-24 15:49] armanbilge commented on #6058
This is fascinating! @ChristopherDavenport also cannot reproduce it with `netcat` on macOS for _both_ JVM and JS. I was able to reproduce it in ubuntu, and on macOS 10.9 and 11, all with `netcat`.

[2022-02-24 16:00] rossabaker commented on #6058
I'm running [Chris' repro](https://github.com/ChristopherDavenport/test-ember-timeout) on what I assume is similar hardware, so I'm not too surprised I'm seeing the same result.

[2022-02-24 17:56] stephenjudkins commented on #6058
The Ember server is not necessary, I first saw it when interacting with the google pub/sub emulator.

Throwing this out there: I am running on an macOS 12.0.1 on an M1 Pro. What CPU/architecture is everyone else using? (Wouldn't be the first time there's been an ARM-specific bug in scala code!)

[2022-02-24 21:53] armanbilge commented on #6058
All my stuff is intel FTR.

[2022-02-24 22:00] stephenjudkins commented on #6058
🤔

[2022-02-24 22:02] armanbilge commented on #6058
@stephenjudkins btw if you're inclined you can check the JS/M1 combination too 😉

[2022-02-25 20:35] dj707chen commented on #6058
I'm running [Chris' repro](https://github.com/ChristopherDavenport/test-ember-timeout) on old Mac Mini hardware and OSX version, could not reproduce:
x86_64
Mac OS X: 10.15.7

[2022-02-25 21:55] ChristopherDavenport commented on #6058
Call for help:
1. Clone https://github.com/ChristopherDavenport/test-ember-timeout
2. Startup netcat either with netcat -l -t -p 8765 or nc -l 8765
3. sbt coreJVM/run
 4. Ctrl-C in the application once it waits at the server

 Then report system, arch, jvm used, anything else you . I am wondering what the common denominator is here.

[2022-02-26 05:30] stephenjudkins commented on #6058
Confirmed that this occurs on my machine, on both JVM and JS. The SBT subprocesses stick around after ctrl+c in both cases.

[code]

[2022-02-26 05:36] armanbilge commented on #6058
Sorry, can you clarify what you mean by this?

[2022-02-26 16:44] #5865 closed

[2022-02-26 21:19] stephenjudkins commented on #6058
Yes

[2022-02-28 18:16] armanbilge commented on #6058
So for everyone who is unable to reproduce this (@rossabaker, @ChristopherDavenport, @dj707chen), how did you confirm that it's _not_ hanging? jps?

Maybe I'm the only stupid one in the room, but I briefly thought I was unable to reproduce it anymore because ctrl+c returned me to the sbt console immediately.

[2022-02-28 19:44] rossabaker commented on #6058
Oh, hell.  I drop back to bash -- not the sbt shell -- but the forked `TestEmberClientHang` is still running.  I didn't expect the forked JVM to outlive the sbt that spawned it.

[2022-02-28 19:45] armanbilge commented on #6058
Yup. I have a suspicion everyone is reproducing this actually. Nothing weird going on here, except sbt :)

[2022-02-28 22:25] ChristopherDavenport commented on #6058
Can someone write a script so I can see this directly? I'm sure its relatively straightforward from the above.

[2022-03-01 21:57] stephenjudkins commented on #6058
I think this might be possible to reproduce in a pure-scala context without any processes or signals, I might take a crack of that if I get a minute

[2022-03-02 00:53] kailuowang commented on #6067
If we can get some maintainer approval, I am happy to submit a PR. I don't see why http4s should be failing on cookie parsing due to unnecessary enforcement of a poorly specified cookie spec.

[2022-03-02 15:14] kailuowang commented on #6067
I would say that the web stack (HTTP, HTML, CSS, JS) overall is not as principled as functional programmers are used to.

[2022-03-03 04:34] armanbilge commented on #5919
This is next on my hit list, using all the latest site plugin stuff.

[2022-03-03 04:46] rossabaker commented on #6067
There's a PR that tries to provide an ABNF for the more relaxed rules.  It still has some open problems, but worth reading: https://github.com/httpwg/http-extensions/pull/1759

[2022-03-03 04:54] rossabaker commented on #6067
The Section 4 rules on what we send are SHOULD and the Section 5 rules on what we parse are MUST.  I don't think this is a case of standards vs. practice: they both say we should fix this.

[2022-03-03 07:07] armanbilge commented on #5919
Ha, didn't take me long to get disillusioned 😵

I'm taking an aggressive strategy and prioritizing minimal config over the bells and whistles. Right now it's a lot of settings and custom extensions and hacks and IMHO these are just not worth it. There's something to be said for a site that very nearly configures itself and behaves exactly like the Laika sites in every other Typelevel project (I ho

[2022-03-03 14:34] kailuowang commented on #6067
Thanks @rossabaker ,
I just noticed that http4s seems to be missing the range `0x80` to `0xFF`. which is specified in both sections. (`0x7F` seems to be excluded in section 4.4.1 but very [ambiguously](https://github.com/httpwg/http-extensions/issues/1399#issuecomment-1058097695) )

[2022-03-03 15:58] jdaniel-at-yottly-dot-com opened #6083 "Effectful custom DNS resolution in blaze client"
Make `Http1Support.getAddress` and `BlazeClientBuilder.customDnsResolver`: `RequestKey => F[Either[Throwable, InetSocketAddress]]`. The usage in `makeClient` is already effectful.

[2022-03-03 17:39] ChristopherDavenport commented on #6058
Alright, I'm fairly confident that #6085 fixes this. Steps to reproduce.

1. Pull down the branch from 6085 and `sbt publishLocal`
2. Pull down https://github.com/ChristopherDavenport/test-ember-timeout
3. Run either `./js-example.sh` or `./java-example.sh`. This will reproduce on current 0.23, and return after 2 seconds with this new branch. You may need to replace the netcat command with the nc

[2022-03-03 19:48] armanbilge commented on #6032
This got fixed in some update.

[2022-03-03 19:48] #6032 closed

[2022-03-04 19:06] stephenjudkins commented on #6058
I can confirm that this fixes it for me!

FWIW, the `nc` version of the test doesn't work and I had to do ` brew install netcat` on macOS to get both the fixed and unfixed versions working as expected without throwing exceptions.

I'd like to express my gratitude for everyone who worked hard to reproduce/investigate/fix this issue

[2022-03-04 23:09] armanbilge commented on #6058
Yes, @ChristopherDavenport zeroed-in on it real fast once he reproduced :)

Let the next cancellation bug be so interesting! 😆

![](https://imgs.xkcd.com/comics/zealous_autoconfig.png)

[2022-03-04 23:09] #6058 closed

[2022-03-05 18:03] armanbilge commented on #5715
I'm [reading](https://yoast.com/rel-canonical/) about `<link rel="canonical" href="...">` and it's an alternative we may want to consider to `<meta name="robots" content="noindex">`.

IIUC when you have more than one version of the same page, linking "canonical" version of that page indicates to search engines which one they should show in search results.

Of course this is a matter of opinion whe

[2022-03-06 15:51] rossabaker commented on #5715
It looks like maybe Read The Docs uses this approach: https://haha.readthedocs.io/en/latest/canonical.html

[2022-03-07 05:04] rossabaker commented on #6083
The `customDnsResolver` is going to be tricky to do in a bincompat fashion, but it seems like the right thing to do.  Are you aiming for 1.0, or do you need this in 0.23?

[2022-03-07 05:09] armanbilge commented on #6083
It'll be slightly hacked but we do this bincompatibly by leveraging type erasure.

[2022-03-07 08:46] armanbilge commented on #5683
I think we're mostly happy with this, so I'll close.

[2022-03-07 08:46] #5683 closed

[2022-03-07 08:46] armanbilge commented on #5289
Done in https://github.com/http4s/http4s/pull/5337.

[2022-03-07 08:46] #5289 closed

[2022-03-07 14:46] #4872 closed

[2022-03-08 13:35] rossabaker commented on #6067
Fixed by #6082.

[2022-03-08 13:35] #6067 closed

[2022-03-08 14:44] Daenyth opened #6095 "Error handling documentation doesn't mention middlewares"
Currently the [doc page on error handling](https://http4s.org/v0.23/error-handling/) doesn't mention two of the important tools for debugging and handling errors in routes:

- The Logger middleware
- The ErrorAction middleware

The [middleware doc page](https://http4s.org/v0.23/middleware/) also doesn't list those two or provide examples of using them

[2022-03-09 03:11] armanbilge commented on #5672
Http4s is now a part of the Scala 3 Community Build! 🎉

[2022-03-09 03:11] #5672 closed

[2022-03-10 10:28] counter2015 commented on #2835
I meet the same problem, but package name different.
And I also use websocket.

http4s-version: 0.23.6
java-version: 17
scala: 2.13.8
server backend: blaze

[code]

[2022-03-11 01:14] Lasering opened #6104 "Change Server and Client Logger default redactHeadersWhen to include any header with "token""
As the title says. For example for Server Logger the apply would be:
[code]

Or even better create a
[code]
and then
[code]
I can make a PR.

[2022-03-11 02:09] ChristopherDavenport commented on #6104
Is this a standard? Some people might use it, but it's unclear to me why this should be a default.

[2022-03-11 07:22] hamnis opened #6105 "ContextRouter has the wrong constraints in 0.22, 0.23 and main"
It requires Sync, but only needs Monad.

[2022-03-11 08:20] rintcius opened #6106 "okhttp-client: Calling withHeaders after withEntity removes the just set entity"
[code]

See https://github.com/rintcius/http4s-clients-poc/blob/master/src/test/scala/com/github/rintcius/poc/http4s/client/PostReqsSuite.scala#L68-L80 for repro

[2022-03-11 08:22] rintcius opened #6107 "async-http-client: Calling withHeaders after withEntity removes the just set entity"
[code]

See https://github.com/rintcius/http4s-clients-poc/blob/master/src/test/scala/com/github/rintcius/poc/http4s/client/PostReqsSuite.scala#L68-L80 for repro

[2022-03-11 08:24] rintcius commented on #6107
Related to #6106 - okhttp has same issue, but blaze, ember and jetty don't lose the entity

[2022-03-11 08:31] rintcius opened #6108 "okhttp-client: calling withEntity on GET request throws IllegalArgumentException"
[code]

See https://github.com/rintcius/http4s-clients-poc/blob/02cb0943dba367e2c1644689473a18bfb42315cc/src/test/scala/com/github/rintcius/poc/http4s/client/GetReqsSuite.scala#L58-L80 for repro

Might be defendable but thought to report as an issue because this behaviour is inconsistent with other clients and a switch from any other client to okhttp can lead to breakage.

[2022-03-13 02:55] rossabaker commented on #6104
`SensitiveHeaders` is also shared by `FollowRedirect` for which headers are omitted when following a redirect to a different authority.  This proposal wouldn't affect that, because it's an addition to the `Set` for the logger only.  But is having the Logger be more aggressive in redaction okay?  I _think_ so, but throwing that out there.

[2022-03-13 03:42] rossabaker commented on #6107
There's a broader discussion to be had about this backend: upstream has been [unmaintained since June](https://github.com/AsyncHttpClient/async-http-client/commit/c959fa0483adb4a71fbccc5be94d8b6faa4f74be).

[2022-03-13 04:34] rossabaker commented on #6105
This is an easy fix on main for a new contributor.  Fixing it on 0.23 without breaking MiMa is harder.  (I think it's possible, but would require an exception for the Java static forwarder?)

[2022-03-13 21:19] rossabaker commented on #6040
I lost track of this one.  It should probably happen after the dust settles on the website?

[2022-03-13 21:29] armanbilge commented on #6040
Changing the default branch can happen whenever. Renaming `main` requires us to be more thoughtful.

[2022-03-13 21:59] isomarcte commented on #6104
I'm of the opinion we should change this to an allow list which includes all the standard headers which are known to be non-sensitive. It's too easy to shoot yourself in the foot with a deny list of headers since there are _so many_ sensitive extension headers.

FWIW, I have the list built out here already: https://github.com/errors4s/errors4s-http/blob/series/1.1.x.x/http4s/src/main/scala/io/isom

[2022-03-14 02:30] rossabaker commented on #6040
Okay, default branch changed.  Left main alone until the dust settles and I'm feeling more thoughtful.

[2022-03-14 02:46] rossabaker commented on #6104
Should that same allow list be used by FollowRedirect?  Again, changing that could break a lot, unlike logging.

[2022-03-14 02:47] Lasering commented on #6104
At least for logging I would like to see custom request headers the application/client might be using which that list would redact.

[2022-03-15 14:20] isomarcte commented on #6104
@Lasering I think the encoding should be still be predicate based, e.g. `CIString => Boolean`, or perhaps `CIString => Option[CIString]` to permit a transform. That would allow people to continue to use deny lists if they wanted, but we could have the default be an allow list.

It's only the default that I think should be more restrictive.

[2022-03-17 20:39] ChristopherDavenport commented on #5110
Fixed by #5138

[2022-03-17 20:39] #5110 closed

[2022-03-18 17:50] armanbilge commented on #5350
The place for optimization is fs2, which has JS-specific code that we can tinker with without messing up JVM.

[2022-03-18 17:50] #5350 closed

[2022-03-18 18:32] ChristopherDavenport opened #6144 "Enable Github Two-Factor Requirement"
As of this moment this is not a requirement to be a member of the org.

It is put forward for consideration that this should be enabled to help guarantee that http4s organization members are secure in their interaction with code.

A note that if enabled will silent kick anyone who does not have it enabled.

@http4s/maintainers

[2022-03-18 18:55] RafalSumislawski commented on #6144
Prompted by this post, I just enabled 2FA for myself. And I think it's a good idea to enable it as requirement in the org, but preferrably without the silent-kicking-out-of-org part. Can we see who would be kicked before we make the decision to enable it?

[2022-03-18 19:44] rossabaker commented on #6144
Oh, this also impacts outside collaborators.  Making a couple more contacts...

[2022-03-18 20:40] armanbilge commented on #5488
The "Edit this page" functionality has been removed for now. It would be nice to bring it back as a contribution to the sbt-typelevel-site plugin so that all typelevel/http4s projects can have this feature :)

https://github.com/typelevel/sbt-typelevel/

[2022-03-18 20:40] #5488 closed

[2022-03-18 20:41] armanbilge commented on #6026
Everything should be up-to-date now.

[2022-03-18 20:41] #6026 closed

[2022-03-18 20:42] armanbilge commented on #5674
The 1(.0) site is now updated.

[2022-03-18 20:42] #5674 closed

[2022-03-18 20:52] armanbilge commented on #5919
@rossabaker are we feeling pretty good about this? Everything seems to be roughly working:
- https://http4s.org/
- https://www.javadoc.io/doc/org.http4s/http4s-docs_2.13
- redirects, e.g. https://http4s.org/versions, https://http4s.org/v1.0/cors

Some of the API doc links still need to catch up, but this should all resolve itself.

[2022-03-18 21:12] rossabaker commented on #5919
We haven't tested that a release from main doesn't make a mess, and we got a community contrib to 0.21.  If either of those break things, we can reopen.  But I'd say declare victory here.

Very nice work.

[2022-03-18 21:35] #5919 closed

[2022-03-18 22:29] armanbilge opened #6150 "Releases from v0.21 completely destroy the site"
I didn't see this one coming 😓 https://github.com/http4s/http4s/commit/1e67876ff4113d7c143ba6c8d174c9f3139eaef7

[2022-03-18 22:34] armanbilge commented on #6150
Manually reverted.

[2022-03-18 22:54] rossabaker commented on #6150
I had a hunch.  Thanks for checking.

[2022-03-18 22:55] rossabaker commented on #6150
Fixed by #6151.

[2022-03-18 22:55] #6150 closed

[2022-03-19 02:59] rossabaker commented on #6107
`withHeaders` replaces all headers.  `putHeaders` replaces headers of the same name.  (This is a good use of "put" if we think of it like a Map, and a bad use of "put" if we think of it like HTTP.)

[2022-03-19 03:00] rossabaker commented on #6106
Same comment as #6107

[2022-03-19 03:13] rossabaker opened #6155 "Ember-client failing without a Content-Length"
As [reported] (https://github.com/http4s/http4s/pull/6117/files/0a043b23bd9691c3e0a9ab26baba3c03236c1a93#r826395887) by @rintcius:

[2022-03-19 03:57] armanbilge commented on #6155
I wonder if this is related to https://github.com/http4s/http4s/issues/5256.

[2022-03-19 09:51] rintcius commented on #6107
I guess the broader question here is: is the goal of http4s to make switching from one client to another as frictionless as possible?

I.e. currently, if someone constructed a request like `req.withEntity(..).withHeaders(..)` using blaze/ember/jetty then things work as expected. However if they decide to switch to async-http-client or okhttp then things will break.

[2022-03-19 17:00] rossabaker commented on #6107
Yes, but "frictionless" is open to some interpretation as we get into undefined behavior.

When we call `withHeaders` after a `withEntity` of known size, we obliterate the `Content-Length` header.  `putHeaders` preserves it.  (The same happens for streaming bodies, with `Transfer-Encoding` in place of the `Content-Length` header).

[code]

Everything here so far is core behavior, independent of ba

[2022-03-20 08:01] rintcius commented on #6107
https://github.com/http4s/http4s/pull/6117 is in agreement with the upper part of your comment, right? In particular, because now it doesn't take that step further anymore.

So you prefer this to be solved in the backends rather than core? Asking because conceptually I like the idea of entity and headers becoming more orthogonal. Because they are both separate fields it's not intuitive that there'

[2022-03-20 20:06] danicheg commented on #6040
It happened, so I'm closing this.

[2022-03-20 20:06] #6040 closed

[2022-03-21 17:26] armanbilge commented on #6144
I think we're ready to go on this one 👍

[2022-03-21 18:37] rossabaker commented on #6144
Done.

[2022-03-21 18:37] #6144 closed

[2022-03-22 12:22] swiesend commented on #2835
I also run into this...

http4s: `0.20.23`
java: `11.0.14` (Ubuntu Java)
sbt: `sbt 1.6.1`
scala: `2.12.14`
server backend: blaze

[code]

[2022-03-22 17:52] rossabaker commented on #6104
I'm not at my sharpest today.  What is the difference between those two signatures?  (I think the first one was meant to be `CIString`...)  It seems like there's agreement on a predicate, and disagreement on what the default should be.

[2022-03-22 18:57] Lasering commented on #6104
Yes. Fixed it.

[2022-03-25 02:59] rossabaker commented on #5736
Here's [another](https://github.com/http4s/http4s/runs/5685664855?check_suite_focus=true#step:13:2850):

[code]

[2022-03-25 04:35] rossabaker commented on #6059
[Different test](https://github.com/http4s/http4s/runs/5686746129?check_suite_focus=true#step:12:1162), same exception:

[code]

[2022-03-25 15:43] #6068 closed

[2022-03-25 17:53] isomarcte commented on #6104
@Lasering I'm fine with that change. I guess what I getting at is that if we move to an allow list, then that would replace this change, which is why I brought it up in this context.

[2022-03-25 18:11] ChristopherDavenport commented on #6104
@Lasering Would you like to run with this? Seems like a pretty straight forward change, and there seems to be agreement.

We can find someone to do this quick change, if you'd prefer we take it.

[2022-03-25 18:49] Lasering commented on #6104
@ChristopherDavenport done

[2022-03-27 01:31] #6105 closed

[2022-03-27 21:04] RafalSumislawski opened #6195 "Flaky `blaze.client.ClientTimeoutSuite` "Eventually timeout on connect" test"
[code]

https://github.com/http4s/http4s/runs/5711855898?check_suite_focus=true#step:13:5225

[2022-03-28 07:05] BrainHorse opened #6199 "Blaze client 'stream' method is failing with timeout exception"
Client stream method is failing with error after request timeout despite consuming data from server. Reproducible in version 0.23.9 and older
[Code to reproduce issue](https://github.com/BrainHorse/blaze-client-issue)
Could you please clarify if its a bug or intentional behaviour?

[2022-03-29 13:02] Daenyth opened #6202 "Documentation gap for Multipart handling"
If we have docs for Multipart, I couldn't find them

There's no top-level page in the nav for it
"multipart" doesn't show up on the "entity handling" page

[2022-03-29 13:15] armanbilge commented on #6202
(Tangential, but @valencik this is an example where search functionality would be awesome!)

[2022-04-01 07:49] kunalherkal commented on #2383
Also present in `0.23.10` with three different error messages: `Abnormal NIO1HeadStage termination`, `Error encountered in Direct EC` and `Fatal Error: Error in requestLoop()`, while stack-trace is always exactly same:
[code]

[2022-04-01 08:34] danicheg commented on #2383
Recently was did #6198. So we hope the next releases will reduce some error logs. Especially about `AlreadyShutdownException`.

[2022-04-01 19:52] retriku opened #6219 "Occasional "broken pipe" error in ember server"
Occasionally, I am getting following error when running `wrk` on http4s server with ember backend
[code]

Setup:
* Scala 2.13.8
* Cats Effect 3.3.8
* Fs2 3.2.5
* Http4s 0.23.11

Mentioned error is not logged by logger and is thrown time to time (seems randomly). I wonder what could have caused it? Setup of process running `wrk` is as follows, wrk opens one connection to http4s server, and 100 inst

[2022-04-02 12:55] wongelz opened #6221 "Inconsistent logging of 501 websocket response depending on whether logBody is true or false"
Very closely related to https://github.com/http4s/http4s/issues/4982, if you change `logBody=true` in the example, the 501 message isn't logged at all.

Expecting the same (incorrect :P) log message but with a body:
ie. `HTTP/1.1 501 Not Implemented...body=This is a WebSocket route.`

Instead nothing is logged besides `Unknown type: Close(Array(2))` and `Accepted connection`

[2022-04-02 23:26] #5273 closed

[2022-04-03 05:26] rossabaker opened #6229 "Publish testing module internally?"
To get the schismatic http4s-servlet repo compiling, I had to copy the code from `testing`.  This will be a problem as we spin off more modules.  We might want to publish that, without MiMa guarantees, and everything tightly locked down to `private[http4s]`.

[2022-04-03 11:56] armanbilge commented on #6229
Yes, IMO this is essential. See also https://github.com/http4s/http4s/issues/5320.

Should be straightforward. Add the `private` modifiers, remove this line, and set `mimaPreviousArtifacts := Set.empty` or something.
https://github.com/http4s/http4s/blob/7ca6dc150641a3915e31beb29ab6f862b566c7c1/build.sbt#L308

[2022-04-04 05:32] rossabaker opened #6232 "Remove examples, which have been relocated"
All examples have been exported to the [http4s-examples](https://github.com/http4s/http4s-examples) repo.  This is the first step of The Great Schism, because it's all the leaf nodes, and some things we want to move out of this repo are depended upon by the examples.

[2022-04-04 05:34] armanbilge commented on #6232
Is this just an `rm` PR? I like deleting 😁

[2022-04-04 05:50] rossabaker commented on #6232
Having some second thoughts on this. As I was splitting repos, I got annoyed how often I was duplicating ExampleService. But that is as much a sketchpad as a cohesive example.  The new examples repo is still a junk drawer.  This is an opportunity to have a simple example relevant to each repo.

[2022-04-04 05:52] armanbilge commented on #6232
I agree with that. I thought it was a bit odd the ember examples moved out of core, since ember will continue living here.

[2022-04-04 14:59] #6232 closed

[2022-04-04 18:33] rossabaker opened #6239 "Publish http4s scalafix rules"
We're losing the scalafix rules as we split the repo.  We need to figure out how to refer to them here and get them into module.g8, or publish them as a jar.

[2022-04-04 18:34] rossabaker commented on #6229
#5320 is the interesting part.  I think we can live without this.

[2022-04-04 18:34] #6229 closed

[2022-04-04 19:19] armanbilge commented on #6239
Right. Then ideally we get scalafix integrated into sbt-typelevel.
- https://github.com/typelevel/sbt-typelevel/issues/236

[2022-04-04 19:22] armanbilge commented on #6239
I can work on this one.

[2022-04-04 23:45] armanbilge opened #6242 "MimeDB-initialization deadlock"
This has been plaguing our builds since https://github.com/http4s/http4s/pull/6211, but Ross noticed it first in https://github.com/http4s/http4s/pull/6238#issuecomment-1088035957.

I was able to get a `jstack` dump that reveals the deadlock relating to `lazy val` intialization. Would appreciate some help solving it :)

https://gist.github.com/armanbilge/a1759c829bb579484a9e1542dc0443c1

[2022-04-05 00:00] armanbilge commented on #6242
In https://github.com/http4s/http4s/pull/6211 I made a `val` into a `lazy val`. One fix would be to split that file across JVM/JS, revert the change on JVM and keep it on JS.

Note that previously all these `lazy val`s were kind of pointless on JVM: because of that `val` which I changed, the entire MimeDB was being initialized at startup. This may or may not have been a big deal.

So the change in